
<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="content-image">
          <div class="content">
            <blockquote class="blockquote">
              <h1 class="mb-0">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
              <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
            </blockquote>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="about-content">
      <div class="container mt-5 mb-5 text-justify shadow p-3">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-12">
            <img src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1577462219/IMG_1347_loixz1.jpg" style="transform:rotate(90deg);"/>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-12">
            <h1 class="text-center about-content-title">Giới thiệu bản thân</h1>
      <h3 class="about-content-title">Xin chào các bạn</h3>
      <p class="description">Mình là Thái Viết Nhật. Mình có ước mơ là có thể làm các bài giảng miễn phí hay chia sẻ những bài viết của mình 
        để giúp các bạn có thể cải thiện lập trình của mình hơn!</p>
        <div class="about-content-p">
      <p>Mình mong muốn tạo ra một trang blog để có thể giúp các bạn tìm được tài liệu mình cần mà thông 
        qua những bài học mình tìm kiếm trên mạng. Tất nhiên mình sẽ không lấy bài người khác và tải lên lại!
        Mình sẽ viết và diễn đạt thông qua ngôn ngữ của mình.
        Thật sự là mình không phải dân chuyên nghành về lĩnh vực IT nhưng mình rất thích về lĩnh vực lập trình web.
        Nên các bạn nếu thấy từ ngữ không đúng hay là trình bày chưa đúng có gì không vừa ý thì thông cảm giúp mình nhé.
        Mình sẽ viết bài dựa trên các quá trình học của bạn thân nên các bài mình sẽ chủ yếu là các vấn đề cơ bản và nếu kiến thức cho phép mình
        sẽ cố gắng làm các bài nâng cao nữa. Mong các bạn sẽ ủng hộ mình nhé!
      </p>
      </div>
      <p>Một vấn đề nhỏ nữa là các bài viết của mình dù chưa được tốt hay hoàn chỉnh Mình cũng mong các bạn khi sao chép bài của mình thì các bạn nhở để nguồn bài viết. Nếu có thắc mắc gì thì xin hãy liên hệ qua facebook hoặc gmail mình để dưới cuối trang nhé!</p>
      <blockquote class="blockquote">
          <p class="mb-0"><i>Cảm ơn các bạn đã đọc! Chúc các bạn luôn thành công và hạnh phúc trên con đường mà mình đã chọn!</i></p>
        </blockquote>
      </div>
      </div>
      </div>
      </div>
<%- include('footer') -%>
