
<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="content-image">
          <div class="content">
            <blockquote class="blockquote">
              <h1 class="mb-0">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
              <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
            </blockquote>
          </div>
        </div>
        </div>
      </div>
      </div>

<%- include('footer') -%>
