<!--Footer-->
<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="content-footer">
        <h5>Góc trả lời</h5>
        <p>Nếu các bạn có gì thắc mắc thì liên hệ mình qua những mạng xã hội sau đây nhé!</p>
        <ul class="social-meadia-icon">
          <li class="social-meadia-icon-item"><a title="Trang Facebook" href="https://www.facebook.com/Ni%E1%BB%81m-Vui-L%E1%BA%ADp-Tr%C3%ACnh-103123311194043/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="social-meadia-icon-item"><a title="Trang Twitter" href="https://twitter.com/ThiVitNht1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="social-meadia-icon-item"><a title="Địa Chỉ Gmail" href="mailto:niemvuilaptrinh2410@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>     
        </ul>
        <hr />
        <p> © 2020 Copyrigh: Niềm Vui Lập Trình (Thái Viết Nhật).
        </p>
      
    </div>
    

  </div>
  <!-- <div class="col-lg-2 col-md-2 col-xs-4">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Niềm Vui Lập Trình</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Thái Viết Nhật</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</col-sm-12>
    <br/>
          <a href="//www.dmca.com/Protection/Status.aspx?ID=6545c799-e02b-45a3-9404-3f68e3f1d967" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120am.png?ID=6545c799-e02b-45a3-9404-3f68e3f1d967"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </div> -->
</div>
   
<!--End mc_embed_signup-->
      <!--Footer-->

    <script>
      $(function () {
        $(window).on('scroll', function () {
          if( $(window).scrollTop() > 10) {
            $('.navbar').addClass('active shadow');
          } else {
            $('.navbar').removeClass('active shadow')
          }
        })
      })
    </script>
    

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
  
        <script src="/javascripts/lazysizes.min.js" async></script>
        <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
    </body>
    
    </html>