<!DOCTYPE html>
<html lang="vi">

<head>
  <title>Học Về Javascript</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="description"
    content="Các bài học thì sẽ giúp bạn  hiểu các khái niệm, định nghĩa và cách sử dụng javascript trong quá trình lập trình web.">
  <link rel="alternate" href="http://www.niemvuilaptrinh.com/" hreflang="vi-vn" />
  <link rel="icon" type="image/x-icon"
    href="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586594935/logo-via-logohub_2_a9ubsa.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/normalizes.css' />
  <link rel='stylesheet' href='/stylesheets/darcula.css' />
  <link rel='stylesheet' href='/stylesheets/hover-min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <meta property="og:image" content="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1576511394/Niemvuilaptrinh_jgc0rn.png"> -->
  <meta property="og:url" content="http://www.niemvuilaptrinh.com/article/Hoc-Javascript" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Học Về Javascript" />
  <meta property="og:description"
    content="Các bài học thì sẽ giúp bạn  hiểu các khái niệm, định nghĩa và cách sử dụng javascript trong quá trình lập trình web." />
  <meta property="og:image"
    content="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1589013080/Gioi-Thieu-Javascript-Trong-Web_npp6by.png" />
  <meta property="fb:app_id" content="2121975281235443" />
  <meta name="keywords" content="Javascript, Tự Học Javascript, Lập trình Web">
  <meta name="author" content="Thái Viết Nhật">
  <meta name="copyright" content="Niềm Vui Lập Trình" />
  <!--Font Logo-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/theme.css' />
<link rel='stylesheet' href='/stylesheets/style1.css' />
  <meta name="google-site-verification" content="SXEFa5YhgCrmAOJhBwsuDms_fUALYxrM8ZUql8KHgNM" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163462128-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-163462128-1');
  </script>

  </style>
</head>

<body>

  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '2121975281235443',
        xfbml: true,
        version: 'v5.0'
      });
      FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!--Navbar-->
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary  fixed-top p-2">
        <a class="navbar-brand" title="Niềm Vui Lập Trình" href="/">Niềm Vui Lập Trình</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fa fa-navicon"></i></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link mr-5 hvr-underline-from-left" title="Trang Chủ" href="/">Trang Chủ <span
                  class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link mr-5 hvr-underline-from-left" title="Nguồn Lập Trình" href="/article/Resource">Nguồn Lập Trình</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle  mr-5 hvr-underline-from-left" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="true" aria-expanded="false" title="Xem Khóa Học">Ngôn Ngữ</a>
              <div class="dropdown-menu mt-2">
                <a class="dropdown-item" title="Hướng Dẫn Về HTML" href="/article/html">HTML</a>
                <a class="dropdown-item" title="Hướng Dẫn Về CSS" href="/article/css">CSS</a>
                <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Javascript">Javascript</a>
                <a class="dropdown-item" title="Hướng Dẫn Về Bootstrap 4" href="/article/Bootstrap">Hướng Dẫn Bootstrap4</a>
                <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Hoc-Javascript">Hướng Dẫn Học
                  Javascript</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link hvr-underline-from-left mr-5" title="Giới Thiệu Bản Thân" href="/about">Giới Thiệu</a>
            </li>
    
    
    
        </div>
      </nav>
    </div>
  </div>
  <!--Content-->
  <div class="jumbotron jumbotron-fluid image-slider">
    <div class="container-fluid">
    <div class="row">
    
        <div class="content-image">
          <div class="content">
            <blockquote class="blockquote">
              <h4 class="mb-2 title-article-size2">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h4>
              <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
            </blockquote>
          </div>
        </div>
      
    </div>
    </div>
  </div>
  <div class="container header-text text-center mt-5 ">
    <h1 class="text-white bg-primary p-2 mt-4 mb-4 shadow rounded h3">Hướng Dẫn Học Về Javascript</h1>
  </div>
  <div class="container mt-5" id="content-box">
    <div class="row">

      <div class="alert alert-success" role="alert"  style="font-family: Crimson;">
        <h5>Sau đây mình sẽ giới thiệu với bạn về khóa tự học Javascript mong nó sẽ giúp bạn hiểu hơn về ngôn ngữ lập
          trình Javascript
          cũng như áp dụng thực tế vào quá trình lập trình web.</h5>
      </div>

     

      <div class="container-fluid">

        <div class="row justify-content-center mt-4">
          <div class="bg-dark text-white vw-100 p-4">
            <h4>Các Nguyên tắc Cơ Bản Trong Javascript:</h4>
          </div>
          <div class="col-md-5 col-sm-12 mt-4   shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
            <a href="https://www.niemvuilaptrinh.com/article/Gioi-thieu-ve-Javascript-phan-1"
              title="Giới thiệu về Javascript" class="p-4">
              <h5>Giới thiệu về Javascript</h5>
          </div>
          <div class="col-md-5 col-sm-12 mt-4 shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
            <a href="https://www.niemvuilaptrinh.com/article/Viet-Hello-World-Voi-Javascript"
            title="Viết Hello World Với Javascript" class="p-4">
            <h5>Viết Hello World Với Javascript</h5>
          </a>
          </div>
        </div>
          <div class="row justify-content-center mt-4">
            <div class="col-md-5 col-sm-12    shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
              <a href="https://www.niemvuilaptrinh.com/article/Su-Dung-Bien-Trong-Javascript"
                title="Sử Dụng Biến Trong Javascript" class="p-4">
                <h5>Sử Dụng Biến Trong Javascript</h5>
            </div>
            <div class="col-md-5 col-sm-12  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
              <a href="https://www.niemvuilaptrinh.com/article/Cac-Kieu-Du-Lieu-Trong-Javascript"
              title="Các Kiểu Dữ Liệu Trong Javascript" class="p-4">
              <h5>Các Kiểu Dữ Liệu Trong Javascript</h5>
            </a>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-md-5 col-sm-12    shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
            <a href="https://www.niemvuilaptrinh.com/article/Toan-Tu-Trong-Javascript"
              title="Toán Tử Trong Javascript" class="p-4">
              <h5>Toán Tử Trong Javascript</h5>
          </div>
          <div class="col-md-5 col-sm-12  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
            <a href="https://www.niemvuilaptrinh.com/article/Toan-Tu-So-Sanh-Va-Logic-Trong-Javascript"
            title="Toán Tử So Sánh Và Logic Trong Javascript" class="p-4">
            <h5>Toán Tử So Sánh Và Logic Trong Javascript</h5>
          </a>
          </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-5 col-sm-12    shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
          <a href="https://www.niemvuilaptrinh.com/article/Toan-Tu-Dieu-Kien-Trong-Javascript"
            title="Toán Tử Trong Javascript" class="p-4">
            <h5>Toán Tử Điều Kiện Trong Javascrip</h5>
        </div>
        <div class="col-md-5 col-sm-12  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
          <a href="https://www.niemvuilaptrinh.com/article/Vong-Lap-Trong-Javascript"
          title="Vòng Lặp Trong Javascript" class="p-4">
          <h5>Vòng Lặp Trong Javascript</h5>
        </a>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-5 col-sm-12    shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
        <a href="https://www.niemvuilaptrinh.com/article/Cau-Lenh-Switch-Trong-Javascript"
          title="Câu Lệnh Switch Trong Javascript" class="p-4">
          <h5>Câu Lệnh Switch Trong Javascript</h5>
      </div>
      <div class="col-md-5 col-sm-12  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
        <a href="https://www.niemvuilaptrinh.com/article/Function-Trong-Javascript"
        title="Function Trong Javascript" class="p-4">
        <h5>Function Trong Javascript</h5>
      </a>
      </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="bg-dark text-white vw-100 p-4">
      <h4>Object Cơ Bản Trong Javascript:</h4>
    </div>
    <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
      <a href="https://www.niemvuilaptrinh.com/article/Object-Trong-Javascript"
        title="Object Trong Javascript" class="p-4">
        <h5>Object Trong Javascript</h5>
    </div>
    <div class="col-md-5 col-sm-12 mt-4 shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
      <a href="https://www.niemvuilaptrinh.com/article/So-Sanh-va-Sao-Chep-Object-Trong-Javascript"
      title="So Sánh và Sao Chép Object Trong Javascript" class="p-4">
      <h5>So Sánh và Sao Chép Object Trong Javascript</h5>
    </a>
    </div>
</div>
<div class="row justify-content-center mt-4">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Phuong-Thuc-va-Tu-Khoa-this-Object-Trong-Javascript"
      title="Phương Thức và Từ Khóa this Object Trong Javascript" class="p-4">
      <h5>Phương Thức và Từ Khóa this Object Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12 mt-4 shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Constructor-Function-Trong-Javascript"
    title="Constructor Function Trong Javascript" class="p-4">
    <h5>Constructor Function Trong Javascript</h5>
  </a>
  </div>
</div>

<div class="row justify-content-center mt-4">
  <div class="bg-dark text-white vw-100 p-4">
    <h4>Chuỗi Trong Javascript:</h4>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Chuoi-Trong-Javascript"
      title="Chuỗi Trong Javascript" class="p-4">
      <h5>Chuỗi Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12 mt-4 shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Chuoi-Trong-Javascript"
    title="Các Phương Thức Chuỗi Trong Javascript" class="p-4">
    <h5>Các Phương Thức Chuỗi Trong Javascript</h5>
  </a>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Chuoi-Phan-2-Trong-Javascript"
      title="Các Phương Thức Chuỗi Phần 2 Trong Javascript" class="p-4">
      <h5>Các Phương Thức Chuỗi Phần 2 Trong Javascript</h5>
  </div>
</div>
<div class="bg-dark text-white col-12 p-4">
  <h4>Số Trong Javascript:</h4>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Number-Trong-Javascript"
      title="Các Phương Thức Number Trong Javascript" class="p-4">
      <h5>Các Phương Thức Number Trong Javascript</h5>
  </div>
</div>

<div class="bg-dark text-white col-12 p-4">
  <h4>Mảng Trong Javascript:</h4>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Array-Mang-Trong-Javascript"
      title="Mảng Trong Javascript" class="p-4">
      <h5>Mảng Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Array-Mang-Trong-Javascript"
      title="Các Phương Thức Array (Mảng) Trong Javascript" class="p-4">
      <h5>Các Phương Thức Array (Mảng) Trong Javascript</h5>
  </div>

  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
      <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Array-Mang-Phan-2-Trong-Javascript"
        title="Các Phương Thức Array (Mảng) Phần 2 Trong Javascript" class="p-4">
        <h5>Các Phương Thức Array (Mảng) Phần 2 Trong Javascript</h5>
    </div>
    <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
      <a href="https://www.niemvuilaptrinh.com/article/Arrow-Function-Co-Ban-Trong-Javascript"
        title="Arrow Function Cơ Bản Trong Javascript" class="p-4">
        <h5>Arrow Function Cơ Bản Trong Javascript</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
      <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Mang-Phan-3-Trong-Javascript"
        title="Các Phương Thức Mảng Phần 3 Trong Javascript" class="p-4">
        <h5>Các Phương Thức Mảng Phần 3 Trong Javascript</h5>
  </div>

  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Cac-Phuong-Thuc-Mang-Phan-4-Trong-Javascript"
      title="Các Phương Thức Mảng Phần 4 Trong Javascript" class="p-4">
      <h5>Các Phương Thức Mảng Phần 4 Trong Javascript</h5>
</div>

</div>

<div class="bg-dark text-white col-12 p-4">
  <h4>Thời Gian Trong Javascript:</h4>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Su-Dung-Date-Trong-Javascript"
      title="Sử Dụng Date Trong Javascript" class="p-4">
      <h5>Sử Dụng Date Trong Javascript</h5>
  </div>
</div>
<div class="bg-dark text-white col-12 p-4">
  <h4>Javascript Nâng Cao:</h4>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Destructuring-Assignment-Trong-Javascript"
      title="Destructuring Assignment Trong Javascript" class="p-4">
      <h5>Destructuring Assignment Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Kieu-Du-Lieu-Map-Va-Set-Trong-Javascript"
      title="Destructuring Assignment Trong Javascript" class="p-4">
      <h5>Kiểu Dữ Liệu Map Và Set Trong Javascript</h5>
  </div>
  
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Pham-Vi-Bien-Trong-Javascript"
      title="Phạm Vi Biến Trong Javascript" class="p-4">
      <h5>Phạm Vi Biến Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Spread-Operator-Va-Rest-Parameters-Trong-Javascript"
      title="Spread Operator Và Rest Parameters Trong Javascript" class="p-4">
      <h5>Spread Operator Và Rest Parameters Trong Javascript</h5>
  </div>
  
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Tim-Hieu-Ve-Function-Object-Trong-Javascript"
      title="Tìm Hiểu Về Function Object Trong Javascript" class="p-4">
      <h5>Tìm Hiểu Về Function Object Trong Javascript</h5>
  </div>

  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Thiet-Lap-Thuoc-Tinh-Object-Trong-Javascript"
      title="Thiết Lập Thuộc Tính Object Trong Javascript" class="p-4">
      <h5>Thiết Lập Thuộc Tính Object Trong Javascriptt</h5>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Tim-Hieu-Prototype-Trong-Javascript"
      title="Tìm Hiểu Prototype Trong Javascript" class="p-4">
      <h5>Tìm Hiểu Prototype Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Tim-Hieu-Class-Trong-Javascript"
      title="Tìm Hiểu Class Trong Javascript" class="p-4">
      <h5>Tìm Hiểu Class Trong Javascript</h5>
  </div>
 
</div>

<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Tim-Hieu-Callback-Function-Trong-Javascript"
      title="Tìm Hiểu Callback Function Trong Javascript" class="p-4">
      <h5>Tìm Hiểu Callback Function Trong Javascript</h5>
  </div>
  <div class="col-md-5 col-sm-12  mt-4  shadow" style="border-left:3rem solid #007bff;font-family: Montserrat;">
    <a href="https://www.niemvuilaptrinh.com/article/Tim-Hieu-Promise-Trong-Javascript"
      title="Tìm Hiểu Promise Trong Javascript" class="p-4">
      <h5>Tìm Hiểu Promise Trong Javascript</h5>
  </div>
 
</div>

      </div>

      <div class="mb-5"></div>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="mt-5"></div>
        <div class="card card-search">
          <div class="card-header card-header-category">
            Từ Khóa
          </div>
          <div class="card-body card-body-search mt-4">
            <h3 class="button-article"><a title="Thông Tin Về CSS" href="/article/css"><button type="button"
              class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink"><i class="fa fa-tag" aria-hidden="true"></i> CSS</button></a>
              <a href="/article/html" title="Thông Tin Về HTML"><button type="button"
              class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink"><i class="fa fa-tag" aria-hidden="true"></i> HTML</button></a>
              <a href="/article/Javascript" title="Thông Tin Về Javascript">
              <button type="button"
              class="btn shadow-sm rounded btn-secondary m-1 pl-2 pr-2 hvr-shrink"><i class="fa fa-tag" aria-hidden="true"></i> Javascript</button></a>
              <a href="/article/Bootstrap" title="Thông Tin Về Bootstrap">
                <button type="button"
                class="btn shadow-sm rounded m-1 pl-2 pr-2 hvr-shrink  btn-secondary "><i class="fa fa-tag" aria-hidden="true"></i> Bootstrap</button></a>
            </h3>
          </div>
        </div>

        <div class="card card-search">

          <div class="fb-page"
            data-href="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/" data-tabs=""
            data-width="500" data-height="340" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/"
              class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/Ni&#x1ec1;m-Vui-L&#x1ead;p-Tr&#xec;nh-103123311194043/">Niềm Vui Lập
                Trình</a></blockquote>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=2121975281235443&autoLogAppEvents=1">
  </script>
      </div>
    </div>
  </div>

  <script>
    var container = document.getElementById('content-box');

    $(window).on('load resize', (function () {
      windowsize = $(window).width();

      if ((windowsize <= 992) && (screen.height >= 768)) {
        container.classList.remove('container');
        container.classList.add('container-fluid')

        //navbar
        $('.nav-item').addClass('hvr-underline-from-left')
      } else {
        container.classList.add('container');
        container.classList.remove('container-fluid')

        //navbar
        $('.nav-item').removeClass('hvr-underline-from-left')
      }
    }));
  </script>
  <script src='/javascripts/highlight.pack.js'></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script>
    $(document).ready(function () {
      const win = $(window);
      const doc = $(document);
      const progressBar = $('progress');
      const progressLabel = $('.progress-label');
      const setValue = () => win.scrollTop();
      const setMax = () => doc.height() - win.height();
      const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });

      doc.on('scroll', () => {
        progressLabel.text(setPercent() + '%');
        progressBar.attr({
          value: setValue()
        });
      });

      win.on('resize', () => {
        progressLabel.text(setPercent() + '%');
        progressBar.attr({
          value: setValue(),
          max: setMax()
        });
      })
    });
  </script>
  <%- include('footer') -%>