<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i> サイドバーは、ナビゲーションリンクや表示リンクを簡単に配置できるWebページの一部です。
              いくつかの重要な情報は、顧客が簡単に見つけるのに役立ちます。 また、それは改善します
              サイトの使用可能領域。 次に、使用されているサイドバーを確認しましょう
              2021年に人気！ </i></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Webデザインのサイドバーの例</h2>
            </div>
          
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> サイドバーCSS</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20CSS.png"
              alt="サイドバーCSS">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="plavookac" data-slug-hash="qomrMw" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="PURE CSS SIDEBAR TOGGLE MENU"> <span>See the Pen <a
                  href="https://codepen.io/plavookac/pen/qomrMw"> PURE CSS SIDEBAR TOGGLE MENU</a> by Jelena Jovanovic
                (<a href="https://codepen.io/plavookac">@plavookac</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/plavookac/pen/qomrMw" target="_blank" title="サイドバーCSS">リンク</a>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  UIサイドバーメニューCSS</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/UI%20Sidebar%20Menu%20CSS.png"
              alt="UIサイドバーメニューCSS">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="Twikito"
              data-slug-hash="zGdqVO" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="UI with UX improvements with only CSS"> <span>See the Pen <a
                  href="https://codepen.io/Twikito/pen/zGdqVO"> UI with UX improvements with only CSS</a> by Twikito (<a
                  href="https://codepen.io/Twikito">@Twikito</a>) on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/Twikito/pen/zGdqVO"
                target="_blank" title=" UIサイドバーメニューCSS">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Javascriptサイドバーナビゲーションメニューを作成する方法</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Javascript%20Sidebar%20Navigation%20Menu.png"
              alt="Javascriptサイドバーナビゲーションメニューを作成する方法">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="CiTA"
              data-slug-hash="bgjKKE" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="CSS sidebar toggle"> <span>See the Pen <a href="https://codepen.io/CiTA/pen/bgjKKE"> CSS
                  sidebar toggle</a> by Silvestar Bistrović (<a href="https://codepen.io/CiTA">@CiTA</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/CiTA/pen/bgjKKE"
                target="_blank" title="Javascriptサイドバーナビゲーションメニューを作成する方法">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">Jqueryサイドバーメニュー</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Jquery%20Sidebar%20Menu.png"
              alt="Jqueryサイドバーメニュー">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="tonkec"
              data-slug-hash="gryZmg" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive sidebar revealed on click and key press"> <span>See the Pen <a
                  href="https://codepen.io/tonkec/pen/gryZmg"> Responsive sidebar revealed on click and key press</a> by
                Antonija Šimić (<a href="https://codepen.io/tonkec">@tonkec</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/tonkec/pen/gryZmg"
                target="_blank" title="Jqueryサイドバーメニュー">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">サイドバーブートストラップ</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20Bootstrap.png"
              alt="サイドバーブートストラップ">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="Xeoncross" data-slug-hash="zxyWeW" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Bootstrap Hidden Sidebar + Nav Icons"> <span>See the Pen <a
                  href="https://codepen.io/Xeoncross/pen/zxyWeW"> Bootstrap Hidden Sidebar + Nav Icons</a> by David
                Pennington (<a href="https://codepen.io/Xeoncross">@Xeoncross</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/Xeoncross/pen/zxyWeW" target="_blank"
                title="サイドバーブートストラップ">リンク</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  サイドバー遷移CSS</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20Transitions%20CSS.png"
              alt="サイドバー遷移CSS">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="kyunwang" data-slug-hash="zNOoxb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Sidebar Transitions"> <span>See the Pen <a href="https://codepen.io/kyunwang/pen/zNOoxb">
                  Sidebar Transitions</a> by kyunwang (<a href="https://codepen.io/kyunwang">@kyunwang</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/kyunwang/pen/zNOoxb"
                target="_blank" title=" サイドバー遷移CSS">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> CSS3Javascriptを使用してサイドバーアニメーション効果を合成する
              </h3>
            </div>
            <div class="embed-responsive embed-responsive-16by9"> <iframe title="CSS3Javascriptを使用してサイドバーアニメーション効果を合成する"
                src="https://www.youtube.com/embed/UweFsJywi20" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="foxeisen" data-slug-hash="YgEwbK" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Off-canvas Navigation Variants (Sidebar)"> <span>See the Pen <a
                  href="https://codepen.io/foxeisen/pen/YgEwbK"> Off-canvas Navigation Variants (Sidebar)</a> by
                foxeisen (<a href="https://codepen.io/foxeisen">@foxeisen</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/foxeisen/pen/YgEwbK"
                target="_blank" title="CSS3Javascriptを使用してサイドバーアニメーション効果を合成する">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  レスポンシブサイドバーブートストラップ</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Responsive%20Sidebar%20Bootstrap.png"
              alt="レスポンシブサイドバーブートストラップ">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="rcauchon" data-slug-hash="yQJKpr" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Collapsible Sidebar "> <span>See the Pen <a href="https://codepen.io/rcauchon/pen/yQJKpr">
                  Collapsible Sidebar </a> by Rémi Cauchon (<a href="https://codepen.io/rcauchon">@rcauchon</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/rcauchon/pen/yQJKpr"
                target="_blank" title=" レスポンシブサイドバーブートストラップ">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  サイドバーJavascript</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20Javascript.png"
              alt="サイドバーJavascript">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="Siddharth11" data-slug-hash="vNEEZp" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Sidebar Interaction"> <span>See the Pen <a
                  href="https://codepen.io/Siddharth11/pen/vNEEZp"> Sidebar Interaction</a> by Siddharth Parmar (<a
                  href="https://codepen.io/Siddharth11">@Siddharth11</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/Siddharth11/pen/vNEEZp" target="_blank"
                title=" サイドバーJavascript">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> ブートストラップサイドバーメニュー</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Bootstrap%20Sidebar%20Menu.png"
              alt="ブートストラップサイドバーメニュー">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="migli"
              data-slug-hash="dJZQxZ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Bootstrap 4 sidebar nav"> <span>See the Pen <a href="https://codepen.io/migli/pen/dJZQxZ">
                  Bootstrap 4 sidebar nav</a> by Gilles Migliori (<a href="https://codepen.io/migli">@migli</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/migli/pen/dJZQxZ"
                target="_blank" title=" ブートストラップサイドバーメニュー">リンク</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  フラットCSSサイドバー</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Flat%20CSS%20Sidebar.png"
              alt="フラットCSSサイドバー">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="maziarzamani" data-slug-hash="eJKGvj" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Flat CSS Sidebar"> <span>See the Pen <a href="https://codepen.io/maziarzamani/pen/eJKGvj">
                  Flat CSS Sidebar</a> by Maz (<a href="https://codepen.io/maziarzamani">@maziarzamani</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/maziarzamani/pen/eJKGvj" target="_blank"
                title=" フラットCSSサイドバー">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> ブートストラップサイドバーメニューの折りたたみ</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Bootstrap%20Sidebar%20Menu%20Collapse.png"
              alt="ブートストラップサイドバーメニューの折りたたみ">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="goodywebs" data-slug-hash="ouhiH" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Bootstrap SideBar"> <span>See the Pen <a href="https://codepen.io/goodywebs/pen/ouhiH">
                  Bootstrap SideBar</a> by goodywebs (<a href="https://codepen.io/goodywebs">@goodywebs</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/goodywebs/pen/ouhiH"
                target="_blank" title=" ブートストラップサイドバーメニューの折りたたみ">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">スムーズなトランジションサイドバー効果</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20Smooth%20Transition.png"
              alt="スムーズなトランジションサイドバー効果">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="tonkec"
              data-slug-hash="qbRmxZ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Sidebar with smooth transition"> <span>See the Pen <a
                  href="https://codepen.io/tonkec/pen/qbRmxZ"> Sidebar with smooth transition</a> by Antonija Šimić (<a
                  href="https://codepen.io/tonkec">@tonkec</a>) on <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/tonkec/pen/qbRmxZ"
                target="_blank" title="スムーズなトランジションサイドバー効果">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">SVGでサイドバー効果を作成する</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20V%E1%BB%9Bi%20SVG.png"
              alt="SVGでサイドバー効果を作成する">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="magnificode" data-slug-hash="bdWYwy" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Sidebar Nav Animation"> <span>See the Pen <a
                  href="https://codepen.io/magnificode/pen/bdWYwy"> Sidebar Nav Animation</a> by magnificode (<a
                  href="https://codepen.io/magnificode">@magnificode</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/magnificode/pen/bdWYwy" target="_blank"
                title="SVGでサイドバー効果を作成する">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> サイドバーHTML5</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20HTML5.png"
              alt="サイドバーHTML5">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="rizkykurniawanritonga" data-slug-hash="sqcAn" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Pure CSS3 Mega Dropdown Menu With Animation (Vertical)"> <span>See the Pen <a
                  href="https://codepen.io/rizkykurniawanritonga/pen/sqcAn"> Pure CSS3 Mega Dropdown Menu With Animation
                  (Vertical)</a> by Rizky Kurniawan Ritonga (<a
                  href="https://codepen.io/rizkykurniawanritonga">@rizkykurniawanritonga</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/rizkykurniawanritonga/pen/sqcAn" target="_blank"
                title="サイドバーHTML5">リンク</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> CSSメニューホバーサイドバー効果</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Hover%20Sidebar%20Menu%20CSS.png"
              alt="CSSメニューホバーサイドバー効果">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="tdevine33" data-slug-hash="CnDyv" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Fixed nav hover effect"> <span>See the Pen <a
                  href="https://codepen.io/tdevine33/pen/CnDyv"> Fixed nav hover effect</a> by Terence Devine (<a
                  href="https://codepen.io/tdevine33">@tdevine33</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/tdevine33/pen/CnDyv"
                target="_blank" title="CSSメニューホバーサイドバー効果">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  サイドバーCSSを修正</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Fixed%20Sidebar%20CSS.png"
              alt="サイドバーCSSを修正">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="vincebrown" data-slug-hash="yyLNPR" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Fixed Hover Navigation"> <span>See the Pen <a
                  href="https://codepen.io/vincebrown/pen/yyLNPR"> Fixed Hover Navigation</a> by Vince Brown (<a
                  href="https://codepen.io/vincebrown">@vincebrown</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/vincebrown/pen/yyLNPR" target="_blank"
                title=" サイドバーCSSを修正">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  透明なサイドバーCSS</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Transparent%20Sidebar%20CSS.png"
              alt="透明なサイドバーCSS">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="mambroz" data-slug-hash="rdFfx" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Hidden Sidebar Menu"> <span>See the Pen <a href="https://codepen.io/mambroz/pen/rdFfx">
                  Hidden Sidebar Menu</a> by Michael Ambrozaitis (<a href="https://codepen.io/mambroz">@mambroz</a>) on
                <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/mambroz/pen/rdFfx"
                target="_blank" title=" 透明なサイドバーCSS">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  左側のサイドバーCSS</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Left%20Sidebar%20CSS.png"
              alt="左側のサイドバーCSS">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="ryanmorr" data-slug-hash="ZGXLXd" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Off-Canvas Menu"> <span>See the Pen <a href="https://codepen.io/ryanmorr/pen/ZGXLXd">
                  Off-Canvas Menu</a> by Ryan Morr (<a href="https://codepen.io/ryanmorr">@ryanmorr</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/ryanmorr/pen/ZGXLXd"
                target="_blank" title=" 左側のサイドバーCSS">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> レスポンシブサイドバーHTML5CSS3</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Responsive%20Sidebar%20HTML5%20CSS3.png"
              alt="レスポンシブサイドバーHTML5CSS3">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="wideckop" data-slug-hash="ZOgOPq" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive Sidebar (Only with CSS)"> <span>See the Pen <a
                  href="https://codepen.io/wideckop/pen/ZOgOPq"> Responsive Sidebar (Only with CSS)</a> by Eliezer
                Pujols (<a href="https://codepen.io/wideckop">@wideckop</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/wideckop/pen/ZOgOPq"
                target="_blank" title="レスポンシブサイドバーHTML5CSS3">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> サイドバーマテリアルデザイン</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20Theo%20Ki%E1%BB%83u%20Material.png"
              alt="サイドバーマテリアルデザイン">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="seanfree" data-slug-hash="EgQRwg" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Pure CSS Material Design Sidebar"> <span>See the Pen <a
                  href="https://codepen.io/seanfree/pen/EgQRwg"> Pure CSS Material Design Sidebar</a> by Sean Free (<a
                  href="https://codepen.io/seanfree">@seanfree</a>) on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/seanfree/pen/EgQRwg"
                target="_blank" title="サイドバーマテリアルデザイン">リンク</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> TwitterサイドバーJavascript</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Twitter%20Sidebar%20Javascript.png"
              alt="TwitterサイドバーJavascript">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="aaroniker" data-slug-hash="rNMWYXb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Twitter Sidebar"> <span>See the Pen <a href="https://codepen.io/aaroniker/pen/rNMWYXb">
                  Twitter Sidebar</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/aaroniker/pen/rNMWYXb" target="_blank"
                title="TwitterサイドバーJavascript">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  サイドバーダークアンドライトモード</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar/Sidebar%20Dark%20V%C3%A0%20Light%20Mode.png"
              alt="サイドバーダークアンドライトモード">
            <p class="mt-4"> 以下の結果を見ることができます：</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="ryanparag" data-slug-hash="gZEbOq" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Sidebar"> <span>See the Pen <a href="https://codepen.io/ryanparag/pen/gZEbOq"> Sidebar</a>
                by Ryan (<a href="https://codepen.io/ryanparag">@ryanparag</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/ryanparag/pen/gZEbOq" target="_blank"
                title=" サイドバーダークアンドライトモード">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> ブートストラップサイドバーの例</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/V%C3%AD%20D%E1%BB%A5%20V%E1%BB%81%20Sidebar%20Bootstrap.png"
              alt="ブートストラップサイドバーの例">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/bootstrap-sidebar-01/" target="_blank"
                title="ブートストラップサイドバーの例">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> サイドバーの背景グラデーションブートストラップの例</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/Sidebar%20Background%20Gradient%20Bootstrap.png"
              alt="サイドバーの背景グラデーションブートストラップの例">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/bootstrap-sidebar-06/" target="_blank"
                title=" サイドバーの背景グラデーションブートストラップの例">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> ブートストラップサイドバーメニューの例</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/Menu%20Sidebar%20Bootstrap.png"
              alt="ブートストラップサイドバーメニューの例">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/bootstrap-sidebar-10/" target="_blank"
                title=" ブートストラップサイドバーメニューの例">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> サイドバーメニューのナビゲーション例</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/Sidebar%20Menu%20Navigation.png"
              alt="サイドバーメニューのナビゲーション例">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/colorlib-sidebar-v10/" target="_blank"
                title="サイドバーメニューのナビゲーション例">リンク</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> サイドバーの例の電子メールフォーム</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/Sidebar%20Email%20Form.png"
              alt="サイドバーの例の電子メールフォーム">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/colorlib-sidebar-v03/" target="_blank"
                title="サイドバーの例の電子メールフォーム">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> ウェブサイトのサイドバーの例</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/Sidebar%20Cho%20website.png"
              alt="ウェブサイトのサイドバーの例">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/colorlib-sidebar-v01/" target="_blank"
                title="ウェブサイトのサイドバーの例">リンク</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  サイドバーナビゲーション</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/sidebar-website/Sidebar%20Navigation.png"
              alt=" サイドバーナビゲーション">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://colorlib.com/wp/template/bootstrap-sidebar-07/" target="_blank"
                title=" サイドバーナビゲーション">リンク</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <h2 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> 結論              : </b></h2>
            <p>これにより、この記事が開発に役立つサイドバーの例を提供することを願っています。
              ウェブデザインと質問があればメールを送ってください私はできるだけ早く答えます。
              もっといい記事が書けるように、ウェブサイトを応援してください。 良い1日を！</p>
          </div>
        </article>



      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>