<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i> Kết hợp CSS với Bootstrap 4</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay chúng ta  sẽ  đi vào cách thiết kế giao diện bằng cách kết hợp giữa Bootstrap 4 và CSS. Nào hãy cũng mình tìm hiểu nhé!</i>
            </p>
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>
          
            <p class="text-muted">Mình Thiết kế giao diện thông qua nguồn <a href="https://bootstrapious.com/" target="_blank">Bootstrapiou</a>. Bạn có thể tham khảo để tìm hiều về cách kết hợp CSS và Bootstrap ở trang web này nhé.</p>
            <div class="bg-primary p-2 rounded text-white">
              <h3>Tạo timeline trong Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Theo mình thấy Timeline phù hợp cho việc trình bày những nội dung theo những cột mốc cố định trong quá khứ. Để xem kết quả và đoạn code để xây dựng Timeline bằng 
              HTMl, CSS và Bootstrap 4 ở dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="qBdexbd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sử dụng Time line Bootstrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/qBdexbd">
              Sử dụng Time line Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Để xem kết quả bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> trong Codepen nhé.
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Tạo danh sách sản phẩm  trong Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Trong các trang web bán hàng thì danh sách hiển thị sản phẩm và các thông tin liên quan như giá cả, tên sản phẩm... là một phần không thể thiếu. Do đó để giúp bạn thiết kế giao diện 
              một cách nhanh hơn mình có đoạn code Bootstrap 4 và CSS dưới đây để làm việc đó. Bạn xem kết quả và đoạn code để xây dựng danh sách sản phẩm ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="MWwNQdW" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Danh sách sản phẩm Bootstrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/MWwNQdW">
              Danh sách sản phẩm Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Tạo Carousel Quotes:</h3>
            </div>
            <p class="mt-4">
              Mình sẽ tinh chỉnh component carousel để tạo ra carousel quotes, nó thường được sử dụng trong việc trích dẫn  ý kiến của  khách hàng trong việc sử dụng dịch vụ của mình.
              Do đó để giúp bạn thiết kế giao diện một cách nhanh hơn mình có đoạn code Bootstrap 4 và CSS dưới đây để làm việc đó. Bạn xem kết quả và đoạn code để xây dựng
              danh sách sản phẩm ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="QWbemjX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Carousel trich dan Bootstrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/QWbemjX">
              Carousel trich dan Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Thiết Kế Giao Diện Upload Hình Ảnh Trong Bảng Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Component này giúp chúng ta tạo thiết kế giao diện upload hình ảnh đẹp hơn bằng HTML, CSS và Bootstrap 4. Bạn xem kết quả và đoạn code để xây dựng
              upload hình ảnh ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="WNvVywJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Upload Hinh Anh  Bootstrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/WNvVywJ">
              Upload Hinh Anh  Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Thiết Kế Giao Diện Calendar (Lịch):</h3>
            </div>
            <p class="mt-4">
              Sau đây mình sẽ đi vào thiết kế giao diện Calendar bằng cách kết hợp HTML, CSS và Bootstrap 4. Bạn xem kết quả và đoạn code để xây dựng
             Calendar(Lịch) ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="mdJNKBM" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Calendar Bootstrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/mdJNKBM">
              Calendar Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4">
              Để xem rõ kết quả bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> trong Codepen nhé.
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Thiết Kế Header Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Bây giờ ta sẽ đi vào thiết kế với header sử dụng  Jumbotron với ảnh nền bằng HTML, CSS và Bootstrap 4. Bạn xem kết quả và đoạn code để xây dựng
              component này ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="LYVwrrb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap Static Header">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/LYVwrrb">
              Bootstrap Static Header</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Thiết Kế Pricing Table (bảng giá) Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Bây giờ ta sẽ đi vào thiết kế với bảng giá dịch vụ  bằng HTML, CSS và Bootstrap 4. Bạn xem kết quả và đoạn code để xây dựng
              component này ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="VwLodVW" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bang Gia Bootstrap4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/VwLodVW">
              Bang Gia Bootstrap4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Thiết Kế Ô Tìm Kiếm Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Chúng ta đi vào thiết kế giúp cho các ô tìm kiếm của mình đẹp hơn bằng HTML, CSS và Bootstrap 4. Bạn xem kết quả và đoạn code để xây dựng
              component này ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="vYOorwp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="O Tim Kiem Boostrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/vYOorwp">
              O Tim Kiem Boostrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="bg-primary p-2 rounded mt-4 text-white">
              <h3>Xây Dựng Vertical Tab Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Chúng ta đi vào thiết kế Vertical Tab của mình  bằng HTML, CSS và Bootstrap 4. Bạn xem kết quả và đoạn code để xây dựng
              component này ở bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="gOpVjPd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Verical tab trong Bootstrap4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/gOpVjPd">
              Verical tab trong Bootstrap4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      




























             












            

            
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian và hiểu hơn về cách thiết kế giao diện kết hợp CSS với  Bootstrap 4 và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>