<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Công Cụ Online Giúp Bạn Thiết Kế Web Dễ Dàng Hơn (2020) </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Ngày hôm nay chúng ta sẽ đi vào tìm hiểu những công cụ online giúp bạn có thể thiết kế những đối tượng
                cho trang web một cách dễ dàng hơn.
                Bây giờ chúng ta hãy cùng nhau đi vào tìm hiểu nhé!
              </i>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Browser Default Styles
              </h3>
            </div>
            <p>
              <b>Browser Default Styles</b> là nơi bạn có thể tìm thấy các thuộc tính CSS mặc định của các đối tượng
              HTML trong trình duyệt.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595644980/cong_cu_online_cho_thiet_ke_web/Browser_Default_Styles_mohlxt.png"
              alt=" Browser Default Styles">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Browser Default Styles"
                href="https://browserdefaultstyles.com/" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Clippy
              </h3>
            </div>
            <p>
              <b>Clippy</b> là công cụ online giúp bạn có thể thiết lập thuộc tính CSS clip path cho trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595645429/cong_cu_online_cho_thiet_ke_web/Clippy_dd7ork.png"
              alt="Clippy">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Clippy"
                href="https://bennettfeely.com/clippy/" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Keyframes CSS
              </h3>
            </div>
            <p>
              <b>Keyframes CSS</b> giúp bạn có thể tạo ra các chuyển động từ cơ bản đến nâng cao với keyframe CSS.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595645878/cong_cu_online_cho_thiet_ke_web/Keyframes_CSS_xxrqhw.png"
              alt="Keyframes CSS">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Keyframes CSS"
                href="https://keyframes.app/animate/" target="_blank"> Nguồn </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Neumorphism.io
              </h3>
            </div>
            <p>
              <b>Neumorphism.io</b> giúp bạn tạo ra những đối tượng UI mềm mại thông qua việc kết hợp các thuộc tính CSS
              lại với nhau.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595646165/cong_cu_online_cho_thiet_ke_web/Neumorphismio_x1kmw6.png"
              alt="Neumorphism.io">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Neumorphism.io"
                href="https://neumorphism.io/#55b9f3" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                CSS Cursors
              </h3>
            </div>
            <p>
              <b>CSS Cursors</b> là một trang hiển thị tất cả các ví dụ về thuộc tính <code>cursor</code> trong CSS.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595646375/cong_cu_online_cho_thiet_ke_web/CSS_Cursors_zzfrai.png"
              alt="CSS Cursors">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="CSS Cursors"
                href="https://csscursor.info/" target="_blank"> Nguồn </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                CSS Grid Generator
              </h3>
            </div>
            <p>
              <b>CSS Grid Generator</b> là một công cụ giúp bạn tạo ra grid trong CSS một cách dễ dàng thông qua việc
              nhập các thông tin được công cụ cung cấp.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595646566/cong_cu_online_cho_thiet_ke_web/CSS_Grid_Generator_fvdb2d.png"
              alt="CSS Grid Generator">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="CSS Grid Generator"
                href="https://cssgrid-generator.netlify.app/" target="_blank"> Nguồn </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Shapy
              </h3>
            </div>
            <p>
              <b>Shapy</b> giúp bạn có thể thiết kế các đối tượng gradient CSS đẹp mắt cho trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595647018/cong_cu_online_cho_thiet_ke_web/Shapy_ebthsa.png"
              alt="Shapy">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title=Shapy" href="https://shapy.app/"
                target="_blank"> Nguồn </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Placeholder Image Generator
              </h3>
            </div>
            <p>
              <b>Placeholder Image Generator</b> giúp bạn tạo placeholder cho hình ảnh khi image không được hiển thị hay
              đang chờ tải ở trong trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595647632/cong_cu_online_cho_thiet_ke_web/Placeholder_Image_Generator_uamox3.png"
              alt="Placeholder Image Generator">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Placeholder Image Generator"
                href="https://placeholderimage.dev/" target="_blank"> Nguồn </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Htmldom
              </h3>
            </div>
            <p>
              <b>Htmldom</b> là nơi sưu tập các đoạn mã Javascript thuần giúp bạn có thể quản lý HTML DOM trong trang
              web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595648327/cong_cu_online_cho_thiet_ke_web/Htmldom_u0qkas.png"
              alt="Htmldom">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Htmldom"
                href="https://htmldom.dev/" target="_blank"> Nguồn </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                HTML5 head elements
              </h3>
            </div>
            <p>
              <b> HTML5 head elements</b> là nơi bạn có thể tìm thấy tất cả thuộc tính được sử dụng trong thẻ
              <code>head</code>
              như là meta, icon, các thẻ cho mạng xã hội...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595648560/cong_cu_online_cho_thiet_ke_web/HTML5_head_elements_b4accv.png"
              alt="HTML5 head elements">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="HTML5 head elements"
                href="https://htmlhead.dev/" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Input Type Sandbox
              </h3>
            </div>
            <p>
              <b> Input Type Sandbox</b> là nơi bạn có thể kiểm tra các kiểu của ô input trong trang web như là email,
              số, điện thoại...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595648780/cong_cu_online_cho_thiet_ke_web/Input_Type_Sandbox_ln3ktw.png"
              alt="Input Type Sandbox">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Input Type Sandbox"
                href="https://inputtypes.com/" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Meta Tags
              </h3>
            </div>
            <p>
              <b>Meta Tags</b> giúp bạn có thể xuất tự động các thẻ meta các mạng xã hội phổ biện như là Facebook,
              Twitter, Google... để sử dụng cho website.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595648979/cong_cu_online_cho_thiet_ke_web/Meta_Tags_jhfw8b.png"
              alt="Meta Tags">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Meta Tags"
                href="https://metatags.io/" target="_blank"> Nguồn </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Can I Include
              </h3>
            </div>
            <p>
              <b>Can I Include</b> là một web app giúp chúng ta xác định những thành phần trong HTML có thể sử dụng lồng
              vào nhau được hay không.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595649260/cong_cu_online_cho_thiet_ke_web/Can_I_Include_e4etbc.png"
              alt="Can I Include">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Can I Include"
                href="https://caninclude.glitch.me/" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Build a Better Mobile Input
              </h3>
            </div>
            <p>
              <b>Build a Better Mobile Input</b> là một web app giúp bạn thiết kế các ô input trên thiết bị điện thoại
              bằng cách việc hiển thị trực tiếp các thuộc tính mà ta nhập vào ô input. Kết quả tương ứng sẽ hiển thị màn
              hình điện thoại bên phải nhé!
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595649596/cong_cu_online_cho_thiet_ke_web/Build_a_Better_Mobile_Input_rfdr6q.png"
              alt="Build a Better Mobile Input">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Build a Better Mobile Input"
                href="https://better-mobile-inputs.netlify.app/" target="_blank"> Nguồn </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Key codes
              </h3>
            </div>
            <p>
              <b>Key codes</b> là một trang web giúp bạn có thể dễ dàng tìm những keycode để thiết lập lắng nghe sự kiện
              từ các nút trên bàn phím của bạn.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595650049/cong_cu_online_cho_thiet_ke_web/Key_codes_oeqvea.png"
              alt="Key codes">


            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Key codes"
                href="https://keycode.info/" target="_blank"> Nguồn </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Color contrast checker
              </h3>
            </div>
            <p>
              <b>Color contrast checker</b> là một web app giúp bạn kiểm tra độ độ tương phản (contrast) giữa hai màu
              với nhau trong thiết kế web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595650394/cong_cu_online_cho_thiet_ke_web/Color_contrast_checker_d7zj2b.png"
              alt="Color contrast checker">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Color contrast checker"
                href="https://polypane.app/color-contrast/#fg=%23107db5&bg=%23fff&level=aa" target="_blank"> Nguồn </a>
            </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Git Command Explorer
              </h3>
            </div>
            <p>
              <b>Git Command Explorer</b> là một trang web  có thể xuất ra những câu lệnh git dựa vào các thông tin mà bạn lựa chọn. Ngoài ra nó cũng có thêm 
              chú thích chi tiết về những câu lệnh đó để giúp bạn dễ dàng hiểu hơn.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595651511/cong_cu_online_cho_thiet_ke_web/Git_Command_Explorer_ysdkgx.png"
              alt="Git Command Explorer">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Git Command Explorer"
                href="https://gitexplorer.com/" target="_blank"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Make thumbnails
              </h3>
            </div>
            <p>
              <b>Make thumbnails</b> là một web app giúp bạn có thể dễ dàng tạo ra nhũng thumbnail cho hình ảnh của mình.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595656674/cong_cu_online_cho_thiet_ke_web/Make_thumbnails_mxdzd9.png"
              alt="  Make thumbnails">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="  Make thumbnails"
                href="http://makethumbnails.com/#dropzone" target="_blank"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Remove Image Background
              </h3>
            </div>
            <p>
              <b>Remove Image Background</b> là một web app giúp bạn xóa background miễn phí cho hình ảnh chỉ với 1 cái click chuột.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595657814/cong_cu_online_cho_thiet_ke_web/Remove_Image_Background_bgqsts.png"
              alt="Remove Image Background">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Remove Image Background"
                href="https://www.remove.bg/" target="_blank"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Can I Email
              </h3>
            </div>
            <p>
              <b>Can I Email</b> là một trang web giúp bạn có thể xem những thuộc tính của HTML và CSS được hỗ trợ trong email.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595658403/cong_cu_online_cho_thiet_ke_web/Can_I_Email_kgunsb.png"
              alt="Can I Email">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Can I Email"
                href="https://www.caniemail.com/" target="_blank"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Trianglify
              </h3>
            </div>
            <p>
              <b>Trianglify</b> là một công cụ online giúp bạn tạo background đẹp mắt cho trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595658953/cong_cu_online_cho_thiet_ke_web/trianglify_ytrpse.png"
              alt="Trianglify">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Trianglify"
                href="https://trianglify.io/" target="_blank"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                CSS Layout
              </h3>
            </div>
            <p>
              <b>CSS Layout</b> là một trang web sưu tập những layout phổ biến được thiết kế bằng CSS nhằm giúp bạn dễ dàng lựa chọn thiết kế cho trang web của mình.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595679711/cong_cu_online_cho_thiet_ke_web/CSS_Layout_ifpc7g.png"
              alt="CSS Layout">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="CSS Layout"
                href="https://csslayout.io/" target="_blank"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                FANCY-BORDER-RADIUS
              </h3>
            </div>
            <p>
              <b>FANCY-BORDER-RADIUS</b> là một web app giúp bạn có thể thiết kế những đối tượng thông qua việc  thiết lập hình dạng với thuộc tính 
              border-radius CSS.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595679980/cong_cu_online_cho_thiet_ke_web/FANCY-BORDER-RADIUS_qsoege.png"
              alt="FANCY-BORDER-RADIUS">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="FANCY-BORDER-RADIUS"
                href="https://9elements.github.io/fancy-border-radius" target="_blank"> Nguồn </a>
            </button>

            
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
               1loc
              </h3>
            </div>
            <p>
              <b>1locS</b> là một nơi tổng hợp các giải pháp cho những vấn đề bạn hay gặp trong quá trình phát triển web với ngôn ngữ lập trình Javascript.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595680226/cong_cu_online_cho_thiet_ke_web/1loc_tkuhao.png"
              alt="1loc">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="1loc"
                href="https://1loc.dev/" target="_blank"> Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Color Namer
              </h3>
            </div>
            <p>
              <b>Color Namer</b> là web app cung cấp tên của color(màu) mà bạn muốn thông qua việc nhập thông tin màu đó dưới dạng hex hoặc rgb ở trong trang web. 
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595680611/cong_cu_online_cho_thiet_ke_web/Color_Namer_qlaxml.png"
              alt="Color Namer">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="Color Namer"
                href="https://colornamer.netlify.app/" target="_blank"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                BrowserFrame
              </h3>
            </div>
            <p>
              <b>BrowserFramer</b> là web app giúp bạn có thể gắn các ảnh chụp màn hình với các background trình duyệt khác nhau để tăng tính thẩm mỹ cũng như mang lại cảm giác thật hơn cho người dùng khi nhìn vào bức ảnh của bạn. 
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595682131/cong_cu_online_cho_thiet_ke_web/BrowserFrame_ffzgyi.png"
              alt="BrowserFrame">

            <button type="button " class="btn btn-outline-dark mt-4 btn-lg"> <a title="BrowserFrame"
                href="https://browserframe.com/" target="_blank"> Nguồn </a>
            </button>







            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những  công cụ online
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>