<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Tạo Hiệu Ứng Hover Cho Profile Card Bằng HTML CSS</h2>
            </div>
          </div>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i> Ngày hôm nay chúng ta cùng nhau đi vào tìm hiểu cách tạo hiệu ứng hover cho profile card
                bằng HTML và CSS nhé! </i></p>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Cấu Trúc Phần Tử HTML</h3>
          </div>

          <p>
            Trước tiên chúng ta sẽ cần tạo hai file chính là <code>index.html</code> (Lưu trữ phần tử HTML) và
            <code>style.css</code> (Lưu trữ các thuộc tính CSS).
            .Sau đó liên kết chúng lại với nhau thông qua đoạn mã bên dưới:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/>&#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;Hiệu&nbsp;Ứng&nbsp;Hover&nbsp;Profile&nbsp;Card&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/>&#60;/head&#62;<br/>&#60;body&#62;<br/>&#60;/body&#62;<br/>&#60;/html&#62;<br/></code></pre>

          <p class="mt-4">
            Ở trên thì mình có sử dụng thêm Font Awesome phiên bản 4.7 và Google Font nữa nha.
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thêm Phần Tử HTML Cho Profile Card</h3>
          </div>
          <p>
            Bước tiếp theo chúng ta sẽ đi vào xây dựng những phần tử HTML cần thiết để tạo ra hiệu ứng hover profile
            card thông qua đoạn mã sau đây nhé:
          </p>

          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&#60;div&nbsp;class="tieu_de"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;img src="https://images.pexels.com/photos/3756682/pexels-photo-3756682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300&w=300" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alt=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="noi_dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Tên&nbsp;Thành&nbsp;Viên&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&nbsp;class="chuyen_dong_text"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vị&nbsp;Trí&nbsp;Thành&nbsp;Viên<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&nbsp;class="chuyen_dong_text"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit,&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Nesciunt&nbsp;ea&nbsp;omnis,&nbsp;molestias&nbsp;magni&nbsp;cum&nbsp;consectetur&nbsp;exercitationem&nbsp;repudiandae&nbsp;commodi&nbsp;accusantium&nbsp;magnam&nbsp;iste&nbsp;doloribus&nbsp;dolore.&nbsp;Quasi&nbsp;veniam&nbsp;expedita&nbsp;nobis,&nbsp;itaque&nbsp;consequuntur&nbsp;soluta.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="icon"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;clas="facebook"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-facebook-square"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-twitter-square"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-instagram"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&#60;/div&#62;<br/></code></pre>

          <p class="mt-4">
            Và kết quả của đoạn mã trên bạn xem phía bên dưới nhé:
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600057435/hieu_ung_hover_profile_card/hieu_ung_hover_profile_card_1_tj9pkw.png"
            alt="Hiệu Ứng Hover Profile Card 1">

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Căn Chỉnh Và Thiết Lập Style Cho Phần Tử HTML
            </h3>
          </div>

          <p>
            Trong phần này chúng ta sẽ sử dụng các thuộc tính CSS để thiết lập vị trí của phần tử HTML và thêm font, màu
            nền cho trang thông qua đoạn mã dưới đây nhé:
          </p>

          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Open&nbsp;Sans',&nbsp;sans-serif;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#7f5a83;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-image:&nbsp;linear-gradient(315deg,&nbsp;white&nbsp;0%,&nbsp;#0d324d&nbsp;74%);<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100vh;<br/> }<br/>.container{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;150px&nbsp;auto&nbsp;0&nbsp;auto;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;max-width:&nbsp;1200px;<br/> }<br/>.tieu_de{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;400px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;400px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#99aeff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-size:&nbsp;cover;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-position:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;all&nbsp;0.4s&nbsp;ease-out;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-shadow:&nbsp;0px&nbsp;35px&nbsp;77px&nbsp;-17px&nbsp;rgb(0,&nbsp;0,&nbsp;0,&nbsp;0.4);<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;white;<br/> }<br/></code></pre>

          <p class="mt-4">
            Và kết quả đoạn mã CSS bạn xem ở dưới đây nhé:
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600057919/hieu_ung_hover_profile_card/hieu_ung_hover_profile_card_2_gcq8mm.png"
            alt="Hiệu Ứng Hover Profile Card 2">


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Căn Chỉnh Và Thiết Lập Style Cho Phần Tử Con Trong Profile Card
            </h3>
          </div>
          <p>
            Phần này chúng ta sẽ đi vào thiết lập style CSS cho các phần tử con trong profile card thông qua đoạn mã sau
            đây nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">.tieu_de&nbsp;img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;all&nbsp;0.4s&nbsp;ease-out;<br/> }<br/>.tieu_de&nbsp;.noi_dung&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;30px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;calc(100%&nbsp;-60px);<br/> }<br/>.tieu_de&nbsp;h2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;bold;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-shadow:&nbsp;2px&nbsp;2px&nbsp;10px&nbsp;rgba(0,0,0,0.3);<br/> }<br/>.tieu_de&nbsp;h3&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;20px&nbsp;0&nbsp;0&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateX(50px);<br/> }<br/>.tieu_de&nbsp;p&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;20px&nbsp;0&nbsp;0&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;25px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateX(-50px);<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition-delay:&nbsp;0.2s;<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem ở bên dưới nhé:
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600058191/hieu_ung_hover_profile_card/hieu_ung_hover_profile_card_3_sfydez.png"
            alt="Hiệu Ứng Hover Profile Card 3">

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Tạo Hiệu Ứng Hover Cho Profile Card
            </h3>
          </div>

          <p>
            Phần này chúng ta sẽ đi vào tạo hiệu ứng cho profile card thông qua đoạn mã sau đây nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">.chuyen_dong_text{<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;all&nbsp;0.6s&nbsp;ease-in-out;<br/> }<br/>.tieu_de:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-shadow:&nbsp;0px&nbsp;35px&nbsp;77px&nbsp;-17px&nbsp;rgba(0,0,0,0.64);<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(1.2);<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;10;<br/> }<br/>.tieu_de:hover&nbsp;img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;filter:&nbsp;blur(40px);<br/> }<br/>.tieu_de:hover&nbsp;.chuyen_dong_text{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;&nbsp;translateX(0);<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;1;<br/> }<br/></code></pre>
          <p class="mt-4">
            Kết quả bạn xem ở dưới đây nhé:
          </p>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600058530/hieu_ung_hover_profile_card/Hieu_Ung_Hover_Profile_Card_2020_rhf69b.mp4" allowfullscreen></iframe>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Lập Style CSS Cho Icon
            </h3>
          </div>
          <p>
            Bước cuối cùng chúng ta sẽ đi vào thiết kế lại icon mạng xã hội cũng như thêm hiệu ứng chuyển động cho nó thông qua đoạn mã sau đây nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">.icon&nbsp;ul{<br/> &nbsp;&nbsp;&nbsp;&nbsp;list-style-type:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp; }<br/> .icon&nbsp;ul&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;5px&nbsp;solid&nbsp;white;<br/> &nbsp;&nbsp;&nbsp;&nbsp;float:&nbsp;left;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;all&nbsp;0.5s&nbsp;ease;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;transform&nbsp;0.6s&nbsp;ease-out,&nbsp;opacity&nbsp;0.5s&nbsp;ease;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(100px)&nbsp;;<br/> }<br/>.icon&nbsp;ul&nbsp;li&nbsp;a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;white;<br/> }<br/>.tieu_de:hover&nbsp;.icon&nbsp;ul&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(0px);<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả cuối cùng bạn xem video bên dưới nhé:
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600058980/hieu_ung_hover_profile_card/Hieu_Ung_Hover_Profile_Card_2020_1_ifnvhd.mp4" allowfullscreen></iframe>
          </div>
          <p class="mt-4">
            Nếu bạn muốn xem trên Codepen thì có thể tham khảo <a href="https://codepen.io/haycuoilennao19/full/oNxyBOg" title="Hiệu Ứng Hover Profile Card">ở đây nhé!</a>
          </p>
          <p>
            Ngoài ra mình cũng có sưu tầm những thiết kế đẹp cho profile card, bạn có thể xem <a href="https://www.niemvuilaptrinh.com/article/Nhung-Profile-Card-Trong-Thiet-Ke-Va-Phat-Trien-Web-2020" title="profile card">ở đây nha!</a>
          </p>





















          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn về kiến thức tạo  hiệu ứng hover profile card
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>