<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Cách Thiết Kế Và Những Thư Viện Scrollbar Cho Trang Web (2020)</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Scollbar là một phần trong trình duyệt giúp chúng ta có thể xem được nội dung khi vượt quá màn hình của
                trang.
                Bây giờ chúng ta hãy cùng nhau đi vào tìm hiểu cách thiết kế một scrollbar trong trang web nhé!
              </i>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Những Nội Dung Cần Nắm Khi Thiết Kế Scrollbar
              </h3>
            </div>
            <p>
              <ul>
                <li>
                  <code>::-webkit-scrollbar</code>: thanh cuộn trong trang web để thiết lập style.
                </li>
                <li>
                  <code>::-webkit-scrollbar-button</code>: các nút trên thanh cuộn(mũi tên chỉ lên và chỉ xuống).
                </li>
                <li>
                  <code>::-webkit-scrollbar-thumb</code>: có thể thay đổi kích cỡ phần tử cuộn.
                </li>
                <li>
                  <code>::-webkit-scrollbar-track</code>: khoảng trống nằm bên dưới track (thanh tiến trình) của
                  scrollbar.
                </li>
                <li>
                  <code>::-webkit-scrollbar-track-piece</code>: phần trên cùng của thanh tiến trình không bị che bởi
                  thumb.
                </li>
                <li>
                  <code>::-webkit-scrollbar-corner</code>: góc dưới cùng của thanh cuộn, nơi mà hai scrollbar ngang và
                  dọc gặp nhau.
                </li>
                <li>
                  <code>::-webkit-resize</code>: chỉnh sửa lại kích thước có thể kéo được xuất hiện phía trên thanh cuộn
                  ở góc dưới cùng của một số phần tử.
                </li>
              </ul>
            </p>
            <p>
              Mình có một lưu ý nhỏ là các thuộc tính trên thì có thể sử dụng được trên trình duyệt là <b>Chrome, Edge,
                Safari</b>.
              Còn đối với trình duyệt <b>Firefox</b> thì chúng ta sử dụng các CSS Scrollbars API như là
              <code>scrollbar-color, scrollbar-width...</code>
              Cái này mình sẽ nói rõ hơn ở các ví dụ bên dưới nhé!
            </p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Xây Dựng Và Thiết Kế Scrollbar
              </h3>
            </div>

            <p>
              Bây giờ chúng ta sẽ đi vào thiết lập Scrollbar cho trang Web Bằng CSS nhé:
            </p>
            <pre><code class="css">/* Xác định độ rộng cho scrollbar*/<br/> ::-webkit-scrollbar {<br/> width: 8px;<br/> }<br/>/* Thiết lập màu nền xám cho Track (Thanh Tiến Trình)*/<br/> ::-webkit-scrollbar-track {<br/> background: LightGray;<br/> }<br/> /* chọn màu nền xanh cho thumb */<br/> ::-webkit-scrollbar-thumb {<br/> background: DodgerBlue;<br/> }<br/>/* tao hiều ứng thay đổi màu nền đỏ khi hover */<br/> ::-webkit-scrollbar-thumb:hover {<br/> background: Tomato;<br/> }</code></pre>
            <p class="mt-2">
              Và dưới đây là kết quả nha:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="result"
              data-user="haycuoilennao19" data-slug-hash="pogOQVm"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Ví Dụ Scrollbar">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/pogOQVm">
                  Ví Dụ Scrollbar</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Xây Dựng Và Thiết Kế Scrollbar Cho Firefox
              </h3>
            </div>
            <p>
              Để thiết kế lại scrollbar mặc định trên trình duyệt Firefox thì ta sẽ sử dụng hai yếu tố chính sau đây
              <code>scrollbar-color</code>: màu sắc cho thanh cuộn và <code>scrollbar-width</code>: xác định độ rộng cho
              scrollbar.
              Và dưới đây là ví dụ thiết kế scrollbar chạy trên Firefox nhé (Nhưng khi bạn muốn kiểm tra ví dụ này thì
              phải chuyển sang sử dụng Firefox thì mới thấy kết quả nha):
            </p>

            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="NWxLEoo"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="scrollbar cho Firefox">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/NWxLEoo">
                  scrollbar cho Firefox</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Cách Ẩn Scrollbar trên trình duyệt
              </h3>
            </div>
            <p>
              Nếu bạn muốn ẩn scrollbar nhưng vẫn cho phép người dùng có thể cuộn chuột xuống để xem nội dung trong
              trang thì có thể
              sử dụng thuộc tính sau nhé:
            </p>
            <pre><code class="css">/*Ẩn scrollbar trên Chrome, Safari và Opera*/<br/> body::-webkit-scrollbar {<br/> &nbsp; display:none;<br/> }<br/><br/> /*Ẩn scrollbar cho IE, Edge và Firefox*/<br/> body {<br/> &nbsp;-ms-overflow-style: none;  /* IE và Edge */;<br/> &nbsp; scrollbar-width: none;  /* Firefox */<br/> }</code></pre>
            <p class="mt-2">
              Và để dễ hình dùng hơn bạn xem ví dụ nhé:
            </p>

            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="mdVGQNK"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Ẩn Scrollbar">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/mdVGQNK">
                  Ẩn Scrollbar</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Xây Dựng Và Thiết Kế Scrollbar Với Thư Viện Overlay Scrollbars
              </h3>
            </div>
            <p>
              Bây giờ chúng ta sẽ đi vào xây dựng với thư viện Overlay Scrollbars để tạo thêm nhiều chức năng cũng như
              các thiết kế cho thanh cuộn nhé!
            </p>
            <p>
              Thư viện này ngoài sử dùng bằng Javascript thuần thì nó cũng có các phiên bản cho front-end framework phổ
              biển hiện nay như là React, Vue, Angular và Jquery.
              Một điểm mình cảm thấy nên sử dụng thư viện này là bạn có thể thiết kế scrollbar chạy trên nhiều trình
              duyệt khác nhau mà không cần phải xác định lại thuộc tính trong CSS.
            </p>
            <p>
              Đầu tiên chúng ta sẽ đi vào các cài đặt nhé (Ở đây mình sẽ sử dụng CDN):
            </p>
            <pre><code class="html"> &#60;script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.12.0/js/OverlayScrollbars.min.js"&#62;&#60;/script&#62;<br/> &#60;link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.12.0/css/OverlayScrollbars.min.css' /&#62;</code></pre>
            <p class="mt-2">
              Và bạn có thể xem chi tiết <a href="https://cdnjs.com/libraries/overlayscrollbars" target="_blank"
                title="CDN Overlay Scrollbars" rel="noopener noreferrer">ở đây nhé!</a>
            </p>
            <p>
              Và bước tiếp theo sau khi cài đặt thì chúng ta sẽ khởi tạo nó bằng lệnh Javascript như đoạn code sau đây
              nhé:
            </p>
            <pre><code class="javascript">document.addEventListener("DOMContentLoaded",&nbsp;function()&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;OverlayScrollbars(document.querySelectorAll('body'),&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;className:&nbsp;"os-theme-round-dark",<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;scrollbars&nbsp;:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;clickScrolling&nbsp;:&nbsp;true<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;});<br/> });<br/></code></pre>
            <p class="mt-2">
              Đoạn code Javascript ở trên sẽ được chạy mỗi khi trang web được tải thông qua sự kiện
              <code>DOMContentLoaded</code>.
              Và <code>className</code> là tên theme được thiết sẵn cho scrollbar được cung cấp bởi thư viện. Và bạn có
              thể xem chi tiết các theme
              <a href="https://kingsora.github.io/OverlayScrollbars/#!themes" title="theme Overlay Scrollbars"
                target="_blank" rel="noopener noreferrer">ở đây nhé</a>.
            </p>
            <p>
              Và kết quả cuối cùng của chúng ta:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="gOPdZoy"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Scrollbar su dung thu vien  Overlay Scrollbars">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/gOPdZoy">
                  Scrollbar su dung thu vien Overlay Scrollbars</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4">
              Các bạn có thể tìm hiểu thêm tại trang chủ của thư viện <a
                href="https://kingsora.github.io/OverlayScrollbars/#!overview" title="Overlay Scrollbars"
                target="_blank" rel="noopener noreferrer">Overlay Scrollbars</a>.
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Một Số Thư Viện Xây Dựng Scrollbar Khác
              </h3>
            </div>
            <p>
              Thư Viện Smooth Scrollbar: <a href="https://idiotwu.github.io/smooth-scrollbar/" target="_blank"
                rel="noopener noreferrer" title="Smooth Scrollbar">Đường Dẫn Thư Viện Smooth Scrollbar</a>
            </p>

            <p>
              Thư Viện SimpleBar : <a href="http://grsmto.github.io/simplebar/" target="_blank"
                rel="noopener noreferrer" title="SimpleBar ">Đường Dẫn Thư Viện SimpleBar </a>
            </p>

            <p>
              Thư Viện gemini-scrollbar : <a href="https://noeldelgado.github.io/gemini-scrollbar/" target="_blank"
                rel="noopener noreferrer" title="gemini-scrollbar ">Đường Dẫn Thư Viện gemini-scrollbar </a>
            </p>

            <p>
              Thư Viện fakescroll : <a href="http://yaireo.github.io/fakescroll/" target="_blank"
                rel="noopener noreferrer" title="fakescroll">Đường Dẫn Thư Viện fakescroll </a>
            </p>





            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kiến thức về scrollbar
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>