<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Cách Tạo Hiệu Ứng Hover Cho Danh Sách Phần 2</h2>
            </div>
          </div>


          <div class="text-content-article mt-5">
            <p><i>Ngày hôm nay chúng ta sẽ đi vào tìm hiểu cách tạo hiệu ứng hover cho danh sách(phần 2)
                bằng HTML, CSS và Javascript nhé!
              </i>
            </p>
          </div>
          <p>
            Nếu bạn muốn tham khảo phần 1 thì có thể truy cập đường dẫn bên dưới nha!<br/>
            <a href="https://www.niemvuilaptrinh.com/article/Cach-Tao-Hieu-Ung-Hover-Cho-Danh-Sach" title="Cách Tạo Hiệu Ứng Hover Cho Danh Sách">Cách Tạo Hiệu Ứng Hover Cho Danh Sách</a>
          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Cấu Trúc Phần Tử HTML Hiệu Ứng Hover </h3>
          </div>
          <p> Phần đầu tiên chúng ta sẽ đi vào tạo hai file là <code>index.html</code>(nơi lưu trữ HTML) và
            <code>style.css</code>(nơi lưu trữ mã CSS). Sau đó liên kết chúng với Google Font thông
            qua đoạn mã dưới đây nhé:
          </p>




          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html"> &#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/> &#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo Hiệu Ứng Hover Cho Danh Sách Phần 2&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &#60;/head&#62;<br/> &#60;body&#62;<br/> &#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>


      
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thêm Các Phần Tử HTML và CSS Cho Hiệu Ứng</h3>
          </div>
          <p>
           Trong phần này chúng ta sẽ thêm các phần tử HTML cần thiết để tạo hiệu ứng này cho trang web thông qua đoạn mã bên dưới nhé:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;div&nbsp;class="danh_sach"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;h1&#62;Hiệu&nbsp;Ứng&nbsp;Hover&nbsp;Cho&nbsp;Danh&nbsp;Sách&nbsp;Phần&nbsp;2&#60;/h1&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;span&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&#60;/span&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;span&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&#60;/span&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;span&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&#60;/span&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;span&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&#60;/span&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;span&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&#60;/span&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;span&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&#60;/span&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &#60;/div&#62;<br/></code></pre>
          <p class="mt-4">
            Bước tiếp theo chúng ta sẽ đi vào thiết lập vị trí, font chữ, màu sắc... cho nội dung của hiệu ứng này thông qua đoạn mã CSS bên dưới nha:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">*{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> }<br/>body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;min-height:&nbsp;100vh;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#1b2a49;<br/> }<br/>.danh_sach{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem hình ảnh ở bên dưới nhé:
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1602684012/hieu_ung_hover_danh_sach_2/hieu_ung_hover_danh_sach_phan_2_kn0ull.png"
          alt="Hiệu Ứng Hover Danh Sách 1"
        >
           
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thiết Lập Style Cho Danh Sách</h3>
          </div>
          <p>
           Trong Phần này chúng ta sẽ đi vào thiết lập style cho nội dung trong danh sách như thẻ <code>ul</code>, <code>li</code>, <code>span</code>... bằng đoạn mã CSS bên dưới nhé:
          </p>
          
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">.danh_sach&nbsp;h1{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> }<br/>.danh_sach&nbsp;ul{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> }<br/>.danh_sach&nbsp;ul&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#999;<br/> &nbsp;&nbsp;&nbsp;&nbsp;list-style:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;4px&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-left:&nbsp;2px&nbsp;solid&nbsp;#bada55;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> }<br/>.danh_sach&nbsp;ul&nbsp;li&nbsp;span{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;8px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> }<br/> .danh_sach&nbsp;ul&nbsp;li::before{<br/> &nbsp;&nbsp;&nbsp;&nbsp;content:&nbsp;'';<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#bada55;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scaleX(0);<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform-origin:&nbsp;left;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> }<br/></code></pre>
          <p class="mt-4">
            Kết quả của đoạn mã trên bạn xem ở bên dưới nha:
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1602684371/hieu_ung_hover_danh_sach_2/hieu_ung_hover_danh_sach_phan_2_2_cc8zod.png"
            alt="Hiệu Ứng Hover Danh Sách 2"
          >

    
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Hiệu Ứng Hover Cho Danh Sách</h3>
          </div>
          <p>
            Phần cuối cùng chúng ta sẽ sử dụng thuộc tính <code>transform: scaleX(0);</code> trong <code>li::before</code> của đoạn mã trên để làm hiệu ứng hover cho danh sách.
            Để hiểu rõ hơn bạn xem đoạn mã sau nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">.danh_sach&nbsp;ul&nbsp;li:hover::before{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scaleX(1);<br/> }<br/> .danh_sach&nbsp;ul&nbsp;li:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:10px;<br/> }<br/>.danh_sach&nbsp;ul&nbsp;li:hover&nbsp;span{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/></code></pre>
         

         
          <p class="mt-4">
            Và kết quả cuối cùng của hiệu này bạn xem video bên dưới nhé:
          </p>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1602684853/hieu_ung_hover_danh_sach_2/tao-hieu-ung-hover-cho-danh-sach-phan-2_tJNdggpq_v7gq2r.mp4" allowfullscreen></iframe>
          </div>

          <p class="mt-4">
            Và đây là dự án trên Codepen nhé: (Bạn phải chuyển sang chế độ screen 0.5x, 0.25x thì mới thấy rõ được hiệu ứng):
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="wvWMaqa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Tạo Hiệu Ứng Hover Cho Danh Sách Phần 2">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/wvWMaqa">
            Tạo Hiệu Ứng Hover Cho Danh Sách Phần 2</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>








          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
            href="https://codepen.io/haycuoilennao19/pen/wvWMaqa" target="_blank" rel="noopener noreferrer">Nguồn</a>
        </p>
       

          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kiến thức để tạo hiệu ứng hover cho danh sách
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>