<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i>Những Thư Viện CSS Và Javascript Phần 1</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Hôm nay chúng ta sẽ đi tìm hiểu thêm về những thư viện CSS và Javascript để phát triển web.</i>
            </p>
            <!--<div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>-->

            <p class="mt-4">
            Thư viện là tập hợp những đoạn mã được viết sẵn và có thể áp dụng vào dự án giúp tiết kiệm thời gian phát triển web của bạn.
           Nó có rất nhiều tiện ích, tính năng  giúp bạn tăng khả năng trải nghiệm người dùng khi sử dụng web cũng như những điều  bổ ích giúp chúng ta học thêm được nhiều điều mới hơn.

           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://github.com/kamranahmedse/developer-roadmap" title="Web Developer Road Map" target="_blank">Web Developer Road Map:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587564672/thu%20vien%20css%20js%20phan%201/ban-do-huong-dan-lap-trinh_zswxxn.png"
          alt="hướng phát triển lập trình">
           <p class="mt-4"> 
             Mục đích của road map là cung cấp cho bạn một con đường định hướng với 3 xu hướng là Front-end, Back-end, DevOps.
             Hồi đó mình cũng tự học HTML, CSS và Javascript rồi sau đó mình mơ hồ không biết học thêm cái gì để có thể lập trình và phát triển web.
             Bản đồ road map này đã giúp mình xác định được nên học cái gì tiếp theo cũng như cập như xu hướng ngôn ngữ nên học vào thời điểm hiện tại.
            Do nó ghi bằng tiếng anh nên bạn cần google dịch tí nhé và minh mong nó sẽ giúp được bạn có thể lựa chọn con đường lập trình 
            mà mình sẽ đi trong tương lai.<br />
            Đường dẫn ở đây nhé: <a href="https://github.com/kamranahmedse/developer-roadmap" title="Web Developer Road Map" target="_blank">Web Developer Road Map</a>
           </p>


           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://sweetalert2.github.io/" title="Sweet Alert 2" target="_blank">Sweet Alert 2:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587565581/thu%20vien%20css%20js%20phan%201/SweetAlert2_zaz9v7.png"
          alt="Tạo thông báo đẹp">
           <p class="mt-4"> 
            Sweet Alert 2 là thư viện giúp bạn tạo các thông báo đẹp mặt với nhiều chức năng và nó cũng responsive được trên
            nhiều màn hình thiết bị khác nhau. Và bạn cũng có thể chỉnh sửa tùy ý phù hợp với mục đích của mình.<br/>
            Đường dẫn ở đây nhé: <a href="https://sweetalert2.github.io/" title="Sweet Alert 2" target="_blank">Sweet Alert 2</a>
           </p>


           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://connoratherton.com/loaders" title="Loaders.css" target="_blank">Loaders.css:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587566555/thu%20vien%20css%20js%20phan%201/LoaderCss_frpawn.png"
          alt="Thư Viện Loader Css">
           <p class="mt-4"> 
            Loader.css là bộ sưu tập những hiệu ứng chuyển động spinners với hơn 25 thiết kế. Do chỉ sử dụng CSS thiết kế nên bạn có thể dễ dàng 
            áp dụng và tùy chỉnh cho trang web của mình.<br/>
            Đường dẫn ở đây nhé: <a href="https://connoratherton.com/loaders" title="Loaders.css" target="_blank">Loaders.css:</a>
           </p>


           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://lodash.com/" title="Lodash" target="_blank">Lodash:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587568389/thu%20vien%20css%20js%20phan%201/Lodash_asheri.png"
          alt="Thư Viện  Lodash">
           <p class="mt-4"> 
            Lodash là một thư viện Javascript giúp chúng ta có thể dễ dàng hơn khi làm việc với mảng, chuỗi hay đối tượng(object) trong Javascript...
            Nó giúp bạn tăng hiệu suất, mã code của chúng ta sẽ dễ đọc hơn với số lượng dòng được giảm đáng kể và nó cũng hoạt động trên tất cả các trình duyệt.  
            <br/>
            Đường dẫn ở đây nhé:  <a href="https://lodash.com/" title="Lodash" target="_blank">Lodash</a>.
           </p>


           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://bulma.io/" title="Bulma" target="_blank">Bulma:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587569146/thu%20vien%20css%20js%20phan%201/Bulma-CSS-Framework_rwx1ky.png"
          alt="Thư Viện  Bulma">
           <p class="mt-4"> 
           Bulma là một framework CSS đang phát triển với tốc độ mạnh mẽ với việc chỉ sử dụng CSS dựa trên tính năng <b>Flexbox</b> trong framework. 
           Nó là mã nguồn mở nên bạn có thể tải về và sử dụng miễn phí chỉ với 1 file bulma.css và khoảng 200.000 lập trình viên tin tưởng sử dụng.
            <br/>
            Đường dẫn ở đây nhé:    <a href="https://bulma.io/" title="Bulma" target="_blank">Bulma</a>.
           </p>


           
           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://plyr.io/" title="Plyr" target="_blank">Plyr:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587571266/thu%20vien%20css%20js%20phan%201/Thu-Vien-Javascript-Plyr_jolr4o.png"
          alt="Thư Viện  Plyr">
           <p class="mt-4"> 
           Plyr là một thư viện javascript giúp bạn có thể phát nhiều loại dạng video khác nhau HTML5, Vimeo, Youtube. Và bạn có thể chỉnh sửa 
           thiết kế lại phù hợp với thiết kế của trang web. Điểm yêu thích nữa mà mình thích ở nó là kích thước nhẹ, có thể chạy trên đa số trình duyệt và responsive trên nhiều màn hình thiết bị khác nhau.
            <br/>
            Đường dẫn ở đây nhé:       <a href="https://plyr.io/" title="Plyr" target="_blank">Plyr</a>.
           </p>


           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://nhn.github.io/tui.calendar/latest/tutorial-example00-basic" title="Toast UI Calendar" target="_blank">Toast UI Calendar:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587572352/thu%20vien%20css%20js%20phan%201/Thu-Vien-Javascript-Toast-Calendar_muod8t.png"
          alt="Thư Viện Toast UI Calendar">
           <p class="mt-4"> 
           Toast UI Calendar giúp chúng ta tạo lịch(calendar) trên trang web với nhiều tiện ích như hỗ trợ xem theo ngày, tháng, tuần, tháng, hỗ trợ tùy chỉnh giao diện UI theo
           chủ đề có sẵn, giúp quản lý hiệu quả  lịch trình công việc...
            <br/>
            Đường dẫn ở đây nhé:                    <a href="https://nhn.github.io/tui.calendar/latest/tutorial-example00-basic" title="Toast UI Calendar" target="_blank">Toast UI Calendar</a>.
           </p>


           
           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="http://kenwheeler.github.io/slick/" title="Slick" target="_blank">Slick:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587573564/thu%20vien%20css%20js%20phan%201/Thu-Vien-Javascript-slick_ilgc3r.png"
          alt="Thư Viện Slick">
           <p class="mt-4"> 
          Slick là một thư viện giúp chúng ta tạo carousel/slider với độ tùy chỉnh cao, thân thiện với di động và responsive trên nhiều màn hinh thiết bị khác nhau.
          Nó có rất nhiều tính năng giúp bạn có sự lựa chọn đa dạng hơn trong việc đưa vào sử dụng trong trang web của bạn.
            <br/>
            Đường dẫn ở đây nhé:                               <a href="http://kenwheeler.github.io/slick/" title="Slick" target="_blank">Slick</a>.
           </p>



           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://sachinchoolur.github.io/lightgallery.js/" title="Lightgallery" target="_blank">Lightgallery:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587574826/thu%20vien%20css%20js%20phan%201/Thu-Vien-Javascript-lightgallery_d60s56.png"
          alt="Thư Viện Lightgallery">
           <p class="mt-4"> 
         Lightgallery giúp bạn tạo ra các bộ sưu tập hình ảnh đẹp mắt với kích thước nhỏ gọn. Nó có các chức năng hỗ trợ phóng to, thu nhỏ,
         tải trước hình ảnh và tối ưu, hiển thị trên nhiều màn hình thiết bị, dễ dàng tùy chỉnh thông qua CSS...
            <br/>
            Đường dẫn ở đây nhé: <a href="https://sachinchoolur.github.io/lightgallery.js/" title="Lightgallery" target="_blank">Lightgallery</a>.
           </p>


           <div class="row">
            <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">
               <a href="https://momentjs.com/" title="Moment JS" target="_blank">Moment JS:</a>
              </h4>
            </div>
          </div>
          
          <img class="img-thumbnail shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587575319/thu%20vien%20css%20js%20phan%201/Thu-Vien-Javascript-Moment_bzjbud.png"
          alt="Thư Viện Momentjs">
           <p class="mt-4"> 
         Moment JS là mã nguồn mở miễn phí giúp chúng ta dễ dàng xử lý các thông tin thời gian một cách nhanh chóng và hiệu quả hơn.
         Nó có rất nhiều các chức năng để giải quyết các vấn đề ngày giờ khi bạn gặp phải trong việc phát triển web.
            <br/>
            Đường dẫn ở đây nhé: <a href="https://momentjs.com/" title="Moment JS" target="_blank">Moment JS</a>.
           </p>






            

                
  






























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>

            <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc phát triển 
              trang web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>