<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Công Cụ Tạo Logo Online, Miễn Phí Cho Website</h2>
            </div>
          </div>


          <div class="text-content-article mt-5">
            <p><i>Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu những công cụ tạo logo online, miễn phí
                được sử dụng phổ biến trong thiết kế cũng như được các nhà thiết kế web, designer tin tưởng dùng trong
                phát triển website nhé!

              </i>
            </p>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Logo Là Gì Và Tại Sao Chúng Ta Nên Sử Dụng Chúng Cho
              Website?</h3>
          </div>
          <p>
            <b>Logo</b> là một biểu tượng thương hiệu. Nó được tạo nên bằng sự kết hợp của nhiều thành phần như là văn
            bản, hình ảnh, màu sắc, các ký
            tự đặc biệt... Với nhiệm vụ chính là giúp khách hàng có thể phân biệt được thương hiệu website của bạn so
            với các trang web khác.
          </p>
          <p>
            Dưới đây là một số lý do bạn nên sử dụng logo cho website của mình nhé:
          </p>
          <ul>
            <li>Tạo ấn tượng đầu tiên khi người dùng sử dụng website của bạn.</li>
            <li>Giúp người dùng có thể dễ dàng nhớ tới bạn hơn.</li>
            <li>Giúp bạn có thể truyền tải thông điệp tới khách hàng một cách dễ dàng.</li>
            <li>Tạo độ tin cậy cho website của bạn.</li>
            <li>Tạo sự khác biệt so với các trang website khác.</li>
          </ul>
          <p>
            Bây giờ chúng ta sẽ đi vào tìm hiểu các trang web, công cụ online giúp bạn có thể dễ dàng tạo logo cho
            website một cách nhanh chóng dễ dàng và miễn phí nhé!
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Canva
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603253461/cong_cu_tao_logo/Trang_Web_Canva_cnvoqf.png"
              alt="Trang Web Tạo Logo  Canva">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.canva.com/create/logos/"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Squarespace
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603253687/cong_cu_tao_logo/Trang_Web_Squarespace_f6qnpy.png"
              alt="Trang Web Tạo Logo  Squarespace">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.squarespace.com/logo"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Hatchful
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603263228/cong_cu_tao_logo/Hatchful_xw6wcz.png"
              alt="Trang Web Tạo Logo  Hatchful">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://hatchful.shopify.com/"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Zyro
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603263086/cong_cu_tao_logo/Trang_Web_Zyro_eetdt4.png"
              alt="Trang Web Tạo Logo  Zyro">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://zyro.com/logo-maker"
              target="_blank">Nguồn Download</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Ucraft
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603263468/cong_cu_tao_logo/Ucraft_rjx9st.png"
              alt="Trang Web Tạo Logo  Ucraft">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.ucraft.com/free-logo-maker"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Namecheap
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603263697/cong_cu_tao_logo/Namecheap_izmz9l.png"
              alt="Trang Web Tạo Logo  Namecheap">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.namecheap.com/logo-maker/"
              target="_blank">Nguồn Download</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Freelogodesign
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603263937/cong_cu_tao_logo/Freelogodesign_e7mgnc.png"
              alt="Trang Web Tạo Logo  Freelogodesign">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.freelogodesign.org/"
              target="_blank">Nguồn Download</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Designevo
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603264059/cong_cu_tao_logo/Designevo_nhsbqn.png"
              alt="Trang Web Tạo Logo  Designevo">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.designevo.com/logo-maker/"
              target="_blank">Nguồn Download</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Wix Logo Maker
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603264299/cong_cu_tao_logo/Wix_Logo_Maker_fwjbqt.png"
              alt="Trang Web Tạo Logo  Wix Logo Maker">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.wix.com/logo/maker"
              target="_blank">Nguồn Download</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Logogarden
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603264514/cong_cu_tao_logo/Logogarden_pywx9b.png"
              alt="Trang Web Tạo Logo  Logogarden">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.logogarden.com/"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web MarkMaker
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603264706/cong_cu_tao_logo/MarkMaker_oqyof5.png"
              alt="Trang Web Tạo Logo  MarkMaker">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://emblemmatic.org/markmaker/#/"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Onlinelogomaker
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603264838/cong_cu_tao_logo/Onlinelogomaker_fiugwa.png"
              alt="Trang Web Tạo Logo  Onlinelogomaker">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.onlinelogomaker.com/"
              target="_blank">Nguồn Download</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Looka
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603265041/cong_cu_tao_logo/Looka_lonzdc.png"
              alt="Trang Web Tạo Logo  Looka">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://looka.com/logo-maker/"
              target="_blank">Nguồn Download</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Fiverr
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603265180/cong_cu_tao_logo/Fiverr_hj18vr.png"
              alt="Trang Web Tạo Logo  Fiverr">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.fiverr.com/logo-maker"
              target="_blank">Nguồn Download</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Fotojet
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603265386/cong_cu_tao_logo/Fotojet_vwehcy.png"
              alt="Trang Web Tạo Logo  Fotojet">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.fotojet.com/features/logo/"
              target="_blank">Nguồn Download</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Adobe Spark
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603265605/cong_cu_tao_logo/Adobe_Spark_j7bda7.png"
              alt="Trang Web Tạo Logo   Adobe Spark">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://spark.adobe.com/make/logo-maker/"
              target="_blank">Nguồn Download</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Trang Web Logogenie
            </h3>
          </div>
          <p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603265696/cong_cu_tao_logo/Logogenie_tq0d4z.png"
              alt="Trang Web Tạo Logo   Logogenie">
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.logogenie.net/"
              target="_blank">Nguồn Download</a></p>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Trang Web Logocrisp
                </h3>
              </div>
              <p>
                <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                  data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603265794/cong_cu_tao_logo/Logocrisp_vvatrb.png"
                  alt="Trang Web Tạo Logo   Logocrisp">
              </p>
    
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.logocrisp.com/"
                  target="_blank">Nguồn Download</a></p>

                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">
                      Trang Web Tailor Brands
                    </h3>
                  </div>
                  <p>
                    <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                      data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603266193/cong_cu_tao_logo/Tailor_Brands_vjhuin.png"
                      alt="Trang Web Tạo Logo   Tailor Brands">
                  </p>
        
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.tailorbrands.com/"
                      target="_blank">Nguồn Download</a></p>
                     





          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những trang web tạo logo online miễn phí
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>