<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Thư Viện Và Cách Sử Dụng Cho Phát Triển Web (2020) </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Trong bài này chúng ta sẽ cùng nhau đi vào tìm hiểu các thư viện cũng như cách sử dụng của nó để áp dụng
                vào việc phát triển web nhằm giúp bạn
                có thể giảm được thời gian và công sức trong quá trình viết mã. Nào bây giờ chúng ta hãy cùng nhau đi
                vào tìm hiểu nhé!
              </i>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Thư Viện Btn.css
              </h3>
            </div>
            <p>
              <b>Btn.css</b> là một thư viện giúp bạn có thể thiết kế cũng như tạo ra các hiệu ứng đẹp mắt cho button
              trong trang web một cách dễ dàng.
              Để sử dụng trực tiếp vào trang HTML thì bạn sử dụng đường dẫn CDN ở dưới đây nhé:
            </p>
            <pre><code class="html">&#60;link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bttn.css/0.2.4/bttn.css"&#62;</code></pre>
            <p>
              Sau khi thiết lập xong thì bạn chỉ cần việc gọi <code>class</code> của các button mình muốn là có thể sử
              dụng được rồi.
              Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
            </p>

            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="WNrmNyp"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Một số kiểu button  của thư viện btncss">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/WNrmNyp">
                  Một số kiểu button của thư viện btncss</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Ngoài ra nó cũng cung cấp cho chúng ta một số màu cơ bản để bạn có thể dễ dàng lựa chọn phù hợp cho trang
              web của mình
              Và để hiểu rõ hơn bạn xem ví dụ dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="BajbyBW"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Màu sắc button của thư viện btn css">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/BajbyBW">
                  Màu sắc button của thư viện btn css</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <p class="mt-4">
              Ngoài việc thiết lập kích cỡ button bằng CSS thì thư viện này cũng cung cấp cho chúng ta một số class để
              điều chỉnh kích thước của button. Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="YzwgPyy"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Kích thước của button thư vien btn css">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/YzwgPyy">
                  Kích thước của button thư vien btn css</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-2">
              Để xem thêm nhiều hiệu ứng khác thì bạn có thể truy cập <a href="https://bttn.surge.sh/" title="btn.css"
                target="_blank">ở đây nhé</a>!
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Công Cụ Generator Shadow
              </h3>
            </div>
            <p>
              Nếu như bạn cần thiết lập thuộc tính shadow cho một đối tượng trong trang web thì có thể sử dụng công cụ
              này nhé.
              Nó cung cấp cho bạn các thuộc tính để có thể tình chỉnh shadow và sau đó sẽ generator đoạn mã CSS tương
              ứng. Để hiểu rõ hơn bạn xem hình sau đây nha:
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595508778/thu-vien-phat-trien-web-phan-1/Generator_Shadow_ae5rrc.png"
              alt="Generator Shadow">

            <button type="button " class="btn btn-outline-dark mt-4"> <a title="Generator Shadow"
                href="https://brumm.af/shadows" target="_blank"> Nguồn </a> </button>


                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Thư Viện Sharect
                  </h3>
                </div>
                <p>
                  <b>Sharect</b> giúp bạn có thể lựa chọn nội dung trong trang web và  chia sẽ ngay lập tức trên các mạng xã hội phổ biến hiện nay như 
                  Facebook, Reddit, Twitter... Để thiết lập cho trang web thì bạn chèn đường dẫn CDN ở dưới đây nhé:
                </p>
                <pre><code class="html">&#60;script src="https://unpkg.com/sharect@2.0.0/dist/sharect.min.js"&#62;&#60;/script&#62;</code></pre>
                <p class="mt-4">
                  Khi đó bạn chỉ cần gọi <code>Sharect.init()</code> là đã có thể thiết lập chia sẻ nội dung cho trang web rồi. Và mình có lưu ý nhỏ là 
                  đối với kiểu thiết lập mặc định này thì nó sẽ được chia sẻ trên hai nên tảng mảng xã hội là Facebook và Twitter. Để hiểu rõ hơn bạn xem 
                  ví dụ sau đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="NWxJgpx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sử dụng thư viện Sharect">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/NWxJgpx">
                  Sử dụng thư viện Sharect</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Ngoài ra thư viện cũng cung cấp cho bạn một số thuộc tính để thiết kế lại màu sắc cho icon cũng như background của nút chia sẻ với 
                  <code>backgroundColor</code> và <code>iconColor</code>. Để hiểu rõ hơn bạn xem ví dụ cách thiết lập dưới đây nhé:
                </p>
                <pre><code class="javascript">Sharect.config<br/> ({<br/> &nbsp;&nbsp;facebook:&nbsp;true,<br/> &nbsp;&nbsp;twitter:&nbsp;true,<br/> &nbsp;&nbsp;backgroundColor:&nbsp;'#1E90FF',<br/> &nbsp;&nbsp;iconColor:&nbsp;'#FFF',<br/> }).init()<br/></code></pre>
                <p class="mt-4">
                  Và kết quả bạn xem dưới đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="dyGrRzw" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="thay doi mau cho icon và background cua thu vien sharect">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/dyGrRzw">
                  thay doi mau cho icon và background cua thu vien sharect</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Nếu bạn muốn tham khảo thêm thì có thể truy cập <a href="https://estevanmaito.github.io/sharect/" title="Thư viện Sharect" target="_blank">ở đây nhé</a>!
                </p>

                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Thư Viện Matter
                  </h3>
                </div>
                <p>
                  <b>Matter</b> được xây dựng bằng CSS với mục đích là hướng tới thiết kế Material  cho trang web của bạn. 
                  Với kích thước nhỏ gọn giúp bạn có thể tối ưu hiệu suất khi sử dụng thư viện. Và để thiết lập thì bạn sử dụng CDN dưới đây nhé:
                </p>
                <pre><code class="html">&#60;link href="https://res.cloudinary.com/finnhvman/raw/upload/matter/matter-0.2.2.min.css" rel="stylesheet"&#62;</code></pre>
                <p class="mt-4">
                  Sau đó bạn chỉ cần gọi các class được thư viện cung cấp cho đối tượng trong web là có thể sử dụng được rồi. Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="gOPERqa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="gOPERqa">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/gOPERqa">
                  gOPERqa</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Và để tham khảo thêm những component khác  thì bạn truy cập <a href="https://github.com/finnhvman/matter" title="thư viện matter" target="_blank">ở đây nhé!</a>
                </p>

                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Thư Viện shareon
                  </h3>
                </div>
                <p>
                  <b>Shareon</b> giúp bạn có thể tạo ra những nút chia sẻ nội dung một cách dễ dàng cho những mạng xã hội phổ biến hiện nay như là Facebook, Twitter,
                  Linkedin... Và để thiết lập thì chúng ta cần sử dụng hai đường dẫn CDN sau đây:
                </p>
                <p class="text-primary">CSS</p>
                <pre><code class="html">&#60;link href="https://cdn.jsdelivr.net/npm/shareon@1.2.1/dist/shareon.min.css" rel="stylesheet"&#62;</code></pre>
                  <p class="text-primary mt-4">Javascript</p>
                  <pre><code class="html">&#60;script src="https://cdn.jsdelivr.net/npm/shareon@1.2.1/dist/shareon.min.js" type="text/javascript"&#62;&#60;/script&#62;</code></pre>
                <p class="mt-4">
                  Đối với file Javascript thì bạn nên đặt dưới cùng của trang để tối ưu hiệu suất cho trang web. Và để dễ hình dung bạn xem đoạn code sau nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="rNxRzzP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sử dụng Thư Viện Shareon">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/rNxRzzP">
                  Sử dụng Thư Viện Shareon</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Ở đây mình có một số lưu ý là:
                  <ul>
                    <li><code>data-url</code>: là đường dẫn mà bạn muốn người dùng chia sẻ.</li>
                    <li><code>data-title</code>: là tiêu đề cho đường dẫn được chia sẻ trên mạng xã hội.</li>
                  </ul>
                </p>
                <p>
                  Các nút này theo mình thấy là hay được sử dụng trong các bài viết trên blog hoặc website với nhiệm vụ là  giúp người dùng dễ dàng chia sẻ bài viết lên các trang mạng xã hội 
                  nhằm tăng thêm lưu lượng truy cập cho trang web của bạn. Và nếu bạn muốn tìm hiểu thêm thì truy cập 
                  <a href="https://shareon.js.org/" title="thư viện shareon" target="_blank">ở đây nhé!</a>
                </p>
		
                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Thư Viện Quotebacks
                  </h3>
                </div>
                <p>
                  Thư viện <b>Quotebacks</b> giúp bạn có thể tạo trích dẫn đẹp cho trang web của bạn. Và để sử dụng trực tiếp trong 
                  trang HTML thì bạn thiết lập đoạn CDN dưới đây nhé:
                </p>
                <pre><code class="html">&#60;script note="" src="https://cdn.jsdelivr.net/gh/Blogger-Peer-Review/quotebacks@1/quoteback.js"&#62;&#60;/script&#62;</code></pre>
                <p class="mt-4">
                  Và để dễ hình dung bạn xem qua ví dụ dưới đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="VweRrYG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sử dụng thư viện Quotebacks">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/VweRrYG">
                  Sử dụng thư viện Quotebacks</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Ở đây mình có một số lưu ý là:
                  <ul>
                    <li><code>data-title</code>: Tiêu đề cho trích dẫn</li>
                    <li><code>data-author</code>: Tên tác giả của trích dẫn</li>
                    <li><code>href</code> trong footer chính là đường dẫn của bài viết.</li>
                  </ul>
                </p>
                <p>
                  Do để thuận lợi cho việc tạo trích dẫn thì tác giả của thư viện đã tạo một công cụ cung cấp đầy đủ các thông tin ở trên.
                  Bạn chỉ việc nhập vào và đoạn mã tương ứng sẽ được xuất ra. Để sử dụng dụng công cụ đó bạn xem <a href="https://quotebacks.net/" title="quotebacks" target="_blank">ở đây nhé!</a>
                </p>
                <p>
                  Nếu bạn muốn thay đổi một số thuộc tính thì thư viện chưa cung cấp được, do đó bạn cần tải file javascript của nó về 
                  để chỉnh sửa nhé. <a href="https://cdn.jsdelivr.net/gh/Blogger-Peer-Review/quotebacks@1/quoteback.js" title="quotebacks" target="_blank">Đường dẫn file Javascript thư viện Quotebacks</a>
                </p>

                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Thư Viện SweetAlert
                  </h3>
                </div>
                <p>
                  <b>SweetAlert</b> giúp bạn tạo ra thông báo đẹp mắt cho trang web cũng như cung cấp nhiều hiệu ứng animation độc đáo cho thông báo của bạn.
                  Và để sử dụng trực tiếp vào trang HTML thì bạn thiết lập đường dẫn CDN dưới đây nhé:
                </p>
                <pre><code class="html">&#60;script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"&#62;&#60;/script&#62;</code></pre>
                <p class="mt-4">
                  Và để dễ hình dung bạn xem ví dụ sau đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="WNrmXzG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sử dụng sweetalert cơ bản">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/WNrmXzG">
                  Sử dụng sweetalert cơ bản</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Ở đây mình có lưu ý là thông báo được tạo từ thư viện sẽ có cấu trúc chung như sau <code>swal("Nội dung thông báo")</code>.<br/>
                  Nếu bạn muốn tạo một thông báo được chia thành 2 phần bao gồm  nội dung và tiêu đề thì sẽ sử dụng cấu trúc sau:
                  <br/>
                  <code>swal({title: "Tiêu đề"}, {text: "Nội dung"})</code>
                </p>
                <p>
                  Và để dễ dàng hình dung bạn xem ví dụ sau đây nhé:
                </p>

                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="haycuoilennao19" data-slug-hash="mdVoqzd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="su dung sweetalert phan 2">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/mdVoqzd">
                  su dung sweetalert phan 2</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>

                <p class="mt-4">
                  Ngoài ra thư viện này còn cung cấp cho chúng ta một số icon giúp người dùng có thể dễ dàng hiểu được loại thông báo như là 
                  <ul>
                    <li><code>success</code>: thành công</li>
                    <li><code>warning</code>: cảnh báo </li>
                    <li><code>info</code>: thông tin </li>
                    <li><code>error</code>: lỗi </li>
                  </ul>
                </p>
                <p>
                  Và chúng ta sẽ có cấu trúc khi thêm các icon này là:  <code>swal({title: "Tiêu đề"}, {text: "Nội dung"}, {icon: "Tên Icon"})</code>.<br/>
                  Để dễ hình dung bạn xem đoạn code sau đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="haycuoilennao19" data-slug-hash="wvMOPNz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="su dung sweetalert phan 3">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/wvMOPNz">
                  su dung sweetalert phan 3</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Nếu bạn không thấy rõ thì chuyển sang chế độ 0.5x và 0.25 nha. Nếu bạn muốn tham khảo thêm thì truy cập 
                  <a href="https://sweetalert.js.org/guides/" title="thư viện sweetalert" target="_blank">ở đây nhé</a>.
                </p>


                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Csseffects
                  </h3>
                </div>
                <p>
                  Đây là một bộ sưu tập những hiệu ứng đẹp mắt được viết bằng CSS thuần nên dễ dàng có thể áp dụng cho nhiều loại dự án web khác nhau. Bạn chỉ việc chọn hiệu ứng 
                  thì đoạn mã CSS sẽ tự động copy vào bộ nhớ RAM của máy tính(như khi ta dùng chức năng copy trên máy tính).
                </p>

                <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595587742/thu-vien-phat-trien-web-phan-1/Csseffects_whmmp9.png"
                alt="Csseffects">

                <button type="button " class="btn btn-outline-dark mt-4"> <a title="Csseffects"
                  href="https://emilkowalski.github.io/css-effects-snippets/" target="_blank"> Nguồn </a> </button>


                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">
                      Tabler Icons
                    </h3>
                  </div>
                  <p>
                   Đây là một bộ sưu tập hơn 500 icon cho trang web của bạn. Ngoài ra nó còn có công cụ giúp chúng ta có thể chỉnh sủa màu sắc,
                   kích thước, độ dày của icon một cách dễ dàng. Để dễ hình dung bạn xem hình ảnh bên dưới nhé!
                  </p>
  
                  <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                  data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595588219/thu-vien-phat-trien-web-phan-1/Tabler_Icons_dli33b.png"
                  alt=" Tabler Icons">
  
                  <button type="button " class="btn btn-outline-dark mt-4"> <a title=" Tabler Icons"
                    href="https://tablericons.com/" target="_blank"> Nguồn </a> </button>
  






















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thư viện và công cụ
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>