<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">



        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i> Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu nhưng công cụ, thư viện hay và hữu ích dành
                      cho việc phát triển và thiết kế web (phần 4) nhé! </i></b></p>
                <hr>
              </div>
            </div>
          </div>
          <p> <mark>Nếu bạn muốn tham khảo các công cụ và thư viện phát triển web phần 3 thì truy cập đường dẫn bên dưới
              nhé!</mark><br> <a
              href="http://localhost:3000/article/thu-vien-va-cong-cu-phat-trien-web-phan-3"
              title="Thư Viện Và Công Cụ Phát Triển Web (Phần 3) ">Thư Viện Và Công Cụ Phát Triển Web (Phần 3)</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Free Favicon Maker
          </h2>
         <p>
          
           Favicon là một <b>logo nhỏ</b> được hiển thị trên tab trình duyệt khi người dùng truy cập trang web của bạn.
           Và nó thường được đặt trong thẻ <code>head</code> với định dạng là:
         </p>
     
         <pre><code class="html"> &#60;link rel="icon" href="http://www.yourwebsite.com/favicon.png"&#62;</code></pre>
         <p class="mt-4">
          Ngoài ra bạn có thể sử dụng định dạng khác như svg... Ở đây mình muốn giới thiệu đến bạn một công cụ 
          giúp tạo ra favicon dễ dàng, thiết kế đẹp mắt và hoàn toàn miễn phí là <b>  Free Favicon Maker</b>.
         </p>
          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/Free%20Favicon%20Maker.png"
            alt="Free Favicon Maker">

          <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Free Favicon Maker" target="_blank"
              href="https://formito.com/tools/favicon"
             >Nguồn</a></p>

             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              The good line-height
            </h2>
            <p>
              <b>The good line-height</b> giúp bạn có cái nhìn trực quan hơn về việc sử dụng thuộc tính <code>line-height</code>
              cho các đoạn văn bản trong trang web. Nó cung cấp 3 thuộc tính chính để bạn chỉnh sửa là 
              <ul>
                <li>Font size: Kích thước chữ.</li>
                <li>Multiplier: Khoảng cách giữa các dòng.</li>
                <li>Grid row height: Xác định đường kẻ trong grid.</li>
              </ul>
            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/The%20good%20line-height.png"
            alt="The good line-height">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="The good line-height" target="_blank"
              href="https://www.thegoodlineheight.com/"
             >Nguồn</a></p>

             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              CSS 3D Transform
            </h2>
            <p>
              Đây là một bộ sưu tập về những cách sử dụng thuộc tính <b><code>perspective</code></b> để tạo ra các đối tượng 3D cho trang web.
              Phần mình cảm thấy thích nhất ở đây là mỗi đoạn mã đề có ví dụ cụ thể kế bên. Việc này sẽ giúp bạn có thể dễ dàng hình dung 
              đối tượng hơn cũng như xem cái nào phù hợp để áp dụng cho trang web của mình.
            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/CSS%203D%20Transform.png"
            alt=" CSS 3D Transform">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="CSS 3D Transform" target="_blank"
              href="https://polypane.app/css-3d-transform-examples/"
             >Nguồn</a></p>


             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              Good Web Design
            </h2>
            <p>
              <b>Good Web Design</b> là một website tập hợp nhiều thiết kế đẹp mắt dành cho <b>landing page</b> và được chia thành nhiều phần như là 
              CTA(Call to action), navbar, footer, case study...
            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/Good%20Web%20Design.png"
            alt=" Good Web Design">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Good Web Design" target="_blank"
              href="https://www.goodweb.design/"
             >Nguồn</a></p>


          


             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              BGJar
            </h2>
            <p>
              <b>  BGJar</b> là một công cụ online giúp bạn có thể tạo ra các background SVG dễ dàng và nhanh chóng cho trang web.
              Bạn chỉ cần chỉnh sửa các thông tin cần thiết thì web app sẽ tự động xuất hình ảnh hoặc đoạn mã cho bạn để áp dụng vào website.
            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/BGJar.png"
            alt="BGJar">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="BGJar" target="_blank"
              href="https://bgjar.com/"
             >Nguồn</a></p>

             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              Bootstrap Icons
            </h2>
            <p>
             Lúc trước <b>Bootstrap Icons</b> ra đời để phục vụ nhu cầu xây dựng  các component, documentation.. của Bootstrap.
             Tuy nhiên ngày nay thì nó cũng có thể sử dụng cho nhiều dự án khác thông qua việc các icon được định dạng theo kiểu <b>SVG</b>.
             Nó sẽ giúp bạn có thể dễ dàng thiết lập style cho icon thông qua CSS và không sợ bị tình trang vỡ ảnh.


            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/Bootstrap%20Icons.png"
            alt="Bootstrap Icons">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Bootstrap Icons" target="_blank"
              href="https://icons.getbootstrap.com/"
             >Nguồn</a></p>



             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              Squircley
            </h2>
            <p>
           <b>Squircley</b> giúp bạn tạo các hình dạng đẹp mắt cho đối tượng ở trong web  như là background, icon, logo...


            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/Squircley.png"
            alt="Squircley">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Squircley" target="_blank"
              href="https://squircley.app/"
             >Nguồn</a></p>


             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              mailgo
            </h2>
            <p>
           Thông thường khi bạn mở đường dẫn <b>mail</b>  thì trình duyệt sẽ sử dụng <b>ứng dụng mặc định</b> để mở trình soạn thảo gửi email.
           Còn đối  với <b>mailgo</b> thì bạn có thiết lập các lựa chọn giúp người dùng có thể mở các trình soạn thảo email khác như Gmail, Outlook... hay mở mặc định.
           Ngoài sử dụng cho thẻ  <code>a href="mailto:"</code> thì nó cũng có thể sử dụng với <code>href="tel:"</code> nữa nhé!
           


            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/mailgo.png"
            alt="mailgo">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="mailgo" target="_blank"
              href="https://mailgo.dev/"
             >Nguồn</a></p>


             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              Forge Icon
            </h2>
            <p>
          <b>Forge Icon</b> là nơi kết kết hợp nhiều loại icon khác nhau dành cho dự án web của bạn như là thương mại điện tử, du lịch, mạng xã hội, 
          thiết kế app...

            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/Forge%20Icon.png"
            alt="Forge Icon">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Forge Icon" target="_blank"
              href="https://icons.theforgesmith.com/"
             >Nguồn</a></p>


             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
             GooFonts
            </h2>
            <p>
            Đối với Font thì mình hay sử dụng nhất là Google Font. Vừa miễn phí và vừa có rất nhiều font đẹp.
            Tuy nhiên với số lượng Font khổng lồ như vậy thì việc bạn có thể tìm ra được một font ưng ý cho 
            trang web  sẽ thật sự rất khó khăn đấy.<br/>
            Do đó mình muốn giới thiệu đến bạn một công cụ tên là <b>GooFonts</b>. Nó sẽ có nhiệm vụ chia các loại font của Google Font 
            thành nhiều mảng nhỏ như là font dành cho báo chí, trường học,  hoạt hình, logo...

            </p>
            <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/GooFonts.png"
            alt="GooFonts">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="GooFonts" target="_blank"
              href="https://goofonts.com/"
             >Nguồn</a></p>


             <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
              CSS Spider
             </h2>
             <p>
            <b>
              CSS Spider</b> là tiện ích dành cho Google Chrome, Firefox với nhiệm vụ chính là giúp bạn có thể xem thuộc tính và 
              lấy mã CSS của bất kỳ đối tượng nào trong trang web.
 
             </p>
             <img class="img-fluid lazyload"
             data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu_vien_cong_cu_web/CSS%20Spider.png"
             alt="CSS Spider">
 
             <p class="mt-4 pb-4"> <a class="button-blog-post-article"  target="_blank"
               href="https://cssspider.fresalabs.com/home"
              >Nguồn</a></p>
 
              <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                Một Số Dự Án Codepen Đẹp Mắt
               </h2>
               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                Profile Card Hover Effect
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="petegarvin1" data-slug-hash="YzWBbRx" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Card Hover Effect">
                  <span>See the Pen <a href="https://codepen.io/petegarvin1/pen/YzWBbRx">
                  Profile Card Hover Effect</a> by P (<a href="https://codepen.io/petegarvin1">@petegarvin1</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/petegarvin1/pen/YzWBbRx"  rel="noopener noreferrer"
               >Nguồn</a></p>

               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                Placeholders
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="ainalem" data-slug-hash="GRqPwoz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Placeholders">
                  <span>See the Pen <a href="https://codepen.io/ainalem/pen/GRqPwoz">
                  Placeholders</a> by Mikael Ainalem (<a href="https://codepen.io/ainalem">@ainalem</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/ainalem/pen/GRqPwoz"  rel="noopener noreferrer"
               >Nguồn</a></p>

               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                &#60;details&#62; Animation
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="stoumann" data-slug-hash="ExydEYL" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="&amp;lt;details&amp;gt; Animation">
                  <span>See the Pen <a href="https://codepen.io/stoumann/pen/ExydEYL">
                  &lt;details&gt; Animation</a> by Mads Stoumann (<a href="https://codepen.io/stoumann">@stoumann</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/stoumann/pen/ExydEYL"  rel="noopener noreferrer"
               >Nguồn</a></p>

               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                Clock  JavaScript
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="astronaut258" data-slug-hash="xxOBmRz" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#Clock - JavaScript">
                  <span>See the Pen <a href="https://codepen.io/astronaut258/pen/xxOBmRz">
                  #Clock - JavaScript</a> by Tiến Đức (<a href="https://codepen.io/astronaut258">@astronaut258</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/astronaut258/pen/xxOBmRz"  rel="noopener noreferrer"
               >Nguồn</a></p>

               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                border animation
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="michellebarker" data-slug-hash="gOMBPQj" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Houdini gradient border animation">
                  <span>See the Pen <a href="https://codepen.io/michellebarker/pen/gOMBPQj">
                  Houdini gradient border animation</a> by Michelle Barker (<a href="https://codepen.io/michellebarker">@michellebarker</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/michellebarker/pen/gOMBPQj"  rel="noopener noreferrer"
               >Nguồn</a></p>

               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                TOASTS
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="mrtrimble" data-slug-hash="mdEgzzR" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="🍞 TOASTS 🍞">
                  <span>See the Pen <a href="https://codepen.io/mrtrimble/pen/mdEgzzR">
                  🍞 TOASTS 🍞</a> by Ryan Trimble (<a href="https://codepen.io/mrtrimble">@mrtrimble</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/mrtrimble/pen/mdEgzzR"  rel="noopener noreferrer"
               >Nguồn</a></p>


               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill"><h3 class="text-primary ml-4 title-article-size">
                CSS clip-path Editor
                </h3></div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="stoumann" data-slug-hash="abZxoOM" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS clip-path Editor">
                  <span>See the Pen <a href="https://codepen.io/stoumann/pen/abZxoOM">
                  CSS clip-path Editor</a> by Mads Stoumann (<a href="https://codepen.io/stoumann">@stoumann</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
               <p class="mt-4 pb-4"> <a class="button-blog-post-article" target="_blank"
                href="https://codepen.io/stoumann/pen/abZxoOM"  rel="noopener noreferrer"
               >Nguồn</a></p>








          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những công cụ (phần 4) phát triển, thiết
            kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ
            trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
        </article>


























      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>