<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i> Tạo Hiệu Ứng Hình Ảnh Khi Hover</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Để các bạn có thể ôn lại và thực hành những gì mình đã học thì hãy cùng mình tạo hiệu ứng hover ảnh bằng HTML và CSS. Để hiểu rõ hơn các bạn cùng mình tìm hiểu nhé!</i>
            </p>
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Hiệu Ứng Hover Ảnh</h4></div>
           <p>Đi vào bước thứ nhất các bạn tạo một thư mục có cấu trúc file như sau nhé:</p>
           <img src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1581226434/Hieu_ung_hover_anh/hover_anh_rymoin.svg" width="200" height="200" alt="Cấu trúc hover anh">
           <p class="mt-4">
            Sau khi đã tạo xong cấu trúc thư mục thì bước tiếp theo là tải hình ảnh mà mình để đường dẫn ở bên dưới hoặc có thể  chọn tùy ý hình ảnh nào mà các bạn thích nhé!<br />
            <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1581226721/Hieu_ung_hover_anh/hinh_anh_qcenui.jpg" alt="Tải Hình Hover Ảnh" target="_blank">Tải Hình ảnh</a>
           </p>
           <p>
            Bây giờ mình sẽ tạo cấu trúc file HTML, thêm các thẻ HTML cần thiết cho <mark>trang_chinh.html</mark> sau đó  liên kết nó với file
            <mark>style.css và Font "Open Sans"</mark> ở Google Font. Để nắm rõ hơn các bạn theo dõ đoạn code dưới đây nhé:
          </p>

          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/> &#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Hiệu&nbsp;ứng&nbsp;CSS&nbsp;Hover&nbsp;ảnh&nbsp;với&nbsp;nội&nbsp;dung&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &#60;/head&#62;<br/> &#60;body&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hieu_ung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="noi_dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_anh.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="phu_de"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>
          
          <p>Tiếp theo việc cần làm là chúng ta sẽ cài đặt font Open Sans cho trang HTML và đưa thẻ <code>&lt;div class="hieu_ung"&gt;</code> ra giữa màn hình để giúp các bạn dễ nhìn và theo dõi hơn bằng cách chỉnh sửa file <mark>style.css</mark>.
            Trước khi đi vào code do có vài thuộc tính khá trừu tượng nên mình không có thời gian giải thích cặn kẽ cho các bạn hiểu nên  mình sẽ để đường dẫn tham khảo thêm <a href="http://jsfiddle.net/hashem/n3rspnbh/" target="_blank" alt="Center Div">Tham Khảo</a>.
            Bây giờ các bạn cùng xem đoạn code sau để nắm rõ hơn nhé:</p>
          
          <pre><code class="css">body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Open&nbsp;Sans',&nbsp;sans-serif;<br/> &nbsp;&nbsp;&nbsp; }<br/>.hieu_ung{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translate(-50%,&nbsp;-50%);<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:640px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:400px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:#000;<br/> }<br/></code></pre>
          <p>Thuộc tính <code>overflow:hidden</code> giúp chúng ta ẩn những nội dung bị tràn ra ngoài thẻ <code>&lt;div class="hieu_ung"&gt;</code> ví dụ như ở đây là hình ảnh. Bây giờ mình hãy xem kết quả nhé:</p>
          <img class="img-thumbnail shadow p-3" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1581230104/Hieu_ung_hover_anh/FireShot_Capture_081_-_Hi%E1%BB%87u_%C3%BAng_CSS_Hover_%E1%BA%A3nh_v%E1%BB%9Bi_n%E1%BB%99i_dung_-_127.0.0.1_k1uibz.png" alt="Hình Ảnh Chỉnh CSS cho hiệu ứng hover">
          

          <p class="mt-4">Bây giờ chúng ta sẽ tạo một hiệu ứng nho nhỏ là khi hover vào <code>&lt;div class="hieu_ung"&gt;</code> thì hình ảnh trong nó sẽ được phóng to lên và làm mờ ảnh đi một nửa bằng thuộc tính <code>transform và opacity</code>. Để hiểu rõ hơn các bạn xem đoạn code dưới đây nhé:</p>
          <pre><code class="css">.noi_dung{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:100%;<br/> }<br/> img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> }<br/>.hieu_ung:hover&nbsp;img&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;rotate(-10deg)&nbsp;scale(1.3);<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:0.5;<br/> }<br/></code></pre>
          
            <p>Cùng mình xem kết quả của đoạn code trên: </p>
            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Hover Image" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581231098/Hieu_ung_hover_anh/Hi%E1%BB%87u_%C3%BAng_CSS_Hover_%E1%BA%A3nh_v%E1%BB%9Bi_n%E1%BB%99i_dung_oetkkw.mp4"></iframe>
            </div>

            <p class="mt-4">Tiếp theo ta sẽ thêm một hiệu ứng tạo đường viền hình chữ nhật bao quanh chữ khi hover  vào thẻ <code>&lt;div class="hieu_ung"&gt;</code> bằng 
          <code>.phu_de::before và .phu_de::after</code>. Nếu các bạn có cảm thấy khó hiểu thì có thể tham khảo ở đường dẫn sau đây
          <a href="https://freetuts.net/after-va-before-trong-css-447.html" atl="Tìm Hiểu Before và After CSS" target="_blank">Tham Khảo</a>. Để hiểu rõ các bạn xem đoạn code sau đây nhé:
            </p>

            <pre><code class="css">.phu_de{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;right:40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;bottom:40px;<br/> }<br/>.phu_de::before{<br/> &nbsp;&nbsp;&nbsp;&nbsp;content:&nbsp;'';<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-top:&nbsp;1px&nbsp;solid&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-bottom:&nbsp;1px&nbsp;solid&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(0,1)<br/> }<br/>.hieu_ung:hover&nbsp;.phu_de:before{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(1,1)<br/> }<br/>.phu_de::after{<br/> &nbsp;&nbsp;&nbsp;&nbsp;content:&nbsp;'';<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-left:&nbsp;1px&nbsp;solid&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-right:&nbsp;1px&nbsp;solid&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(1,0)<br/> }<br/>.hieu_ung:hover&nbsp;.phu_de:after{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(1,1)<br/> }<br/></code></pre>
            <p>Và đây là kết quả của đoạn code bên trên nhé:</p>
            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Hover Image" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581232733/Hieu_ung_hover_anh/Hi%E1%BB%87u_%C3%BAng_CSS_Hover_%E1%BA%A3nh_v%E1%BB%9Bi_n%E1%BB%99i_dung_1_pk7pns.mp4"></iframe>
            </div>
            <p class="m-4">Bước cuối cùng là chúng ta sẽ thêm phụ đề cho hình ảnh và nó chỉ hiển thị khi người ta hover vào thẻ <code>&lt;div class="hieu_ung"&gt;</code>. Để hiểu rõ hơn các bạn xem đoạn code sau đây nhé:</p>
            <p><mark>trang_chinh.html</mark></p>
            <pre><code class="html">&#60;div&nbsp;class="phu_de"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="thong_tin"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Hãy&nbsp;Hover&nbsp;Chuột&nbsp;vào&nbsp;hình&nbsp;để&nbsp;thấy&nbsp;hiệu&nbsp;ứng&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;<br/>elit.&nbsp;Iste&nbsp;cum&nbsp;rem&nbsp;tempora,&nbsp;molestiae<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consequuntur&nbsp;cumque&nbsp;maiores&nbsp;officia&nbsp;sapiente&nbsp;possimus&nbsp;<br/>deleniti&nbsp;impedit&nbsp;cupiditate&nbsp;placeat<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mollitia&nbsp;porro&nbsp;minus&nbsp;omnis&nbsp;aliquid&nbsp;autem&nbsp;itaque.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet,&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Dolor&nbsp;odit&nbsp;doloremque&nbsp;officia.&nbsp;Vero<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;itaque&nbsp;voluptatibus&nbsp;delectus&nbsp;officia&nbsp;necessitatibus&nbsp;iure,&nbsp;<br/>asperiores&nbsp;sit&nbsp;sint&nbsp;vitae&nbsp;commodi<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;obcaecati&nbsp;repellat&nbsp;nulla&nbsp;quas&nbsp;id&nbsp;voluptas?<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/div&#62;<br/></code></pre>
              
            <p><mark>style.css</mark></p>
            <pre><code class="css">.thong_tin{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(-50%);<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> }<br/> .hieu_ung:hover&nbsp;.thong_tin{<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;1;<br/> }<br/>.thong_tin&nbsp;h2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;24px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;uppercase;<br/> }<br/>.thong_tin&nbsp;p{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:20px&nbsp;0&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;15px;<br/> }<br/></code></pre>
            <p>Đoạn code trên thì chủ yếu là chỉnh sửa lại font chữ, kích thước, màu sắc... Các bạn có thể tùy ý chỉnh sửa tùy vào sở thích mình nhé. Bây giờ chúng ta hãy xem kết quả cuối cùng nhé: </p>
            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Hover Image Final" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581233701/Hieu_ung_hover_anh/Hi%E1%BB%87u_%C3%BAng_CSS_Hover_%E1%BA%A3nh_v%E1%BB%9Bi_n%E1%BB%99i_dung_2_odf1qu.mp4"></iframe>
            </div>
            <p class="mt-4">Mình gửi các bạn đường dẫn để tải về những file trong thư mục <b>Hieu_ung_hover</b> để bạn đễ hình dung và có thể xem lại! <br>
                <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1581233861/Hieu_ung_hover_anh/Hieu_ung_hover_hig4l0.rar" download="">Đường dẫn tải File Source Code</a></p>
              
                <p>Các bạn có thể tìm hiểu thêm thông qua đường dẫn dưới đây nhé!<br> <i class="fa fa-info" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=XpeTEY5ndII&t=249s" target="_blank">Đường dẫn để bạn tìm hiểu thêm</a></p>
          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình mong các bạn có thể ôn và hiểu hơn về những gì mình đã học về HTML, CSS và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>