<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Tạo Hiệu Ứng Hover Đẹp Mắt Với Izmir</h2>
            </div>
          </div>


          <div class="text-content-article mt-5">
            <p><i>Ngày hôm nay chúng ta sẽ đi vào tìm hiểu cách tạo hiệu ứng hover cho trang web bằng việc kết hợp thư
                viện
                Izmir với HTML CSS nhé!
              </i>
            </p>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Giới Thiệu Về Thư Viện Izmir </h3>
          </div>
          <p>
            <b>Izmir</b> là một thư viện CSS nhỏ gọn. Nó giúp bạn có thể nhanh chóng tạo ra các hiệu ứng hover đẹp mắt
            cho phần tử trong trang web
            bằng cách thêm class của hiệu ứng hover vào trong thẻ HTML.
            Và điểm mình cảm thấy thích nhất ở nó là dễ dàng tinh chỉnh cũng như có thể áp dụng cho nhiều loại dự án web
            khác nhau.
          </p>
          <p>
            Để sử dụng trực tiếp cho trang HTML thì bạn chỉ cần thêm CDN của thư viện ở bên dưới:
          </p>
          <pre><code class="html">&#60;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ciar4n/izmir@1.0.1/izmir.min.css"&#62;</code></pre>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Hiệu Ứng Hover Cơ Bản Bằng Thư Viện Izmir</h3>
          </div>
          <p>
            <p> Phần đầu tiên chúng ta sẽ đi vào tạo hai file là <code>index.html</code>(nơi lưu trữ HTML) và
              <code>style.css</code>(nơi lưu trữ mã CSS). Sau đó liên kết chúng với thư viện Izmir và Google Font thông
              qua đoạn mã dưới đây nhé:</p>
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/> &#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;Hiệu&nbsp;Ứng&nbsp;Hover&nbsp;Với&nbsp;Thư&nbsp;Viện&nbsp;Izmir&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://cdn.jsdelivr.net/npm/@ciar4n/izmir@1.0.1/izmir.min.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &#60;/head&#62;<br/> &#60;body&#62;<br/> &#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>
          <p class="mt-4">
            Bước tiếp theo chúng ta sẽ tạo cấu trúc phần tử HTML được hover bằng thẻ <code>figure</code> và
            <code>figcaption</code> thông qua đoạn mã bên dưới nhé:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;h2&#62;Hiệu&nbsp;Ứng&nbsp;Hover&nbsp;Cơ&nbsp;Bản&nbsp;Bằng&nbsp;Thư&nbsp;Viện&nbsp;Izmir&#60;/h2&#62;<br/> &#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&#60;figure&nbsp;class="c4-izmir"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://images.pexels.com/photos/1632790/pexels-photo-1632790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400"<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alt="Hình&nbsp;Ảnh&nbsp;Minh&nbsp;Họa"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;figcaption&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/figcaption&#62;<br/> &nbsp;&nbsp;&#60;/figure&#62;<br/> &#60;/div&#62;<br/></code></pre>
          <p class="mt-4">
            Chúng ta sử dụng class <code>c4-izmir</code> để khởi tạo hiệu ứng hover cơ bản của thư viện. Hiệu ứng này sẽ  hiển thị nội dung trong ô <code>figcaption</code>
            khi người dùng hover vào ảnh. Tiếp theo chúng ta sẽ sử dụng các thuộc tính CSS cơ bản để thiết lập vị trí cũng như font chữ cho nó thông qua đoạn mã sau nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">body{<br/> &nbsp;&nbsp;font-family:&nbsp;'Open&nbsp;Sans',&nbsp;sans-serif;<br/> }<br/> h2{<br/> &nbsp;&nbsp;text-align:center;<br/> &nbsp;&nbsp;text-shadow:&nbsp;0px&nbsp;10px&nbsp;10px&nbsp;#234D3C;<br/> }<br/>.container{<br/> &nbsp;&nbsp;display:flex;<br/> &nbsp;&nbsp;justify-content:center;<br/> &nbsp;&nbsp;align-items:center;<br/> }<br/> figure{<br/> &nbsp;&nbsp;box-shadow:&nbsp;0&nbsp;1px&nbsp;1px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;2px&nbsp;2px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;4px&nbsp;4px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;8px&nbsp;8px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;16px&nbsp;16px&nbsp;rgba(0,0,0,0.12);<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả cuối cùng bạn xem Code ở dưới nhé:
          </p>
          <p class="codepen" data-height="427" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="abZzWbQ" style="height: 427px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hiệu Ứng Hover Cơ Bản Bằng Thư Viện Izmir">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/abZzWbQ">
            Hiệu Ứng Hover Cơ Bản Bằng Thư Viện Izmir</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
            href="https://codepen.io/haycuoilennao19/pen/abZzWbQ" target="_blank" rel="noopener noreferrer">Nguồn</a>
        </p>
        <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">Tạo Hiệu Ứng Hover Với Border Bằng Thư Viện Izmir</h3>
        </div>
        <p>
          Trong phần này chúng ta sẽ đi vào tạo hiệu ứng hover chuyển động cho border bằng thư viện này nha. 
          Mình có một lưu ý là tất cả đoạn mã phía trên đều giống nhau nên mình sẽ không viết lại. Nó chỉ có một điểm khác biệt là 
          chúng ta sẽ thêm class <code>c4-border-cc-1</code> vào trong thẻ <code>figure</code> như ở bên dưới đây:
          <br>
          <code>&#60;figure class="c4-izmir c4-border-cc-1"&#62;</code>. 
      
        </p>
      
        <p>
          Để hiểu rõ hơn bạn cùng xem kết quả cũng như đoạn HTML, CSS trên Codepen nhé:
        </p>
        <p class="codepen" data-height="432" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="yLJybKx" style="height: 432px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hiệu Ứng Hover Animation Border Bằng Thư Viện Izmir">
          <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/yLJybKx">
          Hiệu Ứng Hover Animation Border Bằng Thư Viện Izmir</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
        </p>

        <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
          href="https://codepen.io/haycuoilennao19/pen/yLJybKx" target="_blank" rel="noopener noreferrer">Nguồn</a>
      </p>
      <p>
        Nếu bạn muốn xem nhiều hiệu ứng chuyển động border khác của thư viện thì có thể truy cập 
        <a href="https://ciar4n.com/izmir/2B-border-animation.html" target="_blank" rel="noopener noreferrer">ở đây nhé!</a>
      </p>

      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
        <h3 class="text-primary ml-4 title-article-size">Tạo Hiệu Ứng Hover Với Image Animation Bằng Thư Viện Izmir</h3>
      </div>
      <p>
        Cũng giống như ở trên để tạo hiệu ứng với hình ảnh thì bạn chỉ cần lựa chọn tên class hiệu ứng hover image animation trong thư viện và gán như sau:

      </p>
      <p><code>&#60;figure class="c4-izmir c4-image-rotate-right"&#62;</code></p>
      <p class="mt-4">
        Để dễ hình dung bạn xem kết quả hiệu ứng image animation với class <code>c4-image-rotate-right</code> ở Codepen bên dưới nhé:
      </p>
      <p class="codepen" data-height="430" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="MWeYmZZ" style="height: 430px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hiệu Ứng Hover Animation Image Bằng Thư Viện Izmir">
        <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/MWeYmZZ">
        Hiệu Ứng Hover Animation Image Bằng Thư Viện Izmir</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
        href="https://codepen.io/haycuoilennao19/pen/MWeYmZZ" target="_blank" rel="noopener noreferrer">Nguồn</a>
    </p>
    <p>
      Nếu bạn muốn xem nhiều hiệu ứng chuyển động image khác của thư viện thì có thể truy cập 
      <a href="https://ciar4n.com/izmir/2C-image-animation.html" target="_blank" rel="noopener noreferrer">ở đây nhé!</a>
    </p>

    <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
      <h3 class="text-primary ml-4 title-article-size">Tạo Hiệu Ứng Hover Với Caption Layout Bằng Thư Viện Izmir</h3>
    </div>
    <p>
      Với các ví dụ trên khi bạn hover vào hình ảnh thì đoạn caption sẽ hiển thị chính giữa của hình ảnh. 
      Để thiết lập vị trí caption trong thư viện này thì bạn có thể sử dụng class <code>c4-layout-center-right</code>
      (nằm ở chính giữa bên phải), <code>c4-layout-bottom-left</code> (nằm ở dưới cùng bên trái)...
      Và cách thiết lập của nó sẽ như sau: 
    </p>
    <p><code>&#60;figcaption class="c4-layout-bottom-left"&#62;</code></p>
    <p>
      Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
    </p>
    <p class="codepen" data-height="363" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="qBNEmwO" style="height: 363px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hiệu Ứng Hover Caption Layout Bằng Thư Viện Izmir">
      <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/qBNEmwO">
      Hiệu Ứng Hover Caption Layout Bằng Thư Viện Izmir</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>

    <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
      href="https://codepen.io/haycuoilennao19/pen/qBNEmwO" target="_blank" rel="noopener noreferrer">Nguồn</a>
  </p>
  <p>
    Nếu bạn muốn xem nhiều hiệu ứng chuyển động image khác của thư viện thì có thể truy cập 
    <a href="https://ciar4n.com/izmir/2G-caption-layout.html" target="_blank" rel="noopener noreferrer">ở đây nhé!</a>
  </p>

  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
    <h3 class="text-primary ml-4 title-article-size">Cách Tỉnh Chỉnh Hiệu Ứng Hover Với Thư Viện Izmir</h3>
  </div>
  <p>
    Đôi khi trong dự án thực tế thì bạn sẽ cần thay đổi một số thuộc tính như là  màu sắc, color , background hover... 
    Vậy để tinh chỉnh như mong muốn thì bạn có thể dùng CSS để thiết lập lại thuộc tính cho class <code>.c4-izmir</code> như đoạn mã sau đây nhé:
  </p>
  <h4 class="text-primary">
    CSS
  </h4>
  <pre><code class="css">.c4-izmir&nbsp;{<br/> &nbsp;&nbsp;--primary-color:&nbsp;#F6CD14;<br/> &nbsp;&nbsp;--secondary-color:&nbsp;#D0206E;<br/> &nbsp;&nbsp;--transition-duration:&nbsp;500ms;<br/> &nbsp;&nbsp;--border-width:&nbsp;6px;<br/> &nbsp;&nbsp;--overlay-opacity:&nbsp;.5;<br/> }<br/></code></pre>
  <p class="mt-4">
    Và kết quả bạn xem bên dưới nhé:
  </p>
  <p class="codepen" data-height="460" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="oNLgWrL" style="height: 460px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Tinh Chỉnh Hiệu Ứng Hover  Thư Viện Izmir">
    <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/oNLgWrL">
    Tinh Chỉnh Hiệu Ứng Hover  Thư Viện Izmir</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>

  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
    href="https://codepen.io/haycuoilennao19/pen/oNLgWrL" target="_blank" rel="noopener noreferrer">Nguồn</a>
</p>

<p>
  Nếu bạn muốn xem nhiều hiệu ứng hover khác của thư viện thì có thể truy cập 
  <a href="https://ciar4n.com/izmir/" target="_blank" rel="noopener noreferrer">ở đây nhé!</a>
</p>

          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kiến thức để tạo hover blur link
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>