<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu nhưng công cụ, thư viện hay và hữu ích dành cho
                      việc phát triển và thiết kế web (phần 3) nhé!
                    </i></b>
                </p>
                <hr>
              </div>
            </div>
          </div>
          <p>
            <mark>Nếu bạn muốn tham khảo các công cụ và thư viện phát triển web phần 2 thì truy cập đường dẫn bên dưới
              nhé!</mark><br />
            <a href="https://www.niemvuilaptrinh.com/article/thu-vien-va-cong-cu-phat-trien-web-phan-2"
              title="Thư Viện Và Công Cụ Phát Triển Web (Phần 2) ">Thư Viện Và Công Cụ Phát Triển Web (Phần 2)</a>
          </p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Công Cụ Tabulator
          </h2>
          <p>
            <b>Tabulator</b> cho phép bạn tạo ra các bảng tương tác với dữ liệu một cách dễ dàng như là sắp xếp, thêm ,
            sửa hay xóa cho bảng HTML. chúng ta có thể lấy dữ liệu cho bảng từ Javascript Array, nguồn dữ liệu từ AJAX,
            hoặc kiểu định dạng JSON. Ngoài ra nó cũng hỗ trợ hầu hết các trình duyệt phổ biến hiện nay như là Google
            Chrome, Firefox, Safari,
            Opera và Edege. Nó cũng có thể áp dụng cho các front-end framework javascript phổ biến hiện nay như là
            ReactJS, VueJS và AngularJS.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604458013/thu_vien_web_phan_3/Tabulator_2_yiev0z.png"
            alt="Tabulator">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://tabulator.info/"
              rel="noopener noreferrer" title="Tabulator" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thư Viện Textures JS
          </h2>
          <p>
            <b>Textures JS</b> là thư viện giúp bạn tạo SVG patterns một cách nhanh chóng và dễ dàng cho trang web. Nó
            được xây dựng dựa trên nền tảng của D3.js với mục đích trực quan hóa
            dữ liệu của bạn. Theo mình thấy nó được sử dụng khá nhiều trong việc phân chia các khu vực ở trong bản đồ
            bằng cách sử dụng các pattern tương ứng.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604458912/thu_vien_web_phan_3/Texturesjs_2_wpkwiz.png"
            alt="Textures JS">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://riccardoscalco.it/textures/"
              rel="noopener noreferrer" title="Textures JS" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thư Viện DOCX
          </h2>
          <p>
            <b>DOCX</b> là thư viện giúp bạn có thể tạo file <b>.docx</b> từ các phần tử trang web bằng Javascript hoặc
            Typescript. Nó hoạt động tốt được trên cả trình duyệt và
            phía server (với Nodejs). Theo mình thấy thì nó có rất nhiều ví dụ chi tiết cho từng thành phần của trang
            web cũng như các bài hướng dẫn
            cụ thể khi bạn áp dụng cho React, Vue hay angularJS.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604459906/thu_vien_web_phan_3/DOCX_b894t6.png"
            alt="DOCX">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://docx.js.org/#/"
              rel="noopener noreferrer" title="DOCX" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Keen-Slider
          </h2>
          <p>
            <b>Keen-Slider </b> là thư viện Javascript miễn phí giúp bạn có thể tạo ra component touch slider(thường áp
            dụng trên điện thoại)
            một cách nhanh chóng, dễ dàng và nhiều tính năng điều chỉnh hữu ích khác như là tạo slider theo chiều dọc,
            multiple slides,
            chế độ lazy load cho slides... Theo mình thấy thì thư viện này còn có một tính năng rất hay là tạo
            timepicker (chọn thời gian)
            theo thiết kế của IOS và hiệu ứng chuyển động background transition cho trang web.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604460814/thu_vien_web_phan_3/Keen-Slider_2_wenagg.png"
            alt="Keen-Slider ">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://keen-slider.io/"
              rel="noopener noreferrer" title="Keen-Slider " target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Math JS
          </h2>
          <p>
            <b>Math JS</b> là một thư viện toán học mã nguồn mở với hơn 10.5k sao đánh giá trên Github dành cho ngôn ngữ
            Javascript và NodeJS(chạy phía server).
            Nó giúp bạn linh hoạt trong việc tính toán và xử lý với nhiều kiểu dữ liệu khác nhau như là numbers, big
            number(số lớn),
            complex number(số phức tạp), phân số, unit(đơn vị) và ma trận.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604461723/thu_vien_web_phan_3/Math_JS_2_ewd6ga.png"
            alt="Math JS">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://mathjs.org/"
              rel="noopener noreferrer" title="Math JS" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Rough Notation
          </h2>
          <p>
            <b>Rough Notation</b> là một thư viện Javascript nhỏ gọn giúp bạn có thể tạo các chú thích
            cho các phần tử trong trang web với nhiều hiệu ứng đẹp mắt như là underline, box, circle, highlight,
            brackets...
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604462086/thu_vien_web_phan_3/Rough_Notation_ey3ted.png"
            alt="Rough Notation">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://roughnotation.com/"
              rel="noopener noreferrer" title="Rough Notation" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Flip
          </h2>
          <p>
            <b>Flip</b> là một plugin giúp bạn có thể tạo bộ đếm(counter) kèm theo hiệu ứng flip một cách nhanh chóng và
            dễ dàng cho trang web.
            Nếu bạn cần tạo ra các bộ đếm ngược thời gian của sự kiện, các chương trình khuyến mãi,
            chiến dịch gây quỹ thì theo mình nghĩ đây là thư viện tốt nhất dành cho bạn.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604462479/thu_vien_web_phan_3/flip_2_ub452n.png"
            alt="Flip">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://pqina.nl/flip/"
              rel="noopener noreferrer" title="Flip" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Quotebacks
          </h2>
          <p>
            <b>Quotebacks</b> là công cụ online giúp bạn có thể nhúng các trích dẫn với thiết kế đẹp mắt vào cho trang
            web một cách nhanh chóng.
            Chúng ta chỉ cần cung cấp cho chương trình 4 thông số cơ bản là đoạn văn trích dẫn, tên tác giả, tiêu đề và
            url của nguồn trích dẫn. Sau đó đoạn code sẽ được tự động tạo ra, bạn chỉ copy vào trang web mình muốn hiển
            thị là có thể sử dụng được rồi.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604463093/thu_vien_web_phan_3/Quotebacks_trgepq.png"
            alt="Quotebacks">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://quotebacks.net/"
              rel="noopener noreferrer" title="Quotebacks" target="_blank">Nguồn</a></p>





          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            SVG Path Visualizer
          </h2>
          <p>
            <b>SVG Path Visualizer</b> là công cụ giúp bạn có thể thấy ngay được hình ảnh SVG một cách nhanh chóng và
            trực quan
            bằng việc nhập thông tin SVG path data. Ngoài ra công cụ cũng cung cấp thêm các hướng dẫn chi tiết để bạn có
            thể hiểu được cách tạo
            các hình SVG cơ bản như là đường thẳng, hình curve, triangle(tam giác)...
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604463683/thu_vien_web_phan_3/SVG_Path_Visualizer_avjz73.png"
            alt="SVG Path Visualizer">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://svg-path-visualizer.netlify.app/"
              rel="noopener noreferrer" title="SVG Path Visualizer" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Toast UI Editor
          </h2>
          <p>
            <b>Toast UI Editor</b> là trình soạn thảo văn bản giúp bạn có thể chỉnh sửa Markdown documents cho chữ hoặc
            WYSIWYG ở trong trang web. Với việc chia nhỏ thư viện thành nhiều plugin khác nhau sẽ giúp chúng ta dễ dàng
            tối ưu hơn trong việc chỉ thêm chức năng cần thiết cho trang web của mình. Ví dụ như là plugin
            <code>editor-plugin-chart</code> : hiển thị biểu đồ cho trình soạn thảo,
            <code>editor-plugin-code-syntax-highlight</code> làm nổi bật các đoạn code,
            <code>editor-plugin-color-syntax</code> chỉnh sửa màu sắc cho chữ...
            Tuy nhiên hiện nay nó chỉ hỗ trợ cho javascript thuần, ReactJs, VueJs và Jquery thôi nhé!
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604492329/thu_vien_web_phan_3/Toast_UI_Editor_2_w1a3if.png"
            alt="Toast UI Editor">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://ui.toast.com/tui-editor"
              rel="noopener noreferrer" title="Toast UI Editor" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Jexcel
          </h2>
          <p>
            <b>Jexcel</b> là một thư vện Javascript nhỏ gọn giúp bạn tạo các bảng có tính tương tác cao cho trang web
            với dữ liệu có thể được lấy từ JS Array, JSON, CSV hoặc file XSLX.
            Theo mình thấy thì nó có một số tính năng rất hữu ích như là giao diện thân thiện với người dùng, dễ dàng
            tùy chỉnh và kết hợp với các plugin, thư viện khác, xử lý các dữ liệu phức tạp bằng các thao tác đơn giản,
            có thể tạo và chia sẻ bản tính trực tuyến.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604492602/thu_vien_web_phan_3/Jexcel_2_cwvtuj.png"
            alt="Jexcel">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://bossanova.uk/jexcel/v4/"
              rel="noopener noreferrer" title="Jexcel" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Chocolat.js
          </h2>
          <p>
            <b>Chocolat.js</b> là một thư viện Javascript giúp bạn có thể hiển thị responsive lightbox một cách dễ dàng
            trên trang web.
            Ngoài ra bạn cũng có quyền thiết lập một hay nhiều hình ảnh trên cùng một trang,
            hiển thị hình ảnh toàn màn hình hoặc giới hạn trong thẻ div nào mà mình mong muốn.

          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604492799/thu_vien_web_phan_3/Chocolatjs_2_blmlxy.png"
            alt="Chocolat.js">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://chocolat.insipi.de/"
              rel="noopener noreferrer" title="Chocolat.js" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Image Compare Viewer
          </h2>
          <p>
            <b>Image Compare Viewer</b> là một thư viện mã nguồn mở được xây dựng bằng Javascript giúp bạn có thể tạo
            ra component so sánh hai hình ảnh trực tiếp ở ngay trên trang web. Theo mình thấy nó thường được sử dụng
            để so sánh hình ảnh trước và sau khi chỉnh sửa để giúp người dùng có cái nhìn trực quan và phân biệt được rõ
            ràng hơn.

          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604493082/thu_vien_web_phan_3/Image_Compare_Viewer_2_gevi03.png"
            alt="Image Compare Viewer">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://image-compare-viewer.netlify.app/" rel="noopener noreferrer" title="Image Compare Viewer"
              target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Trianglify
          </h2>
          <p>
            <b>Trianglify</b> là
            một thư viện giúp bạn có thể tạo ra các pattern background đẹp mắt cho trang web bằng việc kết hợp và xây
            dựng dựa trên các hình tam giác.
            Bạn chỉ cần lựa chọn thông số được cung cấp bởi thư viện như là độ rộng, chiều cao, palette, khoảng cách
            cell... mà mình mong muốn thiết lập cho pattern background.
            Thật đơn giản phải không nào!
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604493540/thu_vien_web_phan_3/Trianglify_2_xwhwev.png"
            alt="Trianglify">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://qrohlf.com/trianglify/"
              rel="noopener noreferrer" title="Trianglify" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Notyf
          </h2>
          <p>
            <b>Notyf</b> là thư viện Javascript giúp bạn tạo các thông báo dạng toast cho trang web với kích thước chỉ
            khoảng 3Kb. Nó được hiển thị responsive trên nhiều màn hình thiết bị khác nhau và dễ dàng sử
            dụng chung với các framework JS phổ biến hiện nay như React, Angular, Aurelia, Vue, và Svelte.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604493807/thu_vien_web_phan_3/Notyf_2_a8hbp6.png"
            alt="Notyf">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://carlosroso.com/notyf/"
              rel="noopener noreferrer" title="Notyf" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Dinero.js
          </h2>
          <p>
            <b>Dinero.js</b> là một thư viện javascript cung cấp nhiều tính năng giúp bạn có thể làm việc và xử lý các
            vấn đề liên quan đến tiền tệ (currency) ở trong trang web.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604494007/thu_vien_web_phan_3/Dinerojs_rh4egn.png"
            alt="Dinero.js">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://dinerojs.com/"
              rel="noopener noreferrer" title="Dinero.js" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            BEM CHEAT SHEET
          </h2>
          <p>
            <b>BEM CHEAT SHEET</b> là một trang web cung cấp cho bạn cách đặt tên class với các component trong trang
            web một cách tối ưu và nhất quán hơn. Việc đặt tên theo quy tắc này sẽ giúp các lập trình viên trong team
            có thể dễ dàng hiểu được chức năng của từng class cũng như làm việc với nhau được hiệu quả hơn.
          </p>



          <img class="img-fluid lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604494215/thu_vien_web_phan_3/BEM_CHEAT_SHEET_2_lcayb1.png"
            alt="BEM CHEAT SHEET">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://9elements.com/bem-cheat-sheet/"
              rel="noopener noreferrer" title="BEM CHEAT SHEET" target="_blank">Nguồn</a></p>

              <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                Rough.js
              </h2>
              <p>
                <b>Rough.js</b> là một thư viện đồ họa 
                dùng để vẽ các hình draw lines, curves, arcs, polygons, circles, and ellipses ở trong trang web một cách nhanh chóng và dễ dàng.  Ngoài ra nó cũng hỗ trợ cho SVG Path nữa nhé!
              </p>
    
    
    
              <img class="img-fluid lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604494420/thu_vien_web_phan_3/Roughjs_1_oujgnl.png"
                alt="Rough.js">
    
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://roughjs.com/posts/release-4.0/"
                  rel="noopener noreferrer" title="Rough.js" target="_blank">Nguồn</a></p>

                  <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                    simpleParallax.js
                  </h2>
                  <p>
                    <b>simpleParallax.js</b> là một thư viện mã nguồn mở  javascript với kích thước nhỏ gọn, nó sẽ  giúp bạn có thể tạo hiệu ứng chuyển động parallax cho hình ảnh của trang web một cách đơn giản và dễ dàng.
                  </p>
        
        
        
                  <img class="img-fluid lazyload"
                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604494680/thu_vien_web_phan_3/simpleParallaxjs_1_fzglj9.png"
                    alt="simpleParallax.js">
        
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://simpleparallax.com/"
                      rel="noopener noreferrer" title="simpleParallax.js" target="_blank">Nguồn</a></p>











          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng
              kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thư viện hữu ích (phần 3)

            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email
            mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có
            thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>