<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Tạo 3D Navigation Bằng HTML, CSS Và Javascript</h2>
            </div>
          </div>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i> Ngày hôm nay chúng ta sẽ đi vào tìm hiểu cách tạo 3D Navigation(thanh tiêu đề) trong trang
                web bằng HTML, CSS và Javascript nhé!</i>
            </p>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Cấu Trúc Phần Tử HTML</h3>
          </div>
          <p> Trước tiên chúng ta sẽ cần tạo hai file chính là <code>index.html</code> (Lưu trữ phần tử HTML) và
            <code>style.css</code> (Lưu trữ các thuộc tính CSS). Sau đó liên kết chúng lại với nhau thông qua đoạn mã
            bên dưới:</p>

          <h4 class="text-primary">
            HTML:
          </h4>
          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/> &#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;3D&nbsp;Navbar&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;1,700&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &#60;/head&#62;<br/> &#60;body&#62;<br/>&#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>

     
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thêm Các Phần Tử HTML</h3>
          </div>

          <p>
            Trong phần này chúng ta sẽ đi vào thêm các cấu trúc phần tử HTML cần thiết để tạo ra thanh tiêu đề 3D thông qua đoạn mã sau nhé:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="navbar"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="menu"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&nbsp;class="logo"&#62;Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hamburger-menu"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="bar"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/div&#62;<br/></code></pre>

         
          <!-- <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600782322/Hieu_Ung_Hover_Menu/Hover_Cho_Thanh_Menu_B%E1%BA%B1ng_HTML_CSS_JS_1_tvcvvs.png"
            alt="Hiệu Ứng Hover Menu 1"
           > -->

           <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Xác Định Vị Trí Và Thiết Lập Font Cho Menu 3D
            </h3>
          </div>
          <p>
           Phần tiếp theo chúng ta sẽ sử dụng các thuộc tính CSS để thiết lập font chữ cho nội dung trong trang web và xác định vị trí của thanh 
           tiêu đề thông qua đoạn mã CSS sau nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css"> *&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> }<br/>body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Epilogue',&nbsp;sans-serif;<br/> }<br/>.container&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;min-height:&nbsp;100vh;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#485461;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-image:&nbsp;linear-gradient(135deg,&nbsp;#485461,&nbsp;#28313b&nbsp;74%);<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> }<br/>.navbar{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;fixed;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;10;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;3rem;<br/> }<br/></code></pre>

          <p class="mt-4">
            Và kết quả bạn xem hình ảnh bên dưới nhé:
          </p>
        <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600842671/3D_Navbar/3D_Menu_1_lr8hz4.png"
            alt="3D Menu 1"
           > 

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Lập Style Cho 3D Navbar
            </h3>
          </div>

          <p>
            Trong phần này mình và bạn sẽ đi vào thiết kế icon đóng mở cho thanh tiêu đề cũng như thiết lập style cho thẻ <code>div</code> 
            với class <code>logo</code> thông qua đoạn code sau nhé:
          </p>
          <h4 class="text-primary">
           CSS
          </h4>
         <pre><code class="css">/*Thiết&nbsp;lập&nbsp;style&nbsp;thanh&nbsp;tiêu&nbsp;đề*/<br/> .menu&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;max-width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0&nbsp;2rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;space-between;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/> /*Thiết&nbsp;lập&nbsp;style&nbsp;cho&nbsp;div&nbsp;có&nbsp;class&nbsp;là&nbsp;logo*/<br/> .logo{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;1.1rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;700;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;uppercase;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;2px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;4rem;<br/> }<br/>/*Tạo&nbsp;Icon&nbsp;Menu*/<br/> .hamburger-menu{<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;4rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;3rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;flex-end;<br/> }<br/>.bar{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;1.9rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;1.5px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;2px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> }<br/>.bar::before,<br/> .bar::after&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;content:&nbsp;'';<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;inherit;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;inherit;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#eee;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> }<br/>.bar::before{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(-9px)<br/> }<br/>.bar::after{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(9px)<br/> }<br/></code></pre>
         <p class="mt-4">
          Và kết quả bạn xem hình ảnh bên dưới nhé:
        </p>
      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600843151/3D_Navbar/3D_Menu_2_ewomqh.png"
          alt="3D Menu 2"
         > 
         
         <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
            Thêm Nội Dung Và Tiêu Đề Cho Trang Web
          </h3>
        </div>
        <p>
          Phần này chúng ta sẽ thêm các phần tử HTML và  các thuộc tính CSS để giúp làm nổi bật  tiêu đề và nội dung ở trong  trang web thông qua đoạn mã sau nhé:
        </p>
        <h4 class="text-primary">
          HTML
        </h4>
        <pre><code class="html">&#60;!--Nội&nbsp;Dung&nbsp;Cũ--&#62;<br/> &#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="navbar"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="menu"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&nbsp;class="logo"&#62;Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hamburger-menu"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="bar"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;!--&nbsp;Kết&nbsp;Thúc&nbsp;Nội&nbsp;Dung&nbsp;Cũ--&#62;<br/> &#60;!--Thêm&nbsp;Phần&nbsp;Tử&nbsp;Mới--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="main-container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="main"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;header&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="overlay"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="inner"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&nbsp;class="title"&#62;Xin&nbsp;Chào&nbsp;Các&nbsp;Bạn&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Non,&nbsp;debitis&nbsp;vel&nbsp;obcaecati&nbsp;amet&nbsp;recusandae&nbsp;magnam&nbsp;perferendis&nbsp;ad.&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&nbsp;class="btn-container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="https://www.niemvuilaptrinh.com/"&nbsp;class="btn"&#62;Xem&nbsp;Thêm&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/header&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="shadow&nbsp;shadow1"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="shadow&nbsp;shadow2"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;!--Kết&nbsp;Thúc&nbsp;Thêm&nbsp;Phần&nbsp;Tử&nbsp;Mới--&#62;<br/> &#60;/div&#62;<br/></code></pre>
        <p class="mt-4">
          Như bạn thấy thì phần nội dung mới mà mình thêm  thì vẫn thuộc class cha <code>.container</code> nhé!
        </p>
        <p >
          Và kết quả bạn xem hình ảnh bên dưới nhé:
        </p>
      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600843921/3D_Navbar/3D_Menu_3_khtb1j.png"
          alt="3D Menu 3"
         > 
         <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
            Thiết Lập Style Cho Nội Dung Và Tiêu Đề 
          </h3>
        </div>
        <p>
          Phần này ngoài việc thiết lập style cho nội dung và tiêu đề trong trang web thì chúng ta sẽ thực hiện xây dựng background  hình ảnh 
          cho toàn bộ website thông qua đoạn mã sau nhé:
        </p>
        <h4 class="text-primary">
          CSS
        </h4>
        <pre><code class="css">.main{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;5;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;white;<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> }<br/>header{<br/> &nbsp;&nbsp;&nbsp;&nbsp;min-height:&nbsp;100vh;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;url(https://images.pexels.com/photos/2693529/pexels-photo-2693529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)&nbsp;no-repeat&nbsp;top&nbsp;center&nbsp;/&nbsp;cover;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> }<br/>.overlay{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;rgba(43,51,59,0.7);<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> }<br/>.inner{<br/> &nbsp;&nbsp;&nbsp;&nbsp;max-width:&nbsp;35rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0&nbsp;2rem;<br/> }<br/>.title{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;3rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;1rem;<br/> }<br/>.btn-container{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;1.5rem;<br/> }<br/> .btn{<br/> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0.6rem&nbsp;1.8rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#1179e7;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;25px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;uppercase;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-decoration:&nbsp;none;<br/> }<br/></code></pre>
        <p >
          Và kết quả bạn xem hình ảnh bên dưới nhé:
        </p>
      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600844563/3D_Navbar/3D_Menu_4_cordeh.png"
          alt="3D Menu 4"
         > 
         <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
            Thiết Lập Javascript Cho 3D Navbar
          </h3>
        </div>

        <p>
         Trong phần này chúng ta sẽ sử dụng Javascript để thiết lập class <code>.active</code> cho thẻ div <code>container</code> khi người dùng nhấn vào <b>icon ở góc phải trên cùng</b> thông qua đoạn mã 
         sau đây nhé:
        </p>

        <h4 class="text-primary">
          Javascript
        </h4>
        <pre><code class="javascript"> const&nbsp;hambuger_menu&nbsp;=&nbsp;document.querySelector(".hamburger-menu");<br/> const&nbsp;container&nbsp;=&nbsp;document.querySelector(".container");<br/> hambuger_menu.addEventListener("click",&nbsp;()&nbsp;=>&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;container.classList.toggle("active");<br/> })<br/></code></pre>
        <p class="mt-4">
          Và kết quả bạn xem ở video bên dưới nhé:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600845382/3D_Navbar/Untitled__Sep_23_2020_2_14_PM_e67iql.mp4"></iframe>
        </div>

        <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
            Tạo Hiệu Ứng Chuyển Động Icon
          </h3>
        </div>
        <p>
          Trong phần này chúng ta sẽ sử dụng animation để chuyển đổi  <b>từ icon 3 gạch ngang sang icon đóng (X)</b> khi  người dùng kích hoạt class <code>active</code> (nhấn vào icon)
          bằng đoạn mã CSS dưới đây nhé:
        </p>
        <h4 class="text-primary">
          CSS
        </h4>
        <pre><code class="css">.container.active&nbsp;.bar{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;rotate(360deg);<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;transparent;<br/> }<br/>.container.active&nbsp;.bar::before{<br/> &nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(0)&nbsp;rotate(45deg);<br/> }<br/>.container.active&nbsp;.bar::after{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(0)&nbsp;rotate(-45deg);<br/> }<br/></code></pre>
        <p class="mt-4">
          Và kết quả bạn xem ở video bên dưới nhé:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600845877/3D_Navbar/3D_Navbar_ux132b.mp4"></iframe>
        </div>

        <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
            Tạo Hiệu Ứng Chuyển Động 3D Cho Trang Web
          </h3>
        </div>

        <p>
          Phần này chúng ta sẽ đi vào tạo hiệu ứng chuyển động 3D cho trang web thông qua đoạn mã sau nhé:
        </p>
        <h4 class="text-primary">
          CSS
        </h4>
        <pre><code class="css">.main{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform-origin:&nbsp;left;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform-style:&nbsp;preserve-3d;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> &nbsp;}<br/>.container{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform-style:&nbsp;preserve-3d;&nbsp;<br/> &nbsp;}<br/>&nbsp; .container.active&nbsp;.main{<br/> &nbsp;&nbsp;&nbsp;&nbsp;animation:&nbsp;main-animation&nbsp;0.5s&nbsp;ease;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(310px)&nbsp;scale(0.5);<br/> }<br/>@keyframes&nbsp;main-animation{<br/> &nbsp;&nbsp;&nbsp;&nbsp;from{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translate(0);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;to{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(310px)&nbsp;scale(0.5);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> }<br/></code></pre>

        <p class="mt-4">
          Và kết quả bạn xem ở video bên dưới nhé:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600846163/3D_Navbar/3D_Navbar_1_czl9rm.mp4"></iframe>
        </div>


        <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
            Thêm Đường Dẫn Cho 3D Navbar
          </h3>
        </div>
        <p>
          Trong phần này chúng ta sẽ thêm các đường dẫn vào thanh tiêu đề 3D thông qua đoạn code sau nhé (Đoạn mã sẽ được dặt trong class <code>container</code> 
          ):
        </p>
        <h4 class="text-primary">
          HTML
        </h4>
        <pre><code class="html">&#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="navbar"&#62;...&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="main-container"&#62;...&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Thêm&nbsp;Phần&nbsp;Tử&nbsp;Mới--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="links"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;Trang&nbsp;Chủ&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;Liên&nbsp;Hệ&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;Về&nbsp;Chúng&nbsp;Tôi&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;Dự&nbsp;Án&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;Dịch&nbsp;Vụ&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;Blog&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Thêm&nbsp;Phần&nbsp;Tử&nbsp;Mới--&#62;<br/> &#60;/div&#62;<br/></code></pre>

        <h4 class="text-primary mt-4">
          CSS
        </h4>
        <pre><code class="css">.links{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;30%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;right:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100vh;<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;2;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;eee;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> }<br/>ul{<br/> &nbsp;&nbsp;&nbsp;&nbsp;list-style:&nbsp;none;<br/> }<br/>.links&nbsp;a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-decoration:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#eee;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0.7rem&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;2rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;2px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.3s;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(10px);<br/> &nbsp;&nbsp;&nbsp;&nbsp; }<br/>.links&nbsp;a:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/>/*Hiệu&nbsp;Ứng&nbsp;Hiển&nbsp;Thị&nbsp;3D&nbsp;Nabar*/<br/> .container.active&nbsp;.links&nbsp;a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;animation:&nbsp;appear&nbsp;0.5s&nbsp;forwards&nbsp;ease-in-out&nbsp;0.5s;<br/> }<br/>@keyframes&nbsp;appear{<br/> &nbsp;&nbsp;&nbsp;&nbsp;from{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(10px);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(0px);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> }<br/> /*Hiệu&nbsp;Ứng&nbsp;Ẩn&nbsp;3D&nbsp;Nabar*/<br/> .links&nbsp;a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;animation:&nbsp;hide&nbsp;0.5s&nbsp;forwards&nbsp;ease;<br/> }<br/>@keyframes&nbsp;hide{<br/> &nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(0px);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;to{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(10px);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> }<br/></code></pre>

        <p class="mt-4">
          Và kết quả bạn xem ở video bên dưới nhé:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600847498/3D_Navbar/3D_Navbar_2_sq3vgx.mp4"></iframe>
        </div>

        <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
          <h3 class="text-primary ml-4 title-article-size">
           Thiết Lập Shadow Cho 3D Navbar
          </h3>
        </div>

        <p>
          Phần cuối cùng chúng ta cần thực hiện là thiết kế  trang web khi chuyển sang chế độ 3D có thể trông thật nhất có thể thông qua đoạn mã CSS sau nhé:
        </p>
        <h4 class="text-primary">
          CSS
        </h4>
        <pre><code class="css">.shadow{<br/> &nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;transform-style:&nbsp;preserve-3d;<br/> &nbsp;&nbsp;&nbsp;transform-origin:&nbsp;left;<br/> }<br/>.shadow.shadow1{<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;-1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0.15;<br/> }<br/>.container.active&nbsp;.shadow.shadow1{<br/> &nbsp;&nbsp;&nbsp;&nbsp;animation:&nbsp;shadow-one&nbsp;0.6s&nbsp;ease-out;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(215px)&nbsp;scale(0.5);<br/> }<br/>@keyframes&nbsp;shadow-one{<br/> &nbsp;&nbsp;&nbsp;&nbsp;0%{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translate(0);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;50%{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(310px)&nbsp;scale(0.5);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;100%{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(215px)&nbsp;scale(0.5);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> }<br/>.shadow.shadow2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;-2;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0.1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#fff;<br/> }<br/>.container.active&nbsp;.shadow.shadow2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;animation:&nbsp;shadow-two&nbsp;0.6s&nbsp;ease-out;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(120px)&nbsp;scale(0.5);<br/> }<br/>@keyframes&nbsp;shadow-two{<br/> &nbsp;&nbsp;&nbsp;&nbsp;0%{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translate(0);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;50%{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(310px)&nbsp;scale(0.5); &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;100%{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(120px)&nbsp;scale(0.5);<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> }<br/>.container.active&nbsp;.main:hover&nbsp;+&nbsp;.shadow.shadow1{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(230px)&nbsp;scale(0.5);<br/> }<br/>.container.active&nbsp;.main:hover&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;perspective(1300px)&nbsp;rotateY(20deg)&nbsp;&nbsp;translateZ(340px)&nbsp;scale(0.5);<br/> }<br/></code></pre>
        <p class="mt-4">
          Và kết quả cuối cùng bạn xem ở video bên dưới nhé:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1600848188/3D_Navbar/3D_Navbar_3_nju8kk.mp4"></iframe>
        </div>
        <p class="mt-4">
          Ngoài ra bạn có thể xem trực tiếp trên Codepen ở <a href="https://codepen.io/haycuoilennao19/pen/abNPYGm" title="3D Navbar" target="_blank">đường dẫn này nhé!</a><br/>
          Nguồn Tham Khảo: <a href="https://www.youtube.com/watch?v=nOcVOJw3Gfw&t=39s&ab_channel=TrueCoder" target="_blank">https://www.youtube.com/watch?v=nOcVOJw3Gfw&t=39s&ab_channel=TrueCoder</a>
        </p>

          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn kiến thức tạo 3D Navbar
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>