<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Thư Viện Tạo HTML5 Video Tốt Nhất Cho Phát Triển Web(2020) </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Trong bài viết hôm nay mình sẽ giới thiệu đến bạn những thư viện giúp tạo HTML5 Video cho trang web mà
                được lập trình viên tin tưởng và sử dụng trong năm 2020

                nhé!
              </i>
            </p>
            <p>
              Trước khi đi vào vấn đề chính thì mình sẽ giải thích sơ qua về HTML5 Video tí nhé!
            </p>
            <p>
              Đây là một tính năng mới được giới thiệu trong phiên bản HTML5. Nó được tạo ra để giúp người dùng có thể
              hiển thị video trên trang web một cách dễ dàng mà không cần sử dụng plugin bên thứ ba như là Adobe Flash.
              Video HTML5 sẽ cho phép người dùng tải video và nhúng trực tiếp vào trang HTML. Nó cũng chạy được trên
              nhiều trình duyệt phổ biến hiện nay như Google Chrome,
              Firefox, Opera, Safari, IE9+...<br />

              Một số tính năng hữu ích khi chúng ta sử dụng HTML5 là:
              <ul>
                <li>Cho phép thêm chú thích và phụ đề cho video.</li>
                <li>Hiển thị video trên nhiều màn hình thiết bị khác nhau.</li>
                <li>
                  Sử dụng <a
                    href="https://techblog.vn/web-speech-recognition#:~:text=The%20Web%20Speech%20API%20enables,n%C3%B3%20c%C5%A9ng%20kh%C3%A1%20l%C3%BD%20th%C3%BA."
                    title=" Web Speech API" target="_blank">Web Speech API</a> để điều khiển HTML5 Video.
                </li>
                <li>
                  Có thể ẩn các nút điều khiển ở trong chế độ toàn màn hình.
                </li>
                <li>
                  Dễ dàng nhúng video vào trang web thông qua thẻ <code>&#60;video&#62;</code>
                </li>
              </ul>
            </p>
            <p>
              Tuy vậy để có thể làm việc với nhiều trình duyệt cũ hơn hay thêm các tính năng mới cho việc tùy chỉnh
              video trong trang web thì chúng ta cần sử dụng thư viện để giải quyết
              những vấn đề này.
              Bây giờ bạn hãy cùng mình đi vào tìm hiểu nhé!
            </p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Plyr
              </h3>
            </div>
            <p>
              <b>Plyr</b> là một thư viện mã nguồn mở nhỏ gọn giúp bạn dễ dàng truy cập và chỉnh sửa video cho HTML5,
              Youtube hay Vimeo và chạy được trên hầu hết các trinh duyệt phổ biến hiện nay.
              Bạn có thể điều chỉnh style trong <code>plyr.css</code> để thiết kế trình phát video phù hợp với trang web
              của mình như là chọn màu chủ đạo, kích thước border,
              màu cho chú thích trong video, lựa chọn font chữ... Cài này bạn tham khảo thêm trong phần "Customizing the
              CSS" nhé. Ngoài ra nó có một số tính năng hữu ích khác như là
              hiển thị trên nhiều màn hình thiết bị khác nhau, thiết lập các phương thức thông qua API, sử dụng các phím
              tắt trong bàn phím để điều khiển trình phát video,
              có các phiên bản dành cho nhiều framework và ngôn ngữ khác như là React, Vue, Angular, WordPress, Neos...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593431728/thu-vien-html5-video/plyr_tldlb8.png"
              alt="Plyr">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://plyr.io/" target="_blank"
                title="Plyr">
                Nguồn
                Plyr
              </a> </button>





            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                HLS.js
              </h3>
            </div>
            <p>
              <b>HLS.js</b> là một thư viện mã nguồn được xây dựng bằng Javascript giúp bạn có thể thực hiện HTTP Live
              Streaming.
              Ở đây HTTP Live Streaming là một kỹ thuật truyền phát các file media dựa trên giao thức HTTP và được phát
              triển bởi Apple.
              Bạn có thể hiểu đơn giản là nó giúp chúng ta chia một file media thành nhiều file nhỏ hơn và trình phát
              video trong trình duyệt sẽ
              gởi các yêu cầu để lấy những file nhỏ đó giúp tránh được tình trạng phải chờ tải xong toàn bộ video thì
              mới có hiển thị trên trình duyệt.
              Ngoài ra nó cũng dựa vào băng thông mạng của người dùng để lựa chọn chất lượng video hợp lý( như 480, 720,
              1080p). Bạn có thể
              tham khảo thêm ở đây nhé <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank"
                title="HTTP Live Streaming">HTTP Live Streaming</a>.<br />
              HLS.js làm việc trực tiếp với thẻ <code>&#60;video&#62;</code> HTML mà không cần sử dụng thêm trình phương
              phát phương tiện nào. Ngoài ra nó cũng một số tiện ích như là
              lựa chọn chế độ streaming, tự động phục hồi khi video bị lỗi, phát video dưới dạng mp3...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593434811/thu-vien-html5-video/hlsjs_bnhlfg.png"
              alt="HLS.js">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://hls-js.netlify.app/demo/"
                target="_blank" title="HLS.js">
                Nguồn
                HLS.js
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                VideoJS
              </h3>
            </div>
            <p>
              <b>VideoJS</b> là trình phát video được xây dựng từ nền tảng Video HTML5 hỗ trợ cho nhiều định loại định
              dạng khác nhau như Youtube, Vimeo, streaming...
              Nó được phát triển vào giữa năm 2010, được hàng trăm lập trình viên đóng góp vào dự án và hiện có hơn
              450.000 trang web đang sử dụng thư viện này.
              Một số điểm mạnh của VideoJS là được thiết kế với tính thẩm mỹ cao, có nhiều theme để lựa chọn phù hợp cho
              trình phát media, có thể chạy trên cả máy tính cũng như điện thoại,
              cung cấp hơn 100 plugin giúp bạn có thể tính chỉnh cũng như thêm tính năng mới một cách dễ dàng...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593435532/thu-vien-html5-video/VideoJS_deoygc.png"
              alt="VideoJS">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://videojs.com/" target="_blank"
                title="VideoJS">
                Nguồn
                VideoJS
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Fluid Player
              </h3>
            </div>
            <p>
              <b>Fluid Player</b> là một trình phát HTML Video nhỏ gọn giúp bạn có thể dễ dàng tùy biến trình phát video
              cho trang web của mình.
              Ngoài ra nó còn có một số tính năng hữu ích khác là hiển thị trên nhiều màn hình thiết bị khác nhau,
              có nhiều lựa chọn cho chất lượng video, xác định hình ảnh thumbnail trước khi load video, cho phép hiển
              thị các banner quảng cáo,
              hỗ trợ cho Vue, React và WordPress...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593438036/thu-vien-html5-video/Fluid_Player_u2zdwc.png"
              alt="Fluid Player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://www.fluidplayer.com/"
                target="_blank" title="Fluid Player">
                Nguồn
                Fluid Player
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                MediaElementPlayer
              </h3>
            </div>
            <p>
              <b>MediaElementPlayer</b> là thư viện mã nguồn mở giúp bạn xây dựng trình phát video và audio một cách
              nhanh chóng và dễ dàng cho trang web.
              Nó cũng hỗ trợ làm việc với các trình phát media nhúng cho trang web như là Youtube, Vimeo, Twitch,
              DailyMotion, Facebook, và SoundCloud.
              Ngoài ra MediaElementPlayer cũng cung cấp một số thiết lập giúp bạn tùy chỉnh trình phát media để phù hợp
              cho trang web như là cho dùng phím để điều khiển,
              xác định vị trí của âm lượng, định dạng thời gian hiển thị trên trình phát media...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593438723/thu-vien-html5-video/MediaElementPlayer_b4btyg.png"
              alt="MediaElementPlayer">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="http://www.mediaelementjs.com/"
                target="_blank" title="MediaElementPlayer">
                Nguồn
                MediaElementPlayer
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Accessible HTML5 Video Player
              </h3>
            </div>
            <p>
              <b>Accessible HTML5 Video Player</b> là một thư viện mã nguồn mở được xây dựng bằng javascript thuần, kích
              thước nhỏ gọn giúp bạn có thể dễ dàng thiết lập trình phát video cho
              nhiều dự án web khác nhau. Một số điểm mạnh của thư viện này là hỗ trợ các chú thích cho video, sử dụng
              form control HTML5 cho âm lượng và thanh tiến trình (phòng trường hợp javascript không được bật),
              hỗ trợ cho front-end framework React.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593439573/thu-vien-html5-video/Accessible_HTML5_Video_Player_zcpcsg.png"
              alt="Accessible HTML5 Video Player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/paypal/accessible-html5-video-player" target="_blank"
                title="Accessible HTML5 Video Player">
                Nguồn
                Accessible HTML5 Video Player
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Indigo-player
              </h3>
            </div>
            <p>
              <b>Indigo-player</b> là một thư viện mã nguồn mở được xây dựng bằng Javascript giúp bạn dễ dàng tạo các
              trình phát media hiện đại và có tính tùy biến cao.
              Với hệ thống được chia thành những mô đun nhỏ giúp bạn có thể loại bỏ những chức năng mà mình không cần sử
              dụng đến. Ngoài ra nó có thể chạy được với các media như là mp4, Dash, HLS...
              và hỗ trợ hầu hết các trình duyệt phổ biến hiện nay. Nó cũng có phần hướng dẫn thiết lập và sử dụng chi
              tiết giúp bạn có thể dễ dàng áp dụng vào cho trang web của mình.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593441742/thu-vien-html5-video/Indigo-player_ostpoq.png"
              alt="indigo-player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://matvp91.github.io/indigo-player/#/" target="_blank" title="indigo-player">
                Nguồn
                Indigo-player
              </a> </button>





            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                jPlayer
              </h3>
            </div>
            <p>
              <b>jPlayer</b> là một thư viện mã nguồn mở và hoàn toàn miễn phí được xây dựng bằng Jquery giúp bạn có thể
              nhanh chóng xây dừng trình phát video cũng như audio cho trang web của mình.
              Nó cung cấp nhiều tính năng giúp bạn dễ dàng mở rộng và thiết lập style cho trình phát media thông qua
              HTML, CSS. Ngoài ra jPlayer cũng có thể chạy được trên nhiều nền tảng và trình duyệt khác nhau như là
              Chrome, Firefox, Internet Explorer, Safari, Opera, IE6+, iOS, Android...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593481068/thu-vien-html5-video/jPlayer_uyzrwg.png"
              alt="jPlayer">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="http://jplayer.org/" target="_blank"
                title="jPlayer">
                Nguồn
                jPlayer
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Xigua Video Player(HTML5)
              </h3>
            </div>
            <p>
              <b>Xigua Video Player(HTML5)</b> là một thư viện dành cho việc phát video, âm thanh cho trang web. Nó được
              thiết kế thành những UI riêng biệt giúp bạn có thể linh hoạt
              trong việc xây dựng trình phát media dễ dàng. Ngoài ra nó cũng cung cấp một số tính năng hữu ích khác như
              là Picture-in-Picture: giúp hiển thị video trong cửa sổ nhỏ
              để người dùng có thể vừa đọc thông tin và xem video cùng một lúc trên trang web, chế độ toàn màn hình,
              chức năng chụp hình video đang chạy một cách nhanh chóng,
              định dạng lại ngôn ngữ cho trình phát media, tùy chỉnh thiết kế thông qua thuộc tính <code>style</code>...
              Nó có công cụ generate giúp bạn có thể tự điều chỉnh
              trình phát media một cách trực quan thông qua cách thêm bớt các thông tin, thuộc tính và chức năng mà bạn
              muốn, Sau đó công cụ này sẽ tự động xuất ra đoạn mã và hiển thị trình phát video tương ứng với những thông
              tin đó.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593482379/thu-vien-html5-video/Xigua_Video_Player_HTML5_utz1vy.png"
              alt="Xigua Video Player(HTML5)">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="http://h5player.bytedance.com/en/"
                target="_blank" title="Xigua Video Player(HTML5)">
                Nguồn
                Xigua Video Player(HTML5)
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Clappr
              </h3>
            </div>
            <p>
              <b>Clappr</b> là một trình phát media mở rộng cho trang web. Nó là tổng hợp của hai dựa án khác nhau là
              @clappr/core và @clappr/plugins.
              Với @clappr/core là nơi chứa các chức năng cơ bản như các class, kiến trúc plugin, xử lý sự kiện... và
              @clappr/plugins là nởi tổng hợp các plugin mà
              bạn có tích hợp vào trình phát media như là hiển thị video 360 độ, Picture-in-Picture, các nút điều
              khiển... Và nó hiển thị được trên nhiều màn hình thiết bị khác nhau cũng như chạy trên hầu hết các
              trình duyệt phổ biến hiện nay. Bạn có thể tham khảo thêm cách thiết lập và sử dụng thư viện này trong phần
              Documentation của trang demo nhé.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593483685/thu-vien-html5-video/Clappr_xpgohd.png"
              alt="Clappr">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="http://clappr.io/" target="_blank"
                title="Clappr">
                Nguồn
                Clappr
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Shaka Player
              </h3>
            </div>
            <p>
              <b>Shaka Player</b> là một thư viện mã nguồn mở được xây dựng bằng Javascript giúp bạn có thể thiết lập
              trình phát media dễ dàng cho trang web.
              Một điểm mạnh của thư viện này là có thể chạy các adaptive media formats (như là DASH và HLS) trong trình
              duyệt mà không cần sử dụng thư viện bổ sung.
              Nó cũng hỗ trợ lưu trữ ngoại tuyến và phát lại video thông qua IndexedDB trên trình duyệt (tuy nhiên cũng
              có một số trình duyệt không hỗ trợ nhé).
              Với sự hình thành phát triển từ năm 2014 và được nâng cấp cập qua nhiều giai đoạn với nhiều tính năng hữu
              ích thì mình nghĩ đây là một thư viện bạn nên sử dụng để tạo trình phát media cho trnag web của mình.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593484820/thu-vien-html5-video/Shaka_Player_v1vy5k.png"
              alt="Shaka Player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://github.com/google/shaka-player"
                target="_blank" title="Shaka Player">
                Nguồn
                Shaka Player
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Một số thư viện video cho ReactJS
              </h3>
            </div>
            <p>
              Tiếp theo mình sẽ tổng hợp một số thư viện video cho ReactJS ở bên dưới đây nhé!
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Video-React
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593485753/thu-vien-html5-video/Video-React_pmfusu.png"
              alt=" Video-React">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://video-react.js.org/"
                target="_blank" title=" Video-React">
                Nguồn
                Video-React
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                ReactPlayer
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593485995/thu-vien-html5-video/ReactPlayer_fnnhno.png"
              alt="ReactPlayer">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/CookPete/react-player" target="_blank" title="ReactPlayer">
                Nguồn
                ReactPlayer
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                React Media Player
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593486339/thu-vien-html5-video/React_Media_Player_d6ihip.png"
              alt="React Media Player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/souporserious/react-media-player" target="_blank" title="React Media Player">
                Nguồn
                React Media Player
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                react-html5video
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593486918/thu-vien-html5-video/react-html5video_shvvhk.png"
              alt="react-html5video">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/mderrick/react-html5video" target="_blank" title="react-html5video">
                Nguồn
                react-html5video
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                React Video
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593487132/thu-vien-html5-video/React_Video_oej3a4.png"
              alt="React Video">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/pedronauck/react-video" target="_blank" title="React Video">
                Nguồn
                React Video
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Một số thư viện video cho VueJS
              </h3>
            </div>
            <p>
              Tiếp theo mình sẽ tổng hợp một số thư viện video cho VueJS ở bên dưới đây nhé!
            </p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Vue-Video-Player
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593487333/thu-vien-html5-video/Vue-Video-Player_mq8cl3.png"
              alt="Vue-Video-Player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.surmon.me/vue-video-player/" target="_blank" title="Vue-Video-Player">
                Nguồn
                Vue-Video-Player
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                vue-core-video-player
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593487687/thu-vien-html5-video/vue-core-video-player_eszuru.png"
              alt="vue-core-video-player">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://core-player.github.io/vue-core-video-player/get-started.html" target="_blank"
                title="vue-core-video-player">
                Nguồn
                vue-core-video-player
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                vue-video-module
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593488205/thu-vien-html5-video/vue-video-module_kfcixe.png"
              alt="vue-video-module">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/iapYang/vue-video-module" target="_blank" title="vue-video-module">
                Nguồn
                vue-video-module
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Vue-DPlayer
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593488322/thu-vien-html5-video/Vue-DPlayer_gcaosm.png"
              alt="Vue-DPlayer">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/MoePlayer/vue-dplayer" target="_blank" title="Vue-DPlayer">
                Nguồn
                Vue-DPlayer
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                vue-youtube-ssr-app
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593488556/thu-vien-html5-video/vue-youtube-ssr-app_q1ztxo.png"
              alt="vue-youtube-ssr-app">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://vue-youtube.herokuapp.com/"
                target="_blank" title="vue-youtube-ssr-app">
                Nguồn
                vue-youtube-ssr-app
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Một số thư viện video cho Angular
              </h3>
            </div>
            <p>
              Tiếp theo mình sẽ tổng hợp một số thư viện video cho Angular ở bên dưới đây nhé!
            </p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                mat-video
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593489337/thu-vien-html5-video/mat-video_rsqhs2.png"
              alt="mat-video">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://nkoehler.github.io/mat-video/"
                target="_blank" title="mat-video">
                Nguồn
                mat-video
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Videogular
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593489540/thu-vien-html5-video/Videogular_d3fvw1.png"
              alt="Videogular">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://videogular.github.io/videogular2/" target="_blank" title="Videogular">
                Nguồn
                Videogular
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                ngx-embed-video
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593489699/thu-vien-html5-video/ngx-embed-video_vwnyql.png"
              alt="ngx-embed-video">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://github.com/SamirHodzic/ngx-embed-video" target="_blank" title="ngx-embed-video">
                Nguồn
                ngx-embed-video
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Một số thư viện video cho trang web khác
              </h3>
            </div>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                JW Player's
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593490051/thu-vien-html5-video/JW_Player_s_f59xt6.png"
              alt="JW Player's">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.jwplayer.com/html5-video-player/" target="_blank" title="JW Player's">
                Nguồn
                JW Player's
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Flowplayer
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593490299/thu-vien-html5-video/Flowplayer_e4gayp.png"
              alt="Flowplayer">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a href="https://flowplayer.com/features/player"
                target="_blank" title="Flowplayer">
                Nguồn
                Flowplayer
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Vplayed
              </h3>
            </div>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593490525/thu-vien-html5-video/Vplayed_f4wi1x.png"
              alt="Vplayed">
            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.vplayed.com/hls-html-player.php" target="_blank" title="Vplayed">
                Nguồn
                Vplayed
              </a> </button>
























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thư viện HTML5 Video hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>