<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i> Tạo hiệu ứng scroll bằng AOS</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay mình sẽ giới thiệu đến các bạn một ứng dụng AOS giúp chúng ta tạo hiệu ứng với các thẻ HTML khi 
              người dùng di chuyển chuột. Để hiểu rõ hơn các bạn cùng mình tìm hiểu nhé!</i>
            </p>
            <p>Việc đầu tiên là mình sẽ tạo file có cấu trúc thư mục như sau: </p>
            <img src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1580825559/AOS%20Scroll/AOS_iuyzbi.svg"  width="200" height="200" alt="Cấu Trúc AOS Scroll Libarary">
            <p>Tiếp đến các bạn tải 2 file là <mark>aos.css và aos.js</mark> mà mình đã nén và  để ở bên dưới để chép vào thư mục AOS_Scroll nhé:<br /> 
              <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1580825810/AOS%20Scroll/AOS_scroll_asihg0.rar" download="" alt="Download Hover.css">Tải File AOS Scroll</a>          
          </p>
              Hoặc các bạn có thể sử dụng CDN link chỉ cần thêm vào file <mark>trang_chinh.html</mark> mà không cần tải file tập tin ở trên:
              <div class="alert alert-primary" role="alert">
                &#60;link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"&#62; <br />
                &#60;script src="https://unpkg.com/aos@2.3.1/dist/aos.js"&#62;&#60;script&#62;
              </div>
     
              <p>Sau đó tạo cấu trúc file HTML cho <mark>trang_chinh.html</mark> và tạo liên kết với trang <mark>aos.css và aos.js</mark>.
            Do để tạo những nội dung đẹp hơn thì  mình sẽ sử dụng thêm Bootstrap4 cho trang HTML. Một lưu ý nhỏ là các bạn không cần phải tải file Bootrap4 về đâu vì mình 
            sử dụng CDN link nên các bạn chỉ cần tạo file HTML giống bên dưới là có thể sử sụng được rồi. Các bạn xem đoạn code dưới đây để nắm rõ hơn nhé:
            </p>
            <pre><code class="html">&#60;!doctype html&#62;<br /> &#60;html lang="en"&#62;<br /> &#60;head&#62;<br /> &#60;title&#62;AOS Scroll&#60;/title&#62;<br /> &#60;!-- Required meta tags --&#62;<br /> &#60;meta charset="utf-8"&#62;<br /> &#60;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&#62;<br />&#60;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"&#62;<br /> &#60;link rel="stylesheet" href="aos.css"&#62;<br /> &#60;/head&#62;<br /> &#60;body&#62;<br /> &#60;script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"&#62;&#60;/script&#62; &#60;script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"&#62;&#60;/script&#62;<br /> &#60;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"&#62;&#60;/script&#62;<br /> &#60;script src="aos.js"&#62;&#60;/script&#62;<br /> &#60;/body&#62;<br /> &#60;/html&#62;<br /></code></pre>
              <p>Khi chèn đoạn code trên thì tiếp theo  bạn cần thiết lập một đoạn mã Javascript để kích hoạt ứng dụng Javascript AOS để có thể sử dụng thư viện AOS bằng đoạn code dưới đây:</p>
              <pre><code class="html"> &#60;script&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AOS.init();&nbsp;<br/> &#60;/script&#62;</code></pre>
             <p>Sau khi thiết lập xong xuôi thì chúng ta chỉ cần chọn những thẻ HTML mà mình muốn thêm hiệu ứng chuyển động  bằng cách  chèn thuộc tính <b>data-aos</b>. Để hiểu rõ các bạn xem đoạn code 
            sau đây nhé</p>
            <pre><code class="html">&#60;div data-aos="tên_chuyển_động"&#62;</code></pre>
            <p>Trước khi thêm hiệu ứng chuyển động thì các bạn cùng mình xem qua bảng miêu tả các thuộc tính quan trọng trong thư viện AOS để giúp chúng ta kết hợp những thuộc tính đó làm cho 
              hiệu ứng sinh động hơn cũng như linh hoạt phát triển nhiều chuyển động theo mục đích của mình.
            </p>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Tên Thuộc Tính</th>
                  <th scope="col">Miêu Tả Thuộc Tính</th>
                </tr>
              </thead>
              <tbody>
                <tr>             
                  <td>data-aos-offset</td>
                  <td>Giúp chúng ta kích hoạt chuyển động sớm hơn hay muộn hơn thời gian mặc định.(Giá trị mặc định là 120px)</td>
                </tr>
                <tr>
                  <td>data-aos-duration</td>
                  <td>Thời gian của hiệu ứng chuyển động (theo ms) </td>
                </tr>
                <tr>
                  <td>data-aos-delay</td>
                  <td>Là thời gian trì hoãn chuyển động (theo ms và nó phải nằm trong phạm vi là 50ms tới 3000ms)</td>
                </tr>
                <tr>
                  <td> data-aos-easing</td>
                  <td>Dùng để điều khiển chức năng thời gian tạo hiệu ứng chuyển động cho các đối tượng HTML khác nhau.</td>
                </tr>
              </tbody>
            </table>
            <p>Nghe hơi khó hiểu nên chúng ta sẽ  thêm đoạn code dưới đây vào <mark>trang_chinh.html </mark> với đối tượng HTML với 3 thuộc tính là  <b>data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="2500"</b> để xem hiệu ứng chuyển động  giúp các bạn có thể hình dung rõ hơn:</p>
            <pre><code class="html">&#60;div&nbsp;class="container"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="row"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12&nbsp;text-justify&nbsp;shadow-lg&nbsp;p-4&nbsp;mb-5&nbsp;bg-white&nbsp;rounded"&nbsp;data-aos="fade-up-right"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&nbsp;class="text-primary">Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h2><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h4&nbsp;class="text-danger">data-aos="fade-up-right"&#60;/h4><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur,&nbsp;adipisicing&nbsp;elit.&nbsp;Neque,&nbsp;quidem&nbsp;quo&nbsp;placeat&nbsp;adipisci&nbsp;non<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cupiditate&nbsp;ducimus&nbsp;dolorum&nbsp;et&nbsp;iste&nbsp;numquam&nbsp;accusamus&nbsp;voluptas&nbsp;minima&nbsp;laudantium&nbsp;odit&nbsp;iure<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consectetur&nbsp;perferendis.&nbsp;Minima,&nbsp;aspernatur?<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Nesciunt&nbsp;laborum&nbsp;vero&nbsp;similique&nbsp;veniam<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolores&nbsp;officia&nbsp;reiciendis&nbsp;ea&nbsp;earum,&nbsp;distinctio&nbsp;molestias&nbsp;tenetur&nbsp;labore&nbsp;modi&nbsp;ullam&nbsp;esse<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;necessitatibus&nbsp;libero&nbsp;harum&nbsp;dolorem&nbsp;magnam!<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Laboriosam&nbsp;labore&nbsp;vero&nbsp;sit&nbsp;nesciunt.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laboriosam&nbsp;fugiat&nbsp;recusandae&nbsp;labore&nbsp;officia,&nbsp;illo&nbsp;aliquam&nbsp;numquam&nbsp;inventore&nbsp;mollitia&nbsp;quidem<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consectetur,&nbsp;voluptates&nbsp;nihil&nbsp;sit&nbsp;repudiandae&nbsp;repellendus.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12">&#60;/div><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div><br/> &#60;div&nbsp;class="row"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12">&#60;/div><br/>&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12&nbsp;text-justify&nbsp;shadow-lg&nbsp;p-4&nbsp;mb-5&nbsp;bg-white&nbsp;rounded"&nbsp;data-aos="fade-up-left"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&nbsp;class="text-primary">Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h2><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h4&nbsp;class="text-danger">data-aos="fade-up-left"&#60;/h4><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur,&nbsp;adipisicing&nbsp;elit.&nbsp;Neque,&nbsp;quidem&nbsp;quo&nbsp;placeat&nbsp;adipisci&nbsp;non<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cupiditate&nbsp;ducimus&nbsp;dolorum&nbsp;et&nbsp;iste&nbsp;numquam&nbsp;accusamus&nbsp;voluptas&nbsp;minima&nbsp;laudantium&nbsp;odit&nbsp;iure&nbsp;consectetur&nbsp;perferendis.&nbsp;Minima,&nbsp;aspernatur?<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Nesciunt&nbsp;laborum&nbsp;vero&nbsp;similique&nbsp;veniam<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolores&nbsp;officia&nbsp;reiciendis&nbsp;ea&nbsp;earum,&nbsp;distinctio&nbsp;molestias&nbsp;tenetur&nbsp;labore&nbsp;modi&nbsp;ullam&nbsp;essene<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cessitatibus&nbsp;libero&nbsp;harum&nbsp;dolorem&nbsp;magnam!<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Laboriosam&nbsp;labore&nbsp;vero&nbsp;sit&nbsp;nesciunt.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laboriosam&nbsp;fugiat&nbsp;recusandae&nbsp;labore&nbsp;officia,&nbsp;illo&nbsp;aliquam&nbsp;numquam&nbsp;inventore&nbsp;mollitia&nbsp;quidem<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consectetur,&nbsp;voluptates&nbsp;nihil&nbsp;sit&nbsp;repudiandae&nbsp;repellendus.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div><br/> &#60;/div><br/> &#60;/div><br/></code></pre>
             <p>Khi thêm xong các bạn nhấn nút <b>Refresh hoặc F5</b> sẽ có những hiệu ứng giống mình ở video dưới đây:</p>
            <div class="embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1580838355/AOS%20Scroll/Title_a3ivcc.mp4"></iframe>
            </div>
            <p class="mt-4">
              Sau khi gọi đến hiệu ứng chuyển động cơ bản thì tiếp theo mình sẽ thử thêm hai thuộc tính là <b> data-aos-easing="ease-in-sine" và data-aos-duration="2500"</b> vào hai đối tượng HTML
              để xem nó thay đổi như thế nào nhé:
            </p>
            <pre><code class="html">&#60;div&nbsp;class="container"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="row"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12&nbsp;text-justify&nbsp;shadow-lg&nbsp;p-4&nbsp;mb-5&nbsp;bg-white&nbsp;rounded"&nbsp;data-aos="fade-up-right"  data-aos-easing="ease-in-sine" data-aos-duration="2500"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&nbsp;class="text-primary">Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h2><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h4&nbsp;class="text-danger">data-aos="fade-up-right"&#60;/h4><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur,&nbsp;adipisicing&nbsp;elit.&nbsp;Neque,&nbsp;quidem&nbsp;quo&nbsp;placeat&nbsp;adipisci&nbsp;non<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cupiditate&nbsp;ducimus&nbsp;dolorum&nbsp;et&nbsp;iste&nbsp;numquam&nbsp;accusamus&nbsp;voluptas&nbsp;minima&nbsp;laudantium&nbsp;odit&nbsp;iure<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consectetur&nbsp;perferendis.&nbsp;Minima,&nbsp;aspernatur?<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Nesciunt&nbsp;laborum&nbsp;vero&nbsp;similique&nbsp;veniam<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolores&nbsp;officia&nbsp;reiciendis&nbsp;ea&nbsp;earum,&nbsp;distinctio&nbsp;molestias&nbsp;tenetur&nbsp;labore&nbsp;modi&nbsp;ullam&nbsp;esse<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;necessitatibus&nbsp;libero&nbsp;harum&nbsp;dolorem&nbsp;magnam!<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Laboriosam&nbsp;labore&nbsp;vero&nbsp;sit&nbsp;nesciunt.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laboriosam&nbsp;fugiat&nbsp;recusandae&nbsp;labore&nbsp;officia,&nbsp;illo&nbsp;aliquam&nbsp;numquam&nbsp;inventore&nbsp;mollitia&nbsp;quidem<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consectetur,&nbsp;voluptates&nbsp;nihil&nbsp;sit&nbsp;repudiandae&nbsp;repellendus.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12">&#60;/div><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div><br/> &#60;div&nbsp;class="row"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12">&#60;/div><br/>&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-md-6&nbsp;col-sm-12&nbsp;text-justify&nbsp;shadow-lg&nbsp;p-4&nbsp;mb-5&nbsp;bg-white&nbsp;rounded"&nbsp;data-aos="fade-up-left"  data-aos-easing="ease-in-sine" data-aos-duration="2500"><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&nbsp;class="text-primary">Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h2><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h4&nbsp;class="text-danger">data-aos="fade-up-left"&#60;/h4><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur,&nbsp;adipisicing&nbsp;elit.&nbsp;Neque,&nbsp;quidem&nbsp;quo&nbsp;placeat&nbsp;adipisci&nbsp;non<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cupiditate&nbsp;ducimus&nbsp;dolorum&nbsp;et&nbsp;iste&nbsp;numquam&nbsp;accusamus&nbsp;voluptas&nbsp;minima&nbsp;laudantium&nbsp;odit&nbsp;iure&nbsp;consectetur&nbsp;perferendis.&nbsp;Minima,&nbsp;aspernatur?<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Nesciunt&nbsp;laborum&nbsp;vero&nbsp;similique&nbsp;veniam<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dolores&nbsp;officia&nbsp;reiciendis&nbsp;ea&nbsp;earum,&nbsp;distinctio&nbsp;molestias&nbsp;tenetur&nbsp;labore&nbsp;modi&nbsp;ullam&nbsp;essene<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cessitatibus&nbsp;libero&nbsp;harum&nbsp;dolorem&nbsp;magnam!<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Laboriosam&nbsp;labore&nbsp;vero&nbsp;sit&nbsp;nesciunt.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laboriosam&nbsp;fugiat&nbsp;recusandae&nbsp;labore&nbsp;officia,&nbsp;illo&nbsp;aliquam&nbsp;numquam&nbsp;inventore&nbsp;mollitia&nbsp;quidem<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;consectetur,&nbsp;voluptates&nbsp;nihil&nbsp;sit&nbsp;repudiandae&nbsp;repellendus.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p><br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div><br/> &#60;/div><br/> &#60;/div><br/></code></pre>
            <p>Khi thêm xong các bạn nhấn nút <b>Refresh hoặc F5</b> sẽ có những hiệu ứng giống mình ở video dưới đây:</p>
            <div class="embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1580891438/AOS%20Scroll/Title_1_ge7rz7.mp4"></iframe>
            </div>
          <p class="mt-4">
            Khi các bạn có các thuộc tính <mark>data-aos-offset, data-aos-duration, data-aos-easing, data-aos-delay</mark> trong các đối tượng HTML của trang web là bằng nhau thì mình không cần phải 
            đi thiết lập những thuộc tính này cho từng đối tượng HTML mà ở đây thư viện AOS có một chức năng giúp ta làm điều đó dễ dàng hơn. Các bạn theo dõi đoạn code ở dưới đây nhé: 
          </p>
          <pre><code class="html">&#60;script&#62;<br /> &nbsp;&nbsp;&nbsp;AOS.init({<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;offset:&nbsp;200,<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;duration:&nbsp;600,<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;easing:&nbsp;'ease-in-sine',<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delay:&nbsp;100,<br /> &nbsp;&nbsp;&nbsp;});<br /> &#60;/script&#62;<br /></code></pre>
          <p>Thư viện AOS có thêm một chức năng giúp chúng ta có thể tắt hiệu ứng chuyển động khi màn hình của người dùng trên điện thoại hoặc những màn hình mà các bạn không muốn hiển thị hiệu ứng chuyển động.
            Để hiểu rõ hơn các bạn xem đoạn code ở dưới đây nhé:
          </p>
          <pre><code class="html">&#60;script&#62;<br /> AOS.init({<br /> &nbsp;&nbsp;disable:&nbsp;'mobile'<br /> });<br />AOS.init({<br /> &nbsp;&nbsp;disable:&nbsp;function&nbsp;()&nbsp;{<br /> &nbsp;&nbsp;&nbsp;&nbsp;var&nbsp;maxWidth&nbsp;=&nbsp;1024;<br /> &nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;window.innerWidth&nbsp;&#60;&nbsp;maxWidth;<br /> &nbsp;&nbsp;}<br /> });<br /> &#60;/script&#62;<br /></code></pre>
          <p>Ở trên các bạn thấy có hai hàm AOS.init tượng trưng cho hai trường hợp thứ nhất là chức năng được viết sẵn bởi thư viện AOS là sẽ tắt hiệu ứng chuyển động khi màn hình là điện thoại còn 
            cách thứ hai linh hoạt hơn là tùy vào màn hình mà ta thiết lập (như ở đây là 1024px) để tắt hiệu ứng chuyển động.
          </p>

          <p>Ở đây mình cũng giới thiệu thêm vài thuộc tính nữa của thư viện AOS nếu các bạn muốn tìm hiểu thêm thì nhấp vào đường dấn mình đặt ở bên dưới nhé: </p>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tên Thuộc Tính</th>
                <th scope="col">Miêu Tả Thuộc Tính</th>
              </tr>
            </thead>
            <tbody>
              <tr>             
                <td>data-aos-anchor</td>
                <td>Khi bạn muốn thực hiện hiệu ứng chuyển động dựa theo vị trí của những đối tượng HTML khác  trong trang web. Giá trị mặc định là null.</td>
              </tr>
              <tr>
                <td>data-aos-anchor-placement</td>
                <td>Bạn thiết lập một vị trí của đối tượng HTML trên màn hình để thực hiện hiệu ứng chuyển động (Ví dụ bạn có thể thiết lập là top-bottom, top-center...) </td>
              </tr>
              <tr>
                <td>data-aos-once</td>
                <td>Dùng để điều khiển hiệu ứng chuyển động có lặp lại hay không. Giá trị mặc định là true.</td>
              </tr>
            </tbody>
          </table>
          <p class="mt-4">Sau đây là những hiệu ứng chuyển động mà mình đã làm trong <mark>trang_chinh.html</mark> có gì các bạn theo đường dẫn bên dưới tải source code để nắmrõ hơn nhé</p>
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1580906456/AOS%20Scroll/Title_2_1_febsg3.mp4"></iframe>
          </div>
          
          
          <p class="mt-4">Mình gửi các bạn đường dẫn để tải về những file trong thư mục <b>AOS Scroll</b> để bạn đễ hình dung và có thể xem lại! <br />
          <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1580906750/AOS%20Scroll/AOS_Scroll_ctha9r.rar" download>Đường dẫn tải File Source Code</a>
        </p>
        <p>Các bạn có thể tìm hiểu thêm thông qua đường dẫn dưới đây nhé! <br />
          <i class="fa fa-info" aria-hidden="true"></i> <a href="http://michalsnik.github.io/aos/" target="_blank">Đường dẫn để bạn tìm hiểu thêm</a>
        </p>
        <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình mong muốn thư viện này sẽ giúp các bạn có thể làm trang web mình một cách sinh động hơn và nếu có thắc mắc gì cứ gủi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>