<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i>Today we will go into examples of job applications and a beautiful self-introduction website
              is built with HTML CSS and Javascript! </i></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Project Resume And Portfolio Examples</h2>
            </div>
            <p class="mt-4">Before going into the example of Portfolio and Resume, I have to note the following to see the conclusion clearly
              rather you switch to screen mode <b> 0.5x, 0.25x </b> or if it does not show up remember to <b> verify
                I am human in Codepen to see it</b>. If the file is SCSS then you can convert to CSS in
              here: <a href = "https://jsonformatter.org/scss-to-css" rel = "external nofollow noopener noreferrer"
                target = "_blank"> SCSS to CSS </a>. If the file is Pug, you can convert to HTML here: <a
                href = "https://pughtml.com/" rel = "external nofollow noopener noreferrer" target = "_blank"> Pug to HTML </a>.
              If we want to see the sources used in Codepen for you to set up at the bottom of your computer click
              <b> Resources </b> is at the bottom left of Codepen for CDN links.</p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Portfolio CSS3 Javascript</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Portfolio%20CSS3%20Javascript.png"
              alt="Portfolio CSS3 Javascript">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="celincky" data-slug-hash="zdqso" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="zdqso"> <span>See the Pen <a href="https://codepen.io/celincky/pen/zdqso"> zdqso</a> by
                Celine (<a href="https://codepen.io/celincky">@celincky</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/celincky/pen/zdqso"
                target="_blank" title="Portfolio CSS3 Javascript">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Portfolio  ReactJS</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Portfolio%20B%E1%BA%B1ng%20ReactJS.png"
              alt="Portfolio  ReactJS">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="yagoestevez" data-slug-hash="oapQEJ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Portfolio Page"> <span>See the Pen <a href="https://codepen.io/yagoestevez/pen/oapQEJ">
                  Portfolio Page</a> by Yago Estévez (<a href="https://codepen.io/yagoestevez">@yagoestevez</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/yagoestevez/pen/oapQEJ" target="_blank"
                title="Portfolio  ReactJS">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Portfolio Template HTML</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Portfolio%20Template%20HTML.png"
              alt="Portfolio Template HTML">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="LewisBriffa" data-slug-hash="BoyZYd" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Portfolio Website"> <span>See the Pen <a href="https://codepen.io/LewisBriffa/pen/BoyZYd">
                  Portfolio Website</a> by Lewis Briffa (<a href="https://codepen.io/LewisBriffa">@LewisBriffa</a>) on
                <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/LewisBriffa/pen/BoyZYd" target="_blank"
                title="Portfolio Template HTML">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  Portfolio Website </h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/C%C3%A1ch%20T%E1%BA%A1o%20Trang%20Web%20Gi%E1%BB%9Bi%20Thi%E1%BB%87u%20B%E1%BA%A3n%20Th%C3%A2n.png"
              alt="Portfolio Website">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="SquishyAndroid" data-slug-hash="XjRPVV" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Personal Webpage"> <span>See the Pen <a
                  href="https://codepen.io/SquishyAndroid/pen/XjRPVV"> Personal Webpage</a> by Bradley Engelhardt (<a
                  href="https://codepen.io/SquishyAndroid">@SquishyAndroid</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/SquishyAndroid/pen/XjRPVV" target="_blank"
                title="Portfolio Website">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Portfolio Photography</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Portfolio%20Photography.png"
              alt="Portfolio Photography">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="ig_design" data-slug-hash="JxbVRq" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Photography page concept"> <span>See the Pen <a
                  href="https://codepen.io/ig_design/pen/JxbVRq"> Photography page concept</a> by Ivan Grozdic (<a
                  href="https://codepen.io/ig_design">@ig_design</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/ig_design/pen/JxbVRq" target="_blank" title="Portfolio Photography">Link Project</a>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Portfolio Page HTML CSS</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Portfolio%20Page%20HTML%20CSS.png"
              alt="Portfolio Page HTML CSS">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="l4ci"
              data-slug-hash="RGazmp" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="RGazmp"> <span>See the Pen <a href="https://codepen.io/l4ci/pen/RGazmp"> RGazmp</a> by
                Volker Otto (<a href="https://codepen.io/l4ci">@l4ci</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/l4ci/pen/RGazmp"
                target="_blank" title="Portfolio Page HTML CSS">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Web Design Portfolio</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Web%20Design%20Portfolio.png"
              alt="Web Design Portfolio">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="tiffanyadu" data-slug-hash="QpdMmr" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Personal Portfolio Page"> <span>See the Pen <a
                  href="https://codepen.io/tiffanyadu/pen/QpdMmr"> Personal Portfolio Page</a> by Tiffany Du (<a
                  href="https://codepen.io/tiffanyadu">@tiffanyadu</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/tiffanyadu/pen/QpdMmr" target="_blank" title="Web Design Portfolio">Link Project</a>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Bootstrap Portfolio</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Bootstrap%20Portfolio.png"
              alt="Bootstrap Portfolio">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="shvvffle" data-slug-hash="bwpAEm" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Bootstrap Resume Landing Page/Website"> <span>See the Pen <a
                  href="https://codepen.io/shvvffle/pen/bwpAEm"> Bootstrap Resume Landing Page/Website</a> by Marina
                Marques (<a href="https://codepen.io/shvvffle">@shvvffle</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/shvvffle/pen/bwpAEm"
                target="_blank" title="Bootstrap Portfolio">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Portfolio Angular</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/C%C3%A1ch%20T%E1%BA%A1o%20Portfolio%20B%E1%BA%B1ng%20Angular.png"
              alt="Portfolio Angular">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="mnyamor" data-slug-hash="OMeJxv" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Free code camp Portfolio"> <span>See the Pen <a
                  href="https://codepen.io/mnyamor/pen/OMeJxv"> Free code camp Portfolio</a> by Mary Nyamor (<a
                  href="https://codepen.io/mnyamor">@mnyamor</a>) on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/mnyamor/pen/OMeJxv"
                target="_blank" title="  Portfolio Angular">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Website Portfolio</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Thi%E1%BA%BFt%20K%E1%BA%BF%20Website%20Portfolio.png"
              alt="  Website Portfolio">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="ig_design" data-slug-hash="MWKyXJv" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Photography page concept #2"> <span>See the Pen <a
                  href="https://codepen.io/ig_design/pen/MWKyXJv"> Photography page concept #2</a> by Ivan Grozdic (<a
                  href="https://codepen.io/ig_design">@ig_design</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/ig_design/pen/MWKyXJv" target="_blank"
                title="  Website Portfolio">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Responsive Portfolio</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Responsive%20Portfolio.png"
              alt="  Responsive Portfolio">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="Pixmy"
              data-slug-hash="XeqvNm" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Personal Portfolio"> <span>See the Pen <a href="https://codepen.io/Pixmy/pen/XeqvNm">
                  Personal Portfolio</a> by Arturo Cabrera (<a href="https://codepen.io/Pixmy">@Pixmy</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/Pixmy/pen/XeqvNm"
                target="_blank" title="  Responsive Portfolio">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Resume For Developer</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Resume%20Cho%20L%E1%BA%ADp%20Tr%C3%ACnh%20Vi%C3%AAn.png"
              alt="Resume For Developer">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="xichen"
              data-slug-hash="wzpZrr" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Resume"> <span>See the Pen <a href="https://codepen.io/xichen/pen/wzpZrr"> Resume</a> by
                XiChen (<a href="https://codepen.io/xichen">@xichen</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/xichen/pen/wzpZrr"
                target="_blank" title="Resume For Developer">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Resume HTML CSS</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Thi%E1%BA%BFt%20K%E1%BA%BF%20Resume%20HTML%20CSS.png"
              alt="  Resume HTML CSS">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="RajRajeshDn" data-slug-hash="dyyrdQP" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Resume/CV Design"> <span>See the Pen <a href="https://codepen.io/RajRajeshDn/pen/dyyrdQP">
                  Resume/CV Design</a> by rajeshdn (<a href="https://codepen.io/RajRajeshDn">@RajRajeshDn</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/RajRajeshDn/pen/dyyrdQP" target="_blank"
                title="  Resume HTML CSS">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Javascript Resume</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Javascript%20Resume.png"
              alt="Javascript Resume">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="astronaomical" data-slug-hash="KexYgb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Resume"> <span>See the Pen <a href="https://codepen.io/astronaomical/pen/KexYgb">
                  Resume</a> by Naomi Bastian Weatherford (<a
                  href="https://codepen.io/astronaomical">@astronaomical</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/astronaomical/pen/KexYgb" target="_blank" title="Javascript Resume">Link Project</a>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">   Resume CSS Template</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Resume%20CSS%20Template.png"
              alt="Resume CSS Template">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="_bctree" data-slug-hash="MwKQLz" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="My Resume"> <span>See the Pen <a href="https://codepen.io/_bctree/pen/MwKQLz"> My
                  Resume</a> by Ben Crabtree (<a href="https://codepen.io/_bctree">@_bctree</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/_bctree/pen/MwKQLz"
                target="_blank" title="Resume CSS Template">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Resume HTML5 Template</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/V%C3%AD%20D%E1%BB%A5%20Resume%20HTML5%20Template.png"
              alt="  Resume HTML5 Template">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="Haru89ka" data-slug-hash="VazRjW" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Curriculum Vitae concept"> <span>See the Pen <a
                  href="https://codepen.io/Haru89ka/pen/VazRjW"> Curriculum Vitae concept</a> by Anaislab (<a
                  href="https://codepen.io/Haru89ka">@Haru89ka</a>) on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/Haru89ka/pen/VazRjW"
                target="_blank" title="  Resume HTML5 Template">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  Responsive Resume</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/V%C3%AD%20D%E1%BB%A5%20%20Responsive%20Resume.png"
              alt="  Responsive Resume">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="mariosmaselli" data-slug-hash="CDcmb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive Resume Template"> <span>See the Pen <a
                  href="https://codepen.io/mariosmaselli/pen/CDcmb"> Responsive Resume Template</a> by mario s maselli
                (<a href="https://codepen.io/mariosmaselli">@mariosmaselli</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/mariosmaselli/pen/CDcmb" target="_blank"
                title="  Responsive Resume">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">  Resume HTML5 CSS3</h3>
            </div> <img class="img-fluid rounded shadow lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cv-resume-html-css-javascript/Thi%E1%BA%BFt%20K%E1%BA%BF%20Resume%20HTML5%20CSS3.png"
              alt="  Resume HTML5 CSS3">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="hainersavimaa" data-slug-hash="WGXXwp" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Portfolio design in HTML/CSS"> <span>See the Pen <a
                  href="https://codepen.io/hainersavimaa/pen/WGXXwp"> Portfolio design in HTML/CSS</a> by Hainer Savimaa
                (<a href="https://codepen.io/hainersavimaa">@hainersavimaa</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/hainersavimaa/pen/WGXXwp" target="_blank"
                title="  Resume HTML5 CSS3">Link Project</a></p>
           
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Summary: </b></h4>
            <p>Through here I hope the article will provide you more CV projects and resume built with HTML CSS
              Javascript is useful for development, web and if you have any questions, please email me
              as soon as possible. We hope you continue to support the site so I can write more good articles.
              Have a nice day!</p>
          </div>
        </article>








      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>