<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> 20 Thủ thuật CSS Hữu ích Dành Cho Bạn Năm 2020 </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Bài viết hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu các thủ thuật CSS hay được lập trình viên sử dụng
                để giúp
                bạn cũng như mình có thể hiểu hơn về CSS cũng như tăng hiệu quả trong công việc và học tập nhé!
              </i>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Các hiệu ứng hình ảnh với CSS
              </h3>
            </div>
            <p>
              Trong CSS cho phép chúng ta tạo các hiệu ứng trực tiếp cho hình ảnh mà không cần sử dụng đến Photoshop và
              thường được dùng với thẻ <code>&#60;img&#62;.</code> Sau đây là một số thuộc tính thông dụng, bạn tham
              khảo ở bên dưới nhé:
              <ul>
                <li><code>blur</code>: Áp dụng hiệu ứng làm mờ cho hình ảnh</li>
                <li><code>grayscale</code>: Chuyển đổi hình ảnh theo grayscale(đơn vị là % nhé)</li>
                <li>
                  <code>brightness</code>: Điều chỉnh độ sáng cho hình ảnh.
                </li>
                <li>
                  <code>saturate</code>: Điều chỉnh độ bão hòa cho hình ảnh.
                </li>
                <li>
                  <code>invert</code>: Đảo ngược chiều các mẫu trong hình ảnh.
                </li>
                <li>
                  <code>hue-rotate</code>: Áp dụng góc màu cho hình ảnh.
                </li>
              </ul>
            </p>
            <p>
              Trên đây là một số thuộc tính thông dụng cho hiệu ứng hình ảnh và nếu cảm thấy khó hiểu thì bạn xem ví dụ
              để có cái nhìn trực quan hơn nhé!
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="JjGLRLo" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="hieu ung hinh anh CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/JjGLRLo">
                  hieu ung hinh anh CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/JjGLRLo" target="_blank"
                title="Các hiệu ứng hình ảnh với CSS">
                Nguồn
                Các hiệu ứng hình ảnh với CSS
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Cách rút gọn đoạn văn bằng CSS
              </h3>
            </div>

            <p>
              Thông thường khi muốn rút gọn chiều dài của đoạn văn thì chúng ta thường hay sử dụng Javascript để thực
              hiện. Nhưng trong CSS cũng có chức năng giúp bạn dễ dàng
              giải quyết vấn đề trên. Và để hiểu rõ hơn bạn xem ví dụ sau nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="xxZWEyG"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Cách rút gọn đoạn văn bằng CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/xxZWEyG">
                  Cách rút gọn đoạn văn bằng CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/xxZWEyG" target="_blank"
                title="  Cách rút gọn đoạn văn bằng CSS">
                Nguồn
                Cách rút gọn đoạn văn bằng CSS
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Thay đổi màu khi chọn đoạn văn CSS
              </h3>
            </div>

            <p>
              Thông thường nếu bạn tô đen đoạn văn trong trang web thì nó sẽ thường có màu xanh dương mặc định của trình
              duyệt.
              Chúng ta có thể thay đổi màu sắc đó thông qua thuộc tính <code>::selection</code> trong CSS. Và để hiểu rõ
              hơn bạn xem ví dụ sau nhé!

            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="zYrWKeY"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Thay đổi màu khi chọn đoạn văn CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/zYrWKeY">
                  Thay đổi màu khi chọn đoạn văn CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>


            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/zYrWKeY" target="_blank"
                title="Thay đổi màu khi chọn đoạn văn CSS">
                Nguồn
                Thay đổi màu khi chọn đoạn văn CSS
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Hiệu Ứng Phóng To Khi Hover Vào Hình Ảnh
              </h3>
            </div>

            <p>
              Đôi lúc bạn muốn làm cho hình ảnh thêm một chút thú vị thì có thể sử dụng thuộc tính <code>scale</code>
              để tạo hiệu ứng phóng to khi người dùng hover vào ảnh.
              <ul>
                <li>Với hình ảnh ban đầu sẽ có scale = 1</li>
                <li>Với hình ảnh nhỏ hơn ảnh gốc sẽ có scale &#60; 1</li>
                <li>Với hình ảnh lớn hơn ảnh gốc sẽ có scale &#62; 1</li>
              </ul>
            </p>
            <p>
              Để hiểu rõ hơn bạn xem ví dụ sau nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="eYJMdaq"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title=" Hiệu Ứng Phóng To Khi Hover Vào Hình Ảnh">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/eYJMdaq">
                  Hiệu Ứng Phóng To Khi Hover Vào Hình Ảnh</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>



            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/eYJMdaq" target="_blank"
                title="Hiệu Ứng Phóng To Khi Hover Vào Hình Ảnh">
                Nguồn
                Hiệu Ứng Phóng To Khi Hover Vào Hình Ảnh
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Hiệu Ứng Hòa Trộn Chữ Với Background Trong CSS
              </h3>
            </div>

            <p>
              Nếu bạn muốn làm nổi bật nội dung của mình thì có thể sử dụng thuộc tính <code>mix-blend-mode</code> trong
              CSS
              để kết hợp một phần tử với background của phần tử chứa nó. Để dễ hình dùng hơn bạn xem ví dụ dưới đây nhé!
            </p>
            <p>
              Nếu bạn muốn tìm hiểu thêm các thuộc tính của <code>mix-blend-mode</code> thì có thể xem
              <a href="https://www.w3schools.com/cssref/pr_mix-blend-mode.asp" target="_blank" rel="noopener noreferrer"
                title="mix-blend-mode">ở đây nhé</a>.
            </p>

            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="gOPeLae"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Hiệu Ứng Hòa Trộn Chữ Với Background Trong CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/gOPeLae">
                  Hiệu Ứng Hòa Trộn Chữ Với Background Trong CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>



            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/gOPeLae" target="_blank"
                title="Hiệu Ứng Hòa Trộn Chữ Với Background Trong CSS">
                Nguồn
                Hiệu Ứng Hòa Trộn Chữ Với Background Trong CSS
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Cách Tạo Hình Ảnh Với Đoạn Văn Trong CSS
              </h3>
            </div>

            <p>
              Đôi khi bạn cần hình ảnh minh họa trong đoạn văn của mình và thật tuyệt khi chúng ta có thể làm nó giống
              như trong Word là
              để chữ hiển thị xung quanh hình ảnh. Và ví dụ này sẽ giúp bạn giải quyết vấn đế đó thông qua các thuộc
              tính có sẵn trong CSS.

            </p>

            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="xxZWRdg"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="xxZWRdg">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/xxZWRdg">
                  xxZWRdg</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>



            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/xxZWRdg" target="_blank"
                title="  Cách Tạo Hình Ảnh Với Đoạn Văn Trong CSS">
                Nguồn
                Cách Tạo Hình Ảnh Với Đoạn Văn Trong CSS
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Sử dụng clip path trong CSS
              </h3>
            </div>

            <p>
              Clip path là thuộc tính giúp chúng ta có thể xác định hình ảnh sẽ hiển thị như thế nào trong trang web như
              là hình tròn,
              ellipse, polygon... Và nó cũng có các thêm các thuộc tính nâng cao khác bạn có thể tham khảo thêm
              <a href="https://www.w3schools.com/cssref/css3_pr_clip-path.asp" target="_blank" title="clip path"
                rel="noopener noreferrer">ở đây nhé!</a>

            </p>

            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="ExPENwN"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Sử dụng clip path trong CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/ExPENwN">
                  Sử dụng clip path trong CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>



            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/ExPENwN" target="_blank"
                title=" Sử dụng clip path trong CSS">
                Nguồn
                Sử dụng clip path trong CSS
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Thiết Kế chữ Cái Đầu Tiên Trong Đoạn Văn
              </h3>
            </div>

            <p>
              Khi bạn đọc sách báo thì sẽ thường thấy các chữ cái đầu tiên trong nội dung được viết lớn hơn so với các
              chữ còn lại.
              Và chúng ta có thể thiết kế màu sắc, cỡ chữ... cho chữ cái đầu tiên của đoạn văn thông qua cách gọi
              <code>:first-child::first-letter</code>
              trong CSS. Và để hiểu rõ hơn bạn xem ví dụ sau đây nhé!
            </p>

            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="xxZWRWd"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Thiết Kế chữ Cái Đầu Tiên Trong Đoạn Văn">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/xxZWRWd">
                  Thiết Kế chữ Cái Đầu Tiên Trong Đoạn Văn</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/xxZWRWd" target="_blank"
                title="Thiết Kế chữ Cái Đầu Tiên Trong Đoạn Văn">
                Nguồn
                Thiết Kế chữ Cái Đầu Tiên Trong Đoạn Văn
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Thiết lập vị trí phần tử ở giữa thông qua grid CSS
              </h3>
            </div>

            <p>
              Khi bạn cần thiết lập một phần tử nào đó ở vị trí chính giữa trong phần tử cha thì chúng ta có thể sử dụng
              thuộc tính <code>display:grid;</code> trong CSS. Để hiểu rõ hơn bạn xem đoạn code sau nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="rNxdWrM" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title=" Thiết lập vị trí phần tử ở giữa thông qua grid CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/rNxdWrM">
                  Thiết lập vị trí phần tử ở giữa thông qua grid CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/rNxdWrM" target="_blank"
                title="Thiết lập vị trí phần tử ở giữa thông qua grid CSS">
                Nguồn
                Thiết lập vị trí phần tử ở giữa thông qua grid CSS
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Cách căn giữa phần tử theo chiều dọc
              </h3>
            </div>

            <p>
              Trong ví dụ này mình sẽ đi vào cách căn giữa các phần tử theo chiều dọc thông qua việc sử dụng thuộc tính
              <code> display: flex;</code>. Để hiểu rõ hơn bạn xem đoạn code dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="dyGmvLO"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="  Cách căn giữa phần tử theo chiều dọc">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/dyGmvLO">
                  Cách căn giữa phần tử theo chiều dọc</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/dyGmvLO" target="_blank"
                title="Cách căn giữa phần tử theo chiều dọc">
                Nguồn
                Cách căn giữa phần tử theo chiều dọc
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Hiển thị hình ảnh minh họa cho file trong CSS
              </h3>
            </div>

            <p>
              Giả sử bạn có một đường dẫn để tải một file nào đó nhưng muốn người dùng biết được đuôi file là gì thì
              chúng ta có thể sử dụng hình ảnh
              để minh họa. Và nó được đặt nằm cuối đường dẫn bằng việc dùng thuộc tính <code>after</code> trong CSS. Để
              hiểu rõ hơn bạn xem ví dụ sau nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="NWxYjWO" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title=" Hiển thị hình ảnh minh họa cho file trong CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/NWxYjWO">
                  Hiển thị hình ảnh minh họa cho file trong CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/NWxYjWO" target="_blank"
                title="Hiển thị hình ảnh minh họa cho file trong CSS">
                Nguồn
                Hiển thị hình ảnh minh họa cho file trong CSS
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Cách thay đổi màu khi người dùng nhấn vào checkbox trong CSS
              </h3>
            </div>

            <p>
              Giả sử bạn có một đường dẫn để tải một file nào đó nhưng muốn người dùng biết được đuôi file là gì thì
              chúng ta có thể sử dụng hình ảnh
              để minh họa. Và nó được đặt nằm cuối đường dẫn bằng việc dùng thuộc tính <code>after</code> trong CSS. Để
              hiểu rõ hơn bạn xem ví dụ sau nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="abdYWvN"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title=" Cách thay đổi màu khi người dùng nhấn vào checkbox trong CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/abdYWvN">
                  Cách thay đổi màu khi người dùng nhấn vào checkbox trong CSS</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/abdYWvN" target="_blank"
                title=" Cách thay đổi màu khi người dùng nhấn vào checkbox trong CSS">
                Nguồn
                Cách thay đổi màu khi người dùng nhấn vào checkbox trong CSS
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Thay đổi màu nền bằng CSS Animation
              </h3>
            </div>

            <p>
              Giả sử bạn có một đường dẫn để tải một file nào đó nhưng muốn người dùng biết được đuôi file là gì thì
              chúng ta có thể sử dụng hình ảnh
              để minh họa. Và nó được đặt nằm cuối đường dẫn bằng việc dùng thuộc tính <code>after</code> trong CSS. Để
              hiểu rõ hơn bạn xem ví dụ sau nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="zYrWwqv"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Thay đổi màu nền bằng CSS Animation">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/zYrWwqv">
                  Thay đổi màu nền bằng CSS Animation</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/zYrWwqv" target="_blank"
                title="Thay đổi màu nền bằng CSS Animation">
                Nguồn
                Thay đổi màu nền bằng CSS Animation
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
               Sử dụng transition trong CSS
              </h3>
            </div>

            <p>
             Ví dụ khi người dùng hover vào một hình ảnh, button, đối tượng HTML... thì bạn không muốn hiệu ứng hiển thị ngay lập tức 
             mà nên chuyển dần từ từ theo một thời gian nhất định thì chúng ta có thể sử dụng <code>transition</code> để giải quyết vấn đề trên.
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="OJMvmvr" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="  Sử dụng transition trong CSS">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/OJMvmvr">
                Sử dụng transition trong CSS</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/OJMvmvr" target="_blank"
                title="Sử dụng transition trong CSS">
                Nguồn
                Sử dụng transition trong CSS
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Hiển thị thông báo khi đường dẫn hình ảnh không hoạt động
              </h3>
            </div>

            <p>
              Nếu bạn không may có một hình ảnh nào đó mà đường dẫn của nó không hiển thị được trong trang web thì ngoài
              thuộc tính <code>alt</code>,
              ta cũng có thể sử dụng <code>before</code> và <code>after</code> để thiết kế style cho thông báo. Để hiểu
              rõ hơn bạn xem ví dụ sau đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="zYrWwwq"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="zYrWwwq">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/zYrWwwq">
                  zYrWwwq</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/haycuoilennao19/pen/zYrWwwq" target="_blank"
                title="Hiển thị thông báo khi đường dẫn hình ảnh không hoạt động">
                Nguồn
                Hiển thị thông báo khi đường dẫn hình ảnh không hoạt động
              </a> </button>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Hiển thị hình ảnh responsive
                </h3>
              </div>
  
              <p>
               Để hiển thị hình ảnh trên nhiều màn hình thiết bị khác nhau thì bạn có thể sử dụng thuộc tính CSS sau đây cho 
               thẻ <code>img</code>:
              </p>
              <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="BajrZBg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title=" Hiển thị hình ảnh responsive">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/BajrZBg">
                 Hiển thị hình ảnh responsive</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                  href="https://codepen.io/haycuoilennao19/pen/BajrZBg" target="_blank"
                  title=" Hiển thị hình ảnh responsive">
                  Nguồn
                  Hiển thị hình ảnh responsive
                </a> </button>

                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">
                    Tạo hình tròn với border radius trong CSS
                  </h3>
                </div>
    
                <p>
                 Để tạo hình tròn cho đối tượng trong trang HTML thì chúng ta có thể sử dụng thuộc tính 
                 <code>border-radius</code> trong CSS:
                </p>
                <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="WNrzOvv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="  Tạo hình tròn với border radius trong CSS">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/WNrzOvv">
                    Tạo hình tròn với border radius trong CSS</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                    href="https://codepen.io/haycuoilennao19/pen/WNrzOvv" target="_blank"
                    title="Tạo hình tròn với border radius trong CSS">
                    Nguồn
                    Tạo hình tròn với border radius trong CSS
                  </a> </button>


                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">
                      Tạo tam giác với border width trong CSS
                    </h3>
                  </div>
      
                  <p>
                   Để tạo hình tam giác cho đối tượng trong trang HTML thì chúng ta có thể sử dụng thuộc tính 
                   <code>border-width</code> trong CSS:
                  </p>
                  <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="RwrMgWv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title=" Tạo tam giác với border width trong CSS">
                    <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/RwrMgWv">
                     Tạo tam giác với border width trong CSS</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                      href="https://codepen.io/haycuoilennao19/pen/RwrMgWv" target="_blank"
                      title=" Tạo tam giác với border width trong CSS">
                      Nguồn
                      Tạo tam giác với border width trong CSS
                    </a> </button>



                    <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                      <h3 class="text-primary ml-4 title-article-size">
                       Hiển thị hình ảnh toàn màn hình trong CSS
                      </h3>
                    </div>
        
                    <p>
                     Trong phần này mình sẽ dùng hình ảnh làm background hiển thị toàn màn hình thông qua thuộc tính là 
                     <code>background</code> và <code> background-size</code>. Ngoài ra bạn cũng nên tham khảo thêm cách một cách 
                     mới để thiết lập đối tượng với vị trị chính giữa thông qua thuộc tính <code>position: absolute;</code>. Để nắm rõ hơn bạn xem đoạn code sau nhé:
                    </p>
                    <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="BajrZRy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hiển thị hình ảnh toàn màn hình trong CSS">
                      <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/BajrZRy">
                      Hiển thị hình ảnh toàn màn hình trong CSS</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                      on <a href="https://codepen.io">CodePen</a>.</span>
                    </p>
                    <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                        href="https://codepen.io/haycuoilennao19/pen/BajrZRy" target="_blank"
                        title="Hiển thị hình ảnh toàn màn hình trong CSS">
                        Nguồn
                        Hiển thị hình ảnh toàn màn hình trong CSS
                      </a> </button>



                      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size">
                        Lựa chọn đối tượng mong muốn bằng CSS
                        </h3>
                      </div>
          
                      <p>
                        Giả sử bạn có một danh sách và bao gồm rất nhiều thành phần con. Và nếu bạn muốn thiết lập style 
                        cho một đối tượng xác định trong danh sách như vậy sẽ rất khó khăn. Do đó CSS cung cấp cho bạn một thuộc tính là 
                        <code>:nth-child</code> giúp chúng ta có thể dễ dàng xác định đối tượng mà mình mong muốn.
                        Để hiểu rõ hơn bạn xem đoạn code sau nhé:
                      </p>
                      <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="pogLwxr" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title=" Lựa chọn đối tượng mong muốn bằng CSS">
                        <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/pogLwxr">
                         Lựa chọn đối tượng mong muốn bằng CSS</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
                      <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                          href="https://codepen.io/haycuoilennao19/pen/pogLwxr" target="_blank"
                          title="Lựa chọn đối tượng mong muốn bằng CSS">
                          Nguồn
                          Lựa chọn đối tượng mong muốn bằng CSS
                        </a> </button>






















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thủ thuật CSS
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>