<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu cách tạo trang đăng nhập cho trang web bằng
                      HTML CSS nhé!
                    </i></b>
                </p>
                <hr>
              </div>
            </div>
          </div>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Tạo Cấu Trúc Cho Login Page
          </h2>
          <p> Phần đầu tiên chúng ta sẽ đi vào tạo hai file là <code>index.html</code>(nơi lưu trữ HTML) và
            <code>style.css</code>(nơi lưu trữ mã CSS). Sau đó liên kết chúng với Font Awesome v4.7 và
            Google Font thông qua đoạn mã dưới đây nhé:</p>
          <h3 class="text-primary">
            HTML
          </h3>
          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/> &#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;Trang&nbsp;Login&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="preconnect"&nbsp;href="https://fonts.gstatic.com"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"&#62;<br/>&#60;/head&#62;<br/>&#60;body&#62;<br/>&#60;/body&#62;<br/>&#60;/html&#62;<br/></code></pre>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thêm Các Thẻ Cần Thiết Cho Trang Đăng Nhập
          </h2>
          <p>
            Trong phần này chúng ta sẽ thêm các thẻ HTML cần thiết để tạo trang login bằng đoạn mã dưới đây nhé:
          </p>
          <h3 class="text-primary">
            HTML
          </h3>
          <pre><code class="html">&#60;section&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Phần&nbsp;Hình&nbsp;Ảnh--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="img-bg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/hinh_anh_minh_hoa.jpg"&nbsp;alt="Hình&nbsp;Ảnh&nbsp;Minh&nbsp;Họa"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Phần&nbsp;Hình&nbsp;Ảnh--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Phần&nbsp;Nội&nbsp;Dung--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="noi-dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="form"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Trang&nbsp;Đăng&nbsp;Nhập&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;form&nbsp;action=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="input-form"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;span&#62;Tên&nbsp;Người&nbsp;Dùng&#60;/span&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;input&nbsp;type="text"&nbsp;name=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="input-form"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;span&#62;Mật&nbsp;Khẩu&#60;/span&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;input&nbsp;type="password"&nbsp;name=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="nho-dang-nhap"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;label&#62;&#60;input&nbsp;type="checkbox"&nbsp;name=""&#62;&nbsp;Nhớ&nbsp;Đăng&nbsp;Nhập&#60;/label&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="input-form"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;input&nbsp;type="submit"&nbsp;value="Đăng&nbsp;Nhập"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="input-form"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Bạn&nbsp;Chưa&nbsp;Có&nbsp;Tài&nbsp;Khoản?&nbsp;&#60;a&nbsp;href="#"&#62;Đăng&nbsp;Ký&#60;/a&#62;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/form&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Đăng&nbsp;Nhập&nbsp;Bằng&nbsp;Mạng&nbsp;Xã&nbsp;Hội&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&nbsp;class="icon-dang-nhap"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;i&nbsp;class="fa&nbsp;fa-facebook"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;i&nbsp;class="fa&nbsp;fa-google"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;i&nbsp;class="fa&nbsp;fa-twitter"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Phần&nbsp;Nội&nbsp;Dung--&#62;<br/> &#60;/section&#62;<br/></code></pre>
          <p class="mt-4">
            Kết quả bạn xem hình ảnh dưới đây nhé:
          </p>
          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/trang_login_%281%29.png"
            alt="Trang Login 1">

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thiết Lập Vị Trí Hình Ảnh Và Nội Dung Trong Trang Web
          </h2>
          <p>
            Trong phần này chúng ta sẽ thiết lập lại vị trí, độ rộng, chiều cao của phần hình ảnh và nội dung trong
            trang web bằng đoạn mã CSS sau đây nhé:
          </p>
          <h3 class="text-primary">
            CSS
          </h3>
          <pre><code class="css">*{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Roboto',&nbsp;sans-serif;<br/> }<br/>section{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100vh;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> }<br/>section&nbsp;.img-bg{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> }<br/>section&nbsp;.img-bg&nbsp;img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;object-fit:&nbsp;cover;<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem hình dưới đây nhé:
          </p>
          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/trang_login_2.png"
            alt="Trang Login 2">

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thiết Lập Vị Trí Phần Tử Trong Phần Nội Dung
          </h2>
          <p>
            Trong phần này chúng ta sẽ đi vào thiết lập vị trí của form <b>nằm chính giữa trong phần nội dung</b> và
            trang trí lại tiêu đề <code>h2</code> cho trang login bằng đoạn mã dưới đây nhé:
          </p>
          <h3 class="text-primary">
            CSS
          </h3>
          <pre><code class="css">section&nbsp;.noi-dung{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50%;<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;h2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607d8b;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;1.5em;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;uppercase;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-bottom:&nbsp;4px&nbsp;solid&nbsp;#ff4584;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem hình bên dưới nhé:
          </p>
          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/trang_login_3.png"
            alt="Trang Login 3">

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thiết Lập Style Cho Các Ô Input
          </h2>
          <p>
            Trong phần tiếp theo này chúng ta sẽ cùng nhau đi vào thiết lập style cho các ô input để nó trong cuốn hút
            và
            hấp dẫn hơn nhé:
          </p>
          <h3 class="text-primary">
            CSS
          </h3>
          <pre><code class="css">section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;20px;<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form&nbsp;span{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;5px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607db8;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> &nbsp;&nbsp;&nbsp;&nbsp; }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form&nbsp;input{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;10px&nbsp;20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;outline:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;1px&nbsp;solid&nbsp;#607d8b;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607d8b;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;transparent;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;30px;<br/>&nbsp;&nbsp;&nbsp;&nbsp; }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form&nbsp;input[type="submit"]{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#ff4584;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;outline:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-shadow:&nbsp;0&nbsp;1px&nbsp;1px&nbsp;rgba(0,0,0,0.12),<br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;2px&nbsp;2px&nbsp;rgba(0,0,0,0.12),<br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;4px&nbsp;4px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;8px&nbsp;8px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;16px&nbsp;16px&nbsp;rgba(0,0,0,0.12);<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form&nbsp;input[type="submit"]:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#f53677;<br/> }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.nho-dang-nhap{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607d8b;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;14px;<br/> }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form&nbsp;p{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607d8b;<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;.input-form&nbsp;p&nbsp;a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#ff4584;<br/> }<br/></code></pre>
          <p class="mt-4">
            Kết quả bạn xem bên dưới nha:
          </p>
          <img class="img-fluid lazyload shadow"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/trang_login_4.png"
            alt="Trang Login 4">
         

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Thiết Lập Style Cho Icon Trong Login Page
          </h2>

          <p>
            Trong phần này chúng ta sẽ đi vào thiết lập style cho phần <code>icon-dang-nhap</code> như vị trí, màu sắc cho từng icon, kích thước icon...
            Và để hiểu rõ hơn bạn xem đoạn mã sau nhé:
          </p>

          <h3 class="text-primary">
            CSS
          </h3>
          <pre><code class="css">section&nbsp;.noi-dung&nbsp;.form&nbsp;h3{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607d8b;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;80px&nbsp;0&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;.icon-dang-nhap{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> }<br/>section&nbsp;.noi-dung&nbsp;.form&nbsp;.icon-dang-nhap&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;list-style:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.icon-dang-nhap&nbsp;li:nth-child(1){<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#3b5999;<br/> }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.icon-dang-nhap&nbsp;li:nth-child(2){<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#dd4b39;<br/> }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.icon-dang-nhap&nbsp;li:nth-child(3){<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#55acee;<br/> }<br/> section&nbsp;.noi-dung&nbsp;.form&nbsp;.icon-dang-nhap&nbsp;li&nbsp;i{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;24px;<br/> }<br/></code></pre>
          <p class="mt-4">
            Kết quả bạn xem hình ảnh bên dưới nhé:
          </p>
          <img class="img-fluid lazyload shadow"
          data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/trang_login_5.png"
          alt="Trang Login 5">
      
          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
           Reponsive Cho Trang Login Page
          </h2>
          <p>
            Trong phần cuối cùng chúng ta sẽ dử dụng <code>@media</code> để responsive trang đăng nhập giúp nó hiển thị tốt hơn trên màn hình điện thoại nhé:
          </p>
          <h3 class="text-primary">
            CSS
          </h3>
          <pre><code class="css">@media&nbsp;(max-width:&nbsp;768px){<br/> &nbsp;&nbsp;&nbsp;&nbsp;section&nbsp;.img-bg{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;section&nbsp;.noi-dung{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;z-index:&nbsp;1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;section&nbsp;.noi-dung&nbsp;.form{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;rgba(255&nbsp;255&nbsp;255&nbsp;/&nbsp;0.9);<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;&nbsp;&nbsp;section&nbsp;.noi-dung&nbsp;.form&nbsp;h3{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#607d8b;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;30px&nbsp;0&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> }<br/></code></pre>
          <p class="mt-4">
            Kết quả bạn xem hình ảnh bên dưới nhé:
          </p>
          <img class="img-fluid lazyload shadow"
          data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/trang_login_6%20%281%29.png"
          alt="Trang Login 6">
          <p class="mt-4">
           Nếu bạn muốn xem dự án trên Codepen thì có thể truy cập đường dẫn bên dưới nha:
          </p>

          <p class="mt-4 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/haycuoilennao19/full/MWedwvG"
          target="_blank">Nguồn Codepen</a></p>

          Nếu bạn muốn tải dự án  thì có thể truy cập đường dẫn bên dưới nhé:
        </p>

        <p class="mt-4 pb-4"> <a class="button-blog-post-article" href="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/tao%20trang%20login.rar"
       download>Nguồn Source</a></p>

       <p>
         <mark>Nếu bạn muốn xem thêm các ví dụ khác về login page thì hãy truy cập đường dẫn sau nhé: </mark><br/>

       </p>
 <a href="https://www.niemvuilaptrinh.com/article/Form-Dang-Ky-Dang-Nhap-Snippet-trong-Bootstrap"
       >Form Đăng Ký Đăng Nhập Snippet trong Bootstrap</a>





























          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng
              kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn kiến thức tạo login page

            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email
            mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có
            thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>