<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>

          <div class="text-content-article mt-5">
            <p><i>Ngày hôm nay chúng ta sẽ đi vào tìm hiểu những ví dụ header đẹp được xây dựng bằng HTML, CSS,
                Javascript
                cho quá trình thiết kế và phát triển web nhé! </i></p>
          </div>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Header Là Gì?</h2>
          </div>
          <p> <strong>Header Website</strong>(Tiêu đề Trang Web) là thành phần nằm trên cùng của một trang web.
            Đây là nơi mà người dùng nhìn thấy đầu tiên khi truy cập website. Do đó bạn nên cần thiết kế header một cách
            cẩn thận và rõ ràng để có thể tạo ấn tượng tốt
            cũng như dễ dàng truyền đạt thông điệp mà bạn muốn tới người dùng.
          </p>
          <p>
            Trong Header thì thường sẽ có các thành phần sau đây:
            <ul>
              <li>Logo của trang web.</li>
              <li>Thanh điều hướng tới các đường dẫn quan trọng.</li>
              <li>Công cụ tìm kiếm thông tin trên website.</li>
              <li>Nội dung giới thiệu sơ lược về website.</li>
              <li>Các nút kêu gọi hànhđộng như đăng ký email...</li>
              <li>Các hình ảnh về sản phẩm phổ biến của trang web.</li>
            </ul>
          </p>
          <p>
            Để dễ hình dung hơn bạn xem ví dụ header sau đây nhé:
          </p>
          <img class="img-fluid shadow rounded lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/vi-du-header-website.png"
            alt="Ví Dụ Header Trong Website"
          >

          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Ví Dụ Về Header Website</h2>
          </div>
          <p class="mt-4">Trước khi đi vào ví dụ về các header trong website thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang
            chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b>
            trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a
              href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer"
              target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a
              href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>.
            Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ
            <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thiết Kế Sticky Header Bằng CSS Javascript</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Sticky%20Header.png"
            alt="Thiết Kế Sticky Header Bằng CSS Javascript">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="soulrider911" data-slug-hash="dGuEn" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sticky Header CSS Transition">
            <span>See the Pen <a href="https://codepen.io/soulrider911/pen/dGuEn">
            Sticky Header CSS Transition</a> by Brady Sammons (<a href="https://codepen.io/soulrider911">@soulrider911</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/soulrider911/pen/dGuEn"
              target="_blank" title="Thiết Kế Sticky Header Bằng CSS Javascript">Nguồn</a>
          </p>
        
          
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header Image Cho Website</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20Image%20Cho%20Website.png"
            alt="Cách Tạo Header Image Cho Website">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="webmadewell" data-slug-hash="zppMBX" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Header Image Parallax Scrolling Effect with CSS">
            <span>See the Pen <a href="https://codepen.io/webmadewell/pen/zppMBX">
            Header Image Parallax Scrolling Effect with CSS</a> by WebMadeWell (<a href="https://codepen.io/webmadewell">@webmadewell</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/webmadewell/pen/zppMBX"
              target="_blank" title="Cách Tạo Header Image Cho Website">Nguồn</a>
          </p>
        


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Hiệu Ứng Chuyển Động Cho Header CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/animation-header-css.png"
            alt="Cách Tạo Hiệu Ứng Chuyển Động Cho Header CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="nodws" data-slug-hash="aWgMMQ" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS Animated Header">
            <span>See the Pen <a href="https://codepen.io/nodws/pen/aWgMMQ">
            CSS Animated Header</a> by Nodws (<a href="https://codepen.io/nodws">@nodws</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/nodws/pen/aWgMMQ"
              target="_blank" title="Cách Tạo Hiệu Ứng Chuyển Động Cho Header CSS">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header HTML5</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20HTML5.png"
            alt="Cách Tạo Header HTML5">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="nodws" data-slug-hash="ugFcC" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Parallax + Blur + Fixed menu">
            <span>See the Pen <a href="https://codepen.io/nodws/pen/ugFcC">
            Parallax + Blur + Fixed menu</a> by Nodws (<a href="https://codepen.io/nodws">@nodws</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/nodws/pen/ugFcC"
              target="_blank" title="Cách Tạo Header HTML5">Nguồn</a>
          </p>




          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Responsive Header CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Responsive%20Header%20CSS.png"
            alt="Cách Tạo Responsive Header CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="abergin" data-slug-hash="qEGyJa" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Header Layout">
            <span>See the Pen <a href="https://codepen.io/abergin/pen/qEGyJa">
            Header Layout</a> by Alex Bergin (<a href="https://codepen.io/abergin">@abergin</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/abergin/pen/qEGyJa"
              target="_blank" title="Cách Tạo Responsive Header CSS">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Thiết Kế Website Header</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Website%20Header.png"
            alt="Cách Thiết Kế Website Header">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="ionlyseespots" data-slug-hash="pvaPwq" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="answer for layout question from css tricks question">
            <span>See the Pen <a href="https://codepen.io/ionlyseespots/pen/pvaPwq">
            answer for layout question from css tricks question</a> by I only see spots (<a href="https://codepen.io/ionlyseespots">@ionlyseespots</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/ionlyseespots/pen/pvaPwq"
              target="_blank" title="Cách Thiết Kế Website Header">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Cho Header</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Scroll%20Cho%20Header.png"
            alt="Hiệu Ứng Scroll Cho Header">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="osublake" data-slug-hash="NdEONL" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scroll Header">
            <span>See the Pen <a href="https://codepen.io/osublake/pen/NdEONL">
            Scroll Header</a> by Blake Bowen (<a href="https://codepen.io/osublake">@osublake</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/osublake/pen/NdEONL"
              target="_blank" title="Hiệu Ứng Scroll Cho Header">Nguồn</a>
          </p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thiết Kế Header Website Bằng HTML CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20Website%20B%E1%BA%B1ng%20HTML%20CSS.png"
            alt="Thiết Kế Header Website Bằng HTML CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="imreyesjorge" data-slug-hash="qgYLLz" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Software Company Header/About">
            <span>See the Pen <a href="https://codepen.io/imreyesjorge/pen/qgYLLz">
            Software Company Header/About</a> by Jorge Reyes (<a href="https://codepen.io/imreyesjorge">@imreyesjorge</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/imreyesjorge/pen/qgYLLz"
              target="_blank" title="Thiết Kế Header Website Bằng HTML CSS">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Slider Header Javascript</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Slider%20Header%20Javascript.png"
            alt="Cách Tạo Slider Header Javascript">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="johnmotyljr" data-slug-hash="cDpEH" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Attempt #1 CSS3 Clickable Slider">
            <span>See the Pen <a href="https://codepen.io/johnmotyljr/pen/cDpEH">
            Attempt #1 CSS3 Clickable Slider</a> by John Motyl Jr (<a href="https://codepen.io/johnmotyljr">@johnmotyljr</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/johnmotyljr/pen/cDpEH"
              target="_blank" title="Cách Tạo Slider Header Javascript">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Jquery Header Animation</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Jquery%20Header%20Animation.png"
            alt="Cách Tạo Jquery Header Animation">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="ashthornton" data-slug-hash="KRQbMO" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="WebGL Distortion Slider">
            <span>See the Pen <a href="https://codepen.io/ashthornton/pen/KRQbMO">
            WebGL Distortion Slider</a> by Ash Thornton (<a href="https://codepen.io/ashthornton">@ashthornton</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/ashthornton/pen/KRQbMO"
              target="_blank" title="Cách Tạo Jquery Header Animation">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thiết Kế Wave Header Bằng CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Wave%20Header%20CSS.png"
            alt="Thiết Kế Wave Header Bằng CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="goodkatz" data-slug-hash="LYPGxQz" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Simple CSS Waves | Mobile &amp;amp; Full width">
            <span>See the Pen <a href="https://codepen.io/goodkatz/pen/LYPGxQz">
            Simple CSS Waves | Mobile &amp; Full width</a> by Goodkatz (<a href="https://codepen.io/goodkatz">@goodkatz</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/goodkatz/pen/LYPGxQz"
              target="_blank" title="Thiết Kế Wave Header Bằng CSS">Nguồn</a>
          </p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thiết Kế Header Với Hiệu Ứng Đánh Chữ</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Thi%E1%BA%BFt%20K%E1%BA%BF%20Header%20V%E1%BB%9Bi%20Hi%E1%BB%87u%20%E1%BB%A8ng%20%C4%90%C3%A1nh%20Ch%E1%BB%AF.png"
            alt="Thiết Kế Header Với Hiệu Ứng Đánh Chữ">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="SquishyAndroid" data-slug-hash="XjRPVV" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Personal Webpage">
            <span>See the Pen <a href="https://codepen.io/SquishyAndroid/pen/XjRPVV">
            Personal Webpage</a> by Bradley Engelhardt (<a href="https://codepen.io/SquishyAndroid">@SquishyAndroid</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/SquishyAndroid/pen/XjRPVV"
              target="_blank" title="Thiết Kế Header Với Hiệu Ứng Đánh Chữ">Nguồn</a>
          </p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Bootstrap Header</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Bootstrap%20Header.png"
            alt="Cách Tạo Bootstrap Header">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="ig_design" data-slug-hash="omQXoQ" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Bootstrap 4 menu - light/dark">
            <span>See the Pen <a href="https://codepen.io/ig_design/pen/omQXoQ">
            Responsive Bootstrap 4 menu - light/dark</a> by Ivan Grozdic (<a href="https://codepen.io/ig_design">@ig_design</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/ig_design/pen/omQXoQ"
              target="_blank" title="Cách Tạo Bootstrap Header">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header Background Image CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20Background%20Image%20CSS.png"
            alt="Cách Tạo Header Background Image CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="celincky" data-slug-hash="zdqso" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="zdqso">
            <span>See the Pen <a href="https://codepen.io/celincky/pen/zdqso">
            zdqso</a> by Celine (<a href="https://codepen.io/celincky">@celincky</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/celincky/pen/zdqso"
              target="_blank" title="Cách Tạo Header Background Image CSS">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header Website Với Bootstrap Carousel</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20Website%20V%E1%BB%9Bi%20Bootstrap%20Carousel.png"
            alt="Cách Tạo Header Website Với Bootstrap Carousel">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="billyhalim" data-slug-hash="GZbZvO" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Website Header with Bootstrap Carousel">
            <span>See the Pen <a href="https://codepen.io/billyhalim/pen/GZbZvO">
            Website Header with Bootstrap Carousel</a> by Billy Halim (<a href="https://codepen.io/billyhalim">@billyhalim</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/billyhalim/pen/GZbZvO"
              target="_blank" title="Cách Tạo Header Website Với Bootstrap Carousel">Nguồn</a>
          </p>




          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header Với Scroll Icon</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20V%E1%BB%9Bi%20Scroll%20Icon.png"
            alt="Cách Tạo Header Với Scroll Icon">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="CodeBoomer" data-slug-hash="dXgyPq" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scrollspy with animated scroll and focus">
            <span>See the Pen <a href="https://codepen.io/CodeBoomer/pen/dXgyPq">
            Scrollspy with animated scroll and focus</a> by Boomer (<a href="https://codepen.io/CodeBoomer">@CodeBoomer</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/CodeBoomer/pen/dXgyPq"
              target="_blank" title="Cách Tạo Header Với Scroll Icon">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header Với Flexbox CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20Flexbox%20CSS.png"
            alt="Cách Tạo Header Với Flexbox CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="anavicente" data-slug-hash="pydWeW" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Flexbox Hero Header">
            <span>See the Pen <a href="https://codepen.io/anavicente/pen/pydWeW">
            Flexbox Hero Header</a> by Ana Vicente (<a href="https://codepen.io/anavicente">@anavicente</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/anavicente/pen/pydWeW"
              target="_blank" title="Cách Tạo Header Với Flexbox CSS">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Video Header Javascript</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Video%20Header%20Javascript.png"
            alt="Cách Tạo Video Header Javascript">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="rizer" data-slug-hash="KaeZwL" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="video header">
            <span>See the Pen <a href="https://codepen.io/rizer/pen/KaeZwL">
            video header</a> by Alex (<a href="https://codepen.io/rizer">@rizer</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/rizer/pen/KaeZwL"
              target="_blank" title="Cách Tạo Video Header Javascript">Nguồn</a>
          </p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Tạo Header Bằng Clip Path CSS</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Header%20Clip%20Path%20CSS.png"
            alt="Cách Tạo Header Bằng Clip Path CSS">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="grardovr" data-slug-hash="rJQWLN" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Header for landing page using clip path.">
            <span>See the Pen <a href="https://codepen.io/grardovr/pen/rJQWLN">
            Header for landing page using clip path.</a> by Gerardo Valencia (<a href="https://codepen.io/grardovr">@grardovr</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/grardovr/pen/rJQWLN"
              target="_blank" title="Cách Tạo Header Bằng Clip Path CSS">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thiết Kế Curve Header</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/header-website/Curve%20Header.png"
            alt="Thiết Kế Curve Header">
          <p class="mt-4"> Và bên dưới là dự án trên Codepen nhé!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="linux" data-slug-hash="aEQKWP" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="curve  header">
            <span>See the Pen <a href="https://codepen.io/linux/pen/aEQKWP">
            curve  header</a> by Omar Dsooky (<a href="https://codepen.io/linux">@linux</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/linux/pen/aEQKWP"
              target="_blank" title="Thiết Kế Curve Header">Nguồn</a>
          </p>





































          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những ví dụ header hữu ích dành
            cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
            mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui
            vẻ!</p>
      </div>
      </article>












    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>