<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Thư Viện Javascript Form Validation Năm 2020 </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Form là một yếu tố mà hầu hết trong tất cả các web hiện nay đều sử dụng để thu thập thông tin, khảo sát
                ý kiến, nhận đặt hàng online từ người dùng...
                Và để tránh tình trạng khách hàng nhập sai hay đưa ra thông báo nếu form có lỗi thì hôm nay mình sẽ giới
                thiệu đến các bạn những
                thư viện javascript form validation được lập trình viên sử dụng phổ biến trong năm 2020 nhé!
              </i>
            </p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                VALIDATE.JS
              </h3>
            </div>
            <p>
              <b>VALIDATE.JS</b> là một thư viện mã nguồn mở cung cấp cho bạn cách thức để kiểm tra các đối tượng
              Javascript trong trang web.
              Mục tiêu chính của nó là thiết lập các validation dưới dạng JSON và có thể chia sẻ qua lại giữa trình
              duyệt và máy chủ. Nó cung cấp cho chúng ta
              rất nhiều các phương thức validate như là xác thực ngày tháng, email, format, kiểm tra loại của đối tượng...
              VALIDATE.JS có thể chạy trên cả hai môi trường là trình duyệt và máy chủ(Nodejs). Các ví dụ và cách sử
              dụng bạn tham khảo thêm trong trang demo nhé!
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594261835/thu-vien-form-validation-javascript/VALIDATEJS_zhf9ts.png"
              alt="VALIDATE.JS">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://validatejs.org/" target="_blank" title="VALIDATE.JS">
                Nguồn
                VALIDATE.JS
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Parsley
              </h3>
            </div>
            <p>
              <b>Parsley</b> là một thư viện validation form được xây dựng bằng Javascript với nhiều tính mạnh mẽ và dễ
              dàng sử dụng cho lập trình viên để phát triển web.
              Một số điểm mạnh của thư viện này là nó được tích hợp rất nhiều trường hợp xác thực cho form của bạn thông
              qua việc đóng góp từ cộng đồng lập trình viên đông đảo,
              nó có thể chạy trên hầu hết trên trình duyệt phổ biến hiện nay (Với IE là IE8+), tự động phát hiện các sửa
              đổi từ form để thông báo ngay lập tức cho người dùng,
              cung cấp các thuộc tính UI/UX để bạn dễ dàng tùy chỉnh cho form như là vị trí hiển thị thông báo lỗi, nội
              dung của thông báo lỗi...
              Với cách thiết lập đơn giản và có các đầy đủ hướng dẫn chi tiết thì mình nghĩ đây là một thư viện nên dùng
              để validate form trong trang web của bạn.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594262624/thu-vien-form-validation-javascript/Parsley_khpwvg.png"
              alt="Parsley">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="http://parsleyjs.org/" target="_blank" title="Parsley">
                Nguồn
                Parsley
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                jQuery Validation Plugin
              </h3>
            </div>
            <p>
              <b>jQuery Validation Plugin</b> là một thư viện được xây dựng bằng Jquery cung cấp nhiều validation cho
              form trong trang web của bạn. Thư viện này là một lựa chọn tốt cho bạn khi bắt đầu xây dựng form từ đầu
              với các plugin cung cấp các phương thức xác thực phổ biến như email, URL, số thẻ tín dụng...
              cũng như API để bạn có thể viết các phương thức validate cho riêng mình. Ngoài việc hiển thị lỗi mặc định
              bằng tiếng Anh thì
              nó còn hỗ trợ thêm 37 ngôn ngữ khác ở trên thế giới.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594264133/thu-vien-form-validation-javascript/jQuery_Validation_Plugin_sxxnjc.png"
              alt="jQuery Validation Plugin">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://jqueryvalidation.org/" target="_blank" title="jQuery Validation Plugin">
                Nguồn
                jQuery Validation Plugin
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                xtype
              </h3>
            </div>
            <p>
              <b>xtype</b> là nơi giúp bạn tạo các validate súc tích, hiệu suất cao và thiết lập dễ dàng cho form. Với
              việc cải thiện hiệu quả và khả năng đọc
              các form bằng cách thống nhất những dữ liệu cơ bản như là chuỗi, số, mảng, group... Ngoài ra bạn cũng có
              thể thêm các phương thức validate riêng biết để sử dụng phù hợp với mục đích của trang web.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594265406/thu-vien-form-validation-javascript/xtype_oweqsc.png"
              alt="xtype">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://xtype.js.org/overview" target="_blank" title="xtype">
                Nguồn
                xtype
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Smoke
              </h3>
            </div>
            <p>
              <b>Smoke</b> là thư viện giúp bạn có thể dễ dàng tạo các form validation an toàn cho trang web với nhiều
              phương thức xác thực được cung cấp như là
              kiểm tra url được nhập vào, password, thời gian, số lượng ký tự trong chuỗi...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594265856/thu-vien-form-validation-javascript/Smoke_xgfc40.png"
              alt="Smoke">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="http://alfredobarron.github.io/smoke/#/validate" target="_blank" title="Smoke">
                Nguồn
                Smoke
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                International Telephone Input
              </h3>
            </div>
            <p>
              <b>International Telephone Input</b> là một plugin javascript xây dựng form nhập và xác thực các số điện
              thoại quốc tế.
              Bạn dễ dàng lựa chọn các quốc gia mà mình mong muốn thông qua component dropdown được cung cấp sẵn hay
              tự động xác định kiểu nhập số điện thoại thông qua địa chỉ IP quốc gia của người dùng.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594266926/thu-vien-form-validation-javascript/International_Telephone_Input_oyk5gb.png"
              alt="International Telephone Input">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://intl-tel-input.com/" target="_blank" title="International Telephone Input">
                Nguồn
                International Telephone Input
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Jquery credit card validator
              </h3>
            </div>
            <p>
              <b>Jquery credit card validator</b> là thư viện xây dựng bằng Jquery giúp bạn có thể dễ dàng xác định loại
              thẻ mà người dùng nhập
              để từ đó hiển thị cách thức nhập cho ô input, validate chiều dài cũng như loại thẻ để xác định thẻ đó có
              hợp lệ hay không. Ngoài ra nó
              cũng cung cấp validate cho hầu hết các thẻ phổ biến hiện nay như là American Express, MasterCard, Visa,
              JCB...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594267523/thu-vien-form-validation-javascript/Jquery_credit_card_validator_ihbubu.png"
              alt="Jquery credit card validator">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://jquerycreditcardvalidator.com/" target="_blank" title="Jquery credit card validator">
                Nguồn
                Jquery credit card validator
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                validator.js
              </h3>
            </div>
            <p>
              <b>validator.js</b> là thư viện được viết bằng Javascript để chuyên kiểm tra kiểu dữ liệu chuỗi trong form
              như là validate một chuỗi nhập vào có phải là thẻ ngân hàng hay
              là tiền tệ, email hay chuỗi chỉ chứa toàn số...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594268648/thu-vien-form-validation-javascript/validatorjs_kjr7ub.png"
              alt="validator.js">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://github.com/validatorjs/validator.js" target="_blank" title="validator.js">
                Nguồn
                validator.js
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                ApproveJs
              </h3>
            </div>
            <p>
              <b>ApproveJs</b> là thư viện Javascript đơn giản giúp bạn có thể tự động validation theo ý mình muốn.
              Nó không thể tự động lắng nghe sự thay đổi của ô input hay sự kiện submit từ form. Và nó cũng không xử lý
              DOM bằng cách tự hiển thị lỗi trong trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594278607/thu-vien-form-validation-javascript/ApproveJs_qfykcu.png"
              alt="ApproveJs">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://charlgottschalk.github.io/approvejs/docs/" target="_blank" title="ApproveJs">
                Nguồn
                ApproveJs
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Validator
              </h3>
            </div>
            <p>
              <b>Validator</b> là một thư viện giúp bạn có thể validate dữ liệu các ô input trong form một cách dễ
              dàng như là tel, email, number,
              date, time, checkbox và url.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594279155/thu-vien-form-validation-javascript/Validator_gxh1sf.png"
              alt="validator">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://github.com/yairEO/validator" target="_blank" title="Validator">
                Nguồn
                Validator
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                v8n
              </h3>
            </div>
            <p>
              <b>v8n</b> hướng tới mục đích là trở thành thư viện validate với cách thiết lập nhanh chóng đơn giản và có
              thể sử dụng cho nhiều ngữ cảnh khác nhau.
              Nó cung cấp một API dễ hiểu và dễ dàng tạo các validation phức tạp với bất cứ đối tượng nào trong trang web của
              bạn.
              Ngoài việc cung cấp các phương thức kiểm tra hữu ích mặc định thì bạn cũng có thể thêm các quy tắc riêng
              vào v8n để sử dụng phù hợp với mục đích của mình.


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594279867/thu-vien-form-validation-javascript/v8n_cchag3.png"
              alt="v8n">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://imbrn.github.io/v8n/#what-s-v8n" target="_blank" title="v8n">
                Nguồn
                v8n
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                React-Formal
              </h3>
            </div>
            <p>
              <b>React-Formal</b> là một thư viện dành cho framework ReactJS dùng để xử lý nhanh chóng các validate
              trong form của bạn.
              Nó cung cấp một API giúp bạn có thể sử dụng trong nhiều trường hợp khác nhau từ đơn giản đến phức tạp và
              cung cấp bạn quyền
              tinh chỉnh nội dung hay thiết kế style cho các thông báo lỗi ở trong form.


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594281209/thu-vien-form-validation-javascript/React_Formal_twttzp.png"
              alt="React-Formal">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="http://jquense.github.io/react-formal/api/Form" target="_blank" title="React-Formal">
                Nguồn
                React-Formal
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                React Forms
              </h3>
            </div>
            <p>
              <b>React Forms</b> là thư viện cung cấp cho bạn các cộng cụ sử dụng với React để xử lý
              trong quá trình render form cũng như là validation.


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594281533/thu-vien-form-validation-javascript/React_Forms_z5ngd7.png"
              alt="React Forms">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://github.com/prometheusresearch-archive/react-forms" target="_blank" title="React Forms">
                Nguồn
                React Forms
              </a> </button>


            

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                VeeValidate
              </h3>
            </div>
            <p>
              <b>VeeValidate</b> là thư viện dành cho Vuejs và cho phép bạn validate các input trong form và hiển thị
              lỗi.
              Ngoài ra nó còn hỗ trợ với hơn 40 ngôn ngữ trên thế giới và không sử dụng thêm bất kỳ thư viện bổ sung
              nào.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594282489/thu-vien-form-validation-javascript/VeeValidate_evu0vi.png"
              alt="VeeValidate">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://logaretm.github.io/vee-validate/" target="_blank" title="VeeValidate">
                Nguồn
                VeeValidate
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Vuelidate
              </h3>
            </div>
            <p>
              <b>Vuelidate</b> là thư viện nhỏ gọn được xây dựng cho Vuejs2.0 với nhiều tính năng hữu ích như là
              hỗ trợ nhiều các trường hợp validate phổ biến, dễ dàng tính chỉnh các phương thức kiểm tra... 


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594283241/thu-vien-form-validation-javascript/Vuelidate_qrotr5.png"
              alt="Vuelidate">

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://vuelidate.js.org/" target="_blank" title="Vuelidate">
                Nguồn
                Vuelidate
              </a> </button>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Angular-Validator
                </h3>
              </div>
              <p>
                <b>Angular-Validator</b> là thư viện dành cho framework Angular cho phép bạn sử dụng nhiều cách xác thực khác nhau như regex, HTML5 hoặc là tự tùy chỉnh.
                Ngoài ra nó cũng hoạt động tốt với các validation của Angular gốc cũng như các thuộc tính nguyên thủy của HTML5.
                Để hiểu rõ hơn bạn tham khảo thêm trong trang demo nhé!
  
  
              </p>
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594283797/thu-vien-form-validation-javascript/Angular-Validator_wrqtas.png"
                alt="Angular-Validator">
  
              <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                  href="https://github.com/turinggroup/angular-validator" target="_blank" title="Angular-Validator">
                  Nguồn
                  Angular-Validator
                </a> </button>












            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thư viện validation javascript
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>