<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Trang Web  Hay  Dành Cho Front-End Năm 2020</h2>
            </div>
          </div>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i> Với sự phát triển nhanh chóng của kỹ thuật web thì ngày càng có nhiều trang web bổ ích ra đời để giúp
                chúng ta có thể học tập cũng như có thể nâng cao kỹ
                năng lập trình thông qua các bài viết hữu ích. Nào bây giờ bạn hãy cùng mình đi vào tìm hiểu nhé!</i>
            </p>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS Animation</h3>
          </div>
          <p>

            Các bài báo, thủ thuật và hướng dẫn về animation trong CSS.
            Nâng cao kỹ năng animation CSS của bạn thông qua các bài viết được đăng lên trang web hàng tuần.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600743687/trang_web_huu_ich_cho_lap_trinh_front_end/css_animation_u6jmco.png"
            alt="CSS Animation">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://cssanimation.rocks/"
              target="_blank">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Learn to Code HTML & CSS</h3>
          </div>
          <p>
            Trang web hướng dẫn mọi người cách xây dựng các trang web đẹp và trực quan
            bằng các bài học rõ ràng và có tổ chức thông qua việc sử dụng HTML, CSS. Các bài giảng bao gồm nhiều chủ đề
            thiết kế và phát triển web, từ cấp độ
            kỹ năng mới bắt đầu đến nâng cao.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600743996/trang_web_huu_ich_cho_lap_trinh_front_end/Learn_to_Code_HTML_CSS_nafe6b.png"
            alt="Learn to Code HTML & CSS">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://learn.shayhowe.com/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Grid by Example</h3>
          </div>
          <p>
            Nơi giúp bạn có thể dễ dàng tìm hiểu về mọi thứ của grid trong CSS một cách đầy đủ nhất. Và nó cũng cung cấp
            nhiều ví dụ minh họa
            khác nhau để giúp bạn có thể dễ dàng xây dựng hệ thống lưới cho trang web ở trong thực tế.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600744463/trang_web_huu_ich_cho_lap_trinh_front_end/Grid_by_Example_qpcw6t.png"
            alt="Grid by Example">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://gridbyexample.com/"
              target="_blank">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">General Assembly Dash</h3>
          </div>
          <p>
            Nơi giúp bạn có thể học HTML, CSS và Javascript ngay trên trình duyệt và có thể thấy được kết quả của đoạn
            mã mình viết thông qua
            những bài học ở trong chương trình.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600745414/trang_web_huu_ich_cho_lap_trinh_front_end/General_Assembly_Dash_opdokk.png"
            alt="General Assembly Dash">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://dash.generalassemb.ly/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">30 SECONDS OF INTERVIEWS</h3>
          </div>
          <p>
            Đây là trang web tổng hợp những câu hỏi hay gặp trong quá trình phỏng vấn. Đồng thời nó cũng đưa ra các gợi
            ý để bạn có thể trả lời những câu hỏi đó
            một cách hợp lý nhất.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600745611/trang_web_huu_ich_cho_lap_trinh_front_end/30_SECONDS_OF_INTERVIEWS_uejpgj.png"
            alt="30 SECONDS OF INTERVIEWS">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://30secondsofinterviews.org/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS In Real Life</h3>
          </div>
          <p>
            CSS In Real Life là một blog bao gồm các chủ đề CSS và các đoạn trích hữu ích trên ngôn ngữ đẹp nhất của
            web.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600746158/trang_web_huu_ich_cho_lap_trinh_front_end/CSS_In_Real_Life_hx3voo.png"
            alt=" CSS In Real Life">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://css-irl.info/"
              target="_blank">Nguồn</a></button>




          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Codrops </h3>
          </div>
          <p>
            Codrops là một blog phát triển và thiết kế web xuất bản các bài báo và hướng dẫn về các xu hướng web mới
            nhất, các kỹ thuật và các skill mới. Nhóm Codrops luôn tận tâm cung cấp nội dung hữu ích, truyền cảm hứng và
            sáng tạo miễn phí.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600747932/trang_web_huu_ich_cho_lap_trinh_front_end/Codrops_1_ufglvh.png"
            alt="Codrops">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://tympanus.net/codrops/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Smashing Magazine </h3>
          </div>
          <p>
            Tạp chí Smashing cung cấp các bài báo đáng tin cậy, hữu ích nhưng quan trọng nhất là thực tế cho các nhà
            thiết kế và nhà phát triển web.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600748090/trang_web_huu_ich_cho_lap_trinh_front_end/Smashing_Magazine_pncw8e.png"
            alt="Smashing Magazine">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://www.smashingmagazine.com/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CodeNewbie </h3>
          </div>
          <p>
            CodeNewbie là nơi giúp bạn có thể trao đổi cũng như học tập thêm kinh nghiệm từ các bạn lập trình viên khác
            ở trên thế giới.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600748285/trang_web_huu_ich_cho_lap_trinh_front_end/CodeNewbie_xchywn.png"
            alt="CodeNewbie">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://www.codenewbie.org/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS-TRICKS </h3>
          </div>
          <p>
            CSS-TRICKS là trang web chuyên chia sẻ các bài viết hay về Front-end như CSS, SVG, React, Vue... Và nó luôn
            được cập nhật thường xuyên.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600757492/trang_web_huu_ich_cho_lap_trinh_front_end/CSS-TRICKS_egqmtr.png"
            alt="CSS-TRICKS">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://css-tricks.com/"
              target="_blank">Nguồn</a></button>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">DEV </h3>
          </div>
          <p>
            DEV là một cộng đồng các nhà phát triển phần mềm cùng nhau giúp đỡ lẫn nhau. Bạn có thể tìm kiếm ở đầy nhiều
            bài viết hữu ích trong lĩnh vực của mình thông qua
            những kinh ngiệm được đúc kết trong quá trình làm việc của các bạn developer.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600757848/trang_web_huu_ich_cho_lap_trinh_front_end/DEV_qihfd1.png"
            alt="DEV">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://dev.to/"
              target="_blank">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">SitePoint </h3>
          </div>
          <p>
            SitePoint là trung tâm dành cho các nhà phát triển web chia sẻ niềm đam mê của họ trong việc xây dựng những
            thứ tuyệt vời trên Internet. Được thành lập bởi Mark Harbottle và Matt Mickiewicz vào năm 1999. SitePoint
            dành cho các chuyên gia web, nhà thiết kế, lập trình viên, người tạo
            sản phẩm...
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600758397/trang_web_huu_ich_cho_lap_trinh_front_end/SitePoint_ungiuu.png"
            alt="SitePoint">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://www.sitepoint.com/blog/"
              target="_blank">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Superhero.js </h3>
          </div>
          <p>
            Superhero.js là một trang web tổng hợp tất cả các bài viết, video liên quan đến việc chúng ta chạy và duy
            trì các dự án lớn
            khi sử dụng Javascript. Tuy vậy các bài viết này sẽ được sắp xếp từ cơ bạn đến nâng cao để bạn có thể dễ
            dàng theo dõi và nắm bắt hơn.

          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600758731/trang_web_huu_ich_cho_lap_trinh_front_end/Superherojs_zioqvk.png"
            alt="Superhero.js ">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="http://superherojs.com/"
              target="_blank">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Scotch </h3>
          </div>
          <p>
            Chris on Code và Nick Cerminara đã tạo ra Scotch như một nơi mà các developer có thể giúp các nhà phát
            triển khác bằng cách chia sẻ kiến thức, mẹo và kiến thức để giúp họ có thể dễ dàng hoàn thiện hơn trong công việc của mình.
          </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600759180/trang_web_huu_ich_cho_lap_trinh_front_end/screenshot-scotch.io-2020.09.22-14_19_19_v5kwdy.png"
            alt="Scotch ">
          <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://scotch.io/"
              target="_blank">Nguồn</a></button>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">freeCodeCamp News </h3>
              </div>
              <p>
                freeCodeCamp News là một trang web tổng hợp nhiều bài viết hữu ích cho quá trình thiết kế cũng như phát triển web.
              </p>
    
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600759374/trang_web_huu_ich_cho_lap_trinh_front_end/freeCodeCamp_News_ejizkl.png"
                alt="freeCodeCamp News  ">
              <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://www.freecodecamp.org/news/"
                  target="_blank">Nguồn</a></button>


                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">HONGKIAT</h3>
                  </div>
                  <p>
                    HONGKIAT là một trang web tổng hợp những bài viết chia sẻ về việc sử dụng thư viện trong thiết kế web, 
                    các mẹo hay để giải quyết các vấn đề thường gặp trong quá trình phát triển web...
                  </p>
        
                  <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1600759848/trang_web_huu_ich_cho_lap_trinh_front_end/HONGKIAT_d7gflw.png"
                    alt="HONGKIAT ">
                  <button type="button " class="btn btn-outline-dark btn-md mt-4"><a href="https://www.hongkiat.com/blog/"
                      target="_blank">Nguồn</a></button>






          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những trang web
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>