<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu cách tạo count up (hiệu ứng động số tăng dần)
                      cho trang web bằng HTML, CSS, Javascrip kết hợp với thư viện Counter-Up Jquery nhé !
                    </i></b>
                </p>
              </div>
              <hr />
            </div>
          </div>
          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size"> Tạo Cấu Trúc HTML Cho Count Up
          </h2>
          <p> Phần đầu tiên chúng ta sẽ đi vào tạo hai file là <code>index.html</code>(nơi lưu trữ HTML) và
            <code>style.css</code>(nơi lưu trữ mã CSS). Sau đó liên kết chúng với CDN Google Font, Bootstrap v4.5.3,
            Font Awesome v4.7
            và thư viện Counter-Up Jquery thông
            qua đoạn mã dưới đây nhé:</p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/> &#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;Count&nbsp;up&nbsp;Cho&nbsp;Trang&nbsp;Web&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &#60;/head&#62;<br/> &#60;body&#62;<br/> &nbsp;&nbsp;&#60;script&nbsp;src="https://code.jquery.com/jquery-3.5.1.js"&#62;&#60;/script&#62;<br/> &nbsp;&nbsp;&#60;script&nbsp;src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js""&#62;&#60;/script&#62;<br/> &nbsp;&nbsp;&#60;script&nbsp;src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"&#62;&#60;/script&#62;<br/> &#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>

          <h2 class="bg-primary mt-4 mb-4 text-white rounded p-2 shadow title-article-size"> Thêm Các Thẻ HTML Cần Thiết Cho
            Countup
          </h2>

          <p>
            Trong phần này ngoài việc thêm các thẻ HTMl cần thiết thì mình cũng sử dụng một số class thông dụng trong
            Bootstrap 4 để
            chia cột cho bố cục trang web như là <code>container</code>, <code>row</code>, <code>col-lg-6</code>,
            <code>col-lg-4</code>, <code>col-lg-2</code>...<br />
            <mark>Nếu bạn muốn xem lại về phần chia bố cục cho trang web bằng Bootstrap 4 thì có thể truy cập <a
                href="https://www.niemvuilaptrinh.com/article/Bootstrap-4-Phan-2"
                title="Hệ thống lưới trong Bootstrap 4">ở đây nhé!</a></mark>
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;div&nbsp;class="about-section"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="row"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Cột&nbsp;Thứ&nbsp;1--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-lg-4"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="about-bg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://images.pexels.com/photos/2100063/pexels-photo-2100063.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"&nbsp;alt="Hình&nbsp;Ảnh&nbsp;Minh&nbsp;Họa"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Cột&nbsp;Thứ&nbsp;1--&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Cột&nbsp;Thứ&nbsp;2--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-lg-6"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="section-heading"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Giới&nbsp;Thiệu&nbsp;Về&nbsp;Tôi&#60;/h2&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;br&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="about-content"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;&nbsp;Lorem,&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Est,&nbsp;repellendus&nbsp;obcaecati&nbsp;ducimus&nbsp;laborum&nbsp;porro&nbsp;eius&nbsp;qui&nbsp;consequuntur&nbsp;quae,&nbsp;itaque&nbsp;deleniti&nbsp;officia&nbsp;architecto&nbsp;sequi&nbsp;consectetur&nbsp;iusto&nbsp;cupiditate&nbsp;dicta&nbsp;accusamus&nbsp;impedit&nbsp;iure.&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Impedit&nbsp;rem&nbsp;sapiente&nbsp;aliquid&nbsp;aliquam&nbsp;cum&nbsp;pariatur&nbsp;itaque&nbsp;unde,&nbsp;accusamus,&nbsp;quam&nbsp;libero&nbsp;harum&nbsp;ipsa&nbsp;accusantium&nbsp;fugiat&nbsp;similique&nbsp;ullam&nbsp;officiis&nbsp;consequuntur&nbsp;officia&nbsp;quos.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;br&#62;&#60;br&#62;&#60;br&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href=""&nbsp;class="default-btn"&#62;Tải&nbsp;Thông&nbsp;Tin&nbsp;Của&nbsp;Tôi&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="social"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-facebook"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-twitter"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-linkedin"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-pinterest"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-youtube"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Cột&nbsp;Thứ&nbsp;2--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;br&nbsp;/&#62;&#60;br&nbsp;/&#62;&#60;br&nbsp;/&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Cột&nbsp;Thứ&nbsp;3--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-lg-2"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="counter-content"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="counter-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Dự&nbsp;Án&nbsp;&#60;span&nbsp;class="counter&nbsp;text-primary"&#62;600&#60;/span&#62;&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="counter-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Khách&nbsp;Hàng&nbsp;&#60;span&nbsp;class="counter&nbsp;text-primary"&#62;1200&#60;/span&#62;&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="counter-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Thời&nbsp;Gian&nbsp;Làm&nbsp;Việc&nbsp;&#60;span&nbsp;class="counter&nbsp;text-primary"&#62;1500&#60;/span&#62;&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="counter-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Giải&nbsp;Thưởng&nbsp;&#60;span&nbsp;class="counter&nbsp;text-primary"&#62;150&#60;/span&#62;&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Cột&nbsp;Thứ&nbsp;3--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/div&#62;<br/></code></pre>

          <p class="mt-4">
            Và bây giờ chúng ta sẽ xem cách Bootstrap sẽ chia cột cho chúng ta thông qua hình ảnh dưới đây nhé:
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603630293/Count_up_HTML_CSS_JS/Count_up_1_xl8g42.png"
            alt="Count_up_1"
           >
           <h2 class="bg-primary mb-4  mt-4 text-white rounded p-2 shadow title-article-size">
             Thiết Lập Font Chữ, Màu Nền cho  Count up
          </h2>
          <p>
           Trong phần này chúng ta sẽ đi vào thiết lập style (font chữ, màu nền, khoảng cách...)cho nội dung trang web 
           thông qua thẻ <code>body</code> trong đoạn mã CSS sau nhé:
          </p>
          <h4 class="text-primary">
            CSS
          </h4>
          <pre><code class="css">body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#7f5a83;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-image:&nbsp;linear-gradient(315deg,&nbsp;#7f5a83&nbsp;0%,&nbsp;#0d324d&nbsp;74%);<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;&nbsp;100vh;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Roboto',&nbsp;sans-serif;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;400;<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem hình ảnh dưới đây nha:
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603630839/Count_up_HTML_CSS_JS/Count_up_2_lidil4.png"
            alt="Count_up_2"
           >
           <h2 class="bg-primary mb-4  mt-4 text-white rounded p-2 shadow title-article-size">
            Thiết Lập Lại Vị Trí Và Màu Sắc Cho Thành Phần Count up
         </h2>
  
         <p>
           Phần tiếp theo chúng ta sẽ đi vào sử dụng một số thuộc tính CSS cơ bản để thiết lập lại vị trí, khoảng cách giữa các cột trong thành phần count up
           đồng thời thiết lập lại màu sắc cho chữ để giúp khách hàng dễ dàng đọc hơn nhé:
         </p>

         <h4 class="text-primary">
           CSS
         </h4>
         <pre><code class="css">.about-section{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;175px;<br/> &nbsp;&nbsp;&nbsp;&nbsp; }<br/>.section-heading&nbsp;h2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;white;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;28px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;400;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;capitalize;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> }<br/>.about-bg&nbsp;img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-left:&nbsp;-50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;25px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-shadow:&nbsp;0&nbsp;1px&nbsp;1px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;2px&nbsp;2px&nbsp;rgba(0,0,0,0.12),<br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;4px&nbsp;4px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;8px&nbsp;8px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;16px&nbsp;16px&nbsp;rgba(0,0,0,0.12);<br/> }<br/>.about-content&nbsp;p{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;30px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/>.counter-content&nbsp;.counter-item:not(:last-of-type)&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;25px;<br/> }<br/>.counter-content&nbsp;h3{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;22px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;400;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/>.counter-content&nbsp;span{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;48px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;400;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;60px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-left:&nbsp;40px;<br/> }<br/></code></pre>
         <p class="mt-4">
           Để dễ hình dung hơn bạn xem hình ảnh dưới đây nhé:
         </p>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603631490/Count_up_HTML_CSS_JS/Count_up_3_mqwr2a.png"
            alt="Count_up_3"
           >
           <h2 class="bg-primary mb-4  mt-4 text-white rounded p-2 shadow title-article-size">
            Thiết Lập Style Cho Nút Và Icon Trong Count Up
         </h2>
         <p>
           Tiếp theo chúng ta sẽ sử dụng thuộc tính một số thuộc tính  CSS cơ bản để thiết lập màu sắc, cở chữ, hiệu ứng hover... cho nút và icon 
           thông qua đoạn mã bên dưới nhé:
         </p>
         <h4 class="text-primary">
           CSS
         </h4>
         <pre><code class="css">.default-btn{<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;2px&nbsp;solid&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;capitalize;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;15px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;400;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0&nbsp;35px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> }<br/>.default-btn:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;deepskyblue;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-decoration:&nbsp;none;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-shadow:&nbsp;0px&nbsp;0px&nbsp;24px&nbsp;5px&nbsp;rgba(0,0,0,0.3);<br/> }<br/>.section-heading&nbsp;sspan{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/>.social&nbsp;.fa{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-right:&nbsp;2px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;42px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;42px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;2px&nbsp;solid&nbsp;#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;50px;<br/> }<br/></code></pre>
         <p class="mt-4">
           Và kết quả bạn xem bên dưới nhé:
         </p>
         <img class="img-thumbnail img-fluid shadow p-2 lazyload"
         data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603631763/Count_up_HTML_CSS_JS/Count_up_4_cspkgs.png"
         alt="Count_up_4"
        >
        <h2 class="bg-primary mb-4  mt-4 text-white rounded p-2 shadow title-article-size">
          Tạo Hiệu Ứng Động Số Tăng Dần Cho Count Up
       </h2>
       <p>
         Phần cuối cùng chúng ta sẽ sử dụng đoạn mã Javascript để khởi tạo hiệu ứng chuyển động cho số liệu trong thư viện 
         Counter-Up bằng đoạn mã bên dưới nhé:
       </p>
        <h4 class="text-primary">
          Javascript
        </h4>
        <pre><code class="javascript">jQuery(document).ready(function&nbsp;($)&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;$('.counter').counterUp({<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delay:&nbsp;10,<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;time:&nbsp;5000<br/> &nbsp;&nbsp;&nbsp;&nbsp;})<br/> })<br/></code></pre>
        <p class="mt-4">
          Lưu ý là bạn phải đặt đoạn mã nằm cuối cùng trong trang web (Sau các đường dẫn CDN của thư viện) nhé!. Và dưới đây là kết quả cuối cùng:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1603632296/Count_up_HTML_CSS_JS/tao-count-up_lZLZ8oe1_wthosl.mp4" allowfullscreen></iframe>
        </div>
        <p class="mt-4">
          Và dưới đây là dự án trên Codepen nhé!
        </p>
        <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="LYZWPdV" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Tạo Count Up">
          <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/LYZWPdV">
          Tạo Count Up</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
        <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/haycuoilennao19/pen/LYZWPdV" target="_blank">Nguồn</a></p>



          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn kiến thức về việc tạo count up
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>