<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Hiệu Ứng Hover Đẹp Cho Đường Dẫn  (2020) </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Bài viết hôm nay chúng ta hãy cùng nhau đi vào tìm hiểu những hiệu ứng đẹp cho đường dẫn được xây dựng bằng HTML, CSS,
                Javascript và sử dụng phổ biến trong năm 2020 nhé!
              </i>
            </p>



           
            <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ
              kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác
                minh mình là con người</b> trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang
              CSS ở đây nhé : <a href="https://jsonformatter.org/scss-to-css"
                rel="external nofollow noopener noreferrer" target="_blank">SCSS to CSS</a>. Nếu chúng ta muốn xem các
              nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới
              cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                The "Read more" link
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="melnik909" data-slug-hash="KGxdjY" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="The &amp;quot;Read more&amp;quot; link">
              <span>See the Pen <a href="https://codepen.io/melnik909/pen/KGxdjY">
              The &quot;Read more&quot; link</a> by Stas Melnikov (<a href="https://codepen.io/melnik909">@melnik909</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>


            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/melnik909/pen/KGxdjY" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
               Animated Gradient Underline
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="GeorgePark" data-slug-hash="NXjwaN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated Gradient Underline for Link Hover State">
              <span>See the Pen <a href="https://codepen.io/GeorgePark/pen/NXjwaN">
              Animated Gradient Underline for Link Hover State</a> by George W. Park (<a href="https://codepen.io/GeorgePark">@GeorgePark</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/GeorgePark/pen/NXjwaN" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Cool CSS3 Link Ideas
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="brenden" data-slug-hash="RNZXqx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Cool CSS3 Link Ideas">
              <span>See the Pen <a href="https://codepen.io/brenden/pen/RNZXqx">
              Cool CSS3 Link Ideas</a> by Brenden Palmer (<a href="https://codepen.io/brenden">@brenden</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/brenden/pen/RNZXqx" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link Effectz
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="geoffgraham" data-slug-hash="bxEVEN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link Effectz - Squiggle">
              <span>See the Pen <a href="https://codepen.io/geoffgraham/pen/bxEVEN">
              Link Effectz - Squiggle</a> by Geoff Graham (<a href="https://codepen.io/geoffgraham">@geoffgraham</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/geoffgraham/pen/bxEVEN" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="electerious" data-slug-hash="XzrNwp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link effect">
              <span>See the Pen <a href="https://codepen.io/electerious/pen/XzrNwp">
              Link effect</a> by Tobias Reich (<a href="https://codepen.io/electerious">@electerious</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/electerious/pen/XzrNwp" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link with gradient background on hover
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="giuliamalaroda" data-slug-hash="QBOGdG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#0001 • Link with gradient background on hover">
              <span>See the Pen <a href="https://codepen.io/giuliamalaroda/pen/QBOGdG">
              #0001 • Link with gradient background on hover</a> by Giulia Malaroda (<a href="https://codepen.io/giuliamalaroda">@giuliamalaroda</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/giuliamalaroda/pen/QBOGdG" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Single Element Link Styling
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="abergin" data-slug-hash="LGuJd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Single Element Link Styling">
              <span>See the Pen <a href="https://codepen.io/abergin/pen/LGuJd">
              Single Element Link Styling</a> by Alex Bergin (<a href="https://codepen.io/abergin">@abergin</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/abergin/pen/LGuJd" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subtle link animations
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="butsuri" data-slug-hash="bKjHz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subtle link animations.">
              <span>See the Pen <a href="https://codepen.io/butsuri/pen/bKjHz">
              Subtle link animations.</a> by Josip Psihistal (<a href="https://codepen.io/butsuri">@butsuri</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/butsuri/pen/bKjHz" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link Hover Arrow Idea
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="gabriellewee" data-slug-hash="ddjYmY" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link Hover Arrow Idea">
              <span>See the Pen <a href="https://codepen.io/gabriellewee/pen/ddjYmY">
              Link Hover Arrow Idea</a> by Gabrielle Wee 🧧 (<a href="https://codepen.io/gabriellewee">@gabriellewee</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/gabriellewee/pen/ddjYmY" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link Highlight Hover/Click Effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="eehayman" data-slug-hash="WoWzWd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link Highlight Hover/Click Effect">
              <span>See the Pen <a href="https://codepen.io/eehayman/pen/WoWzWd">
              Link Highlight Hover/Click Effect</a> by Emily Hayman (<a href="https://codepen.io/eehayman">@eehayman</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/eehayman/pen/WoWzWd" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Menu Hover Line Effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="mburakerman" data-slug-hash="xpZJYL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Menu Hover Line Effect ">
              <span>See the Pen <a href="https://codepen.io/mburakerman/pen/xpZJYL">
              Menu Hover Line Effect </a> by Mehmet Burak Erman  (<a href="https://codepen.io/mburakerman">@mburakerman</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/mburakerman/pen/xpZJYL" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Text underline hover effects
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="MishaHahaha" data-slug-hash="AXxYKQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Text underline hover effects">
              <span>See the Pen <a href="https://codepen.io/MishaHahaha/pen/AXxYKQ">
              Text underline hover effects</a> by Misha Heesakkers (<a href="https://codepen.io/MishaHahaha">@MishaHahaha</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/MishaHahaha/pen/AXxYKQ" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link Hover Effects w/ mo.js
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="mprquinn" data-slug-hash="OmOMrR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link Hover Effects w/ mo.js ">
              <span>See the Pen <a href="https://codepen.io/mprquinn/pen/OmOMrR">
              Link Hover Effects w/ mo.js </a> by Mike Quinn (<a href="https://codepen.io/mprquinn">@mprquinn</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/mprquinn/pen/OmOMrR" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                css link effects
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="samvdh" data-slug-hash="MmZzyR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="css link effects, by sam van der Heijden">
              <span>See the Pen <a href="https://codepen.io/samvdh/pen/MmZzyR">
              css link effects, by sam van der Heijden</a> by Sam van der Heijden (<a href="https://codepen.io/samvdh">@samvdh</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/samvdh/pen/MmZzyR" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link hover
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="hafizfattah" data-slug-hash="tkgyK" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link hover">
              <span>See the Pen <a href="https://codepen.io/hafizfattah/pen/tkgyK">
              Link hover</a> by hafiz fattah (<a href="https://codepen.io/hafizfattah">@hafizfattah</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/hafizfattah/pen/tkgyK" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Anchor Click Canvas Animation
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="nicksheffield" data-slug-hash="NNEoLg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Anchor Click Canvas Animation">
              <span>See the Pen <a href="https://codepen.io/nicksheffield/pen/NNEoLg">
              Anchor Click Canvas Animation</a> by Nick Sheffield (<a href="https://codepen.io/nicksheffield">@nicksheffield</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/nicksheffield/pen/NNEoLg" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Rolling Links
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="hakimel" data-slug-hash="scrhL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Rolling Links">
              <span>See the Pen <a href="https://codepen.io/hakimel/pen/scrhL">
              Rolling Links</a> by Hakim El Hattab (<a href="https://codepen.io/hakimel">@hakimel</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/hakimel/pen/scrhL" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Animated external link icon
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="ccrch" data-slug-hash="KrjKak" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated external link icon">
              <span>See the Pen <a href="https://codepen.io/ccrch/pen/KrjKak">
              Animated external link icon</a> by Krz Szzz (<a href="https://codepen.io/ccrch">@ccrch</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/ccrch/pen/KrjKak" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Animated font weight on hover
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="jesperkc" data-slug-hash="YaGYRr" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated font weight on hover">
              <span>See the Pen <a href="https://codepen.io/jesperkc/pen/YaGYRr">
              Animated font weight on hover</a> by Jesper Strange Klitgaard Christiansen (<a href="https://codepen.io/jesperkc">@jesperkc</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/jesperkc/pen/YaGYRr" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Nice line movement hover
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="brunob182" data-slug-hash="rWxYmW" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Nice line movement hover">
              <span>See the Pen <a href="https://codepen.io/brunob182/pen/rWxYmW">
              Nice line movement hover</a> by Bruno Almeida (<a href="https://codepen.io/brunob182">@brunob182</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/brunob182/pen/rWxYmW" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Menu hover effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="jasonheecs" data-slug-hash="zodWjz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Menu hover effect">
              <span>See the Pen <a href="https://codepen.io/jasonheecs/pen/zodWjz">
              Menu hover effect</a> by Jason Hee (<a href="https://codepen.io/jasonheecs">@jasonheecs</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/jasonheecs/pen/zodWjz" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link Style Experiments
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="cssgirl" data-slug-hash="VYGjRj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link Style Experiments">
              <span>See the Pen <a href="https://codepen.io/cssgirl/pen/VYGjRj">
              Link Style Experiments</a> by Lindsey (<a href="https://codepen.io/cssgirl">@cssgirl</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/cssgirl/pen/VYGjRj" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Hover effect left to right on text color
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="babouz44" data-slug-hash="rPNYVW" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hover effect left to right on text color">
              <span>See the Pen <a href="https://codepen.io/babouz44/pen/rPNYVW">
              Hover effect left to right on text color</a> by Boris (<a href="https://codepen.io/babouz44">@babouz44</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/babouz44/pen/rPNYVW" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                 Link hover effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="ArnaudBalland" data-slug-hash="wBZZNa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link hover effect">
              <span>See the Pen <a href="https://codepen.io/ArnaudBalland/pen/wBZZNa">
              Link hover effect</a> by Arnaud Balland (<a href="https://codepen.io/ArnaudBalland">@ArnaudBalland</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/ArnaudBalland/pen/wBZZNa" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Link Fill on Hover
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="kathykato" data-slug-hash="zYYRGRQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Link Fill on Hover">
              <span>See the Pen <a href="https://codepen.io/kathykato/pen/zYYRGRQ">
              Link Fill on Hover</a> by Katherine Kato (<a href="https://codepen.io/kathykato">@kathykato</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/kathykato/pen/zYYRGRQ" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Arrow link :hover effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="udyux" data-slug-hash="jrbzZG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Arrow link :hover effect">
              <span>See the Pen <a href="https://codepen.io/udyux/pen/jrbzZG">
              Arrow link :hover effect</a> by Nicolas Udy (<a href="https://codepen.io/udyux">@udyux</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/udyux/pen/jrbzZG" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>





























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những hiệu ứng đường dẫn
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>