<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">




        <article>
          <div class="text-content-article mt-5">
            <p><i>Javascript is considered an indispensable language for web design and development. Therefore Today I
                would like to introduce to you some popular Javascript libraries for developers and coder!</i></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">React.JS</h2>
            </div>
            <p>React is an open source Javascript library used to build interfaces for web applications. It's for allows
              you to create complex UIs from small, independent and reusable pieces of code. Also it maintained and
              developed by Facebook, so you are completely assured about using this library for your project Now, there
              are many big companies using it for their website such as Facebook, Twitter, Netflix, WhatsApp...</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/react.png"
              alt="React.JS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://reactjs.org/" target="_blank"
                title="React.JS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Vue.JS</h2>
            </div>
            <p>Vuejs is a free and compact open source library that helps you build user interfaces. quickly (especially
              for single page web applications). It was developed by Evan You (a programmer at Google) in 2014 and
              achieved 2nd place in the ranking of Front-end Javascript Framework 2019. In my opinion, some of the
              benefits of Vue are that it is easier to learn and absorb than other framework, the documentation is
              extremely detailed and easy to understand...</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Vue.png"
              alt="Vue.JS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://vuejs.org/" target="_blank"
                title="Vue.JS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Angular.JS</h2>
            </div>
            <p>Angular Js is like the two frameworks above, making it easy for you to build web and mobile applications.
              web, native mobile and native desktop. It is trusted and used by many big companies such as Google,
              Forbes, IBM, Microsoft...</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Angular%20%281%29.png"
              alt="Angular.JS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://angular.io/" target="_blank"
                title="Angular.JS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Jquery</h2>
            </div>
            <p>Jquery is one of the most commonly used libraries by front-end developers. It is a letter Small, free,
              open source library that provides many useful features for website development such as AJAX, manipulate
              CSS, DOM, HTML easily, handle events (events), animation effects...</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Jquery%20%281%29.png"
              alt="Jquery">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://jquery.com/" target="_blank"
                title="Jquery">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Lodash</h2>
            </div>
            <p>Lodash helps you to handle problems related to Array, String, Number, Object... in the language
              Javascript programming with ease.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Lodash.png"
              alt="Lodash">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://lodash.com/" target="_blank"
                title="Lodash">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">AnimeJS</h2>
            </div>
            <p>AnimeJS is a library that makes it easy to build fast animations for web pages by working with CSS
              properties, SVG, DOM properties, Javascript Object...</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/AnimeJS%20%281%29.png"
              alt="AnimeJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://animejs.com/" target="_blank"
                title="AnimeJS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">AOS</h2>
            </div>
            <p> AOS helps you create animation effects for website elements when users scroll the web page.</p> <img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/AOS%20%281%29.png"
              alt="AOS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://michalsnik.github.io/aos/"
                target="_blank" title="AOS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Popper</h2>
            </div>
            <p> POPPER is a library written in javascript with a size of only about 3kB to help you improve speed of the
              website while still retaining the functions that a tooltip needs. It is commonly used in libraries popular
              nowadays such as Bootstrap, Foundation, Material UI... In my opinion, it helps us to solve A common
              problem in tooltips is determining the position of the element and displaying it as best as possible on
              the different device screens.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592021038/thu-vien-tooltip/thu-vien-tooltip-POPPER_wxl6yd.png"
              alt="Popper">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://popper.js.org/" target="_blank"
                title="Popper">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Owl Carousel 2</h2>
            </div>
            <p>Owl Carousel 2 is an open source library that helps you build carousel easily and aesthetically high.
              With more than 60 different types of carousel, support touch and drop feature on mobile to increase the
              experience user, responsive on many different device screens, the library is divided into many small
              modules helps to reduce unnecessary plugins when used in the project. What I like about this library is it
              has many detailed examples for each function making it easy for you to set up as well as build choices
              carousel is suitable for my web project as autoplay function, can use with video, customize motion
              effects... You can see more in its demo page!</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592879287/thu-vien-carousel-silder/Owl_Carousel_2_ytdej8.png"
              alt="Owl Carousel 2">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article"
                href="https://owlcarousel2.github.io/OwlCarousel2/" target="_blank" title="Owl Carousel 2">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">D3.js</h2>
            </div>
            <p>D3.js is a javascript library built for data visualization and rendering via SVG, Canvas, HTML... It's
              open source, downloaded more than 1 million times a week through npm. The above data has can help us
              understand somewhat its popularity and popularity in the world. Also it also provides many built-in
              examples to help you learn as well as learn more how to apply D3.js to your website. However, it also has
              some limitations that are difficult to use for beginners initially or won't work on older browsers like
              IE8.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591327467/Thu-Vien-Chart-Javascript/thu-vien-javascript-D3_pizklb.png"
              alt="D3.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://d3js.org/" target="_blank"
                title="D3.js">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">DarkModeJS</h2>
            </div>
            <p>DarkModeJS library helps us to automatically make UI changes over time certain mode and can switch to
              another mode at the request of the user. You can create your own css files contrast yourself and set them
              through DarkModeJS.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590898828/thu-vien-js-phan-1/thu-vien-DarkModeJS_sms2zo.png"
              alt="DarkModeJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://nickdeny.github.io/darkmode-js/"
                target="_blank" title="DarkModeJS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Chart.js</h2>
            </div>
            <p>The Chart.js library helps you create beautiful charts for your website. It has a lot of other charts
              each other and allows us to flexibly handle the data passed to the chart when using the library. Outside
              It is also regularly updated with new versions and is responsive on many device screens different.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590915678/thu-vien-js-phan-1/thu-vien-Chartjs_xlnatu.png"
              alt="Chart.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://www.chartjs.org/"
                target="_blank" title="Chart.js">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">SweetAlert</h2>
            </div>
            <p>SweetAlert is an open source library that helps you to quickly build website notifications. quickly with
              high aesthetics and many beautiful motion effects. To use it for our website It's also very simple, you
              just need to call sweetalert.min.js file via CDN and define basic properties for message such as
              title(title), text(content), icon. Also you can add attributes and functions Other functionality like
              button, rendering via Ajax, using promise for modal...</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592454336/thu-vien-modal/SweetAlert_fi7lbt.png"
              alt="SweetAlert">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://sweetalert.js.org/"
                target="_blank" title="SweetAlert">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Highlightjs</h2>
            </div>
            <p>Highlightjs is an open source library built with Javascript that helps you highlight code in in the
              website and can run in both the browser as well as on the server. Some strengths of the library This is
              independent of any framework, has the ability to automatically detect the language you embed website,
              supports more than 189 popular programming languages, provides 94 more styles for the code snippets in
              webpage . What I like about this library is that you can reduce the size of Highlightjs through remove
              programming languages that we do not use in the download process. For server side then you can use yarn or
              npm to install it.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593761256/thu-vien-javascript-Syntax-highlighting/highlightjs_ojukmt.png"
              alt="Highlightjs">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://highlightjs.org//"
                target="_blank" title="Highlightjs">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">VideoJS</h2>
            </div>
            <p>VideoJS is a video player built from the HTML5 Video platform that supports a wide range of formats as
              Youtube, Vimeo, streaming... It was developed in mid-2010, hundreds of programmers Contributors to the
              project and more than 450,000 websites are using this library. Some strengths of VideoJS is designed with
              high aesthetics, has many themes to choose from suitable for media players, has Can run on both computers
              and phones, providing more than 100 plugins to help you calculate as well as add new features easily...
            </p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593435532/thu-vien-html5-video/VideoJS_deoygc.png"
              alt="VideoJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://videojs.com/" target="_blank"
                title="VideoJS">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Momentjs</h2>
            </div>
            <p>Momentjs makes it easy to handle date and time with Javascript easily.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Momentjs%20%281%29.png"
              alt="Momentjs">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://momentjs.com/" target="_blank"
                title="Momentjs">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">PixiJS</h2>
            </div>
            <p>Create beautiful digital content with the fastest, most flexible 2D WebGL renderer</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/PixiJS%20%281%29.png"
              alt="PixiJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://www.pixijs.com/" target="_blank"
                title="PixiJS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Webpack</h2>
            </div>
            <p>Webpack is a static module packaging tool for modern Javascript applications.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Webpack%20%281%29.png"
              alt="Webpack">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://webpack.js.org/" target="_blank"
                title="Webpack">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Fullpagejs</h2>
            </div>
            <p>Fullpagejs helps you create fullscreen scrolling for websites.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Fullpagejs%20%281%29.png"
              alt="Fullpagejs">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://alvarotrigo.com/fullPage/"
                target="_blank" title="Fullpagejs">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">HowlerJS</h2>
            </div>
            <p>HowlerJS is an open source library built in Javascript with a size of only about 7KB to help you Easily
              create and process audio for web pages. With the combination of API and HTML5 Audio, it can run on many
              different platforms and web browsers including IE9 and Cordova. Some strong points of HowlerJS is easily
              extensible through modular architecture, supporting most file types today's popular audio such as MP3,
              MPEG, OPUS, OGG, OGA, WAV, AAC, CAF, M4A..., automatic caching helps increase performance of the website
              as well as the bandwidth of the server... In addition, it also provides you with a number of attributes
              feature to be able to fine-tune the media player to fit the site such as determining the initial volume,
              yes autoplay or not, dynamic repeat song at end...</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593575367/thu-vien-javascript-audio/HowlerJS_rp8iwi.png"
              alt="HowlerJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://howlerjs.com/" target="_blank"
                title="HowlerJS">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Masonry</h2>
            </div>
            <p>It is a library that makes it easy to create complex grid layouts for your website.(Especially for image)
            </p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Masonry%20%281%29.png"
              alt="Masonry">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://masonry.desandro.com/"
                target="_blank" title="Masonry">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">screenfull</h2>
            </div>
            <p>Screenfull helps to turn elements or web pages into full screen mode.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/screenfull%20%281%29.png"
              alt="screenfull">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://sindresorhus.com/screenfull.js/"
                target="_blank" title="screenfull">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Particles</h2>
            </div>
            <p>Particlesjs is a free and open source library that allows you to create and refine beautiful backgrounds
              for website.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Particles%20%281%29.png"
              alt="Particles">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article"
                href="https://vincentgarreau.com/particles.js/" target="_blank" title="Particles">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Leaflet</h2>
            </div>
            <p>Leaflet is an open source Javascript library for interacting with maps on mobile devices.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Leaflet%20%281%29.png"
              alt="Leaflet">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://leafletjs.com/" target="_blank"
                title="Leaflet">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">SortableJS</h2>
            </div>
            <p>SortableJS is a javascript library that adds drag and drop functionality to HTML5.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/SortableJS.png"
              alt="SortableJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://sortablejs.github.io/Sortable/"
                target="_blank" title="SortableJS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">clipboard.js</h2>
            </div>
            <p>Clipboard makes it possible to quickly copy the content of the web page to the clipboard quickly.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/clipboardjs%20%281%29.png"
              alt="clipboard.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://clipboardjs.com/"
                target="_blank" title="clipboard.js">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Underscore.js</h2>
            </div>
            <p>Underscore js is a javascript library that provides you with useful functions to solve common problems.
              during programming.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Underscore%20%281%29.png"
              alt="Underscore.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="http://underscorejs.org/"
                target="_blank" title="Underscore.js">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Cleave.js</h2>
            </div>
            <p>Cleave makes it easy to reformat the <code>input</code> element as the user is typing information.</p>
            <img class="img-fluid shadow rounded lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/javascript-library-for-developer/Cleave.png"
              alt="Cleave.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://nosir.github.io/cleave.js/"
                target="_blank" title="Cleave.js">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Share</h2>
            </div>
            <p>The Sharect library makes it possible for users to select what text they want in a web page and share it
              right away. immediately to Facebook or Twitter like Medium. Its size is also very light, only about 8Kb.
            </p> <img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590900099/thu-vien-js-phan-1/thu-vien-Sharectjs_zoszfx.png"
              alt="Share">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://estevanmaito.github.io/sharect/"
                target="_blank" title="Share">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Chardin.js</h2>
            </div>
            <p>The Chardin.js library helps us to display the instructions for the components in the web page. It helps
              explain more about component functions to make it easier for users to understand and use.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590899637/thu-vien-js-phan-1/thu-vien-Chardinjs_prz6ej.png"
              alt="Chardin">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://heelhook.github.io/chardin.js/"
                target="_blank" title="Chardin">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Flip</h2>
            </div>
            <p>Flip is a plugin that allows you to quickly and easily create counters with flip effects. easy for the
              website. If you need to create event timers, promotions forever, fundraising campaign, I think this is the
              best library for you.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604462479/thu_vien_web_phan_3/flip_2_ub452n.png"
              alt="Flip">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://pqina.nl/flip/" target="_blank"
                title="Flip">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Image Compare Viewer</h2>
            </div>
            <p>Image Compare Viewer is an open source library built with Javascript that allows you to create component
              compares two images directly on the web page. In my opinion it is often used to compare images before and
              after editing to help users have a visual look and distinguish clearly clearer.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604493082/thu_vien_web_phan_3/Image_Compare_Viewer_2_gevi03.png"
              alt="Image Compare Viewer">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article"
                href="https://image-compare-viewer.netlify.app/" target="_blank" title="Image Compare Viewer">Link</a>
            </p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Notyf</h2>
            </div>
            <p>Notyf is a Javascript library that helps you create toast notifications for web pages with the size of
              only about 3Kb. It is responsively displayed on many different device screens and easy to use with today's
              popular JS frameworks like React, Angular, Aurelia, Vue, and Svelte.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604493807/thu_vien_web_phan_3/Notyf_2_a8hbp6.png"
              alt="Notyf">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://carlosroso.com/notyf/"
                target="_blank" title="Notyf">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Dinero.js</h2>
            </div>
            <p>Dinero.js is a javascript library that provides many features to help you work and solve problems.
              Currency-related topics are on the website.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604494007/thu_vien_web_phan_3/Dinerojs_rh4egn.png"
              alt="Dinero.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://dinerojs.com/" target="_blank"
                title="Dinero.js">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">simpleParallax.js</h2>
            </div>
            <p>simpleParallax.js is an open source javascript library with compact size, it will help you to Create a
              simple and easy parallax effect for your website's images.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604494680/thu_vien_web_phan_3/simpleParallaxjs_1_fzglj9.png"
              alt="simpleParallax.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://simpleparallax.com/"
                target="_blank" title="simpleParallax.js">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Duet Date Picker</h2>
            </div>
            <p>Duet Date Picker is an open source code developed by Duet Design System's. It allows you to build easily
              build a date picker component for your website without any extra usage any additional libraries. Some of
              the features that I feel like in this library are dark and light themes, yes You can set the time interval
              that the user is allowed to choose, set the date by region, etc.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604287252/thu_vien_cong_cu_phat_trien_web_phan_2/Duet_Date_Picker_vskrvx.png"
              alt="Duet Date Picker">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://duetds.github.io/date-picker/"
                target="_blank" title="Duet Date Picker">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Print.js</h2>
            </div>
            <p>Print.js is a compact Javascript library that allows you to print files directly on the web page without
              any problems no need to redirect or use embeds. It supports printing in many formats such as PDF, HTML (eg
              form...), images, JSON... In addition, it also runs on most popular browsers variables such as Google
              Chrome, Firefox, Safari, Edge and Opera.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604289801/thu_vien_cong_cu_phat_trien_web_phan_2/Printjs_qjyzbt.png"
              alt="Print.js">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://printjs.crabbly.com/"
                target="_blank" title="Print.js">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Math JS</h2>
            </div>
            <p>Math JS is an open source math library with over 10.5k stars rated on Github for the language Javascript
              and NodeJS (running on the server side). It gives you flexibility in calculating and dealing with many
              types different data such as numbers, big numbers, complex numbers, fractions, units and matrix.</p><img
              class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604461723/thu_vien_web_phan_3/Math_JS_2_ewd6ga.png"
              alt="Math JS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://mathjs.org/" target="_blank"
                title="Math JS">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">PROGRESS BAR JS</h2>
            </div>
            <p>PROGRESS BAR.JS is an open source library built with Javascript that makes it easy to create bars
              progress with different types of shapes and responsive on many popular device screens these days now on.
              You can also set up easily via npm, bower or download to use. In addition, it also has a full page of
              instructions on the features we can use in this library and pages demo with pre-written code that makes it
              easier for you to apply on your website.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592359480/thu-vien-progress-bar/PROGRESS_BARJS_x6hrab.png"
              alt="PROGRESS BAR JS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article"
                href="https://kimmobrunfeldt.github.io/progressbar.js/" target="_blank"
                title="PROGRESS BAR JS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">Quill</h2>
            </div>
            <p>Quill is an open source editor so feel free to use it for all types of commercial websites or
              non-commercial. It is built with many functions such as adding links, images, videos or more The code
              snippets into the content... What I like about Quill is how easy it is to set up and display on all modern
              and responsive web browsers on multiple device screens, with detailed tutorials on common problems when
              using it.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591712371/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Quill_o64fwu.png"
              alt="Quill">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://quilljs.com/" target="_blank"
                title="Quill">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">VALIDATE JS</h2>
            </div>
            <p>VALIDATE.JS is an open source library that gives you a way to inspect Javascript objects in the website.
              Its main goal is to set up validations in JSON form and shareable via between the browser and the server.
              It provides us with a lot of validation methods such as validation perform date, email, format, type
              checking of objects... VALIDATE.JS can run on both environments field is browser and server(Nodejs). You
              can see more examples and usage in the demo page okay!</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1594261835/thu-vien-form-validation-javascript/VALIDATEJS_zhf9ts.png"
              alt="VALIDATE JS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://validatejs.org/" target="_blank"
                title="VALIDATE JS">Link</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class="ml-4 card-title-article">MochaJS</h2>
            </div>
            <p>MochaJS is a framework that is widely used in web programming and supports both back-end(Nodejs) and
              front-end. It helps you to perform asynchronous testing simply and easily. In addition, it also has a
              large support community of programmers, many detailed instructions and examples companies as well as large
              websites trust to use.</p><img class="img-fluid shadow rounded lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593141938/Javascript-unit-test/mochajs_lw6qgk.png"
              alt="MochaJS">
            <p class="mt-4 pt-2 pb-4"><a class="button-blog-post-article" href="https://mochajs.org/" target="_blank"
                title="MochaJS">Link</a></p>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <h2 class="mt-4"><b><i class="fa fa-tasks" aria-hidden="true"></i> Summary:</b></h2>
            <p>Through this, I hope the article will provide you with useful Javascript libraries for developing
              development, web design and if you have any questions, just send an email and I will respond as soon as
              possible. Hope to see you again Please continue to support the site so that I can write more good
              articles. Have a nice day!</p>
          </div>
        </article>



      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>