<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><b><i> Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu các công cụ giúp chọn domain(tên miền)
                  phù hợp cho website nhé! </i></b></p>
          </div>
          <hr />

          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Tên Miền (Domain Name) Là Gì?</h2>
          </div>
          <p>
            <b>Domain Name</b> có thể hiểu đơn giản là tên đại diện cho trang web của bạn. Bạn có thể tưởng tưởng là nếu
            trang web là ngôi nhà thì
            tên miền chính là địa chỉ của ngôi nhà đó.<br />
            Còn về phương diện kỹ thuật, mỗi máy tính hoạt động trên Internet thì sẽ được cung cấp một địa chỉ IP cụ thể
            ví dụ như là 123.45.678.9.
            Và khách hàng sẽ phải nhớ mã số IP này mỗi khi muốn truy cập vào trang web của bạn. Nhưng các con số này
            thực sự rất khó nhớ và dễ dàng bị nhập sai
            do đó họ đã tạo ra <strong>domain name</strong> với nhiệm vụ chính là làm tên đại diện cho dãy số IP đó. Và
            để giúp minh họa rõ hơn thì bạn hãy xem hình ảnh sau nhé!
          </p>
          <img class="img-fluid shadow lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/vi_du_minh_hoa_domain_name.png"
            alt="Ví Dụ Về Tên Miền">
          <p class="mt-4">
            Thông thường thì chúng ta sẽ có nhiều loại tên miền với đuôi khác nhau như là <strong>.com</strong>(được sử
            dụng phổ biến nhất),
            <strong>.org</strong>, <strong>.net</strong>, <strong>.edu</strong>, <strong>.info</strong>... Và nó sẽ được
            chia thành những nhóm chính sau đây:
            <ul>
              <li>
                <strong>Top Level Domains(TLD)</strong>: Đây là loại tên miền cao cấp nhất của hệ thống Internet với các
                đuôi phổ biến là .com, .org, .edu, và .net.
              </li>
              <li>
                <strong>Country Code Top Level Domain(ccTLD)</strong>: Đây là loại tên miền cao cấp nhất dành cho quốc
                gia trên thế giới và thường chỉ sử dụng hai chữ cái cho phần mở rộng
                domain name như là Việt Nam(.vi), Nước Anh(.uk), Nước Mỹ(.us)...
              </li>
              <li>
                <strong> Sponsored Top Level Domain</strong>: Đây là loại tên miền cao cấp nhất dành cho mục đích sử
                dụng cụ thể như là
                .gov(chính phủ), .edu(giáo dục), .org(Tổ chức và chương trình phi lợi nhuận)...
              </li>
            </ul>
          </p>
          <p>
            Nếu bạn muốn tham khảo thêm về domain thì có thể xem <a
              href="https://www.wpbeginner.com/beginners-guide/beginners-guide-what-is-a-domain-name-and-how-do-domains-work/"
              target="_blank" rel="noopener noreferrer" title="domain">ở đây nhé!</a>.
          </p>

          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Cách Chọn Domain Name Cho Website?</h2>
          </div>
          <p>
            Trong phần này mình sẽ giới thiệu một số yếu tố giúp bạn có thể dễ dàng lựa chọn tên miền:
            <ul>
              <li>
                <strong>Lựa chọn đúng đuôi dành cho website:</strong> Theo chỉ số thống kế thì 43% sử dụng đuôi
                <b>.com</b>, điều này cho thấy
                việc sử dụng <b>.com</b> cho tên miền của bạn vẫn là tốt nhất. Tuy nhiên nếu <strong>không thể</strong>
                chọn tên miền với <strong>.com</strong>(do người khác đã mua)
                thì bạn có thể cân nhắc sử dụng các đuôi phổ biến khác như <strong>.net</strong>,
                <strong>.org</strong>...
              </li>
              <li>
                <strong>Độ dài:</strong> Tên miền có độ dài càng ngắn các tốt vì nó sẽ giúp người dùng có thể dễ dàng
                nhớ và nhập hơn (khoảng từ 6 -> 14 ký tự là hợp lý).
              </li>
              <li>
                <strong>Từ khóa:</strong> Bạn nên lựa chọn tên miền có thể bao quát được lĩnh vực, dịch vụ, chủ đề mà
                trang web đang hướng tới.
                Việc làm này sẽ giúp Google có thể hiểu được website hơn từ đó tăng thứ hạng SEO trên lĩnh vực mà bạn
                đang muốn xây dựng.
              </li>
              <li>
                <strong>Từ khóa:</strong> Bạn nên lựa chọn tên miền có thể bao quát được lĩnh vực, dịch vụ, chủ đề mà
                trang web đang hướng tới.
                Việc làm này sẽ giúp Google có thể hiểu được website hơn từ đó tăng thứ hạng SEO trên lĩnh vực mà bạn
                đang muốn xây dựng.
              </li>
            </ul>
          </p>
          <div class="text-center"> <img class="w-50 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/C%C3%A1ch%20ch%E1%BB%8Dn%20domain.jpg"
              alt="Cách Chọn Domain Name">
          </div>
          <p>
            Một số lưu ý <strong>nên tránh</strong> khi chọn tên miền:
            <ul>
              <li>Không sử dụng số hay các ký tự đặc biệt.</li>
              <li>Không viết sai chính tả và sử dụng các từ dễ gây khó hiểu trong tên miền</li>
              <li>Không nên sử dụng các tên hay thương hiệu đã được sử dụng.</li>

            </ul>
          </p>
          <p>
            Nếu bạn muốn tham khảo thêm về việc chọn domain thì có thể xem <a
              href="https://domains.google/learning-center/how-to-come-up-with-a-good-domain-name/" target="_blank"
              rel="noopener noreferrer" title="Cách chọn domain">ở đây nhé!</a>.
          </p>


          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Công Cụ Gợi Ý Giúp Bạn Chọn Domain Name Tốt Hơn</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Nameboy</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Nameboy.png" alt="Nameboy">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Nameboy" href="https://www.nameboy.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Namemesh</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Namemesh.png"
            alt="Namemesh">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Namemesh" href="https://www.namemesh.com/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Panabee</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Panabee.png" alt="Panabee">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Panabee" href="https://www.panabee.com/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Domain Wheel</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Domain%20Wheel.png"
            alt="Domain Wheel">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Domain Wheel" href="https://domainwheel.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Name Station</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Name%20Station.png"
            alt="Name Station">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Name Station" href="https://namestation.com/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Lean Domain Search</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Lean%20Domain%20Search.png"
            alt="Lean Domain Search">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Lean Domain Search"
              href="https://leandomainsearch.com/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Domain Typer</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Domain%20Typer.png"
            alt="Domain Typer">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Domain Typer" href="https://domaintyper.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Bust A Name</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Bust%20A%20Name.png"
            alt="Bust A Name">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Bust A Name"
              href="http://www.bustaname.com/word_maker" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Business name generator</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Business%20name%20generator.png"
            alt="Business name generator">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Business name generator"
              href="https://www.shopify.com/tools/business-name-generator" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Instant Domain Search</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Instant%20Domain%20Search.png"
            alt="Instant Domain Search">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Instant Domain Search"
              href="https://instantdomainsearch.com/" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Domain Name Soup</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Domain%20Name%20Soup.png"
            alt="Domain Name Soup">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Domain Name Soup"
              href="https://www.domainnamesoup.com/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Impossibility</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Impossibility.png"
            alt="Impossibility">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Impossibility"
              href="http://impossibility.org/" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">WebHostingGeeks Name Idea </h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/WebHostingGeeks%20Name%20Idea.png"
            alt="WebHostingGeeks Name Idea">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="WebHostingGeeks Name Idea"
              href="https://webhostinggeeks.com/nameideas/" target="_blank">Nguồn</a></p>




          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Những Nơi Tốt Nhất Để Bạn Đăng Ký Tên Miền</h2>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Google Domain</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Google%20Domain.png"
            alt="Google Domain">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Google Domain" href="https://domains.google/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Namecheap</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Namecheap.png"
            alt="Namecheap">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Namecheap" href="https://www.namecheap.com/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">GoDaddy</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/GoDaddy.png" alt="GoDaddy">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="GoDaddy" href="https://vn.godaddy.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Domain.com</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Domain.com.png"
            alt="Domain.com">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Domain.com" href="https://www.domain.com/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hostgator</h3>
          </div>

          <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/ten_mien_tool/Hostgator.png"
            alt="Hostgator">
          <p class="pt-2 pb-4"> <a class="button-blog-post-article" title="Hostgator" href="https://www.hostgator.com/domains"
              target="_blank">Nguồn</a></p>

















          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những công cụ chọn domain hữu
            ích dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có
            thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một
            ngày vui vẻ!</p>
      </div>
      </article>
















    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>