<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><b><i>Ngày hôm nay chúng ta sẽ đi vào tìm hiểu cách sử dụng position trong CSS để căn chỉnh các phần tử
                  trong website
                  được dễ dàng và tiện lợi hơn nhé!
                </i></b></p>
          </div>
          <hr />
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Lazy Loading Là Gì?</h2>
          </div>
          <p>
            Thông thường khi chúng ta truy cập vào một trang web
            thì nó sẽ <strong>tải tất cả</strong> các thành phần trên trang web rồi sau đó mới hiển thị nội dung ra
            ngoài trình duyệt.
            Việc load trang như vậy sẽ làm ảnh hưởng rất nhiều tới tốc độ tải trang cho website.<br />
            <img class="img-fluid lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/trang-web-tai-binh-thuong.png"
              alt="Trang Web Được Tải Bình Thường">
            Do đó <strong>Lazy Loading</strong> ra đời để giúp bạn có thể cải thiện và tối ưu hiệu suất cho các thành
            phần
            ảnh hưởng đến quá trình tải trang như là video, hình ảnh... bằng cách chỉ <strong>tải trước các nội dung
              được yêu cầu</strong> và
            <strong>sau đó sẽ tải các thành phần khác khi người dùng thật sự cần tới.</strong> Và để hiểu rõ hơn bạn xem
            hình ảnh sau nhé!
          </p>
          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/trang-web-su-dung-lazy-load.png"
            alt="Trang Web Được Sử dụng lazy loading">

          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Lợi Ích Của Việc Sử Dụng Lazy Loading?</h2>
          </div>
          <p>
            Có hai lợi ích chính khi chúng ta ssử dụng lazy loading là:
            <ul>
              <li><strong>Cải thiện hiệu suất</strong>: Bạn sẽ giảm được số lượng thành phần cần phải tải trong trang
                web. Từ đó thời gian mà trình duyệt
                xử lý và phân tích sẽ được cải thiện hơn. Do đó nội dung website đến với người dùng sẽ nhanh hơn.
              </li>
              <li>
                <strong>Giảm Chi phí</strong>: Có một số hosting lưu trữ hình ảnh thì sẽ tính chi phí dựa trên số byte
                mà bạn sử dụng.
                Do đó kỹ thuật này sẽ giúp bạn tránh được tình trạng tải các thành phần trên website mà người dùng không
                bao giờ dùng tới.
              </li>
            </ul>
          </p>
          <p>
            Và để giúp bạn dễ hình dung thì mình sẽ lấy một ví dụ trong thức tế nhé!
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/video-minh-hoa-lazy-load.mp4"
              allowfullscreen></iframe>
          </div>


          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Dự Án Lazy Loading Cho Website</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Lazy Loading cho Hình Ảnh</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="derekmorash"
            data-slug-hash="NjBvdX" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy Load Images">
            <span>See the Pen <a href="https://codepen.io/derekmorash/pen/NjBvdX">
                Lazy Load Images</a> by Derek Morash (<a href="https://codepen.io/derekmorash">@derekmorash</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Lazy Loading cho Hình Ảnh"
              href="https://codepen.io/derekmorash/pen/NjBvdX" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Lazy Loading Cho Hình Ảnh Theo Kiểu Medium</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="logico-ar"
            data-slug-hash="povXPPa" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Medium image lazy load effect">
            <span>See the Pen <a href="https://codepen.io/logico-ar/pen/povXPPa">
                Medium image lazy load effect</a> by Lógico (<a href="https://codepen.io/logico-ar">@logico-ar</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article"
              title="Hiệu Ứng Lazy Loading Cho Hình Ảnh Theo Kiểu Medium"
              href="https://codepen.io/logico-ar/pen/povXPPa" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Ví Dụ Về Lazy Load</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="yednap"
            data-slug-hash="NxBLMK" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy Load Example">
            <span>See the Pen <a href="https://codepen.io/yednap/pen/NxBLMK">
                Lazy Load Example</a> by Sanjeev Pandey (<a href="https://codepen.io/yednap">@yednap</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Ví Dụ Về Lazy Load"
              href="https://codepen.io/yednap/pen/NxBLMK" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Lazy Load Với SVG</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="ainalem"
            data-slug-hash="aLKxjm" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy loading with inline SVG">
            <span>See the Pen <a href="https://codepen.io/ainalem/pen/aLKxjm">
                Lazy loading with inline SVG</a> by Mikael Ainalem (<a href="https://codepen.io/ainalem">@ainalem</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>


          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Tạo Lazy Load Với SVG"
              href="https://codepen.io/ainalem/pen/aLKxjm" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Lazy Load Với Hiệu Ứng Scrollout</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="notoriousb1t"
            data-slug-hash="ERrPwG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy-Load images with ScrollOut">
            <span>See the Pen <a href="https://codepen.io/notoriousb1t/pen/ERrPwG">
                Lazy-Load images with ScrollOut</a> by Christopher Wallis (<a
                href="https://codepen.io/notoriousb1t">@notoriousb1t</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Tạo Lazy Load Với Hiệu Ứng Scrollout"
              href="https://codepen.io/notoriousb1t/pen/ERrPwG" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Lazy Load Với Javascript Thuần</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="imagekit_io"
            data-slug-hash="MBNwKB" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy loading images using event handlers - example code">
            <span>See the Pen <a href="https://codepen.io/imagekit_io/pen/MBNwKB">
                Lazy loading images using event handlers - example code</a> by ImageKit.io (<a
                href="https://codepen.io/imagekit_io">@imagekit_io</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Tạo Lazy Load Với Javascript Thuần"
              href="https://codepen.io/imagekit_io/pen/MBNwKB" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tạo Lazy Loading Hình Ảnh Với Chú Thích</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="alex_paul"
            data-slug-hash="eKyZYw" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy Loading Fig+Figcaption &amp;amp; Flipping Card">
            <span>See the Pen <a href="https://codepen.io/alex_paul/pen/eKyZYw">
                Lazy Loading Fig+Figcaption &amp; Flipping Card</a> by Alex Paul (<a
                href="https://codepen.io/alex_paul">@alex_paul</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Tạo Lazy Loading Hình Ảnh Với Chú Thích"
              href="https://codepen.io/alex_paul/pen/eKyZYw" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Với Thư Viện Slick</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="jasondavis"
            data-slug-hash="clfik" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Slick Slide">
            <span>See the Pen <a href="https://codepen.io/jasondavis/pen/clfik">
                Slick Slide</a> by Jason Davis (<a href="https://codepen.io/jasondavis">@jasondavis</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Lazy Load Với Thư Viện Slick"
              href="https://codepen.io/jasondavis/pen/clfik" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Cho Danh Sách</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="kvzivn"
            data-slug-hash="MYKMVG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy loading list items">
            <span>See the Pen <a href="https://codepen.io/kvzivn/pen/MYKMVG">
                Lazy loading list items</a> by Kevin Ivan (<a href="https://codepen.io/kvzivn">@kvzivn</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Lazy Load Cho Danh Sách"
              href="https://codepen.io/kvzivn/pen/MYKMVG" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Cho Hình Ảnh Background Trong CSS</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="imagekit_io"
            data-slug-hash="RBXVrW" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy Loading background images in CSS">
            <span>See the Pen <a href="https://codepen.io/imagekit_io/pen/RBXVrW">
                Lazy Loading background images in CSS</a> by ImageKit.io (<a
                href="https://codepen.io/imagekit_io">@imagekit_io</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>


          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article"
              title="Lazy Load Cho Hình Ảnh Background Trong CSS" href="https://codepen.io/imagekit_io/pen/RBXVrW"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Cho Gallery</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="magnificode"
            data-slug-hash="oEbGWE" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Grid Fade and Intersection Observer Lazyload">
            <span>See the Pen <a href="https://codepen.io/magnificode/pen/oEbGWE">
                Grid Fade and Intersection Observer Lazyload</a> by magnificode (<a
                href="https://codepen.io/magnificode">@magnificode</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title=" Lazy Load Cho Gallery"
              href="https://codepen.io/magnificode/pen/oEbGWE" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Hình Ảnh Bằng Vuejs</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="erikterwan"
            data-slug-hash="bGNeRMr" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="ScrollTrigger Vue.js - lazy load images">
            <span>See the Pen <a href="https://codepen.io/erikterwan/pen/bGNeRMr">
                ScrollTrigger Vue.js - lazy load images</a> by Erik Terwan (<a
                href="https://codepen.io/erikterwan">@erikterwan</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>


          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Lazy Load Hình Ảnh Bằng Vuejs"
              href="https://codepen.io/erikterwan/pen/bGNeRMr" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Hình Ảnh Bằng Angularjs</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="yaoyi"
            data-slug-hash="qfpdC" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy Loading Image With AngularJS from Ben Nadel">
            <span>See the Pen <a href="https://codepen.io/yaoyi/pen/qfpdC">
                Lazy Loading Image With AngularJS from Ben Nadel</a> by yaoyi (<a
                href="https://codepen.io/yaoyi">@yaoyi</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title=" Lazy Load Hình Ảnh Bằng Angularjs"
              href="https://codepen.io/yaoyi/pen/qfpdC" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Hình Ảnh Bằng Reactjs</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="stothelios"
            data-slug-hash="gzoZLZ" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="React Preload Image">
            <span>See the Pen <a href="https://codepen.io/stothelios/pen/gzoZLZ">
                React Preload Image</a> by Stelios Constantinides (<a
                href="https://codepen.io/stothelios">@stothelios</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Lazy Load Hình Ảnh Bằng Reactjs"
              href="https://codepen.io/stothelios/pen/gzoZLZ" target="_blank">Nguồn</a></p>




          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Lazy Load Video Iframe</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="vincentorback"
            data-slug-hash="KaqbLK" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Lazy loading video iframe with placeholder">
            <span>See the Pen <a href="https://codepen.io/vincentorback/pen/KaqbLK">
                Lazy loading video iframe with placeholder</a> by Vincent Orback (<a
                href="https://codepen.io/vincentorback">@vincentorback</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Lazy Load Video Iframe"
              href="https://codepen.io/vincentorback/pen/KaqbLK" target="_blank">Nguồn</a></p>




          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Tạo Lazy Load Cho Masonry layout</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Kseso"
            data-slug-hash="prjavK" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Masonry layout Pure #CSS Grid + lazy-load v.2 by @kseso">
            <span>See the Pen <a href="https://codepen.io/Kseso/pen/prjavK">
                Masonry layout Pure #CSS Grid + lazy-load v.2 by @kseso</a> by Kseso (<a
                href="https://codepen.io/Kseso">@Kseso</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Tạo Lazy Load Cho Masonry layout"
              href="https://codepen.io/Kseso/pen/prjavK" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Tạo Lazy Load Bằng Jquery</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="NaSymbol"
            data-slug-hash="gPNRPW" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="jquery lazy loading images">
            <span>See the Pen <a href="https://codepen.io/NaSymbol/pen/gPNRPW">
                jquery lazy loading images</a> by andy (<a href="https://codepen.io/NaSymbol">@NaSymbol</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Tạo Lazy Load Bằng Jquery"
              href="https://codepen.io/NaSymbol/pen/gPNRPW" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Hiệu Ứng chuyển Động Cho Lazy Load</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="0xfa1l"
            data-slug-hash="zyOGGy" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Animated image placeholder">
            <span>See the Pen <a href="https://codepen.io/0xfa1l/pen/zyOGGy">
                Animated image placeholder</a> by Abhisek Dutta (<a href="https://codepen.io/0xfa1l">@0xfa1l</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title=" Hiệu Ứng chuyển Động Cho Lazy Load"
              href="https://codepen.io/0xfa1l/pen/zyOGGy" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Thư Viện Lazy Loading</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thư Viện LOZAD.JS</h3>
          </div>

          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/Th%C6%B0%20Vi%E1%BB%87n%20LOZADJS.png"
            alt="Thư Viện LOZAD.JS">
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Thư Viện LOZAD.JS"
              href="https://github.com/ApoorvSaxena/lozad.js" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thư Viện Lazysizes</h3>
          </div>

          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/Th%C6%B0%20Vi%E1%BB%87n%20Lazysizes.png"
            alt="Thư Viện Lazysizes">
          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Thư Viện Lazysizes"
              href="https://github.com/aFarkas/lazysizes" target="_blank">Nguồn</a></p>


              <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Thư Viện Layzr.js</h3>
              </div>
    
              <img class="img-fluid lazyload"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/Th%C6%B0%20Vi%E1%BB%87n%20Layzrjs.png"
                alt="Thư Viện Layzr.js">
              <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Thư Viện Layzr.js"
                  href="http://callmecavs.com/layzr.js/" target="_blank">Nguồn</a></p>




                  <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">Thư Viện Lazy Load Remastered</h3>
                  </div>
        
                  <img class="img-fluid lazyload"
                    data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/Th%C6%B0%20Vi%E1%BB%87n%20Lazy%20Load%20Remastered.png"
                    alt="Thư Viện Lazy Load Remastered">
                  <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Thư Viện Lazy Load Remastered"
                      href="https://appelsiini.net/projects/lazyload/" target="_blank">Nguồn</a></p>



                      <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size">Thư Viện Responsively Lazy</h3>
                      </div>
            
                      <img class="img-fluid lazyload"
                        data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/Responsively%20Lazy.png"
                        alt="Thư Viện Responsively Lazy">
                      <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Thư Viện Responsively Lazy"
                          href="https://ivopetkov.com/b/lazy-load-responsive-images/" target="_blank">Nguồn</a></p>

                          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
                            <h3 class="text-primary ml-4 title-article-size">Thư Viện Blazy</h3>
                          </div>
                
                          <img class="img-fluid lazyload"
                            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/thu-vien-lazy-load/Th%C6%B0%20Vi%E1%BB%87n%20Blazy.png"
                            alt="Thư Viện Blazy">
                          <p class="pt-2 pb-4 mt-4"> <a class="button-blog-post-article" title="Thư Viện Blazy"
                              href="https://dinbror.dk/blazy/" target="_blank">Nguồn</a></p>







          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kiến thức tạo lazy loading hữu ích dành
            cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
            mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui
            vẻ!</p>
      </div>
      </article>















    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>