<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Trình Duyệt Và Javascript</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Ngôn ngữ Javascript với mục đích ban đầu khi được tạo ra là dành cho trình duyệt. Theo thời gian thì nó
                ngày càng phát triển và trở thành một ngôn ngữ được sử dụng cho nhiều nền tảng khác nhau. Bây giờ chúng
                ta sẽ đi vào tìm hiểu
                sự hình thành của trình duyệt và cách javascript tương tác với nó nhé.</i>
            </p>
            <p>
              Ngày nay các nền tảng mà javascript có thể sử dụng rất đa dạng như là trình duyệt (browser), web-server...
              với mỗi nền tảng khác nhau sẽ cung cấp cho chúng ta các chức năng để làm việc với nó. Ví dụ trình duyệt
              web
              sẽ cho phép ta điều khiển trang web hay Nodejs sẽ cung cấp các tiện ích để làm việc bên phía server.
              Và dưới đây là sơ đồ khi Javascript được chạy trên trình duyệt web:
            </p>
            <div class="row">
              <div class="col-md-6 col-sm-12"> <img class=" lazyload" width="100"
                  data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590808105/Bom-Javascript/Javascript-Trong-Tr%C3%ACnh-Duy%E1%BB%87t_c8wwru.svg"
                  alt="Javascript Trong Trình Duyệt">
              </div>
            </div>
            <p class="mt-4">
              Bây giờ chúng ta cùng nhau đi vào tìm hiểu về khái niệm cũng như cách sử dụng <b>DOM</b> ở dưới đây
              đây nhé.
            </p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  DOM Là Gì?</h3>
              </div>
            </div>
            <p>
              <b>DOM</b> là một giao diện lập trình ứng dụng (API) và là chữ viết tắt của từ  <b>Document Object Model</b>.
              Nhiệm vụ chính của nó là giúp chúng ta thao tác với các tài liệu HTML và XHTML.<br/>
              Như bạn đã biết  <b>xương sống</b> (thành phần chính) của HTML được xây dựng bởi các <b>thẻ (tag)</b>. Dựa vào <b>DOM</b> thì
              các thẻ HTML được chuyển thành các <b>đối tượng (object)</b> và chúng ta có thể truy cập chúng thông qua Javascript.
              Từ đó  ta có thể  thêm, sửa , xóa các thành phần trong trang HTML.
            </p>





























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ giúp bạn hiểu được <b>khái niệm cũng như cách sử dụng promise</b>
              trong ngôn ngữ
              Javascript và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>