<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i> この記事では、無料のイラストを提供するWebサイトを紹介します。これにより、Webサイトのデザインと美化において、さまざまなオプションから選択できます。 さあ、一緒に調べに行きましょう！</i></p>
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"> イラストを使用する必要がある理由</h2>
            <ul>
              <li>調査によると、イラストは画像や動画よりも多くのユーザーを引き付けます 。 </li>
                <li>簡単な視覚化方法でデータを分析し、簡単に通信できます
                  ユーザーへのより多くのメッセージ。 </li>
                <li>イラストを使用すると、目的に合わせてコンテンツとブランディングを簡単にカスタマイズできます。 </li>
                <li>ウェブサイトにモダンでユニークな雰囲気を与えるのに役立ちます。 </li>
                <li>コミュニケーションは、体系的かつ一貫した方法でWebの一部を接続するのに役立ちます。
                   </li>
            </ul>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <p> イラストを使用したウェブサイトの例を次に示します。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593913710/website-Illustrator-mien-phi/vi-du-ve-Illustrator_buunaa.png"
              alt="Ví dụ về Illustrator">
      
            <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size"> Illustratorの無料ダウンロードサイト。</h2>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Illustration Gallery</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593914013/website-Illustrator-mien-phi/Illustration_Gallery_iovcni.png"
              alt="Illustration Gallery"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer"
                href="https://www.manypixels.co/gallery/?color=68a3fd&page=1" target="_blank"
                title="Illustration Gallery">  Illustration Gallery </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> unDraw</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593914169/website-Illustrator-mien-phi/unDraw_orvonu.png"
              alt="unDraw"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://undraw.co/illustrations" target="_blank"
                title="unDraw">  unDraw </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Open Doodles</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593914455/website-Illustrator-mien-phi/Open_Doodles_mlyn5n.png"
              alt="Open Doodles"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.opendoodles.com/" target="_blank"
                title="Open Doodles">  Open Doodles </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Lukaszadam</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593914874/website-Illustrator-mien-phi/Lukaszadam_gpajzi.png"
              alt="Lukaszadam"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://lukaszadam.com/illustrations" target="_blank"
                title="Lukaszadam">  Lukaszadam </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> ISOMETRIC</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593915064/website-Illustrator-mien-phi/ISOMETRIC_huzixa.png"
              alt="ISOMETRIC"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://isometric.online/" target="_blank"
                title="ISOMETRIC">  ISOMETRIC </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> DrawKit</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593915211/website-Illustrator-mien-phi/DrawKit_uto7kf.png"
              alt="DrawKit"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.drawkit.io/" target="_blank"
                title="DrawKit">  DrawKit </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> absurd illustrations</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593915776/website-Illustrator-mien-phi/absurd_illustrations_r0ratp.png"
              alt="absurd illustrations"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://absurd.design/" target="_blank"
                title="absurd illustrations">  absurd illustrations </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> humaaans</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593915842/website-Illustrator-mien-phi/humaaans_muvx1u.png"
              alt="humaaans"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.humaaans.com/" target="_blank"
                title="humaaans">  humaaans </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> freepik</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593915935/website-Illustrator-mien-phi/freepik_seegue.png"
              alt="freepik"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.freepik.com/" target="_blank"
                title="freepik">  freepik </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Wannapik</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593916189/website-Illustrator-mien-phi/Wannapik_drumtu.png"
              alt="Wannapik"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.wannapik.com/" target="_blank"
                title="Wannapik">  Wannapik </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Open Peeps</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593916313/website-Illustrator-mien-phi/Open_Peeps_u0ubxk.png"
              alt="Open Peeps"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.openpeeps.com/" target="_blank"
                title="Open Peeps">  Open Peeps </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> illustrations</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593916507/website-Illustrator-mien-phi/illustrations_ui4w5v.png"
              alt="illustrations"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://illlustrations.co/" target="_blank"
                title="illustrations ">  illustrations </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> OUCH</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593916701/website-Illustrator-mien-phi/OUCH_ievhdx.png"
              alt="OUCH"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://icons8.com/illustrations" target="_blank"
                title="OUCH">  OUCH </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> DELESIGN</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593916981/website-Illustrator-mien-phi/DELESIGN_djwcv9.png"
              alt="DELESIGN"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://delesign.com/free-designs/graphics/"
                target="_blank" title="DELESIGN">  DELESIGN </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> IRA Design</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593917080/website-Illustrator-mien-phi/IRA_Design_vqjhpe.png"
              alt="IRA Design"><button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://iradesign.io/" target="_blank"
                title="IRA Design">  IRA Design </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> mixkit</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593917244/website-Illustrator-mien-phi/mixkit_cuvyl7.png"
              alt="mixkit"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://mixkit.co/free-stock-art/discover/"
                target="_blank" title="mixkit">  mixkit </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Karthik Srinivas</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593917407/website-Illustrator-mien-phi/Karthik_Srinivas_szrtxb.png"
              alt="Karthik Srinivas"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.karthiksrinivas.in/illustrations"
                target="_blank" title="Karthik Srinivas">  Karthik Srinivas </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Stories Freepik</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593917498/website-Illustrator-mien-phi/Stories_Freepik_idatbw.png"
              alt="Stories Freepik"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://stories.freepik.com/" target="_blank"
                title="Stories Freepik">  Stories Freepik </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> pixeltrue</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593917744/website-Illustrator-mien-phi/pixeltrue_smzajb.png"
              alt="pixeltrue"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.pixeltrue.com/free-illustrations"
                target="_blank" title="pixeltrue">  pixeltrue </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> usesmash</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593917862/website-Illustrator-mien-phi/usesmash_dhfxuo.png"
              alt="usesmash"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://usesmash.com/" target="_blank"
                title="usesmash">  usesmash </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> pngtree</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593918067/website-Illustrator-mien-phi/pngtree_xpbmy2.png"
              alt="pngtree"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://pngtree.com/illustration-design/work"
                target="_blank" title="pngtree">  pngtree </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Glaze</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593918755/website-Illustrator-mien-phi/Glaze_e4ozvj.png"
              alt="Glaze"> <button type="button " class="btn btn-outline-dark mt-4"> <a
                rel="external nofollow noopener noreferrer" href="https://www.glazestock.com/" target="_blank"
                title="Glaze">  Glaze </a> </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> 3Dbay</h3>
            </div>
            <p></p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/3dbay%20%281%29.png" alt="3Dbay">
            <button type="button " class="btn btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://clouddevs.com/3dbay/" target="_blank" title="3Dbay">  3Dbay </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <h2 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> 概要: </b></h2>
            <p>これがウェブデザインと開発に役立つ説明の場を提供することを願っています。 ご不明な点がございましたら、メールにてお問い合わせください。 お早めにご連絡いたします。
              私がより良い記事を書くことができるように、皆さんがこのページを引き続きサポートすることを願っています。</p>
          </div>
        </article>



      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>