<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu cách chọn font chữ phù hợp cho dự án web và
                      những loại Google Font được sử dụng phổ biến trong thiết kế và design web nhé!
                    </i></b>
                </p>
                <hr>
              </div>
            </div>
          </div>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Tại sao việc chọn font cho website lại quan trọng?
          </h2>
          <p>
            Thông thường khi thiết kế web thì chúng ta thường quan tâm đến vấn đề phải làm sao cho component UI/UX có
            tính thẩm mỹ cao trong trang web
            Tuy nhiên theo mình thấy thì còn có một yếu tố rất quan trọng ảnh hưởng đến toàn bộ thiết kế tổng thể của
            trang web đó là <b>Font chữ</b>.<br /> Nó sẽ giúp bạn tạo ấn tượng, truyền tải các thông điệp cảm xúc ngay
            trong lần đầu
            tiên khi khác hàng sử dụng web site. Ngoài ra việc chọn font còn giúp trang web tăng tính <b>legibility</b>
            (tính dễ đọc) và
            <b>readability</b> (khả năng đọc).

          </p>
          <p>
            Để nắm rõ hơn thì bạn hãy trang web <a href="https://www.childsown.com/" target="_blank"
              rel="noopener noreferrer">Childsown</a> sử dụng font chữ dành cho trẻ em dưới đây nhé:
          </p>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604843651/Google_font_cho_thiet_ke_web/vi_du_font_chu_mkiec7.png"
            alt="Ví Dụ Về Font Chữ Trong Thiết Kế Web">

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Những Cách Lựa Chọn Font Trong Thiết Kế Web
          </h2>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Thiết lập cỡ chữ trong trang web </h3>
          </div>
          <p>
            Kích thước font được dựa vào khoảng số chữ mà bạn có ở trong nội dung website. Nếu bạn không có nhiều chữ và
            sử dụng chủ yếu các chú thích hay bình luận thì bạn nên chọn cỡ chữ <b>22px</b>.<br />
            Nếu như bạn có nhiều chữ trong website thì có thể chọn font chữ chữ nhỏ hơn vào khoảng <b>18px</b> để tăng
            khả năng
            đọc cho người dùng

          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Nên chọn một hay nhiều font trong một dự án web?</h3>
          </div>
          <p>
            Việc sử dụng một font chữ trong trang web sẽ làm website của bạn trở nên đơn điệu, không tạo được điểm nhấn
            cho các nội dung mà chúng ta muốn hướng tới người dùng.
            Còn nếu chúng ta sử dụng quá nhiều font thì website sẽ trông rất là rối và không mang lại được sự tập trung,
            chú ý và tính dễ đọc dành cho người dùng.
            Theo mình thấy thì bạn nên sử dụng kết hợp <b>2 font hoặc 4 font</b> tùy vào mức độ chữ, nội dung của bạn ở
            trong website.

          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Chọn font chữ tùy thuộc vào từng nội dung trong website
            </h3>
          </div>

          <p>
            Thông thường khi người dùng đọc nội dung trên trang web thì đa số họ sẽ lướt qua để nắm các thông tin chính
            sau đó nếu có cảm giác thích thú thì khách hàng mới đọc chi tiết từng đoạn văn trong web của bạn.
            Do đó mình có một số lưu ý khi thiết lập font là :
            <ul>
              <li>Nên sử dụng cỡ chữ lớn dành cho các tiêu đề quan trọng.</li>
              <li>Các tiêu đề phụ thì nên sử dụng cỡ chữ nhỏ hơn và được làm đậm để tạo sự khác biệt cho nội dung của
                trang web</li>
              <li>Khoảng cách đoạn văn trong trang web không dược quá nhỏ vì nó sẽ gây ra cảm giác khó đọc dành cho
                người dùng.</li>
            </ul>
          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Sử dụng màu sắc kết hợp với font chữ
            </h3>
          </div>
          <p>
            Nhiều khi sử dụng quá nhiều màu sắc cho nội dung trang web sẽ gây tác động ngược vì nó sẽ ảnh hưởng đến mức
            độ quan trọng của các thông tin mà chúng ta muốn truyền tải tới người dùng.<br />
            Theo mình thấy thì chúng ta nên theo xu hướng thiết kế của Google là chú trọng vào sự tối giản. Chỉ thật sự
            làm nổi bật những thông tin cực kỳ quan trọng ở trong website như logo, tiêu đề và nút kêu gọi các hành
            động.
          </p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Tại Sao Nên Sử Dụng Google Font Cho Website của bạn?
          </h2>

          <p>
            Thật tuyệt vời khi Google Font ra đời, nó giúp chúng ta có thể dễ dàng sử dụng những font có tính thẩm mỹ
            cao cho trang web mà <b>không cần phải tốn phí sử dụng</b> (mã nguồn mở) và có thể áp dụng cho nhiều loại dự
            án web
            khác nhau từ cá nhân hay cho các website thương mại.</p>
          <p>
            Google font còn có thể sử dụng trên nhiều loại trình duyệt phổ biến hiện nay như là Google Chrome, Firefox,
            Opera, Safari, Opera và Edge.
          </p>
          <p>
            Ngoài ra còn một điểm mình cảm thấy cực thích ở Google Font đó là sự tiện lợi. Bạn có thể dễ dàng áp dụng
            font cho trang web của mình thông qua việc <b>sử dụng CDN</b> cũng như cải thiện tốc độ cho trang web.
          </p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Những Google Font Tốt Dành Cho Website
          </h2>
          <p>
            Trong phần này chúng ta sẽ đi vào tìm hiểu những Google Font được sử dụng phổ biến trong thiết kế và phát
            triển web nhé!
          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Open Sans
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604844783/Google_font_cho_thiet_ke_web/Open_Sans_2_wz7u87.png"
            alt="Font Open Sans">

          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title=" Font Open Sans"
              href="https://fonts.google.com/specimen/Open+Sans" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Montserrat
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604845079/Google_font_cho_thiet_ke_web/Montserrat_qocw7r.png"
            alt="Font Montserrat">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title=" Font Montserrat"
              href="https://fonts.google.com/specimen/Montserrat" rel="noopener noreferrer" target="_blank">Nguồn</a>
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Lato
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604845272/Google_font_cho_thiet_ke_web/Lato_o6pw16.png"
            alt="Font Lato">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Lato"
              href="https://fonts.google.com/specimen/Lato" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Abhaya Libre
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604845408/Google_font_cho_thiet_ke_web/Abhaya_Libre_cay9fc.png"
            alt="Font Abhaya Libre">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Abhaya Libre"
              href="https://fonts.google.com/specimen/Abhaya+Libre" rel="noopener noreferrer" target="_blank">Nguồn</a>
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Aleo
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604845659/Google_font_cho_thiet_ke_web/Aleo_ghd2rg.png"
            alt="Font Aleo">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Aleo"
              href="https://fonts.google.com/specimen/Aleo" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Barlow
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604845804/Google_font_cho_thiet_ke_web/Barlow_x7wp7f.png"
            alt="Font Barlow">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Barlow"
              href="https://fonts.google.com/specimen/Barlow" rel="noopener noreferrer" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Bitter
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604845924/Google_font_cho_thiet_ke_web/Bitter_hsf7pf.png"
            alt="Font Bitter">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Bitter"
              href="https://fonts.google.com/specimen/Bitter" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Poppins
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846026/Google_font_cho_thiet_ke_web/Poppins_svof9j.png"
            alt="Font Poppins">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Poppins"
              href="https://fonts.google.com/specimen/Poppins" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Ubuntu
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846208/Google_font_cho_thiet_ke_web/Ubuntu_u6yri2.png"
            alt="Font Ubuntu">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Ubuntu"
              href="https://fonts.google.com/specimen/Ubuntu" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Roboto
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846332/Google_font_cho_thiet_ke_web/Roboto_nrquz7.png"
            alt="Font Roboto">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Roboto"
              href="https://fonts.google.com/specimen/Roboto" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Alegreya
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846502/Google_font_cho_thiet_ke_web/Alegreya_nyt8lp.png"
            alt="Font Alegreya">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Alegreya"
              href="https://fonts.google.com/specimen/Alegreya" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Carme
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846737/Google_font_cho_thiet_ke_web/Carme_zyihuc.png"
            alt="Font Carme">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Carme"
              href="https://fonts.google.com/specimen/Carme" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Work Sans
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846882/Google_font_cho_thiet_ke_web/Work_Sans_azowok.png"
            alt="Font Work Sans">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Work Sans"
              href="https://fonts.google.com/specimen/Work+Sans" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Nunito
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604846987/Google_font_cho_thiet_ke_web/Nunito_mhbrfp.png"
            alt="Font Nunito">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Nunito"
              href="https://fonts.google.com/specimen/Nunito" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Assistant
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604847083/Google_font_cho_thiet_ke_web/Assistant_czfzhz.png"
            alt="Font Assistant">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Assistant"
              href="https://fonts.google.com/specimen/Assistant" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Vollkorn
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604847273/Google_font_cho_thiet_ke_web/Vollkorn_yvoypz.png"
            alt="Font Vollkorn">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Vollkorn"
              href="https://fonts.google.com/specimen/Vollkorn" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font BioRhyme
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604847681/Google_font_cho_thiet_ke_web/BioRhyme_a5thup.png"
            alt="Font BioRhyme">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font BioRhyme"
              href="https://fonts.google.com/specimen/BioRhyme" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Spectral
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604847774/Google_font_cho_thiet_ke_web/Spectral_awgkzb.png"
            alt="Font Spectral">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Spectral"
              href="https://fonts.google.com/specimen/Spectral" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Archivo
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604847883/Google_font_cho_thiet_ke_web/Archivo_ylzos7.png"
            alt="Font Archivo">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Archivo"
              href="https://fonts.google.com/specimen/Archivo" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Những Công Cụ Hữu Ích Dành Cho Việc Chọn Font
          </h2>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Font Pairs
            </h3>
          </div>
          <img class="img-fluid  lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604848584/Google_font_cho_thiet_ke_web/Font_Pairs_p2hz3q.png"
            alt="Font Pairs">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Font Pairs"
              href="https://fontpair.co/" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Fontjoy
                </h3>
              </div>
              <img class="img-fluid  lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604848705/Google_font_cho_thiet_ke_web/Fontjoy_tiug8a.png"
                alt="Fontjoy">
              <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Fontjoy"
                  href="https://fontjoy.com/" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">
                      Typespiration
                    </h3>
                  </div>
                  <img class="img-fluid  lazyload"
                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604848788/Google_font_cho_thiet_ke_web/Typespiration_fafcic.png"
                    alt="Typespiration">
                  <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Typespiration"
                      href="https://typespiration.com/design/" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


                      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size">
                          Font Combinations Canva
                        </h3>
                      </div>
                      <img class="img-fluid  lazyload"
                        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604848952/Google_font_cho_thiet_ke_web/Font_Combinations_Canva_ji49y2.png"
                        alt="  Font Combinations Canva">
                      <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="  Font Combinations Canva"
                          href="https://www.canva.com/font-combinations/" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

                          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                            <h3 class="text-primary ml-4 title-article-size">
                              Mixfont 
                            </h3>
                          </div>
                          <img class="img-fluid  lazyload"
                            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1604849043/Google_font_cho_thiet_ke_web/Mixfont_mopily.png"
                            alt="Mixfont">
                          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Mixfont"
                              href="https://www.mixfont.com/" rel="noopener noreferrer" target="_blank">Nguồn</a></p>



          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng
              kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thông tin, công cụ, trang web về font hữu ích

            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email
            mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có
            thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>