<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ đi vào tìm hiểu những nguồn lập trình (bài viết hướng dẫn, công cụ,
                      framework cho flexbox) giúp chúng ta có thể xây dựng Flexbox Layout
                      được đơn giản và dễ dàng hơn
                      trong thiết kế web nhé!
                    </i></b>
                </p>
              </div>
              <hr />
            </div>
          </div>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"> Flexbox Là Gì?</h2>
          <p>
            <b>Flexbox</b> là một dạng layout mới được ra mắt trong CSS3 với mục đích giúp bạn có thể linh hoạt hơn
            trong việc sắp xếp,
            bố trí, căn chỉnh các phần tử trong trang web. Điểm mạnh của nó là có thể dựa vào màn hình hiển thị mà điều
            chỉnh kích thước, vị trí của phần tử
            sao cho phù hợp nhất mà không cần phải sử dụng đến thuộc tính <code>float</code> hay <code>position</code>.
          </p>

          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
            Những Bài Viết Hay Về Flexbox
          </h2>
          <p>
            Trong phần này chúng ta sẽ đi vào tìm hiểu những bài viết hay về Flexbox Layout trong CSS được nhiều lập
            trình viên
            tin tưởng và học tập nhé!
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">A Complete Guide to Flexbox (CSS-Tricks)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603594939/flexbox_css_layout/A_Complete_Guide_to_Flexbox_CSS-Tricks_pwtmcu.png"
            alt="A Complete Guide to Flexbox (CSS-Tricks)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS Flexbox (W3School)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603595615/flexbox_css_layout/CSS_Flexbox_W3School_stjr0w.png"
            alt="CSS Flexbox (W3School)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.w3schools.com/css/css3_flexbox.asp" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Flexbox Cheatsheet (Jonitrythall)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603595832/flexbox_css_layout/Flexbox_Cheatsheet_Jonitrythall_rbbolq.png"
            alt="Flexbox Cheatsheet (Jonitrythall)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://jonitrythall.com/flexbox-cheatsheet" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Flexbox (Codrops)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603595955/flexbox_css_layout/Flexbox_Codrops_f0iado.png"
            alt="Flexbox (Codrops)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://tympanus.net/codrops/css_reference/flexbox/" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Flexbox (MDN)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603596173/flexbox_css_layout/Flexbox_MDN_ld1bun.png"
            alt="Flexbox (MDN)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">What The FlexBox (Flexbox.io)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603596365/flexbox_css_layout/What_The_FlexBox_wyeyrg.png"
            alt="What The FlexBox (Flexbox.io)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://flexbox.io/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Almost complete guide to flexbox (Kyusuf)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603596459/flexbox_css_layout/Almost_complete_guide_to_flexbox_Kyusuf_jktmg2.png"
            alt="Almost complete guide to flexbox (Kyusuf)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox/" target="_blank">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Flexbox (Treehouse)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603597142/flexbox_css_layout/Flexbox_Treehouse_jppfhi.png"
            alt="Flexbox (Treehouse)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://blog.teamtreehouse.com/flexbox-next-generation-css-layout-arrived" target="_blank">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">DÀN TRANG VỚI CSS FLEXBOX (Thạch Phạm)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603597345/flexbox_css_layout/D%C3%80N_TRANG_V%E1%BB%9AI_CSS_FLEXBOX_Th%E1%BA%A1ch_Ph%E1%BA%A1m_m2kj1c.png"
            alt="DÀN TRANG VỚI CSS FLEXBOX (Thạch Phạm)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://thachpham.com/web-development/html-css/huong-dan-css3-flexbox-toan-tap.html"
              target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
            Những Công Cụ Và Cheatsheet Hay Dành Cho Flexbox
          </h2>
          <p>
            Trong phần này chúng ta sẽ đi vào tìm hiểu những cheatsheet và công cụ hữu ích giúp bạn có thể
            nhanh chóng xây dựng bố cục cho trang web bằng flexbox nhé!
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ Flexy Boxes</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603597838/flexbox_css_layout/Flexy_Boxes_aoumav.png"
            alt="Công Cụ Flexy Boxes">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://the-echoplex.net/flexyboxes/"
              target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ Flexbox Playground</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603598012/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_Flexbox_Playground_g2fmau.png"
            alt="Công Cụ Flexbox Playground">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/enxaneta/full/adLPwv/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ Flex Layout Attribute</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603598118/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_Flex_Layout_Attribute_t8nfwj.png"
            alt="Công Cụ Flex Layout Attribute">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://progressivered.com/fla/?d=0&v=2&h=2&s=0&i=000&a=000" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ Flexbox Playground(ScotchIO)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603598465/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_Flexbox_Playground_ScotchIO_jkzkw0.png"
            alt="Công Cụ Flexbox Playground(ScotchIO)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://demos.scotch.io/visual-guide-to-css3-flexbox-flexbox-playground/demos/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ TEST CSS FLEXBOX RULES</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600060/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_TEST_CSS_FLEXBOX_RULES_kvkfwu.png"
            alt="Công Cụ TEST CSS FLEXBOX RULES">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://flexbox.help/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ Flexplorer</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600674/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_Flexplorer_giqgbo.png"
            alt=" Công Cụ Flexplorer">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://bennettfeely.com/flexplorer/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ BUILD WITH FLEXBOX</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600790/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_BUILD_WITH_FLEXBOX_odm6yp.png"
            alt=" Công Cụ BUILD WITH FLEXBOX">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://flexbox.buildwithreact.com/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Công Cụ Flexbox Patterns</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600139/flexbox_css_layout/C%C3%B4ng_C%E1%BB%A5_Flexbox_Patterns_uq6rpz.png"
            alt="Công Cụ Flexbox Patterns">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.flexboxpatterns.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Flex Cheatsheet(Yoksel)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600222/flexbox_css_layout/Flex_Cheatsheet_Yoksel_ke5wul.png"
            alt="Flex Cheatsheet(Yoksel)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://yoksel.github.io/flex-cheatsheet/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Flexbox cheatsheet(Sakamies)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600329/flexbox_css_layout/Flexbox_cheatsheet_Sakamies_sozjub.png"
            alt="Flexbox cheatsheet(Sakamies)">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="http://apps.workflower.fi/css-cheats/?name=flexbox" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Trò Chơi FLEXBOX FROGGY </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600447/flexbox_css_layout/Tr%C3%B2_Ch%C6%A1i_FLEXBOX_FROGGY_kb89gv.png"
            alt="Trò Chơi FLEXBOX FROGGY">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://flexboxfroggy.com/#vi"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Trò Chơi Flexbox Defense</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603600561/flexbox_css_layout/Tr%C3%B2_Ch%C6%A1i_Flexbox_Defense_pc8zab.png"
            alt=" Trò Chơi Flexbox Defense">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://www.flexboxdefense.com/"
              target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
            Những Framework  Dành Cho  Flexbox
          </h2>
          <p>
            Trong phần này chúng ta sẽ cùng nhau đi vào tìm hiểu những framework CSS giúp bạn có thể xây dựng bố cục dựa trên  flexbox được dễ dàng hơn nhé!
          </p>

        <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Framework Bulma</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603601136/flexbox_css_layout/Framework_Bulma_d24hop.png"
            alt=" Framework Bulma">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://bulma.io/"
              target="_blank">Nguồn</a></p>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> Framework Milligram</h3>
              </div>
    
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603601353/flexbox_css_layout/Framework_Milligram_ozuz8h.png"
                alt=" Framework Milligram">
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://milligram.io/"
                  target="_blank">Nguồn</a></p>

                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size"> Framework Flexbox Grid</h3>
                  </div>
        
                  <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603601448/flexbox_css_layout/Framework_Flexbox_Grid_rislyy.png"
                    alt=" Framework Flexbox Grid">
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://flexboxgrid.com/"
                      target="_blank">Nguồn</a></p>


                      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size"> Framework Grd</h3>
                      </div>
            
                      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603601790/flexbox_css_layout/Framework_Grd_bywzmy.png"
                        alt="  Framework Grd">
                      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://1000ch.github.io/grd/"
                          target="_blank">Nguồn</a></p>


                          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                            <h3 class="text-primary ml-4 title-article-size"> Framework TentCSS</h3>
                          </div>
                
                          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603601891/flexbox_css_layout/Framework_TentCSS_qmo1dz.png"
                            alt="  Framework TentCSS">
                          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://css.sitetent.com/"
                              target="_blank">Nguồn</a></p>
    

                              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                                <h3 class="text-primary ml-4 title-article-size"> Framework Wire</h3>
                              </div>
                    
                              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603601985/flexbox_css_layout/Framework_Wire_boartt.png"
                                alt="  Framework Wire">
                              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.wirecss.com/"
                                  target="_blank">Nguồn</a></p>








          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn kiến thức về flexbox
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>