<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Thiết Kế Material Design Đẹp Cho Trang Web (2020)</h2>
            </div>
          </div>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i> Ngày hôm nay chúng ta sẽ đi vào tìm những thiết kế material design đẹp bằng HTML, CSS, Javascript cho
                trang
                web trong năm 2020 nhé!</i>
            </p>
          </div>
          <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang
            chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b>
            trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a
              href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer"
              target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a
              href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>.
            Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ
            <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Article Tiles</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="mkurapov"
            data-slug-hash="qNQXxz" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Article Tiles">
            <span>See the Pen <a href="https://codepen.io/mkurapov/pen/qNQXxz">
                Article Tiles</a> by Max Kurapov (<a href="https://codepen.io/mkurapov">@mkurapov</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>


          <button type="button " class="button-blog-post-article mt-4"><a
              href="https://codepen.io/mkurapov/pen/qNQXxz" target="_blank" rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tabs Modal</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="andytran"
            data-slug-hash="zvMGXr" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Tabs Modal">
            <span>See the Pen <a href="https://codepen.io/andytran/pen/zvMGXr">
                Tabs Modal</a> by Andy Tran (<a href="https://codepen.io/andytran">@andytran</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/andytran/pen/zvMGXr" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>




          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Compact Login Animation</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="yusufbkr"
            data-slug-hash="RPBQqg" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Compact Login Animation">
            <span>See the Pen <a href="https://codepen.io/yusufbkr/pen/RPBQqg">
                Material Compact Login Animation</a> by Yusuf Bakır (<a
                href="https://codepen.io/yusufbkr">@yusufbkr</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/yusufbkr/pen/RPBQqg" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Recipe Card UI Snippet</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="iMax723"
            data-slug-hash="aNKQyE" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Recipe Card">
            <span>See the Pen <a href="https://codepen.io/iMax723/pen/aNKQyE">
                Recipe Card</a> by Max (<a href="https://codepen.io/iMax723">@iMax723</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/iMax723/pen/aNKQyE" target="_blank" rel="noopener noreferrer">Nguồn</a></button>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Inspired Checkboxes and Radio Groups</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="BuddyLReno"
            data-slug-hash="boGRPO" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Inspired Checkboxes and Radio Groups">
            <span>See the Pen <a href="https://codepen.io/BuddyLReno/pen/boGRPO">
                Material Inspired Checkboxes and Radio Groups</a> by Buddy Reno (<a
                href="https://codepen.io/BuddyLReno">@BuddyLReno</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/BuddyLReno/pen/boGRPO" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Client Testimonial Snippet</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="asistapl"
            data-slug-hash="GqqNLG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Client Testimonial">
            <span>See the Pen <a href="https://codepen.io/asistapl/pen/GqqNLG">
                Client Testimonial</a> by Maciej Leszczyński (<a href="https://codepen.io/asistapl">@asistapl</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/asistapl/pen/GqqNLG" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Card UI</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="choogoor"
            data-slug-hash="YWBxAg" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="News Cards - CSS only">
            <span>See the Pen <a href="https://codepen.io/choogoor/pen/YWBxAg">
                News Cards - CSS only</a> by Aleksandar Čugurović (<a href="https://codepen.io/choogoor">@choogoor</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/choogoor/pen/YWBxAg" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Expanding Card | Material Design</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="woodwoerk"
            data-slug-hash="adbyvG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Expanding Card | Material Design">
            <span>See the Pen <a href="https://codepen.io/woodwoerk/pen/adbyvG">
                Expanding Card | Material Design</a> by Joe Harry (<a
                href="https://codepen.io/woodwoerk">@woodwoerk</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/woodwoerk/pen/adbyvG" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design Input</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="atunnecliffe"
            data-slug-hash="gpKzQw" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Nice, compliant input boxes">
            <span>See the Pen <a href="https://codepen.io/atunnecliffe/pen/gpKzQw">
                Nice, compliant input boxes</a> by Andrew Tunnecliffe (<a
                href="https://codepen.io/atunnecliffe">@atunnecliffe</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/atunnecliffe/pen/gpKzQw" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS MATERIAL DESIGN RADIO BUTTON</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="sajran"
            data-slug-hash="wGXJQp" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Design radio button (CSS only)">
            <span>See the Pen <a href="https://codepen.io/sajran/pen/wGXJQp">
                Material Design radio button (CSS only)</a> by Bazyli Cyran (<a
                href="https://codepen.io/sajran">@sajran</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/sajran/pen/wGXJQp" target="_blank" rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Full CSS Material design form</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Alex-D"
            data-slug-hash="ByZLeg" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Full CSS Material design form">
            <span>See the Pen <a href="https://codepen.io/Alex-D/pen/ByZLeg">
                Full CSS Material design form</a> by DEMODE Alexandre (<a href="https://codepen.io/Alex-D">@Alex-D</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/Alex-D/pen/ByZLeg" target="_blank" rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design Box Shadows</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="sdthornton"
            data-slug-hash="wBZdXq" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Design Box Shadows">
            <span>See the Pen <a href="https://codepen.io/sdthornton/pen/wBZdXq">
                Material Design Box Shadows</a> by Samuel Thornton (<a
                href="https://codepen.io/sdthornton">@sdthornton</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/sdthornton/pen/wBZdXq" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Burger Menu inspired by Material Design</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="victorfreire"
            data-slug-hash="QywRNM" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="#1 Burger Menu inspired by Material Design">
            <span>See the Pen <a href="https://codepen.io/victorfreire/pen/QywRNM">
                #1 Burger Menu inspired by Material Design</a> by Victor Freire (<a
                href="https://codepen.io/victorfreire">@victorfreire</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/victorfreire/pen/QywRNM" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design Ripple Transition</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="djmarland"
            data-slug-hash="CxEbK" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material design transition">
            <span>See the Pen <a href="https://codepen.io/djmarland/pen/CxEbK">
                Material design transition</a> by David Marland (<a href="https://codepen.io/djmarland">@djmarland</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/djmarland/pen/CxEbK" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design CSS Only Dropdown Menu</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="mildrenben"
            data-slug-hash="RPwQEY" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Design CSS Only Dropdown Menu">
            <span>See the Pen <a href="https://codepen.io/mildrenben/pen/RPwQEY">
                Material Design CSS Only Dropdown Menu</a> by Ben Mildren (<a
                href="https://codepen.io/mildrenben">@mildrenben</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/mildrenben/pen/RPwQEY" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material design navigation</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Lewitje"
            data-slug-hash="tyGdf" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material design navigation">
            <span>See the Pen <a href="https://codepen.io/Lewitje/pen/tyGdf">
                Material design navigation</a> by Lewi Hussey (<a href="https://codepen.io/Lewitje">@Lewitje</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/Lewitje/pen/tyGdf" target="_blank" rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material design sign up form</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="KovJonas"
            data-slug-hash="BoPOPY" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material design sign up form">
            <span>See the Pen <a href="https://codepen.io/KovJonas/pen/BoPOPY">
                Material design sign up form</a> by KovJonas (<a href="https://codepen.io/KovJonas">@KovJonas</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/KovJonas/pen/BoPOPY" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Materialize Button</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="legeoffrey"
            data-slug-hash="PwYeGo" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Materialize Button">
            <span>See the Pen <a href="https://codepen.io/legeoffrey/pen/PwYeGo">
                Materialize Button</a> by g3offrey (<a href="https://codepen.io/legeoffrey">@legeoffrey</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/legeoffrey/pen/PwYeGo" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design Color Scale</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="yusufbkr"
            data-slug-hash="JdBxpj" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Design Color Scale">
            <span>See the Pen <a href="https://codepen.io/yusufbkr/pen/JdBxpj">
                Material Design Color Scale</a> by Yusuf Bakır (<a href="https://codepen.io/yusufbkr">@yusufbkr</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/yusufbkr/pen/JdBxpj" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Animated Material Design Button</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="MartijnBrands"
            data-slug-hash="VvmmNe" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Animated Material Design Button">
            <span>See the Pen <a href="https://codepen.io/MartijnBrands/pen/VvmmNe">
                Animated Material Design Button</a> by Martijn Brands (<a
                href="https://codepen.io/MartijnBrands">@MartijnBrands</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/MartijnBrands/pen/VvmmNe" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Responsive Material Design Timeline</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result"
            data-user="haycuoilennao19" data-slug-hash="poyGNbr" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive Material Design Timeline">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/poyGNbr">
                Responsive Material Design Timeline</a> by haycuoilennao19 (<a
                href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>


          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/haycuoilennao19/pen/poyGNbr" target="_blank"
              rel="noopener noreferrer">Nguồn</a></button>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design Popup</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="arcs"
            data-slug-hash="BodWvJ" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Design Popup">
            <span>See the Pen <a href="https://codepen.io/arcs/pen/BodWvJ">
                Material Design Popup</a> by Patrick Stillhart (<a href="https://codepen.io/arcs">@arcs</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>



          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/arcs/pen/BodWvJ" target="_blank" rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design Chips</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="moso"
            data-slug-hash="EjEgQY" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Material Design Chips">
            <span>See the Pen <a href="https://codepen.io/moso/pen/EjEgQY">
                Material Design Chips</a> by Morten Sørensen (<a href="https://codepen.io/moso">@moso</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>




          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/moso/pen/EjEgQY" target="_blank" rel="noopener noreferrer">Nguồn</a></button>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Design UI Audio Player</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="michael-zhigulin" data-slug-hash="NGZGma" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material Design UI Audio Player">
            <span>See the Pen <a href="https://codepen.io/michael-zhigulin/pen/NGZGma">
            Material Design UI Audio Player</a> by Michael Zhigulin (<a href="https://codepen.io/michael-zhigulin">@michael-zhigulin</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <button type="button " class="button-blog-post-article mt-4">
            <a href="https://codepen.io/michael-zhigulin/pen/NGZGma" target="_blank" rel="noopener noreferrer">Nguồn</a></button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">Material Design Cards</h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="vincebrown" data-slug-hash="emJoga" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material Design Cards">
              <span>See the Pen <a href="https://codepen.io/vincebrown/pen/emJoga">
              Material Design Cards</a> by Vince Brown (<a href="https://codepen.io/vincebrown">@vincebrown</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
  
            <button type="button " class="button-blog-post-article mt-4">
              <a href="https://codepen.io/vincebrown/pen/emJoga" target="_blank" rel="noopener noreferrer">Nguồn</a></button>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Google Material Design Input File</h3>
              </div>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Josantonius" data-slug-hash="BzNwXz" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Google Material Design Input File">
                <span>See the Pen <a href="https://codepen.io/Josantonius/pen/BzNwXz">
                Google Material Design Input File</a> by Josantonius (<a href="https://codepen.io/Josantonius">@Josantonius</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              
    
              <button type="button " class="button-blog-post-article mt-4">
                <a href="https://codepen.io/Josantonius/pen/BzNwXz" target="_blank" rel="noopener noreferrer">Nguồn</a></button>
                <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                  <h3 class="text-primary ml-4 title-article-size">Material Design Blockquote</h3>
                </div>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="MichaelMammoliti" data-slug-hash="EjoyQz" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material Design Blockquote">
                  <span>See the Pen <a href="https://codepen.io/MichaelMammoliti/pen/EjoyQz">
                  Material Design Blockquote</a> by Michael Mammoliti (<a href="https://codepen.io/MichaelMammoliti">@MichaelMammoliti</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                
      
                <button type="button " class="button-blog-post-article mt-4">
                  <a href="https://codepen.io/MichaelMammoliti/pen/EjoyQz" target="_blank" rel="noopener noreferrer">Nguồn</a></button>


                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">Material Design - Transformation</h3>
                  </div>
                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="ehellman" data-slug-hash="BLyoRE" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material Design - Transformation">
                    <span>See the Pen <a href="https://codepen.io/ehellman/pen/BLyoRE">
                    Material Design - Transformation</a> by Erik Hellman (<a href="https://codepen.io/ehellman">@ehellman</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  
        
                  <button type="button " class="button-blog-post-article mt-4">
                    <a href="https://codepen.io/ehellman/pen/BLyoRE" target="_blank" rel="noopener noreferrer">Nguồn</a></button>
















          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thiết kế material design  đẹp và
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>