<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i>In today's post, we'll take a look at our free tools and libraries
              Google for website development.</i></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Search Console</h2>
            </div>
            <p class="mt-4">Google Search Console is an indispensable application for programmers when creating
              website. It will help you measure your Search traffic and site performance, troubleshoot
              topic and increase the site's ranking in Google Search results.</p> <img
              class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Search%20Console.png"
              alt="Google Search Console">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://search.google.com/search-console/about" target="_blank"
                title="Google Search Console">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Analytics</h2>
            </div>
            <p class="mt-4">Google Analytics is an extremely useful tool to help you analyze your website easily
              from which to make specific website development plans in the future. It gives you
              various information such as which country the user is accessing, using what device, providing
              real-time website access...</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Analytics%20%281%29.png"
              alt="Google Analytics">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://analytics.google.com/"
                target="_blank" title="Google Analytics">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google PageSpeed Insights</h2>
            </div>
            <p class="mt-4">Google PageSpeed Insights is an application that helps you easily check website speed on the platform
              desktop and mobile. One thing I particularly like about it is that it provides detailed errors that affect speed and
              user experience. It also provides measures to make it easier for you to correct those errors.
            </p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20PageSpeed%20Insights.png"
              alt="Google PageSpeed Insights">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://developers.google.com/speed/pagespeed/insights/" target="_blank"
                title="Google PageSpeed Insights">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Mobile Friendly</h2>
            </div>
            <p class="mt-4">Google Mobile Friendly helps you check if your website is suitable for mobile platforms
              are not. This is one of the first factors you need to check before you put your website online because it is so important
              greatly affect the user experience (a factor that Google is particularly interested in).</p> <img
              class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Mobile%20Friendly.png"
              alt="Google Mobile Friendly">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://search.google.com/test/mobile-friendly" target="_blank"
                title="Google Mobile Friendly">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Tag management</h2>
            </div>
            <p class="mt-4">Manage all your site tags without editing code. 's Tag Manager
              Google offers simple, reliable, easy-to-integrate tag management solutions that are completely free.
            </p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Tag%20management%20%281%29.png"
              alt="Google Tag management">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://marketingplatform.google.com/about/tag-manager/" target="_blank"
                title="Google Tag management">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Trends</h2>
            </div>
            <p class="mt-4">Google Trends makes it possible for us to find out the user's search trends when using
              Google in countries around the world. From there, you can easily write content that fits everyone's trends
              people to attract more traffic to the website.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Trends.png"
              alt="Google Trends">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://trends.google.com/trends/?geo=VN" target="_blank" title="Google Trends">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Font</h2>
            </div>
            <p class="mt-4">It's great when Google Font was born, it makes it easy for us to use fonts
              aesthetic for the website without any cost to use (open Link Project code) and can be applied to
              many different types of web projects from personal to commercial websites.<br />Google fonts can also be used
              used on many popular browsers today such as Google Chrome, Firefox, Opera, Safari, Opera and
              Edge.<br /> There is also another point that I really like about Google Font that is convenience. You can easily
              Easily apply fonts to your website using a CDN and improve page speed
              web.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Font.png"
              alt="Google Font">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://fonts.google.com/"
                target="_blank" title="Google Font">Link Project</a></p>
            </p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Google Doc</h2>
            </div>
            <p class="mt-4"> Google Doc is an online application that helps us to do word processing,
              Create forms to collect information from users, present content in the form of slideshows, display data
              graphically... directly on the web browser.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Doc.png"
              alt="Google Doc">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.google.com/docs/about/"
                target="_blank" title="Google Doc">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Google Drive</h2>
            </div>
            <p class="mt-4"> Google Drive is a file sharing site that is very popular these days because of its convenience,
              Easy to send files and highly reliable. You can upload any file type and just send the link
              The shared link to the recipient is already available to use or download your file. With the free version,
              you are provided with 15GB for online storage, in my opinion with such a capacity we can use
              Feel free to use it for personal purposes such as saving images, videos, study materials... Also if you want to use
              In addition, you can subscribe to a package for the year with the lowest fee of 450,000 VND for 100GB of storage on
              years.<br /> In order to meet the needs of user experience, Google also provides us with additional sessions
              version on many different devices such as phones, tablets... so you can access your saved data
              store anywhere.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591366302/trang-web-chia-se-file/trang-web-chia-se-file-Google-Drive_suf8ti.png"
              alt="Google Drive">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.google.com/drive/"
                target="_blank" title="Google Drive">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Google Business</h2>
            </div>
            <p class="mt-4"> Google Business helps you attract more customers to your business website through
              by posting photos and offers on your profile to show customers what's unique about your business.
              In addition, it also allows customers to contact us by phone, text or write
              assessment form.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Business%20%281%29.png"
              alt="Google Business">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://www.google.com/intl/vi_vn/business/" target="_blank" title="Google Business">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Google Adsense</h2>
            </div>
            <p class="mt-4">This is an advertising network of Google where you can apply various forms of advertising
              Website to earn extra income. Depending on the country, the type of content in the website, the amount
              Display and click on the ad will change offline. However, you need to be approved by Google Adsen
              N</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Adsense%20%281%29.png"
              alt="Google Adsense">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.google.com/adsense/start/"
                target="_blank" title="Google Adsense">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Programmable Search Engine</h2>
            </div>
            <p class="mt-4"> Programmable Search Engine is a tool to help you add search functionality to your website
              .</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/_%20Programmable%20Search%20Engine.png"
              alt="Programmable Search Engine">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://programmablesearchengine.google.com/about/" target="_blank"
                title="Programmable Search Engine">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Google News</h2>
            </div>
            <p class="mt-4"> Google News makes it easy to see the day's highlights. However, there is a point
              What I really like about it is that it allows us to publish website content to Google News with <a
                href="https://publishercenter.google.com/" target="_blank" title="publishercenter">publishercenter</a>.
            </p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/publishercenter%20%281%29.png"
              alt="Google News">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://news.google.com/"
                target="_blank" title="Google News">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Google Keep</h2>
            </div>
            <p class="mt-4"> Helps you store ideas and links quickly. The good thing about it is that we
              can divide many different types of ideas by specific colors and themes, easily share ideas with others
              colleagues and family...</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Keep%20%281%29.png"
              alt="Google Keep">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.google.com/keep/"
                target="_blank" title="Google Keep">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Google Translate</h2>
            </div>
            <p class="mt-4"> Google Translate helps us to easily translate website content into other languages
              easy and precise.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Google%20Translate.png"
              alt="Google Translate">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://translate.google.com/"
                target="_blank" title="Google Translate">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Web dev Blog</h2>
            </div>
            <p class="mt-4">Web Dev is a blog created by Google, so you can be assured of the quality
              content here. It has a lot of useful information about the ways in which you can apply these technologies
              new for your website to increase page loading speed, user experience, increase seo ability for the page
              web.</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/_Web%20dev%20Blog.png"
              alt=" Web dev Blog">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://web.dev/blog/" target="_blank"
                title=" Web dev Blog">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Flutter</h2>
            </div>
            <p class="mt-4"> Flutter is Google's user interface toolkit for building beautiful, user-friendly applications
              compile natively for mobile, web, desktop, and embedded devices from a single codebase.
              </p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Flutter%20%281%29.png"
              alt="Flutter">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://flutter.dev/" target="_blank"
                title="Flutter">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> AMP</h2>
            </div>
            <p class="mt-4"> AMP is a web component framework for easily creating user-first experiences for the web.
              Especially when building a mobile version of the website, you should apply AMP to improve loading time
              as well as increase the user experience for the website.</p> <img
              class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/AMP%20%281%29.png"
              alt="AMP">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://amp.dev/" target="_blank"
                title="AMP">Link Project</a></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article"> Workbox</h2>
            </div>
            <p class="mt-4"> Workbox is a collection of libraries to help you write and manage service workers and
              caching with the CacheStorage API. Service worker and cache API, when used together,
              allows you to control how the content (HTML, CSS, JS, images, etc.)
              requests from the network or cache, even allowing you to return cached content when
              offline. This is a tool that makes it easy to build a PWA quickly and easily.</p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/free-google-tool/Workbox.png"
              alt="Workbox">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://developers.google.com/web/tools/workbox" target="_blank" title="Workbox">Link Project</a></p>
            <h3 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i>Summary: </b></h3>
            <p>Through this, I hope the article will help you have more useful Google tools
              for the website and if you have any questions just send an email and I will respond as soon as possible. Hope you continue
              Please support the website so that I can write more good articles. Have a nice day!</p>
          </div>
        </article>






      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>