<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Nguồn Lập Trình   Giúp Bạn Học CSS Grid Hiệu Quả Và Dễ Dàng Hơn</h2>
            </div>
          </div>


          <div class="text-content-article mt-5">
            <p><i>Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu những bài viết hay và hữu ích về cách sử dụng hệ
                thống lưới trong CSS
                được nhiều bạn lập trình viên tin tưởng học tập nhé!

              </i>
            </p>
          </div>

          <p>
            Thông thường khi chúng ta học về hệ thống lưới trong CSS thì sẽ rất khó để nhớ và hình dung vì những tính
            chất của nó mang tính hơi trừu tượng.
            Do đó ngày hôm nay mình sẽ sưu tập một số bài viết có hình ảnh minh họa và ví dụ cụ thể, mong sẽ giúp ích
            được
            quá trình trình hệ thống lưới của bạn trong CSS được dễ dàng hơn.

          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">A Complete Guide to Grid (CSS-Tricks)</h3>
          </div>
          <p>

            <p>
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603422336/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_CSS_Tricks_jaxvrz.png"
                alt="Học CSS Grid Với CSS-Tricks">
            </p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://css-tricks.com/snippets/css/complete-guide-grid/" target="_blank">Nguồn Bài Viết</a></p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">Learn Css Grid</h3>
            </div>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603422488/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Learn_Css_Grid_gfdbbi.png"
              alt="Học CSS Grid Với Learn Css Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://learncssgrid.com/"
              target="_blank">Nguồn Bài Viết</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS Grid Codrops</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603422619/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_CSS_Grid_Codrops_eenqyc.png"
            alt="Học CSS Grid Với CSS Grid Codrops">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://tympanus.net/codrops/css_reference/grid/" target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">MDN CSS Grid</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603422776/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Mozilla_CSS_Grid_vtomiv.png"
            alt="MDN CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://developer.mozilla.org/vi/docs/Web/CSS/CSS_Grid_Layout/tong_quan_ve_grid_layout"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">An Introduction to the CSS Grid Layout Module (SitePoint)
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603423224/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Sitepoint_CSS_Grid_sbthek.png"
            alt="SitePoint CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.sitepoint.com/introduction-css-grid-layout-module/" target="_blank">Nguồn Bài Viết</a>
          </p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">11 Things I Learned Reading the CSS Grid Specification
              (FreeCodeCamp)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603423377/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_FreeCodeCamp_CSS_Grid_d09d4h.png"
            alt="FreeCodeCamp CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.freecodecamp.org/news/11-things-i-learned-reading-the-css-grid-specification-fb3983aa5e0/"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Best Practices With CSS Grid Layout
              (Smashingmagazine)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603423505/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Smashingmagazine_CSS_Grid_cxnsmu.png"
            alt="Smashingmagazine CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.smashingmagazine.com/2018/04/best-practices-grid-layout/" target="_blank">Nguồn Bài
              Viết</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">My First Practical CSS Grid Layout
              (Cloudfour)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603423841/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Cloudfour_f3nnbr.png"
            alt="Cloudfour CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://cloudfour.com/thinks/first-css-grid-layout/" target="_blank">Nguồn Bài Viết</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS Grid Application Layout in Production
              (Techblog)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603423959/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Techblog_gscoto.png"
            alt="Techblog CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://techblog.commercetools.com/gss-grid-application-layout-in-production-f60c65a05cfa"
              target="_blank">Nguồn Bài Viết</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">GRID
              (Malven)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603424201/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Malven_ckeh8n.png"
            alt="Malven CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://grid.malven.co/"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How to create a layout with CSS Grid Layouts
              (Getflywheel)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603424379/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Getflywheel_v1rgm7.png"
            alt="Getflywheel CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://getflywheel.com/layout/combine-flexbox-and-css-grids-for-layouts-how-to/"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Learning CSS Grid
              (Varun)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603424522/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Varun_muwm5x.png"
            alt="Varun CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://varun.ca/css-grid/"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How I design with CSS grid
              (Chenhuijing)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603424608/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Chenhuijing_psgbbq.png"
            alt="Chenhuijing CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://chenhuijing.com/blog/how-i-design-with-css-grid/#%F0%9F%8F%80" target="_blank">Nguồn Bài
              Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Unlocking the Power of CSS Grid Layout
              (Notist)</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603425702/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_notist_cmx2yn.png"
            alt="notist CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://noti.st/rachelandrew/vXGvXa/unlocking-the-power-of-css-grid-layout" target="_blank">Nguồn
              Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Grid by Example
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603425795/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web__Grid_by_Example_t8gc1q.png"
            alt="Grid by Example">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://gridbyexample.com/examples/"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">The Quirks of CSS Grid and Absolute Positioning(Webdesign)
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603426000/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Webdesign_cntweb.png"
            alt="Webdesign CSS Grid">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://webdesign.tutsplus.com/tutorials/the-quirks-of-css-grid-and-absolute-positioning--cms-31437"
              target="_blank">Nguồn Bài Viết</a></p>




          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              CSS Grid Layout: A Quick Start Guide(Webdesign)
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603426194/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_Webdesign_CSS_Grid_Layout_scslpu.png"
            alt=" CSS Grid Layout: A Quick Start Guide(Webdesign)">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://webdesign.tutsplus.com/tutorials/css-grid-layout-quick-start-guide--cms-27238"
              target="_blank">Nguồn Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              CSS Grid Gotchas And Stumbling Blocks(Smashingmagazine)
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603426307/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_smashingmagazine_CSS_Grid_Gotchas_And_Stumbling_Blocks_t3j82y.png"
            alt=" CSS Grid Layout: A Quick Start Guide(Webdesign)">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.smashingmagazine.com/2017/09/css-grid-gotchas-stumbling-blocks/" target="_blank">Nguồn
              Bài Viết</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Spring Into CSS Grid(Jonitrythall)
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603426429/nguon_hoc_ve_grid_css/Hoc_GridCSS_Tu_Trang_Web_jonitrythall_ipcfdq.png"
            alt=" Spring Into CSS Grid(Jonitrythall)">
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://jonitrythall.com/spring-into-css-grid" target="_blank">Nguồn
              Bài Viết</a></p>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Why CSS Grid is better than Bootstrap for creating layouts (Hackernoon)
                </h3>
              </div>
    
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603426553/nguon_hoc_ve_grid_css/Why_CSS_Grid_is_better_than_Bootstrap_for_creating_layouts_Hackernoon_pla7uf.png"
                alt="   Why CSS Grid is better than Bootstrap for creating layouts (Hackernoon)">
              </p>
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                  href="https://hackernoon.com/how-css-grid-beats-bootstrap-85d5881cf163" target="_blank">Nguồn
                  Bài Viết</a></p>
    

                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">
                      Công Cụ CSS Grid Cheat Sheet
                    </h3>
                  </div>
        
                  <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603430675/nguon_hoc_ve_grid_css/C%C3%B4ng_C%E1%BB%A5_CSS_Grid_Cheat_Sheet_w2djlb.png"
                    alt="Công Cụ CSS Grid Cheat Sheet">
                  </p>
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                      href="https://alialaa.github.io/css-grid-cheat-sheet/" target="_blank">Nguồn
                     Công Cụ</a></p>
        


                     <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                      <h3 class="text-primary ml-4 title-article-size">
                        Công Cụ Griddy
                      </h3>
                    </div>
          
                    <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                      data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603430758/nguon_hoc_ve_grid_css/C%C3%B4ng_C%E1%BB%A5_Griddy_lyvrl6.png"
                      alt="Công Cụ Griddy">
                    </p>
                    <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                        href="https://griddy.io/" target="_blank">Nguồn
                       Công Cụ</a></p>
          
                       <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size">
                          Công Cụ Cssgr
                        </h3>
                      </div>
            
                      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603430831/nguon_hoc_ve_grid_css/C%C3%B4ng_C%E1%BB%A5_Cssgr_tqc0vy.png"
                        alt="Công Cụ Cssgr">
                      </p>
                      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                          href="https://cssgr.id/" target="_blank">Nguồn
                         Công Cụ</a></p>
          
                         <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                          <h3 class="text-primary ml-4 title-article-size">
                            Công Cụ CSS Grid Template Builder
                          </h3>
                        </div>
              
                        <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603430930/nguon_hoc_ve_grid_css/C%C3%B4ng_C%E1%BB%A5_CSS_Grid_Template_Builder_ewdttp.png"
                          alt="Công Cụ CSS Grid Template Builder">
                        </p>
                        <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                            href="https://codepen.io/anthonydugois/full/RpYBmy/" target="_blank">Nguồn
                           Công Cụ</a></p>
            


                           <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                            <h3 class="text-primary ml-4 title-article-size">
                              Công Cụ Layoutit
                            </h3>
                          </div>
                
                          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603431016/nguon_hoc_ve_grid_css/C%C3%B4ng_C%E1%BB%A5_Layoutit_z9wwud.png"
                            alt="Công Cụ Layoutit">
                          </p>
                          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                              href="https://grid.layoutit.com/" target="_blank">Nguồn
                             Công Cụ</a></p>


                             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                              <h3 class="text-primary ml-4 title-article-size">
                                Trò Chơi GRID GARDEN
                              </h3>
                            </div>
                  
                            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603431092/nguon_hoc_ve_grid_css/Tr%C3%B2_Ch%C6%A1i_GRID_GARDEN_pqf70s.png"
                              alt=" Trò Chơi GRID GARDEN">
                            </p>
                            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                                href="http://cssgridgarden.com/#vi" target="_blank">Nguồn
                             Trò Chơi</a></p>
  










          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những bài viết về CSS Grid
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>