<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> 30 Visual Studio Code Extension Tốt Nhất Cho Phát Triển Web(2020)</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Trong bài viết hôm này chúng ta sẽ đi vào tìm hiểu những extension mở rộng trong Visual Studio Code giúp
                bạn cải thiện hiệu suất
                cũng như thời gian làm việc. Nào chúng ta hãy cùng nhau đi vào tìm hiểu 30 Visual Studio Code Extension
                được sử dụng phổ biến trong lập trình và thiết kế web năm 2020 nhé!
              </i>
            </p>
            <p>
              Trước khi đi vào vấn đề chính thì mình sẽ giải thích sơ qua về Visual Studio Code tí nhé!
            </p>
            <p>
              Visual Studio Code là một mã nguồn mở và được phát triển bởi Microsoft nên các bạn cứ yên tâm sử dụng vì
              nó hoàn toàn miễn phí và luôn được cập nhật những phiên bản mới nhất. Không chỉ vậy nó còn rất thích hợp
              cho việc phát triển các dự án lớn, phức tạp ngoài ra còn hỗ trợ việc tích hợp Git. Công cụ này còn cung
              cấp các phần mở rộng(extension) giúp chúng ta có thể code một cách nhanh hơn, quản lý file hiệu quả...
            </p>
            <p>
              Nếu bạn muốn tim hiểu thêm hay tải về thì có thể xem <a href="https://code.visualstudio.com/Download#"
                target="_blank" title="Visual Studio Code">ở đây nhé</a>.
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Debugger for Chrome
              </h3>
            </div>
            <p>
              <b>Debugger for Chrome</b> giúp bạn có thể debug lỗi mã chương trình ngay trong VS Code
              mà không cần mở Google Chrome để sử dụng developer tool. Nó có nhiều tính năng hữu ích như là thiết lập
              breakpoints,
              hiển thị console...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593224484/visual-studio-code-extension/Debugger_for_Chrome_u7isq8.png"
              alt="Debugger for Chrome">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/microsoft/vscode-chrome-debug" target="_blank" title="Debugger for Chrome">
                Nguồn
                Debugger for Chrome
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome&ssr=false#overview"
                target="_blank" title="Debugger for Chrome"> Trang Cài Đặt
                Debugger for Chrome
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                JavaScript (ES6) code snippets
              </h3>
            </div>
            <p>
              <b>JavaScript (ES6) code snippets</b> giúp bạn có thể gọi cấu trúc của một hàm hay thuộc tính... một cách
              nhanh chóng thông qua những cú pháp được cung cấp sẵn.
              Ví dụ khi bạn gõ là <code>clg</code> thì nó sẽ tự động biên dịch thành <code>console.log(object)</code>.
              Cái này bạn có thể tham khảo thêm
              bảng chú thích trong trang cài đặt của nó nhé. Ngoài ra nó cũng hỗ trợ nhiều ngôn ngữ trong file extension
              như là
              TypeScript, JavaScript React, TypeScript React, Html và Vue.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593225363/visual-studio-code-extension/JavaScript_ES6_code_snippets_fjn7er.png"
              alt="JavaScript (ES6) code snippets">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/xabikos/vscode-javascript" target="_blank"
                title="JavaScript (ES6) code snippets"> Nguồn
                JavaScript (ES6) code snippets
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=xabikos.JavaScriptSnippets" target="_blank"
                title="JavaScript (ES6) code snippets"> Trang Cài Đặt
                JavaScript (ES6) code snippets
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Live Server
              </h3>
            </div>
            <p>
              <b> Live Server</b> giúp khởi chạy local server một cách nhanh chóng với tính năng tự động tải lại trực
              tiếp cho các
              trang web tĩnh và động. Ví dụ khi bạn thay đổi một thông tin trên trang HTML thì nó sẽ tự động cập nhật mà
              không cần chúng ta
              phải nhấn reload trên trình duyệt. Nó cũng có nhiều lựa chọn cho việc thiết lập sử dụng như là tùy chỉnh
              số port, thiết lập trình duyệt mặc định,
              hỗ trợ SVG, https, proxy...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593226198/visual-studio-code-extension/Live_Server_yvtlly.png"
              alt="Live Server">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/ritwickdey/vscode-live-server" target="_blank" title="Live Server"> Nguồn
                Live Server
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank"
                title="Live Server"> Trang Cài Đặt
                Live Server
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Auto Close Tag
              </h3>
            </div>
            <p>
              <b> Auto Close Tag</b> được xây dựng để giúp bạn tự động đóng thẻ khi bạn mở thẻ. Ví dụ như là
              khi bạn gõ <code>&#60;html&#62;</code> thì nó sẽ tự động thêm <code>&#60;/html&#62;</code>. Ngoài ra nó
              cũng hỗ trợ cho nhiều ngôn
              ngữ khác như là XML, PHP, Vue, JavaScript, TypeScript, JSX, TSX... nó cũng có một số thiết lập giúp bạn dễ
              dàng tinh chỉnh như là
              đặt danh sách thẻ không tự động đóng, sử dụng phím tắt để thêm thẻ đóng thủ công...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593226920/visual-studio-code-extension/Auto_Close_Tag_pkrhon.png"
              alt="Auto Close Tag">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/formulahendry/vscode-auto-close-tag" target="_blank" title="Auto Close Tag">
                Nguồn
                Auto Close Tag
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag" target="_blank"
                title="Auto Close Tag"> Trang Cài Đặt
                Auto Close Tag
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Prettier - Code formatter
              </h3>
            </div>
            <p>
              <b>Prettier - Code formatter</b> giúp bạn định dạng lại code một cách tự động và tạo ra một phong cách
              code chung cho team lập trình thông qua quy tắc riêng được quy định bởi extension. Nó cũng hỗ trợ cho đa
              dạng loại ngôn ngữ như là
              JavaScript, TypeScript, Flow, JSX, JSON, HTML, Vue, Angular...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593227478/visual-studio-code-extension/Prettier_-_Code_formatter_imhzwq.png"
              alt="Prettier - Code formatter">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/prettier/prettier-vscode" target="_blank" title="Prettier - Code formatter">
                Nguồn
                Prettier - Code formatter
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode" target="_blank"
                title="Prettier - Code formatter"> Trang Cài Đặt
                Prettier - Code formatter
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                TODO Highlight
              </h3>
            </div>
            <p>
              <b>TODO Highlight</b> giúp bạn làm nổi bật các comment quan trọng trong code để những người lập trình sau
              hay chính bản thân chúng ta
              có thể nắm được những điều cần lưu ý hay những việc cần phải làm trước khi sử dụng và lập trình code.
              Ngoài ra nó còn có một số theme được thiết kế đẹp mắt,
              hỗ trợ trên nhiều ngôn ngữ như javascript, html, css, php...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593228102/visual-studio-code-extension/TODO_Highlight_w2un9k.png"
              alt="TODO Highlight">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/wayou/vscode-todo-highlight" target="_blank" title="TODO Highlight">
                Nguồn
                TODO Highlight
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight" target="_blank"
                title="TODO Highlight"> Trang Cài Đặt
                TODO Highlight
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Auto Rename Tag
              </h3>
            </div>
            <p>
              <b>Auto Rename Tag</b> giúp tự động đổi tên cả cặp thẻ trong HTML, XML. Ví dụ khi bạn thay đổi tên thẻ mở
              thì thẻ đóng tương ứng cũng sẽ được tự động thay đổi theo.
              Bạn có thể xem ví dụ chi tiết trong phần Usages nhé.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593228669/visual-studio-code-extension/Auto_Rename_Tag_nygubc.png"
              alt="Auto Rename Tag">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/formulahendry/vscode-auto-rename-tag" target="_blank" title="Auto Rename Tag">
                Nguồn
                Auto Rename Tag
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag" target="_blank"
                title="Auto Rename Tag"> Trang Cài Đặt
                Auto Rename Tag
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Better Comments
              </h3>
            </div>
            <p>
              <b>Better Comments</b> hiển thị comment theo từng loại riêng biệt giúp dễ dàng phân loại và hình dung hơn
              ví dụ như là các thông báo quan trọng cần làm nổi bật, các cảnh báo, những việc phải làm...
              Ngoài ra bạn cũng có thể tùy chỉnh để phù hợp với mục đích và sở thích của mình như thiết lập các cú pháp
              comment, chỉnh sửa màu sắc màu nền cho comment.



            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593229580/visual-studio-code-extension/Better_Comments_nqpbry.png"
              alt="Better Comments">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/aaron-bond/better-comments" target="_blank" title="Better Comments">
                Nguồn
                Better Comments
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments" target="_blank"
                title="Better Comments"> Trang Cài Đặt
                Better Comments
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                ESLint
              </h3>
            </div>
            <p>
              <b>ESLint</b> là một công cụ phân tích đoạn mã trong chương trình
              để đưa ra các lỗi cũng như những đoạn mã cần phải cải thiện. Ngoài ra nó cũng cung cấp cho bạn những
              giải pháp để tối ưu hay sửa lỗi một cách nhanh hơn.
              Bạn cũng có thể tùy chỉnh trình phân tích cú pháp của ESLint để phù hợp với mục đích hay dự án của mình.



            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593237075/visual-studio-code-extension/ESLint_yr1i9z.png"
              alt="ESLint">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/Microsoft/vscode-eslint" target="_blank" title="ESLint">
                Nguồn
                ESLint
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint" target="_blank"
                title="ESLint"> Trang Cài Đặt
                ESLint
              </a> </button>





            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Beautify
              </h3>
            </div>
            <p>
              <b>Beautify</b> là một tiện ích giúp bạn có thể định dạng lại cách hiển thị code
              một cách đẹp mắt hơn. Nó hỗ trợ cho các ngôn ngữ phổ biến hiện nay như là Javascript, JSON, CSS, Sass và
              HTML.


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593237384/visual-studio-code-extension/Beautify_ucakmz.png"
              alt="Beautify">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/HookyQR/VSCodeBeautify" target="_blank" title="Beautify">
                Nguồn
                Beautify
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify" target="_blank"
                title="Beautify"> Trang Cài Đặt
                Beautify
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Bracket Pair Colorizer
              </h3>
            </div>
            <p>
              <b>Bracket Pair Colorizer</b> là tiện ích mở rộng giúp làm nổi bật những dấu ngoặc tương ứng trong đoạn mã
              với nhau bằng cách sử dụng màu sắc. Nó giúp bạn có thể dễ dàng
              phát hiện những dấu ngoặc còn thiếu hay có cái nhìn trực quan khi có quá nhiều ngoặc lồng vào nhau trong
              đoạn code.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593238040/visual-studio-code-extension/Bracket_Pair_Colorizer_mysmgq.png"
              alt="Bracket Pair Colorizer">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/CoenraadS/BracketPair" target="_blank" title="Bracket Pair Colorizer">
                Nguồn
                Bracket Pair Colorizer
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer"
                target="_blank" title="Bracket Pair Colorizer"> Trang Cài Đặt
                Bracket Pair Colorizer
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Path Intellisense
              </h3>
            </div>
            <p>
              <b>Path Intellisense</b> là tiện ích mở rộng giúp bạn tự động thực hiện tên cho file (autocompletes
              filenames)
              thông qua cách gợi ý các đường dẫn mỗi khi bạn gõ đường dẫn đến nơi lưu trữ file.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593238405/visual-studio-code-extension/Path_Intellisense_rh6ftt.png"
              alt="Path Intellisense">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/ChristianKohler/PathIntellisense" target="_blank" title="Path Intellisense">
                Nguồn
                Path Intellisense
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense&ssr=false#overview"
                target="_blank" title="Path Intellisense"> Trang Cài Đặt
                Path Intellisense
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Import Cost
              </h3>
            </div>
            <p>
              <b>Import Cost</b> giúp bạn có thể kiểm tra kích thước của các file import một cách dễ dàng thông qua
              thông tin được hiển thị
              trực tiếp bên đoạn mã khi ta thực hiện import.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593239178/visual-studio-code-extension/Import_Cost_zw4euh.png"
              alt="Import Cost">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/wix/import-cost" target="_blank" title="Import Cost">
                Nguồn
                Import Cost
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=wix.vscode-import-cost" target="_blank"
                title="Import Cost"> Trang Cài Đặt
                Import Cost
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Code Time
              </h3>
            </div>
            <p>
              <b>Code Time</b> giúp bạn có thể tính toán thời gian mình làm việc trên visual studio code. Ngoài ra nó
              cũng tổng hợp thời gian bạn dành cho mỗi dự án,
              mức độ làm việc với code thông qua biểu đồ của các ngày trong tuần, hiển thị giá trị thời gian trung bình
              bạn làm việc trong một tháng...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593239711/visual-studio-code-extension/Code_Time_f2qfm9.png"
              alt="Code Time">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/swdotcom/swdc-vscode" target="_blank" title="Code Time">
                Nguồn
                Code Time
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=softwaredotcom.swdc-vscode" target="_blank"
                title="Code Time"> Trang Cài Đặt
                Code Time
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                CSS Peek
              </h3>
            </div>
            <p>
              <b>CSS Peek</b> tiện ích mở rộng giúp tìm các id hoặc class của các thẻ HTML trong những file CSS mà chứa
              những class hay thuộc tính đó.
              Ngoài ra nó cũng cho phép bạn đi đến các file CSS đó ngay lập tức.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593240106/visual-studio-code-extension/CSS_Peek_fzhzks.png"
              alt="CSS Peek">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/pranaygp/vscode-css-peek" target="_blank" title="CSS Peek">
                Nguồn
                CSS Peek
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=pranaygp.vscode-css-peek" target="_blank"
                title="CSS Peek"> Trang Cài Đặt
                CSS Peek
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Project Manager
              </h3>
            </div>
            <p>
              <b>Project Manager</b> tiện ích mở rộng giúp bạn dễ dàng chuyển đổi giữa các dự án trong VS Code.
              Nó cung cấp một menu phụ giúp bạn có thể lưu trữ các dự cần làm việc và chuyển đổi qua lại một cách nhanh
              chóng.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593240819/visual-studio-code-extension/Project_Manager_ioxwnb.png"
              alt="Project Manager">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/alefragnani/vscode-project-manager" target="_blank" title="Project Manager">
                Nguồn
                Project Manager
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager&ssr=false#overview"
                target="_blank" title="Project Manager"> Trang Cài Đặt
                Project Manager
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Browser Preview
              </h3>
            </div>
            <p>
              <b>Browser Preview</b> hiển thị trình duyệt ngay trên Visual Studio Code giúp bạn có thể xem kết quả cũng
              như debug
              cho chương trình một cách dễ dàng hơn.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593241103/visual-studio-code-extension/Browser_Preview_anpfkc.png"
              alt="Browser Preview">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/auchenberg/vscode-browser-preview" target="_blank" title="Browser Preview">
                Nguồn
                Browser Preview
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=auchenberg.vscode-browser-preview"
                target="_blank" title="Browser Preview"> Trang Cài Đặt
                Browser Preview
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                GitLens — Git supercharged
              </h3>
            </div>
            <p>
              <b>GitLens — Git supercharged</b> là tiện ích cung cấp nhiều tính năng hữu ích giúp bạn làm việc với Git
              một cách tốt hơn như là
              hiển thị chú thích cho từng dòng code về lập trình viên commit, hiển thị thông tin chi tiết các lần sửa
              đổi đoạn mã trong File...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593242560/visual-studio-code-extension/GitLens_Git_supercharged_vslnyl.png"
              alt="GitLens — Git supercharged">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/eamodio/vscode-gitlens" target="_blank" title="GitLens — Git supercharged">
                Nguồn
                GitLens — Git supercharged
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens" target="_blank"
                title="GitLens — Git supercharged"> Trang Cài Đặt
                GitLens — Git supercharged
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Polacode
              </h3>
            </div>
            <p>
              <b>Polacode</b> là tiện ích giúp bạn chụp hình đoạn code của mình và lưu lại ngay trên máy tính một cách
              dễ dàng.
              Ngoài ra bạn cũng có thể chọn những bộ theme được thiết kế sẵn giúp đoạn mã được nổi bật và đẹp hơn trong
              quá trình chụp.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593242894/visual-studio-code-extension/Polacode_gulbip.png"
              alt="Polacode">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/octref/polacode" target="_blank" title="Polacode">
                Nguồn
                Polacode
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=pnp.polacode" target="_blank"
                title="Polacode"> Trang Cài Đặt
                Polacode
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                vscode-icons
              </h3>
            </div>
            <p>
              <b>vscode-icons</b> là tiện ích chúng ta có thể thiết lập nhiều icon đẹp mắt cho Visual Studio Code.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593243152/visual-studio-code-extension/vscode-icons_k1i5au.png"
              alt="vscode-icons">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/vscode-icons/vscode-icons" target="_blank" title="vscode-icons">
                Nguồn
                vscode-icons
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=vscode-icons-team.vscode-icons"
                target="_blank" title="vscode-icons"> Trang Cài Đặt
                vscode-icons
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Settings Sync
              </h3>
            </div>
            <p>
              <b>Settings Sync</b> giúp bạn có thể lưu lại các thiết lập cho Visual Studio Code trên máy tính của mình
              lên trên Github và sử dụng cho các máy khác một cách dễ dàng
              ví dụ như là các thông tin về extension, hay các cài đặt mà mình đã thiết lập... Lúc này bạn dễ dàng thiết
              lập cho nhiều máy khác nhau mà không cần phải nhớ lại
              các extension, các thiết lập mà mình đã cài đặt cho VS Code.


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593243794/visual-studio-code-extension/Settings_Sync_quqygb.png"
              alt="Settings Sync">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/shanalikhan/code-settings-sync" target="_blank" title="Settings Sync">
                Nguồn
                Settings Sync
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync" target="_blank"
                title="Settings Sync"> Trang Cài Đặt
                Settings Sync
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Quokka
              </h3>
            </div>
            <p>
              <b>Quokka</b> giúp bạn có thể test từng đoạn code nhỏ Javascript, TypeScript và hiển thị trực tiếp trên VS
              Code mà không cần sử dụng
              <code>console.log()</code> để hiển thị trong trình duyệt.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593244498/visual-studio-code-extension/Quokka_ciroz3.png"
              alt="Quokka">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://quokkajs.com/docs/index.html" target="_blank" title="Quokka">
                Nguồn
                Quokka
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=WallabyJs.quokka-vscode" target="_blank"
                title="Quokka"> Trang Cài Đặt
                Quokka
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                EditorConfig
              </h3>
            </div>
            <p>
              <b>EditorConfig</b> là một tiện ích mở rộng giúp duy trì sự thống nhất style code cho nhiều lập trình viên
              khi làm cùng một dự án.
              Và mỗi lập trình viên có thể làm việc trên nhiều trình soạn thảo mã khác nhau như VSCode, Atom,
              Notepad++...
              thì nó đều hỗ trợ các plugin trên mỗi nền tảng giúp lập trình viên có thể đọc và chỉnh sửa style code một
              cách dễ dàng.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593245740/visual-studio-code-extension/EditorConfig_irg5ui.png"
              alt="EditorConfig">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://editorconfig.org/" target="_blank" title="EditorConfig">
                Nguồn
                EditorConfig
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig" target="_blank"
                title="EditorConfig"> Trang Cài Đặt
                EditorConfig
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Material Icon Theme
              </h3>
            </div>
            <p>
              <b>Material Icon Theme</b> là một tiện ích thiết lập icon Material Design cho Visual Studio Code.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593246197/visual-studio-code-extension/Material_Icon_Theme_xu2pys.png"
              alt="Material Icon Theme">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/PKief/vscode-material-icon-theme" target="_blank" title="Material Icon Theme">
                Nguồn
                Material Icon Theme
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme" target="_blank"
                title="Material Icon Theme"> Trang Cài Đặt
                Material Icon Theme
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Color Highlight
              </h3>
            </div>
            <p>
              <b>Color Highlight</b> là một tiện ích giúp bạn hiển thị màu cho các đối tượng được tìm thấy trong trang.
              Ví dụ nhiều mã màu mà VS Code không hiển thị được
              thì tiện ích này là một lựa chọn tuyệt vời cho bạn.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593256969/visual-studio-code-extension/Color_Highlight_xcewxz.png"
              alt="Color Highlight">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/egonyans/vscode-ext-color-highlight" target="_blank" title="Color Highlight">
                Nguồn
                Color Highlight
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=naumovs.color-highlight" target="_blank"
                title="Color Highlight"> Trang Cài Đặt
                Color Highlight
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                REST Client
              </h3>
            </div>
            <p>
              <b>REST Client</b> cho phép bạn gửi các yêu cầu HTTP và có thể xem kết quả trực tiếp trên Visual Studio
              Code.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593257244/visual-studio-code-extension/REST_Client_fshbyg.png"
              alt="REST Client">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/Huachao/vscode-restclient" target="_blank" title="REST Client">
                Nguồn
                REST Client
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=humao.rest-client" target="_blank"
                title="REST Client"> Trang Cài Đặt
                REST Client
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Live Share
              </h3>
            </div>
            <p>
              <b>Live Share</b> giúp những lập trình viên trong team có thể chia sẻ đoạn mã trong chương trình theo thời
              gian thực để
              dễ dàng trong việc chỉnh sửa cũng như debug cho chương trình như là chia sẻ debugging sessions, terminal
              instances, localhost web apps,
              voice calls...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593258251/visual-studio-code-extension/Live_Share_sbka18.png"
              alt="Live Share">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/MicrosoftDocs/live-share" target="_blank" title="Live Share">
                Nguồn
                Live Share
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare" target="_blank"
                title="Live Share"> Trang Cài Đặt
                Live Share
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Code Spell Checker
              </h3>
            </div>
            <p>
              <b>Code Spell Checker</b> giúp bạn kiểm tra lỗi chính tả của đoạn mã trong chương trình. Tuy nhiên nó chỉ
              hỗ trợ các ngôn ngữ như tiếng Anh,
              Thụy Điển, Pháp, Đức... và chưa có tiếng Viết Nam nha.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593258514/visual-studio-code-extension/Code_Spell_Checker_uze8cu.png"
              alt="Code Spell Checker">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/MicrosoftDocs/live-share" target="_blank" title="Code Spell Checker">
                Nguồn
                Code Spell Checker
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker"
                target="_blank" title="Code Spell Checker"> Trang Cài Đặt
                Code Spell Checker
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Vetur
              </h3>
            </div>
            <p>
              <b>Vetur</b> là tiện ích mở rộng cung cấp các công cụ hữu ích cho VueJS như là debug, kiểm tra lỗi,
              Syntax-highlighting, snippet...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593259105/visual-studio-code-extension/Vetur_cf6trt.png"
              alt="Vetur">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/vuejs/vetur" target="_blank" title="Vetur">
                Nguồn
                Vetur
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=octref.vetur" target="_blank" title="Vetur">
                Trang Cài Đặt
                Vetur
              </a> </button>



           




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                ES7 React/Redux/GraphQL/React-Native snippets
              </h3>
            </div>
            <p>
              <b>ES7 React/Redux/GraphQL/React-Native snippets</b> là tiện ích mở rộng cung cấp các snippet cho
              React, Redux và Graphql trong JS/TS với ccu1 pháp ES7.
              Bạn có thể tham khảo  bảng cú pháp trong trang chính của nó
              nhé!
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593259571/visual-studio-code-extension/ES7_React_Redux_GraphQL_React-Native_snippets_iiz1wh.png"
              alt="	ES7 React/Redux/GraphQL/React-Native snippets">
            <button type="button " class="btn mr-md-4  btn-dark mt-4"> <a class="text-white"
                href="https://github.com/dsznajder/vscode-es7-javascript-react-snippets" target="_blank" title=" ES7 React/Redux/GraphQL/React-Native snippets">
                Nguồn
                ES7 React/Redux/GraphQL/React-Native snippets
              </a> </button>

            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://marketplace.visualstudio.com/items?itemName=dsznajder.es7-react-js-snippets"
                target="_blank" title="	ES7 React/Redux/GraphQL/React-Native snippets"> Trang Cài Đặt
                ES7 React/Redux/GraphQL/React-Native snippets
              </a> </button>



























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những extension Visual Studio Code hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>