<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i>Timepicker
                Snippet trong Bootstrap</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Hôm nay chúng ta sẽ đi tìm hiểu cách thiết kế component timepicker bằng cách kết hợp HTML, CSS,
                Javascript
                và Bootstrap nhé.</i>
            </p>
            <!--<div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>-->

            <p class="mt-4">
              Timepicker là một ô nhập dữ liệu trong form giúp người dùng chọn thời gian tùy vào mục đích của chúng ta.
              Ví dụ ở trong form đăng ký thì đa số đều bắt bạn nhập ngày, tháng, năm sinh thì đây chính là một kiểu
              timepicker. Nó giúp cho người dùng tiết kiệm thời gian và hạn chế tối đa việc xảy ra các lỗi cú pháp khi
              phải nhập bằng tay.
            </p>

            <p>Để hiểu rõ hơn bạn xem ví dụ về Timepicker của trang web <a href="https://www.norwegian.com/us/"
                title="ví dụ về dateppicker" target="_blank">hwww.norwegian.com</a> dưới đây nhé:</p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587351233/Datepicker%20snippet/V%C3%AD-d%E1%BB%A5-v%E1%BB%81-datepicker-html-css-javascript_ejw86w.png"
              alt="Ví dụ về Timepicker  trong trang web">

            <p class="mt-4">
              Khi bạn thiết kế một component timepicker thì việc chúng ta quan tâm là làm sao người dùng có thể dễ dàng
              sử dụng nhất có thể. Ở đây bạn có thể phân tách ngày tháng năm thành ba phần
              riêng biệt với mỗi phần là một ô select(chọn) hay sử dụng component dropdown để hiển thị giá trị. Một lưu
              ý nhỏ là khi sử dụng timpicker dạng này bạn cần phải kiểm tra
              dữ liệu thông tin người dùng nhập vào một cách cẩn thận vì rất có thể không đúng với thực tế ví dụ như
              ngày 31 tháng 2.
              Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
            </p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587354391/Datepicker%20snippet/v%C3%AD-d%E1%BB%A5-v%E1%BB%81-datepicker-dropdown_kgz05e.png"
              alt="Ví dụ về Timepicker  Dropdown trong trang web">

            <p class="mt-4">
              Cách thứ hai là bạn có thể cho người dùng nhập vào giá trị số trong component timepicker với định dạng
              được bạn xác định từ trước hay cũng có thể theo hướng dẫn của bạn.
              Ví dụ khi bạn muốn hướng dẫn người dùng nhập ngày tháng năm theo đúng cú pháp thì có thể đặt hướng dẫn như
              sau: <b>yyyy-mm-dd</b> thì khi đó người ta sẽ hiểu là
              <b>năm-tháng-ngày</b>. Và bạn cũng nên kết hợp với calenderpicker để người dùng nhìn trên lịch có thể dễ
              hình dung hơn. Để hiểu rõ hơn bạn hãy xem ví dụ dưới đây nhé:
            </p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587356557/Datepicker%20snippet/v%C3%AD-d%E1%BB%A5-v%E1%BB%81-datepicker-input-v%E1%BB%9Bi-calendarpicker_ziwjbh.png"
              alt="Ví dụ về Timepicker  input  trong trang web">
            <p class="mt-4">
              Nếu bạn muốn tiết kiệm thời gian cũng như giảm các lỗi nhập sai định dạng cho người dùng thì nên sử dụng
              calendar(lịch). Nó giúp hiển thị trực quan các ngày tháng trong năm và thân thiện với màn hình
              moblie. Để hiểu rõ hơn bạn xem hình ảnh sau đây nhé:
            </p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587357868/Datepicker%20snippet/vi-du-ve-datepicker-calendar_tyrlrt.png"
              alt="Ví dụ về Timepicker  kết hợp calendar  trong trang web">

            <p class="mt-4">
              Chúng ta cũng có thể tích hợp chọn thời gian vào trong timepicker. Nó sẽ phù hợp với một số ngữ cảnh nhất
              định như chúng ta muốn tạo một form đặt chuyến bay thì ngoài ngày tháng năm ra thì bạn cần biết
              thêm thông tin mà người dùng muốn bay. Để hiểu rõ hơn bạn xem ví dụ dưới đây nhé:
            </p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587358866/Datepicker%20snippet/vi-du-ve-timepicker-chon-thoi-gian_w5sq0q.png"
              alt="Ví dụ về Timepicker  kết hợp input chọn thời gian  trong trang web">

            <p class="mt-4">Sau khi hiểu sơ lược về timepicker thì sau đây mình sẽ giới thiệu một số Timepicker snippet
              giúp bạn có sự lựa chọn tốt nhất để phù hợp với mục đích
              cũng như thiết kế, bố cục trang web của bạn.
            </p>




            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">jQuery UI Date Picker:</h4>
              </div>
            </div>

            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587365939/Datepicker%20snippet/jQuery_UI_Date_Picker_tez5tg.png"
              alt="jQuery UI Date Picker">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aktorou"
              data-slug-hash="MymKoB"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="jQuery UI Date Picker">
              <span>See the Pen <a href="https://codepen.io/aktorou/pen/MymKoB">
                  jQuery UI Date Picker</a> by Ashley Ktorou (<a href="https://codepen.io/aktorou">@aktorou</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/aktorou/pen/MymKoB" target="_blank">jQuery UI
                Date Picker</a>.
            </p>


            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">Bootstrap Datepickers Inline Sliding:</h4>
              </div>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587366188/Datepicker%20snippet/Bootstrap_Datepickers_Inline_Sliding_l8jacb.png"
              alt="Bootstrap Datepickers Inline Sliding">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="vushe"
              data-slug-hash="gmrMjv"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Bootstrap datepickers inline sliding (demo)">
              <span>See the Pen <a href="https://codepen.io/vushe/pen/gmrMjv">
                  Bootstrap datepickers inline sliding (demo)</a> by Valentin Dzhankhotov (<a
                  href="https://codepen.io/vushe">@vushe</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/vushe/pen/gmrMjv" target="_blank">Bootstrap
                Datepickers Inline Sliding</a>.
            </p>


            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">Bootstrap Date_Picker Vaildate:</h4>
              </div>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587367733/Datepicker%20snippet/Bootstrap_Date_Picker_Vaildate_lgryhs.png"
              alt="Bootstrap Date_Picker Vaildate">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="sykarra"
              data-slug-hash="eWKOjR"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="bootstrap date picker vaildate">
              <span>See the Pen <a href="https://codepen.io/sykarra/pen/eWKOjR">
                  bootstrap date picker vaildate</a> by Peter Schöning (<a
                  href="https://codepen.io/sykarra">@sykarra</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>


            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/sykarra/pen/eWKOjR" target="_blank">Bootstrap
                Date_Picker Vaildate</a>.
            </p>



            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">Air-Datepicker:</h4>
              </div>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587368168/Datepicker%20snippet/Air-Datepicker_zgz3in.png"
              alt="Bootstrap Date_Picker Vaildate">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="ankithingarajiya" data-slug-hash="jjOxMo"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="air-datepicker">
              <span>See the Pen <a href="https://codepen.io/ankithingarajiya/pen/jjOxMo">
                  air-datepicker</a> by Ankit Hingarajiya (<a
                  href="https://codepen.io/ankithingarajiya">@ankithingarajiya</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>



            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/ankithingarajiya/pen/jjOxMo"
                target="_blank">Air-Datepicker</a>.
            </p>


            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">Flatpickr:</h4>
              </div>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587369103/Datepicker%20snippet/Timepicker-flat_g0rmat.png"
              alt="Timepicker Flatpickr">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="riyos94" data-slug-hash="xppbBj"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Flatpickr">
              <span>See the Pen <a href="https://codepen.io/riyos94/pen/xppbBj">
                  Flatpickr</a> by Rio Dwi Prabowo (<a href="https://codepen.io/riyos94">@riyos94</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>




            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/riyos94/pen/xppbBj"
                target="_blank">Flatpickr</a>.
            </p>


            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">Date and Time Picker:</h4>
              </div>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587370268/Datepicker%20snippet/Date-Time-Picker-Bootstrap_msdaps.png"
              alt="Time và Date Picker">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="YzyGWKa"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title=" Date and Time Picker(Source from bbbootstrap)">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/YzyGWKa">
                  Date and Time Picker(Source from bbbootstrap)</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>




            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a
                href="https://bbbootstrap.com/snippets/dark-themed-date-and-time-picker-76906698" target="_blank">Date
                and Time Picker</a>.
            </p>


            <!--New-->
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h4 class="text-primary ml-4 title-article-size">Bootstrap Datepicker:</h4>
              </div>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587370781/Datepicker%20snippet/Bootstrap-Datepicker_gudpax.png"
              alt="Bootstrap Datepicker">
            <p class="mt-4">
              Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="hexagoncircle" data-slug-hash="XdZrKa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap Datepicker Demo">
              <span>See the Pen <a href="https://codepen.io/hexagoncircle/pen/XdZrKa">
              Bootstrap Datepicker Demo</a> by Ryan Mulligan (<a href="https://codepen.io/hexagoncircle">@hexagoncircle</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
 




            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Do đây sử dụng <b>SCSS, Pug</b> nếu bạn muốn sử dụng HTML, CSS thì có thể xem tại đây nha : 
              <a
              href="https://pughtml.com/" target="_blank">Pug to HTML</a> và
              <a
              href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/hexagoncircle/pen/XdZrKa" target="_blank">Bootstrap Datepicker</a>.
            </p>


               <!--New-->
               <div class="row">
                <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                  <h4 class="text-primary ml-4 title-article-size">Bootstrap Date Range Picker:</h4>
                </div>
              </div>
              <img class="img-thumbnail shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587371371/Datepicker%20snippet/Date-range-picker_mawmzh.png"
                alt="Bootstrap Date Range Picker">
              <p class="mt-4">
                Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="vYNXKmV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap Date Range Picker(Source from bbootstrap)">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/vYNXKmV">
                Bootstrap Date Range Picker(Source from bbootstrap)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
             
  
  
  
  
              <p class="mt-4">
                Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                Còn đây là nguồn mình sao chép: <a
                  href="https://bbbootstrap.com/snippets/green-themed-datepicker-date-range-54853616" target="_blank">Bootstrap Date Range Picker</a>.
              </p>


              
               <!--New-->
               <div class="row">
                <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                  <h4 class="text-primary ml-4 title-article-size">Datepicker With Date Range:</h4>
                </div>
              </div>
              <img class="img-thumbnail shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587371728/Datepicker%20snippet/Datepicker-With-Date-Range_hgebdu.png"
                alt="Datepicker With Date Range">
              <p class="mt-4">
                Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="GRpjqvz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Datepicker With Date Range(Source from  bbbootstrap)">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/GRpjqvz">
                Datepicker With Date Range(Source from  bbbootstrap)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
             
              <p class="mt-4">
                Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                Còn đây là nguồn mình sao chép: <a
                  href="https://bbbootstrap.com/snippets/orange-themed-datepicker-date-range-30620898" target="_blank">Datepicker With Date Range</a>.
              </p>


                <!--New-->
                <div class="row">
                  <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                    <h4 class="text-primary ml-4 title-article-size">Datepicker:</h4>
                  </div>
                </div>
                <img class="img-thumbnail shadow p-2 lazyload"
                  data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587372204/Datepicker%20snippet/Date-Picker_hzzn1u.png"
                  alt="Datepicker">
                <p class="mt-4">
                  Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="samwooly" data-slug-hash="eyBmKz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Journey - Date picker">
                  <span>See the Pen <a href="https://codepen.io/samwooly/pen/eyBmKz">
                  Journey - Date picker</a> by Sam Woolerton (<a href="https://codepen.io/samwooly">@samwooly</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
        
               
                <p class="mt-4">
                  Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                  nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                  Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                  href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                  Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                  vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                  Còn đây là nguồn mình sao chép: <a
                    href="https://codepen.io/samwooly/pen/eyBmKz" target="_blank">Datepicker</a>.
                </p>


                         <!--New-->
                         <div class="row">
                          <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                            <h4 class="text-primary ml-4 title-article-size">Material Design Calendar:</h4>
                          </div>
                        </div>
                        <img class="img-thumbnail shadow p-2 lazyload"
                          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587372515/Datepicker%20snippet/Material-Design-Calendar_l3crx5.png"
                          alt="Material Design Calendar">
                        <p class="mt-4">
                          Đây là đoạn code và khi hiển thị trên web của Timepicker này nhé:
                        </p>
                        <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="Jacobdo" data-slug-hash="GNEeVR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material design calendar + input">
                          <span>See the Pen <a href="https://codepen.io/Jacobdo/pen/GNEeVR">
                          Material design calendar + input</a> by Jacob (<a href="https://codepen.io/Jacobdo">@Jacobdo</a>)
                          on <a href="https://codepen.io">CodePen</a>.</span>
                        </p>
                    
                       
                        <p class="mt-4">
                          Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                          nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                          Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                          href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                          Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                          vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                          Còn đây là nguồn mình sao chép: <a
                            href="https://codepen.io/Jacobdo/pen/GNEeVR" target="_blank">Material Design Calendar</a>.
                        </p>


         





















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>

            <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc thiết kế giao diện component Timepicker
              cho
              trang web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>