<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><b><i>Trong quá trình phát triển ngày nay thì video ngày càng được sử dụng rộng rãi và phổ biến mà điển
                  hình nhất là mạng xã hội video Youtube.
                  Vì vậy để bắt kịp xu hướng thì mình nghĩ trang web của chúng ta cũng nên sử dụng thêm loại nội dung
                  video để nâng cao trải nghiệm người dùng cũng như
                  mang đến tính đa dạng phong phú cho website. Do đó ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu
                  HTML5 Video là gì và cách nhúng video vào trang web nhé!</i></b></p>
          </div>
          <hr />


          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">HTML5 Video Là Gì?</h2>
          </div>
          <p>
            Trước đây khi để sử dụng video cho trang web thì chúng ta thường hay sử dụng Adobe Flash Player. Tuy nhiên
            khi phiên bản HTML5
            được phát hành thì bạn có thể dễ dàng nhúng video vào website thông qua thẻ <code>video</code>.<br />
            Những lợi ích khi chúng ta sử dụng tính năng video của HTML là:
            <ul>
              <li>Tốc độ website được cải thiện, trình duyệt ít gặp sự cố hơn.</li>
              <li>Chúng ta có thể cung cấp nhiều loại định dạng video khác nhau cho từng trình duyệt(webm, mp4, ogv...)
              </li>
              <li>Hiển thị các thành phần điều khiển video như là dừng(pause), chơi(play), điều chỉnh âm thanh...</li>
              <li>Cho phép video có tự động phát(autoplay) trong website hay không.</li>
              <li>Cho phép thiết lập poster(hình ảnh của video) khi video đang được load hoặc tải xuống.</li>
              <li>Hỗ trợ cho việc cung cấp các phụ đề chú thích với nhiều loại ngôn ngữ khác nhau.</li>
            </ul>
          </p>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách Sử Dụng Thẻ <code>video</code> Cho Website</h3>
          </div>
          <p>
            Để thêm video vào cho trang web thì bạn hãy xem cấu trúc tổng quát sau nhé:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;video&nbsp;width="640"&nbsp;height="480"&nbsp;poster="poster-video.jpg"&nbsp;controls&nbsp;autoplay&nbsp;preload&#62;<br/> &nbsp;&#60;source&nbsp;src="video.webm"&nbsp;type="video/webm"&#62;<br/> &nbsp;&#60;source&nbsp;src="video.ogv"&nbsp;type="video/ogg"&#62;<br/> &nbsp;&#60;source&nbsp;src="video.mp4"&nbsp;type="video/mp4"&#62;<br/> &nbsp;&#60;track&nbsp;src="subtitles-en.vtt"&nbsp;kind="subtitles"&nbsp;srclang="en"&nbsp;label="English"&nbsp;default&#62;<br/> &#60;/video&#62;<br/></code></pre>
          <p class="mt-4">
            Ở đây mình xin giải thích một tí nhé:
          </p>
          <ul>
            <li><strong>width</strong>: độ rộng của đối tượng video trong trang web.</li>
            <li><strong>height</strong>: độ cao của đối tượng video trong trang web.</li>
            <li><strong>poster</strong>: hiển thị hình ảnh khi video đang được load hay tải xuống.</li>
            <li><strong>controls</strong>: hiển thị các nút điều khiển mặc định cho video.</li>
            <li><strong>autoplay</strong>: tự động phát video hoặc không.</li>
            <li><strong>preload</strong>: cho phép tải trước video.</li>
            <li><strong>source</strong>: cho phép bạn thiết lập nhiều định dạng của video để đề phòng một số trình duyệt không hỗ trợ định dạng video chính.</li>
            <li><strong>track</strong>: cung cấp phụ đề cho video.</li>
          </ul>


          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Ví dụ HTML5 Video Cơ Bản</h3>
          </div>  
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html"> &#60;video&nbsp;width="400"&nbsp;height="250"&nbsp;controls&#62;<br/> &nbsp;&nbsp;&#60;source&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/HTML5_video/video_vi_du.mp4"&nbsp;type="video/mp4"&#62;<br/> &#60;/video&#62;<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem dự án Codepen bên dưới nhé:
          </p>
          <p class="codepen" data-height="357" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="GRjEpab" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="video_html5_coban">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/GRjEpab">
            video_html5_coban</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Xác định thời gian bắt đầu và kết thúc của video</h3>
          </div>  
          <p>
            Thông thường thời gian của video sẽ bắt đầu từ 0 giây. Nhưng nếu như bạn muốn bắt đầu video ở thời gian khác thì chúng ta có thể
            sử dụng cấu trúc dưới đây:<br/>
            <b><code>#t=[thời gian bắt đầu],[thời gian kết thúc]</code></b>
          </p>
          <p>
            Lưu ý bạn sẽ thêm cái này ngay sau đường dẫn video ở trong source nhé. Để hiểu rõ hơn bạn xem ví dụ cho
            video  bắt đầu vào giây thứ 5 và kết thúc vào giây thứ 15 ở dự án dưới đây nha:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&nbsp;&#60;video&nbsp;width="400"&nbsp;height="250"&nbsp;controls&#62;<br/> &nbsp;&nbsp;&nbsp;&#60;source&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/HTML5_video/video_vi_du.mp4#t=5,15"&nbsp;type="video/mp4"&#62;<br/> &nbsp;&#60;/video&#62;<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem dưới đây nhé:
          </p>

          <p class="codepen" data-height="357" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="BaLZjNN" data-preview="true" style="height: 357px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="xac dinh thoi gian bat dau ket thuc cua video">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/BaLZjNN">
            xac dinh thoi gian bat dau ket thuc cua video</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <div class="col-sm-12 bg-light p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Cách sử dụng poster cho video</h3>
          </div>  
          <p>
            Trong ví dụ này chúng ta sẽ sử dụng poster để hiện thị hình ảnh của video trước khi phát
            thông qua đoạn mã sau nhé:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html"> &#60;video&nbsp;width="400"&nbsp;height="250"&nbsp;poster="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/HTML5_video/Poster%20Video.png"&nbsp;controls&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;source&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/HTML5_video/video_vi_du.mp4"&nbsp;type="video/mp4"&#62;<br/> &nbsp;&#60;/video&#62;<br/></code></pre>
          <p class="mt-4">
            Và kết quả bạn xem dự án bên dưới nhé:
          </p>
          <p class="codepen" data-height="357" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="XWjgXdE" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="su dung poster trong video html5">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/XWjgXdE">
            su dung poster trong video html5</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
      
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Cách Nhúng Video Youtube Vào Trang Web</h2>
          </div>
          <p>
            Trong phần này chúng ta sẽ đi vào ví dụ cách nhúng video youtube cho trang web
            cũng như hiển thị responsive trên nhiều màn hình thiết bị thông qua đoạn code sau nhé:
          </p>
          <h4 class="text-primary">
            HTML
          </h4>
          <pre><code class="html">&#60;h2&#62;Cách&nbsp;Hiển&nbsp;Thị&nbsp;responsive&nbsp;video&nbsp;Youtube&#60;h2&#62;<br/> &#60;div&nbsp;class="video-container"&#62;<br/> &nbsp;&nbsp;&#60;iframe&nbsp;src="https://www.youtube.com/embed/SV4lbsaBLuI"<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;frameborder="0"&nbsp;width="560"&nbsp;height="315"&#62;<br/> &nbsp;&nbsp;&#60;/iframe&#62;<br/> &#60;/div&#62;<br/></code></pre>
          <h4 class="text-primary mt-4">
            CSS
          </h4>
          <pre><code class="css">.video-container&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-bottom:&nbsp;56.25%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> }<br/>.video-container&nbsp;iframe,<br/> .video-container&nbsp;object,<br/> .video-container&nbsp;embed&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;100%;<br/> }<br/></code></pre>
          <p class="mt-4">
            Và kết quả cuối cùng bạn xem bên dưới nhé:
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="abmwdJa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Nhúng Video Youtube Vào Trang Web">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/abmwdJa">
            Nhúng Video Youtube Vào Trang Web</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          
          <p class="mt-4">
            Đây là đường dẫn tham  khảo: <a href="https://web.dev/video-and-source-tags/" target="_blank" rel="noopener noreferrer">The &#60;video&#62; and &#60;source&#62; tags</a>
          </p>
          <p>
            Nếu bạn muốn tham khảo các thư viện hỗ trợ tạo HTML5 Video thì có thể truy cập đường dẫn: <a href="https://www.niemvuilaptrinh.com/article/Thu-Vien-Tao-HTML5-Video-Tot-Nhat-Cho-Phat-Trien-Web2020">Thư Viện Tạo HTML5 Video Tốt Nhất Dành Cho Website</a>.
          </p>
          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kiến thức tìm hiểu về SEO hữu
            ích dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có
            thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một
            ngày vui vẻ!</p>
      </div>
      </article>
















    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>