<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Tiện Ích Chrome Mà Một Lập Trình Viên Nên Biết 2020 </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Google Chorme là một trình duyệt web được sản xuất năm 2008, là một trong những sản phẩm nổi tiếng và
                thành công của Google.
                Nó là một trình duyệt web đa nền tảng với khả năng bảo mật cao cũng như mang đến trải nghiệm tuyệt vời
                khi duyệt web.
                Không chỉ vậy nó còn cung cấp các tiện ích mở rộng giúp những lập trình viên có thể cải thiện năng suất
                làm việc
                cũng như tiết kiệm thời gian và công sức. Bây giờ chúng ta hãy cùng nhau tìm hiểu các tiện ích mở rộng
                được những bạn lập trình web
                hay sử dụng nha.
              </i>
            </p>

            <p>

            </p>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.whatruns.com/" title="WhatRuns" target="_blank">
                    Tiện ích WhatRuns
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>WhatRuns</b> giúp chúng ta xác định những công nghệ web đang được sử dụng trên website
              như framework, công cụ phân tích, plugin của Wordpress, Font...
              Bạn chỉ cần truy cập vào trang mình muốn và click vào biểu tượng whatruns thì các thông tin sẽ hiện ra đầy đủ
              chưa tới 1 phút.
              Ngoài ra bạn cũng có thể đăng ký để nhận thông báo khi trang web bạn muốn theo dõi thêm các công nghệ mới
              vào cho trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591182544/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-whatruns_alkpob.png"
              alt="Tiện ích chorme whatrun">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.whatruns.com/" target="_blank" title="WhatRuns">
                Nguồn WhatRuns
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/whatfont/jabopobgcpjmedljpbcaablpmlmfcogm"
                    title="WhatFont" target="_blank">
                    Tiện ích WhatFont
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>WhatFont</b> giúp chúng ta xác định dễ dàng xác định thành phần của một trang web đang sử dụng
              font nào.
              Bạn chỉ cần cài đặt và di chuyển chuột lên đối tượng mà chúng ta muốn xem là có thể thấy tên font chữ của
              nó rồi. Thật đơn giản phải không nào.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591183491/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-what-font_s6xe33.png"
              alt="Tiện ích chorme WhatFont">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/whatfont/jabopobgcpjmedljpbcaablpmlmfcogm"
                target="_blank" title="WhatFont">
                Nguồn WhatFont
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp/related"
                    title="Colorzilla" target="_blank">
                    Tiện ích Colorzilla
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Colorzilla</b> giúp chúng ta có thể đọc giá trị màu của bất kỳ đối tượng nào trên trang web.
              Ngoài ra nó còn hỗ trợ một số tính năng hữu ích khác như là tự động sao chép màu vào clipboard,
              hiển thị lịch sử các màu được chúng ta chọn gần đây, bộ chọn màu nâng cao...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591184169/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Colorzilla_tzbgk1.png"
              alt="Tiện ích chorme Colorzilla">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp/related"
                target="_blank" title="Colorzilla">
                Nguồn Colorzilla
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/window-resizer/kkelicaakdanhinjdeammmilcgefonfh/related?hl=en"
                    title="Window Resizer" target="_blank">
                    Tiện ích Window Resizer
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Window Resizer</b> là một công cụ quan trọng giúp chúng ta có thể xây dựng hay kiểm tra tính
              responsive của trang web trên trình duyệt một cách
              nhanh chóng như màn hình điện thoại, máy tính bảng, laptop, Desktop... Ngoài ra bạn cũng có thể tự động
              điều chỉnh kích thước hiển thị mà mình mong muốn bằng
              cách thiết lập độ rộng và độ cao cho cửa sổ trình duyệt.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591191053/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Window-Resizer_okxx3o.png"
              alt="Tiện ích chorme Window Resizer">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/window-resizer/kkelicaakdanhinjdeammmilcgefonfh/related?hl=en"
                target="_blank" title="Window Resizer">
                Nguồn Window Resizer
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm"
                    title="Web Developer" target="_blank">
                    Tiện ích Web Developer
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Web Developer</b> là một trong những số ít được hơn 1 triệu người dùng cài đặt. Nó giúp các
              lập trình viên web
              trong việc phát triển và kiểm tra lỗi trang web một cách nhanh chóng. Tiện ích này là nơi tập hợp nhiều công
              cụ
              khác nhau như Disable, Cookies, CSS, Forms, Image... Bạn có thể dễ dàng tìm những hình ảnh bị lỗi, không
              cho phép trang web chạy javascript,
              kiểm tra CSS có đạt tiêu chuẩn hay không, ẩn tất cả hình ảnh, hiển thị thông tin của các đường dẫn trong
              trang web hiện tại...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591192585/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Web-Developer_zxy3vw.png"
              alt="Tiện ích chorme Web Developer">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm"
                target="_blank" title="Web Developer">
                Nguồn Web Developer
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/javascript-and-css-code-b/iiglodndmmefofehaibmaignglbpdald"
                    title="JavaScript and CSS Code Beautifier" target="_blank">
                    Tiện ích JavaScript and CSS Code Beautifier
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>JavaScript and CSS Code Beautifier</b> giúp làm đẹp lại mã CSS và Javascript giúp chúng ta dễ
              nhìn hơn.
              Thông thường khi người ta tải một website lên hosting, để tối ưu tốt nhất có thể thì người ta thường nén
              các file CSS và Javascript
              bằng cách xóa bỏ những khoảng trắng không cần thiết như hình ảnh sau đây:

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591193457/tien-ich-google-chorme-cho-lap-trinh-vien/minh-hoa-nen-file-js_xcwayn.png"
              alt="Tiện ích chorme JavaScript and CSS Code Beautifier">
            <p class="mt-4">
              Như bạn thấy thì chúng ta không thể tài nào xem code một cách dễ dàng được vì nó là các chữ liên tục liền
              kề nhau do đó tiện ích này giúp chúng ta sắp xếp
              code lại một cách khoa học và dễ nhìn hơn. Bạn xem hình ảnh bên dưới sau khi ta sử dụng JavaScript and CSS
              Code Beautifier nhé:

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591194387/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-JavaScript-and-CSS-Code-Beautifier_gzfr1c.png"
              alt="Tiện ích chorme JavaScript and CSS Code Beautifier" />

            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/javascript-and-css-code-b/iiglodndmmefofehaibmaignglbpdald"
                target="_blank" title="JavaScript and CSS Code Beautifier">
                Nguồn JavaScript and CSS Code Beautifier
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop/related?hl=en%20"
                    title="Postman" target="_blank">
                    Tiện ích Postman
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Postman</b> là một ứng dụng giúp chúng ta tạo các yêu cầu HTTP đến máy chủ.
              Nó thật sự hữu ích khi bạn chạy hay kiểm tra API cho chương trình của mình và nó cũng cho phép bạn thực
              hiện các yêu cầu GET, POST, DELETE, PUT một cách dễ dàng.
              Ngoài ra nó còn có diễn đàn với số lượng lập trình viên đông đảo giúp chúng ta giải quyết các thắc khi mới
              bắt đầu sử dụng postman.


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591195321/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-postman_fahfvy.png"
              alt="Tiện ích chorme Postman">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop/related?hl=en%20"
                target="_blank" title="Postman">
                Nguồn Postman
              </a>
            </button>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/lorem-ipsum-generator-def/mcdcbjjoakogbcopinefncmkcamnfkdb?hl=en%20"
                    title="Lorem Ipsum Generator" target="_blank">
                    Tiện ích Lorem Ipsum Generator
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Lorem Ipsum Generator</b> giúp chúng ta nhanh chóng tạo một văn bản bằng việc xác định thiết
              lập số đoạn văn và số dòng mà chúng
              ta mong muốn. Khi bạn xây dựng các component trong trang web thì việc dùng nội dung để kiểm tra hay xem
              cách nó
              hiển thị trên trang web là chuyện thường xuyên xảy ra. Do đó tiện ích này giúp chúng ta có thể tạo ra
              những nội dung giả
              chỉ bằng một cú click chuột.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591235502/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Lorem-Ipsum-Generator_sldndk.png"
              alt="Tiện ích chorme Lorem Ipsum Generator">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/lorem-ipsum-generator-def/mcdcbjjoakogbcopinefncmkcamnfkdb?hl=en%20"
                target="_blank" title="Lorem Ipsum Generator">
                Nguồn Lorem Ipsum Generator
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/cssviewer/ggfgijbpiheegefliciemofobhmofgce"
                    title="CSSViewer" target="_blank">
                    Tiện ích CSSViewer
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>CSSViewer</b> giúp chúng ta xem thuộc tính CSS của một đối tượng trong trang web một cách tổng
              quát nhất như
              màu sắc, font chữ, kích thước, vị trí... Bạn chỉ cần chọn tiện ích này và đưa chuột lên đối tượng mà chúng
              ta muốn thì thông tin CSS sẽ tự động hiện ra.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591236994/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-CSSViewer_ppny0y.png"
              alt="Tiện ích chorme CSSViewer">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/cssviewer/ggfgijbpiheegefliciemofobhmofgce"
                target="_blank" title="CSSViewer">
                Nguồn CSSViewer
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/page-ruler-redux/giejhjebcalaheckengmchjekofhhmal"
                    title="Page Ruler Redux" target="_blank">
                    Tiện ích Page Ruler Redux
                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Page Ruler Redux</b> giúp chúng ta lấy kích thước của một đơn vị trên trang web được tính bằng
              pixel.
              Nó phù hợp với những bạn thiết kế web khi cần phải lấy chính xác kích thước của một thành phần nào đó trên
              trang web.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591237879/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Page-Ruler-Redux_g4zpih.png"
              alt="Tiện ích chorme Page Ruler Redux">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/page-ruler-redux/giejhjebcalaheckengmchjekofhhmal"
                target="_blank" title="Page Ruler Redux">
                Nguồn Page Ruler Redux
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/tineye-reverse-image-sear/haebnnbpedcbhciplfhjjkbafijpncjl"
                    title="TinEye Reverse Image Search" target="_blank">
                    Tiện ích TinEye Reverse Image Search

                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>TinEye Reverse Image Search</b> sử dụng công nghệ nhận dạng hình ảnh giúp bạn tìm kiếm hình
              ảnh trong trang web
              với các kết quả là nhiều đường dẫn khác nhau chứa hình ảnh đó đã được thay đổi kích thước,
              chỉnh sửa hay có độ phân giải khác... Cách thức thực hiện cũng khá đơn giản bạn nhấp chuột phải vào hình
              mà bạn muốn tìm kiếm và chọn
              <i>Search Image on TinEye</i> và chờ một tý là chúng ta sẽ có kết quả. Và dưới đây là kết quả khi mình tìm
              kiếm hình ảnh của Google:
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591238917/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-TinEye-Reverse-Image-Search_uar59b.png"
              alt="Tiện ích chorme TinEye Reverse Image Search">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/tineye-reverse-image-sear/haebnnbpedcbhciplfhjjkbafijpncjl"
                target="_blank" title="TinEye Reverse Image Search">
                Nguồn Page TinEye Reverse Image Search
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/the-great-suspender/klbibkeccnjlkjkiokjodocebajanakg/related"
                    title="The Great Suspender" target="_blank">
                    Tiện ích The Great Suspender

                  </a>
                </h3>
              </div>
            </div>
            <p>
              Như bạn đã biết khi sử dụng Google Chorme thì vấn đề sử dụng Ram luôn là một yếu tố quan trọng
              để cải thiện tốc độ của máy tính. Tiện ích <b>The Great Suspender</b> giúp chúng ta tạm dừng các tab không
              được sử dụng  giúp cho trình duyệt có thể chạy mượt mà hơn.
              Bạn cũng có thể thực hiện tạm dừng cho các tab  trong khoảng thời gian nhất định khi không được sử dụng như
              20s, 1 phút, 5 phút...
              nó cũng cung cấp thêm cho chúng ta vài công cụ hữu ích như tự động đóng các tab đang phát âm thanh, xác
              định danh sách
              url mà bạn không muốn tạm ngưng...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591239805/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Great-Suspender_erpuc5.png"
              alt="Tiện ích chorme The Great Suspender">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/the-great-suspender/klbibkeccnjlkjkiokjodocebajanakg/related"
                target="_blank" title="The Great Suspender">
                Nguồn Page The Great Suspender
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/marmoset/npkfpddkpefnmkflhhligbkofhnafieb/related"
                    title="Marmoset" target="_blank">
                    Tiện ích Marmoset

                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>Marmoset</b> giúp chúng ta lưu đoạn code trong chương trình dưới dạng hình ảnh.
              Ví dụ nó sẽ rất tiện lợi khi bạn cần đưa một đoạn code của hàm trong chương trình lên các trang mạng xã hội
              để chia sẻ. Nó cũng cung cấp thêm mộ số tính năng như điều chỉnh màu sắc, ngôn ngữ, chủ đề... để giúp bạn làm hình ảnh 
              đoạn code của mình trông bắt mắt hơn.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591240818/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Marmoset_yvkexb.png"
              alt="Tiện ích chorme The Great Suspender">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/marmoset/npkfpddkpefnmkflhhligbkofhnafieb/related"
                target="_blank" title="Marmoset">
                Nguồn Marmoset
                </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/user-agent-switcher-for-c/djflhoibgkdhkhhcedjiklpkjnoahfmg/related"
                    title="User-Agent Switcher " target="_blank">
                    Tiện ích User-Agent Switcher 

                  </a>
                </h3>
              </div>
            </div>
            <p>
              Tiện ích <b>User-Agent Switcher </b> giúp chúng ta  có thể kiểm tra trang web của mình trên nhiều thiết bị cũng như những trình duyệt khác nhau mà 
              không cần phải cài đặt thêm bất cứ chương trình bổ sung nào ví dụ như xem trang web của bạn khi hiển thị trên trình duyệt  Opera, Safary, Firefox, Internet Explore...


            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591242986/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-User-Agent_Switcher_tnwy5w.png"
              alt="Tiện ích chorme User-Agent Switcher ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white"
                href="https://chrome.google.com/webstore/detail/user-agent-switcher-for-c/djflhoibgkdhkhhcedjiklpkjnoahfmg/related"
                target="_blank" title="User-Agent Switcher ">
                Nguồn User-Agent Switcher 
                </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://chrome.google.com/webstore/detail/user-agent-switcher-for-c/djflhoibgkdhkhhcedjiklpkjnoahfmg/related"
                    title="User-Agent Switcher " target="_blank">
                    Những Tiện Ích Giúp Bạn Thư Giãn

                  </a>
                </h3>
              </div>
            </div>

            <p>
              Sau đây mình sẽ giới thiệu một số tiện ích giúp bạn có thể cảm thấy thư giãn và có thêm năng lượng để  bắt đầu một ngày mới  làm việc hiệu quả.
  
            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591243632/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Momentum_cevnrk.png"
            alt="Tiện ích chorme Momentum ">
          <button type="button " class="btn btn-dark mt-4">
            <a class="text-white"
              href="https://chrome.google.com/webstore/detail/momentum/laookkfknpbbblfpciffpaejjkokdgca/related?hl=en%20"
              target="_blank" title="Momentum ">
              Nguồn Momentum 
              </a>
          </button>


          <img class="img-thumbnail mt-4 img-fluid shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591243867/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Tab_Flickr_utieyx.png"
          alt="Tiện ích chorme Tab Flickr ">
        <button type="button " class="btn btn-dark mt-4">
          <a class="text-white"
            href="https://chrome.google.com/webstore/detail/flickr-tab/bhnpmdabjgpimmnbmhefncbghknfegog/related"
            target="_blank" title="Tab Flickr ">
            Nguồn Tab Flickr 
            </a>
        </button>




        <img class="img-thumbnail mt-4 img-fluid shadow p-2 lazyload"
        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591244042/tien-ich-google-chorme-cho-lap-trinh-vien/tien-ich-Earth_View_from_Google_Earth_yqf7cr.png"
        alt="Tiện ích chorme Earth View from Google Earth ">
      <button type="button " class="btn btn-dark mt-4">
        <a class="text-white"
          href="https://chrome.google.com/webstore/detail/earth-view-from-google-ea/bhloflhklmhfpedakmangadcdofhnnoh/related?hl=en"
          target="_blank" title="Earth View from Google Earth ">
          Nguồn Earth View from Google Earth 
          </a>
      </button>
















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những tiện ích mở rộng của Google Chorme mà chúng ta có thể
              sử dụng trong việc phát triển web và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>