<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>

          <div class="text-content-article mt-5">
            <p><i> Bài này mình sẽ giới thiệu đến bạn cách tạo landing page bằng HTML CSS cho trang web nhé! </i></p>
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Tạo Cấu Trúc Cho Landing Page
            </h2>
            <p> Phần đầu tiên chúng ta sẽ đi vào tạo hai file là <code>index.html</code>(nơi lưu trữ HTML) và <code>style.css</code>(nơi lưu trữ mã CSS). Sau đó liên kết chúng với Font Awesome v4.7 và Google Font thông qua đoạn mã dưới đây nhé:</p>
            <h3 class="text-primary">
              HTML:
            </h3>
            <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &nbsp;&#60;html&nbsp;lang="en"&#62;<br/> &nbsp;&#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;Trang&nbsp;Landing&nbsp;Page&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="preconnect"&nbsp;href="https://fonts.gstatic.com"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"&#62;<br/> &#60;/head&#62;<br/> &#60;body&#62;<br/> &#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
            Tạo Header Cho Landing Page
            </h2>
            <p>
              Trong phần này chúng ta sẽ đi vào tạo header cho landing page nha. Nó sẽ được chia thành hai mục chính là <b>navbar</b>(thanh tiêu đề)
              và <b>banner</b>(giới thiệu dịch vụ). Bây giờ chúng ta sẽ thêm các phần tử cho nó nhé:
            </p>
            <h3 class="text-primary">
              HTML
            </h3>
            <pre><code class="html">&#60;div&nbsp;class="header"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Navbar--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="navbar"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="logo"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;href="#"&#62;&#60;img&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/rsz_ni%E1%BB%81m_vui_l%E1%BA%ADp_tr%C3%ACnh_1.png"&nbsp;width="200"&nbsp;alt="logo"&#62;&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="menu"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;Trang&nbsp;Chủ&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;Về&nbsp;Chúng&nbsp;Tôi&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;Dịch&nbsp;Vụ&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;Liên&nbsp;Hệ&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="login-btn"&#62;Đăng&nbsp;Nhập&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Navbar--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Banner--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="banner"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="noi-dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h1&#62;Mong&nbsp;muốn&nbsp;chia&nbsp;sẻ&nbsp;kiến&nbsp;thức&nbsp;về&nbsp;lập&nbsp;trình&nbsp;đến&nbsp;mọi&nbsp;người.&#60;/h1&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="btn-group"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="signup-btn"&#62;Đăng&nbsp;Ký&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="play-btn"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="play-btn-inner"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;i&nbsp;class="fa&nbsp;fa-play"&#62;&#60;/i&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;span&#62;Xem&nbsp;Tiện&nbsp;Ích&nbsp;Dịch&nbsp;Vụ&#60;/span&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh-anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/rsz_1hinh_minh_hoa_1.jpg"&nbsp;alt=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Banner--&#62;<br/> &#60;/div&#62;<br/></code></pre>
            <p class="mt-4">
              Và kết quả bạn xem hình ảnh dưới đây nha:
            </p>
            <img
              class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/landing_page_1.png"
              alt="Landing page 1">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> Thiết lập style cho navbar</h3>
              </div>
                <p>
                  Trong phần này chúng ta sẽ đi vào thiết kế lại thanh tiêu đề cũng như tạo hiệu ứng hover cho các đường dẫn trong navbar thông qua đoạn code sau nhé:
                </p>
                <h4 class="text-primary">
                  CSS
                </h4>
                <pre><code class="css">/*Thiết&nbsp;lập&nbsp;font&nbsp;và&nbsp;xóa&nbsp;padding&nbsp;margin&nbsp;mặc&nbsp;định*/<br/> *{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Roboto',&nbsp;sans-serif;<br/> }<br/>a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-decoration:&nbsp;none;<br/> }<br/>ul{<br/> &nbsp;&nbsp;&nbsp;&nbsp;list-style:&nbsp;none;<br/> }<br/> /*Chỉnh&nbsp;vị&nbsp;trí,&nbsp;độ&nbsp;rộng,&nbsp;độ&nbsp;cao...&nbsp;cho&nbsp;navbar*/<br/> .header&nbsp;.navbar{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;80px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;space-between;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;30px;<br/> }<br/>.logo&nbsp;img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-left:&nbsp;100px;<br/> }<br/>.menu&nbsp;ul&nbsp;li&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0&nbsp;25px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;19px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;80px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> }<br/> /*Tạo&nbsp;hiệu&nbsp;ứng&nbsp;hover&nbsp;cho&nbsp;đường&nbsp;dẫn*/<br/> .menu&nbsp;ul&nbsp;li:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#f3ef51;<br/> }<br/> /*Thiết&nbsp;lập&nbsp;style&nbsp;cho&nbsp;nút&nbsp;đăng&nbsp;nhập*/<br/> .login-btn{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;19px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;30px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#f3ef51;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;8px&nbsp;40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-right:&nbsp;100px;<br/> }<br/></code></pre>
               <p class="mt-4">
                Do mình sử dụng dụng vị trí <code>position:absoluate</code> nên bây giờ sẽ rất khó thấy được thanh tiêu đề vì nó đã bị banner che mất.
                 Do đó chúng ta sẽ  đi vào thiết lập style cho banner và xem kết quả của header luôn nhé.
               </p>
               <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> Thiết lập style cho banner</h3>
              </div>
              <h4 class="text-primary">
                CSS
              </h4>
              <pre><code class="css">.banner{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;80%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;70%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;25%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;150px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/>.noi-dung{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;float:&nbsp;left;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-left:&nbsp;50px;<br/> }<br/>.noi-dung&nbsp;h1{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;100px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;400;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;2px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;uppercase;<br/> }<br/>.noi-dung&nbsp;h3{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;51px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;30px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;line-height:&nbsp;1;<br/> }<br/>.noi-dung&nbsp;p&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;30px&nbsp;30px&nbsp;30px&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;letter-spacing:&nbsp;1px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-right:&nbsp;100px;<br/> }<br/> .hinh-anh{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;150px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;float:&nbsp;right;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-right:&nbsp;50px;<br/> }<br/>.hinh-anh&nbsp;img{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;90%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;auto;<br/> }<br/></code></pre>

             
              
                <p class="mt-4">
                  Và kết quả bạn xem hình ảnh đưới đây nhé:
                </p>
                <img
                class="img-fluid  lazyload"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/landing_page_2.png"
                alt="Landing page 2">
                <p class="mt-4">
                  Trong phần banner này chúng ta còn phải thực hiện một nhiệm vụ hết sức quan trọng mà một trang landing page nào 
                  cũng nên có đó chính là 
                  <b>nút kêu gọi</b>(call to action). Và trong đoạn mã tiếp theo chúng ta sẽ đi vào thiết lập style cho các nút này nhé:
                </p>
                <h4 class="text-primary">
                  CSS
                </h4>

                <pre><code class="css">.btn-group{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-left:&nbsp;50px;<br/> }<br/> .btn-group&nbsp;.signup-btn{<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;700;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;32px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#ffa037;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;15px&nbsp;50px;<br/> }<br/>.btn-group&nbsp;.play-btn{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-left:&nbsp;40px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-flex;<br/> }<br/> .btn-group&nbsp;span{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;15px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;auto&nbsp;20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> }<br/>.play-btn-inner{<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;2px&nbsp;solid&nbsp;transparent;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#000;<br/> }<br/> .play-btn-inner&nbsp;i{<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;15px&nbsp;19px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#fff;<br/> }<br/></code></pre>

                <p class="mt-4">
                  Và kết quả bạn xem dưới đây nhé:
                </p>
                <img
                class="img-fluid  lazyload"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/landing_page_3.png"
                alt="Landing page 3">

                <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
                  Tạo Phần Giới Thiệu Dịch Vụ
                </h2>
                <p>
                  Trong phần này chúng ta sẽ đi vào tạo phần giới thiệu các dịch vụ mà công ty cung cấp để giúp người dùng hiểu rõ hơn về sản phẩm nhé!
                </p>
                <h3 class="text-primary">
                  HTML
                </h3>
                <pre><code class="html">&#60;!--Header--&#62;<br/> &#60;div&nbsp;class="header"&#62;...&#60;/div&#62;<br/> &#60;!--Header--&#62;<br/> &#60;!--Dịch&nbsp;Vụ--&#62;<br/> &#60;div&nbsp;class="dich-vu"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/digital-services.png"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h1&#62;Dịch&nbsp;Vụ&nbsp;1&#60;/h1&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/open-24-hours.png"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h1&#62;Dịch&nbsp;Vụ&nbsp;2&#60;/h1&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/consultant.png"alt=""&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h1&#62;Dịch&nbsp;Vụ&nbsp;3&#60;/h1&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &#60;/div&#62;<br/> &#60;!--Dịch&nbsp;Vụ--&#62;<br/></code></pre>
                <h3 class="text-primary mt-4">
                  CSS
                </h3>
                <pre><code class="css">.dich-vu{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;80%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0&nbsp;300px;<br/> }<br/>.dich-vu&nbsp;ul&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;inline-flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;30px&nbsp;auto;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> }<br/>.dich-vu&nbsp;ul&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> }<br/> .dich-vu&nbsp;ul&nbsp;li&nbsp;p{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;20px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> }<br/></code></pre>
                <p class="mt-4">
                  Và kết quả cuối cùng bạn xem dưới đây nha:
                </p>

                <img
                class="img-fluid  lazyload"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/landing_page_4.png"
                alt="Landing page 4">

                <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
                  Tạo Nút Chia Sẻ Cho Landing Page
                </h2>
                <p>
                  Trong phần cuối cùng này chúng ta sẽ đi vào tạo nút chia sẻ mạng xã hội cho trang landing page thông qua đoạn mã dưới đây nha:
                </p>

                <h3 class="text-primary">
                  HTML
                </h3>
                <pre><code class="html">&#60;!--Header--&#62;<br/> &#60;div&nbsp;class="header"&#62;...&#60;/div&#62;<br/><br/>&#60;!--Dịch&nbsp;Vụ--&#62;<br/>&#60;div&nbsp;class="dich-vu"&#62;...&#60;/div&#62;<br/><br/>&#60;!--Nút&nbsp;Chia&nbsp;Sẻ&nbsp;Mạng&nbsp;Xã&nbsp;Hội--&#62;<br/>&#60;div&nbsp;class="social-icon"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-facebook"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-twitter"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-linkedin"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-instagram"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &#60;/div&#62;<br/></code></pre>
                <h3 class="text-primary mt-4">
                  CSS
                </h3>
                <pre><code class="css">.social-icon{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;fixed;<br/> &nbsp;&nbsp;&nbsp;&nbsp;right:&nbsp;30px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:30%;<br/> }<br/> .social-icon&nbsp;ul&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;5px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> }<br/>.social-icon&nbsp;ul&nbsp;li&nbsp;a{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;26px;<br/> }<br/> .social-icon&nbsp;ul&nbsp;li&nbsp;a:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-color:&nbsp;#f3ef51;<br/> }<br/></code></pre>
                <p class="mt-4">
                  Và kết quả cuối cùng trang landing page bạn xem dưới đây nhé:
                </p>

              <img
                class="img-fluid  lazyload"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/xay_dung_website_template/landing_page_5.png"
                alt="Landing page 5">
                <p class="mt-4">
                  Nếu bạn muốn xem dự án trên Codepen có thể truy cập ở đường dẫn bên dưới nhé!
                </p>
                <a class="button-blog-post-article" title="Free Favicon Maker" target="_blank" href="https://codepen.io/haycuoilennao19/full/QWKLMZP">Nguồn</a>





    
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những nơi cung cấp kiến thức tạo trang landing page hữu ích dành cho
              việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui
              vẻ!</p>
          </div>
        </article>























      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>