<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu những web hosting miễn phí dành cho front-end
                      và
                      backend được sử phổ biến trong phát triển website nhé!
                    </i></b>
                </p>
                <hr>
              </div>
            </div>
          </div>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Web Hosting Là Gì?
          </h2>
          <p>
            <b>Web Hosting</b> là một dịch vụ cho phép bạn có thể đăng trang web của mình lên trên Internet.
            Khi người dùng muốn xem trang web của bạn thì họ chỉ cần gõ địa chỉ của trang(domain name) trên trình duyệt.
            Lúc này máy chủ sẽ tiếp nhận thông tin, xử lý và trả lại kết quả cho người dùng.
          </p>
          <div class="text-center">
            <img class="lazyload w-75"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/vi_du_web_hosting.jpg"
            alt="Ví Dụ Về Web Hosting">
          </div>
        
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Những Loại Web Hosting Phổ Biến</h3>
          </div>
          <p>
            Thông thường  các dự án web sẽ thường khác nhau về quy mô, số lượng khách hàng truy cập, mức độ yêu cầu khả năng xử lý của máy chủ... 
            do đó người ta sẽ <b>chia web hosting thành 6 dạng chính</b> để phù hợp với mục đích, nhu cầu của khách hàng :
          </p>
          <ul>
            <li><b>Shared Web Hosting</b>: Trang web của bạn được <b>lưu trữ trên cùng một máy chủ với các website khác</b>. Điểm mạnh của loại này 
            là chi phí rẻ thường phù hợp với các blog cá nhân, doanh nghiệp vừa và nhỏ.</li>
            <li><b>Virtual private servers (VPS)</b>: Cũng dùng chung một máy chủ nhưng nó sẽ cung cấp thêm cho bạn  máy chủ ảo riêng  
              với toàn quyền truy cập để cấu hình cho trang web. Theo mình thấy thì loại này bảo mật tốt hơn so với <b>Shared Web Hosting</b>. 
            Nếu website của bạn đã phát triển đủ lớn và nhiều lượng truy cập thì mình khuyên nên sử dụng VPS để làm hosting cho website.</li>
            <li>
              <b>Dedicated Hosting</b>: Nó cung cấp cho bạn máy chủ chuyên dụng mà <b>không chia sẻ máy chủ</b> với các trang web khác.
              Bạn có toàn quyền kiểm soát như tích hợp những ứng dụng thích hợp mà bạn thích, thực hiện thay đổi với các hệ điều hành, 
              cấu hình lại máy chủ... Tuy nhiên giá thành để sử dụng thì hơi cao  và cần phải kiến thức tốt để thiết lập dịch vụ cho máy chủ.
            </li>
            <li>
              <b>Cloud Hosting</b>: là máy chủ ảo được chạy trong môi trường <b>điện toán đám mây</b> và giải pháp có thể nói là đang <b>hot</b>
              ở thời điểm hiện tại. Điểm mình cực kỳ thích ở dịch vụ này là nếu máy chủ gặp sự cố thì sẽ được tự động chuyển sang máy chủ khác 
              ngay lập tức, nó giúp người dùng lúc nào  có thể truy cập trang web của bạn bất kỳ thời điểm nào. Đồng thời <b>chi phí</ sẽ được tính dựa trên những gì mà 
              <b>trang web  sử dụng</b>.
   
            </li>
          </ul>
          <div class="text-center">
            <img class="lazyload w-75"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/web_hosting_pho_bien.jpg"
            alt="Những Loại Web Hosting Miễn Phí">
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Những Điều Cần Lưu Ý Khi Chọn Hosting</h3>
          </div>
          <p>
            Mình cũng đã từng rất đắn đo suy nghĩ khi phải lựa chọn hosting nào để sử dụng cho website vì nó sẽ ảnh hướng rất lớn đến 
            sự phát triển của trang web sau này. Do đó mình cũng có tìm hiểu trên mạng và rút ra được các yếu tố bạn nên cân nhắc để đánh giá 
            có nên sử dụng hosting của dịch vụ nào đó hay không:
            
          </p>
            <h4 class="text-white bg-success p-2 h6">
              <b>Tốc Độ</b>
            </h4>
            <p>
              Theo Google thì tốc độ tải trang web cũng được xem là một yếu tố <b>tác động đến SEO</b> vì nó sẽ tác động trực tiếp tới trải nghiệm của người dùng.
              Theo báo cáo thì nếu thời gian tải của trang web <b>lớn hơn 2s</b> thì sẽ khiến khách hàng dễ dàng rời đi. Do đó bạn nên cân nhắc kỹ về tốc độ của 
              dịch vụ máy chủ đang cung cấp.
            </p>
            <p>
              Để ước lượng tốc độ của dịch vụ thì bạn nên xem qua  các website đánh giá (review) về loại hosting mà bạn đang muốn sử dụng. 
              Ở đây  có rất nhiều người đã sử dụng  và sẽ có những nhận xét chân thực nhất về hosting mà bạn đang định sử dụng.
              Tuy nhiên bạn cũng nên chú ý tìm các trang review thật sự tin tưởng nhé vì nhiều khi người ta đánh giá chỉ dựa vào hoa hồng nhận được từ tiếp thị liên kết cho sản phẩm
              đó.
            </p>
            <div class="text-center">
              <img class="lazyload w-50"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/toc_do_hosting.jpg"
              alt="Yếu Tố Tốc Độ Hosting">
            </div>
            <h4 class="text-white bg-success mt-4 p-2 h6">
              <b>Hỗ Trợ (Support)</b>
            </h4>
            <p>
              Theo mình thấy thì nên ưu tiên chọn những web hosting có dịch vụ hỗ trợ khách hàng tốt như là hỗ trợ 24/7, 
              có thể liên lạc qua nhiều phương tiện như điện thoại, email, tin nhắn cho nhóm hỗ trợ, hỗ trợ viên có chuyên môn cao và nhiệt tình...
              Ngoài ra bạn cũng có đánh giá thông qua cách mà nhân viên hỗ trợ trả lời  câu hỏi thắc mắc từ khách hàng trên trang support
              hoặc các bài viết cung cấp kiến thức để sử dụng dịch vụ được viết từ nhân viên của dịch vụ....

            </p>

            <div class="text-center">
              <img class="lazyload w-50"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/dich_vu_ho_tro_hosting.jpg"
              alt="Dịch Vụ Hỗ Trợ Hosting">
            </div>
            <h4 class="text-white bg-success mt-4 p-2 h6">
              <b>Các Tiện Ích Của Dịch Vụ Hosting</b>
            </h4>

            <p>
              Thông thường khi bạn chọn cân nhắc giữa các hosting thì thường sẽ tập trung vào các tiện ích đi kèm mà dịch vụ cung cấp như là:
              <ul>
                <li><b>Bandwidth</b> (Băng Thông): khối lượng dữ liệu mà trang web gửi tới người dùng. Thông thường thì các dịch vụ hosting sẽ cung cấp 
                  gói không giới, hạn tuy nhiên cũng có những dịch vụ sẽ tính phí nếu băng thông vượt qua ngưỡng cho phép.
                </li>
                <li>
                  <b>Storage</b>: Bộ nhớ lưu trữ cho trang web (Dùng để lưu hình ảnh, HTML, CSS, Javascript...) có bị giới hạn hay không.
                </li>
                <li>
                  <b>Free Domain Registration</b>: Miễn phí đăng ký domaind cho website.
                </li>
                <li>
                  Số lượng website có thể sử dụng trên hosting.
                </li>
                <li>
                  Có bao gồm CDN cho website hay không?
                </li>
                <li>...</li>
              </ul>
            </p>
            <p>
              Như bạn thấy thì  mỗi  dịch vụ cung cấp hosting sẽ cung cấp những tiện ích khác nhau. Do đó bạn nên <b>xác định rõ dạng website</b>
              mà bạn muốn xây dựng là thuộc thể loại nào, lượng lữu trữ, traffic có lớn hay không?... Để từ đó chúng ta có thể chọn web hosting mà cung cấp tiện ích phù hợp 
              nhất dành cho trang web nhé!
            </p>

            <div class="text-center">
              <img class="lazyload w-50"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/tien_ich_dich_vu_hosting.jpg"
              alt="Tiện Ích Dịch Vụ Hosting">
            </div>

            <h4 class="text-white bg-success mt-4 p-2 h6">
              <b>Nơi Chứa Máy Chủ Của Dịch Vụ</b>
            </h4>
            <p>
              Thời gian truyền dữ liệu từ máy chủ đến người dùng sẽ phụ thuộc rất nhiều vào <b>vị trí máy chủ của dịch vụ</b>.
              Đó đó khi chọn hosting bạn nên cần quan tâm đến nhưng nơi đặt máy chủ của dịch vụ đó. Ví dụ khi chúng ta ở Việt Nam thì nên chọn máy chủ 
              ở Việt Nam là tốt nhất còn nếu không có thì bạn nên lựa chọn những hosting có cung cấp máy chủ ở trong Châu Á như là Singapore, Tokyo...
            </p>

            <div class="text-center">
              <img class="lazyload w-50"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/noi_chua_may_chu_hosting.jpg"
              alt="Vị Trí Đặt Máy Chủ">
            </div>
            <h4 class="text-white bg-success mt-4 p-2 h6">
              <b>Khả Năng Mở Rộng</b>
            </h4>
            <p>
              Đối với trường hợp của mình cũng từng là người mới bắt đầu tạo website, do đó sẽ <b>không thể tính toán chi tiết</b>  
              lượng băng thông, lưu trữ, tốc độ... mà trang web cần dùng. Vì vây khi chọn dịch vụ hosting thì mình cũng sẽ rất chú trọng vào việc  
              khả năng nâng cấp của hosting có dễ dàng không?<br/>
              Ngoài ra còn một trường hợp mình cần lưu ý đến bạn là khả năng <b>giảm xuống các gói thấp hơn</b>. Vì trong thực tế trang web của chúng ta 
               sẽ không sử dụng hết các tiện ích mà gói cung cấp. Lúc này bạn nên suy nghĩ hạ xuống các gói hấp hơn để giảm chi phí phải trả cho máy chủ. 
            </p>
            <div class="text-center">
              <img class="lazyload w-50"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/kha_nang_mo_rong_hosting.jpg"
              alt="Khả Năng Mở Rộng  Máy Chủ">
              </div>
              <h4 class="text-white bg-success mt-4 p-2 h6">
                <b>Độ Bảo Mật (Security)</b>
              </h4>
              <p>
                Đây được xem là một yếu tố cực kỳ quan trọng dành cho website khi chúng ta lựa chọn web hosting.
                Một số tiêu chỉ để đánh giá độ bảo mật của một hosting là:
                <ul>
                  <li>Có cung cấp chứng chỉ SSL cho trang web hay không?</li>
                  <li>Mức độ bảo mật của tường lửa có tốt không?</li>
                  <li>Có thường xuyên cập nhật các phiên bản quản lý web không?</li>
                  <li>Có hay backup lại dữ liệu của website không?</li>
                  <li>Có khả năng phát hiện các malware (phần mềm độc hại) được nhúng vào website hay không?</li>
                  <li>....</li>
                </ul>
              </p>
              <div class="text-center">
                <img class="lazyload w-50"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/do_bao_mat_may_chu.jpg"
                alt="Độ Bảo Mật Của  Máy Chủ">
              </div>
              <h4 class="text-white bg-success mt-4 p-2 h6">
                <b>Giá Cả Của Hosting</b>
              </h4>
              <p>
                Đây được xem là tiêu chí cuối cùng mà mình đánh giá một hosting.
                Thông thường giá trung bình để đăng ký cho một máy chủ lưu trữ website thường sẽ rơi vào khoảng từ <b>5$</b> đến <b>10$</b>.</p>
              <p>
                Tuy nhiên ngày nay trên thị trường có rất nhiều nhà cung cấp 
                dịch vụ hosting với giá <b>rẻ đến khó tin</b>. Vậy với những mức giá này thì bạn có nên lựa chọn cho trang web hay không?<br/>
    
                Thật sự theo mình thì còn tùy, không phải nhà dịch vụ cung cấp hosting với giá thành  rẻ đều là không tốt.
                Tuy nhiên mình có một số  lưu ý khi bạn quyết định chọn những hosting này là:
                <ul>
                  <li><b>Chú ý đến chương trình khuyến mãi</b>: Các hosting sẽ cung cấp giá khuyến mãi cho chúng ta trong một đến hai năm đầu 
                  tiên sử dụng. Tuy nhiên sau đó họ sẽ tính lên phí tiêu chuẩn(thường khá cao). Do đó bạn nên <b>đọc kỹ</b> thông tin trước khi mua nhé!</li>
                  <li><b>Các chi phí phát sinh</b>: Nhiều nhà cung cấp hosting sẽ để giá gói thật rẻ nhưng khi chúng ta thanh toán thì sẽ có rất nhiều dịch vụ  và chi phí phát sinh đi kèm. </li>
                  <li><b>Giới hạn một số  tiện ích</b>: Thật sự khi sử dụng các hosting miễn phí thì <b>thường</b> sẽ có các quảng cáo được nhúng vào trang web hay 
                  giới hạn băng thông, lưu trữ,  độ trễ của website. Do đó bạn nên chú ý đọc thật kỹ phần tiện ích mà dịch vụ cung cấp nhé! </li>
                </ul>
              </p>
              <div class="text-center">
                <img class="lazyload w-50"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/web_hosting_mien_phi/chi_phi_hosting.jpg"
                alt="Chi Phí Hosting">
              </div>


         <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Các Dịch Vụ Hosting Miễn Phí (Không Quảng Cáo)
          </h2>
          





          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng
              kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kiến thức tạo landingpage và hiệu ứng di chuyển
            chuột

            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email
            mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có
            thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>