<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> 24 Kênh Youtube Bạn Nên Theo Dõi Nếu Là Một Lập Trình Viên(2020) </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Với sự phát triển nhanh chóng của các công nghệ web thì việc học tập và bồi dưỡng những kiến thức mới về
                các công nghệ này là
                một điều hết sức cần thiết. Do đó bài viết hôm nay mình sẽ giới thiệu 24 kênh youtube được theo dõi phổ
                biến trong năm 2020
                giúp chúng ta có thể tự học lập trình cũng như bổ sung thêm kiến thức mới cho quá trình phát triển
                website. Nào chúng ta hày cùng nhau đi vào tìm hiểu nhé!

              </i>
            </p>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Traversy Media
              </h3>
            </div>
            <p>
              <b>Traversy Media</b> là một kênh youtube chuyên cung cấp các khóa học về những công nghệ mới cũng như
              ngôn ngữ lập trình trong việc phát triển web.
              Theo quan điểm của mình là kênh này rất thích hợp cho những bạn mới bắt đầu tiếp xúc một ngôn ngữ lập
              trình mới nào đó thông qua từng bài hướng dẫn và ví dụ rất thực tế.
              Kênh này cung cấp rất nhiều kiến thức bổ ích về các công nghệ và ngôn ngữ lập trình web như React, VueJS, NodeJS, HTML, CSS,
              Python... Ngoài ra cũng chia sẻ những kinh ngiệm, quan điểm sống, cách giải quyết những vấn đề
              mà một lập trình viên hay gặp phải ở trong cuộc sống.
            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">

                  <iframe width="560" height="315" src="https://www.youtube.com/embed/hdI2bqOjy3c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/user/TechGuyWeb/featured" target="_blank" title="Traversy Media">
                Nguồn
                Traversy Media
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                The Net Ninja
              </h3>
            </div>
            <p>
              <b>The Net Ninja</b> là một kênh youtube chuyên cung cấp các khóa học dành cho phát triển kỹ năng trong
              lập trình web như là
              Modern JavaScript, Node.js, React, Vue.JS... với nội dung luôn được cập nhật thường xuyên. Nó được thành
              lập bởi anh Shaun với hơn 12 năm kinh nghiệm
              trong lập trình và có niềm yêu thích mãnh liệt với Javascript. Mình tin nó sẽ cung cấp nhiều kiến thức bổ
              ích về những công nghệ mới cho việc phát triển web của bạn.
            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/iWOYAxlnaww" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/c/TheNetNinja/featured" target="_blank" title="The Net Ninja">
                Nguồn
                The Net Ninja
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Level Up Tuts
              </h3>
            </div>
            <p>
              <b>Level Up Tuts</b> là kênh Youtube được thành lập từ năm 2012 bởi Scott Tolinski & Ben Schaaf với mục
              đích hướng dẫn cách khắc phục những vấn đề hay gặp trong quá trình lập trình
              và cung cấp các video hướng dẫn từ cơ bản đến chuyên sâu. Với các công nghệ web được tập trung chủ yếu là
              CMS (Content Management System ), thiết kế web với Sketch, React... và các
              hướng dẫn cho các bạn lập trình mới như là những câu hỏi hay gặp khi phỏng vấn, làm sao để có thể tạo
              trang web đầu tiên cho chính mình...

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_KJ97GSGO-w" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/user/LevelUpTuts/featured" target="_blank" title="Level Up Tuts">
                Nguồn
                Level Up Tuts
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Wes Bos
              </h3>
            </div>
            <p>
              <b>Wes Bos</b> là nới bạn có thể tìm thấy những bài hướng dẫn tập trung chủ yếu về phía Front-end giúp
              chúng ta tăng kỹ năng xây dựng giao diện, thiết kế và phát triển web
              với các công nghệ chủ yếu là Javascript, HTML, CSS, React.js, Node, Express, Lambda, Gatsby và Next.js.
              Mình cảm thấy rất ấn tượng với series thử thách lập trình Javascript trong 30 ngày,
              nó giúp bạn hiểu và áp dụng những khả năng của ngôn ngữ Javascript vào trong thực tế .

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/VuN8qwZoego" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/user/wesbos/featured" target="_blank" title="Wes Bos">
                Nguồn
                Wes Bos
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Dev Ed
              </h3>
            </div>
            <p>
              <b>Dev Ed </b> giúp bạn bổ sung thêm kiến thực về phát triển, thiết kế web, các thủ thuật trong ngôn ngữ
              lập trình và những vấn đề thú vị xoay quanh tác giả.
              Với các khóa học hướng dẫn tập trung vào Javascript, React, CSS, Nodejs... Điểm mình thích nhất là cách
              giải thích rất chi tiết, hài hước và dễ hiểu về các
              vấn đề  lập trình hay được thắc mắc như là những điều quan trọng mà lập trình viên cần phải biết, nên chọn
              framework front-end nào để phát triển web...

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/a9VZEgbHxrg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/channel/UClb90NQQcskPUGDIXsQEz5Q/featured" target="_blank" title="Dev Ed">
                Nguồn
                Dev Ed
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Programming with Mosh
              </h3>
            </div>
            <p>
              <b>Programming with Mosh</b> là kênh được thành lập bởi tác giả có tên là Mosh Hamedani với mục đích là
              mong muốn chia sẻ kiến thức lập trình đến với mọi người. Với 3 ngôn ngữ lập trình được tập trung chủ yếu
              là
              Python, Javascript và C#. Ngoài ra kênh này còn cung cấp một số video hướng dẫn chi tiết cho cả front-end,
              back-end trong lập trình web và một số video giải đáp thắc cho những
              bạn lập trình viên mới về các vấn đề thường hay gặp phải trong lập trình cũng như cuộc sống hằng ngày.

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/W6NZfCO5SIk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/c/programmingwithmosh/featured" target="_blank"
                title="Programming with Mosh">
                Nguồn
                Programming with Mosh
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                TheNewBoston
              </h3>
            </div>
            <p>
              <b>TheNewBoston</b> là kênh được thành lập từ năm 2008 với hơn 2,4 triệu người đăng ký. Kênh này cung cấp
              đầy đủ các bài hướng dẫn chi tiết về lập trình, thiết kế web,
              networking, bảo mật máy tính, phát triển ứng dụng điện thoại... với khoảng hơn 4200 video hướng dẫn. Mặc
              dù kênh này đã tạm thời không cập nhật thêm nội dung mới
              nhưng mình nghĩ bạn sẽ có thể học được nhiều điều bổ ích và thú vị cho việc phát triển web. Và mong một
              ngày nào đó tác giả sẽ quay trở lại để cung cấp thêm nhiều khóa học hấp dẫn đến với mọi người hơn.

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZJZfIw3P8No" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/user/thenewboston/featured" target="_blank" title="TheNewBoston">
                Nguồn
                TheNewBoston
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                ProgrammingKnowledge
              </h3>
            </div>
            <p>
              <b>ProgrammingKnowledge </b> là một kênh chuyên về kỹ thuật cho cả front-end và back-end. Nó có các khóa
              học được chia thành nhiều phần nhỏ
              dành cho những bạn mới bắt đầu học lập trình như là Java,
              Python, React, Bootstrap, ASP.NET... Với hơn 1 triệu người đăng ký và hàng ngàn khóa học hướng dẫn thì
              mình nghĩ đây là là một trong những kênh Youtube tốt
              nhất cho việc phát triển kỹ năng lập trình web của bạn.
            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/08yflg_VVO8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/c/ProgrammingKnowledge/featured" target="_blank"
                title="ProgrammingKnowledge">
                Nguồn
                ProgrammingKnowledge
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                edureka!
              </h3>
            </div>
            <p>
              <b>edureka!</b> là một kênh được thành lập từ năm 2012 và đa số các khóa học được hướng dẫn bởi người Ấn
              Độ (nhưng vẫn nói tiếng anh trong video nhé).
              Đây là nơi bạn có thể tìm thấy các khóa học hướng dẫn chi tiết cho nhiều chủ đề phổ biển hiện nay như là
              Big Data, Phát triển web, DevOps, Machine Learning,
              các chứng chỉ dành cho điện toán đám mây... Tuy vậy có một hạn chế nho nhỏ là một số giáo viên hướng dẫn
              nói tiếng Anh hơi khó nghe một tý nha.
            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/o1IaduQICO0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/c/edurekaIN/featured" target="_blank" title="edureka!">
                Nguồn
                edureka!
              </a> </button>







            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Academind
              </h3>
            </div>
            <p>
              <b>Academind</b> là kênh được thành lập bởi Maximilian Schwarzmüller và Manuel Lorenz với mục đích cung
              cấp nhiều khóa học giúp mọi người năng cao kỹ năng trong quá trình
              thiết kế và phát triển website. Ngoài ra tác giả còn có các video so sánh các công nghệ web phổ biến để
              giúp bạn có thể nắm rõ bản chất và áp dụng tốt hơn
              cho những loại dự án web khác nhau. Các công nghệ web được tập trung chủ yếu là ReactJS, VueJS, Python
              Github, Bootstrap, NodeJS, Laravel...

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/lYWYWyX04JI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/channel/UCSJbGtTlrDami-tDGPUV9-w/featured" target="_blank"
                title="Academind ">
                Nguồn
                Academind
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Derek Banas
              </h3>
            </div>
            <p>
              <b>Derek Banas</b> là một kênh Youtube phổ biến giúp bạn có thể nắm những điều căn bản về một ngôn ngữ lập
              trình nào đó một cách nhanh chóng chỉ trong một video.
              Ngoài ra nó cũng cung cấp đầy đủ các khóa học hướng dẫn về công nghệ phát triển web cho cả front-end và
              back-end. Với những bạn đam mê Javascript thì có một khóa học
              rất hay dạy về cách áp dụng Javascript vào thực tế trong quá trình phát triển web. Bạn có thể tham khảo
              video bên dưới nhé.
            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IyDVvGmzTlo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/user/derekbanas/featured" target="_blank" title="Derek Banas ">
                Nguồn
                Derek Banas
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                freeCodeCamp.org
              </h3>
            </div>

            <p>
              <b>freeCodeCamp.org</b> là trang web tổ chức phi lợi nhuận với mục đích là giúp mọi người có thể học code
              hoàn toàn miễn phí. Việc thành lập kênh Youtube này được dùng để hỗ trợ
              thêm cho việc cải thiện kỹ năng lập trình của bạn thông qua các ví dụ thực tế. Nó có đầy đủ các khóa học
              hướng dẫn cho hầu hết những công nghệ web hay ngôn ngữ lập trình phổ biến hiện nay như là
              React, Docker, Javascript, API, NodeJS, Laravel... Ngoài ra bạn cũng có thể học hỏi thêm từ nhiều lập
              trinh viên giỏi trên thế giới thông qua các video chia sẻ kinh nghiệm,
              nhìn nhận một công nghệ web nào đó hay cùng họ thực hiện một series với dự án thực tế trong 30 ngày...

            </p>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="video-wrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a
                href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ/featured" target="_blank"
                title=" freeCodeCamp.org">
                Nguồn
                freeCodeCamp.org
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Mộ Số Kênh YouTube Về Lập Trình Khác
              </h3>
            </div>

            <p>
              <b>DesignCourse</b> là kênh Youtube giúp bạn có thể học được mọi thứ về thiết kế web cũng như chia sẻ
              những kinh nghiệm
              giải quyết các vấn đề khi phát triển giao diện cho trang web. Kênh này cũng cung cấp một số khóa học chất
              lượng dành cho những bạn mới bắt đầu như là
              HTML, CSS, Angular, Ionic, Vue... hay một số video chia sẻ kinh nghiệm như là làm sao để cải thiện khả
              năng UI/UX, cách xử lý khi layout bị "break"...
              Điểm mình thích ở kênh này là nội dung luôn được cập nhật thường xuyên, nó sẽ giúp chúng ta có thể nắm bắt
              được những xu hướng thiết kế hiện nay để
              có thể áp dụng vào công việc của mình cũng như
              cải thiện thiết kế trang web của chúng ta được tốt hơn.<br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/c/DesignCourse/featured" target="_blank" title="DesignCourse">
                  Nguồn
                  DesignCourse
                </a> </button>
            </p>

            <p>
              <b>LearnCode.academy</b> là nơi bạn có thể tìm thấy các khóa học dành cho phát triển web hoàn toàn miễn
              phí bao gồm cả front-end và back-end.
              Nó cũng có các khóa học dành cho những bạn mới tiếp cận công nghệ web và ngôn ngữ lập trình như là
              Javascript, Machine Learning, Javascript, React, NodeJS...
              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/user/learncodeacademy/featured" target="_blank"
                  title="LearnCode.academy">
                  Nguồn
                  LearnCode.academy
                </a> </button>
            </p>


            <p>
              <b>Chris Coyier</b> cũng chính là tên của tác giả và cũng là người tạo ra trang <a
                href="https://css-tricks.com/" title="CSS-Tricks">css-tricks.com</a>.
              Kênh này cung cấp cho bạn nhiều thông tin, thủ thuật và cách giải quyết các vấn đề hay gặp phải trong việc
              thiết kế và phát triển web. Với các video tập trung chủ yếu vào hai
              yếu tố là CSS và WordPress. Tuy vậy thì tác giả thường hay chia sẻ bài viết nhiều hơn ở trên trang
              CSS-Tricks , nên bạn muốn tham khảo thêm thì
              có thể ghé thăm trang web mà mình đặt
              đường dẫn ở trên nhé.
              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/user/realcsstricks/featured" target="_blank" title="Chris Coyier">
                  Nguồn
                  Chris Coyier
                </a> </button>
            </p>



            <p>
              <b>Google Chrome Developers </b> là kênh giúp bạn có thể nắm được thông tin về mọi chức năng được cập nhật
              trong trình duyệt Chrome cũng như
              chia sẻ các cách để phát triển website được tốt hơn như là tối ưu hiệu suất cho website, các kỹ năng thiết
              web để tăng trải nghiệm người dùng,
              xây dựng ứng dụng PWA cho trang web...

              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/c/GoogleChromeDevelopers/featured" target="_blank"
                  title="Google Chrome Developers ">
                  Nguồn
                  Google Chrome Developers
                </a> </button>
            </p>



            <p>
              <b>Codecourse</b> là kênh cung cấp đầy đủ các khóa học về PHP trong việc phát triển web. Ngoài ra bạn cũng
              có thể áp dụng những kiến thức mình học thông qua các video hướng dẫn
              làm các dự án thực tế như là xây dựng shopping cart với PHP...

              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/user/phpacademy/featured" target="_blank" title="Codecourse">
                  Nguồn
                  Codecourse
                </a> </button>
            </p>


            <p>
              <b>kudvenkat</b> là kênh được xây dựng hướng đến mục đích là tạo ra những khóa học miễn phí dành cho mọi
              người muốn học về lập trình. Các công nghệ web được tập trung chủ yếu là
              ASP.NET, C#, ReactJS, SQL... Với hơn 15 năm kinh nghiệm làm việc với Microsoft .NET, SQL Server và nội
              dung luôn được cập nhật thường xuyên thì mình nghĩ đây là một kênh tốt giúp bạn có
              thể nâng cao kỹ năng lập trình của mình hơn.

              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/c/Csharp-video-tutorialsBlogspot/featured" target="_blank"
                  title="kudvenkat">
                  Nguồn
                  kudvenkat
                </a> </button>
            </p>


            <p>
              <b>CS Dojo</b> tuy là một kênh thiên về hướng lập trình và khoa học máy tính nhưng mình cảm thấy bạn có
              thể học được nhiều điều hay
              thông qua các chia sẻ chân thành của tác giả như là cách trả lời câu hỏi phỏng vấn của các công ty công
              nghệ lớn, những máy tính nào tốt dành cho việc lập trình,
              những thủ thuật debug cho chương trình... Ngoài ra bạn cũng có thể học thêm những thuật toán và cấu trúc
              dữ liệu thông qua các video được hướng dẫn chi tiết và dễ hiểu.


              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/c/CSDojo/featured" target="_blank" title="CS Dojo">
                  Nguồn
                  CS Dojo
                </a> </button>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Mộ Số Kênh YouTube Về Lập Trình Bằng Tiếng Việt
              </h3>
            </div>

            <p>
              <b>Trung Tâm Đào Tạo Tin Học Khoa Phạm</b> là một kênh Youtube giúp bạn có thể học lập trình hoàn toàn
              miễn phí với nội dung luôn được cập nhật thường xuyên.
              Với giảng viên 100% là những chuyên gia có kinh nghiệm thực tế tại các công ty lập trình và hàng ngàn
              video với nhiều chủ đề khác nhau như là React Native,
              ReactJS, NodeJS, Unity, Android... Ngoài ra bạn có thể thực hành thông qua những dự án thực tế được hướng
              dẫn bằng video từ các chuyên gia ở Khoa Phạm.

              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/user/khoazend/featured" target="_blank"
                  title="Trung Tâm Đào Tạo Tin Học Khoa Phạm">
                  Nguồn
                  Trung Tâm Đào Tạo Tin Học Khoa Phạm
                </a> </button>
            </p>


            <p>
              <b>Thạch Phạm</b> là một kênh Youtube tập trung chủ yếu vào Wordpress, thủ thuật Wordpress và đánh giá các
              plugin Wordpress, review hosting. Tuy là các nội dung
              không được cập nhật thường xuyên nhưng mình nghĩ bạn sẽ học được những cách để dùng Wordpress vào việc
              phát triển website được tốt hơn. Ngoài ra bạn cũng có thể tham khảo tham nhiều bài viết hữu ích
              ở blog của tác giả ở đây <a href="https://thachpham.com/" target="_blank"
                rel="noopener noreferrer">nhé</a>!
              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/user/phanota/featured" target="_blank" title="Thạch Phạm">
                  Nguồn
                  Thạch Phạm
                </a> </button>
            </p>

            <p>
              <b>ZendVN</b> xây dựng các khóa học trực tuyến với kinh nghiệm thực tế trong
              quá trình nghiên cứu và làm việc, các khóa học đã đem đến cho bạn những kiến thức nền tảng vững chắc,
              những kinh nghiệm xử lý trong thực tiễn, những tư duy logic mới , công nghệ mới, những kỹ thuật tối ưu mã
              nguồn… cho việc lập trình cũng như phát triển web một cách nhanh chóng hơn. Và tập trung chủ yếu vào Java,
              VudeJS, SQL, Python, NextJS...
              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/user/luutruonghailan/featured" target="_blank"
                  title="ZendVN - Học Lập Trình Online">
                  Nguồn
                  ZendVN - Học Lập Trình Online
                </a> </button>
            </p>




            <p>
              <b>Thư Viện Lập Trình</b> được xây dựng và hoạt động với mong muốn đem lại cho những
              người đam mê Công nghệ thông tin ở Việt Nam một thư viện dữ liệu dồi dào, miễn phí, bằng Tiếng Việt nhằm
              đáp ứng nhu cầu tra cứu thông tin trong công việc cũng như học tập nghiên cứu. Đồng thời, Thư viện lập
              trình cũng là nơi để mọi người có thể thảo luận, sang sẽ kiến thức, kinh nghiệm và các đề tài, dự án do
              chính tác giả thực hiện hoặc sưu tầm. Ngoài ra bạn có thể học hỏi thêm nhiều kiến thức về việc phát triển
              web cho người mới bắt đầu thông qua khóa học
              Học lập trình Web A-Z mà kênh này cung cấp.
              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/channel/UCl85rcoLszFv_qCL1hcOB2g/featured" target="_blank"
                  title="Thư Viện Lập Trình">
                  Nguồn
                  Thư Viện Lập Trình
                </a> </button>
            </p>


            <p>
              <b>K team</b> hướng dẫn lập trình từ cơ bản đến nâng cao dành cho bạn không vững lập trình và hoàn toàn
              miễn phí. Với các công nghệ tập trung chủ yếu vào
              C#, SQL server, C++, CSharp, Hướng dẫn lập trình, Hướng dẫn, Kỹ thuật lập trình, Lập trình hướng đối
              tượng, OOP, Giải thuật, Lập trình, Programming, Coding, WPF, Window Form, Lập trình window, Android,
              Microsoft Word, Microsoft Excel, Microsoft PowerPoint, ASP.Net MVC, Java...
              <br />
              <button type="button " class="btn  btn-outline-dark mt-4"> <a
                  href="https://www.youtube.com/channel/UCBw4b26KZrBvHRPBjOCw6UQ/featured" target="_blank"
                  title="K team">
                  Nguồn
                  K team
                </a> </button>
            </p>


            





















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
            <p>
              Tuy là liệt kê như vậy nhưng mình nghĩ sẽ còn rất nhiều kênh Youtube hay cho lập trình viên nữa. Nên nếu bạn biết thêm được kênh Youtube nào hay thì hãy để lại bình luận 
              ở bên dưới để mọi người học hỏi thêm nhé!
            </p>

            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những kênh Youtube  hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>