<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Trang Web Giúp Bạn Tăng Khả Năng Code  2020 </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Khi bạn học được các kiến thức cơ bản về một ngôn ngữ lập trình nào đó
                thì điều tiếp theo chúng ta muốn là làm sao có thể áp dụng chúng vào thực tế để có thể hiểu và nhớ lâu hơn.
                Thì các trang web sau đây sẽ giúp bạn giải quyết vấn đề trên. 
              </i>
            </p>

            <p>
              Mục đích của các trang  web này sẽ giúp bạn kiểm tra khả năng của mình đang ở mức nào trong lập trình 
              bằng cách giải quyết các vấn đề được đưa ra theo mức từ thấp cho tới cao. Không chỉ vậy ở đó bạn còn phải cạnh tranh với các developer 
              khác để đạt được thứ hạng cao hơn. Nó cũng giống như việc chơi game chúng ta phải đi từ rank thấp như đồng, bạc rồi mới tới vàng, bạch kim...
              Mình mong các trang web này sẽ là nơi giúp bạn tăng khả năng hứng thú với nghành lập trình cũng như học được thêm nhiều kiến thức mới hơn.
            </p>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://exercism.io/" title="Exercism" target="_blank">Exercism</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>Exercism</b> là nơi cung cấp hàng ngàn bài tập mà bạn có thể thực hành với hơn 50 ngôn ngữ lập trình 
              được hỗ trợ. Các bài tập của nó cũng rất đa dạng được cung cấp cho người mới bắt đầu hay những bạn đã có nhiều kinh nghiệm trong nghành lập trình.
            Nó là mã nguồn mở và dựa vào sử đóng góp của các tình nguyện viên lập trình trên thế giới  nên bạn yên tâm sẽ không mất phí gì đâu nhé.
            Ngoài ra nếu bạn cảm thấy mình đủ năng lực thì cũng có thể góp sức mình vào cộng động để giúp các bạn khác có những bài tập bổ ích cũng như bổ sung thêm kiến thúc cho chính mình.
            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590927161/tang-kha-nang-code-2020/trang-web-Exercism_cpdyvg.png"
              alt="trang web Exercism"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://exercism.io/" target="_blank" title="Exercism">Nguồn Exercism</a></button>


             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.codewars.com/" title="CodeWars" target="_blank">CodeWars</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>CodeWars</b> như tên gọi của nó thì đây là nơi mà bạn giải quyết từng vấn đề từ dễ đến khó để có thể 
              được rank cao hơn. Ở trang web này thì rank sẽ được tính theo điểm gọi là <code>kyu</code> và tùy vào mức độ của vấn đề mà bạn giải quyết thì 
              điểm này sẽ cao hay thấp. Sau khi tìm ra phương pháp cho một vấn đề thì bạn có thể xem các đáp án của người khác để so sánh cách viết code 
              cũng như tính hiệu quả của code bạn viết. 
            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590927983/tang-kha-nang-code-2020/trang-web-Codewar_saxiqe.png"
              alt="trang web Codewar"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://www.codewars.com/" target="_blank" title="CodeWars">Nguồn CodeWars</a></button>


             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.codechef.com/" title="CodeChef" target="_blank">CodeChef</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>CodeChef</b> được biết đến là tổ chức giáo dục phi lợi nhuận được thành lập bởi Direct, một công ty phần mềm Ấn Độ.
              Chúng ta có thể giải quyết ngay vấn đề trên trang web của họ thông qua công cụ hỗ trợ <code>editor online</code>. Và 
              tùy vào trình độ của bạn mà chọn các thử thách đã được phân loại sẵn ở trên trang web. Ngoài ra điểm nổi bật của nó là 
              bạn có thể giao tiếp với các lập trình viên khác để đặt câu hỏi mình đang thắc mắc hay trả lời các cau hỏi của các lập 
              trình viên khác.
            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590928649/tang-kha-nang-code-2020/trang-web-Codechef_f1bln4.png"
              alt="trang web Codechef"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://www.codechef.com/" target="_blank" title="CodeChef">Nguồn CodeChef</a></button>


             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.codingame.com/start" title="CodinGame" target="_blank">CodinGame</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>CodinGame</b> giúp bạn thực sự vừa chơi game vừa  viết code.
              Nó khiến chúng ta tiếp cận vấn đề một cách thoải mái, vui vẻ hơn cũng như tăng sự húng thú trong việc giải quyết vấn đề.
              <b>CodinGame</b>  hỗ trợ hơn 25 ngôn ngữ và ở đây bạn có thể học được nhiều thuật toán, thủ thuật từ những lập trình viên giỏi trên thế giới.
              Nó cũng đi theo mức độ từ dễ tới khó nên phù hợp với nhu cầu học hỏi của mọi người.
            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590929980/tang-kha-nang-code-2020/trang-web-codingame_zudqnj.png"
              alt="trang web CodinGame"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://www.codingame.com/start" target="_blank" title="CodinGame">Nguồn CodinGame</a></button>


             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.hackerrank.com/" title="HackerRank" target="_blank">HackerRank</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>HackerRank</b> là một website phổ biến dành cho các bạn muốn nâng cao kỹ năng code.
              Nó không chỉ dành cho những người mới mà các lập trình giỏi  cũng tham gia vì nó có các cuộc thi mang 
              tầm cỡ thế giới. Ngoài ra nó còn mang lại cơ hội cho bạn có thể tìm kiếm công việc phù hợp thông qua các cuộc thi do 
              công ty tuyển dụng tổ chức. Nó chủ yếu tập trung về các đề tài thuật toán, AI, cơ sở dữ liệu, toán học...

            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590936543/tang-kha-nang-code-2020/trang-web-hackerrank_gs3jdt.png"
              alt="trang web HackerRank"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://www.hackerrank.com/" target="_blank" title="HackerRank">Nguồn HackerRank</a></button>




             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://coderbyte.com/" title="CoderByte" target="_blank">CoderByte</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>CoderByte</b> là một ứng dụng web giúp chúng ta có thể thực hành và nâng cao khả năng code của mình.
              Nó có rất nhiều vấn đề được sắp xếp theo từ khó đến dễ phù hợp cho mọi trình độ về lập trình.
              Ngoài ra nó còn có các câu hỏi phỏng vấn của những công ty lớn như Microsoft, Google, Facebook giúp chúng ta 
              nắm được các kỹ thuật cần thiết khi muốn xin  vào các công ty này. Điểm hạn chế là nếu bạn muốn truy cập vào 
              các thử thách nâng cao hay tham gia khóa học ở đây thì sẽ mất phí khoảng 35 $ cho một tháng.

            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590978583/tang-kha-nang-code-2020/trang-web-coderbyte_luzde1.png"
              alt="trang web CoderByte"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://coderbyte.com/" target="_blank" title="CoderByte">Nguồn CoderByte</a></button>


             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.freecodecamp.org/" title="FreeCodeCamp" target="_blank">FreeCodeCamp</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>FreeCodeCamp</b> có lẽ là nơi mình thích nhất. Nó giúp chúng ta tự học kiến thức mới và 
              có thể vận dụng ngay những điều mới học để thực hành giải quyết vấn đề. Ngoài ra bạn có thể nhận chứng chỉ miễn phi khi 
              hoàn thành các đồ án về kỹ năng mà mình vừa mới học. Những ngôn ngữ lập trình trong khóa học được sắp xếp theo thứ tự 
              để phù hợp cho những bạn mới  bắt đầu về nghành lập trình như học HTML rồi mới dến CSS... Ngoài ra nó cũng có 
              diễn đàn riêng giúp bạn đặt những câu hỏi mà mình cảm thấy khó giải quyết trong quá trình học về lập trình.

            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590979413/tang-kha-nang-code-2020/trang-web-freeCodeCamp_zbpisp.png"
              alt="trang web Free Code Camp"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://www.freecodecamp.org/" target="_blank" title="FreeCodeCamp">Nguồn FreeCodeCamp</a></button>




             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://edabit.com/" title="Edabit" target="_blank">Edabit</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>Edabit</b> là nơi giúp chúng ta có thể ghi nhớ những điều cơ bản và nâng cao của một ngôn ngữ  thông qua cách giải quyết vấn đề 
              trực tiếp trên trang này. Nó sẽ tự động tính điểm theo xp mỗi khi bạn giải quyết được vấn đề nào đó. Càng nhiều điểm thì level càng cao.
              Thật hứng thú khi bạn và các lập trình viên khác cạnh tranh nhau từng điểm một để có thể dẫn đầu bảng xếp hạng phải không nào.
              Nó còn giúp chúng ta tăng khả năng hứng thú khi coding cũng như suy nghĩ và giải quyết vần đề như một lập trình viện thực thụ.
            </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590980498/tang-kha-nang-code-2020/trang-web-edabit_rb8avv.png"
              alt="trang web Edabit"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://edabit.com/" target="_blank" title="Edabit">Nguồn Edabit</a></button>




             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.topcoder.com/challenges/?pageIndex=1" title="TopCoder" target="_blank">TopCoder</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>TopCoder</b> là trang web thách thức với mức độ giải quyết vấn đề khá khó và thường dành cho những bạn 
              đã có nhiều kinh nghiệm trong lập trình. Nó là nơi kết nối những doanh nghiệp đang cần giải quyết vấn đề nào đó với 
              giải pháp được đưa ra bởi các lập trình viên trên toàn thế giới. Do đó nếu giải pháp bạn tốt hơn so với các lập trình viên khác  thì sẽ có khả năng 
            nhận được giải thưởng bằng tiền mặt. Ngoài ra bạn cũng có thể xem lại các vấn đề đã được giải quyết để chỉnh sửa và  áp dụng vào trong trang web của mình.          </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590981345/tang-kha-nang-code-2020/trang-web-topcoder_bj38rk.png"
              alt="trang web TopCoder"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://www.topcoder.com/challenges/?pageIndex=1" target="_blank" title="TopCoder">Nguồn TopCoder</a></button>



             <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://codepen.io/challenges/" title="Codepen" target="_blank">Codepen</a>
                </h3>
              </div>
            </div>
            <p>
              Trang web <b>Codepen</b>  được xem như là một mạng xã hội dành cho lập trình viên với các đoạn mã 
              được viết sẵn với nhiều ngôn ngữ lập trình khác nhau giúp bạn có thể học hỏi, giao lưu với các lập trình viên khác. Điểm thú vị nữa là mỗi tuần  trang web sẽ
              đưa ra một đề tài cần phải giải quyết và  bạn với những người khác sẽ cạnh tranh nhau để giải quyết vấn đề một cách nhanh chóng và tối ưu nhất.
                      </p>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1590982258/tang-kha-nang-code-2020/trang-web-codepen_yeeefk.png"
              alt="trang web Codepen"
             >
             <button type="button " class="btn btn-dark mt-4"><a class="text-white" href="https://codepen.io/challenges/" target="_blank" title="Codepen">Nguồn Codepen</a></button>




























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ giúp bạn  <b>tìm được sự hứng thú trong việc coding cũng như giải quyết vấn đề một cách tốt hơn</b> và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>