<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>

          <div class="text-content-article mt-5">
            <p><b><i> Ngày hôm nay chúng ta sẽ đi vào tìm hiểu những công cụ giúp kiểm tra, phân tích SEO miễn phí
                  online để giúp
                  tối ưu website được tốt hơn nhé! </i></b></p>
          </div>
          <hr />


          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Công Cụ SEO Dành Cho Website</h2>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">SEO Site Checkup</h3>
          </div>
          <p>
            <b>SEO Site Checkup</b> công cụ giúp bạn có thể phân tích nhiều yếu tố của website như là các vấn đề phổ
            biến
            trong việc tối ưu hóa cho công cụ tìm kiếm (kiểm tra thẻ meta, heading, title, url thân thiện...),
            việc tối ưu hóa tốc độ của website (kích thước của trang, thời gian tải trang, kiểm tra CDN, CSS và
            Javascript Minification...),
            tính thân thiện với thiết bị di động, kiểm tra các tính năng nâng cao cho SEO (kiểm tra nofollow tag,
            noindex tag, canoncial...).
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/SEO%20Site%20Checkup.png"
            alt="SEO Site Checkup">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="SEO Site Checkup"
              href="https://seositecheckup.com/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">SEOptimer</h3>
          </div>
          <p>
            <b>SEOptimer</b> công cụ phân tích trang web dựa trên nhiều yếu tố như là tối ưu hóa công cụ tìm kiếm,
            ranking của website, khả năng tương thích trên nhiều thiết bị, tốc độ, bảo mật trang web, các công nghệ mà
            trang đang sử dụng để xây dựng website.<br />
            Ngoài ra nó còn có một số điểm mà mình cảm thấy khá thích thú như là đề xuất đưa ra các giải pháp để khắc
            phục vấn đề của trang web hiện tại,
            các chỉ số được biểu thị dưới biểu đồ giúp chúng ta có cái nhìn trực quan và dễ hiểu hơn.
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/SEOptimer.png"
            alt="SEOptimer">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="SEOptimer" href="https://www.seoptimer.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Website Grader</h3>
          </div>
          <p>
            <b>Website Grader</b> là công cụ phân tích website dựa trên 4 yếu tố chính là tốc độ, seo, mobile và bảo
            mật.
            Với mỗi thành chính như vậy sẽ được chia ra thành nhiều yếu tố con để giúp bạn có thể dễ dàng nắm được vấn
            đề
            và khắc phục tốt hơn cho trang web.
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Website%20Grader.png"
            alt="Website Grader">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Website Grader"
              href="https://website.grader.com/" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Ahref(Site Audit)</h3>
          </div>
          <p>
            <b>Ahref</b> là công cụ kiểm tra hơn 100 vấn đề SEO được xác định từ trước như là:
            <ul>
              <li>Hiệu suất: trang chậm, file CSS và HTML quá lớn.</li>
              <li>Thẻ HTML: thiếu, trùng lặp hay độ dài thẻ tiêu đề không tối ưu...</li>
              <li>Thẻ các trang xã hội: kiểm tra các thẻ Open Graph và Twitter. </li>
              <li>Chất lượng nội dung: Số lượng từ của trang quá ít, các trang trùng lặp...</li>
              <li>Tài nguyên: các vấn đề với hình ảnh, Javascript, CSS.</li>
            </ul>
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Ahref.png" alt="Ahref">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Ahref" href="https://ahrefs.com/site-audit"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Sitechecker</h3>
          </div>
          <p>
            <b>Sitechecker</b> là công cụ miễn phí giúp bạn có thể kiểm tra các kỹ thuật SEO cho trang web như là:
            <ul>
              <li>Kiểm tra thẻ tiêu đề, mô tả, kích thước của trang.</li>
              <li>Tìm hình ảnh có kích thước lớn hoặc không có thẻ title hay alt.</li>
              <li>Tìm các các lỗi kỹ thuật SEO nâng cao như là thiếu robots.txt, trang 404, 301 redirect...</li>
              <li>Kiểm tra tốc độ website trên thiết bị điện thoại và máy tính để bàn.</li>
            </ul>
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Sitechecker.png"
            alt="Sitechecker">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Sitechecker" href="https://sitechecker.pro/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Semrush</h3>
          </div>
          <p>
            <b>Semrush</b> Là công cụ phân tích các vấn đề SEO dành cho website và được chia thành ba nhóm chính là lỗi,
            cảnh báo và thông báo. Nó chủ yếu tập trung vào việc đưa ra các lỗi về tốc độ website đặc biệt là trên thiết
            bị di động, kiểm tra các vấn đề về đường link ở trong trang, cách tổ chức cấu trúc của trang web…
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Semrush.png" alt="Semrush">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Semrush"
              href="https://www.semrush.com/features/site-audit/" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">SEO TESTER ONLINE</h3>
          </div>
          <p>
            <b>SEO TESTER ONLINE</b> phân tích website dựa trên 4 yếu tố chính là yếu tố căn bản(google snippet, thẻ
            tiêu đề, sitemap, có sử dụng https…), nội dung(các từ khóa của trang, kích thước trang, alt cho hình ảnh,
            title cho tiêu đề…), tốc độ(có sử dụng preload, thời gian người dùng có thể tươg tác, có lazyload cho hình
            ảnh…) và trang mạng xã hội của website(Có sử dụng opengraph, twitter card, plugin facebook share, twitter
            retweet..).
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/SEO%20TESTER%20ONLINE.png"
            alt="SEO TESTER ONLINE">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="SEO TESTER ONLINE"
              href="https://www.seotesteronline.com/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">MOZ(Free Domain SEO)</h3>
          </div>
          <p>
            <b>MOZ(Free Domain SEO)</b> là công cụ kiểm tra SEO với các yếu tố chính là chỉ số DA(Domain Authority), các
            trang có chỉ số top PA(Page Authority), các backlink, các keywork phổ biến của trang web, các trang tương tự
            nội dung với website của bạn…
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/MOZ%28Free%20Domain%20SEO%29.png"
            alt="MOZ(Free Domain SEO)">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="MOZ(Free Domain SEO)"
              href="https://moz.com/domain-analysis" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Nibbler</h3>
          </div>
          <p>
            <b>Nibbler</b> là công cụ phân tích website toàn diện như là kiểm tra các thẻ meta tag, khả năng tối ưu url,
            trạng thái của trang 404, có thân thiện với thiết bị di động, độ phổ biến của trang web trên mạng xã hội và
            các công cụ kiểm tra rank hiện nay…
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Nibbler.png" alt="Nibbler">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Nibbler"
              href="https://nibbler.silktide.com/en" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Google search console</h3>
          </div>
          <p>
            <b>Google search console</b> là một công cụ của Google và hoàn toàn miễn phí giúp bạn có thể phát hiện
            các lỗi, vấn đề của website trên thiết bị điện thoại và máy tính để bàn. Ngoài ra mình thấy nó còn rất nhiều
            tính năng khác như là giúp đưa nội dung của website lên công cụ tìm kiếm Google, hiểu cách công cụ tìm kiếm
            xem các trang của bạn, đưa ra các báo cáo phân tích tìm kiếm để từ đó có thể tối ưu nội dung của bạn tốt
            hơn.
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Google%20search%20console.png"
            alt="Google search console">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Google search console"
              href="https://search.google.com/search-console/about" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Seobility</h3>
          </div>
          <p>
            <b>Seobility</b> là công cụ kiểm tra seo hoàn toàn miễn phí giúp bạn có thể biết được các vấn đề kỹ thuật mà
            trang web đang gặp phải như là:
            <ul>
              <li>Thông tin thẻ meta: độ dài của thẻ meta title và description, các thẻ meta ngăn không cho công cụ tìm
                kiếm index trang web, kiểm tra canonical…</li>
              <li>Chất lượng trang: Kiểm tra só lượng từ, nội dung trùng lặp, thuộc tính alt cho hình ảnh…</li>
              <li>Trang và cấu trúc link: nội dung của thẻ h1, các đường dẫn trong trang…</li>
              <li>Thiết lập phía server: kiểm tra thiết lập giữa domain chính với các subdomain, số lượng file CSS,
                Javascript, kích thước ffile HTML…</li>
            </ul>
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Seobility.png"
            alt="Seobility">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Seobility"
              href="https://www.seobility.net/en/seocheck/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Site guru</h3>
          </div>
          <p>
            <b>Site guru</b> là công cụ giúp bạn kiểm tra tất cả các vấn đề kỹ thuật về việc tối ưu hóa công cụ tìm kiếm
            dành cho trang web như kiểm tra tiêu đề, tốc độ của website, nội dung trùng lặp, kiểm tra sitemap.xml, các
            trang bị lỗi, tìm kiếm các đường dẫn bị lỗi…
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Site%20guru.png"
            alt="Site guru">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Site guru" href="https://www.siteguru.co/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Google Mobile Frinedly</h3>
          </div>
          <p>
            <b>Google Mobile Frinedly</b> là công cụ giúp đo sự tiện dụng của trang web khi người dùng sử dụng trang
            trên thiết bị di động. Đồng thời sẽ đưa ra các lỗi nếu phát hiện vấn đề trên website của bạn. Theo mình đây
            là một công cụ cực kỳ quan trọng vì nếu như trang bạn không đạt thân thiện với thiết bị di động thì sẽ mất
            đi khả năng rất lớn để tiếp cận với các người dùng sử dụng thiết bị điện thoại.
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Google%20Mobile%20Frinedly.png"
            alt="Google Mobile Frinedly">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Google Mobile Frinedly"
              href="https://search.google.com/test/mobile-friendly" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Mobilemoxie</h3>
          </div>
          <p>
            <b>Mobilemoxie</b> cũng là một công cụ kiểm tra tốc độ website và thời gian hiển thị nội dung trên các thiết
            bị điện thoại. Điểm mình cảm thấy thích ở công cụ này là cho phép chúng ta chọn vị trí địa lý và kiểm tra đa
            dạng trêncác thiết
            bị điện thoại điện thoại phổ biến hiện nay. Tuy nhiên nó chỉ cho phép sử dụng 3 lần trên tháng với phiên bản
            miễn phí.
          </p>
          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Mobilemoxie.png"
            alt="Mobilemoxie">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Mobilemoxie"
              href="https://mobilemoxie.com/tools/mobile-page-test/" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Công Cụ Dành Cho Nghiên Cứu Từ Khóa</h2>
          </div>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Google Trend</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Google%20Trend.png"
            alt="Google Trend">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Google Trend"
              href="https://trends.google.com/trends/?geo=VN" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Answer the public</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Answer%20the%20public.png"
            alt="Answer the public">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Answer the public"
              href="https://answerthepublic.com/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Soovle</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Soovle.png" alt="Soovle">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Soovle" href="https://soovle.com/"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Google Ads Keyword Planner</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Google%20Ads%20Keyword%20planner.png"
            alt="Google Ads Keyword Planner">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Google Ads Keyword Planner"
              href="https://ads.google.com/intl/vi_VN/home/tools/keyword-planner/" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Keywordtool IO</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Keywordtool%20IO.png"
            alt="Keywordtool IO">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Keywordtool IO"
              href="https://keywordtool.io/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Exploding Topics</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Exploding%20Topics.png"
            alt="Exploding Topics">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Exploding Topics"
              href="https://explodingtopics.com/" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">QuestionDB</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/QuestionDB.png"
            alt="QuestionDB">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="QuestionDB" href="https://questiondb.io/"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">People Also Ask</h3>
          </div>

          <img class=" img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/People%20Also%20Ask.png"
            alt="People Also Ask">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="People Also Ask" href="https://www.usetopic.com/people-also-ask"
              target="_blank">Nguồn</a></p>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Reddit Keyword </h3>
              </div>
    
              <img class=" img-fluid  lazyload"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/cong_cu_seo/Reddit%20Keyword.png"
                alt="Reddit Keyword ">
              <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Reddit Keyword " href="https://www.highervisibility.com/free-seo-tools/keyworddit/"
                  target="_blank">Nguồn</a></p>
                <p>
                  <mark>Tốc độ cũng là một yếu tố quan trọng trong quá trình tối ưu hóa website cho công cụ tìm kiếm.
                    Do đó nếu bạn muốn kiểm tra tốc độ website của mình thì có thể xem <a title="Các Công Cụ Kiểm Tra Tốc Độ Website Miễn Phí" href="https://www.niemvuilaptrinh.com/article/toc-do-website">ở đây nhé.</a>
                  </mark>
                </p>
























          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn công cụ SEO  hữu ích dành cho việc phát triển,
            thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng
            hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>

















    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>