<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>

          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Web Layout CSS Javascript Đẹp Cho Website</h2>
          </div>

          <div class="text-content-article mt-5">
            <p><i> Đôi khi bạn sẽ gặp một số vấn đề về việc bố trí nội dung trong trang web như là canh chỉnh chữ, thiết
                kế hình ảnh và nội dung sao cho hài hòa, lựa chọn font chữ phù hợp với bài viết... Do đó trong bài hôm
                nay mình sẽ giới thiệu một số bố cục được thiết kế đẹp mắt và sáng tạo giúp làm nổi bật bài viết của bạn
                bằng HTML, CSS và Javascript nhé!</i></p>
          </div>

          <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang
            chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b>
            trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a
              href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer"
              target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a
              href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>.
            Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ
            <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Responsive Magazine Layout
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Responsive%20Magazine%20Layout.png"
            alt="Responsive Magazine Layout">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="xmark"
            data-slug-hash="epeopR" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive magazine layout">
            <span>See the Pen <a href="https://codepen.io/xmark/pen/epeopR">
                Responsive magazine layout</a> by Mark (<a href="https://codepen.io/xmark">@xmark</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/xmark/pen/epeopR"
              target="_blank" title=" Responsive Magazine Layout">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế Layout HTML CSS
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/thiet%20ke%20lauout%20HTML%20CSS.png"
            alt="Thiết Kế Layout HTML CSS">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="csb324"
            data-slug-hash="WJbyZb" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Magazine Layout">
            <span>See the Pen <a href="https://codepen.io/csb324/pen/WJbyZb">
                Magazine Layout</a> by Clara Beyer (<a href="https://codepen.io/csb324">@csb324</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/csb324/pen/WJbyZb"
              target="_blank" title="Thiết Kế Layout HTML CSS">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế Layout Website
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Layout%20Website.png"
            alt="Layout Website">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="brianhaferkamp" data-slug-hash="NEyGrv" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Full Spread Magazine Layout // CSS Grid Layout">
            <span>See the Pen <a href="https://codepen.io/brianhaferkamp/pen/NEyGrv">
                Full Spread Magazine Layout // CSS Grid Layout</a> by Brian Haferkamp (<a
                href="https://codepen.io/brianhaferkamp">@brianhaferkamp</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/brianhaferkamp/pen/NEyGrv" target="_blank" title="Layout Website">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Cách Tạo Responsive Layout Website
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Responsive%20Layout%20Website.png"
            alt="Responsive Layout Website">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="AnalogAyub" data-slug-hash="ACkKl" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive Minimal Blog Layout">
            <span>See the Pen <a href="https://codepen.io/AnalogAyub/pen/ACkKl">
                Responsive Minimal Blog Layout</a> by Bilal Ayub (<a
                href="https://codepen.io/AnalogAyub">@AnalogAyub</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/AnalogAyub/pen/ACkKl"
              target="_blank" title="Responsive Layout Website">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế Layout HTML5
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Layout%20HTML5.png"
            alt="Layout HTML5">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result"
            data-user="brianhaferkamp" data-slug-hash="xEypqR" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="2-Up Magazine Layout">
            <span>See the Pen <a href="https://codepen.io/brianhaferkamp/pen/xEypqR">
                2-Up Magazine Layout</a> by Brian Haferkamp (<a
                href="https://codepen.io/brianhaferkamp">@brianhaferkamp</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/brianhaferkamp/pen/xEypqR" target="_blank" title="Layout HTML5">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế Layout Tạp Chí
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Layout%20T%E1%BA%A1p%20Ch%C3%AD.png"
            alt="Layout Tạp Chí">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="zachstronaut" data-slug-hash="EabJKG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Magazine Layout">
            <span>See the Pen <a href="https://codepen.io/zachstronaut/pen/EabJKG">
                Magazine Layout</a> by Zachstronaut (<a href="https://codepen.io/zachstronaut">@zachstronaut</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/zachstronaut/pen/EabJKG" target="_blank" title="Layout Tạp Chí">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế Layout CSS Responsive
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Layout%20CSS%20Responsive.png"
            alt="Layout CSS Responsive">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="brianhaferkamp" data-slug-hash="NpZvpx" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Web-Safe Magazine Layout // 04 // CSS Grid">
            <span>See the Pen <a href="https://codepen.io/brianhaferkamp/pen/NpZvpx">
                Web-Safe Magazine Layout // 04 // CSS Grid</a> by Brian Haferkamp (<a
                href="https://codepen.io/brianhaferkamp">@brianhaferkamp</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/brianhaferkamp/pen/NpZvpx" target="_blank"
              title="Layout CSS Responsive">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              CSS Grid Magazine Layout
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/CSS%20Grid%20Magazine%20Layout.png"
            alt="CSS Grid Magazine Layout">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="semblance"
            data-slug-hash="XexVbB" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="CSS Grid Magazine Layout">
            <span>See the Pen <a href="https://codepen.io/semblance/pen/XexVbB">
                CSS Grid Magazine Layout</a> by Elzette (<a href="https://codepen.io/semblance">@semblance</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/semblance/pen/XexVbB"
              target="_blank" title="CSS Grid Magazine Layout">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              Responsive layout Magazine Style
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Responsive%20layout%20Magazine%20Style.png"
            alt="Responsive layout Magazine Style">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="xmark"
            data-slug-hash="ONwoPP" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive layout magazine style">
            <span>See the Pen <a href="https://codepen.io/xmark/pen/ONwoPP">
                Responsive layout magazine style</a> by Mark (<a href="https://codepen.io/xmark">@xmark</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/xmark/pen/ONwoPP"
              target="_blank" title="Responsive layout Magazine Style">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              Responsive Layout Grid CSS
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Responsive%20Layout%20Grid%20CSS.png"
            alt="Responsive Layout Grid CSS">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="winkerVSbecks" data-slug-hash="KmoxJp" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="CSS Grid Magazine Style Layout">
            <span>See the Pen <a href="https://codepen.io/winkerVSbecks/pen/KmoxJp">
                CSS Grid Magazine Style Layout</a> by Varun Vachhar (<a
                href="https://codepen.io/winkerVSbecks">@winkerVSbecks</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/winkerVSbecks/pen/KmoxJp" target="_blank"
              title="Responsive Layout Grid CSS">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              CSS Layout Template
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/CSS%20Layout%20Template.png"
            alt="CSS Layout Template">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="dudleystorey" data-slug-hash="rvQmxQ" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive Multicol Magazine Layout">
            <span>See the Pen <a href="https://codepen.io/dudleystorey/pen/rvQmxQ">
                Responsive Multicol Magazine Layout</a> by Dudley Storey (<a
                href="https://codepen.io/dudleystorey">@dudleystorey</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/dudleystorey/pen/rvQmxQ" target="_blank" title="CSS Layout Template">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              HTML Layout Template
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/HTML%20Layout%20Template.png"
            alt="HTML Layout Template">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="chriscoyier" data-slug-hash="YyxKea" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Magazine Layout Attempt #2">
            <span>See the Pen <a href="https://codepen.io/chriscoyier/pen/YyxKea">
                Magazine Layout Attempt #2</a> by Chris Coyier (<a
                href="https://codepen.io/chriscoyier">@chriscoyier</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/chriscoyier/pen/YyxKea" target="_blank" title="HTML Layout Template">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              Layout Website HTML5 CSS3
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Layout%20Website%20HTML5%20CSS3.png"
            alt="Layout Website HTML5 CSS3">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="xmark"
            data-slug-hash="wKpMXG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="another magazine layout">
            <span>See the Pen <a href="https://codepen.io/xmark/pen/wKpMXG">
                another magazine layout</a> by Mark (<a href="https://codepen.io/xmark">@xmark</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/xmark/pen/wKpMXG"
              target="_blank" title="Layout Website HTML5 CSS3">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              Magazine CSS Grid Layout
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Magazine%20CSS%20Grid%20Layout.png"
            alt="Magazine CSS Grid Layout">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="andrewrock" data-slug-hash="BwgvOV" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="magazine css grid ">
            <span>See the Pen <a href="https://codepen.io/andrewrock/pen/BwgvOV">
                magazine css grid </a> by Andrew (<a href="https://codepen.io/andrewrock">@andrewrock</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/andrewrock/pen/BwgvOV"
              target="_blank" title="Magazine CSS Grid Layout">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Thiết Kế
              Responsive Layout CSS Grid
            </h3>
          </div>
          <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Responsive%20Layout%20CSS%20Grid.png"
            alt=" Responsive Layout CSS Grid">
          <p class="mt-4">
            Kết quả dự án bạn xem bên dưới nhé!
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="brykng"
            data-slug-hash="BVRgEP" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive CSS Grid Experiment #1">
            <span>See the Pen <a href="https://codepen.io/brykng/pen/BVRgEP">
                Responsive CSS Grid Experiment #1</a> by Bryan King (<a href="https://codepen.io/brykng">@brykng</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/brykng/pen/BVRgEP"
              target="_blank" title=" Responsive Layout CSS Grid">Nguồn</a></p>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Thiết Kế
                  Layout Cho Article CSS
                </h3>
              </div>
              <img class="img-fluid lazyload shadow rounded"
                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Layout%20Cho%20Article%20CSS.png"
                alt="Layout Cho Article CSS">
              <p class="mt-4">
                Kết quả dự án bạn xem bên dưới nhé!
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="dominicgan" data-slug-hash="XdEzWZ" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Coded an article layout I saw in a magazine">
                <span>See the Pen <a href="https://codepen.io/dominicgan/pen/XdEzWZ">
                Coded an article layout I saw in a magazine</a> by dominic (<a href="https://codepen.io/dominicgan">@dominicgan</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/dominicgan/pen/XdEzWZ"
                  target="_blank" title="Layout Cho Article CSS">Nguồn</a></p>


                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">
                      Thiết Kế
                      Layout Cho Website
                    </h3>
                  </div>
                  <img class="img-fluid lazyload shadow rounded"
                    data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Thi%E1%BA%BFt%20K%E1%BA%BF%20Layout%20Cho%20Website.png"
                    alt="Thiết Kế Layout Cho Website">
                  <p class="mt-4">
                    Kết quả dự án bạn xem bên dưới nhé!
                  </p>
                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="cgorton" data-slug-hash="gGBejY" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS Grid Wired Magazine layout">
                    <span>See the Pen <a href="https://codepen.io/cgorton/pen/gGBejY">
                    CSS Grid Wired Magazine layout</a> by Christina Gorton (<a href="https://codepen.io/cgorton">@cgorton</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/cgorton/pen/gGBejY"
                      target="_blank" title="Thiết Kế Layout Cho Website">Nguồn</a></p>

                      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size">
                          Thiết Kế
                          Grid Layout
                        </h3>
                      </div>
                      <img class="img-fluid lazyload shadow rounded"
                        data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Grid%20Layout.png"
                        alt="Grid Layout">
                      <p class="mt-4">
                        Kết quả dự án bạn xem bên dưới nhé!
                      </p>
                      <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="raiscake" data-slug-hash="YNvJao" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Magazine Layout">
                        <span>See the Pen <a href="https://codepen.io/raiscake/pen/YNvJao">
                        Magazine Layout</a> by Raisa Yang (<a href="https://codepen.io/raiscake">@raiscake</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
                      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/raiscake/pen/YNvJao"
                          target="_blank" title="Grid Layout">Nguồn</a></p>

                          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                            <h3 class="text-primary ml-4 title-article-size">
                              Thiết Kế
                              Website Layout HTML
                            </h3>
                          </div>
                          <img class="img-fluid lazyload shadow rounded"
                            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/Website%20Layout%20HTML.png"
                            alt="Website Layout HTML">
                          <p class="mt-4">
                            Kết quả dự án bạn xem bên dưới nhé!
                          </p>
                          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="mandymichael" data-slug-hash="axZyoP" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Layout Demo # 1 - Shapes, Clip-Path and CSS Grid">
                            <span>See the Pen <a href="https://codepen.io/mandymichael/pen/axZyoP">
                            Layout Demo # 1 - Shapes, Clip-Path and CSS Grid</a> by Mandy Michael (<a href="https://codepen.io/mandymichael">@mandymichael</a>)
                            on <a href="https://codepen.io">CodePen</a>.</span>
                          </p>
                          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/mandymichael/pen/axZyoP"
                              target="_blank" title="Website Layout HTML">Nguồn</a></p>


                              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                                <h3 class="text-primary ml-4 title-article-size">
                                  Thiết Kế
                                  CSS Multiple Columns
                                </h3>
                              </div>
                              <img class="img-fluid lazyload shadow rounded"
                                data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/layout-website/CSS%20Multiple%20Columns.png"
                                alt="CSS Multiple Columns">
                              <p class="mt-4">
                                Kết quả dự án bạn xem bên dưới nhé!
                              </p>
                              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="michaelgearon" data-slug-hash="iHIzb" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS Multiple-columns Demo">
                                <span>See the Pen <a href="https://codepen.io/michaelgearon/pen/iHIzb">
                                CSS Multiple-columns Demo</a> by Michael Gearon (<a href="https://codepen.io/michaelgearon">@michaelgearon</a>)
                                on <a href="https://codepen.io">CodePen</a>.</span>
                              </p>
                              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/michaelgearon/pen/iHIzb"
                                  target="_blank" title="CSS Multiple Columns">Nguồn</a></p>


          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những layout cho nội dung hữu ích dành cho việc phát
            triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp
            tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>









    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>