<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i> With the rapid development of the internet, today more and more web applications are born with the task of helping you do not need to install programs for your computer but can use them directly on that website. Today I will introduce to you the websites that help us to write code or test the program quickly in the website. Now let's find out.</i></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Free Tool Online Code Editor</h2>
            </div>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a
                    href="https://jsbin.com/yacarojeti/edit?html,css,js,output" title="JSBin" target="_blank"> Website
                    JSBin </a></h3>
              </div>
            </div>
            <p>The <b> JS Bin </b> website is a tool to help you program online with popular web languages ​​such as
              HTML,
              CSS, Javascript ... The <b> Output </b> box is the place to display the results when we add the
              programming code
              and when you edit HTML, CSS, the web page will automatically run the result to the screen without us
              have to press the button to run the program again. <br /> It also has the fun that you can share the path
              of the program
              program with other programmers and code together with the program that is updated from real time. <br />
              However, when we first come to the site, there may be some problems when using it. Therefore the site
              offers you a forum where a great selection of beginner tutorials
              and requently asked questions using the program, you can learn more <a href="https://jsbin.tumblr.com/"
                title="instruct js bin" target="_blank"> here </a>.</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591099206/trang-web-lap-trinh-online/trang-web-jsbin_dsfmkb.png"
              alt="  JS bin">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://jsbin.com/yacarojeti/edit?html,css,js,output" target="_blank" title="JSBin">Link
                Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://jsfiddle.net/" title="JSFiddle"
                    target="_blank"> Website JSFiddle </a></h3>
              </div>
            </div>
            <p> In addition to supporting basic features, The JSFiddle also provides some extra features gives you the
              flexibility to use and organize your code. Example: setting up the Ajax XHR application programmers, users
              can transfer data back and forth between the server and online window user's browser. <br /> Also, it
              allows
              It allows code popular frameworks like Jquery, Bootstrap, Vue, React ... It also provides URL snippets
              that you can share. your project on social networks like Facebook, Twitter, Stack ...</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591108510/trang-web-lap-trinh-online/Trang-web-_JSFiddle_eitwxk.png"
              alt="  JSFiddle">
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://jsfiddle.net/" target="_blank" title="JSFiddle">Link
              Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://codesandbox.io/ide"
                    title="CodeSandbox" target="_blank"> Website CodeSandbox </a></h3>
              </div>
            </div>
            <p> CodeSandbox website is mainly for people who specialize in Javascript. In addition to letting you run
              javascript code, it also provides environments for today's popular frameworks like React, Vue, Angular ...
              You can also create a complete web application with NodeJs back-end in this website. And you can add any
              application from npm through the terminal provided on the website.</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591149929/trang-web-lap-trinh-online/Trang-web-CodeSandbox_pxnrn6.png"
              alt="  CodeSandbox"> 
                <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                  href="https://codesandbox.io/ide" target="_blank" title="CodeSandbox">Link
                  Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://codepen.io/" title="CodePen"
                    target="_blank"> Website CodePen </a></h3>
              </div>
            </div>
            <p>CodePen website is a social network for programmers to exchange, exchange and learn skills through
              sharing interesting programs they write. It allows you to program online with popular web programming
              languages like HTML, CSS, Javascript ... and you can add external libraries via CDN to your program. In my
              opinion, this is a great place for us to learn through programs that are constantly updated and shared.
              You can follow your favorite coders on this site as well as post comments or likes on programs we find
              interesting.</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591150731/trang-web-lap-trinh-online/Trang-web-_CodePen_ghse1s.png"
              alt="  CodePen"> 
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/" target="_blank" title="CodePen">Link
              Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://webmaker.app/" title="Web Maker"
                    target="_blank"> Website Web Maker </a></h3>
              </div>
            </div>
            <p> Web Maker website as its name implies, it will support you with web programming languages such as CSS,
              HTML, Javascript ... and preprocessors like LESS, Sass, JSX, TypeScript ... Support for use directly on
              the website, it also has an extension in Goole Chorme to help you program even without a network
              connection. It also allows you to download your program to your computer when finished or share it on the
              Codepen site.</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591152311/trang-web-lap-trinh-online/Trang-web-Web-Maker_qpxv8g.png"
              alt="  Web Maker"> 
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://webmaker.app/" target="_blank" title="Web Maker">Link
              Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://ideone.com/" title="Ideone"
                    target="_blank"> Website Ideone </a></h3>
              </div>
            </div>
            <p> The Ideone website offers an incredibly powerful editor and debugger with support for over 60
              programming languages. Just choose the language you want and the website will automatically add the right
              working environment. It also allows us to store the project's affiliate code via a specified URL so that
              you can share the program on popular social networks like Facebook, Twitter ...</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591153685/trang-web-lap-trinh-online/Trang-web-Ideone_b3b2t5.png"
              alt="  Ideone"> 
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://ideone.com/" target="_blank" title="Ideone">Link
              Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="http://www.cssdesk.com/" title="CSSDESK"
                    target="_blank"> Website CSSDESK </a></h3>
              </div>
            </div>
            <p> The CSSDESK website is a great web application that allows you to quickly test CSS properties or program
              objects in your website using HTML and CSS without having to install an editor. In addition, it also
              allows us to download when the program is completed or share on social networks using the link provided by
              the website.</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591154286/trang-web-lap-trinh-online/Trang-web-CSSdesk_ohyf1f.png"
              alt="  CSSDESK"> 
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="http://www.cssdesk.com/" target="_blank" title="CSSDESK">Link
              Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://codeshare.io/" title="Code Share"
                    target="_blank"> Website Code Share </a></h3>
              </div>
            </div>
            <p> The Code Share website, like the pages above, is online programming. But the strong point of this site
              is that you can share your code with co-workers or other programmers you want. In addition, it provides
              online video chat function so that we can together with other programmers fix bugs for the program, teach
              programming or interview programming candidates easily. Currently, Code Share also supports more than 50
              popular programming languages.</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591155436/trang-web-lap-trinh-online/Trang-web-CodeShare_fxelxr.png"
              alt="  Code Share"> 
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codeshare.io/" target="_blank" title="Code Share">Link
                Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="https://stackblitz.com/" title="StackBlitz"
                    target="_blank"> Website StackBlitz </a></h3>
              </div>
            </div>
            <p> StackBlitz website is mainly for programmers using React, Angular, Ionic, TypeScript ... It has many
              useful features that the web app programming online today cannot support. You can easily create an Angular
              or React project online with just one click. And as I see the best thing about StackBlitz is that it will
              automatically deployed our program to their server for free.</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591156927/trang-web-lap-trinh-online/Trang-web-StackBlitz_tbbdyt.png"
              alt="  StackBlitz"> 
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://stackblitz.com/" target="_blank" title="StackBlitz">Link
                Project</a></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> <a href="http://sqlfiddle.com/" title="SQL Fiddle"
                    target="_blank"> Website SQL Fiddle </a></h3>
              </div>
            </div>
            <p> SQL Fiddle website helps you to check the accuracy of queries, compare SQL statements in the backend
              against each other, or you want to learn about SQL but don't know how to install it, then SQL Fiddle is
              the place to help you. It does two simple operations: create the database and start the query. It supports
              popular database management systems such as MySQl, Oracle, SQLite, PostgreSQL ...
            </p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591157880/trang-web-lap-trinh-online/Trang-web-SQl-Fiddle_c9buv4.png"
              alt="  SQL Fiddle"> 
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="http://sqlfiddle.com/" target="_blank" title="SQL Fiddle">Link
                Project</a></p>
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Summary: </b></h4>
            <p>Through here I hope the article will provide you more online programming websites that we can
              use and if you have any questions, please email me as soon as possible. We hope you continue to support
              website so I can write more good articles. Have a nice day!</p>
          </div>
        </article>









      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>