<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i> 私が理解しているコードスニペットは、プログラミングの問題の解決策を見つけることができる場所です。
              今日の投稿では、プログラマーに人気のあるコードサイトを紹介します。 </i></p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> CodeMyUI</h2>
              </div>
            </div>
            <p> CodeMyUIは、ユーザーインターフェイス用に事前に作成されたコードに関するすべてを見つけることができるWebサイトです。
              Javascript、HTML、CSS、Jquery、さらにはデザインプラグインもWeb開発に利用できます。
              メインセクションはいくつかのサブセクションに分かれているため、探しているコードを簡単に見つけることができます。
             私はよくこのサイトを使用して、解決または学習する必要のある問題を検索、調査、および詳細に学習します。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591877483/trang-web-code-snippet/trang-web-code-snippet-CodeMyUI_ba7rp9.png"
              alt="Trang web Code Snippet CodeMyUI "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://codemyui.com/" target="_blank" title="CodeMyUI">  CodeMyUI </a>
            </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Codepad</h2>
              </div>
            </div>
            <p> Codepadは、CodepenのようなWebサイトであり、世界中の開発者コミュニティから役立つコードスニペットを見つけることができます。 お気に入りのコードを保存する場所を作成したり、尊敬するプログラマーをフォローしたりできます。 さらに、あなたが仕事を探しているフリーランサーであるならば、これはあなたのスキルを誇示するための場所です、ウェブサイトの開発者ランキングによって証明されるように。 面白い！</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591878143/trang-web-code-snippet/trang-web-code-snippet-Codepad_g28jta.png"
              alt="Trang web Code Snippet Codepad "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://codepad.co/" target="_blank" title="Codepad">  Codepad </a>
            </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> 30 seconds of code</h2>
              </div>
            </div>
            <p> 30 Second Snippetsは、CSS、Javascript、Python、PHP、C＃、Reactなどの多くの一般的なプログラミング言語をサポートする多くのコードスニペットをホストするウェブサイトであり、250人以上の貢献者がコンテンツを定期的に提供および更新しています。 ここでは、専門的で明確で理解しやすい問題解決の解決策を見つけることができます。 それだけでなく、プログラミングやミニプロジェクトの構築にこの言語を使用して、学んだ知識を実践するためのヒントもあります。</p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591878700/trang-web-code-snippet/trang-web-code-snippet-30_seconds_of_code_sarczn.png"
              alt="Trang web Code Snippet 30 seconds of code "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://www.30secondsofcode.org/list/p/1" target="_blank"
                title="30 seconds of code">  30 seconds of code </a> </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> CSS-TRICKS</h2>
              </div>
            </div>
            <p> CSS-TRICKSは、フロントエンドWebデザインを専門とする人にとって非常に便利なWebサイトです。 これは、Webデザインと開発のチュートリアルとヒントに関する詳細な記事のコレクションであるだけでなく、一般的な開発の問題を解決するのに役立つコードスニペットの便利な場所でもあります。 ウェブサイトインターフェースの開発。 HTML、CSS、Javascript、WordPressなどの多くの一般的な言語をサポートし、新しいトリックやテクニックを理解しやすくするために定期的に更新されます。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591931847/trang-web-code-snippet/trang-web-code-snippet-CSS-TRICKS_trj0gc.png"
              alt="Trang web Code Snippet CSS-TRICKS"><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://css-tricks.com/snippets/" target="_blank" title="CSS-TRICKS"> 
                CSS-TRICKS </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> W3Schools</h2>
              </div>
            </div>
            <p> W3Schoolsは、フロントエンドまたはバックエンドのプログラマーに非常に役立つコースを提供するWebサイトです。 プログラミングとWeb開発について必要なすべての知識を学ぶのに役立ちます。 ただし、私が知る限り、W3Schoolsには、一般的なプログラミングの問題とコンポーネントに関するコードスニペットの合成を専門とするサイトがあり、HTML、CSS、Javascriptの3つの主要言語をサポートしています。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591932529/trang-web-code-snippet/trang-web-code-snippet-W3Schools_l4sxhn.png"
              alt="Trang web Code Snippet W3Schools"><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://www.w3schools.com/howto/default.asp" target="_blank" title="W3Schools">
                 W3Schools </a> </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Snipplr</h2>
              </div>
            </div>
            <p> Snipplrは、プログラミングの過程で頻繁に発生する単純な問題の解決に役立つように設計されたWebサイトです。 自分や他のプログラマーが書いた便利なコードを共有して保存できる場所。 私の意見では、問題を解決するための多くの方法のリストを備えた今日のプログラミング言語のほとんどをサポートしているので、安心して参照できます。 さらに、FacebookやTwitterなどのソーシャルネットワークで優れたコードスニペットを共有したり、いいねやコメントを残してお気に入りの開発者をサポートしたりできます。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591879463/trang-web-code-snippet/trang-web-code-snippet-Snipplr_comf0w.png"
              alt="Trang web Code Snippet Snipplr "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://snipplr.com/" target="_blank" title="Snipplr">  Snipplr </a>
            </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Web Code Tools</h2>
              </div>
            </div>
            <p> Webコードツールは、入力したプロパティからコードスニペットを自動的に生成するのに役立つツールを含むWebサイトです。 たとえば、テキスト入力ボックスを作成する必要がある場合、そのオブジェクトが名前とプレースホルダーを入力するために必要なプロパティが提供されます。 インポートが完了すると、オブジェクトがWebページにレンダリングされ、コードが自動的にエクスポートされるときにプレビューが表示されます。 コピーしてWebプロジェクトに貼り付けるだけです。 Webコーディングツールは、HTML5、CSS3、Microdata、メタタグなどの多くの機能をサポートしており、SEOWebを簡単に開発するのに役立ちます。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591880367/trang-web-code-snippet/trang-web-code-snippet-Web_Code_Tools_rqethb.png"
              alt="Trang web Code Snippet Web Code Tools "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://webcode.tools/" target="_blank" title="Web Code Tools">  Web Code
                Tools </a> </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Codeply</h2>
              </div>
            </div>
            <p> Codeplyは、オンラインでのコーディングを支援するだけでなく、世界中のプログラマー向けに2000を超えるコードスニペットをホストするWebサイトです。 私たちは主にHTML5、Javascript、Vue、React、Bootstrapなどのフロントエンドサポート言語を使用しています...経験豊富な開発者によって書かれたブログからプログラミングについてさらに学ぶこともできます。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591880926/trang-web-code-snippet/trang-web-code-snippet-Codeply_tjdzq6.png"
              alt="Trang web Code Snippet Codeply "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://www.codeply.com/" target="_blank" title="Codeply">  Codeply </a>
            </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Bootsnipp</h2>
              </div>
            </div>
            <p> Bootsnippは、Bootstrapフレームワークを使用するプログラマーにとって不可欠なWebサイトの1つです。 これには、2.3.2から4.1.1までのさまざまなBootstrapバージョンのコードスニペットが含まれています。 さらに、フォームビルダー、Webフォントアグリゲーター、サイト速度テストなど、Webサイトの構築と設計を容易にするツールが含まれています。 Bootsnippは、開発者向けのFAQと無料サンプルのコレクションです。 サポートフォーラムもあります。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591887262/trang-web-code-snippet/trang-web-code-snippet-Bootsnipp_txy6iz.png"
              alt="Trang web Code Snippet Bootsnipp "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://bootsnipp.com/" target="_blank" title="Bootsnipp">  Bootsnipp </a>
            </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> CodeSandbox</h2>
              </div>
            </div>
            <p> CodeSandboxは、オンラインプログラミングで私たちをサポートするだけでなく、学習してWebサイトに適用できる何千ものプロジェクトをホストします。 また、React、Javascript、Vue、Angular、Nodeなどの今日の人気のあるプログラミング言語もサポートしています。お気に入りのプロジェクトをフォローまたは一覧表示して、いつでも表示できます。いつでも...ソリューションを簡単に検索することもできます。サイトのスマートフィルタリング機能と組み合わせた検索ボックスを使用して、問題に関連します。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591930008/trang-web-code-snippet/trang-web-code-snippet-CodeSandbox_piz4yc.png"
              alt="Trang web Code Snippet CodeSandbox "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://codesandbox.io/search" target="_blank" title=" CodeSandbox "> 
                CodeSandbox </a> </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> CodePen</h2>
              </div>
            </div>
            <p> CodePenは、プログラマーが作成した興味深いプログラムを共有することにより、スキルを交換、交換、学習するためのソーシャルネットワークです。 HTML、CSS、Javascriptなどの一般的なWebプログラミング言語を使用してオンラインでプログラミングでき、CDNを介してプログラムに外部ライブラリを追加できます。 私の意見では、これは共有され、絶えず更新されるプログラムを通じて学ぶのに最適な場所です。 このサイトでは、お気に入りのプログラマーをフォローしたり、興味深いプログラムにコメントしたりできます。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591150731/trang-web-lap-trinh-online/Trang-web-_CodePen_ghse1s.png"
              alt="Trang web Code Snippet CodePen"><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://codepen.io/" target="_blank" title="CodePen">  CodePen </a>
            </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Little Snippets</h2>
              </div>
            </div>
            <p> Little Snippetsは、Webデザインおよび開発で一般的に使用されるさまざまなコンポーネントを集約したWebサイトです。 セクションが多くの小さなセクションに分割されているため、必要なコードスニペットを簡単に見つけることができます。 さらに、チュートリアルがあり、Webデザインプロセスで一般的に使用される新しいコードスニペットとライブラリを紹介しています。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591887722/trang-web-code-snippet/trang-web-code-snippet-Little_Snippets_sp4olt.png"
              alt="Trang web Code Snippet Little Snippets "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://littlesnippets.net/" target="_blank" title="Little Snippets"> 
                Little Snippets </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> CSSdeck</h2>
              </div>
            </div>
            <p> CSSdeckは、HTML、CSS、およびJavascriptに関するコードスニペットの合成を専門とするWebサイトです。 CSSで設計された興味深く創造的なプログラムはここにあります。 さらに、知識やプログラムをコミュニティと共有したり、プログラミングプロセス中に疑問に思っている問題について質問したりできるフォーラムもあります。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591888714/trang-web-code-snippet/trang-web-code-snippet-CSSdeck_kakae1.png"
              alt="Trang web Code Snippet CSSdeck "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="http://cssdeck.com/popular" target="_blank" title="CSSdeck">  CSSdeck </a>
            </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Code to go</h2>
              </div>
            </div>
            <p> Code to goは、現在人気のあるプログラミング言語であるJavascriptのコードスニペットの合成を専門とするWebサイトです。 これは、プログラミングプロセスにおける単純だが一般的な問題を解決するのに役立つ場所です。 2020年に、著者はReactフレームワークを専門とする人のためのコードスニペットとヒントを追加しました。 さらに、Javascriptプログラミング言語を使用して基本から上級までプログラミングを学びたい人のための無料コースもあります。</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591928195/trang-web-code-snippet/trang-web-code-snippet-Code_to_go_qba2sq.png"
              alt="Trang web Code Snippet Code to go "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://codetogo.io/" target="_blank" title=" Code to go">  Code to go
              </a> </button>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h2 class="text-primary ml-4 title-article-size"> Tweetsnippet</h2>
              </div>
            </div>
            <p> Tweetsnakeは、ソーシャルネットワークのTwitterに投稿されたプログラミング言語に関するコードスニペット、小さなヒント、または詳細なチュートリアル記事の集約に特化したWebサイトです。 通常は定期的に更新され、各更新の時間は3〜4日です。 Tweetsnippetは、Javascript、PHP、HTML、CSS、Vue JSなどの多くの一般的な言語もサポートしています...私の意見では、ここで優れたプログラマーから多くの興味深いことを学び、知識を自己改善して適用することができます彼らのプログラミング作業。</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591928899/trang-web-code-snippet/trang-web-code-snippet-Tweetsnippet_1_wzcuhv.png"
              alt="Trang web Code Snippet Tweetsnippet "><button type="button " class="btn btn-dark mt-4"> <a
                class="text-white" href="https://tweetsnippet.com/" target="_blank" title=" Tweetsnippet"> 
                Tweetsnippet </a> </button>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-12"> <ins class="adsbygoogle" style="display:block; text-align:center;"
                    data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-8657971062505795"
                    data-ad-slot="3142378943"></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
            <h2 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> 概要: </b></h2>
            <p>この記事が有用なウェブサイトスニペットを提供したことを願っています。
              開発、ウェブデザイン、そしてご不明な点がございましたらメールでお問い合わせください。 できるだけ早く返信いたします。
              より良い記事を書くことができるように、ページをサポートし続けてください。 良い一日！</p>
          </div>
        </article>



      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>