<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Hiệu Ứng  Button Đẹp  Cho Trang Web (2020)</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu các ví dụ về các hiệu ứng đẹp cho component 
                button trong trang web  được xây dựng bằng HTML, CSS, Javascript nhé !
              </i>
            </p>

            <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang
              chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b>
              trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a
                href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer"
                target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a
                href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>.
              Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào
              chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 1
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="VjJmPB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1547 - Button">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/VjJmPB">
              #1547 - Button</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/VjJmPB" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 2
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="LxRKJm" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1582 - Button">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/LxRKJm">
              #1582 - Button</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/LxRKJm" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 3
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="emanuelgsouza" data-slug-hash="YVJOZo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button effects">
              <span>See the Pen <a href="https://codepen.io/emanuelgsouza/pen/YVJOZo">
              Button effects</a> by Emanuel Gonçalves (<a href="https://codepen.io/emanuelgsouza">@emanuelgsouza</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/emanuelgsouza/pen/YVJOZo" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 4
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="JXNYwe" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1457 - Buttons">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/JXNYwe">
              #1457 - Buttons</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/JXNYwe" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 5
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Carlos1162" data-slug-hash="eJdLXa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Collection of Cool Button Hover Effects">
              <span>See the Pen <a href="https://codepen.io/Carlos1162/pen/eJdLXa">
              Collection of Cool Button Hover Effects</a> by Carlos Ortega (<a href="https://codepen.io/Carlos1162">@Carlos1162</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/Carlos1162/pen/eJdLXa" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 6
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="dev_loop" data-slug-hash="agqYaN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Amazing Button Hover [Responsive]">
              <span>See the Pen <a href="https://codepen.io/dev_loop/pen/agqYaN">
              Amazing Button Hover [Responsive]</a> by Sikriti Dakua (<a href="https://codepen.io/dev_loop">@dev_loop</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/dev_loop/pen/agqYaN" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 7
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="yuhomyan" data-slug-hash="OJMejWJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Candy Color Button Animation">
              <span>See the Pen <a href="https://codepen.io/yuhomyan/pen/OJMejWJ">
              Candy Color Button Animation</a> by Yuhomyan (<a href="https://codepen.io/yuhomyan">@yuhomyan</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/yuhomyan/pen/OJMejWJ" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 8
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aaroniker" data-slug-hash="oNgPOwo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Order button animation">
              <span>See the Pen <a href="https://codepen.io/aaroniker/pen/oNgPOwo">
              Order button animation</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/aaroniker/pen/oNgPOwo" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 9
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="milanraring" data-slug-hash="QWwyLdp" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Video button animation - Only CSS">
              <span>See the Pen <a href="https://codepen.io/milanraring/pen/QWwyLdp">
              Video button animation - Only CSS</a> by Milan Raring (<a href="https://codepen.io/milanraring">@milanraring</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/milanraring/pen/QWwyLdp" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 10
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="madshaakansson" data-slug-hash="iqDsG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Slide text on hover animation">
              <span>See the Pen <a href="https://codepen.io/madshaakansson/pen/iqDsG">
              Slide text on hover animation</a> by Mads Håkansson (<a href="https://codepen.io/madshaakansson">@madshaakansson</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/madshaakansson/pen/iqDsG" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 11
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="dan10gc" data-slug-hash="LzLwWp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button Hover Effect">
              <span>See the Pen <a href="https://codepen.io/dan10gc/pen/LzLwWp">
              Button Hover Effect</a> by Daniel Gonzalez (<a href="https://codepen.io/dan10gc">@dan10gc</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/dan10gc/pen/LzLwWp" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 12
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aaroniker" data-slug-hash="MWwGbVb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Delete button animation">
              <span>See the Pen <a href="https://codepen.io/aaroniker/pen/MWwGbVb">
              Delete button animation</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/aaroniker/pen/MWwGbVb" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 13
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="pizza3" data-slug-hash="qmerBv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS-Mask Button Hover Animation ( Experimental )">
              <span>See the Pen <a href="https://codepen.io/pizza3/pen/qmerBv">
              CSS-Mask Button Hover Animation ( Experimental )</a> by Yugam (<a href="https://codepen.io/pizza3">@pizza3</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/pizza3/pen/qmerBv" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 14
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="prvnbist" data-slug-hash="pWLJpa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Another Button Animation ">
              <span>See the Pen <a href="https://codepen.io/prvnbist/pen/pWLJpa">
              Another Button Animation </a> by Praveen Bisht (<a href="https://codepen.io/prvnbist">@prvnbist</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/prvnbist/pen/pWLJpa" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 15
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="dicson" data-slug-hash="xRpadr" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="button hover animation">
              <span>See the Pen <a href="https://codepen.io/dicson/pen/xRpadr">
              button hover animation</a> by Dicson (<a href="https://codepen.io/dicson">@dicson</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/dicson/pen/xRpadr" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 16
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="sazzad" data-slug-hash="yNNNJG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated CSS3 Buttons">
              <span>See the Pen <a href="https://codepen.io/sazzad/pen/yNNNJG">
              Animated CSS3 Buttons</a> by Sazzad (<a href="https://codepen.io/sazzad">@sazzad</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/sazzad/pen/yNNNJG" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 17
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="matchboxhero" data-slug-hash="EwdmmP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated - Button">
              <span>See the Pen <a href="https://codepen.io/matchboxhero/pen/EwdmmP">
              Animated - Button</a> by Steven Roberts (<a href="https://codepen.io/matchboxhero">@matchboxhero</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/matchboxhero/pen/EwdmmP" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 18
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="colette-wilson" data-slug-hash="EKaJvJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated Button Hover Effect">
              <span>See the Pen <a href="https://codepen.io/colette-wilson/pen/EKaJvJ">
              Animated Button Hover Effect</a> by Colette Wilson (<a href="https://codepen.io/colette-wilson">@colette-wilson</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/colette-wilson/pen/EKaJvJ" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 19
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="marioandrade" data-slug-hash="aOBZee" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS Button Hover Effect">
              <span>See the Pen <a href="https://codepen.io/marioandrade/pen/aOBZee">
              CSS Button Hover Effect</a> by Mario Andrade (<a href="https://codepen.io/marioandrade">@marioandrade</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/marioandrade/pen/aOBZee" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 20
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="chrishammond" data-slug-hash="eEmrww" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Cool Button Hover Effect">
              <span>See the Pen <a href="https://codepen.io/chrishammond/pen/eEmrww">
              Cool Button Hover Effect</a> by Chris Hammond (<a href="https://codepen.io/chrishammond">@chrishammond</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/chrishammond/pen/eEmrww" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 21
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="valentingalmand" data-slug-hash="ggKrpY" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Great button animation">
              <span>See the Pen <a href="https://codepen.io/valentingalmand/pen/ggKrpY">
              Great button animation</a> by Valentin Galmand (<a href="https://codepen.io/valentingalmand">@valentingalmand</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/valentingalmand/pen/ggKrpY" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 22
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="githiro" data-slug-hash="LwtzG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Stylish CSS3 animated button">
              <span>See the Pen <a href="https://codepen.io/githiro/pen/LwtzG">
              Stylish CSS3 animated button</a> by Hiro (<a href="https://codepen.io/githiro">@githiro</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/githiro/pen/LwtzG" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 23
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aydev" data-slug-hash="BbIsg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Outlined animated button">
              <span>See the Pen <a href="https://codepen.io/aydev/pen/BbIsg">
              Outlined animated button</a> by Aydev (<a href="https://codepen.io/aydev">@aydev</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/aydev/pen/BbIsg" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 24
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Grsmto" data-slug-hash="RPQPPB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button bubble effect">
              <span>See the Pen <a href="https://codepen.io/Grsmto/pen/RPQPPB">
              Button bubble effect</a> by Adrien Grsmto (<a href="https://codepen.io/Grsmto">@Grsmto</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/Grsmto/pen/RPQPPB" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 25
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="nguyenlong" data-slug-hash="kXGxJG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button effect">
              <span>See the Pen <a href="https://codepen.io/nguyenlong/pen/kXGxJG">
              Button effect</a> by Long (<a href="https://codepen.io/nguyenlong">@nguyenlong</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/nguyenlong/pen/kXGxJG" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 26
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Alexb98" data-slug-hash="XWrqpxB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="XWrqpxB">
              <span>See the Pen <a href="https://codepen.io/Alexb98/pen/XWrqpxB">
              XWrqpxB</a> by Alex Bodin (<a href="https://codepen.io/Alexb98">@Alexb98</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/Alexb98/pen/XWrqpxB" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 27
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="mars2601" data-slug-hash="MKVNMX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Gradient hover animated button | Welcome in my world">
              <span>See the Pen <a href="https://codepen.io/mars2601/pen/MKVNMX">
              Gradient hover animated button | Welcome in my world</a> by Marcel Pirnay (<a href="https://codepen.io/mars2601">@mars2601</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/mars2601/pen/MKVNMX" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 28
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="nodws" data-slug-hash="KgObjM" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Fancy Button Menu #Codevember">
              <span>See the Pen <a href="https://codepen.io/nodws/pen/KgObjM">
              Fancy Button Menu #Codevember</a> by Nodws (<a href="https://codepen.io/nodws">@nodws</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/nodws/pen/KgObjM" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 29
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="dYoZpE" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#0059 - Button with expanding vertical lines on hover">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/dYoZpE">
              #0059 - Button with expanding vertical lines on hover</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/dYoZpE" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 30
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="wintr" data-slug-hash="wWoRVW" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Ghost Button Animation - Dribbble">
              <span>See the Pen <a href="https://codepen.io/wintr/pen/wWoRVW">
              Ghost Button Animation - Dribbble</a> by Fox (<a href="https://codepen.io/wintr">@wintr</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/wintr/pen/wWoRVW" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 31
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="alexpate" data-slug-hash="YyLOWQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button Animation">
              <span>See the Pen <a href="https://codepen.io/alexpate/pen/YyLOWQ">
              Button Animation</a> by Alex Pate (<a href="https://codepen.io/alexpate">@alexpate</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/alexpate/pen/YyLOWQ" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 32
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="eped22" data-slug-hash="ZOVJrR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button Animation">
              <span>See the Pen <a href="https://codepen.io/eped22/pen/ZOVJrR">
              Button Animation</a> by Evan Pedrick (<a href="https://codepen.io/eped22">@eped22</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/eped22/pen/ZOVJrR" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 33
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="fixcl" data-slug-hash="CsndK" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button color">
              <span>See the Pen <a href="https://codepen.io/fixcl/pen/CsndK">
              Button color</a> by Marco Barría (<a href="https://codepen.io/fixcl">@fixcl</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/fixcl/pen/CsndK" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 34
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="wintr" data-slug-hash="beBJBb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Button Animation Experiment - Dribbble">
              <span>See the Pen <a href="https://codepen.io/wintr/pen/beBJBb">
              Button Animation Experiment - Dribbble</a> by Fox (<a href="https://codepen.io/wintr">@wintr</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/wintr/pen/beBJBb" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 35
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="gaaodX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#0065 - Button with animated sides on hover">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/gaaodX">
              #0065 - Button with animated sides on hover</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/gaaodX" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>




















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những hiệu ứng button
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>