<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i> HTML
            Bài 6</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Trong bài này mình sẽ giới thiệu các bạn về cấu trúc và cách
                tạo bảng bằng thẻ HTML cho trang web của mình. Bây giờ hãy cùng nhau tìm hiểu nhé!</i>
            </p>
            <h4><b><i class="fa fa-book" aria-hidden="true"></i> 1) Bảng trong HTML: </b></h4>
            <p>Đầu tiên mình xin nói sơ qua một tí về bảng. Bảng được tạo thành bằng cách sắp xếp dữ liệu theo <b>hàng
                và cột</b> giúp chúng ta tra cứu giá trị một cách nhanh chóng hoặc so sánh giá trị của nhiều dạng dữ
              liệu khác nhau...
              Để làm rõ hơn các bạn hãy xem ví dụ minh họa của mình về bảng :</p>
            <img
              src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1577176598/B%C3%A0i%206/bang_trong_HTML_nbeopo.svg"
              width="400" height="400" />
            <p>Như các bạn thấy thì mình có thể dễ dàng tìm ra những người trong lớp thích môn thể thao nào một cách
              nhanh chóng thông qua bảng số liệu này. Các bạn cũng cần lưu ý là
              tên của bảng phải khái quát được chức năng và dữ liệu của bảng mang lại cho người dùng. Vậy cách tạo bảng
              trong HTML như thế nào?<br />
              Bảng được tạo bởi thẻ <b>&#60;table&#62;</b> trong HTML với dữ liệu dòng được tạo bởi thẻ
              <b>&#60;tr&#62;</b>, dữ liệu trong ô được tạo bởi thẻ <b>&#60;td&#62;</b> và
              ô tiêu đề được tạo bởi thẻ <b>&#60;th&#62;</b>.
              Ở đây mình lưu ý đến những từ viết tắt tiếng anh trong tên thẻ của bảng giúp các bạn dễ nhớ hơn:
              <ul>
                <li><b>Thẻ &#60;tr&#62;</b>: Đây là từ viết tắt của <b>table row</b> có nghĩa là dòng trong bảng</li>
                <li><b>Thẻ &#60;td&#62;</b>: Đây là từ viết tắt của <b>table data</b> có nghĩa là dữ liệu trong bảng
                </li>
                <li><b>Thẻ &#60;th&#62;</b>: Đây là từ viết tắt của <b>table headers</b> có nghĩa là tiêu đề trong bảng
                </li>
              </ul>
            </p>
            <p>Các bạn xem ví dụ minh họa của mình về cấu trúc của bảng nhé:</p>
            <img
              src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1577198451/B%C3%A0i%206/bang_chi_tiet_trong_HTML_ymgpng.svg" />
            <p>Như các bạn thấy thì bên trong thẻ <b>&#60;table&#62;</b> thì sẽ chứa thẻ con là <b>&#60;tr&#62;</b> là
              để hiện thị số hàng có trong bảng và <b>&#60;td&#62;</b> hiển thị số ô có trong một dòng.
              Để cho do hiểu thì chúng mình hãy cùng nhau đi vào chi tiết cấu trúc một bảng nhé:
            </p>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class=" shadow p-2">
                  <h5 class="text-center bg-primary text-white p-2 mb-4">Mã Code HTML</h5>
                  <pre><code class="html">&#60;table&#62;<br /> &#60;tr&#62;<br /> &#60;th&#62;Tên học sinh&#60;/th&#62;<br /> &#60;th&#62;Môn thể thao&#60;/th&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td&#62;Nguyễn Văn A&#60;/td&#62;<br /> &#60;td&#62;Đá banh&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td&#62;Nguyễn Văn B&#60;/td&#62;<br /> &#60;td&#62;Cầu lông&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td&#62;Nguyễn Văn C&#60;/td&#62;<br /> &#60;td&#62;Bóng chuyền&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/table&#62;<br /></code></pre>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mt-4">
                <div class=" shadow p-2">
                  <h5 class="text-center bg-primary text-white p-2 mb-4">Hiện thị trên Web</h5>
<table>
 <tr>
 <th>Tên học sinh</th>
 <th>Môn thể thao</th>
 </tr>
 <tr>
 <td>Nguyễn Văn A</td>
 <td>Đá banh</td>
 </tr>
 <tr>
 <td>Nguyễn Văn B</td>
 <td>Cầu lông</td>
 </tr>
 <tr>
 <td>Nguyễn Văn C</td>
 <td>Bóng chuyền</td>
 </tr>
 </table>
                </div>
              </div>
            </div>
<p class="mt-4">Các bạn có thể thấy một bảng trong HTML khá là đơn giản và rất khó nhìn vì vậy bây giờ chúng ta sẽ đi vào các thuộc tính trong bảng giúp cho nó sinh động và hữu ích hơn.</p>
            <h5 class="ml-5"><b>Thuộc tính style trong bảng:</b></h5>
            <p>Giá trị thuộc tính <b>border</b> trong thuộc tính <b>style</b> giúp chúng ta có thể tạo đường viền xung quanh bảng giúp cho nó dễ nhìn hơn. Chúng ta đã học thuộc tính <b>style</b> trong bài 
            đoạn văn với cấu trúc như sau:</p>
            <pre><code class="html">&#60;p style="color:red"&#62;Nội dung&#60;/p&#62;</code></pre>
            <p>Thì các bạn thấy là thuộc tính này được đặt trực tiếp vào thẻ HTML. Nhiều khi có quá nhiều giá trị thuộc tính CSS trong thuộc tính <b>style</b> sẽ làm cho chúng ta sau này nhìn vào code dễ bị rối và khó khăn trong việc sữa lỗi.
            Vậy nên chúng ta có một cách nữa là đặt thẻ này nằm ở trong thẻ <b>&#60;head&#62;</b>. Cũng với ví dụ thẻ <b>&#60;p&#62;</b> nhưng mình sẽ đặt thuộc tính <b>style</b> nằm trong thẻ <b>&#60;head&#62;</b>: </p>
            <pre><code class="html">&#60;!DOCTYPE html&#62;<br /> &#60;html&#62;<br /> &#60;head&#62;<br /> &#60;style&#62;<br /> p {color:red;}<br /> &#60;/style&#62;<br /> &#60;/head&#62;<br /> &#60;body&#62;<br /> &#60;p&#62;Nội Dung&#60;/p&#62;<br /> &#60;/body&#62;<br /> &#60;/html&#62;<br /></code></pre>
              <p>Ta có thể thấy là ở trong thẻ  <b>&#60;head&#62;</b> thì thuộc tính style đã được chuyển sang thẻ  <b>&#60;style&#62;</b>. Trong thẻ này thì ta sẽ có cú pháp như sau:
                <p class="text-center mt-4 mb-4"><span class="p-3 bg-primary text-white" style="font-size:1rem">Tên Thẻ</span><span class="p-3 text-white bg-success">{ giá trị thuộc tính CSS }</span></p>
                <p>Sau này các bạn học sâu hơn thì ta  ngoài lựa chọn phần tử theo <b>tên thẻ</b> thì mình cũng có thể chọn theo <b>Class hay Id</b>. Mình sẽ có một bài nói riêng về vấn đề này nhé.<b><br />
                  Lưu ý là khi ta dùng phương pháp chọn tên thẻ này thì nó sẽ chọn tất cả các thẻ &#60;p&#62; có trong file HTML hiện tại và như ví dụ trên là tất cả thẻ này đều có chữ màu đỏ nhé!
                </b></p>
                <p>Bây giờ thì chúng ta thử tạo đường viền cho bảng bằng đoạn code sau nhé: </p>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <div class=" shadow p-2">
                      <h5 class="text-center bg-primary text-white p-2 mb-4">Mã Code HTML</h5>
                      <pre><code class="html">&#60;!DOCTYPE html><br /> &#60;html><br /> &#60;title>HTML bài 6&#60;/title><br /> &#60;head><br /> &#60;style><br /> td, th {<br /> border: 1px solid black;<br /> padding: 16px; <br />}<br /> &#60;/style><br /> &#60;/head><br /> &#60;body><br /> &#60;table><br /> &#60;tr><br /> &#60;th>Tên học sinh&#60;/th><br /> &#60;th>Môn thể thao&#60;/th><br /> &#60;/tr><br /> &#60;tr><br /> &#60;td>Nguyễn Văn A&#60;/td><br /> &#60;td>Đá banh&#60;/td><br /> &#60;/tr><br /> &#60;tr><br /> &#60;td>Nguyễn Văn B&#60;/td><br /> &#60;td>Cầu lông&#60;/td><br /> &#60;/tr><br /> &#60;tr><br /> &#60;td>Nguyễn Văn C&#60;/td><br /> &#60;td>Bóng chuyền&#60;/td><br /> &#60;/tr><br /> &#60;/table><br /> &#60;/body><br /> &#60;/html><br /></code></pre>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 mt-4">
                    <div class=" shadow p-2">
                      <h5 class="text-center bg-primary text-white p-2 mb-4">Hiện thị trên Web</h5>
    <table>
     <tr>
     <th style="border:1px solid black; padding:16px;">Tên học sinh</th>
     <th style="border:1px solid black; padding:16px;">Môn thể thao</th>
     </tr>
     <tr>
     <td style="border:1px solid black; padding:16px;">Nguyễn Văn A</td>
     <td style="border:1px solid black; padding:16px;">Đá banh</td>
     </tr>
     <tr>
     <td style="border:1px solid black; padding:16px;">Nguyễn Văn B</td>
     <td style="border:1px solid black; padding:16px;">Cầu lông</td>
     </tr>
     <tr>
     <td style="border:1px solid black; padding:16px;">Nguyễn Văn C</td>
     <td style="border:1px solid black; padding:16px;">Bóng chuyền</td>
     </tr>
     </table>
                    </div>
                  </div>
                </div>
<p class="mt-4">Như các bạn thấy thì mình đã có đường viền cho bảng. Còn các giá trị thuộc tính  CSS trong thẻ <b>style</b> này thì mình sẽ nói rõ hơn trong khi học CSS nhé. Sẽ có vài bạn học qua thì 
sẽ nói tại sao mình phải làm rắc rối như vậy vì thẻ <b>&#60;table&#62;</b> cũng có thuộc tính <b>border</b> cho phép tạo ra đường viền như ví dụ sau đây: </p>


<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class=" shadow p-2">
      <h5 class="text-center bg-primary text-white p-2 mb-4">Mã Code HTML</h5>
      <pre><code class="html">&#60;table  border="2"&#62;<br /> &#60;tr&#62;<br /> &#60;th&#62;Tên học sinh&#60;/th&#62;<br /> &#60;th&#62;Môn thể thao&#60;/th&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td&#62;Nguyễn Văn A&#60;/td&#62;<br /> &#60;td&#62;Đá banh&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td&#62;Nguyễn Văn B&#60;/td&#62;<br /> &#60;td&#62;Cầu lông&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td&#62;Nguyễn Văn C&#60;/td&#62;<br /> &#60;td&#62;Bóng chuyền&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/table&#62;<br /></code></pre>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 mt-4">
    <div class=" shadow p-2">
      <h5 class="text-center bg-primary text-white p-2 mb-4">Hiện thị trên Web</h5>
<table border="2">
<tr>
<th >Tên học sinh</th>
<th >Môn thể thao</th>
</tr>
<tr>
<td >Nguyễn Văn A</td>
<td >Đá banh</td>
</tr>
<tr>
<td >Nguyễn Văn B</td>
<td >Cầu lông</td>
</tr>
<tr>
<td >Nguyễn Văn C</td>
<td >Bóng chuyền</td>
</tr>
</table>
    </div>
  </div>
</div>
<p class="mt-4">Các thuộc tính như vậy trong bảng HTML thì <b>không khuyến khích sử dụng</b> vì bây giờ thì nó <b>không được hỗ trợ</b> trong HTML5. Nên chúng ta phải dùng giá trị thuộc tính CSS để xét đường viền cho bảng.
Cũng có các thuộc tính khác mà cũng không được sử dụng trong bảng  nữa là <mark>align</mark>, <mark>bgcolor</mark>, <mark>cellpadding</mark>, <mark>cellspacing</mark>, <mark>width</mark>... Các thuộc tính này nếu các bạn muốn tìm hiểu để đọc và hiểu các thuộc tính bảng trong HTML cũ thì có thế 
truy cập vào đây xem nhé <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table" target="_blank" title="Thuộc tính bảng" >Thuộc tính cũ trong table</a>.</p>
<h5 class="ml-5"><b>Cách gộp cột trong bảng HTML:</b></h5>
Trong bảng có thuộc tính cho phép chúng ta gộp cột có tên là <b>colspan</b> được sử dụng trong hai thẻ là <b>&#60;th&#62; và &#60;td&#62;</b>. Như tên gọi thì chức năng của nó giúp chúng ta 
gộp hai hay nhiều ô theo chiều từ trái sang phải lại với nhau. Bây giờ thì chúng ta hãy cùng nhau đi tìm hiểu thông qua ví dụ sau đây nhé:

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class=" shadow p-2">
      <h5 class="text-center bg-primary text-white p-2 mb-4">Mã Code HTML</h5>
      <pre><code class="html">&#60;table&#62;<br /> &#60;tr&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;&#60;/th&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;7h đến 8h&#60;/th&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;8h đến 9h&#60;/th&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;9h đến 10h&#60;/th&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Thứ hai&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Toán&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Văn&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Anh&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Thứ ba&#60;/td&#62;<br /> &#60;td colspan="2" style="border:1px solid black; padding:16px;"&#62;Thể Dục&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Lịch Sử&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/table&#62;</code></pre>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 mt-4">
    <div class=" shadow p-2">
      <h5 class="text-center bg-primary text-white p-2 mb-4">Hiện thị trên Web</h5>
      <table>
        <tr>
          <th style="border:1px solid black; padding:16px;"></th>
        <th style="border:1px solid black; padding:16px;">7h đến 8h</th>
        <th style="border:1px solid black; padding:16px;">8h đến 9h</th>
        <th style="border:1px solid black; padding:16px;">9h đến 10h</th>
        </tr>
        <tr>
        <td style="border:1px solid black; padding:16px;">Thứ hai</td>
        <td style="border:1px solid black; padding:16px;">Toán</td>
        <td style="border:1px solid black; padding:16px;">Văn</td>
        <td style="border:1px solid black; padding:16px;">Anh</td>
        </tr>
        <tr>
          <td style="border:1px solid black; padding:16px;">Thứ ba</td>
          <td colspan="2" style="border:1px solid black; padding:16px;">Thể Dục</td>
          <td style="border:1px solid black; padding:16px;">Lịch Sử</td>
        </tr>
       
        </table>
    </div>
  </div>
</div>
<p class="mt-4">
  Ở đây thì các bạn thấy ở <b>ô thể dục</b> thì mình đã gộp hai cột với nhau bằng thuộc tính là <b>colspan="2"</b>. Bằng cách thay đổi giá trị thuộc tính này thì có thể gộp được hai hay nhiều cột như
  <i>colspan="3",colspan="4"...</i> Nhưng các bạn phải để ý là giá trị thuộc tính gộp cột lúc nào cũng nhỏ hơn so với số cột có trong bảng nhé. Một lưu ý nhỏ nữa là mình ghi trực tiếp thuộc tính <b>style</b>
  vào  các thẻ <b>th, td</b> để các bạn dễ nhìn và đỡ mất công phải ghi thêm một file HTML để cài đặt thẻ <b>&#60;style&#62;</b> trong <b>&#60;head&#62;</b>.
</p>
<h5 class="ml-5"><b>Cách gộp dòng trong bảng HTML:</b></h5>
<p>Thì cũng như gộp cột thì trong bảng HTML cho phép chúng ta có thể gộp nhiều dòng lại với nhau bằng thuộc tính <b>rowspan</b> được sử dụng trong hai thẻ <b>&#60;th&#62; và &#60;td&#62;</b>rowspan</b>>. Nó giúp chúng ta gộp hai 
hay nhiều ô lại với nhau theo chiều từ trên xuống dưới. Bây giờ thì chúng ta hãy cùng nhau đi tìm hiểu thông qua ví dụ sau đây nhé:</p>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class=" shadow p-2">
      <h5 class="text-center bg-primary text-white p-2 mb-4">Mã Code HTML</h5>
      <pre><code class="html">&#60;table&#62;<br /> &#60;tr&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;&#60;/th&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;Đài VTV2&#60;/th&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;Đài VTV3&#60;/th&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;7h đến 8h&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;" rowspan="2" &#62;Phim tài liệu&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Ca nhạc&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;8h đến 9h&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Phim truyền hình&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/table&#62;<br /></code></pre>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 mt-4">
    <div class=" shadow p-2">
      <h5 class="text-center bg-primary text-white p-2 mb-4">Hiện thị trên Web</h5>
      <table>
        <tr>
          <th style="border:1px solid black; padding:16px;"></th>
        <th style="border:1px solid black; padding:16px;">Đài VTV2</th>
        <th style="border:1px solid black; padding:16px;">Đài VTV3</th>
        </tr>
        <tr>
        <td style="border:1px solid black; padding:16px;">7h đến 8h</td>
        <td style="border:1px solid black; padding:16px;" rowspan="2" >Phim tài liệu</td>
        <td style="border:1px solid black; padding:16px;">Ca nhạc</td>
        </tr>
        <tr>
          <td style="border:1px solid black; padding:16px;">8h đến 9h</td>
          <td style="border:1px solid black; padding:16px;">Phim truyền hình</td>
        </tr>
       
        </table>
    </div>
  </div>
</div>
<p class="mt-4">Mình đã gắn thuộc tính <b>rowspan="2"</b> vào ô <b>Phim tài liệu</b> các bạn cũng có thể thay đổi số ô được gộp như trong tính chất của gộp cột vậy.</p>
<h5 class="ml-5"><b>Chú thích trong bảng HTML:</b></h5>
<p>Khi nhìn vào một bảng thì người dùng cũng khó có thể hiểu được dữ liệu của nó thể hiện mục đích gì ? Vì thế HTML cung cấp cho chúng ta một tiêu đề chú thích cho bảng 
  với thẻ là <b>&#60;caption&#62;</b>. Cái này thì mình cũng có thể dùng các thẻ tiêu đề để chú thích bảng  nhưng để SEO tốt hơn thì mình khuyên các bạn nên dùng thẻ này. Thẻ chú thích 
  luôn được đặt nằm đầu tiên trong các thẻ của  bảng HTML. Bây giờ mình hãy tìm hiểu thông qua ví dụ nhé: </p>
  <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="YzPxyjQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="HTML caption bảng">
    <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/YzPxyjQ">
    HTML caption bảng</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  <h5 class="ml-5 mt-4"><b>Thành Phần đầy đủ trong bảng HTML:</b></h5>
  <p>Nãy giờ chúng ta đã tìm hiểu được cách xây dựng bảng trong HTML nhưng đối với người lập trình thì ngoài việc tạo ra và hiển thị bảng trên trình duyệt thì họ cũng quan tâm đến khuôn mẫu <b>cách hiện thị code</b>
  làm sao cho người lập trình khác khi nhìn vào code của chúng ta thì có thể hiểu được và dễ sửa chữa. Thì cũng <b>giống như</b> cấu trúc file HTML thì bảng cũng cung cấp cho chúng ta một cấu trúc để xây dựng bảng 
  làm cho việc quản lý code dễ dàng hơn, còn về khả năng hiển thị theo mình thấy nó cũng giống như những bảng mình đã tạo ở trên. Để rõ hơn thì mình đi vào tìm hiểu ví dụ sau đây nhé các bạn: </p>
            
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class=" shadow p-2">
        <h5 class="text-center bg-primary text-white p-2 mb-4">Mã Code HTML</h5>
        <pre><code class="html">&#60;table&#62;<br /> &#60;thead&#62;<br /> &#60;tr&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;Tên Trái Cây&#60;/th&#62;<br /> &#60;th style="border:1px solid black; padding:16px;"&#62;Số Tiền&#60;/th&#62;<br /> &#60;/tr&#62;<br /> &#60;/thead&#62;<br /> &#60;tbody&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Táo&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;15.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Ổi&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;10.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/tbody&#62;<br /> &#60;tfoot&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Tổng&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;25.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/tfoot&#62;<br /> &#60;/table&#62;<br /></code></pre>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-4">
      <div class=" shadow p-2">
        <h5 class="text-center bg-primary text-white p-2 mb-4">Hiện thị trên Web</h5>
        <table>
          <thead>
          <tr>
          <th style="border:1px solid black; padding:16px;">Tên Trái Cây</th>
          <th style="border:1px solid black; padding:16px;">Số Tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td style="border:1px solid black; padding:16px;">Táo</td>
          <td style="border:1px solid black; padding:16px;">15.000</td>
          </tr>
          <tr>
          <td style="border:1px solid black; padding:16px;">Ổi</td>
          <td style="border:1px solid black; padding:16px;">10.000</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td style="border:1px solid black; padding:16px;">Tổng</td>
            <td style="border:1px solid black; padding:16px;">25.000</td>
            </tr>
        </tfoot>
          </table>
      </div>
    </div>
  </div>
  
  <p class="mt-4">Như các bạn thấy thì mình đã tạo ra một bảng với cấu trúc file là :
    <ul>
      <li><b>Header (Tiêu đề) của bảng tương ứng với thẻ &#60;thead&#62;</b></p></li>
      <li><b>Body (Nội Dung) của bảng tương ứng với thẻ &#60;tbody&#62;</b></p></li>
      <li><b>Footer (Tổng kết các cột) của bảng tương ứng với thẻ &#60;tfoot&#62;</b></p></li>
    </ul>
  
  <h4 class="mt-4"> <b><i class="fa fa-question-circle-o" aria-hidden="true"></i> Bài tập HTML: </b></h4>
            <p>Sau đây mình sẽ có bài tập nhỏ giúp các bạn nhớ những gì mà mình đã học trong ngày hôm nay.<br />

              <ol>
                <li>
                  Các bạn tạo một cấu trúc file HTML với tên là <b>HTML6baitap.html</b>
                </li>
                <li>
                  Sau đó các bạn nhập bảng bảng có nội dung như sau đây nha:
                  <div class="row mt-4 mb-4">
                  <div class=" shadow p-2 col-xs-12 col-md-12">
                    <p>Tiền Tiết Kiệm Tháng</p>
                    <table>
                      <thead>
                      <tr>
                      <th style="border:1px solid black; padding:16px;" colspan="2">Tiền Tiết Kiệm</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                      <td style="border:1px solid black; padding:16px;">Tháng 1</td>
                      <td style="border:1px solid black; padding:16px;">1.000.000</td>
                      </tr>
                      <tr>
                      <td style="border:1px solid black; padding:16px;">Tháng 2</td>
                      <td style="border:1px solid black; padding:16px;">2.000.000</td>
                      </tr>
                      <tr>
                        <td style="border:1px solid black; padding:16px;">Tháng 3</td>
                        <td style="border:1px solid black; padding:16px;">3.000.000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="border:1px solid black; padding:16px;">Tổng</td>
                        <td style="border:1px solid black; padding:16px;">5.000.000</td>
                        </tr>
                    </tfoot>
                      </table>
                  </div>
                  </div>
                </li>
              </ol>


            </p>
            <p>Đây là file lời giải của bài tập các bạn tham khảo. Nhưng trước khi xem hãy cố gắng hoàn thành bài tập để
              mình nhớ lâu hơn nhé!</p>
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Lời giải bài tập
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <pre><code class="html">&#60;table&#62;<br /> &#60;caption&#62;Tiền Tiết Kiệm Tháng&#60;/caption&#62;<br /> &#60;thead&#62;<br /> &#60;tr&#62;<br /> &#60;th style="border:1px solid black; padding:16px;" colspan="2"&#62;Tiền Tiết Kiệm&#60;/th&#62;<br /> &#60;/tr&#62;<br /> &#60;/thead&#62;<br /> &#60;tbody&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Tháng 1&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;1.000.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Tháng 2&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;2.000.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Tháng 3&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;3.000.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/tbody&#62;<br /> &#60;tfoot&#62;<br /> &#60;tr&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;Tổng&#60;/td&#62;<br /> &#60;td style="border:1px solid black; padding:16px;"&#62;5.000.000&#60;/td&#62;<br /> &#60;/tr&#62;<br /> &#60;/tfoot&#62;<br /> &#60;/table&#62;<br /></code></pre>
            </div>
            <p>Còn điều này mình quên nói là khi các bạn làm xong và lưu vào <b>HTML6baitap.html</b>. Thì để mở mình vào
              thư mục đã lưu file và nhấn trực tiếp vào thì
              trình duyệt sẽ tự động chạy file đó nhé.</p>
            <img class="img-fluid shadow-sm rounded"
              src=" https://res.cloudinary.com/dn4nxz7f0/image/upload/v1576500256/bai%202/Open_file_html_vulqku.png" />
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
            <p>Qua bài này chúng mình đã hiểu và nắm được cách tạo một bảng trong HTML. Sau này học về <b>CSS</b> thì mình sẽ nói tiếp về cách chỉnh sửa trang trí cho bảng kĩ hơn. Phần này các 
              bạn lưu ý giúp mình các thẻ có trong bảng và cấu trúc bảng nhé. Bài sau mình sẽ học về bảng mẫu hay đơn mà giúp chúng ta thu thập thông tin người dùng, khảo sát người dùng...
              Nếu các bạn có gì thì cứ liên hệ mình sẽ liên lạc với các bạn sớm nhất có thể!
            </p>
          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>