<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>

          <div class="text-content-article mt-5">
            <p><i> Thông thường khi bạn học xong HTML CSS thì sẽ muốn tìm các trang web để thực hành viết code nhằm nâng
                cao kỹ năng hơn.
                Do đó hôm này mình xin giới thiệu đến bạn một số trang web tải HTML5 Template miễn phí để lấy ý tưởng
                thiết kế cũng như
                học hỏi thêm các skill từ các lập trình viên khác. Bây giờ chúng ta hãy cùng nhau tìm hiểu nhé!
              </i></p>
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              W3Layouts
            </h2>
            <p>
              <b>W3Layouts</b> là một nơi sưu tập rất nhiều các mẫu cho trang web với nhiều thể loại khác nhau như là
              giáo dục, Blog,
              nghành nhà hàng khách sạn, du lịch, spa... Khi dùng phiên bản miễn phí thì bạn phải chấp nhận để link
              quảng cáo của chương trình
              trên trang web. Còn nếu bạn muốn xóa nó thì sẽ tùy vào template mà chúng ta chi trả (thông thường từ 10
              đến 25$).
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/W3Layouts.png"
              alt="W3Layouts">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="W3Layouts" target="_blank"
                href="https://w3layouts.com/">Nguồn</a></p>



            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              HTML5 UP
            </h2>
            <p>
              <b>HTML5 UP</b> là website giúp bạn tải các HTML Template miễn phí với responsive đầy đủ trên các màn hình
              thiết bị,
              được xây dựng nởi hai ngôn ngữ cơ bản HTML và CSS, dễ dàng chỉnh sửa.
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/HTML5%20UP.png"
              alt="HTML5 UP">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="HTML5 UP" target="_blank"
                href="https://html5up.net/">Nguồn</a></p>

            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              UIdeck
            </h2>
            <p>
              <b>UIdeck</b> là nơi giúp bạn tải các trang landing page miễn phí được xây dựng chủ yếu bằng HTML và
              Bootstrap.
              Trnag web này thường code thuần chứ không dùng các phần mềm có sẵn để xây dựng template. Do đó
              theo mình thấy các mẫu trang web ở đây thường được thiết kế rất chỉnh chu, phù hợp với thực tế,
              dễ dàng chỉnh sửa và tùy chỉnh.
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/UIdeck.png"
              alt="UIdeck">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="UIdeck" target="_blank"
                href="https://uideck.com/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              One Page Love
            </h2>
            <p>
              <b>One Page Love</b> là trang web tập hợp hơn 79 mẫu HTML miễn phi với khả năng reponsive trên nhiều màn
              hình,
              website được thiết kế có tính thẩm mỹ cao, đa dạng các lĩnh vực khác nhau...
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/One%20Page%20Love.png"
              alt="One Page Love">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="One Page Love" target="_blank"
                href="https://onepagelove.com/templates/free-templates">Nguồn</a></p>

            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              GRAY GRIDS
            </h2>
            <p>
              <b>GRAY GRIDS</b> là website tổng hợp nhiều mẫu HTML Responsive với nhiều tiện ích được cung cấp như là
              hoàn toàn responsive, thiết kế web chất lượng cao... Tuy nhiên đển hạn chế của nó là chỉ miễn phí cho
              dự án cá nhân còn để dùng cho phiên bản thương mại thì bạn phải trả khoảng từ 0$ đến 14$.
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/GRAY%20GRIDS.png"
              alt="GRAY GRIDS">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="GRAY GRIDS" target="_blank"
                href="https://graygrids.com/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              templated.co
            </h2>
            <p>
              <b> templated.co</b> tổng hợp hơn 867 CSS, HTML5 Và Responsive Template miễn phí.
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/templatedco.png"
              alt="templated.co">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="templated.co" target="_blank"
                href="https://templated.co/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Creative Tim
            </h2>
            <p>
              <b> Creative Tim</b> là nơi tổng hợp những mẫu và theme tốt nhất được phát triển bởi Creative Tim.
              Các mẫu này thường được xây dựng bằng Bootstrap với nhiều thiết kế hiện đại và dễ dàng chỉnh sửa thông qua
              các component được cung cấp sẵn.
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Creative%20Tim.png"
              alt=" Creative Tim">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title=" Creative Tim" target="_blank"
                href="https://www.creative-tim.com/templates/free">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Templatemo
            </h2>
            <p>
              <b> Templatemo</b> tổng hợp hơn 146 mẫu bootstrap template được hiển thị responsive trên nhiều màn hình
              thiết bị.
              Hơn 548+ template CSS được sử dụng hoàn toàn miễn phí cho trang web kể cả dự án cá nhân hoặc thương mại.
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Templatemo.png"
              alt="Templatemo">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Templatemo" target="_blank"
                href="https://templatemo.com/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              FreeHTML5.CO
            </h2>
            <p>
              <b> FreeHTML5.CO</b> là bộ sưu tập các mẫu HTML 5, Bootstrap miễn phí phù hợp cho nhà thiết kế,
              lập trình viên, các blogger... với thiết kế theo xu hướng tối giản và gọn gàng. Nó cũng cung cấp các tiện
              ích khác như là đáp ứng trên nhiều thiết bị,
              dễ dàng chỉnh sửa, tinh chỉnh, kích thước file không quá lớn. Lĩnh vực mà trang web này cung cấp rất đa
              dạng như là nhà hàng, nhiếp ảnh, công ty, du lịch, bất động sản...
            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/FreeHTML5CO.png"
              alt="FreeHTML5.CO">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="FreeHTML5.CO" target="_blank"
                href="https://freehtml5.co/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Styleshout
            </h2>
            <p>
              <b>Styleshout</b> là bộ sưu tập tuyệt vời HTML5 Template đơn giản, gọn gàng và tải về hoàn toàn miễn phí.
              Trang web cũng cho phép sử dụng các mẫu template này cho dự án cả cá nhân và thương mại.

            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Styleshout.png"
              alt="Styleshout">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Styleshout" target="_blank"
                href="https://www.styleshout.com/free-templates/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              HTML5xCSS3
            </h2>
            <p>
              <b> HTML5xCSS3</b> tập hợp hơn 480 Website Template miễn phí với đầy đủ tiêu chuẩn W3 và responsive trên
              nhiều thiết bị.


            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/HTML5xCSS3.png"
              alt="HTML5xCSS3">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="HTML5xCSS3" target="_blank"
                href="https://www.html5xcss3.com/c/free-website-templates">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Themes For App
            </h2>
            <p>
              <b>Themes For App</b> được sáng lập bởi Kantbtrue và Savydv với mục đích truyền cảm hứng design và tiết
              kiệm thời gian cho
              các lập trình viên khi phát triển giao diện website với nhiều mẫu template miễn phí.


            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Themes%20For%20App.png"
              alt="Themes For App">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Themes For App" target="_blank"
                href="https://themesfor.app/all-themes/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Tooplate
            </h2>
            <p>
              <b>Tooplate</b> cung cấp những mẫu HTML, CSS, Bootstrap mới nhất và hoàn toàn miễn phí sử dụng cho các dự
              án cá nhân và thương mại.


            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Tooplate.png"
              alt="Tooplate">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Tooplate" target="_blank"
                href="https://www.tooplate.com/">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Startbootstrap
            </h2>
            <p>
              <b>Startbootstrap</b> cung cấp các mẫu Bootstrap Template cơ bản và phổ biến dành cho trang web.


            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Startbootstrap%20%282%29.png"
              alt="Startbootstrap">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Startbootstrap" target="_blank"
                href="https://startbootstrap.com/templates">Nguồn</a></p>


            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              BootstrapMade
            </h2>
            <p>
              <b>BootstrapMade</b> cung cấp các template với thiết kế đơn giản, thiết kế đẹp mắt, gọn gàng, tối giản cho website 
              bằng Bootstrap.


            </p>
            <img class="img-fluid  lazyload"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/BootstrapMade.png"
              alt="BootstrapMade">

            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="BootstrapMade" target="_blank"
                href="https://bootstrapmade.com/">Nguồn</a></p>

                <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
                  Themevault
                </h2>
                <p>
                  <b>Themevault</b> cung cấp các responsive template miễn phí với đa dạng lĩnh vực như là nhà hàng khách sạn, thời trang, làm đẹp,
                  kinh doanh...
    
    
                </p>
                <img class="img-fluid  lazyload"
                  data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Themevault.png"
                  alt="Themevault">
    
                <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Themevault" target="_blank"
                    href="https://www.themevault.net/free-responsive-website-templates">Nguồn</a></p>


                    <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
                      Free CSS 
                    </h2>
                    <p>
                      <b> Free CSS </b> theo mình thấy là ngoài cung cấp các mẫu template website đẹp thì nó cũng rất hay cập nhật các 
                      mẫu website theo xu hướng dành cho thiết kế web.
        
        
                    </p>
                    <img class="img-fluid  lazyload"
                      data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/trang_web_tai_html_template/Free%20CSS.png"
                      alt=" Free CSS ">
        
                    <p class="mt-4 pb-4"> <a class="button-blog-post-article" title=" Free CSS " target="_blank"
                        href="https://www.free-css.com/free-css-templates">Nguồn</a></p>







            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những nơi cung cấp những trang web tải template miễn phí và
              hữu ích dành cho
              việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui
              vẻ!</p>
          </div>
        </article>























      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>