<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Thư Viện Tạo Chế Độ Xem 360 Độ Cho Web Năm 2020</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                <b>Chế độ xem 360 độ là gì?</b> Ngày nay với sự phát triển mạnh mẽ của công nghệ thì bạn có thể dễ dàng
                chụp những hình ảnh
                toàn cảnh(360 độ). Nhưng việc hiển thị các hình ảnh đó trên trang web của bạn thì thật sự rất khó khăn
                vì nó yêu cầu rất cao
                về mặt kỹ thuật để có thể hiện thị toàn cảnh hình ảnh của bạn cũng như giúp người dùng dễ dàng tương tác
                nhất có thể.
                Do đó bài viết hôm nay mình sẽ giới thiệu đến bạn các thư viện Javascript giúp chúng ta giải quyết vấn
                đề trên
                và làm tăng trải nghiệm người dùng hơn. Nào hãy cùng mình đi vào tìm hiểu nhé!



              </i>
            </p>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://pchen66.github.io/Panolens/"
                  target="_blank" title="Panolens.js">Panolens.js</a></h3>
            </div>
            <p>
              <b>Panolens.js</b> là một thư viện mã nguồn được xây dựng dựa trên Three.JS (3D framework) giúp bạn hiển
              thị hình ảnh, video
              dưới dạng 360 độ, thực tế ảo... Để sử dụng thì bạn chỉ cần tải 2 file là <code>three.min.js</code>
              và <code>panolens.min.js</code>, sau đó gán vào chương trình và khởi tạo đối tượng <code>PANOLENS</code>
              bằng mã Javascript (Phần này bạn xem thêm ở DOCUMENTATION nhé). Điểm mình thích ở thư viện này là có từng
              ví dụ chi tiết
              cho mỗi chức năng như là video dưới dạng 360 độ, cho phép chú thích nội dung vào hình ảnh video, tích hợp
              các nút điều khiển hướng...
              Phần này bạn có thể tham khảo thêm ở mục EXAMPLE của trang demo nhé!

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592965155/thu-vien-javascript-hien-thi-hinh-anh-360-do/Panolensjs_dcxqdv.png"
              alt="Panolens.js">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://pchen66.github.io/Panolens/" target="_blank" title="Panolens.js"> Nguồn
                Panolens.js
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://pannellum.org/" target="_blank"
                  title="Pannellum">Pannellum</a></h3>
            </div>
            <p>
              <b>Pannellum</b> là thư viện mã nguồn mở được xây dựng bằng sự kết hợp giữa HTML5, CSS3, Javascript và
              WebGL
              với kích thước chỉ khoảng 21kb(sau khi nén). Nó giúp bạn tạo trình xem ảnh hay video 360 độ một cách dễ
              dàng và nhanh chóng cho trang web.
              Ngoài ra thì Pannellum cũng tương thích với đa số trình duyệt phổ biến ngày nay như là Chrome 24+ (phiên
              bản 24 trở lên),
              Firefox 23+, Safari 8+, Internet Explorer 11+ và Edge. Và nó cũng có hỗ trợ một số tính năng hữu ích như
              là
              thêm các nút điều khiển, autoload, thêm chú thích và tác giả...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592966042/thu-vien-javascript-hien-thi-hinh-anh-360-do/Pannellum_iuxuvl.png"
              alt="Pannellum">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white" href="https://pannellum.org/"
                target="_blank" title="Pannellum"> Nguồn
                Pannellum
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://www.marzipano.net/" target="_blank"
                  title="Marzipano">Marzipano</a></h3>
            </div>
            <p>
              <b>Marzipano</b> là thư viện mã nguồn mở giúp bạn dễ dàng tạo trình xem phương tiện 360 độ cho trang web.
              Nó được thiết kế dựa trên các công nghệ web tiêu chuẩn, cung cấp API Javascript mạnh mẽ và hiển thị trên
              nhiều màn hình
              thiết bị khác nhau. Ngoài hỗ trợ các trình duyệt hiện đại thì nó cũng cấp các tính năng giúp bạn dễ dàng
              áp dụng trên những trình duyệt cũ như là IE8.
              Điểm mình thích ở thư viện này là nó cung cấp thêm công cụ giúp bạn tạo trực tiếp trình xem phương tiện
              360 độ
              mà không cần phải tải thư viện về máy. Bạn chỉ cần nhúng đoạn mã được cung cấp từ công cụ đó vào trang web
              là có thể sử dụng rồi.

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592966992/thu-vien-javascript-hien-thi-hinh-anh-360-do/Marzipano_vdbgfx.png"
              alt="Marzipano">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white" href="https://www.marzipano.net/"
                target="_blank" title="Marzipano"> Nguồn
                Marzipano
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://naver.github.io/egjs-view360/"
                  target="_blank" title="view360">view360</a></h3>
            </div>
            <p>
              <b>view360</b> là thư viện mã nguồn mở cung cấp giải pháp trình xem phương tiện 360 độ một cách toàn diện
              cho trang web của bạn. Với các tính năng hữu ích như là có thể sử dụng cho video hoặc hình ảnh,
              giúp người dùng tương tác dễ hơn trên thiết bị điện thoại thông qua xoay hoặc vuốt,
              load hình ảnh hay video thông qua URL... Nó được chia thành 2 dạng hiển thị chính là PanoViewer và
              SpinViewer.
              Đối với mỗi loại hiển thị thì đều có ví dụ chi tiết cho từng chức năng để giúp bạn dễ dàng hình dung và áp
              dụng vào trang web của mình.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592968224/thu-vien-javascript-hien-thi-hinh-anh-360-do/view360_ygmfrr.png"
              alt="view360">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://naver.github.io/egjs-view360/" target="_blank" title="view360"> Nguồn
                view360
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a
                  href="https://scaleflex.github.io/js-cloudimage-360-view/" target="_blank"
                  title="JS Cloudimage 360 View">JS Cloudimage 360 View</a></h3>
            </div>
            <p>
              <b>JS Cloudimage 360 View</b> là thư viện mã nguồn mở với kích thước nhỏ gọn được viết bằng Javascript
              giúp bạn
              dễ dàng hiển thị hình ảnh dưới dạng 360 độ cũng như cung cấp thêm nhiều tính năng giúp người dùng tương
              tác
              thuận lợi hơn như là hiển thị toàn màn hình, chức năng lazyload, công cụ phóng to hình ảnh... Ngoài ra nó
              cũng cấp CDN
              giúp bạn có thể sử dụng trực tiếp cho trang web với cách thiết lập cũng rất đơn giản là gọi các thuộc tính
              mà nó cung cấp sẵn vào trong đối tượng HTML mà ta muốn
              hiển thị hình ảnh 360 độ.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592968932/thu-vien-javascript-hien-thi-hinh-anh-360-do/JS_Cloudimage_360_View_sroen7.png"
              alt="JS Cloudimage 360 View">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://scaleflex.github.io/js-cloudimage-360-view/" target="_blank"
                title="JS Cloudimage 360 View"> Nguồn
                JS Cloudimage 360 View
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://aframe.io/" target="_blank"
                  title="A-Frame">A-Frame</a></h3>
            </div>
            <p>
              <b>A-Frame</b> ngoài giúp bạn xây dựng các trình phương tiện 360 độ thì nó cũng cung cấp thêm nhiều tính
              năng khác giúp bạn
              tăng cường trải nghiệm thực tế ảo cho trang web. Bạn chỉ cần sử dụng CDN để gọi A-Frame và sau đó sử dụng
              thẻ <code>&#60;a-scene&#62;</code>
              để thiết lập các thuộc tính cho trình xem phương tiện 360 độ. Do viết bằng HTML nên nó dễ dàng đọc, hiểu
              và áp dụng vào dựa án
              web một cách dễ dàng. Nó cũng được nhiều công ty lớn tin tưởng và sử dụng như là Google, Disney, Samsung,
              Toyota...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592970224/thu-vien-javascript-hien-thi-hinh-anh-360-do/A-Frame_ccxngh.png"
              alt="A-Frame">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white" href="https://aframe.io/"
                target="_blank" title="A-Frame"> Nguồn
                A-Frame
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a
                  href="https://developers.google.com/vr/develop/web/vrview-web" target="_blank" title="VR View">VR
                  View</a></h3>
            </div>
            <p>
              <b>VR View</b> là thư viện mã nguồn mở được xây dựng bằng Javascript do Google cung cấp giúp bạn có thể dễ
              dàng nhúng hay thêm trình xem phương tiện 360 độ cho trang web của mình.
              Nó hỗ trợ tốt nhất đối với hình ảnh là loại jpeg và video là mp4. Ngoài ra nó cũng cung cấp cho bạn một số
              thuộc tính để tùy chỉnh
              phù hợp với mục đích sử dụng như là xác định hiển thị góc ban đầu của vị trí camera, xác định độ rộng và
              cao cho trình phương tiện,
              sử dụng chế độ toàn màn hình...
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592971481/thu-vien-javascript-hien-thi-hinh-anh-360-do/VR_View_lmqf0h.png"
              alt="VR View">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://developers.google.com/vr/develop/web/vrview-web" target="_blank" title="VR View"> Nguồn
                VR View
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://photo-sphere-viewer.js.org/"
                  target="_blank" title="Photo Sphere Viewer">
                  Photo Sphere Viewer
                </a></h3>
            </div>
            <p>
              <b>Photo Sphere Viewer</b> là một thư viện Javascript được xây dựng dựa trên three.js giúp bạn dễ dàng
              hiển thị hình ảnh dưới dạng toàn cảnh (360 độ)
              cho trang web. Nó hiển thị được trên nhiều màn hình thiết bị khác nhau và cung cấp nhiều thuộc tính,
              phương thức giúp bạn có thể
              tinh chỉnh trình xem hình ảnh một cách dễ dàng như là hiển thị thanh phóng to thu nhỏ, nút tải hình ảnh về
              máy tính, thêm tiêu đề nội dung vào hình ảnh...

            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592972185/thu-vien-javascript-hien-thi-hinh-anh-360-do/Photo_Sphere_Viewer_we67tf.png"
              alt="Photo Sphere Viewer">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://photo-sphere-viewer.js.org/" target="_blank" title="Photo Sphere Viewer"> Nguồn
                Photo Sphere Viewer
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://github.com/thiagopnts/kaleidoscope"
                  target="_blank" title="Kaleidoscope">
                  Kaleidoscope
                </a></h3>
            </div>
            <p>
              <b>Kaleidoscope</b> là một thư viện Javascript mã nguồn mở giúp bạn dễ dàng xây dựng trình xem phương tiện
              360 độ cho hình ảnh hoặc video.
              Nếu bạn cần một thư viện nhỏ gọn, không sử dụng thư viện bổ sung và có thể đáp ứng những yếu tố cơ bản về
              việc hiển thị video, hình ảnh toàn cảnh thì mình nghĩ thư
              viện này là một lựa chọn tốt cho trang web của bạn.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592981974/thu-vien-javascript-hien-thi-hinh-anh-360-do/Kaleidoscope_ys8hp9.png"
              alt="Kaleidoscoper">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://github.com/thiagopnts/kaleidoscope" target="_blank" title="Kaleidoscope"> Nguồn
                Kaleidoscope
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> <a href="https://github.com/Jam3/360-image-viewer"
                  target="_blank" title="360-image-viewer">
                  360-image-viewer
                </a></h3>
            </div>
            <p>
              <b>360-image-viewer</b> là cũng là một thư viện giống như ở trên giúp bạn hiển thị toàn cảnh cho hình ảnh, video và 
              responsive trên nhiều màn hình thiết bị khác nhau. Với kích thước chỉ khoảng 46kb(sau khi nén) giúp bạn dễ dàng tối ưu hiệu suất cho trang web khi sử dụng 
              thư viện này.
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592982237/thu-vien-javascript-hien-thi-hinh-anh-360-do/360-image-viewer_zmypkk.png"
              alt="360-image-viewer">
            <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                href="https://github.com/Jam3/360-image-viewer" target="_blank" title="360-image-viewer"> Nguồn
                360-image-viewer
              </a> </button>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size"> 
                    Một số thư viện khác
                </h3>
              </div>
            
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592983828/thu-vien-javascript-hien-thi-hinh-anh-360-do/React_360_oo0gbv.png"
                alt="React 360">
              <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                  href="https://facebook.github.io/react-360/" target="_blank" title="React 360"> Nguồn
                  React 360
                </a> </button>

                <hr>
                <img class="img-thumbnail img-fluid mt-4 shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592983919/thu-vien-javascript-hien-thi-hinh-anh-360-do/2VR_l1pibq.png"
                alt="2VR">
              <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                  href="http://www.2vr.in/" target="_blank" title="2VR"> Nguồn
                  2VR
                </a> </button>


                <hr>
                <img class="img-thumbnail img-fluid mt-4 shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592984060/thu-vien-javascript-hien-thi-hinh-anh-360-do/Panoraven_gr40rv.png"
                alt="Panoraven">
              <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                  href="https://panoraven.com/en" target="_blank" title="Panoraven"> Nguồn
                  Panoraven
                </a> </button>

                <hr>
                <img class="img-thumbnail img-fluid mt-4 shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1592984407/thu-vien-javascript-hien-thi-hinh-anh-360-do/theasy_esf234.png"
                alt="Theasys 360°">
              <button type="button " class="btn btn-dark mt-4"> <a class="text-white"
                  href="https://www.theasys.io/samples/" target="_blank" title="Theasys 360°"> Nguồn
                  Theasys 360°
                </a> </button>






















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những thư viện tạo chế độ xem 360 độ hữu ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>