<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Sử Dụng Grid JS Cho Xây Dựng Bảng Trong Website </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Bài viết hôm nay chúng ta sẽ đi vào tìm hiểu thư viện Grid.js với nhiệm vụ chính là giúp bạn có thể
                làm việc với bảng trong trang web được dễ dàng hơn. Và để hiểu rõ hơn thì chúng ta hãy cùng nhau đi vào
                tìm hiểu nhé!
              </i>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Grid.js là gì?
              </h3>
            </div>
            <p>
              <b>Grid.js</b> là một thư viện mã nguồn mở được viết bằng TypeScript. Nó làm việc được với hầu hết
              framework phổ biến hiện nay như là
              React, Angular, Vue. Nhưng trong bài viết này thì mình sẽ hướng dẫn bạn sử dụng thư viện với Javascript
              thuần thôi nhé!
            </p>
            <p>
              Dưới đây là một ví dụ về bảng khi được xây dựng bằng Grid.js:
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1595249622/gridjs/gridjs_f7cmig.png"
              alt="GridJS"
              >

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Cách Cài Đặt Grid.js
                </h3>
              </div>

              <p>
                Bạn có thể thiết lập nó thông qua hai cách là sử dụng npm và CDN. Để thuận tiện trong việc sử dụng thì mình sẽ sử dụng cách CDN với hai file chính là:
                <ul>
                  <li><code>gridjs</code> với đường dẫn CDN là <code>https://unpkg.com/gridjs</code></li>
                  <li><code>theme</code>(chủ đề cho bảng) với đường dẫn CDN là <code>https://unpkg.com/gridjs/dist/theme/mermaid.min.css</code></li>
                </ul>
              </p>
              <p>
                Nếu bạn muốn sử dụng npm để thiết lập thì có thể xem <a href="https://www.npmjs.com/package/gridjs" title="gridjs" target="_blank" rel="noopener noreferrer">ở đây nhé</a>.<br/>
                Tiếp theo chúng ta sẽ tạo cấu trúc HTML và gắn các CDN vào trang web nhé:
              </p>
              <pre><code class="html">&#60;html&nbsp;lang="en"&#62;<br/> &nbsp;&nbsp;&#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" &nbsp;rel="stylesheet" /&#62;<br/> &nbsp;&nbsp;&#60;/head&#62;<br/> &nbsp;&nbsp;&#60;body&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;id="bang"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;script&nbsp;src="https://unpkg.com/gridjs/dist/gridjs.development.js"&#62;&#60;/script&#62;<br/> &nbsp;&nbsp;&#60;/body&#62;<br/> &#60;/html&#62;<br/></code></pre>


              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  Cách Sử Dụng Grid.js
                </h3>
              </div>
              <p>
                Sau khi chúng ta đã có những file cần thiết thì bây giờ bạn và mình sẽ đi vào khởi tạo và sử dụng Grid.js để tạo bảng thông qua 
                đoạn code javascript dưới đây nhé:
              </p>
              <pre><code class="javascript"> &#60;script&#62;<br/> new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;["Tên",&nbsp;"Email",&nbsp;"Số&nbsp;Điện&nbsp;Thoại"],<br/> &nbsp;&nbsp;data:&nbsp;[<br/> &nbsp;&nbsp;&nbsp;&nbsp;["John",&nbsp;"john@example.com",&nbsp;"(353)&nbsp;01&nbsp;222&nbsp;3333"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Mark",&nbsp;"mark@gmail.com",&nbsp;"(01)&nbsp;22&nbsp;888&nbsp;4444"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Eoin",&nbsp;"eoin@gmail.com",&nbsp;"0097&nbsp;22&nbsp;654&nbsp;00033"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Sarah",&nbsp;"sarahcdd@gmail.com",&nbsp;"+322&nbsp;876&nbsp;1233"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Afshin",&nbsp;"afshin@mail.com",&nbsp;"(353)&nbsp;22&nbsp;87&nbsp;8356"]<br/> &nbsp;&nbsp;]<br/> }).render(document.getElementById("bang"));<br/> &#60;/script&#62;<br/></code></pre>
              <p class="mt-4">
                Ở phía trên mình có một tý lưu ý là:
                <ul>
                  <li><code>new gridjs.Grid</code>: dùng để khởi tạo đối tượng bảng trong thư viện Grid.js</li>
                  <li><code>columns</code>: dùng để xác định tiêu đề cũng như số cột trong bảng</li>
                  <li><code>data</code>: là dữ liệu mà bảng sẽ hiển thị</li>
                  <li><code>render(document.getElementById("bang"))</code>: Chọn thẻ div có id là <code>bang</code> để hiển thị table trong trang web.</li>
                </ul>
              </p>
              <p>
                Và dưới đây là kết quả bảng của chúng ta trong trang web:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="haycuoilennao19" data-slug-hash="KKVbNRN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sử dụng gridjs để tạo bảng">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/KKVbNRN">
                Sử dụng gridjs để tạo bảng</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                 Thêm Chức Năng Cho Bảng Bằng Grid.js
                </h3>
              </div>
              <p>
               Bạn có tự hỏi là tại sao mình lại sử dụng thư viện này để tạo một bảng đơn giản như ở trên?<br/>
               Thì thật ra đó chính là bước khởi đầu để giúp bạn có thể cách hình dung mà thư viện này hoạt động trong trang web.
               Ở phần này chúng ta sẽ thiết lập những chức năng hữu ích để phát triển bảng HTML thông qua các thuộc tính được cung cấp sẵn  nhé!
              </p>
              <div class="shadow p-2 mb-2 bg-dark text-white rounded">
                <h4>Tạo phân trang  trong bảng:</h4>
              </div>
              <p>
                Thư viện có cung cấp cho chúng ta một thuộc tính là <code>pagination</code> với hai giá trị <code>true</code> và <code>false</code> giúp bạn có thể tạo phân trang cho bảng 
                một cách dễ dàng. Và để dễ hình dung hơn thì chúng ta sẽ xem đoạn code sau nhé (Các cấu trúc HTML thì bạn cứ sử dụng ở ví dụ trên nha):
              </p>
              <pre><code class="javascript">​&nbsp;new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;["Tên",&nbsp;"Email",&nbsp;"Số&nbsp;Điện&nbsp;Thoại"],<br/> &nbsp;&nbsp;&nbsp;/*Tạo&nbsp;phân&nbsp;trang&nbsp;cho&nbsp;bảng*/<br/> &nbsp;&nbsp;&nbsp;pagination:&nbsp;true,<br/> &nbsp;&nbsp;data:&nbsp;[<br/> &nbsp;&nbsp;&nbsp;&nbsp;["John",&nbsp;"john@example.com",&nbsp;"(353)&nbsp;01&nbsp;222&nbsp;3333"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Mark",&nbsp;"mark@gmail.com",&nbsp;"(01)&nbsp;22&nbsp;888&nbsp;4444"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Eoin",&nbsp;"eoin@gmail.com",&nbsp;"0097&nbsp;22&nbsp;654&nbsp;00033"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Sarah",&nbsp;"sarahcdd@gmail.com",&nbsp;"+322&nbsp;876&nbsp;1233"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Afshin",&nbsp;"afshin@mail.com",&nbsp;"(353)&nbsp;22&nbsp;87&nbsp;8356"]<br/> &nbsp;&nbsp;]<br/> }).render(document.getElementById("bang"));<br/></code></pre>
              <p class="mt-4">
                Và kết quả của chúng ta sẽ như hình dưới nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="VweqPYJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="tạo phân trang với gridjs">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/VweqPYJ">
                tạo phân trang với gridjs</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <p class="mt-4">
                Nếu như bạn muốn <b>giới hạn số lượng phần tử</b> được hiển thị trong một trang thì có thể sử dụng giá trị <code>limit</code> trong thuộc tính <code>pagination</code>
                như đoạn code dưới đây nhé:
              </p>
              <pre><code class="javascript">&nbsp;new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;["Tên",&nbsp;"Email",&nbsp;"Số&nbsp;Điện&nbsp;Thoại"],<br/> &nbsp;&nbsp;&nbsp;/*Tạo&nbsp;phân&nbsp;trang&nbsp;cho&nbsp;bảng*/<br/> &nbsp;&nbsp;&nbsp;pagination:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;/*Giới&nbsp;hạn&nbsp;2&nbsp;phần&nbsp;tử&nbsp;được&nbsp;hiển&nbsp;thị&nbsp;trên&nbsp;mỗi&nbsp;trang*/<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;limit:&nbsp;2<br/> &nbsp;&nbsp;&nbsp;},<br/> &nbsp;&nbsp;data:&nbsp;[<br/> &nbsp;&nbsp;&nbsp;&nbsp;["John",&nbsp;"john@example.com",&nbsp;"(353)&nbsp;01&nbsp;222&nbsp;3333"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Mark",&nbsp;"mark@gmail.com",&nbsp;"(01)&nbsp;22&nbsp;888&nbsp;4444"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Eoin",&nbsp;"eoin@gmail.com",&nbsp;"0097&nbsp;22&nbsp;654&nbsp;00033"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Sarah",&nbsp;"sarahcdd@gmail.com",&nbsp;"+322&nbsp;876&nbsp;1233"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Afshin",&nbsp;"afshin@mail.com",&nbsp;"(353)&nbsp;22&nbsp;87&nbsp;8356"]<br/> &nbsp;&nbsp;]<br/> }).render(document.getElementById("bang"));<br/></code></pre>
              <p class="mt-4">
                Và kết quả ở bên dưới nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="ExPGZyO" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="gioi han phan tu trong bang voi gridjs">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/ExPGZyO">
                gioi han phan tu trong bang voi gridjs</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>

              <div class="shadow p-2 mb-2 mt-4 bg-dark text-white rounded">
                <h4>Tạo chức năng lọc  cho bảng:</h4>
              </div>
              <p>
                Ở đây khi bạn muốn lọc các phần tử trong bảng theo bảng chữ cái hay số... thì ta chỉ cần thêm một thuộc tính là <code>sort: true</code> thì nó sẽ tự động tạo chức năng lọc cho bảng.
                Và để dễ hình dung hơn chúng ta sẽ đi vào đoạn code sau đây nhé:
              </p>
              <pre><code class="javascript">&nbsp;new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;["Tên",&nbsp;"Email",&nbsp;"Số&nbsp;Điện&nbsp;Thoại"],<br/> &nbsp;&nbsp;/*Tạo&nbsp;chức&nbsp;năng&nbsp;lọc&nbsp;cho&nbsp;bảng*/<br/> &nbsp;&nbsp;sort:true,<br/> &nbsp;&nbsp;data:&nbsp;[<br/> &nbsp;&nbsp;&nbsp;&nbsp;["John",&nbsp;"john@example.com",&nbsp;"(353)&nbsp;01&nbsp;222&nbsp;3333"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Mark",&nbsp;"mark@gmail.com",&nbsp;"(01)&nbsp;22&nbsp;888&nbsp;4444"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Eoin",&nbsp;"eoin@gmail.com",&nbsp;"0097&nbsp;22&nbsp;654&nbsp;00033"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Sarah",&nbsp;"sarahcdd@gmail.com",&nbsp;"+322&nbsp;876&nbsp;1233"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Afshin",&nbsp;"afshin@mail.com",&nbsp;"(353)&nbsp;22&nbsp;87&nbsp;8356"]<br/> &nbsp;&nbsp;]<br/> }).render(document.getElementById("bang"));<br/></code></pre>
              <p class="mt-4">
                Và kết quả bạn xem ở bên dưới nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="QWyzdvq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="tạo chức năng lọc cho bảng gridjs">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/QWyzdvq">
                tạo chức năng lọc cho bảng gridjs</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>


              <div class="shadow p-2 mb-2 mt-4 bg-dark text-white rounded">
                <h4>Tạo chức năng tìm kiếm cho bảng:</h4>
              </div>
              <p>
                Thư viện Grid.js có cung cấp thêm cho chúng ta một chức năng hữu ích khác đó tìm kiếm phần tử trong bảng. Bạn chỉ cần thiết lập thuộc tính 
                <code>search: true</code> trong quá trình khởi tạo bảng là có thể thực hiện tìm kiếm trên bảng rồi.
              </p>

              <pre><code class="javascript">&nbsp;new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;["Tên",&nbsp;"Email",&nbsp;"Số&nbsp;Điện&nbsp;Thoại"],<br/> &nbsp;&nbsp;/*Tạo&nbsp;chức&nbsp;năng&nbsp;tìm kiếm&nbsp;cho&nbsp;bảng*/<br/> &nbsp;&nbsp;search:true,<br/> &nbsp;&nbsp;data:&nbsp;[<br/> &nbsp;&nbsp;&nbsp;&nbsp;["John",&nbsp;"john@example.com",&nbsp;"(353)&nbsp;01&nbsp;222&nbsp;3333"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Mark",&nbsp;"mark@gmail.com",&nbsp;"(01)&nbsp;22&nbsp;888&nbsp;4444"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Eoin",&nbsp;"eoin@gmail.com",&nbsp;"0097&nbsp;22&nbsp;654&nbsp;00033"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Sarah",&nbsp;"sarahcdd@gmail.com",&nbsp;"+322&nbsp;876&nbsp;1233"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Afshin",&nbsp;"afshin@mail.com",&nbsp;"(353)&nbsp;22&nbsp;87&nbsp;8356"]<br/> &nbsp;&nbsp;]<br/> }).render(document.getElementById("bang"));<br/></code></pre>
              <p class="mt-4">
                Và kết quả ở dưới đây nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="LYGMxQP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="tạo chức năng tìm kiếm bằng gridjs">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/LYGMxQP">
                tạo chức năng tìm kiếm bằng gridjs</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                 Cách Thiết Lập Style Cho Bảng Trong Grid.js
                </h3>
              </div>
              <p>
                Đôi khi vì yêu cầu của khách hàng thì chúng ta cần thay đổi màu sắc, màu nền... cho bảng, thì trong thư viện Grid.js có cung cấp cho chúng ta một thuộc tính  
                <code>style</code> giúp bạn có thể thiết lập style trong quá trình khởi tạo bảng. Và để hiểu rõ hơn bạn xem đoạn code sau nhé:
              </p>
              <pre><code class="javascript">&nbsp;new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;["Tên",&nbsp;"Email",&nbsp;"Số&nbsp;Điện&nbsp;Thoại"],<br/> &nbsp;&nbsp;data:&nbsp;[<br/> &nbsp;&nbsp;&nbsp;&nbsp;["John",&nbsp;"john@example.com",&nbsp;"(353)&nbsp;01&nbsp;222&nbsp;3333"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Mark",&nbsp;"mark@gmail.com",&nbsp;"(01)&nbsp;22&nbsp;888&nbsp;4444"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Eoin",&nbsp;"eoin@gmail.com",&nbsp;"0097&nbsp;22&nbsp;654&nbsp;00033"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Sarah",&nbsp;"sarahcdd@gmail.com",&nbsp;"+322&nbsp;876&nbsp;1233"],<br/> &nbsp;&nbsp;&nbsp;&nbsp;["Afshin",&nbsp;"afshin@mail.com",&nbsp;"(353)&nbsp;22&nbsp;87&nbsp;8356"]<br/> &nbsp;&nbsp;],<br/> &nbsp;&nbsp;&nbsp;/*&nbsp;Thiết&nbsp;Lập&nbsp;Style&nbsp;Cho&nbsp;Bảng*/<br/> &nbsp;&nbsp;&nbsp;style:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;table:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;'3px&nbsp;solid&nbsp;#ccc'<br/> &nbsp;&nbsp;&nbsp;&nbsp;},<br/> &nbsp;&nbsp;&nbsp;&nbsp;th:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'background-color':&nbsp;'#0040ff',<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;'#fff',<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'border-bottom':&nbsp;'3px&nbsp;solid&nbsp;#ccc',<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'text-align':&nbsp;'center'<br/> &nbsp;&nbsp;&nbsp;&nbsp;},<br/> &nbsp;&nbsp;&nbsp;&nbsp;td:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'text-align':&nbsp;'center'<br/> &nbsp;&nbsp;&nbsp;&nbsp;}<br/> &nbsp;&nbsp;}<br/> }).render(document.getElementById("bang"));<br/></code></pre>
              <p class="mt-4">
                Và kết quả bạn xem bên dưới nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="QWyzdzr" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="thiết lập style cho bảng gridjs">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/QWyzdzr">
                thiết lập style cho bảng gridjs</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                 Cách Lấy Dữ Liệu Thông Qua API Trong Gridjs
                </h3>
              </div>
              <p>
                Đôi khi chúng ta sẽ đi cần lấy dữ liệu thông qua API để hiển thị cho bảng. Thư viện có cung cấp cho chúng ta
                một thuộc tính là <code>url</code>  giúp bạn có thể dễ dàng lấy dữ liệu cho bảng. Để hiểu rõ hơn bạn xem đoạn code sau nhé:
              </p>
              <pre><code class="javascript">&nbsp;new&nbsp;gridjs.Grid({<br/> &nbsp;&nbsp;columns:&nbsp;['Name',&nbsp;'Language',&nbsp;'Released&nbsp;At',&nbsp;'Artist'],<br/> &nbsp;&nbsp;server:&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;/*Đường&nbsp;dẫn&nbsp;API&nbsp;cho&nbsp;dử&nbsp;liệu&nbsp;bảng*/<br/> &nbsp;&nbsp;&nbsp;&nbsp;url:&nbsp;'https://api.scryfall.com/cards/search?q=Inspiring',<br/> &nbsp;&nbsp;&nbsp;&nbsp;/*Thực&nbsp;hiện&nbsp;lặp&nbsp;và&nbsp;lấy&nbsp;dữ&nbsp;liệu&nbsp;API*/<br/> &nbsp;&nbsp;&nbsp;&nbsp;then:&nbsp;data&nbsp;=>&nbsp;data.data.map(card&nbsp;=>&nbsp;[card.name,&nbsp;card.lang,&nbsp;card.released_at,&nbsp;card.artist])<br/> &nbsp;&nbsp;}&nbsp;<br/> }).render(document.getElementById("bang"));<br/></code></pre>
              <p class="mt-4">
                Và kết quả bạn xem ở bên dưới nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="haycuoilennao19" data-slug-hash="xxZmqbG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="goi du lieu thong qua API Gridjs">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/xxZmqbG">
                goi du lieu thong qua API Gridjs</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>


















      <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



      <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn kiến thức về thư viện Grid.js
        hữu
        ích
        dành
        cho
        việc
        phát
        triển, thiết kế web
        và
        nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
        mong bạn tiếp tục ủng
        hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

    </div>
    </article>
  </div>
</div>




<div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>