<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Công Cụ Soạn Thảo Văn Bản WYSIWYG  2020</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
               Công cụ soạn thảo văn bản WYSIWYG cho phép người dùng tạo các tài liệu như văn bản, hình ảnh, video...
              ở ngay trên trang web một cách đơn giản. Ý nghĩa của từ WYSIWYG là "what you see is what you get".
              Theo mình thấy nó hay được sử dụng cho việc viết bài cho blog, chỉnh sử nội dung...
              Bây giờ bạn cùng mình hãy cùng nhau đi vào tìm hiểu nhựng công cụ WYSIWYG được sử dụng phổ biến trong năm 2020 nhé.
              </i>
            </p>
            <p>
              Trước khi đi vào vấn đề chính thì mình có để đường dẫn bên dưới để có thể giúp bạn hiểu rõ hơn về WYSIWYG nhé.
              <br/>
              <a href="https://vi.wikipedia.org/wiki/WYSIWYG#:~:text=WYSIWYG%20(vi%E1%BA%BFt%20t%E1%BA%AFt%20c%E1%BB%A7a%20What,%2C%20thi%E1%BA%BFt%20k%E1%BA%BF%20web..." target="_blank" title="WYSIWYG">WYSIWYG</a>
            </p>
            
           

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://ckeditor.com/" title="CKEditor" target="_blank">
                    Trình Soạn Thảo Văn Bản CKEditor
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>CKEditor</b> với hơn 10 năm kinh nghiệm phát triển thì bạn có thể hoàn toàn yên tâm về chất lượng của trình soạn thảo văn bản này nhé.
              Nó hỗ trợ hơn 70 ngôn ngữ trong đó có cả Việt Nam và được nhiều lập trình viên sử dụng thì mình nghĩ đây là sự lựa chọn tốt cho trang web của bạn.
              Không chỉ vậy nó còn có thể chạy trên nhiều trình duyệt khác nhau, làm việc tốt với hầu hết framework front end hiện nay,
              bạn có thể sử dụng CDN để nhúng trực tiếp vào trang HTML của mình... <br/>
              Hiện nay nó có hai phiên bản chạy song song là CKEditor 4 và CKEditor5, tùy vào mục đích sử dụng mà bạn sẽ chọn trình soạn thảo phù hợp với mình nhé.
              Trên trang chủ cũng có miêu tả chi tiết về hai chương trình này bạn có thể tìm hiểu thêm nha.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591709739/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-CKEditor_a7fwhv.png"
              alt="Trình Soạn Thảo Văn Bản CKEditor ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://ckeditor.com/" target="_blank" title="CKEditor">
                Nguồn CKEditor
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://alex-d.github.io/Trumbowyg/" title="Trumbowyg" target="_blank">
                    Trình Soạn Thảo Văn Bản Trumbowyg
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Trumbowyg</b> là một trình sửa mã được tối ưu cho HTML5 và nó hỗ trợ hầu hết các trình duyệt phổ biến như 
              IE9+, Firefox, Chrome... Theo mình thấy nó chứa tất cả các công cụ dành cho soạn thảo văn bản với dung lượng chỉ có 20Kb. 
              Thật nhẹ phải không nào, nó sẽ giúp trang web của bạn có thể chạy mượt mà hơn. 
              <br/>
              Ngoài ra nó cũng có các plugin hỗ trợ khác giúp bạn có thể làm việc tốt hơn như chèn biểu tượng cảm xúc, hỗ trợ ngôn ngữ các 
              quốc gia khác (bao gồm  Việt Nam luôn nhé), thêm âm thanh, chèn ký tự đặc biệt...
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591710836/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Trumbowyg_n52ei6.png"
              alt="Trình Soạn Thảo Văn Bản Trumbowyg ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://alex-d.github.io/Trumbowyg/" target="_blank" title="Trumbowyg">
                Nguồn Trumbowyg
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.tiny.cloud/features/" title="TinyMCE 5" target="_blank">
                    Trình Soạn Thảo Văn Bản TinyMCE 5
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>TinyMCE 5</b> là một trình soạn thảo giúp bạn có thể linh hoạt chỉnh sửa thêm bớt những phần mình mong muốn trong
              chương trình này một cách dễ dàng. Ngoài các yếu tố cơ bản cho một trình soạn thảo thì mình thấy 
            nó cũng cung cấp nhiều hỗ trợ nhằm giúp trải nghiệm người dùng tốt hơn như là thêm comment, kiểm tra đường dẫn, 
            cung cấp icon và skin cao cấp, kiểm tra lỗi chính tả cho nội dung... Tuy nhiên đây cũng là điểm yếu của nó vì nếu bạn muốn sử dụng các công cụ cao cấp thì phí rơi vào khoảng 
            25 $ cho một tháng.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591711510/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-TinyMCE5_xcfo0b.png"
              alt="Trình Soạn Thảo Văn Bản TinyMCE 5 ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.tiny.cloud/features/" target="_blank" title="TinyMCE 5">
                Nguồn TinyMCE 5
              </a>
            </button>






            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://quilljs.com/" title="Quill" target="_blank">
                    Trình Soạn Thảo Văn Bản Quill
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Quill</b> là một trình soạn thảo mã nguồn mở nên bạn cứ yên tâm sử dụng cho tất cả loại trang web thương mại hay phi 
              thương mại nhé. Nó được xây dựng với nhiều chức năng như thêm đường dẫn, hình ảnh, video hay thêm các đoạn code vào nội dung...
              Điểm mình thích ở Quill là cách thiết lập dễ dàng, hiển thị được trên tất cả các trình duyệt web hiện đại và responsive trên nhiều màn hình thiết bị,   có các bài hướng dẫn chi tiết về các vấn đề thường hay gặp  khi sử dụng nó.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591712371/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Quill_o64fwu.png"
              alt="Trình Soạn Thảo Văn Bản Quill ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://quilljs.com/" target="_blank" title="Quill">
                Nguồn Quill
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://trix-editor.org/" title="Trix" target="_blank">
                    Trình Soạn Thảo Văn Bản Trix
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Trix</b> là một trình soạn thảo mã nguồn mở  giúp bạn có thể soạn tin nhắn, viết bình luận, viết bài... trong trang web một cách dễ dàng.
              Nó được đánh giá hơn 15K sao trên github và được nhiều lập trình viên sử dụng. Nếu bạn chỉ cần các chức năng cần thiết cho việc tạo nội dung 
              thì Trix theo mình thấy là một lựa chọn tuyệt vời.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591713139/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Trix_isasfv.png"
              alt="Trình Soạn Thảo Văn Bản Trix ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://trix-editor.org/" target="_blank" title="Trix">
                Nguồn Trix
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://xdsoft.net/jodit/" title="Jodit Editor 3" target="_blank">
                    Trình Soạn Thảo Văn Bản Jodit Editor 3
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Jodit Editor 3</b> là một trình soạn thảo mã nguồn mở trên github được viết bằng TypeScript thuần mà không sử dụng thêm các thư viện bổ sung nào.
              Nó cho phép bạn thiết lập bằng nhiều cách như qua npm, tải về, dùng CDN... cho trang web của mình.
              Điểm mình thấy thích ở nó là ngoài các bài hướng dẫn chi tiết thì còn có thêm chương trình giúp chúng ta có thể  tự do trong việc lựa chọn những  
              công cụ để gắn vào Jodit Editor thông qua đoạn code chứa các thuộc tính  được tự động thiết lập ở bên dưới.(Cái này ở phần examples nhé)
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591714089/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Jodit_Editor_3_xoxbli.png"
              alt="Trình Soạn Thảo Văn Bản Jodit Editor 3 ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://xdsoft.net/jodit/" target="_blank" title="Jodit Editor 3">
                Nguồn Jodit Editor 3
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://summernote.org/" title="Summernote" target="_blank">
                    Trình Soạn Thảo Văn Bản Summernote 
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Summernote</b> là một trình soạn thảo mã nguồn mở trên github với hơn 9K sao bình chọn. Nó được thiết kế thông qua framework Bootstrap 
              với đầy đủ các tính năng cần thiết cho việc tạo nội dung trên trang web. Bạn chỉ cần tải source file css, js của nó và thêm  framework Bootstrap(Hỗ trợ hai phiên bản 3 và 4 luôn nhé)
              là đã có thể sử dụng cho trang web của mình rồi.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591714967/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Summernote_htijia.png"
              alt="Trình Soạn Thảo Văn Bản Summernote">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://summernote.org/" target="_blank" title="Summernote">
                Nguồn Summernote 
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://editorjs.io/" title="Editor.js" target="_blank">
                    Trình Soạn Thảo Văn Bản Editor.js 
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Editor.js</b> là một trình soạn thảo mã nguồn mở theo kiểu block-styled. Nó sẽ không sử dụng 
              các thẻ HTML như các trình soạn thảo thông thường mà nó sẽ xuất nội dung dưới dạng JSON giúp chúng ta 
              có thể dễ dàng quản lý hơn. Nó  cũng có các plugin hỗ trợ thông qua việc sử dụng API. Nhờ chức năng này nên bất kỳ 
              lập trình viên nào đều có thể đóng góp thêm nhiều plugin thú vị và hữu ích cho chương trình này. 
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591755055/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Editorjs_w65pcp.png"
              alt="Trình Soạn Thảo Văn Bản Editor.js">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://editorjs.io/" target="_blank" title="Editor.js">
                Nguồn Editor.js 
              </a>
            </button>





            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="http://yabwe.github.io/medium-editor/" title="MediumEditor" target="_blank">
                    Trình Soạn Thảo Văn Bản MediumEditor
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>MediumEditor</b> là một trình soạn thảo mã nguồn mở được xây dựng chỉnh sửa nội dung giống với trang web <a href="https://medium.com/" title="Medium" target="_blank">Medium</a> dành chuyên cho những người viết blog.
              Nó chỉ chứa những tiện ích cơ bản cần thiết cho trình soạn thảo vì vậy dung lượng chỉ khoảng 28kB. Điều này sẽ giúp trang web bạn được tối ưu hơn.
              Ngoài ra nếu chúng ta muốn thêm các tính năng khác để tối ưu hóa việc chỉnh sửa   thì MediumEditor cũng cung cấp thêm những công cụ
              tiện ích bên ngoài được  cập nhật thường xuyên.

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591757229/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-MediumEditor_vrt5yn.png"
              alt="Trình Soạn Thảo Văn Bản MediumEditor">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="http://yabwe.github.io/medium-editor/" target="_blank" title="MediumEditor">
                Nguồn MediumEditor
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="http://wysihtml.com/" title="Wysihtml" target="_blank">
                    Trình Soạn Thảo Văn Bản Wysihtml
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Wysihtml</b> là một trình soạn thảo mã nguồn mở được xây dựng bởi nhóm Voog.
              Nó có đầy đủ chức năng để giúp bạn có thể soạn thảo văn bản một cách dễ dàng và hỗ trợ hầu hết 
              trên các trình duyệt hiện đại, màn hình thiết bị ngày nay. Có một số công cụ mình khá thích ở nó là 
              tự động chuyển đổi các thẻ HTML không hợp lệ, tự động phân tích nội dung khi được sao chép từ Word, PDF 
              , hiển thị nội dung dưới dạng HTML...

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591758385/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Wysihtml_kedl4u.png"
              alt="Trình Soạn Thảo Văn Bản Wysihtml">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="http://wysihtml.com/" target="_blank" title="Wysihtml">
                Nguồn Wysihtml
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://getcontenttools.com/demo" title="ContentTools" target="_blank">
                    Trình Soạn Thảo Văn Bản ContentTools
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>ContentTools</b> là một trình soạn thảo mã nguồn mở được xây dựng giúp chỉnh sửa nội dung HTML một cách dễ dàng.
              Nó cung cấp đầy đủ các tiện ích cho việc soạn thảo nội dung và bạn cũng có thêm các thư viện, tiện ích khác vào trong chương trình 
              một cách dễ dàng (Xem ở phần API nhé).  Ngoài ra mình thấy nó có những bài viết về cách thiết lập, thêm hay bỏ những chức năng trong chương trình... rất chi tiết và tỉ mỉ.


            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591759196/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-ContentTools_lkot1y.png"
              alt="Trình Soạn Thảo Văn Bản ContentTools">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://getcontenttools.com/demo" target="_blank" title="ContentTools">
                Nguồn ContentTools
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://froala.com/wysiwyg-editor/tour/" title="Froala" target="_blank">
                    Trình Soạn Thảo Văn Bản Froala
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Froala</b> là một trình soạn thảo dễ dàng thiết lập cho trang web  cũng như cho phép bạn có thể mở rộng các tính năng tùy vào mục đích sử dụng.
              Do được viết bằng javascript thuần nên bạn có thể sử dụng cho hầu hết các framework front-end hiện đại ngày nay.
              Ngoài ra nó cung cấp rất nhiều công cụ hữu ích như là chỉnh sửa hình ảnh,  thêm  hay chỉnh sửa video, 
              thêm icon, quản lý bảng... Tuy vậy nếu bạn muốn sử dụng cho mục đích thương mại  thì phải mua giấy phép nhé.


            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591760657/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Froala_xzhtsu.png"
              alt="Trình Soạn Thảo Văn Bản Froala">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://froala.com/wysiwyg-editor/tour/" target="_blank" title="Froala">
                Nguồn Froala
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://imperavi.com/redactor/" title="Redactor" target="_blank">
                    Trình Soạn Thảo Văn Bản Redactor
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Redactor</b> là một trình soạn thảo cung cấp đầy đủ chức năng với thiết kế đơn giản và đẹp mắt.
              Với hơn 9 năm phát triển bao gồm nhiều plugin hỗ trợ thì mình nghĩ đây là một sản phẩm tốt để bạn 
              dùng cho trang web của mình. Ngoài ra nó có các ví dụ cực kỳ chi tiết cho từng vấn đề các lập trình hay gặp trong quá trình sử dụng chương trình.
              Tuy vậy nó cũng có điểm hạn chế là bạn sẽ phải mua giấy phép khi sử dụng cho mục đích thương mại.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591759900/trinh-soan-thao-van-ban-web/trinh-so%E1%BA%A1n-thao-van-ban-Redactor_c4ost0.png"
              alt="Trình Soạn Thảo Văn Bản Redactor">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://imperavi.com/redactor/" target="_blank" title="Redactor">
                Nguồn Redactor
              </a>
            </button>



















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những công cụ WYSIWYG  hữu ích dành cho việc phát triển, thiết kế web
       và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>