<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Subscribe Forms Cho Trang Web (2020) </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Bài viết hôm nay chúng ta hãy cùng nhau đi vào tìm hiểu những Subscribe Forms xây dựng bằng HTML, CSS,
                Javascript
                và được sử dụng phổ biến trong năm 2020 nhé!
              </i>
            </p>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Forms Là Gì?
              </h3>
            </div>
            <p>
              <b>Subscribe Forms</b> là một biểu mẫu để lấy thông tin email của người dùng. Với nhiệm vụ chính là
              khách hàng sẽ nhận được email mỗi khi chúng ta ra mắt một sản phẩm hay bài viết mới. Khi bạn điều hành một
              trang web thì
              tạo biểu mẫu này hết sức quan trọng vì nó sẽ giúp bạn có thể tạo ra nhiều khách hàng tiềm năng hơn cho
              website của mình.
              Do đó để thu hút được sự chú ý từ khách hàng cũng như kêu gọi hành động nhập email từ người dùng thì chúng
              ta cần phải tạo ra những
              biểu mẫu bắt mắt, gây tò mò cũng như hiển thị ở nơi mà người dùng dễ dàng nhìn thấy. Để dễ hình dung hơn
              bạn xem hình ảnh dưới đây nhé!
            </p>
            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1596507892/subscribe_form/vi_du_subscribe_form_egbzyc.png"
              alt="PurifyCSS Online">
            <p class="mt-4"> Bây giờ chúng ta sẽ đi vào những ví dụ về Subscribe Forms do các bạn lập trình viên trên
              Codepen thiết kế và phát triển nhé!<br>Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ
              kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác
                minh mình là con người</b> trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang
              CSS ở đây nhé : <a href="https://jsonformatter.org/scss-to-css"
                rel="external nofollow noopener noreferrer" target="_blank">SCSS to CSS</a>. Nếu chúng ta muốn xem các
              nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới
              cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe animation
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="Thomascullen" data-slug-hash="GvPbYm"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Subscribe animation">
              <span>See the Pen <a href="https://codepen.io/Thomascullen/pen/GvPbYm">
                  Subscribe animation</a> by Thomas Cullen (<a href="https://codepen.io/Thomascullen">@Thomascullen</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>


            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/Thomascullen/pen/GvPbYm" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Form Interaction
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="balapa"
              data-slug-hash="ZYPBjZ"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Subscribe Form Interaction">
              <span>See the Pen <a href="https://codepen.io/balapa/pen/ZYPBjZ">
                  Subscribe Form Interaction</a> by Bhakti Pasaribu (<a href="https://codepen.io/balapa">@balapa</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>


            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/balapa/pen/ZYPBjZ" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Box
              </h3>
            </div>
            <p class="codepen" data-height="311" data-theme-id="light" data-default-tab="css,result" data-user="hugguh"
              data-slug-hash="LZRRRX"
              style="height: 311px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Subscribe Box">
              <span>See the Pen <a href="https://codepen.io/hugguh/pen/LZRRRX">
                  Subscribe Box</a> by Hugo Carneiro (<a href="https://codepen.io/hugguh">@hugguh</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/hugguh/pen/LZRRRX" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscription Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="jeyakarthika" data-slug-hash="plzqy"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Subscription Form">
              <span>See the Pen <a href="https://codepen.io/jeyakarthika/pen/plzqy">
                  Subscription Form</a> by Jeya Karthika (<a href="https://codepen.io/jeyakarthika">@jeyakarthika</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/jeyakarthika/pen/plzqy" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Flexbox Responsive Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="argyleink" data-slug-hash="LYEegOO"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Flexbox Responsive Form">
              <span>See the Pen <a href="https://codepen.io/argyleink/pen/LYEegOO">
                  Flexbox Responsive Form</a> by Adam Argyle (<a href="https://codepen.io/argyleink">@argyleink</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/argyleink/pen/LYEegOO" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Sign Up for Newsletter
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="adamrasheed" data-slug-hash="QjJYMr"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Email Optin">
              <span>See the Pen <a href="https://codepen.io/adamrasheed/pen/QjJYMr">
                  Email Optin</a> by Adam Rasheed (<a href="https://codepen.io/adamrasheed">@adamrasheed</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/adamrasheed/pen/QjJYMr" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Simple Newsletter Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="designcouch" data-slug-hash="rVRBee"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="DEAD Simple Newsletter Form">
              <span>See the Pen <a href="https://codepen.io/designcouch/pen/rVRBee">
                  DEAD Simple Newsletter Form</a> by Jesse Couch (<a
                  href="https://codepen.io/designcouch">@designcouch</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/designcouch/pen/rVRBee" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe email form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="iamevg" data-slug-hash="NrdOLv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subscribe email form">
              <span>See the Pen <a href="https://codepen.io/iamevg/pen/NrdOLv">
              Subscribe email form</a> by iamevg (<a href="https://codepen.io/iamevg">@iamevg</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/iamevg/pen/NrdOLv" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Jacob Vogelbacher Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Jacob-Vogelbacher" data-slug-hash="NvvbvX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Jacob Vogelbacher Form">
              <span>See the Pen <a href="https://codepen.io/Jacob-Vogelbacher/pen/NvvbvX">
              Jacob Vogelbacher Form</a> by Jacob Vogelbacher (<a href="https://codepen.io/Jacob-Vogelbacher">@Jacob-Vogelbacher</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/Jacob-Vogelbacher/pen/NvvbvX" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Newsletter Design
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="FlorinPop17" data-slug-hash="XWWQLxv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Newsletter Design - #068 of #100Days100Projects">
              <span>See the Pen <a href="https://codepen.io/FlorinPop17/pen/XWWQLxv">
              Newsletter Design - #068 of #100Days100Projects</a> by Florin Pop (<a href="https://codepen.io/FlorinPop17">@FlorinPop17</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/FlorinPop17/pen/XWWQLxv" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Daily UI: 026 - Subscribe
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="dinsmore" data-slug-hash="EErxeG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Daily UI: 026 - Subscribe">
              <span>See the Pen <a href="https://codepen.io/dinsmore/pen/EErxeG">
              Daily UI: 026 - Subscribe</a> by Dinsmore (<a href="https://codepen.io/dinsmore">@dinsmore</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/dinsmore/pen/EErxeG" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Modified Subscribe Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="satyajit11" data-slug-hash="bpyRZw" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Modified Subscribe Form">
              <span>See the Pen <a href="https://codepen.io/satyajit11/pen/bpyRZw">
              Modified Subscribe Form</a> by Satyajit Rout (<a href="https://codepen.io/satyajit11">@satyajit11</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/satyajit11/pen/bpyRZw" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="yastrebov" data-slug-hash="ZPLzxa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subscribe form">
              <span>See the Pen <a href="https://codepen.io/yastrebov/pen/ZPLzxa">
              Subscribe form</a> by Boris Yastrebov (<a href="https://codepen.io/yastrebov">@yastrebov</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/yastrebov/pen/ZPLzxa" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                UI box
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="chouaibblgn45" data-slug-hash="LjYvpP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="UI box ">
              <span>See the Pen <a href="https://codepen.io/chouaibblgn45/pen/LjYvpP">
              UI box </a> by Chouaib Belagoun (<a href="https://codepen.io/chouaibblgn45">@chouaibblgn45</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/chouaibblgn45/pen/LjYvpP" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                kontify me subscribe form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="partisan1991" data-slug-hash="mjgppO" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="kontify.me coming soon">
              <span>See the Pen <a href="https://codepen.io/partisan1991/pen/mjgppO">
              kontify.me coming soon</a> by Norbert Papp (<a href="https://codepen.io/partisan1991">@partisan1991</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/partisan1991/pen/mjgppO" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                m-subscribe1
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="WebOut" data-slug-hash="agvOeq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="m-subscribe1">
              <span>See the Pen <a href="https://codepen.io/WebOut/pen/agvOeq">
              m-subscribe1</a> by Davide Gobbi (<a href="https://codepen.io/WebOut">@WebOut</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/WebOut/pen/agvOeq" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Newsletter
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="anupkumar92" data-slug-hash="OrEjQa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Newsletter">
              <span>See the Pen <a href="https://codepen.io/anupkumar92/pen/OrEjQa">
              Newsletter</a> by Baahubali (<a href="https://codepen.io/anupkumar92">@anupkumar92</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/anupkumar92/pen/OrEjQa" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Popup
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="leenalavanya" data-slug-hash="oxBYdy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#DailyUI026 Subscribe Popup">
              <span>See the Pen <a href="https://codepen.io/leenalavanya/pen/oxBYdy">
              #DailyUI026 Subscribe Popup</a> by Leena Lavanya (<a href="https://codepen.io/leenalavanya">@leenalavanya</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/leenalavanya/pen/oxBYdy" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Form #3
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="shadeed" data-slug-hash="wayNJZ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subscribe Form #3">
              <span>See the Pen <a href="https://codepen.io/shadeed/pen/wayNJZ">
              Subscribe Form #3</a> by Ahmad Shadeed (<a href="https://codepen.io/shadeed">@shadeed</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/shadeed/pen/wayNJZ" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Red Newsletter Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="sazzad" data-slug-hash="mqwXjP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Red Newsletter Form">
              <span>See the Pen <a href="https://codepen.io/sazzad/pen/mqwXjP">
              Red Newsletter Form</a> by Sazzad (<a href="https://codepen.io/sazzad">@sazzad</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/sazzad/pen/mqwXjP" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


          


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Form #4
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="shadeed" data-slug-hash="ojOzEG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subscribe Form #4">
              <span>See the Pen <a href="https://codepen.io/shadeed/pen/ojOzEG">
              Subscribe Form #4</a> by Ahmad Shadeed (<a href="https://codepen.io/shadeed">@shadeed</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/shadeed/pen/ojOzEG" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Form #2
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="shadeed" data-slug-hash="GJQrMo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subscribe Form #2">
              <span>See the Pen <a href="https://codepen.io/shadeed/pen/GJQrMo">
              Subscribe Form #2</a> by Ahmad Shadeed (<a href="https://codepen.io/shadeed">@shadeed</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/shadeed/pen/GJQrMo" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                HTML Pop-up Contact Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="deniscreative" data-slug-hash="pwyxWg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="HTML Pop-up Contact Form ">
              <span>See the Pen <a href="https://codepen.io/deniscreative/pen/pwyxWg">
              HTML Pop-up Contact Form </a> by Denis (<a href="https://codepen.io/deniscreative">@deniscreative</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/deniscreative/pen/pwyxWg" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Subscribe Form
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="udayponarkar" data-slug-hash="rOBogG" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Subscribe Form ">
              <span>See the Pen <a href="https://codepen.io/udayponarkar/pen/rOBogG">
              Subscribe Form </a> by Uday (<a href="https://codepen.io/udayponarkar">@udayponarkar</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/udayponarkar/pen/rOBogG" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Pop-Up Overlay
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="BeanBaag" data-slug-hash="mMJqma" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pop-Up Overlay">
              <span>See the Pen <a href="https://codepen.io/BeanBaag/pen/mMJqma">
              Pop-Up Overlay</a> by Aaron Taylor (<a href="https://codepen.io/BeanBaag">@BeanBaag</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4 btn-md">
              <a href="https://codepen.io/BeanBaag/pen/mMJqma" target="_blank" rel="noopener noreferrer">
                Nguồn </a>
            </button>










            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những Subscribe Form
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>