<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i>Slider Snippet trong Bootstrap 4</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay chúng ta sẽ đi tìm hiểu các slider bằng cách kết hợp HTML, CSS, Javascript và Bootstrap 4 . Nào hãy cũng mình tìm hiểu nhé!</i>
            </p>
            <!--<div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>-->
         
            <p class="mt-4"> Theo mình thấy chức năng chính của trang web kinh doanh ngày nay  là dùng để quảng bá thương hiệu, sản phẩm và tiếp cận tới những  khách hàng tiềm năng
              mà ngày xưa cửa hàng thông thường không thể tiếp cận được. Vậy làm sao để một khách hàng khi vào trang web của chúng ta có thể tin tưởng và sẵn sàng chi tiền cho sản phẩm?
              Ngoài những nội dung ấn tượng thì mình nghĩ cần thêm những lời nhận xét, đánh giá của khách hàng cũ khi sử dụng sản phẩm lên trên trang web như là hình ảnh khách hàng và đánh giá,
              video quay lại cảm nghĩ khách hàng...
              </p>
              <p>
                Do quan trọng như vậy nên sau đây mình sẽ giới thiệu một số component Testimonials (nhận xét) được thiết kế sẵn bằng HTML, CSS, Bootstrap và Javascript giúp bạn có thể đa dạng lựa chọn phù hợp với bố cục cũng như thiết kế của trang web.
              </p>
          
              <!--New-->
             <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Testimonials Slider:</h4></div>
             <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586613559/Testimonials%20snippet/FireShot_Capture_057_-_Testimonials_Slider_-_codepen.io_ut71q4.png" alt="xây dụng nhận xét khách hàng bằng HTML, CSS, Javascript">
             <p class="mt-4">
              Testimonials này sử dụng màu nền đen với chữ trắng làm nổi bật lời nhận xét, đánh giá của khách hàng và bạn có thể thoải mái sử dụng cho mọi trang web vì nó được thiết bởi 3
              ngôn ngữ cơ bản là HTML, CSS và Javascript.
               Để hiểu rõ hơn bạn xem đoạn code sau nhé:
             </p>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="feyinway" data-slug-hash="LjMPgv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Testimonials Slider">
              <span>See the Pen <a href="https://codepen.io/feyinway/pen/LjMPgv">
              Testimonials Slider</a> by Fey (<a href="https://codepen.io/feyinway">@feyinway</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/feyinway/pen/LjMPgv" target="_blank">Testimonials Slider</a>.
            </p>

            <!--New-->
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Testimonial Carousel Design:</h4></div>
            <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586615097/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials2_iy1pzy.png" alt="xây dụng nhận xét khách hàng bằng HTML, CSS, Javascript và OwlCarousel2">
            <p class="mt-4">
             Điểm đặc biệt của Testimonials này là không sử dụng các nút điều khiển hay tự động chuyển trang mà chúng ta phải giữ chuột và kéo sang trái hoặc sang phải để thấy nhận xét.
              Và nó cũng áp dụng chức năng lazy loading giúp giảm thời gian tải khi bạn sử dụng trên trang web. Mình có điểm lưu ý nhỏ là nó có sử dụng thêm plugin Owl Carousel 2, bạn có 
              thể tham khảo ở đây nhé <a href="https://owlcarousel2.github.io/OwlCarousel2/" target="_blank">Owl Carousel 2</a> và để hiểu rõ hơn bạn xem đoạn code dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="finbyz" data-slug-hash="QYegzo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Testimonial Carousel Design">
              <span>See the Pen <a href="https://codepen.io/finbyz/pen/QYegzo">
              Testimonial Carousel Design</a> by FinByz Tech Pvt. Ltd. (<a href="https://codepen.io/finbyz">@finbyz</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
           
           <p class="mt-4">
             Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
             nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
             Còn đây là nguồn mình sao chép: <a href="https://codepen.io/finbyz/pen/QYegzo" target="_blank">Testimonial Carousel Design</a>.
           </p>

           
            <!--New-->
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Responsive Testimonial Carousel:</h4></div>
            <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586615833/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials3_gmgbtd.png" alt="xây dụng nhận xét khách hàng bằng HTML, CSS, Javascript và OwlCarousel2 phần 3">
            <p class="mt-4">
             Điểm đặc biệt của Testimonials này là ngoài hiện lời nhận xét đánh giá của khách hàng mà còn hiện thêm số sao đánh giá cho sản phẩm của chúng ta giúp người dùng có cái nhìn 
             trực quan hơn. Nó cũng có chức nằng tự động chuyển trang và cho phép xem hình ảnh và số sao của khách hàng tiếp theo.Mình có điểm lưu ý nhỏ là nó có sử dụng thêm plugin Owl Carousel 2, bạn có 
             thể tham khảo ở đây nhé <a href="https://owlcarousel2.github.io/OwlCarousel2/" target="_blank">Owl Carousel 2</a>. Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="thenahid" data-slug-hash="yPzwMK" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Testimonial Carousel">
              <span>See the Pen <a href="https://codepen.io/thenahid/pen/yPzwMK">
              Responsive Testimonial Carousel</a> by Md Nahidul Islam (<a href="https://codepen.io/thenahid">@thenahid</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            
           
           <p class="mt-4">
             Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
             nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
             Còn đây là nguồn mình sao chép: <a href="https://codepen.io/thenahid/pen/yPzwMK" target="_blank">Responsive Testimonial Carousel</a>.
           </p>

              <!--New-->
              <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Creative Testimonial Circle Slider:</h4></div>
              <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586616755/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials4_vgjsjb.png" alt="xây dụng nhận xét khách hàng bằng HTML, CSS, Jquery và Bootstrap 4 phần 4">
              <p class="mt-4">
               Điểm đặc biệt của Testimonials này là cách thiết kế đơn giản nhưng hiện đại và có tính sáng tạo rất cao, theo mình thấy nên sử dụng cho các trang web về công nghệ thông tin
               . Nó cũng có chức nằng tự động chuyển trang và cho phép xem tất cả hình ảnh của khách hàng sẽ đưa ra đánh giá. Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
              </p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="haycuoilennao19" data-slug-hash="MWaYPzX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Testimonials 3(source from bootsnipp)">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/MWaYPzX">
                Testimonials 3(source from bootsnipp)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
             
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://bootsnipp.com/snippets/Q0PG6" target="_blank">Creative Testimonial Circle Slider</a>.
             </p>

                     <!--New-->
                     <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Testimonial:</h4></div>
                     <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586617622/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials5_aibhd6.png" alt="xây dụng Testimonial bằng HTML, CSS, và Bootstrap 4 phần 5">
                     <p class="mt-4">
                      Điểm đặc biệt của Testimonials này là cách thiết kế đơn giản và sử dụng component carousel trong Bootstrap 4 để tạo hiểu ứng chuyển động cho các nhận xét đánh giá của khách hàng.
                      Ảnh nền cũng một điểm rất đáng chú ý giúp làm nổi bật nội dung cũng như cho khách hàng hiểu thêm về công ty hoặc sản phẩm
                      . Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
                     </p>
                     <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="anupkumar92" data-slug-hash="BvdmLo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Testimonial">
                      <span>See the Pen <a href="https://codepen.io/anupkumar92/pen/BvdmLo">
                      Testimonial</a> by Baahubali (<a href="https://codepen.io/anupkumar92">@anupkumar92</a>)
                      on <a href="https://codepen.io">CodePen</a>.</span>
                    </p>
                   
                    
                    <p class="mt-4">
                      Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                      nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                      Còn đây là nguồn mình sao chép: <a href="https://codepen.io/anupkumar92/pen/BvdmLo" target="_blank">Testimonial</a>.
                    </p>

                          <!--New-->
                          <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Bootstrap 4 testimonial with hover animation:</h4></div>
                          <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586618927/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials6_nxjorw.png" alt="xây dụng Testimonial bằng HTML, CSS, và Card Bootstrap 4 phần 6">
                          <p class="mt-4">
                            Testimonials này chúng ta sử dụng hệ thống lưới kết hợp với component card trong Bootstrap 4 để thiết kế giúp bạn dễ dàng reponsive trên nhiều màn hình. Nó phù hợp với số lượng nhận xét đánh giá của khách hàng ít và 
                            nó cũng có hiệu ứng phóng to khi người dùng hover để không tạo sự nhàm chán cho trang web.
                           . Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
                          </p>
                          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="JjYoerY" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap 4 testimonial with hover animation(source from bbbootstrap)">
                            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/JjYoerY">
                            Bootstrap 4 testimonial with hover animation(source from bbbootstrap)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                            on <a href="https://codepen.io">CodePen</a>.</span>
                          </p>
                        
                        
                         
                         <p class="mt-4">
                           Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                           nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                           Còn đây là nguồn mình sao chép: <a href="https://bbbootstrap.com/snippets/testimonial-hover-animation-and-social-media-icons-36925129" target="_blank">Bootstrap 4 testimonial with hover animation</a>.
                         </p>
     
                         
                          <!--New-->
                          <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Responsive testimonial slider:</h4></div>
                          <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586620561/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials8_rimqa4.png" alt="xây dụng Testimonial bằng HTML, CSS phần 8">
                          <p class="mt-4">
                            Nếu bạn cần người dùng tập trung chủ yếu vào văn bản trích dẫn nội dung của khách hàng thì bạn nên sử dụng Testimonials này. Ngoài việc tạo chuyển động trang mượt mà nó 
                            con rất tốt trong việc sử dụng màu sắc với màu nền hầu như  thay đổi để làm nổi bật thông điệp của khách hàng
                           . Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
                          </p>
                          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="hellokatili" data-slug-hash="rVvMZb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive testimonial slider">
                            <span>See the Pen <a href="https://codepen.io/hellokatili/pen/rVvMZb">
                            Responsive testimonial slider</a> by hellokatili (<a href="https://codepen.io/hellokatili">@hellokatili</a>)
                            on <a href="https://codepen.io">CodePen</a>.</span>
                          </p>
            
            
                        
                        
                         
                         <p class="mt-4">
                           Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                           nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                           Còn đây là nguồn mình sao chép: <a href="https://codepen.io/hellokatili/pen/rVvMZb" target="_blank">Responsive testimonial slider</a>.
                         </p>
     
                              <!--New-->
                              <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Testimonial Card:</h4></div>
                              <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586621230/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials9_dfren7.png" alt="xây dụng Testimonial bằng HTML, CSS phần 9">
                              <p class="mt-4">
                                Nếu bạn thích thiết kể đơn giản cùng với việc yêu thích màu tối thì Testimonials sẽ phù hợp với bạn đấy. Ở đây nó không sử dụng hiệu ứng nào nhưng điểm mình thích ở nó là 
                                cách phối màu giũa các thành phần bên trong cũng như như bên ngoài card
                               . Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
                              </p>
                              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="JGwGdQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1390 - Testimonial Card">
                                <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/JGwGdQ">
                                #1390 - Testimonial Card</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
                                on <a href="https://codepen.io">CodePen</a>.</span>
                              </p>
                      
                
                
                            
                            
                             
                             <p class="mt-4">
                               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                               Còn đây là nguồn mình sao chép: <a href="https://codepen.io/littlesnippets/pen/JGwGdQ" target="_blank">Testimonial Card</a>.
                             </p>

                                  <!--New-->
                                  <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">CSS3 Testimonials Slider:</h4></div>
                                  <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586622073/Testimonials%20snippet/Hinh_anh_vi_du_Testimonials10_pyzqyf.png" alt="xây dụng Testimonial bằng HTML, CSS phần 10">
                                  <p class="mt-4">
                                    Testimonials này giúp trang web bạn hấp dẫn và chuyên nghiệp hơn bằng cách chia thành 3 thành phần bố cục rõ ràng là hình ảnh, nội dung nhận xét đánh giá , cộng việc của khách hàng.
                                    Nhiều người có xu hướng nhớ hình ảnh hơn là chữ do đó bạn nên chọn những khách hàng có sức ảnh hưởng, có uy tín để góp phần tăng thêm mức độ tin cậy của sản phẩm
                                   . Để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:
                                  </p>
                                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="SaraSoueidan" data-slug-hash="CyFbd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS3 Testimonials Slider">
                                    <span>See the Pen <a href="https://codepen.io/SaraSoueidan/pen/CyFbd">
                                    CSS3 Testimonials Slider</a> by Sara Soueidan (<a href="https://codepen.io/SaraSoueidan">@SaraSoueidan</a>)
                                    on <a href="https://codepen.io">CodePen</a>.</span>
                                  </p>
                      
                    
                    
                                
                                
                                 
                                 <p class="mt-4">
                                   Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                   nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                   Còn đây là nguồn mình sao chép: <a href="https://codepen.io/SaraSoueidan/pen/CyFbd" target="_blank">CSS3 Testimonials Slider</a>.
                                 </p>
         









          

     
            

            
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
    
        <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc thiết kế giao diện Testimonials trong Bootstrap 4 và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>