<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Profile Card  Trong Thiết Kế Và Phát Triển Web 2020</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
              Profile Card giống như một tấm danh thiếp  giúp khách hàng, người dùng có thể biết rõ những thông tin cơ bản của một người nào đó mà chúng ta muốn giới thiệu
              trong trang web. Với sự phát triển ngày càng cao thì tính thẩm mỹ cho profile card cũng là một yếu tố hết sức quan trọng để thu hút sự chú ý của người dùng cũng như mang lại cảm giác chuyên nghiệp cho website. 
              Do đó bài hôm nay chúng ta sẽ cùng nhau tìm hiểu những mẫu profile card đẹp trong năm 2020 nhé.

              </i>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="JavaScriptJunkie" data-slug-hash="jvRGZy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Card">
              <span>See the Pen <a href="https://codepen.io/JavaScriptJunkie/pen/jvRGZy">
              Profile Card</a> by Muhammed Erdem (<a href="https://codepen.io/JavaScriptJunkie">@JavaScriptJunkie</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/JavaScriptJunkie/pen/jvRGZy" target="_blank">
                 Nguồn
             </a> </button>

             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Cards
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Paolo-Duzioni" data-slug-hash="vgOgbJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Cards">
              <span>See the Pen <a href="https://codepen.io/Paolo-Duzioni/pen/vgOgbJ">
              Profile Cards</a> by Paolo Duzioni (<a href="https://codepen.io/Paolo-Duzioni">@Paolo-Duzioni</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/Paolo-Duzioni/pen/vgOgbJ" target="_blank">
                 Nguồn
             </a> </button>



             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                 Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="littlesnippets" data-slug-hash="xZapRE" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1376 - Profile Card">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/xZapRE">
              #1376 - Profile Card</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/littlesnippets/pen/xZapRE" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile card with image, caption and icons
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="MaYewV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#0045 - Profile card with image, caption and icons">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/MaYewV">
              #0045 - Profile card with image, caption and icons</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/littlesnippets/pen/MaYewV" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile-card-ui
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Wandersonjack" data-slug-hash="RMRwbP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile-card-ui">
              <span>See the Pen <a href="https://codepen.io/Wandersonjack/pen/RMRwbP">
              Profile-card-ui</a> by Wanderson Jackson (<a href="https://codepen.io/Wandersonjack">@Wandersonjack</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/Wandersonjack/pen/RMRwbP" target="_blank">
                 Nguồn
             </a> </button>



             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Card UI
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="jotform" data-slug-hash="XWmqoMp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Card UI">
              <span>See the Pen <a href="https://codepen.io/team/jotform/pen/XWmqoMp">
              Profile Card UI</a> by JotForm (<a href="https://codepen.io/jotform">@jotform</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/team/jotform/pen/XWmqoMp" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Bootstrap 4 Profile Cards
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="grafreez" data-slug-hash="yjLOjo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap 4 Profile Cards">
              <span>See the Pen <a href="https://codepen.io/grafreez/pen/yjLOjo">
              Bootstrap 4 Profile Cards</a> by Grafreez (<a href="https://codepen.io/grafreez">@grafreez</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/grafreez/pen/yjLOjo" target="_blank">
                 Nguồn
             </a> </button>

             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="romswellparian" data-slug-hash="eNJvNB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Card">
              <span>See the Pen <a href="https://codepen.io/romswellparian/pen/eNJvNB">
              Profile Card</a> by Romswell Roswell Parian Paucar (<a href="https://codepen.io/romswellparian">@romswellparian</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/romswellparian/pen/eNJvNB" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Card | Css
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="esparzou" data-slug-hash="VGaNYR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Card | Css">
              <span>See the Pen <a href="https://codepen.io/esparzou/pen/VGaNYR">
              Profile Card | Css</a> by esparzou (<a href="https://codepen.io/esparzou">@esparzou</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/esparzou/pen/VGaNYR" target="_blank">
                 Nguồn
             </a> </button>



             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                My Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Creative_Srijon" data-slug-hash="vLVxEx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="My Profile Card">
              <span>See the Pen <a href="https://codepen.io/Creative_Srijon/pen/vLVxEx">
              My Profile Card</a> by Srijon Sarker (<a href="https://codepen.io/Creative_Srijon">@Creative_Srijon</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/Creative_Srijon/pen/vLVxEx" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile card with image, caption & icons
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="GpJZzV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#0057 - Profile card with image, caption &amp;amp; icons">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/GpJZzV">
              #0057 - Profile card with image, caption &amp; icons</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/littlesnippets/pen/GpJZzV" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile cards with hover effect
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="miketricking" data-slug-hash="JXdzpL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile cards with hover effect">
              <span>See the Pen <a href="https://codepen.io/miketricking/pen/JXdzpL">
              Profile cards with hover effect</a> by Mike Young (<a href="https://codepen.io/miketricking">@miketricking</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/miketricking/pen/JXdzpL" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="littlesnippets" data-slug-hash="mVqNjw" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1336 - Profile Card">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/mVqNjw">
              #1336 - Profile Card</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/littlesnippets/pen/mVqNjw" target="_blank">
                 Nguồn
             </a> </button>




             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                UI: Profile Card [CSS3, jQuery]
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="jasper" data-slug-hash="bpLLZe" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="UI: Profile Card [CSS3, jQuery]">
              <span>See the Pen <a href="https://codepen.io/jasper/pen/bpLLZe">
              UI: Profile Card [CSS3, jQuery]</a> by Jasper (<a href="https://codepen.io/jasper">@jasper</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/jasper/pen/bpLLZe" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                UI Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="Beni7" data-slug-hash="oNXMWNL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="UI Profile Card">
              <span>See the Pen <a href="https://codepen.io/Beni7/pen/oNXMWNL">
              UI Profile Card</a> by Beni (<a href="https://codepen.io/Beni7">@Beni7</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/Beni7/pen/oNXMWNL" target="_blank">
                 Nguồn
             </a> </button>

             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Users cards widget, boostrap
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="digitalavinash" data-slug-hash="rrKOVB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Users cards widget, boostrap">
              <span>See the Pen <a href="https://codepen.io/digitalavinash/pen/rrKOVB">
              Users cards widget, boostrap</a> by Digital Avinash (<a href="https://codepen.io/digitalavinash">@digitalavinash</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/digitalavinash/pen/rrKOVB" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Profile Card widget
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="JunaidKhalid" data-slug-hash="OMOYJw" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Profile Card widget">
              <span>See the Pen <a href="https://codepen.io/JunaidKhalid/pen/OMOYJw">
              Profile Card widget</a> by Junaid Khalid (<a href="https://codepen.io/JunaidKhalid">@JunaidKhalid</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/JunaidKhalid/pen/OMOYJw" target="_blank">
                 Nguồn
             </a> </button>


          


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Pure CSS Profile Card Hover Effect
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="colinkeany" data-slug-hash="XJOvXz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pure CSS Profile Card Hover Effect">
              <span>See the Pen <a href="https://codepen.io/colinkeany/pen/XJOvXz">
              Pure CSS Profile Card Hover Effect</a> by Colin (<a href="https://codepen.io/colinkeany">@colinkeany</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/colinkeany/pen/XJOvXz" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                PuUI #3 - Profile Card
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="AlbertFeynman" data-slug-hash="YJGjmz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="UI #3 - Profile Card">
              <span>See the Pen <a href="https://codepen.io/AlbertFeynman/pen/YJGjmz">
              UI #3 - Profile Card</a> by Jove Angelevski (<a href="https://codepen.io/AlbertFeynman">@AlbertFeynman</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/AlbertFeynman/pen/YJGjmz" target="_blank">
                 Nguồn
             </a> </button>


             <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Remix CodePen Challenge
              </h3>
            </div>
     
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="bibiangel199" data-slug-hash="warevP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Remix CodePen Challenge">
              <span>See the Pen <a href="https://codepen.io/bibiangel199/pen/warevP">
              Remix CodePen Challenge</a> by nana (<a href="https://codepen.io/bibiangel199">@bibiangel199</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark mt-4"> 
              <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/bibiangel199/pen/warevP" target="_blank">
                 Nguồn
             </a> </button>






            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những profile card
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>