<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu những trang blog được nhiều bạn lập trình viên
                      tin tưởng theo dõi, học tập
                      để nâng cao kiến thức và kỹ năng
                      viết mã của mình nhé!
                    </i></b>
                </p>
              </div>
              <hr />
            </div>
          </div>
          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            CSS-TRICKS
          </h2>
          <p>
            <b>CSS-TRICKS</b> là một trang web được thành lập bởi <b>Chris Coyier</b> vào năm 2007. Với mục đích chính
            là chia sẻ cho bạn các thủ thuật để giải quyết các
            vấn đề hay gặp trong quá trình thiết kế trang web. Ngoài ra website này còn có rất nhiều chủ đề hay về việc
            phát triển web như là animation, performance, responsive image...
            Theo mình thấy thì mức độ cập nhật bài viết cũng rất thường xuyên do đó bạn hoàn toàn yên tâm để học hỏi
            cũng như trau dồi được nhiều kiến thức đang hot hiện nay nha.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603715332/Blog_Danh_Cho_Lap_Trinh_Vien/CSS-TRICKS_dhuhcs.png"
            alt=" CSS-TRICKS">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://css-tricks.com/"
              title="CSS-TRICKS" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Smashing Magazine
          </h2>
          <p>
            <b>Smashing Magazine</b> được thành lập vào năm 2006 tại Đức. Tuy nhiên bạn hoàn toàn yên tâm vì các bài
            viết đều bằng tiếng anh hết nhé.
            Nó là một trang blog chuyên viết về giải pháp cho các vấn đề hay gặp trong quá trình phát triển cũng như
            thiết kế web.
            Các bài viết được đúc kết từ kinh nghiệm làm việc thực tế của các bạn lập trình viên có chuyên môn cao trong
            lĩnh vực do đó bạn có thể hoàn toàn yên tâm về chất lượng bài
            viết nha. Một điểm mà mình cảm thấy thích ở website này là dù có nhiều bài viết đã cách đây 5 hay 6 năm
            nhưng kiến thức của nó vẫn có thể hoàn toàn áp dụng
            được cho trang web hiện tại.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603716211/Blog_Danh_Cho_Lap_Trinh_Vien/Smashing_Magazine_rmxtxu.png"
            alt="Smashing Magazine">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.smashingmagazine.com/"
              title="Smashing Magazine" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Codrops
          </h2>
          <p>
            <b>Codrops</b> là trang web giúp bạn có thể dễ dàng theo dõi những cách thiêt kế web đang thịnh hành hiện
            nay với các
            ví dụ và bài viết rất hay. Điểm mình cảm thấy thích ở trang này là chúng ta có thể thực hành viết mã và áp
            dụng
            các thư viện CSS thông dụng
            để tạo hiệu ứng cho trang web của mình.<br />
            Ngoài ra nó còn có bộ sưu tập các bài viết hay về thiết kế phát triển web từ cộng động lập trình viên trên
            thế giới và thường được xuất bản mỗi tuần một lần
            (bây giờ đã là collecttive #629 rồi nhé).
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603717200/Blog_Danh_Cho_Lap_Trinh_Vien/Codrops_nmv0ze.png"
            alt="Codrops">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Codrops"
              href="https://tympanus.net/codrops/" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            SitePoint
          </h2>
          <p>
            <b>SitePoint </b> là một trang web được thành lập bởi Mark Harbottle và Matt Mickiewicz vào năm 1999.
            Với mục đích chính là chia sẻ niềm đam mê và kiến thức cho tất cả lập trình viên trên toàn thế giới.
            Trang web này có chủ đề rất đa dạng như là HTML, CSS, JavaScript, Wordpress, Mobile... do đó bạn có thể hoàn
            toàn yên tâm sẽ tìm thấy bài viết phù hợp với mình nha. <br />
            Ngoài ra nó còn có diễn đàn giúp bạn có giải đáp những thắc mắc của mình và một thư viện gới thiệu những
            quyển sách hay dành cho lập trình viên nữa nhé!
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603717851/Blog_Danh_Cho_Lap_Trinh_Vien/SitePoint_rfqiko.png"
            alt="SitePoint ">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="SitePoint"
              href="https://www.sitepoint.com/blog/" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            David Walsh
          </h2>
          <p>
            <b>David Walsh</b> là một trang blog của tác giả David Walsh (một senior developer tại Mozilla) chuyên viết
            về các thủ thuật dành cho ngôn ngữ HTML, CSS, Javascript...
            Ở đây bạn có thể dễ dàng tìm thấy các đoạn mã hữu ích
            giúp giảm thời gian cũng như công sức viết mã cho trang web (đặc biệt là Javascript). Theo mình thấy
            thì những kiến thức từ tác giả có tính áp dụng rất cao vào thực tế thông qua việc đặt vấn đề, đưa ra đoạn mã
            , lời giải thích và cuối cùng là đoạn demo cho đoạn code đó.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603718746/Blog_Danh_Cho_Lap_Trinh_Vien/David_Walsh_nx1nkr.png"
            alt="David Walsh">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="David Walsh"
              href="https://davidwalsh.name/" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            HONGKIAT
          </h2>
          <p>
            <b>HONGKIAT</b> là một website tổng hợp hầu như tất cả các lĩnh vực về công nghệ như là lập trình, thiết kế,
            marketing, thủ thuật...
            Ở đây bạn có thể dễ dàng tìm kiếm được các bài viết tổng hợp các công cụ, thư viện hay dành cho thiết kế,
            phát triển web hoặc các thủ thuật mẹo
            giúp quá trình xây dựng trang web được nhanh chóng và dễ dàng hơn.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603719180/Blog_Danh_Cho_Lap_Trinh_Vien/HONGKIAT_im3ddl.png"
            alt="HONGKIAT">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="HONGKIAT"
              href="https://www.hongkiat.com/blog/design-dev/" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Speckyboy
          </h2>
          <p>
            <b>Speckyboy</b> được thành lập vào tháng 100 năm 2007 với mục đích chính là cung cấp các bài viết về xu
            hướng thiết kế web đang hot hiện nay.
            Thật sự ở đây có rất nhiều bài tổng hợp chất lượng về CSS và Javascript như là công cụ css, css grid, hiệu
            ứng chuyển động,
            hiệu ứng hình ảnh, thư viện javascript được sử dụng nhiều nhất...
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603720136/Blog_Danh_Cho_Lap_Trinh_Vien/Speckyboy_qutlgx.png"
            alt="Speckyboy">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Speckyboy" href="https://speckyboy.com/"
              target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Tutorialzine
          </h2>
          <p>
            <b>Tutorialzine</b> là một website chuyên về các bài viết tổng hợp các thư viện, công cụ, thủ thuật hay dành
            cho
            lập trình, phát triển và thiết kế web. Thông thường một tháng sẽ có bài bài tổng hợp về các thư viện và công
            cụ nhé!<br />
            Dù đã lâu chưa cập nhật bài viết nhưng mình tin bạn sẽ có thể tìm kiếm được nhiều công cụ hay và miễn phí
            cho công việc thiết kế web của mình.

          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603720573/Blog_Danh_Cho_Lap_Trinh_Vien/Tutorialzine_neprhw.png"
            alt="Tutorialzine">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Tutorialzine"
              href="https://tutorialzine.com/" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Scotch
          </h2>
          <p>
            <b>Scotch</b> là trang web được thành lập bởi Chris on Code và Nick Cerminara với mục đích chia sẻ những
            kiến thức hay về
            phát triển web cho các bạn lập trình viên. Theo mình thấy, ở đây bài viết thường tập trung vào các công nghệ
            đang được sử dụng
            thịnh hành cho trang web hiện nay như là React, Vue, Angular, Node, Nextjs... Do đó đây sẽ là một trang web
            rất hữu ích nếu bạn đang muốn học hỏi
            những công nghệ mới để phát triển thêm cho trang web của mình.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603721148/Blog_Danh_Cho_Lap_Trinh_Vien/Scotch_zt5eva.png"
            alt="Scotch">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Scotch" href="https://scotch.io/"
              target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            CSS Weekly
          </h2>
          <p>
            <b>CSS Weekly</b> là trang web tổng hợp bài viết về những công cụ, thông tin, kiến thức liên quan đến CSS
            được phát triển bởi nhiều lập trình viên trên thế giới. Điểm đặc biệt mình thì ở website này là mức độ cập
            nhật bài viết
            rất tốt. Hầu như tất cả tuần nào cũng có một bài viết tổng hợp.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603721806/Blog_Danh_Cho_Lap_Trinh_Vien/CSS_Weekly_zkpbga.png"
            alt="CSS Weekly">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="CSS Weekly"
              href="https://css-weekly.com/archives/" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Frontend Focus
          </h2>
          <p>
            <b>Frontend Focus</b> là một trang web cũng giống như CSS Weekly, nó sẽ tổng hợp lại tất cả bài viết mới và
            hay nhất về Front-end như
            khóa học, code, nguồn lập trình, công cụ... HTML, CSS, Javascript. Ngoài ra bạn cũng có thể đăng ký email để
            có thể luôn cập nhật các bài tổng hợp từ trang web này nha.
          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603722126/Blog_Danh_Cho_Lap_Trinh_Vien/Frontend_Focus_zk0vi6.png"
            alt="Frontend Focus">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Frontend Focus"
              href="https://frontendfoc.us/issues" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Creative Bloq
          </h2>
          <p>
            <b>Creative Bloq </b> là một trang web chuyên về lĩnh vực design với mục đích chính là giúp bạn có thể tìm
            được nhiều cảm hứng trong quá trình thiết kế
            cũng như cập nhật những xu hướng design hot hiện nay.

          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603722600/Blog_Danh_Cho_Lap_Trinh_Vien/Creative_Bloq_ivkhmk.png"
            alt="Creative Bloq ">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Creative Bloq "
              href="https://www.creativebloq.com/tag/web-design" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            CSS Author
          </h2>
          <p>
            <b> CSS Author </b> được thành lập vào tháng 9 năm 2012. Với mục đích chính là cung cấp các tài nguyên hữu
            ích dành cho
            việc thiết kế và phát triển website như là các thiết kế PSD miễn phí, các bài viết hay, các khóa học cho
            người mới bắt đầu,
            xu hướng kỹ thuật web mới nhất... Đây được xem là một kho tài nguyên đồ sộ giúp bạn có thể tìm được nhiều
            công cụ hay
            cho công việc thiết kế và viết mã của mình.

          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603723135/Blog_Danh_Cho_Lap_Trinh_Vien/CSS_Author_uowxi5.png"
            alt=" CSS Author ">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title=" CSS Author"
              href="https://cssauthor.com/" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            freeCodeCamp
          </h2>
          <p>
            <b> freeCodeCamp </b> là một tổ chức phi lợi nhuận với mục tiêu là giúp bạn có thể học lập trình thông qua
            những dự án thực tế
            bằng cách tương tác với code. Theo mình thấy ngoài tính năng học code hữu ích thì ở đây còn là nơi chia sẻ
            những kinh nghiệm rất hay
            của chính các bạn đang học và trải nghiệm ở freeCodeCamp.<br />
            Với hơn 6000 khóa học, có thể nói đây một kho tài liệu tri thức khổng lồ dành cho các bạn thích nghiên cứu
            và học hỏi về việc phát triển web (đặc biệt dành cho các bạn mới bắt đầu).

          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603723904/Blog_Danh_Cho_Lap_Trinh_Vien/freeCodeCamp_sqwzb2.png"
            alt="freeCodeCamp">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="freeCodeCamp"
              href="https://www.freecodecamp.org/news/" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Webdesigner News
          </h2>
          <p>
            <b>Webdesigner News</b> là một trang web được thành lập với mục đích cung cấp nhiều bài viết hữu ích, cập
            nhật xu hướng thiết kế và phát triển web từ các trang web, blog, mạng xã hội nổi tiếng về lập trình.
            Nội dung của các bài viết thường tập trung về các đoạn code hữu ích, khóa học, tin tức, video, công cụ mới,
            thủ thuật và mẹo thiết kế web…
            Ngoài ra nếu bạn là một blogger thì cũng có thể chia sẻ bài viết của mình lên đây nhé!(Phải là tiếng anh thì
            mới được chấp nhận nha)


          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603766198/Blog_Danh_Cho_Lap_Trinh_Vien/Webdesigner_News_rkc66k.png"
            alt="Webdesigner News">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Webdesigner News"
              href="https://www.webdesignernews.com/" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Codepen Blog
          </h2>
          <p>
            Như bạn đã biết thì <b>Codepen</b> là nơi chúng ta có thể tìm thấy những đoạn mã hữu ích dành cho việc phát
            triển web và là nơi để kiểm tra các đoạn mã của chương trình một cách nhanh chóng.
            Ngoài ra nó cũng có một trang blog chuyên cung cấp các thông tin, sự kiện, mẹo , thủ thuật dành, những dự án
            hay dành cho phát triển web.



          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603766363/Blog_Danh_Cho_Lap_Trinh_Vien/Codepen_Blog_vujmri.png"
            alt="Codepen Blog">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Codepen Blog"
              href="https://blog.codepen.io/" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Design Webkit
          </h2>
          <p>
            <b>Design Webkit</b> là một website mình thường hay ghé thăm để tìm hiểu những xu hướng thiết kế hiện nay,.
            Nó được chia ra thành nhiều chủ đề khác nhau do đó bạn có thể dễ dàng tìm thấy những thông tin mà mình mong
            muốn như là WEB & TREND(Xu Hướng Web), FREEBIES(công cụ web), WEB DEVELOPMENT(Phát Triển Web)…


          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603766502/Blog_Danh_Cho_Lap_Trinh_Vien/Design_Webkit_lgnj7u.png"
            alt="Design Webkit">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Design Webkit"
              href="https://designwebkit.com/" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Webdesigner Depot
          </h2>
          <p>
            <b>Webdesigner Depot</b> được thành lập từ năm 2008, với thời gian phát triển lâu đời trải qua nhiều sự biến
            đổi không ngừng về công nghệ web. Do đó các bài viết ở đây thường được đúc kết từ các kinh nghiệm của các
            nhà thiết kế web giàu kinh nghiệm và có độ tin cậy cao.
            Điểm mình thích ở website này là ngoài vệc luôn cập nhật trend design thì nó còn có những bài viết tổng hợp
            các công cụ hữu ích và miễn phí dành cho designer trong thiết kế web.



          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603766644/Blog_Danh_Cho_Lap_Trinh_Vien/Webdesigner_Depot_oytnox.png"
            alt="Webdesigner Depot">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Webdesigner Depot"
              href="https://www.webdesignerdepot.com/" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            CodeCondo
          </h2>
          <p>
            <b>CodeCondo</b> là một cộng đồng đầy khát vọng dành cho các nhà phát triển, nhà thiết kế và doanh nhân.
            Codecondo nhằm mục đích khám phá, thu thập, cũng như chia sẻ tin tức hữu ích, hướng dẫn, thủ thuật, tài
            nguyên và công cụ về thiết kế, phát triển và các chủ đề truyền cảm hứng khác.
            Ngoài việc cung cấp các bài viết về kỹ thuật chuyên dành cho lập trình viên thì nó cũng có rất nhiều bài
            viết về các vấn đề của developer hay gặp trong công việc, cuộc sống, các cách phát triển marketing bản thân,
            các kinh nghiệm phát triển và kiếm tiền online từ web….



          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603766793/Blog_Danh_Cho_Lap_Trinh_Vien/CodeCondo_bdawuj.png"
            alt="CodeCondo">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="CodeCondo" href="https://codecondo.com/"
              target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            A List Part
          </h2>
          <p>
            <b>A List Part</b> được thành lập từ năm 1998, với các bài viết thường tập trung vào khám phá thiết kế, phát
            triển và ý nghĩa của nội dung web, đặc biệt tập trung vào các tiêu chuẩn web và các phương pháp hay nhất.
            Theo mình thấy các bài viết ở đây có tính chuyên môn rất cao giúp chúng ta có cái nhìn tổng quát hơn về các
            vấn đề gặp phải trong quá trình lập trình và xây dựng trang web.



          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603766905/Blog_Danh_Cho_Lap_Trinh_Vien/A_List_Part_ecnm1f.png"
            alt="A List Part">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="A List Part"
              href="https://alistapart.com/articles/" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Web Dev
          </h2>
          <p>
            <b>Web Dev</b> là một trang blog được tạo bởi Google nên bạn cco1 thể hoàn toàn yên tâm về chất lượng nội
            dung
            ở đây nhé. Nó có rất nhiều thông tin hữu ích về các cách mà bạn có thể áp dụng những công nghệ mới cho
            website của mình để tăng tốc độ tải trang, trải nghiệm người dùng, tăng khả năng seo cho trang web.



          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603767007/Blog_Danh_Cho_Lap_Trinh_Vien/Web_Dev_yq12ln.png"
            alt="Web Dev">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Web Dev" href="https://web.dev/blog/"
              target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Web Design Tuts+
          </h2>
          <p>
            <b>Web Design Tuts+</b> là một trang web mà bạn có thể tìm thấy
            hướng dẫn miễn phí, hướng dẫn học tập và các khóa học trực tuyến để giúp bạn học thiết kế web, trải nghiệm người dùng, 
            phát triển giao diện người dùng, thiết kế chuyển động cho trang web...
            



          </p>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603767560/Blog_Danh_Cho_Lap_Trinh_Vien/Web_Design_Tuts_tzcbq7.png"
            alt="Web Design Tuts+">

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" title="Web Design Tuts+"
              href="https://webdesign.tutsplus.com/" target="_blank">Nguồn</a></p>










          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những trang blog
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>