<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><b><i> Ngày hôm nay chúng ta sẽ đi vào tìm hiểu những mẫu thiết kế admin template miễn phí để giúp người
                  dùng có thể dễ dàng quản trị website và hỗ trợ thêm các tính năng hữu ích khác như là hiển thị thông
                  tin, số liệu thống kê về hiệu suất, số lượng khách hàng tương tác, số lượng bài viết... về trang web
                  nhé! </i></b></p>
          </div>
          <hr />
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Mẫu Bootstrap Admin Template</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Argon Dashboard</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Argon%20Dashboard.png"
            alt="Argon Dashboard">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Argon Dashboard"
              href="https://www.creative-tim.com/product/argon-dashboard/?ref=niemvuilaptrinh.com" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Xtreme Bootstrap Admin</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Xtreme%20Bootstrap%20Admin.png"
            alt="Xtreme Bootstrap Admin">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Xtreme Bootstrap Admin"
              href="https://www.wrappixel.com/demos/free-admin-templates/xtreme-admin-lite/html/ltr/index.html"
              target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Dashboard</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Material%20Dashboard.png"
            alt="Material Dashboard">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Material Dashboard"
              href="https://www.creative-tim.com/product/material-dashboard/?ref=niemvuilaptrinh.com" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Now UI Dashboard</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Now%20UI%20Dashboard.png"
            alt="Now UI Dashboard">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Now UI Dashboard"
              href="https://www.creative-tim.com/product/now-ui-dashboard/?ref=niemvuilaptrinh.com" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Volt</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Volt.png"
            alt="Volt">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Volt"
              href="https://themesberg.com/product/admin-dashboard/volt-bootstrap-5-dashboard" target="_blank">Nguồn</a>
          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">ngx-admin</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/ngx-admin.png"
            alt="ngx-admin">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="ngx-admin"
              href="https://www.akveo.com/ngx-admin/themes" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Gentelella Admin</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Gentelella%20Admin.png"
            alt="Gentelella Admin">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Gentelella Admin"
              href="https://github.com/ColorlibHQ/gentelella" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Matrix Admin</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Matrix%20Admin.png"
            alt="Matrix Admin">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Matrix Admin"
              href="https://matrixadmin.wrappixel.com/" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">PurpleAdmin Free Admin Template</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/PurpleAdmin%20Free%20Admin%20Template.png"
            alt="PurpleAdmin Free Admin Template">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="PurpleAdmin Free Admin Template"
              href="https://github.com/BootstrapDash/PurpleAdmin-Free-Admin-Template" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Shards Dashboard Lite</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Shards%20Dashboard%20Lite.png"
            alt="Shards Dashboard Lite">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Shards Dashboard Lite"
              href="https://designrevision.com/downloads/shards-dashboard-lite/" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">AdminWrap Bootstrap Lite</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/AdminWrap%20Bootstrap%20Lite.png"
            alt="AdminWrap Bootstrap Lite">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="AdminWrap Bootstrap Lite"
              href="https://www.wrappixel.com/templates/adminwrap-lite/" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">ModularAdmin</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/ModularAdmin.png"
            alt="ModularAdmin">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="ModularAdmin"
              href="https://github.com/modularcode/modular-admin-html" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Mẫu React Admin Template</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Black Dashboard React</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Black%20Dashboard%20React.png"
            alt="Black Dashboard React">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Black Dashboard React"
              href="https://www.creative-tim.com/product/black-dashboard-react/?ref=niemvuilaptrinh.com" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">React Dashboard Devias Kit</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/React%20Dashboard%20Devias%20Kit.png"
            alt="React Dashboard Devias Kit">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="React Dashboard Devias Kit"
              href="https://github.com/devias-io/react-material-dashboard" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Shards Dashboard Lite React</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Bootstrap/Shards%20Dashboard%20Lite%20React.png"
            alt="Shards Dashboard Lite React">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Shards Dashboard Lite React"
              href="https://designrevision.com/downloads/shards-dashboard-lite-react/" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">React Reduction</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/React%20Reduction.png"
            alt="React Reduction">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="React Reduction"
              href="https://github.com/reduction-admin/react-reduction" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Material Dashboard React</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/Material%20Dashboard%20React.png"
            alt="Material Dashboard React">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Material Dashboard React"
              href="https://www.creative-tim.com/product/material-dashboard-react/?ref=niemvuilaptrinh.com" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">ArchitectUI React Dashboard Free</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/ArchitectUI%20React%20Dashboard%20Free.png"
            alt="ArchitectUI React Dashboard Free">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="ArchitectUI React Dashboard Free"
              href="https://dashboardpack.com/theme-details/architectui-react-dashboard-free/?v=e14da64a5617"
              target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Director Responsive Admin Template</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/Director%20Responsive%20Admin%20Template.png"
            alt="Director Responsive Admin Template">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Director Responsive Admin Template"
              href="https://github.com/MacKentoch/react-director-admin-template" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">React Dashboard</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/React%20Dashboard.png"
            alt="React Dashboard">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="React Dashboard"
              href="https://github.com/flatlogic/react-dashboard" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Tabler React</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/Tabler%20React.png"
            alt="Tabler React">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Tabler React"
              href="https://github.com/tabler/tabler-react" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Airframe React</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/React/Airframe%20React.png"
            alt="Airframe React">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Airframe React"
              href="https://github.com/0wczar/airframe-react" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Các Mẫu Vue Admin Template</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Vuestic Admin</h3>
          </div><img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Vue/Vuestic%20Admin.png"
            alt="Vuestic Admin">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Vuestic Admin"
              href="https://github.com/epicmaxco/vuestic-admin" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">SING APP VUE DASHBOARD</h3>
          </div> <img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Vue/SING%20APP%20VUE%20DASHBOARD.png"
            alt="SING APP VUE DASHBOARD">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="SING APP VUE DASHBOARD"
              href="https://flatlogic.com/templates/sing-app-vue-dashboard" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Vue Light Bootstrap Dashboard</h3>
          </div> <img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Vue/Vue%20Light%20Bootstrap%20Dashboard.png"
            alt="Vue Light Bootstrap Dashboard">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Vue Light Bootstrap Dashboard"
              href="https://www.creative-tim.com/product/vue-light-bootstrap-dashboard/?ref=niemvuilaptrinh.com" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Vue TypeScript Admin Template</h3>
          </div> <img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Vue/Vue%20TypeScript%20Admin%20Template.png"
            alt="Vue TypeScript Admin Template">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Vue TypeScript Admin Template"
              href="https://github.com/Armour/vue-typescript-admin-template" target="_blank">Nguồn</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Core UI Vue.js Admin Template</h3>
          </div> <img class=" img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Admin_Template/Vue/Core%20UI%20Vue.js%20Admin%20Template.png"
            alt="Core UI Vue.js Admin Template">
          <p class=" pt-2 pb-4"> <a class="button-blog-post-article" title="Core UI Vue.js Admin Template"
              href="https://coreui.io/vue/#compare" target="_blank">Nguồn</a></p>
          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn admin template hữu ích dành cho việc phát triển, thiết
            kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ
            trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>










    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>