<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>

          <div class="text-content-article mt-5">
            <p><i> Ngày hôm nay chúng ta sẽ đi vào tìm hiểu cách tạo thẻ tab và thêm hiệu ứng animation cho nó bằng HTML CSS và Javascript nhé!
              </i></p>
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Tạo Cấu Trúc Cho Component Tab
            </h2>
            <p> Phần đầu tiên chúng ta sẽ đi vào tạo hai file là <code>index.html</code>(nơi lưu trữ HTML) và <code>style.css</code>(nơi lưu trữ mã CSS). Sau đó liên kết chúng với Font Awesome v4.7 và Google Font thông qua đoạn mã dưới đây nhé:</p>
            <h3 class="text-primary">
              HTML
            </h3>
            <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &nbsp;&nbsp;&#60;html&nbsp;lang="en"&#62;<br/> &nbsp;&nbsp;&#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;Component&nbsp;Tab&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="preconnect"&nbsp;href="https://fonts.gstatic.com"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"&#62;<br/> &nbsp;&#60;/head&#62;<br/> &nbsp;&#60;body&#62;<br/> &nbsp;&#60;/body&#62;<br/> &nbsp;&#60;/html&#62;<br/></code></pre>
            
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Tạo Cấu Trúc Cho Component Tab
            </h2>
            <p>
              Trong phần này chúng ta sẽ đi vào thêm các thẻ HTML cần thiết để tạo component tab thông qua đoạn mã sau nhé:
            </p>
            <h3 class="text-primary">
              HTML
            </h3>
            <pre><code class="html">&#60;div&nbsp;class="tab"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Phần&nbsp;Tab&nbsp;Header--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="tab-header"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="active"&#62;&#60;i&nbsp;class="fa&nbsp;fa-code"&#62;&#60;/i&#62;&nbsp;Trang&nbsp;Chủ&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&#62;&#60;i&nbsp;class="fa&nbsp;fa-pencil-square-o"&#62;&#60;/i&#62;&nbsp;Về&nbsp;Chúng&nbsp;Tôi&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&#62;&#60;i&nbsp;class="fa&nbsp;fa-bar-chart"&#62;&#60;/i&#62;&nbsp;Dịch&nbsp;Vụ&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&#62;&#60;i&nbsp;class="fa&nbsp;fa-envelope-o"&#62;&#60;/i&#62;&nbsp;Liên&nbsp;Hệ&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Phần&nbsp;Tab&nbsp;Header--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="tab-indicator"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Bắt&nbsp;Đầu&nbsp;Phần&nbsp;Tab&nbsp;Body--&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="tab-body"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="active"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Phần&nbsp;Tab&nbsp;Thể&nbsp;Hiện&nbsp;Trang&nbsp;Chủ&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Phần&nbsp;Tab&nbsp;Thể&nbsp;Hiện&nbsp;Về&nbsp;Chúng&nbsp;Tôi&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Phần&nbsp;Tab&nbsp;Thể&nbsp;Hiện&nbsp;Về&nbsp;Dịch&nbsp;Vụ&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Phần&nbsp;Tab&nbsp;Thể&nbsp;Hiện&nbsp;Về&nbsp;Liên&nbsp;Hệ&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur...&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;!--Kết&nbsp;Thúc&nbsp;Phần&nbsp;Tab&nbsp;Body--&#62;<br/> &#60;/div&#62;<br/></code></pre>
            <p class="mt-4">
              Và kết quả bạn xem hình ảnh bên dưới nha:
            </p>
            <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Tao_Component_Tab_HTML_CSS/tab1.png"
            alt="tab phần 1">
            
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
             Thiết Lập Vị Trí Cho Tab
            </h2>
            <p>
              Trong phần này chúng ta sẽ đi vào thiết lập một số thuộc tính CSS tổng quát cho component tab như là font chữ, vị trí trong trang web,
              padding, độ bo góc... Để hiểu rõ hơn bạn xem đoạn code sau nhé:
            </p>
            <h3 class="text-primary">
              CSS
            </h3>
            <pre><code class="css">body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#ddd;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;Roboto;<br/> }<br/>.tab{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;50%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translate(-50%,&nbsp;-50%);<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;500px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;250px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#f5f5f5;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;20px&nbsp;30px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;50px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-shadow:&nbsp;0&nbsp;1px&nbsp;1px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;2px&nbsp;2px&nbsp;rgba(0,0,0,0.12),<br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;4px&nbsp;4px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;8px&nbsp;8px&nbsp;rgba(0,0,0,0.12),<br/> &nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;16px&nbsp;16px&nbsp;rgba(0,0,0,0.12);<br/> }<br/></code></pre>
            <p class="mt-4">
              Và kết quả bạn xem hình ảnh bên dưới nhé:
            </p>
            <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Tao_Component_Tab_HTML_CSS/tab2.png"
            alt="tab phần 2">
            
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Thiết Lập Style Cho Tab Header
             </h2> 
             <p>
               Trong phần tiếp theo bạn hãy cùng mình đi vào thiết lập lại style cho tab header để các thành phần trong nó có thể nằm thẳng hàng với nhau  và 
               nhìn có tính thẩm mỹ hơn nhé :
             </p>
             <h3 class="text-primary">
              CSS
            </h3>
            <pre><code class="css">.tab&nbsp;.tab-header{<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;60px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> }<br/>.tab&nbsp;.tab-header&nbsp;>&nbsp;div{<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;calc(100%&nbsp;/&nbsp;4);<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#888;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-weight:&nbsp;500;<br/> &nbsp;&nbsp;&nbsp;&nbsp;cursor:&nbsp;pointer;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;16px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-transform:&nbsp;uppercase;<br/> &nbsp;&nbsp;&nbsp;&nbsp;outline:&nbsp;none;<br/> }<br/>.tab&nbsp;.tab-header&nbsp;>&nbsp;div&nbsp;>&nbsp;i&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;block;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-bottom:&nbsp;5px;<br/> }<br/>.tab&nbsp;.tab-header&nbsp;>&nbsp;div.active{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#00acee;<br/> }<br/></code></pre>
            <p class="mt-4">
              Và kết quả bạn xem hình bên dưới nha:
            </p>
            <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Tao_Component_Tab_HTML_CSS/tab3.png"
            alt="tab phần 3">
            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Thêm CSS cho Thẻ Tab Body
             </h2> 
             <p>
               Trong phần này chúng ta sẽ đi vào thiết lập CSS cho hai thành  phần  <code>.tab-indicator</code>(Thanh Tiến Trình Cho Tab) và <code>.tab-body</code>(Nội Dung Của Thẻ Tab)
               thông qua  đoạn code dưới đây nhé:
             </p>
             <h3 class="text-primary">
              CSS
            </h3>
            <pre><code class="css">.tab&nbsp;.tab-indicator&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;25%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;5px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#00acee;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:&nbsp;0px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;5px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;all&nbsp;500ms&nbsp;ease-in-out;<br/> }<br/>.tab&nbsp;.tab-body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;calc(100%&nbsp;-&nbsp;60px);<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;10px&nbsp;5px;<br/> }<br/>.tab&nbsp;.tab-body&nbsp;>&nbsp;div{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;-200%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;5px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(0.9);<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;opacity&nbsp;500ms&nbsp;ease-in-out&nbsp;0ms,<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;transform&nbsp;500ms&nbsp;ease-in-out&nbsp;0ms;<br/> }<br/>.tab&nbsp;.tab-body&nbsp;>&nbsp;div.active{<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:&nbsp;0px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:&nbsp;1;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;scale(1);<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:&nbsp;0px;<br/> }<br/></code></pre>
            <p class="mt-4">
              Và kết quả bạn xem dưới đây nha:
            </p>
            <img class="img-fluid  lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Tao_Component_Tab_HTML_CSS/tab4.png"
            alt="tab phần 4">

            <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">
              Thêm Chức Năng Cho Tab Bằng Javascript
             </h2> 
             <p>
               Sau khi đã thiết kế xong phần giao diện thì bước tiếp theo chúng ta sẽ thêm chức năng cho component tab thông qua đoạn mã Javascript 
               sau nhé:
             </p>
             <h3 class="text-primary">
              Javascript
            </h3>
            <pre><code class="javascript">/*Lấy&nbsp;Các&nbsp;Phần&nbsp;Tử&nbsp;Trong&nbsp;Thẻ&nbsp;DOM*/<br/> let&nbsp;tabHeader&nbsp;=&nbsp;document.getElementsByClassName("tab-header")[0];<br/> let&nbsp;tabIndicator&nbsp;=&nbsp;document.getElementsByClassName("tab-indicator")[0];<br/> let&nbsp;tabBody&nbsp;=&nbsp;document.getElementsByClassName("tab-body")[0];<br/> let&nbsp;tabsPane&nbsp;=&nbsp;tabHeader.getElementsByTagName("div");<br/>/*Thực&nbsp;Hiện&nbsp;Vòng&nbsp;Lặp*/<br/> for&nbsp;(let&nbsp;i&nbsp;=&nbsp;0;&nbsp;i&nbsp;<&nbsp;tabsPane.length;&nbsp;i++)&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;tabsPane[i].addEventListener("click",&nbsp;function&nbsp;()&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tabHeader.getElementsByClassName("active")[0].classList.remove("active");<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tabsPane[i].classList.add("active");<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tabBody.getElementsByClassName("active")[0].classList.remove("active");<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tabBody.getElementsByTagName("div")[i].classList.add("active");<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tabIndicator.style.left&nbsp;=&nbsp;`calc(calc(100%&nbsp;/&nbsp;4)&nbsp;*&nbsp;${i})`;<br/> &nbsp;&nbsp;&nbsp;&nbsp;})<br/> }<br/></code></pre>

            <p class="mt-4">
              Ở đây mình sẽ giải thích từng phần code để giúp bạn dễ hình dung hơn nhé.
              <br/>
              Đầu tiên là chúng ta sẽ <b>thêm</b> class <code>active</code> khi người dùng nhấn vào các thẻ tab trên header như là 
              trang chủ, về chúng tôi, dịch vụ, liên hệ và đồng thời cũng sẽ  <b>xóa</b> class <code>active</code> <b>của header tab trước đó</b>. Để dễ hình dung 
              bạn xem đoạn mã :
            </p>
            <pre><code class="javascript">/*Xóa class active trên thẻ tab header cũ*/<br/> tabHeader.getElementsByClassName("active")[0].classList.remove("active");<br/> /*Thêm class active vào thẻ tab header mới được nhấn*/<br/> tabsPane[i].classList.add("active");<br/></code></pre>
            <p class="mt-4">
              Và đây là video minh họa cho bạn dễ hình dung hơn nhé:
            </p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Tao_Component_Tab_HTML_CSS/vi_du_tab_javascript.mp4" allowfullscreen></iframe>
            </div>
            <p class="mt-4">
              Đối với thẻ <code>tab-body</code> thì cách hoạt động cũng như vậy nha. Và kết quả cuối cùng của chúng là :
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/Tao_Component_Tab_HTML_CSS/tao-component-tab_DTdB0cZa.mp4" allowfullscreen></iframe>
              </div>
              <p class="mt-4">
                Nếu bạn muốn nguồn dự án trên Codepen thì có thể tham khảo đường dẫn bên dưới nha:
              </p>
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Codepen Tab" target="_blank"
                href="https://codepen.io/haycuoilennao19/full/XWjWyKz">Nguồn Codepen</a></p>
                <p class="mt-4">
                  Nếu bạn muốn tham khảo thêm các component tab khác dành cho trang web thì có thể truy cập đường dẫn dưới nhé:
                </p>
                <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Tab Component" target="_blank"
                  href="https://www.niemvuilaptrinh.com/article/35-Tabs-Xay-Dung-Bang-CSS-Javascript-Cho-Website-Nam-2020">Nguồn Tab</a></p>

          







            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn kiến thức tạo component tab hữu ích
              việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui
              vẻ!</p>
          </div>
        </article>























      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>