<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Hiệu Ứng Scroll Cho Trang Web</h2>
            </div>
          </div>


          <div class="text-content-article mt-5">
            <p><i> Bài viết hôm nay mình sẽ giới thiệu  đến bạn những hiệu ứng scroll được xây dựng bằng HTML, CSS, Javascript 
              giúp thu hút sự chú ý của người dùng cũng như tạo ra cảm giác thú vị khi khách hàng sử dụng trang web nhé!
              </i>
            </p>
          </div>
          <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer" target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>. Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Hiển Thị Hình Ảnh </h3>
          </div>
         
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="joshuaward" data-slug-hash="GORKbX" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Slide in on Scroll | #JavaScript30">
            <span>See the Pen <a href="https://codepen.io/joshuaward/pen/GORKbX">
            Slide in on Scroll | #JavaScript30</a> by Joshua Ward (<a href="https://codepen.io/joshuaward">@joshuaward</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/joshuaward/pen/GORKbX" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>
         
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Thay Đổi Background Gradient Khi Scroll</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="MadeByMike" data-slug-hash="eKPZZz" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scrolling Gradient">
            <span>See the Pen <a href="https://codepen.io/MadeByMike/pen/eKPZZz">
            Scrolling Gradient</a> by Mike (<a href="https://codepen.io/MadeByMike">@MadeByMike</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/MadeByMike/pen/eKPZZz" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>
         
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Slide-out Scrolling Gallery</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="teeganlincoln" data-slug-hash="MaNxBv" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Slide-out Scrolling Gallery">
            <span>See the Pen <a href="https://codepen.io/teeganlincoln/pen/MaNxBv">
            Slide-out Scrolling Gallery</a> by Teegan Lincoln (<a href="https://codepen.io/teeganlincoln">@teeganlincoln</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/teeganlincoln/pen/MaNxBv" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

  
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Neat Parallax Hero Effect</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="magnificode" data-slug-hash="GpqGOm" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Neat Parallax Hero Effect">
            <span>See the Pen <a href="https://codepen.io/magnificode/pen/GpqGOm">
            Neat Parallax Hero Effect</a> by magnificode (<a href="https://codepen.io/magnificode">@magnificode</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/magnificode/pen/GpqGOm" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

 
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Drawing</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="chriscoyier" data-slug-hash="YXgWam" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scroll Drawing">
            <span>See the Pen <a href="https://codepen.io/chriscoyier/pen/YXgWam">
            Scroll Drawing</a> by Chris Coyier  (<a href="https://codepen.io/chriscoyier">@chriscoyier</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/chriscoyier/pen/YXgWam" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Thay Đổi Background Khi Scroll</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="jackharner" data-slug-hash="bdPmQM" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Changing Background Color on Scroll">
            <span>See the Pen <a href="https://codepen.io/jackharner/pen/bdPmQM">
            Changing Background Color on Scroll</a> by Jack Harner (<a href="https://codepen.io/jackharner">@jackharner</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/jackharner/pen/bdPmQM" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Based Animation</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="lmgonzalves" data-slug-hash="QPBPJe" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scroll Based Animation">
            <span>See the Pen <a href="https://codepen.io/lmgonzalves/pen/QPBPJe">
            Scroll Based Animation</a> by lmgonzalves (<a href="https://codepen.io/lmgonzalves">@lmgonzalves</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/lmgonzalves/pen/QPBPJe" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Header Scroll Effect</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="igloude" data-slug-hash="jwuoc" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Header Scroll Effect">
            <span>See the Pen <a href="https://codepen.io/igloude/pen/jwuoc">
            Header Scroll Effect</a> by Ian Gloude (<a href="https://codepen.io/igloude">@igloude</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/igloude/pen/jwuoc" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Animations - Revealed Box</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="jlnljn" data-slug-hash="bgjbmB" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scroll Animations - Revealed Box">
            <span>See the Pen <a href="https://codepen.io/jlnljn/pen/bgjbmB">
            Scroll Animations - Revealed Box</a> by Julien Lejeune (<a href="https://codepen.io/jlnljn">@jlnljn</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/jlnljn/pen/bgjbmB" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Cross Color Text Reveal</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="ispykenny" data-slug-hash="BaaYqYZ" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Cross Color Text Reveal">
            <span>See the Pen <a href="https://codepen.io/ispykenny/pen/BaaYqYZ">
            Cross Color Text Reveal</a> by Kenny (<a href="https://codepen.io/ispykenny">@ispykenny</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/ispykenny/pen/BaaYqYZ" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng ScrollOut + Splitting.js</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="shshaw" data-slug-hash="YOPqLb" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="ScrollOut + Splitting.js">
            <span>See the Pen <a href="https://codepen.io/shshaw/pen/YOPqLb">
            ScrollOut + Splitting.js</a> by Shaw (<a href="https://codepen.io/shshaw">@shshaw</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/shshaw/pen/YOPqLb" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Triggered Elements </h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="notoriousb1t" data-slug-hash="zLbVEW" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scroll Triggered Elements (Splitting + ScrollOut)">
            <span>See the Pen <a href="https://codepen.io/notoriousb1t/pen/zLbVEW">
            Scroll Triggered Elements (Splitting + ScrollOut)</a> by Christopher Wallis (<a href="https://codepen.io/notoriousb1t">@notoriousb1t</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/notoriousb1t/pen/zLbVEW" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Efficient Scroll Zoom</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="CAWeissen" data-slug-hash="rNNobpJ" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Efficient Scroll Zoom">
            <span>See the Pen <a href="https://codepen.io/CAWeissen/pen/rNNobpJ">
            Efficient Scroll Zoom</a> by Chris Weissenberger (<a href="https://codepen.io/CAWeissen">@CAWeissen</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/CAWeissen/pen/rNNobpJ" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Full Page Parallax Scroll Effect</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="eehayman" data-slug-hash="qdGZJr" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Full Page Parallax Scroll Effect">
            <span>See the Pen <a href="https://codepen.io/eehayman/pen/qdGZJr">
            Full Page Parallax Scroll Effect</a> by Emily Hayman (<a href="https://codepen.io/eehayman">@eehayman</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/eehayman/pen/qdGZJr" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Thu Nhỏ Video Khi Scroll</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="carpenumidium" data-slug-hash="dYYwQp" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Unobtrusive Video">
            <span>See the Pen <a href="https://codepen.io/carpenumidium/pen/dYYwQp">
            Unobtrusive Video</a> by carpe numidium (<a href="https://codepen.io/carpenumidium">@carpenumidium</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/carpenumidium/pen/dYYwQp" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>
          
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Sticky header on scroll up</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="ingvi" data-slug-hash="ZVOqbP" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Sticky header on scroll up">
            <span>See the Pen <a href="https://codepen.io/ingvi/pen/ZVOqbP">
            Sticky header on scroll up</a> by Ingvi (<a href="https://codepen.io/ingvi">@ingvi</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/ingvi/pen/ZVOqbP" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>
          
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Gettin' Clippy</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="StephenScaff" data-slug-hash="WxoVBo" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Gettin' Clippy">
            <span>See the Pen <a href="https://codepen.io/StephenScaff/pen/WxoVBo">
            Gettin' Clippy</a> by Stephen Scaff (<a href="https://codepen.io/StephenScaff">@StephenScaff</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/StephenScaff/pen/WxoVBo" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Scroll Effect With Text</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="yashyash" data-slug-hash="EtAoF" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Scroll effect with text with help from Skrollr">
            <span>See the Pen <a href="https://codepen.io/yashyash/pen/EtAoF">
            Scroll effect with text with help from Skrollr</a> by Yash (<a href="https://codepen.io/yashyash">@yashyash</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/yashyash/pen/EtAoF" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hiệu Ứng Intersection Observer Scroll Effect</h3>
          </div>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="eehayman" data-slug-hash="aRLYeb" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Intersection Observer + CSS Vars Scroll Effect">
            <span>See the Pen <a href="https://codepen.io/eehayman/pen/aRLYeb">
            Intersection Observer + CSS Vars Scroll Effect</a> by Emily Hayman (<a href="https://codepen.io/eehayman">@eehayman</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4">
            <a class="button-blog-post-article"
              href="https://codepen.io/eehayman/pen/aRLYeb" target="_blank"
              rel="noopener noreferrer">Nguồn</a>
          </p>        
          <hr>




























          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những hiệu ứng scroll
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>