<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">



        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size">Gallery Image Trong Thiết Kế Web (Phần 2)</h2>
            </div>
          </div>
         
          <div class="text-content-article mt-5">
            <p><i>Hôm nay chúng ta sẽ đi tìm hiểu cách thiết kế gallery bằng cách kết hợp HTML, CSS, Javascript nhé.</i>
            </p>
            <p class="mt-4"><b>Gallery</b> là bộ sưu tập để hiển thị hình ảnh của bạn trên trang web. Việc đưa nó vào trang
              web giúp làm nổi bật các sản phẩm một cách sáng tạo để thu hút, giữ chân khách hàng lâu hơn ở trang của
              bạn. Mình thường sử dụng hình ảnh theo châm ngôn <b>Hình ảnh nhiều hơn ngàn lời nói</b>. Nó cũng làm khách
              hàng ghi nhớ thương hiệu cũng như sản phẩm của bạn hơn và ngoài ra nó cũng tốt trong việc SEO webite trên
              các công cụ tìm kiếm như Google hoặc Bing... Tuy vậy bạn cần một số lưu ý là bạn nên chỉ chọn sản phầm
              thực tế để sử dụng trong gallery giúp tăng khả năng tin tưởng của khách hàng, hình ảnh của bạn nên được
              tối ưu để giảm kích thước nhằm tăng tốc độ tải trang trên cả máy tính và điện thoại.Để hiểu rõ hơn bạn xem
              ví dụ sau đây nhé:</p> <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587651751/Gallery/Vi-du-Gallery-trong-web_vkt5mb.png"
              alt="Ví Dụ Gallery Trong Trang Web">
            <p class="mt-4"> Sau khi hiểu sơ lược về gallery thì sau đây mình sẽ giới thiệu một số component này giúp
              bạn có sự lựa chọn tốt nhất để phù hợp với mục đích cũng như thiết kế, bố cục trang web của bạn.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Pop-up/Overlay:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587652155/Gallery/Vi-Du-Gallery-Phan-1_pf9mwy.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 1 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="juliepark" data-slug-hash="qKQzJL"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Daily UI #016 | Pop-up/Overlay"> <span>See the Pen <a
                  href="https://codepen.io/juliepark/pen/qKQzJL"> Daily UI #016 | Pop-up/Overlay</a> by Julie Park (<a
                  href="https://codepen.io/juliepark">@juliepark</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/juliepark/pen/qKQzJL" target="_blank">Pop-up/Overlay</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Responsive CSS Grid Masonry Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587652516/Gallery/Vi-Du-Gallery-Phan-2_y5j3wf.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 2 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="vhanla"
              data-slug-hash="PxjZvj"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive CSS Grid Masonry Gallery"> <span>See the Pen <a
                  href="https://codepen.io/vhanla/pen/PxjZvj"> Responsive CSS Grid Masonry Gallery</a> by vhanla (<a
                  href="https://codepen.io/vhanla">@vhanla</a>) on <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/vhanla/pen/PxjZvj" target="_blank">Responsive CSS Grid Masonry Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Responsive Image Gallery with jQuery Lightbox:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587652758/Gallery/Vi-Du-Gallery-Phan-3_xv7qch.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 3 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="mmgolden" data-slug-hash="YrGddm"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive Image Gallery with jQuery Lightbox"> <span>See the Pen <a
                  href="https://codepen.io/mmgolden/pen/YrGddm"> Responsive Image Gallery with jQuery Lightbox</a> by
                Melinda Golden (<a href="https://codepen.io/mmgolden">@mmgolden</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/mmgolden/pen/YrGddm" target="_blank">Responsive Image Gallery with jQuery
                Lightbox</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Photo Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587653070/Gallery/Vi-Du-Gallery-Phan-4_scibig.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 4 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="mglissmann" data-slug-hash="zxXvpq"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Photo Gallery"> <span>See the Pen <a href="https://codepen.io/mglissmann/pen/zxXvpq">
                  Photo Gallery</a> by Mark Glissmann (<a href="https://codepen.io/mglissmann">@mglissmann</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/mglissmann/pen/zxXvpq" target="_blank">Photo Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Slide-out Scrolling Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587655122/Gallery/Vi-Du-Gallery-Phan-5_ss3df8.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 5 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="teeganlincoln" data-slug-hash="MaNxBv"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Slide-out Scrolling Gallery"> <span>See the Pen <a
                  href="https://codepen.io/teeganlincoln/pen/MaNxBv"> Slide-out Scrolling Gallery</a> by Teegan Lincoln
                (<a href="https://codepen.io/teeganlincoln">@teeganlincoln</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/teeganlincoln/pen/MaNxBv/" target="_blank">Slide-out Scrolling Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587655563/Gallery/Vi-Du-Gallery-Phan-6_l6oeet.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 6 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="kathykato" data-slug-hash="KRQOKY"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Gallery"> <span>See the Pen <a href="https://codepen.io/kathykato/pen/KRQOKY"> Gallery</a>
                by Katherine Kato (<a href="https://codepen.io/kathykato">@kathykato</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/kathykato/pen/KRQOKY" target="_blank">Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Scrolling & Looping Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587655695/Gallery/Vi-Du-Gallery-Phan-7_fmbqpi.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 7 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result"
              data-user="phileflanagan" data-slug-hash="QgPdwz"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Scrolling &amp;amp; Looping Gallery - Vanilla HTML/CSS/JS - ES5 - No Touch Events">
              <span>See the Pen <a href="https://codepen.io/phileflanagan/pen/QgPdwz"> Scrolling &amp; Looping Gallery -
                  Vanilla HTML/CSS/JS - ES5 - No Touch Events</a> by Phil Flanagan (<a
                  href="https://codepen.io/phileflanagan">@phileflanagan</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/phileflanagan/pen/QgPdwz" target="_blank">Scrolling & Looping Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Accessible Off-canvas Grid Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587655880/Gallery/Vi-Du-Gallery-Phan-8_iqfghs.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 8 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="joe-watkins" data-slug-hash="RPZbrW"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Accessible off-canvas grid gallery"> <span>See the Pen <a
                  href="https://codepen.io/joe-watkins/pen/RPZbrW"> Accessible off-canvas grid gallery</a> by Joe
                Watkins (<a href="https://codepen.io/joe-watkins">@joe-watkins</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/joe-watkins/pen/RPZbrW/" target="_blank">Accessible Off-canvas Grid
                Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">LightGallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587656140/Gallery/Vi-Du-Gallery-Phan-9_icqxgu.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 9 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="sachinchoolur" data-slug-hash="QjLNMM"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="lightGallery"> <span>See the Pen <a href="https://codepen.io/sachinchoolur/pen/QjLNMM">
                  lightGallery</a> by Sachin choolur (<a href="https://codepen.io/sachinchoolur">@sachinchoolur</a>) on
                <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/sachinchoolur/pen/QjLNMM" target="_blank">LightGallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Bootstrap 4 Lightbox Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587656328/Gallery/Vi-Du-Gallery-Phan-10_cwjo0o.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 10 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="nsom"
              data-slug-hash="VbqLew"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Bootstrap 4 Lightbox Gallery"> <span>See the Pen <a
                  href="https://codepen.io/nsom/pen/VbqLew"> Bootstrap 4 Lightbox Gallery</a> by Som Nayak (<a
                  href="https://codepen.io/nsom">@nsom</a>) on <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/nsom/pen/VbqLew" target="_blank">Bootstrap 4 Lightbox Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Accordion Image Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587656535/Gallery/Vi-Du-Gallery-Phan-11_oghtbw.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 11 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="stefcharle" data-slug-hash="Gydvbx"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Accordion Image Gallery"> <span>See the Pen <a
                  href="https://codepen.io/stefcharle/pen/Gydvbx"> Accordion Image Gallery</a> by Stefan C. (<a
                  href="https://codepen.io/stefcharle">@stefcharle</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Do đây sử dụng
              <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/stefcharle/pen/Gydvbx" target="_blank">Accordion Image Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Hexagon Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587657102/Gallery/Vi-Du-Gallery-Phan-12_kuoh3y.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 12 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="gabrielajohnson" data-slug-hash="EMVxEL"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Hexagon Gallery"> <span>See the Pen <a
                  href="https://codepen.io/gabrielajohnson/pen/EMVxEL"> Hexagon Gallery</a> by Gabriela Johnson (<a
                  href="https://codepen.io/gabrielajohnson">@gabrielajohnson</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/gabrielajohnson/pen/EMVxEL" target="_blank">Hexagon Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Simple Image Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587659390/Gallery/Vi-Du-Gallery-Phan-13_ogryfm.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 13 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="JiiB"
              data-slug-hash="xgdOjw"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Simple Image Gallery with magnific-popup.js"> <span>See the Pen <a
                  href="https://codepen.io/JiiB/pen/xgdOjw"> Simple Image Gallery with magnific-popup.js</a> by Nino (<a
                  href="https://codepen.io/JiiB">@JiiB</a>) on <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/JiiB/pen/xgdOjw" target="_blank">Simple Image Gallery</a>.</p>
            <div class="row">
              <div class="col-sm-12 bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">CSS Gallery:</h3>
              </div>
            </div><img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587660082/Gallery/Vi-Du-Gallery-Phan-14_mxvahs.png"
              alt="Xây dựng bộ sưu tập hình ảnh phần 14 html,css, js">
            <p class="mt-4"> Đây là đoạn code và khi hiển thị trên web của component gallery này nhé:</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="heyDante" data-slug-hash="bxEYOw"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="CSS Gallery"> <span>See the Pen <a href="https://codepen.io/heyDante/pen/bxEYOw"> CSS
                  Gallery</a> by badalsaibo (<a href="https://codepen.io/heyDante">@heyDante</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4"> Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và nếu nó không hiển
              thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé. Và nếu chúng ta muốn xem
              các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở
              dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha. Còn đây là nguồn mình sao chép: <a
                href="https://codepen.io/heyDante/pen/bxEYOw" target="_blank">CSS Gallery</a>.</p>
            <h3 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h3>
            <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian thiết kế Gallery trong việc phát triển trang
              web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ
              trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
          </div>
        </article>


























      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>