<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i> Những Component Navbar Đẹp Bootstrap 4</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay chúng ta sẽ đi tìm hiểu các component navbar đẹp trong Bootstrap 4 . Nào hãy cũng mình tìm hiểu nhé!</i>
            </p>
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>
            <div class="bg-primary p-2 rounded text-white">
              <h3>Snippet Component Navbar Bootstrap 4:</h3>
            </div>
            <p class="mt-4"> Component Navbar theo mình thấy được sử dụng khá phổ biến đặc biệt là việc điều hướng trang web, hiển thị đường dẫn, giúp người dùng nắm được các thành phần chính trong trang web...
              Bây giờ chúng ta sẽ đi vào xem snippet navbar Bootstrap 4  và để hiểu rõ hơn bạn xem đoạn code bên dưới nhé:</p>
          
            <h4 class="text-primary">
             Component Navbar Thứ Nhất:
            </h4>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="zYvYXoz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navbar thu 1(source from bootsnipp)">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/zYvYXoz">
              Navbar thu 1(source from bootsnipp)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
         
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Còn đây là nguồn mình sao chép: <a href="https://bootsnipp.com/snippets/kl8Q3" target="_blank">Nguồn Navbar Thứ 1</a>.
            </p>

            <h4 class="text-primary">
              Component Navbar Thứ Hai:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="BaoaEWg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navbar thu 2(source from bootstrapious)">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/BaoaEWg">
              Navbar thu 2(source from bootstrapious)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
        
          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://bootstrapious.com/p/bootstrap-vertical-navbar" target="_blank">Nguồn Navbar Thứ 2</a>.
             </p>

             <h4 class="text-primary">
              Component Navbar Thứ Ba:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="KKdKYqz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navbar thu 3(source from bootstrapious)">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/KKdKYqz">
              Navbar thu 3(source from bootstrapious)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
           
        
          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://bootstrapious.com/p/about-us-page" target="_blank">Nguồn Navbar Thứ 3</a>.
             </p>
 

             <h4 class="text-primary">
              Component Navbar Thứ Tư:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="GRpRLyL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navbar thu 4 (source from bootsnipp)">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/GRpRLyL">
              Navbar thu 4 (source from bootsnipp)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
        
          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://bbbootstrap.com/snippets/mega-menu-navigation-bar-icons-71070657" target="_blank">Nguồn Navbar Thứ 4</a>.
             </p>

             <h4 class="text-primary">
              Component Navbar Thứ Năm:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="oNjNOaQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navbar thu 5 (source from bootsnipp)">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/oNjNOaQ">
              Navbar thu 5 (source from bootsnipp)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://bootsnipp.com/snippets/lVrVa" target="_blank">Nguồn Navbar Thứ 5</a>.
             </p>

             
             <h4 class="text-primary">
              Component Navbar Thứ Sáu:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="djdabe" data-slug-hash="jGOaoR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap 4.1.3 navbar and parallax">
              <span>See the Pen <a href="https://codepen.io/djdabe/pen/jGOaoR">
              Bootstrap 4.1.3 navbar and parallax</a> by Darryl (<a href="https://codepen.io/djdabe">@djdabe</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://codepen.io/djdabe/pen/jGOaoR" target="_blank">Nguồn Navbar Thứ 6</a>.
             </p>
 

             <h4 class="text-primary">
              Component Navbar Thứ Bảy:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="gnevin" data-slug-hash="GZdvMm" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navbar">
              <span>See the Pen <a href="https://codepen.io/gnevin/pen/GZdvMm">
              Navbar</a> by Garrett  (<a href="https://codepen.io/gnevin">@gnevin</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      

          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://codepen.io/gnevin/pen/GZdvMm" target="_blank">Nguồn Navbar Thứ 7</a>.
             </p>
 

             <h4 class="text-primary">
              Component Navbar Thứ Tám:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="jeffbredenkamp" data-slug-hash="VypMNE" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Animated Full screen Overlay Navigation GSAP">
              <span>See the Pen <a href="https://codepen.io/jeffbredenkamp/pen/VypMNE">
              Animated Full screen Overlay Navigation GSAP</a> by Jeff Bredenkamp (<a href="https://codepen.io/jeffbredenkamp">@jeffbredenkamp</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            
      

          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://codepen.io/jeffbredenkamp/pen/VypMNE" target="_blank">Nguồn Navbar Thứ 8</a>.
             </p>
 

             <h4 class="text-primary">
              Component Navbar Thứ Chín:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="tutsplus" data-slug-hash="aMpmZN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap 4 Landing Page">
              <span>See the Pen <a href="https://codepen.io/tutsplus/pen/aMpmZN">
              Bootstrap 4 Landing Page</a> by Envato Tuts+ (<a href="https://codepen.io/tutsplus">@tutsplus</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
           
            
      

          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://codepen.io/tutsplus/pen/aMpmZN" target="_blank">Nguồn Navbar Thứ 9</a>.
             </p>

             <h4 class="text-primary">
              Component Navbar Thứ Mười:
             </h4>
             <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="nhembram" data-slug-hash="yjPKOd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="One Page Layout Sample  with SVG Morphing ">
              <span>See the Pen <a href="https://codepen.io/nhembram/pen/yjPKOd">
              One Page Layout Sample  with SVG Morphing </a> by Nunaram Hembram (<a href="https://codepen.io/nhembram">@nhembram</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
           
           
            
      

          
             <p class="mt-4">
               Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
               nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
               Còn đây là nguồn mình sao chép: <a href="https://codepen.io/nhembram/pen/yjPKOd" target="_blank">Nguồn Navbar Thứ 10</a>.
             </p>
 
           






            

            
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc thiết kế giao diện Navbar trong Bootstrap 4 và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>