<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
        
          <div class="text-content-article mt-5">
            <p><i>Today we will take a look at the beautiful CV and Resume templates that help to impress as well as attract attention
              ideas from employers in the process of applying for and interviewing programmers!</i></p>
          </div>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">What Is CV And Resume?</h2>
</div>

          <p> CV is an acronym for the resume with Latin origin. In my opinion, CV is used to describe each stage in your life from study to work experience. In addition, you can also add information about your personal achievements such as achievements, awards, scholarships, projects you have done ...
           <br/> Resume is an acronym originating from the French language and is similar to an acronym in English. This is also a place for you to write about your life history including study, skills, work experience ...</p>
           <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Information You Should Have On Your Resume And Resume</h2>
</div>
          <p> To write a full CV or Resume to send to the employer, we need an outline to display information effectively. Here are some information you need to have!</p>
          <ul>
            <li>Communications</li>
            <li>Study process</li>
            <li>Qualifications and Skills</li>
            <li>Work experience</li>
            <li>Personal Achievement</li>
            <li>The Scholarship You Earn</li>
            <li>Related License, Certificate</li>
            <li>Personal information</li>
          </ul>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article"> CV And Resume For Developer</h2>
</div>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 1</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603113901/CV_Resume/CV1_lpkge8.png"
            alt="  CV Resume 1">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/101127129/Freebies-Resume-Cover-Letter-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 2</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603114072/CV_Resume/CV_Resume_2_w4rqwj.png"
            alt="  CV Resume 2">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/22708447/Free-Resume-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 3</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603114276/CV_Resume/CV_Resume_3_fxes6a.png"
            alt="  CV Resume 3">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/102131131/Free-Resume-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 4</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603114397/CV_Resume/CV_Resume_4_ws8njs.png"
            alt="  CV Resume 4">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="http://graphicdesignjunction.com/2020/05/cv-resume-templates-free/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 5</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603114774/CV_Resume/CV_Resume_5_zcuxyq.png"
            alt="  CV Resume 5">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/95410451/CV-RESUME-TEMPLATE" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 6</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603114981/CV_Resume/CV_Resume_6_klm9ee.png"
            alt="  CV Resume 6">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/52158537/FREE-RESUME-BUSINESS-CARD" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 7</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603115122/CV_Resume/CV_Resume_7_exwdoo.png"
            alt="  CV Resume 7">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.graphicsegg.com/resume-template-vol-08/" target="_blank" rel="noopener noreferrer">Nguồn
              Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 8</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603115579/CV_Resume/CV_Resume_8_fb5m3y.png"
            alt="  CV Resume 8">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/84579953/Free-ResumeCV-Templates-Download" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 9</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603115755/CV_Resume/CV_Resume_9_xcpfrf.png"
            alt="  CV Resume 9">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/86597625/FREE-Beautiful-Creative-Resume-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 10</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116027/CV_Resume/CV_Resume_10_xgp1yx.png"
            alt="  CV Resume 10">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://resummme.com/downloads/web-developer-resume-template/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 11</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116176/CV_Resume/CV_Resume_11_nrucen.png"
            alt="  CV Resume 11">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://psdfreebies.com/psd/printable-clean-resume-psd-template/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 12</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116271/CV_Resume/CV_Resume_12_rp0ofj.png"
            alt="  CV Resume 12">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/81656549/Cv-Resume-Template-Free-download-(PSD)" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 13</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116486/CV_Resume/CV_Resume_13_cxfvcu.png"
            alt="  CV Resume 13">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://stockindesign.com/downloads/free-professional-resume-template/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 14</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116623/CV_Resume/CV_Resume_14_g6ijtu.png"
            alt="  CV Resume 14">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://stockindesign.com/downloads/free-modern-resume-template/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 15</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116695/CV_Resume/CV_Resume_15_q0nabm.png"
            alt="  CV Resume 15">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://stockindesign.com/downloads/free-resume-template/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 16</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116776/CV_Resume/CV_Resume_16_ucrl5w.png"
            alt="  CV Resume 16">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/69480453/3-Free-Clean-Resume-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 17</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116900/CV_Resume/CV_Resume_17_toklcc.png"
            alt="  CV Resume 17">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://stockindesign.com/downloads/free-flat-resume-template/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 18</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603116977/CV_Resume/CV_Resume_18_njjgsw.png"
            alt="  CV Resume 18">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/62874077/Minimal-Creative-Resume" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 19</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603117139/CV_Resume/CV_Resume_19_uggjyj.png"
            alt="  CV Resume 19">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://graphiorra.com/product/latest-format-of-resume-psd/" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 20</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603117399/CV_Resume/CV_Resume_20_vffrzm.png"
            alt="  CV Resume 20">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/73213913/FREE-Resume-Templates" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 21</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603117511/CV_Resume/CV_Resume_21_qikfmj.png"
            alt="  CV Resume 21">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="http://graphicgoogle.com/free-cv-resume-template-with-cover-letter-for-pro-designers/"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 22</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603117727/CV_Resume/CV_Resume_22_iipots.png"
            alt="  CV Resume 22">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/15677411/FREE-Resume-Template?tracking_source=search_projects_recommended%7Cresume%20template"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 23</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603117834/CV_Resume/CV_Resume_23_c5i7dz.png"
            alt="  CV Resume 23">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/63835651/Resume-CV-Template-Free-Download?tracking_source=search_projects_recommended%7Cresume%20template"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume 24</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603117917/CV_Resume/CV_Resume_24_ocknbn.png"
            alt="  CV Resume 24">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/42485071/Free-Resume-Template?tracking_source=search_projects_recommended%7Cresume%20template"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 25</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603118077/CV_Resume/CV_Resume_25_f4oxc1.png"
            alt="  CV Resume 25">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/70740091/Free-Beautiful-ResumeCV-Template-Illustrator"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 26</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603118289/CV_Resume/CV_Resume_26_oburjx.png"
            alt="  CV Resume 26">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/34333513/FREE-A4-Resume-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 27</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603118390/CV_Resume/CV_Resume_27_c1k0tz.png"
            alt="  CV Resume 27">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/59907691/Freebie-Clean-Professional-Resume-With-Cover-Letter"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 28</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603118456/CV_Resume/CV_Resume_28_gqff7e.png"
            alt="  CV Resume 28">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/37479693/FREE-PSD-Programmer-Professional-Resume" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 29</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603118572/CV_Resume/CV_Resume_29_js0yhx.png"
            alt="  CV Resume 29">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/87581133/Free-Resume-Template" target="_blank"
              rel="noopener noreferrer">Link Download</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">  CV Resume Template 30</h3>
          </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603118635/CV_Resume/CV_Resume_30_aypi7k.png"
            alt="  CV Resume 30">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.behance.net/gallery/89518305/Free-ResumeCV-Indesign-Template-Free-Download"
              target="_blank" rel="noopener noreferrer">Link Download</a></p>
          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Summary: </b></h4>
          <p>Through here I hope the article will provide you more useful CVs and Resumes for distribution
            Development, web design and if you have any questions, please email me as soon as possible. We wish you to continue
            keep supporting the website so I can write more good articles. Have a nice day!</p>
      </div>
      </article>








    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>