<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu những hiệu ứng animation icon đẹp cho trang web
                      được thiết lập bằng HTML, CSS và Javascript nhé!

                      cho trang web nhé!
                    </i></b>
                </p>
                <hr>
              </div>
            </div>
          </div>
          <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang
            chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b>
            trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a
              href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer"
              target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a
              href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>.
            Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ
            <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            SVG Hamburger Menu Icon Animation Collection
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result"
            data-user="matthewmain" data-slug-hash="NWKoPXJ"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="SVG Hamburger Menu Icon Animation Collection">
            <span>See the Pen <a href="https://codepen.io/matthewmain/pen/NWKoPXJ">
                SVG Hamburger Menu Icon Animation Collection</a> by Matthew Main (<a
                href="https://codepen.io/matthewmain">@matthewmain</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>


          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/matthewmain/pen/NWKoPXJ" rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Sweet Menu Icon
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
            data-user="chrisdothtml" data-slug-hash="LEaEzM"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Sweet Menu Icon">
            <span>See the Pen <a href="https://codepen.io/chrisdothtml/pen/LEaEzM">
                Sweet Menu Icon</a> by Chris Deacy (<a href="https://codepen.io/chrisdothtml">@chrisdothtml</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>



          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/chrisdothtml/pen/LEaEzM" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Scroll Down Icon Animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="TKS31"
            data-slug-hash="gOaKaxx"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Scroll Down Icon Animation">
            <span>See the Pen <a href="https://codepen.io/TKS31/pen/gOaKaxx">
                Scroll Down Icon Animation</a> by Tsukasa Aoki (<a href="https://codepen.io/TKS31">@TKS31</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/TKS31/pen/gOaKaxx"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Animated Stroke SVG Icon
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="bradarnett" data-slug-hash="bqoJOb"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Animated Stroke SVG Icon">
            <span>See the Pen <a href="https://codepen.io/bradarnett/pen/bqoJOb">
                Animated Stroke SVG Icon</a> by Brad Arnett (<a href="https://codepen.io/bradarnett">@bradarnett</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/bradarnett/pen/bqoJOb"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>




          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Icon Animation from Dribbble
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="yy"
            data-slug-hash="XJpQVz"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Icon Animation from Dribbble">
            <span>See the Pen <a href="https://codepen.io/yy/pen/XJpQVz">
                Icon Animation from Dribbble</a> by Yusuf (<a href="https://codepen.io/yy">@yy</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/yy/pen/XJpQVz"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Menu Toggle animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aaroniker"
            data-slug-hash="gdyjRg"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Menu Toggle animation">
            <span>See the Pen <a href="https://codepen.io/aaroniker/pen/gdyjRg">
                Menu Toggle animation</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/aaroniker/pen/gdyjRg"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Animated Shopping Cart Icons
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="jonitrythall" data-slug-hash="kzcnC"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Animated Shopping Cart Icons">
            <span>See the Pen <a href="https://codepen.io/jonitrythall/pen/kzcnC">
                Animated Shopping Cart Icons</a> by Joni Trythall (<a
                href="https://codepen.io/jonitrythall">@jonitrythall</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/jonitrythall/pen/kzcnC" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Map marker CSS only
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="avstorm"
            data-slug-hash="ClguF"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Map marker CSS only">
            <span>See the Pen <a href="https://codepen.io/avstorm/pen/ClguF">
                Map marker CSS only</a> by Andreas Storm (<a href="https://codepen.io/avstorm">@avstorm</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>


          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/avstorm/pen/ClguF"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            CSS Site Scroll Micro Animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
            data-user="hexagoncircle" data-slug-hash="akWOdE"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="CSS Site Scroll Micro Animation">
            <span>See the Pen <a href="https://codepen.io/hexagoncircle/pen/akWOdE">
                CSS Site Scroll Micro Animation</a> by Ryan Mulligan (<a
                href="https://codepen.io/hexagoncircle">@hexagoncircle</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>


          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/hexagoncircle/pen/akWOdE" rel="noopener noreferrer" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            SVG Icon animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="exah"
            data-slug-hash="Jxsyg"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="SVG Icon animation">
            <span>See the Pen <a href="https://codepen.io/exah/pen/Jxsyg">
                SVG Icon animation</a> by John Grishin (<a href="https://codepen.io/exah">@exah</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/exah/pen/Jxsyg"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Playing Icon Animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="russgossett" data-slug-hash="zGxrYJ"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Playing Icon Animation">
            <span>See the Pen <a href="https://codepen.io/russgossett/pen/zGxrYJ">
                Playing Icon Animation</a> by Russ Gossett (<a href="https://codepen.io/russgossett">@russgossett</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/russgossett/pen/zGxrYJ" rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            weather animations icon
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="xaksis"
            data-slug-hash="dRQqdX"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="weather animations">
            <span>See the Pen <a href="https://codepen.io/xaksis/pen/dRQqdX">
                weather animations</a> by Shay (<a href="https://codepen.io/xaksis">@xaksis</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/xaksis/pen/dRQqdX"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            CSS iMessage Typing Indicator
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="fusco"
            data-slug-hash="XbpaYv"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="CSS iMessage Typing Indicator">
            <span>See the Pen <a href="https://codepen.io/fusco/pen/XbpaYv">
                CSS iMessage Typing Indicator</a> by Joseph Fusco (<a href="https://codepen.io/fusco">@fusco</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/fusco/pen/XbpaYv"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>



          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Facebook Emoji Reactions | Pure CSS
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
            data-user="AshBardhan" data-slug-hash="dNKwXz"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Facebook Emoji Reactions | Pure CSS">
            <span>See the Pen <a href="https://codepen.io/AshBardhan/pen/dNKwXz">
                Facebook Emoji Reactions | Pure CSS</a> by Ashish Bardhan (<a
                href="https://codepen.io/AshBardhan">@AshBardhan</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/AshBardhan/pen/dNKwXz"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Morph Play Button To Video Player
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="asistapl"
            data-slug-hash="WzaPPj"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Morph Play Button To Video Player #GSAP #ExpoScaleEase">
            <span>See the Pen <a href="https://codepen.io/asistapl/pen/WzaPPj">
                Morph Play Button To Video Player #GSAP #ExpoScaleEase</a> by Maciej Leszczyński (<a
                href="https://codepen.io/asistapl">@asistapl</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/asistapl/pen/WzaPPj"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            SVG Arrow next previous animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="karimhossenbux" data-slug-hash="wJWXGw"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="SVG Arrow next previous animation">
            <span>See the Pen <a href="https://codepen.io/karimhossenbux/pen/wJWXGw">
                SVG Arrow next previous animation</a> by Karim (<a
                href="https://codepen.io/karimhossenbux">@karimhossenbux</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/karimhossenbux/pen/wJWXGw" rel="noopener noreferrer" target="_blank">Nguồn</a>
          </p>


          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Live Icon Animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="naczynski"
            data-slug-hash="ZOgVwg"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Live Icon Animation">
            <span>See the Pen <a href="https://codepen.io/naczynski/pen/ZOgVwg">
                Live Icon Animation</a> by Rafał Naczyński (<a href="https://codepen.io/naczynski">@naczynski</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/naczynski/pen/ZOgVwg"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            WLAN Search animation
          </h2>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aaroniker" data-slug-hash="vYONQRv" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="WLAN Search animation">
            <span>See the Pen <a href="https://codepen.io/aaroniker/pen/vYONQRv">
            WLAN Search animation</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>

          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/aaroniker/pen/vYONQRv"
              rel="noopener noreferrer" target="_blank">Nguồn</a></p>


              <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                +/- Toggle
              </h2>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aaroniker" data-slug-hash="abzgWEx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="+/- Toggle">
                <span>See the Pen <a href="https://codepen.io/aaroniker/pen/abzgWEx">
                +/- Toggle</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
    
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/aaroniker/pen/abzgWEx"
                  rel="noopener noreferrer" target="_blank">Nguồn</a></p>

                  <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                    Arrow animations
                  </h2>
                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="aaroniker" data-slug-hash="poJjPoq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Arrow animations">
                    <span>See the Pen <a href="https://codepen.io/aaroniker/pen/poJjPoq">
                    Arrow animations</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
        
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/aaroniker/pen/poJjPoq"
                      rel="noopener noreferrer" target="_blank">Nguồn</a></p>

                      <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                        Design -> Code Loader
                      </h2>
                      <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="aaroniker" data-slug-hash="exYEgj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Design -&amp;gt; Code Loader (CSS only)">
                        <span>See the Pen <a href="https://codepen.io/aaroniker/pen/exYEgj">
                        Design -&gt; Code Loader (CSS only)</a> by Aaron Iker (<a href="https://codepen.io/aaroniker">@aaroniker</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
            
                      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/aaroniker/pen/exYEgj"
                          rel="noopener noreferrer" target="_blank">Nguồn</a></p>
                          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                            Hex Animated Icons
                          </h2>
                          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="psyonline" data-slug-hash="oXBJdb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Hex Animated Icons">
                            <span>See the Pen <a href="https://codepen.io/psyonline/pen/oXBJdb">
                            Hex Animated Icons</a> by Siyoung Park (<a href="https://codepen.io/psyonline">@psyonline</a>)
                            on <a href="https://codepen.io">CodePen</a>.</span>
                          </p>
                
                          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/psyonline/pen/oXBJdb"
                              rel="noopener noreferrer" target="_blank">Nguồn</a></p>
                          
                            
                                <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                                  Wavy Loading Animations
                                </h2>
                                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="kjbrum" data-slug-hash="BraCg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Wavy Loading Animations">
                                  <span>See the Pen <a href="https://codepen.io/kjbrum/pen/BraCg">
                                  Wavy Loading Animations</a> by Kyle Brumm (<a href="https://codepen.io/kjbrum">@kjbrum</a>)
                                  on <a href="https://codepen.io">CodePen</a>.</span>
                                </p>
                      
                                <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/kjbrum/pen/BraCg"
                                    rel="noopener noreferrer" target="_blank">Nguồn</a></p>



                                    <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
                                      CSS3 Flat Circle/Round Icon Animation
                                    </h2>
                                    <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="jascha" data-slug-hash="yponz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS3 Flat Circle/Round Icon Animation">
                                      <span>See the Pen <a href="https://codepen.io/jascha/pen/yponz">
                                      CSS3 Flat Circle/Round Icon Animation</a> by Jascha Goltermann (<a href="https://codepen.io/jascha">@jascha</a>)
                                      on <a href="https://codepen.io">CodePen</a>.</span>
                                    </p>
                          
                                    <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/jascha/pen/yponz"
                                        rel="noopener noreferrer" target="_blank">Nguồn</a></p>


















          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng
              kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những icon animation hữu ích

            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email
            mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có
            thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>