<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i> Today we are going to learn HTML5 video examples in the web design and development process! </i></p>
          </div>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">Video HTML Example For Website</h2>
          </div>
          <p class = "mt-4"> Before going into the example, I have some notes below to see the results better than you switch to
            screen mode <b> 0.5x, 0.25x </b> or if it does not show up remember <b> verify yourself as human </b>
            Can you see it in Codepen? If the file is SCSS, you can convert to CSS here: <a
              href = "https://jsonformatter.org/scss-to-css" rel = "external nofollow noopener noreferrer"
              target = "_blank"> SCSS to CSS </a>. If the file is Pug, you can convert to HTML here: <a
              href = "https://pughtml.com/" rel = "external nofollow noopener noreferrer" target = "_blank"> Pug to HTML </a>.
            If we want to see the sources used in Codepen for you to set up at the bottom of your computer then click on the word
            <b> Resources </b> are at the bottom left of Codepen for CDN links. </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How To Create Embed Video Into Bootstrap 4 Modal</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video-Modal-Bootstrap.png"
            alt="How To Create Embed Video Into Bootstrap 4 Modal">
          <p class="mt-4"> This project will help you to embed Youtube and Vimeo videos into Modal In In Bootstrap.
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="JacobLett" data-slug-hash="xqpEYE" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Play YouTube or Vimeo Video in Modal - Bootstrap 4"> <span>See the Pen <a
                href="https://codepen.io/JacobLett/pen/xqpEYE"> Play YouTube or Vimeo Video in Modal - Bootstrap 4</a>
              by Jacob Lett (<a href="https://codepen.io/JacobLett">@JacobLett</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/JacobLett/pen/xqpEYE"
              target="_blank" title="Video Moadl Bootstrap4">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Insert HTML5 Video Using Object-fit CSS</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20HTML5%20B%E1%BA%B1ng%20Object-fit%20CSS.png"
            alt="Insert HTML5 Video Using Object-fit CSS">
          <p class="mt-4"> Here's how to create HTML5 video for website using object-fit in CSS.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="DylanMacnab" data-slug-hash="NjVXEe" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Daily Pen #80"> <span>See the Pen <a href="https://codepen.io/DylanMacnab/pen/NjVXEe"> Daily
                Pen #80</a> by Dylan Macnab (<a href="https://codepen.io/DylanMacnab">@DylanMacnab</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/DylanMacnab/pen/NjVXEe" target="_blank"
              title="Insert HTML5 Video Using Object-fit CSS">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Using Video In HTML5</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/S%E1%BB%AD%20D%E1%BB%A5ng%20Video%20Trong%20HTML5.png"
            alt="Using Video In HTML5">
          <p class="mt-4">Here's how to create HTML5 video for website using CSS3 and Javascript.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="doddsy105"
            data-slug-hash="rtcbE" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="HTML5 Video"> <span>See the Pen <a href="https://codepen.io/doddsy105/pen/rtcbE"> HTML5
                Video</a> by Adam (<a href="https://codepen.io/doddsy105">@doddsy105</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/doddsy105/pen/rtcbE"
              target="_blank" title="Using Video In HTML5">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Insert HTML5 Video Using Video.js Library</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Ch%C3%A8n%20HTML5%20Video%20B%E1%BA%B1ng%20Th%C6%B0%20Vi%E1%BB%87n%20Videojs.png"
            alt="Insert HTML5 Video Using Video.js Library">
          <p class="mt-4"> This project will make it possible to insert HTML5 Video into your website through video.js library.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="heff"
            data-slug-hash="EarCt" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Video.js Default Skin"> <span>See the Pen <a href="https://codepen.io/heff/pen/EarCt">
                Video.js Default Skin</a> by Steve Heffernan (<a href="https://codepen.io/heff">@heff</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/heff/pen/EarCt"
              target="_blank" title="Insert HTML5 Video Using Video.js Library">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Hover Effects For HTML5 Video</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Hover%20%20HTML5%20Video.png"
            alt="Hover Effects For HTML5 Video">
          <p class="mt-4"> Video will automatically be played when user hover on it (Only used for desktop screen).</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="anon"
            data-slug-hash="bNxZWg" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="HTML5 Video Play on Hover"> <span>See the Pen <a href="https://codepen.io/anon/pen/bNxZWg">
                HTML5 Video Play on Hover</a> by Captain Anonymous (<a href="https://codepen.io/anon">@anon</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/gil411e8085ef/pen/bNxZWg" target="_blank" title="Hover Effects For HTML5 Video">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How To Create Video Slider Using Slick.js</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20Slider%20B%E1%BA%B1ng%20Slickjs.png"
            alt="How To Create Video Slider Using Slick.js">
          <p class="mt-4"> This is a project on how to add youtube, vimeo and HTML5 video to slider.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="digistate"
            data-slug-hash="MvapbE" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Slick Slider with auto play YouTube, Vimeo and HTML5 video"> <span>See the Pen <a
                href="https://codepen.io/digistate/pen/MvapbE"> Slick Slider with auto play YouTube, Vimeo and HTML5
                video</a> by digistate (<a href="https://codepen.io/digistate">@digistate</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/digistate/pen/MvapbE"
              target="_blank" title="How To Create Video Slider Using Slick.js">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How To Create HTML Video In SVG</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/HTML%20Video%20Trong%20SVG.png"
            alt="How To Create HTML Video In SVG">
          <p class="mt-4">This is the effect of inserting video into SVG using CSS and Javascript.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="dudleystorey" data-slug-hash="QvvEYQ" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="SVG Text Mask w/ Video Fill"> <span>See the Pen <a
                href="https://codepen.io/dudleystorey/pen/QvvEYQ"> SVG Text Mask w/ Video Fill</a> by Dudley Storey (<a
                href="https://codepen.io/dudleystorey">@dudleystorey</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/dudleystorey/pen/QvvEYQ" target="_blank" title="How To Create HTML Video In SVG">Link Project</a>
          </p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How to Embed Youtube Video Using PrettyEmbed.js</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Nh%C3%BAng%20Youtube%20Video%20B%E1%BA%B1ng%20PrettyEmbedjs.png"
            alt="How to Embed Youtube Video Using PrettyEmbed.js">
          <p class="mt-4"> How to embed youtube video in website using PrettyEmbed.js library.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="mike-zarandona" data-slug-hash="FELxi" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="PrettyEmbed.js Demo"> <span>See the Pen <a
                href="https://codepen.io/mike-zarandona/pen/FELxi"> PrettyEmbed.js Demo</a> by Mike Zarandona (<a
                href="https://codepen.io/mike-zarandona">@mike-zarandona</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/mike-zarandona/pen/FELxi" target="_blank"
              title="How to Embed Youtube Video Using PrettyEmbed.js">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">How to Create Video Player HTML5</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20Player%20HTML5.png"
            alt="Video Player HTML5">
          <p class="mt-4">Design video player with Plyr Javascript library.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="sampotts"
            data-slug-hash="jARJYp" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Plyr Demo"> <span>See the Pen <a href="https://codepen.io/sampotts/pen/jARJYp"> Plyr
                Demo</a> by Sam Potts (<a href="https://codepen.io/sampotts">@sampotts</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/sampotts/pen/jARJYp"
              target="_blank" title="Video Player HTML5">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Lightbox Effects For HTML5 Video</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Lightbox%20Cho%20Video%20HTML5.png"
            alt="Lightbox Effects For HTML5 Video">
          <p class="mt-4">Create video lightbox effects using CSS and Javascript.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="davidleduc" data-slug-hash="EPrgqY" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="HTML 5 Video playing in a lightbox"> <span>See the Pen <a
                href="https://codepen.io/davidleduc/pen/EPrgqY"> HTML 5 Video playing in a lightbox</a> by David LeDuc
              (<a href="https://codepen.io/davidleduc">@davidleduc</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/davidleduc/pen/EPrgqY"
              target="_blank" title="Lightbox Effects For HTML5 Video">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Play Video Button Design</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Play%20Button%20Video.png"
            alt="Play Button Video">
          <p class="mt-4"> How to insert Youtube Video into Modal in website.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="jaredringold" data-slug-hash="zvwWyb" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Pulsing Play Button"> <span>See the Pen <a
                href="https://codepen.io/jaredringold/pen/zvwWyb"> Pulsing Play Button</a> by Jared Ringold (<a
                href="https://codepen.io/jaredringold">@jaredringold</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/jaredringold/pen/zvwWyb" target="_blank" title="Play Button Video">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Video Card Design</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20Card.png"
            alt="Video Card">
          <p class="mt-4"> How to create video card with HTML CSS and Javascript.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="VeronQ"
            data-slug-hash="MQRrBb" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Youtube card"> <span>See the Pen <a href="https://codepen.io/VeronQ/pen/MQRrBb"> Youtube
                card</a> by Quentin Veron (<a href="https://codepen.io/VeronQ">@VeronQ</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/VeronQ/pen/MQRrBb"
              target="_blank" title="Video Card">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Responsive Design HTML Video Background</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Responsive%20HTML%20Video%20Background.png"
            alt="Responsive HTML Video Background">
          <p class="mt-4">Design video background displayed on many different types of devices screens.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="haycuoilennao19" data-slug-hash="dypdyQG" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Responsive &amp;quot;background-size: contain&amp;quot; Video"> <span>See the Pen <a
                href="https://codepen.io/haycuoilennao19/pen/dypdyQG"> Responsive &quot;background-size: contain&quot;
                Video</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/haycuoilennao19/pen/dypdyQG" target="_blank"
              title="Responsive HTML Video Background">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Video Animation Button Animation CSS Design</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20Button%20Animation%20CSS.png"
            alt="Video Animation Button Animation CSS Design">
          <p class="mt-4">
            Create Motion Effect for video button by CSS.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="milanraring" data-slug-hash="QWwyLdp" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Video button animation - Only CSS"> <span>See the Pen <a
                href="https://codepen.io/milanraring/pen/QWwyLdp"> Video button animation - Only CSS</a> by Milan Raring
              (<a href="https://codepen.io/milanraring">@milanraring</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/milanraring/pen/QWwyLdp" target="_blank"
              title="Video Animation Button Animation CSS Design">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS Video Header Design</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20Header%20CSS.png"
            alt="Video Header CSS">
          <p class="mt-4"> Design HTML5 video for hero header in website.</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="joe-watkins" data-slug-hash="QwpXBY" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Expanding Video Hero"> <span>See the Pen <a
                href="https://codepen.io/joe-watkins/pen/QwpXBY"> Expanding Video Hero</a> by Joe Watkins (<a
                href="https://codepen.io/joe-watkins">@joe-watkins</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://codepen.io/joe-watkins/pen/QwpXBY" target="_blank" title="Video Header CSS">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Video Gallery Design</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Video%20Gallery.png"
            alt="Video Gallery">
          <p class="mt-4">In this section we will learn how to create Video Gallery on the website!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
            data-user="bobbykorec" data-slug-hash="XNpjem" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Video Gallery, Hover Effects, Lightbox"> <span>See the Pen <a
                href="https://codepen.io/bobbykorec/pen/XNpjem"> Video Gallery, Hover Effects, Lightbox</a> by Bobby
              Korec (<a href="https://codepen.io/bobbykorec">@bobbykorec</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/bobbykorec/pen/XNpjem"
              target="_blank" title="Video Gallery">Link Project</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Youtube Video Grid Design CSS Javascript</h3>
          </div> <img class="img-fluid lazyload shadow rounded"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/vi_du_video_html5/Youtube%20Video%20Grid.png"
            alt="Youtube Video Grid CSS Javascript">
          <p class="mt-4"> In this section we will learn how to create a Youtube Video Grid in the website!</p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="nakome"
            data-slug-hash="zcKoa" data-preview="true"
            style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
            data-pen-title="Youtube videos"> <span>See the Pen <a href="https://codepen.io/nakome/pen/zcKoa"> Youtube
                videos</a> by Moncho Varela (<a href="https://codepen.io/nakome">@nakome</a>) on <a
                href="https://codepen.io">CodePen</a>.</span></p>
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codepen.io/nakome/pen/zcKoa"
              target="_blank" title="Youtube Video Grid CSS Javascript">Link Project</a></p>
          
          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
          <p>Through here I hope the article will provide you with more useful video examples for development,
            web design and if you have any questions, please email me as soon as possible. We hope you continue to support
            website so I can write more good articles. Have a nice day!</p>
      </div>
      </article>












    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>