<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i>Accordion Snippet trong Bootstrap</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay chúng ta sẽ đi tìm hiểu các accordion bằng cách kết hợp HTML, CSS, Javascript và Bootstrap . Nào hãy cũng mình tìm hiểu nhé!</i>
            </p>
            <!--<div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>-->
         
            <p class="mt-4"> 
              Accordion là một danh sách được sắp xếp theo chiều dọc hay chiều ngang có chức năng để hiển thị hay ẩn nội dung. Nếu bạn muốn xem lại thì có thể tham khảo ở đây nhé 
              <a href="https://www.niemvuilaptrinh.com/article/5e86052210ee792be0376294" title="component accordion">Accordion</a>. Nó giúp chúng ta có thể tiết kiệm diện tích trang và hiển thị 
              những thông tin chính, khi người dùng muốn xem có thể nhấn vào để hiện nội dung của thông tin đó mà không cần phải điều hướng trang nhiều lần. Nó thường được sử dụng trong trang FAQ,
              Danh sách nhiều thành phần con hay bảng dữ liệu...
            </p>
            <p>Để hiểu rõ hơn bạn xem ví dụ về trang FAQ của Microsoft dưới đây nha:</p>
            <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586963140/Accordion/Vi-du-ve-accordion-trong-trang-FAQ_ckhigg.png" alt="Ví dụ về accordion trong trang Microsoft FAQ">
              <p class="mt-4">
              Sau đây mình sẽ giới thiệu một số component Accordion được thiết kế sẵn bằng HTML, CSS, Bootstrap và Javascript giúp bạn có thể đa dạng lựa chọn phù hợp với bố cục cũng như thiết kế của trang web.
              </p>
          
              <!--New-->
             <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">FAQ:</h4></div>
             <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586966263/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_1_vfsqir.png" alt="Accordion xây dựng bằng HTML, CSS và Javascript Phần 1">
          
              <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="kathykato" data-slug-hash="MoZJom" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="FAQ">
                <span>See the Pen <a href="https://codepen.io/kathykato/pen/MoZJom">
                FAQ</a> by Katherine Kato (<a href="https://codepen.io/kathykato">@kathykato</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/kathykato/pen/MoZJom" target="_blank">FAQ</a>.
            </p>

                 <!--New-->
                 <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">CSS Responsive animated Accordion:</h4></div>
                 <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586967122/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_2_rtnu9r.png" alt="Accordion xây dựng bằng HTML, CSS và Javascript Phần 2">

   
                  <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="chriswrightdesign" data-slug-hash="cmanI" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="CSS Responsive animated Accordion">
                    <span>See the Pen <a href="https://codepen.io/chriswrightdesign/pen/cmanI">
                    CSS Responsive animated Accordion</a> by Chris Wright (<a href="https://codepen.io/chriswrightdesign">@chriswrightdesign</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
              
                <p class="mt-4">
                  Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                  nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                  Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                  Còn đây là nguồn mình sao chép: <a href="https://codepen.io/chriswrightdesign/pen/cmanI" target="_blank">CSS Responsive animated Accordion</a>.
                </p>

                
                 <!--New-->
                 <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Pure CSS Accordion:</h4></div>
                 <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586967294/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_3_kz4bkd.png" alt="Accordion xây dựng bằng HTML, CSS và Javascript Phần 3">
              
               <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="raubaca" data-slug-hash="PZzpVe" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pure CSS Accordion">
                    <span>See the Pen <a href="https://codepen.io/raubaca/pen/PZzpVe">
                    Pure CSS Accordion</a> by Rau (<a href="https://codepen.io/raubaca">@raubaca</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
 
                <p class="mt-4">
                  Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                  nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                  Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                  Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                  Còn đây là nguồn mình sao chép: <a href="https://codepen.io/raubaca/pen/PZzpVe" target="_blank">Pure CSS Accordion</a>.
                </p>
                

                 <!--New-->
                 <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Responsive Animated SCSS Accordion:</h4></div>
                 <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586967946/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_4_fkt20n.png" alt="Accordion xây dựng bằng HTML, CSS và Javascript Phần 4">
         
               <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
               <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="pirrera" data-slug-hash="KwzMGZ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Animated SCSS Accordion">
                <span>See the Pen <a href="https://codepen.io/pirrera/pen/KwzMGZ">
                Responsive Animated SCSS Accordion</a> by MrPirrera (<a href="https://codepen.io/pirrera">@pirrera</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
        
 
                <p class="mt-4">
                  Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                  nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                  Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                  Còn đây là nguồn mình sao chép: <a href="https://codepen.io/pirrera/pen/KwzMGZ" target="_blank">Responsive Animated SCSS Accordion</a>.
                </p>
                
                      <!--New-->
                      <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Responsive Accordion (Background Images):</h4></div>
                      <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586968410/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_5_hid871.png" alt="Accordion xây dựng bằng HTML, CSS và Javascript Phần 5">
                      <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                      <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="ferry" data-slug-hash="ZYVwxz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Accordion (Background Images)">
                        <span>See the Pen <a href="https://codepen.io/ferry/pen/ZYVwxz">
                        Responsive Accordion (Background Images)</a> by Michael Ferry (<a href="https://codepen.io/ferry">@ferry</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
                 
      
                     <p class="mt-4">
                       Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                       nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                       Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                       Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                       
                       Còn đây là nguồn mình sao chép: <a href="https://codepen.io/ferry/pen/ZYVwxz" target="_blank">Responsive Accordion (Background Images)</a>.
                     </p>

                                   <!--New-->
                                   <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Collapsing Accordion Pure CSS:</h4></div>
                                   <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586969496/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_6_z6j1y0.png" alt="Accordion xây dựng bằng HTML, CSS  Phần 6">
                                   <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                                   <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="JeremyWink" data-slug-hash="PoYdrLV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Collapsing Accordion Pure CSS">
                                    <span>See the Pen <a href="https://codepen.io/JeremyWink/pen/PoYdrLV">
                                    Collapsing Accordion Pure CSS</a> by Kniw Studio (<a href="https://codepen.io/JeremyWink">@JeremyWink</a>)
                                    on <a href="https://codepen.io">CodePen</a>.</span>
                                  </p>
                           
                              
                   
                                  <p class="mt-4">
                                    Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                    nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                    Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                     
                                    
                                    Còn đây là nguồn mình sao chép: <a href="https://codepen.io/JeremyWink/pen/PoYdrLV" target="_blank">Collapsing Accordion Pure CSS</a>.
                                  </p>
                     
                                  <!--New-->
                                  <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Material design Accordion - Bootstrap v3:</h4></div>
                                  <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586971158/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_7_yltpw7.png" alt="Accordion xây dựng bằng HTML, CSS  Phần 7">
              
                                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="shehab-eltawel" data-slug-hash="dYwOgX" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material design Accordion - Bootstrap v3">
                                    <span>See the Pen <a href="https://codepen.io/shehab-eltawel/pen/dYwOgX">
                                    Material design Accordion - Bootstrap v3</a> by Shehab Eltawel (<a href="https://codepen.io/shehab-eltawel">@shehab-eltawel</a>)
                                    on <a href="https://codepen.io">CodePen</a>.</span>
                                  </p>
                              
                          
                              
                  
                                  <p class="mt-4">
                                    Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                    nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                    Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                                  
                                    
                                    Còn đây là nguồn mình sao chép: <a href="https://codepen.io/shehab-eltawel/pen/dYwOgX" target="_blank">Material design Accordion - Bootstrap v3</a>.
                                  </p>
                                  <!--New-->
                                  <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Accordion:</h4></div>
                                  <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586971334/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_8_j0ntpw.png" alt="Accordion xây dựng bằng HTML, CSS  Phần 8">
                                  <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                                  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="LewisBriffa" data-slug-hash="qjwqLb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Accordion">
                                    <span>See the Pen <a href="https://codepen.io/LewisBriffa/pen/qjwqLb">
                                    Accordion</a> by Lewis Briffa (<a href="https://codepen.io/LewisBriffa">@LewisBriffa</a>)
                                    on <a href="https://codepen.io">CodePen</a>.</span>
                                  </p>
                             
                              
                          
                              
                  
                                  <p class="mt-4">
                                    Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                    nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                    Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                                  
                                    
                                    Còn đây là nguồn mình sao chép: <a href="https://codepen.io/LewisBriffa/pen/qjwqLb" target="_blank">Simple Flat UI CSS Accordion</a>.
                                  </p>

                            <!--New-->
                            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Accordion:</h4></div>
                            <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586971592/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_9_nbvlio.png" alt="Accordion xây dựng bằng HTML, CSS  Phần 9">
                            <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="samsurysites" data-slug-hash="qxHJK" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Simple Flat UI CSS Accordion">
                              <span>See the Pen <a href="https://codepen.io/samsurysites/pen/qxHJK">
                              Simple Flat UI CSS Accordion</a> by Virlyz ID (<a href="https://codepen.io/samsurysites">@samsurysites</a>)
                              on <a href="https://codepen.io">CodePen</a>.</span>
                            </p>
                    
                      
                        
                    
                        
            
                            <p class="mt-4">
                              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                            
                              
                              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/samsurysites/pen/qxHJK" target="_blank">Simple Flat UI CSS Accordion</a>.
                            </p>

                               <!--New-->
                               <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Pure HTML+CSS Accordion:</h4></div>
                               <img class="img-thumbnail shadow p-2" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586971902/Accordion/Snippet_Accordion_HTML_CSS_Javascript_phan_10_ywqgpm.png" alt="Accordion xây dựng bằng HTML, CSS  Phần 10">
                               <p class="mt-4">Đây là đoạn code và khi hiển thị trên web của Accordion này nhé:</p>
                               <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="dandiws" data-slug-hash="qqyeed" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pure HTML+CSS Accordion (Without Javascript)">
                                <span>See the Pen <a href="https://codepen.io/dandiws/pen/qqyeed">
                                Pure HTML+CSS Accordion (Without Javascript)</a> by Dandi Wiratsangka (<a href="https://codepen.io/dandiws">@dandiws</a>)
                                on <a href="https://codepen.io">CodePen</a>.</span>
                              </p>
                             
                         
                           
                       
                           
               
                               <p class="mt-4">
                                 Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                 nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                 Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                               
                                 
                                 Còn đây là nguồn mình sao chép: <a href="https://codepen.io/dandiws/pen/qqyeed" target="_blank">Pure HTML+CSS Accordion</a>.
                               </p>
                                  

            
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
    
        <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc thiết kế giao diện Accordion cho trang  web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

 
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>