<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Trang Web Lưu Trữ Và Chia Sẻ File Bạn Nên Biết 2020</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Với công nghệ ngày càng phát triển thì việc chia sẻ file trực tuyến là một trong những yếu tố không thể
                thiếu
                trong công việc của chúng ta như gửi file cho khách hàng, gửi bài tập cho giáo viên... Hôm nay bạn và
                mình sẽ cùng nhau tìm hiểu
                những trang web lưu trữ và chia sẻ file được sử dụng phổ biến trong năm 2020 ở dưới đây nhé.

              </i>
            </p>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.google.com/drive/" title="Google Drive" target="_blank">
                    Google Drive
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Google Drive</b> là trang chia sẻ file được các bạn ngày này rất ưa chuộng vì tính thuận lợi, dễ dàng
              khi gửi file và
              độ tin cậy cao. Bạn có thể tải bất kỳ dạng file nào lên và chỉ cần gửi đường dẫn liên kết chia sẻ đến
              người nhận là đã có thể sử dụng hay tải file của bạn về rồi.<br />
              Với phiên bản miễn phí, bạn được cung cấp 15GB để lưu trữ trực tuyến, theo mình thấy với dung lượng như
              vậy chúng ta
              có thể sử dụng thoải mái cho mục đích cá nhân như lưu hình ảnh, video, tài liệu học tập... Còn nếu bạn
              muốn sử dụng thêm thì có thể
              đăng ký theo gói dành cho năm với phí thấp nhất là 450.000 VND cho 100GB lưu trữ trên năm. <br />
              Nhằm đáp ứng nhu cầu trải nghiệm người dùng thì Google còn cung cấp thêm cho chúng ta các phiên bản trên
              nhiều thiết bị khác nhau như điện thoại, máy tính bảng... giúp bạn có thể truy
              cập dữ liệu lưu trữ ở bất cứ đâu.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591366302/trang-web-chia-se-file/trang-web-chia-se-file-Google-Drive_suf8ti.png"
              alt="Trang web chia sẻ file Google Drive ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.google.com/drive/" target="_blank" title="Google Drive">
                Nguồn Google Drive
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.dropbox.com/" title="Dropbox" target="_blank">
                    Dropbox
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Dropbox</b> là trang web cho phép bạn chia sẻ file trực tuyến. Chúng ta có thể truy cập file ở bất kỳ
              đâu thông qua các chương trình
              được xây dựng sẵn cho điện thoại, máy tính bảng, máy tính bàn. Theo mình thấy chương trình này có khá
              nhiều điểm hay như là:
              <ul>
                <li>Chia sẻ các file một cách dễ dàng cho người khác như hình ảnh, video, thư mục, các file có kích
                  thước lớn... Mà không yêu cầu người đó phải có tài khoản dropbox.</li>
                <li>Bạn và những người trong nhóm được chia sẻ sẽ biết ngay lập tức khi ai đó đang thực hiện thay đổi,
                  thêm, chỉnh sửa, xóa file của bạn thông qua chương trình cập nhật theo thời gian thực mà Dropbox cung
                  cấp.</li>
                <li>Bạn có thể thêm mật khẩu khi chia sẻ file thông qua đường dẫn liên kết hay cấp quyền cho những ai có
                  thể thêm sửa xóa trong thư mục của bạn...</li>
              </ul>
              Đối với phiên bản miễn phí thì bạn có 2GB để lưu trữ. Còn nếu muốn dung lượng thêm thì bạn có thể đăng ký
              gói Dropbox plus với giá khoảng 9.99$ / tháng với dung lượng lưu trữ là 2TB(2000GB) và được cộng thêm
              nhiều tiện ích khác.

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591410107/trang-web-chia-se-file/trang-web-chia-se-file-Dropbox_seayz6.png"
              alt="Trang web chia sẻ file Dropbox ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.dropbox.com/" target="_blank" title="Dropbox">
                Nguồn Dropbox
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://onedrive.live.com/about/en-us/" title="OneDrive " target="_blank">
                    OneDrive
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>OneDrive </b> là nơi lưu trữ và chia sẻ file do Microsoft sản xuất nên bạn có thể hoàn toàn tâm về tính
              bảo mật
              cũng như độ ổn định của sản phẩm. Nó cho phép bạn truy cập file ở bất kỳ đâu như trên điện thoại, máy tính
              bảng...
              và nó cũng cung cấp thêm chương trình Office giúp bạn có thể chỉnh sửa file World, Excel... một cách nhanh
              chóng.
              Bạn có thể đặt bảo mật cho những file quan trọng và với phiên bản miễn phí thì chỉ được sử dụng cho 3 file
              thôi nhé.
              <br />
              Với bản miễn phí thì bạn được cung cấp 5GB lưu trữ và nếu muốn nâng cấp thêm thì giá
              khoảng 1.99$/tháng cho 100GB lưu trữ.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591411708/trang-web-chia-se-file/trang-web-chia-se-file-OneDriver_xgrq6c.png"
              alt="Trang web chia sẻ file OneDrive  ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://onedrive.live.com/about/en-us/" target="_blank" title="OneDrive ">
                Nguồn OneDrive
              </a>
            </button>






            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.mediafire.com/" title="MediaFire " target="_blank">
                    MediaFire
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>MediaFire </b> là trang web tiếp theo mà mình muốn giới thiệu. Bạn có thể lưu trữ bất kỳ loại file nào
              và chia sẻ cho mọi người qua mạng xã hội, email, tin nhắn... bằng đường dẫn liên kết
              được MediaFire cung cấp. Với dung lượng được cung cấp là 50GB
              thì bạn có thể thoải mái sử dụng cho nhũng mục đích cá nhân của mình và nó cũng cho phép lưu trữ file có
              kích thước lên tới 4GB.
              Nó sẽ không giới hạn số lần tải xuống cho người dùng và đảm bảo tốc độ truyển tải file luôn được ổn định.
              Nếu bạn muốn sử dụng dung lượng lưu trữ thêm thì có thể đăng ký gói pro với giá khoảng 3.75 $ cho một
              tháng.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591413267/trang-web-chia-se-file/trang-web-chia-se-file-MediaFire_byyib4.png"
              alt="Trang web chia sẻ file MediaFire   ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.mediafire.com/" target="_blank" title="MediaFire  ">
                Nguồn MediaFire
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://wetransfer.com/" title="We Transfer " target="_blank">
                    We Transfer
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>We Transfer </b> là một web app giúp chúng ta gửi dữ liệu thông qua email mà không cần phải đăng ký tài
              khoản
              và được sử dụng hoàn toàn miễn phí. Nó cho phép bạn chuyển dữ liệu mỗi lần có thể lên tới 2GB cho bất kỳ
              loại file nào.
              Bạn chỉ cần chọn file mình muốn chuyển rồi sau đó nhập email người dùng và email của mình cộng thêm tin
              nhắn là file của bạn đã được chia sẻ rồi.
              Thật đơn giản phải không nào! Nếu bạn sử dụng mà không đăng ký tài khoản thì cần phải nhập thêm mã kích
              hoạt cho email của mình nữa nhé.
              Tuy vậy nó cũng có một số điểm hạn chế cho phiên bản miễn phí là thời gian lưu trữ file, chỉ gửi cho 3
              email mỗi lần chuyển file.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591414743/trang-web-chia-se-file/trang-web-chia-se-file-We_Transfer_ehum5d.png"
              alt="Trang web chia sẻ file We Transfer   ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://wetransfer.com/" target="_blank" title="We Transfer  ">
                Nguồn We Transfer
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.box.com/home" title="Box " target="_blank">
                    Box
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Box </b> giúp chúng ta chia sẻ file và lưu trữ dễ dàng bằng cách chia sẻ liên kết hay chia sẻ trực tiếp
              từ Box.
              Nó cho phép bạn có thể xem trực tiếp mà không cần tải xuống với việc hỗ trợ hơn 120 loại file như Word,
              Excel, PDF, Zip, PSD...
              Nhằm tăng trải nghiệm người dùng thì Box cũng tích hợp tính năng trên máy điện thoại và máy tính bảng giúp
              chúng ta có thể truy cập dữ liệu ở mọi nơi.
              Ngoài ra nhằm tăng tính bảo mật thì Box cung cấp cho chúng ta các công cụ như thiết lập ngày hết hạn chia
              sẻ cho file, cấp quyền cho
              người dùng được truy cập, đặt mật khẩu cho file quan trọng... Với phiên bản miễn phí thì bạn có 10GB lưu
              trữ và kích thước file cho mỗi lần tải lên không quá 250MB.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591425143/trang-web-chia-se-file/trang-web-chia-se-file-Box_ktfq8b.png"
              alt="Trang web chia sẻ file Box   ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.box.com/home" target="_blank" title="Box  ">
                Nguồn Box
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://send.firefox.com/" title="Firefox Send " target="_blank">
                    Firefox Send
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Firefox Send </b> là một dịch vụ được phát triển Mozilla giúp chia sẻ các file được thực hiện trên mọi
              trình duyệt
              một cách đơn giản và an toàn. Bạn có thể tải file có dung lượng lên tới 1GB khi không đăng ký tài khoản và
              2.5GB cho các tài khoản đã được đăng ký.
              Nó cung cấp cho bạn các tùy chỉnh để có thể linh hoạt trong việc chia sẻ file như xác định số lần được tải
              xuống(Tối đa là 100 lần),
              thời gian hết hạn của file chia sẽ (đối ta là 7 ngày) và đặt mật khẩu cho những file quan trọng.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591426522/trang-web-chia-se-file/trang-web-chia-se-file-Firefox-Send_fen8pi.png"
              alt="Trang web chia sẻ file Firefox Send">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://send.firefox.com/" target="_blank" title="Firefox Send">
                Nguồn Firefox Send
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.hightail.com/" title="Hightail" target="_blank">
                    Hightail
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Hightail</b> giúp bạn chia sẽ file cho mọi người một cách nhanh chóng bằng cách tải file chia sẻ từ máy
              tính hay
              từ các dịch vụ lữu trữ. Nó cho phép bạn thiết lập ai có quyền truy cập file của bạn thông qua cài đặt mật
              khẩu hay
              thời gian hết hạn cho file chia sẻ. Hightail cũng sẽ tự động gửi email thông báo mỗi khi có người truy cập
              vào
              dữ liệu của bạn. Điểm mình thích ở nó là khi bạn dùng phiên bản pro với giá khoảng 12$/ tháng thì có thể
              gửi file với dung lượng lên tới 25GB
              và dữ liệu lưu trữ không giới hạn. Còn nếu chúng ta dùng bản miễn phí thì sẽ có 2GB lưu trữ và kích thước
              file được chia sẻ phải nhỏ hơn 100MB.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591428194/trang-web-chia-se-file/trang-web-chia-se-file-Hightail_wmx9cj.png"
              alt="Trang web chia sẻ file Hightail">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.hightail.com/" target="_blank" title="Hightail ">
                Nguồn Hightail
              </a>
            </button>





            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://jumpshare.com/file-sharing" title="Jumpshare" target="_blank">
                    Jumpshare
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Jumpshare</b> là cách chia sẻ file nhanh chóng đến với mọi người như bạn bè, đồng nghiệp, khách hàng...
              Cái này thì bạn cần phải tải bản cài đặt về cho máy tính để sử dụng nhé. Nó sẽ tự động lưu đường dẫn vào clipboard mỗi khi tải file lên và 
              bạn chỉ cần gửi đường dẫn liên kết đến cho người bạn muốn nhận file chia sẻ. Ngoài ra Jumpshare cũng cấp chức năng
              theo dõi file khi nó được xem hoặc tải xuống khi file chúng ta chia sẻ bằng email. Nó cũng có công cụ bình luận giúp bạn và khách hàng có thể dễ dàng trao đổi thông tìn về file chia sẻ hơn.
              <br/>
              Với phiên bản miễn phí thì bạn có 2GB lưu trữ và kích thước tải file mỗi lần không vượt qua 250MB.
              Nếu bạn muốn thêm dung lượng, có thể đăng ký bản plus với giá khoảng 9.99$ thì sẽ có được 1TB lưu trữ và kích thước mỗi lần tải file lên tới 20GB.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591430030/trang-web-chia-se-file/trang-web-chia-se-file-Jumpshare_m4wetl.png"
              alt="Trang web chia sẻ file Jumpshare">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://jumpshare.com/file-sharing" target="_blank" title="Jumpshare ">
                Nguồn Jumpshare
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.jumbomail.me/en/" title="JumboMail " target="_blank">
                    JumboMail 
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>JumboMail </b> có cách hoạt động khá giống với <b>We Transfer</b> cho phép bạn không cần tài khoản đăng ký mà vẫn chia sẻ file được  thông 
              qua email. Với  không đăng ký tài khoản là 2GB cho mỗi lần gửi file và với các tài khoản đã được đăng ký thì dung lượng gửi 
              file lên tới 5GB. Nếu bạn muốn nâng cấp thêm thì có thể sử dụng gói Pro với 12$/tháng với việc không giới hạn email chia sẻ và 
              mỗi file chia sẻ có kích thước lên tới 20GB.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591431072/trang-web-chia-se-file/trang-web-chia-se-file-JumboMail_tmg7cv.png"
              alt="Trang web chia sẻ file JumboMail ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.jumbomail.me/en/" target="_blank" title="JumboMail">
                Nguồn JumboMail 
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                
                   Các trang web lưu trữ và chia sẻ file khác
                 
                </h3>
              </div>
            </div>

            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591431295/trang-web-chia-se-file/trang-web-chia-se-file-FileDropper_w9pfy0.png"
            alt="Trang web chia sẻ file FileDropper">
          <button type="button " class="btn btn-dark mt-4">
            <a class="text-white" href="https://www.filedropper.com/" target="_blank" title="FileDropper">
              Nguồn FileDropper 
            </a>
          </button>



          <img class="img-thumbnail mt-4 img-fluid shadow p-2 lazyload"
          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591431449/trang-web-chia-se-file/trang-web-chia-se-file-SendSpace_wdhg4z.png"
          alt="Trang web chia sẻ file SendSpace">
        <button type="button " class="btn btn-dark mt-4">
          <a class="text-white" href="https://www.sendspace.com/" target="_blank" title="SendSpace">
            Nguồn SendSpace 
          </a>
        </button>



        <img class="img-thumbnail mt-4 img-fluid shadow p-2 lazyload"
        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591431593/trang-web-chia-se-file/trang-web-chia-se-file-AmazonDrive_r7emrq.png"
        alt="Trang web chia sẻ file Amazon Drive">
      <button type="button " class="btn btn-dark mt-4">
        <a class="text-white" href="https://www.amazon.com/b?ie=UTF8&node=15547130011" target="_blank" title="Amazon Drive">
          Nguồn Amazon Drive 
        </a>
      </button>

      <img class="img-thumbnail mt-4 img-fluid shadow p-2 lazyload"
      data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591431680/trang-web-chia-se-file/trang-web-chia-se-file-4shared_gkxnap.png"
      alt="Trang web chia sẻ file 4shared">
    <button type="button " class="btn btn-dark mt-4">
      <a class="text-white" href="https://www.4shared.com/" target="_blank" title="4shared">
        Nguồn 4shared
      </a>
    </button>

  















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những trang web lưu trữ và chia sẻ
              để sử dụng trong quá trình làm việc
       và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>