<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i>Thực Hành Bootstrap 4 Phần 1</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay mình sẽ đi vào các ví dụ về việc phát triển giao diện cho trang web bằng Bootstrap 4. Nào hãy cũng mình tìm hiểu nhé!</i>
            </p>
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>
          
            <div class="bg-primary p-2 rounded text-white">
              <h3> Phát triển giao diện bằng  Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
             Để  bạn nắm rõ hơn và thực hành những gì mình đã học thì chúng ta sẽ đi vào dự án thiết kế giao diện cho trang web công ty về dịch vụ bằng Bootstrap 4. Đầu tiên thì mình sẽ phát 
             họa ra những phần của trang web giúp bạn có thể hiểu được cái sườn mà ta sẽ làm. Để hiểu rõ hơn bạn xem hình ảnh dưới đây nhé:
            </p>
            <img class="img-thumbnail img-fluid shadow p-3" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586096139/Project%20Bootstrap/Imae-Project_Bootstrap4_cuczqn.svg" alt="Phát thảo Bố Cục Bootstrap 4">
            <p class="mt-4">
              Sau khi đã xác định rõ bố cục thì mình sẽ đi vào tạo những file cần thiết cho việc thiết kế trang web là HTML, CSS, JS và Bootstrap. Để không  mất thời gian của bạn thì mình
              đã tạo một thư mục chứa sắn các file cần thiết và để đường dẫn bên dưới để tải về nhé.
            </p>
            <p>
            <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1586097267/Project%20Bootstrap/D%E1%BB%B1__%C3%81n_Bootstrap_n9jlxe.rar" download="">Đường dẫn tải File Source Code Dự Án Bootstrap 4</a></p>
            <p>
              Mình có lưu ý nhỏ là ở trên mình sử dụng CDN link  liên kết với file Bootstrap 4 để  thiết lập nhanh hơn còn nếu bạn thích tải các file về để sử dụng thì có thể xem thêm ở đây nhé: 
              <a href="http://www.niemvuilaptrinh.com/article/5e7a2b4dfb2be919d808e953" target="_blank">Cách tải Bootstrap 4</a>. Bạn cũng nên để các file Javascript nằm cuối cùng trang HTML 
              để tối ưu hiệu suất trang web và nếu cần  chỉnh sửa CSS thì bạn phải đặt file CSS của mình nằm bên dưới file CSS của Bootstrap nhé.
            </p>
            <p>Bây giờ chúng ta sẽ đi vào cách tạo thanh điều hướng bằng cách sử dụng component navbar trong Bootstrap 4. Để nắm rõ hơn bạn xem đoạn code dưới đây nhé: </p>
            <h4 class="text-primary">
              HTML:
            </h4>
            <pre><code class="html">&#60;header&#62;<br/> &#60;div&nbsp;class="container-fluid"&#62;<br/> &nbsp;&nbsp;&#60;nav&nbsp;class="navbar&nbsp;navbar-expand-md&nbsp;navbar-dark&nbsp;bg-dark"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="navbar-brand"&nbsp;href="#"&#62;Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;button&nbsp;class="navbar-toggler"&nbsp;type="button"&nbsp;data-toggle="collapse"&nbsp;data-target="#collapsibleNavbar"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;span&nbsp;class="navbar-toggler-icon"&#62;&#60;/span&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/button&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="collapse&nbsp;navbar-collapse"&nbsp;id="collapsibleNavbar"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&nbsp;class="navbar-nav&nbsp;ml-auto"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;class="nav-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="nav-link&nbsp;active"&nbsp;href="#"&#62;Về&nbsp;Chúng&nbsp;Tôi&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;class="nav-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="nav-link"&nbsp;href="#"&#62;Tiện&nbsp;Ích&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;class="nav-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="nav-link"&nbsp;href="#"&#62;Giá&nbsp;Dịch&nbsp;Vụ&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;class="nav-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="nav-link"&nbsp;href="#"&#62;Liên&nbsp;Hệ&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&#60;/nav&#62;<br/> &nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/header&#62;<br/></code></pre>
          <p class="mt-4">
            Ở trên mình sử dụng thuộc tính <code>ml-auto</code> trong thẻ div class <code>navbar-nav</code> dùng để đẩy các phần tử trong navbar nằm sang bên phải và sử dụng class 
            <code>navbar-dark bg-dark</code> để xác định màu nền cho component Navbar. Bạn có thể thay đổi màu tùy vào mục đích của mình bằng cách gọi <code>bg-(color)</code> với color là 
            các màu cơ bản trong Bootstrap như là primay, success... Để nắm rõ hơn bạn xem ví dụ sau đây nhé:
          </p>
          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="XWbLVpx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Navabar Example Bootstrap 4">
            <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/XWbLVpx">
            Navabar Example Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
          </p>
          <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          <p class="mt-4">
            Để xem được kết quả bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> nha. Bây giờ chúng ta sẽ đi vào thiết kế phần thứ hai cho trang web và để hiểu rõ hơn bạn xem đoạn code sau nhé:
          </p>
          <h4 class="text-primary">
            HTML:
          </h4>
          <pre><code class="html">&#60;section&nbsp;id="header-gioi-thieu"&#62;<br/> &nbsp;&nbsp;&#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="d-flex&nbsp;justify-content-center&nbsp;align-items-center"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="wrap-headline"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h1&nbsp;class="text-center"&#62;Niềm&nbsp;Vui&nbsp;Lập&nbsp;Trình&#60;/h1&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&nbsp;class="text-center"&#62;Mang&nbsp;đến&nbsp;niềm&nbsp;vui&nbsp;cho&nbsp;các&nbsp;bạn&nbsp;học&nbsp;lập&nbsp;trình.&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;hr&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&nbsp;class="list-inline&nbsp;list-unstyled&nbsp;text-center"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;class="list-inline-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="btn&nbsp;&nbsp;btn-primary&nbsp;btn-lg"&nbsp;href="http://www.niemvuilaptrinh.com"&nbsp;target="_blank"&nbsp;&#62;&#60;i&nbsp;class="fa&nbsp;fa-facebook-official"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&nbsp;Facebook&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&nbsp;class="list-inline-item"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;a&nbsp;class="btn&nbsp;btn-danger&nbsp;btn-lg"&nbsp;href="http://www.niemvuilaptrinh.com"&nbsp;target="_blank"&nbsp;role="button"&#62;&#60;i&nbsp;class="fa&nbsp;fa-google-plus-square"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&nbsp;Google&#60;/a&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&#60;/section&#62;<br/></code></pre>
          <h4 class="text-primary">
            CSS:
          </h4><pre><code class="css">.container-fluid&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;0&nbsp;!important;<br/> }<br/> section#header-gioi-thieu&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-image:&nbsp;url("Hinh_Anh/Hinh_anh_1.jpg");<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-size:&nbsp;cover;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;400px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background-position:&nbsp;center&nbsp;center;<br/> }<br/>section#header-gioi-thieu&nbsp;.wrap-headline&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding-top:&nbsp;5%;<br/> }<br/>section#header-gioi-thieu&nbsp;h1,<br/> section#header-gioi-thieu&nbsp;h2&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;#FFF;<br/> }<br/> section#header-gioi-thieu&nbsp;h2&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;1.5rem;<br/> }<br/></code></pre>
          <p class="mt-4">
            Ở trên đây mình có mộ vài lưu ý là :
            <ul>
              <li>Sử dụng flex và căn vị trí chính giữa cho nội dung bằng cách sử dụng class <code>d-flex</code> , <code>justify-content-center</code>, <code>align-items-center</code>.
              Nếu bạn muốn tìm hiểu thêm về flex trong Bootstrap có thể tham khảo ở đây nhé: <a href="http://www.niemvuilaptrinh.com/article/5e88a2fea3b4e5242c612deb" target="_blank">Flex Bootstrap 4</a>.</li>
              <li>Mình sử dụng Font Awesome 4.7 để tạo các icon cho các nút. Bạn có thể tham khảo ở đây nhé: <a href="https://www.w3schools.com/icons/fontawesome_icons_intro.asp" target="_blank">Cài đặt Font Awesome 4.7</a>.</li>
                <li>Mình tạo một thư mục tên là <b>Hinh_Anh</b> và trong đó đặt một file ảnh tên là <b>Hinh_anh_1.jpg</b>. Sau đó sử dụng thuộc tính <code>background-image</code> để 
                thiết lập ảnh nền cho thẻ div id <code>#header-gioi-thieu</code>. Dưới đây là File hình ảnh nếu  bạn cần nhé:<br/>
                  <a href="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586102426/Project%20Bootstrap/Hinh_anh_1_fwnxr8.jpg" target="_blank" download>Download hình ảnh</a>.
              </li>
              <li>Mình thiết lập thuộc tính <code>padding: 0 !important</code> cho class <code>container-fluid</code> để làm độ rộng của nó bằng với trang web.</li>
            </ul>
          </p>
           <p>Do Code pen không hiển thị được phần này nên bạn xem kết quả thông qua hình dưới đây nhé:</p>
           <img class="img-thumbnail img-fluid shadow p-3" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586105531/Project%20Bootstrap/Bootstrap_Header_Instruction_y7dwcd.png" alt="Bootstrap 4 tạo nội dung section">
            <p class="mt-4">
              Mình cũng sẽ để thư mục ở dưới để bạn có thể tải về và xem lại đoạn code ở phần này:
            </p>
            <p>
              <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1586105699/Project%20Bootstrap/D%E1%BB%B1__%C3%81n_Bootstrap_ouwnfy.rar" download="">Đường dẫn tải File Source Code Dự Án Bootstrap 4 Phần 2</a></p>
              <p>
            
            <p>Tiếp theo mình sẽ đi vào phần thứ ba là tạo hình ảnh sản phẩm và tiêu đê, nội dung cho nó. Để responsive trên nhiều màn hình thiết bị thì chúng ta sẽ sử dụng hệ thống lưới trong 
              Bootstrap 4 để làm phần này. Để hiểu rõ hơn bạn xem đoạn code sau nhé:
            </p>
            <h4 class="text-primary">
              HTML:
            </h4>
            <pre><code class="html">&#60;section&nbsp;id="thong_tin_san_pham"&#62;<br/> &nbsp;&nbsp;&#60;div&nbsp;class="container"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="row"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-sm-12&nbsp;col-md-6"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img &nbsp;src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586106189/Project%20Bootstrap/computer1_mcoeri.jpg" &nbsp;class="img-fluid"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-sm-12&nbsp;col-md-6"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Tiêu&nbsp;Đề&nbsp;Máy&nbsp;Tính&nbsp;1&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet,&nbsp;consectetur&nbsp;adipiscing&nbsp;elit.&nbsp;Donec&nbsp;lobortis&nbsp;iaculis&nbsp;sodales.&nbsp;Etiam&nbsp;ante&nbsp;elit,&nbsp;commodo&nbsp;vitae&nbsp;enim&nbsp;vel,&nbsp;imperdiet&nbsp;aliquet&nbsp;lectus.&nbsp;Curabitur&nbsp;id&nbsp;consequat&nbsp;quam,&nbsp;vitae&nbsp;convallis&nbsp;lacus.&nbsp;Suspendisse&nbsp;potenti.&nbsp;Curabitur&nbsp;rhoncus&nbsp;vestibulum&nbsp;pulvinar.&nbsp;Nullam&nbsp;mauris&nbsp;ex,&nbsp;dapibus&nbsp;sed&nbsp;nisi&nbsp;sed,&nbsp;posuere&nbsp;pulvinar&nbsp;eros.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;hr&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="row"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-sm-12&nbsp;col-md-6"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h3&#62;Tiêu&nbsp;Đề&nbsp;Máy&nbsp;Tính&nbsp;2&#60;/h3&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet,&nbsp;consectetur&nbsp;adipiscing&nbsp;elit.&nbsp;Donec&nbsp;lobortis&nbsp;iaculis&nbsp;sodales.&nbsp;Etiam&nbsp;ante&nbsp;elit,&nbsp;commodo&nbsp;vitae&nbsp;enim&nbsp;vel,&nbsp;imperdiet&nbsp;aliquet&nbsp;lectus.&nbsp;Curabitur&nbsp;id&nbsp;consequat&nbsp;quam,&nbsp;vitae&nbsp;convallis&nbsp;lacus.&nbsp;Suspendisse&nbsp;potenti.&nbsp;Curabitur&nbsp;rhoncus&nbsp;vestibulum&nbsp;pulvinar.&nbsp;Nullam&nbsp;mauris&nbsp;ex,&nbsp;dapibus&nbsp;sed&nbsp;nisi&nbsp;sed,&nbsp;posuere&nbsp;pulvinar&nbsp;eros.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="col-sm-12&nbsp;col-md-6"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1586106307/Project%20Bootstrap/computer2_myhivw.jpg"&nbsp;class="img-fluid"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/section&#62;<br/></code></pre>
            <h4 class="mt-4 text-primary">
              CSS:
            </h4>
            <pre><code class="css">section#thong_tin_san_pham{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin-top:6rem;<br/> }<br/></code></pre>
            <p class="mt-4">
              Bạn xem kết quả bên dưới nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="ZEGdrmb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Thong tin san pham Bootstrap 4">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/ZEGdrmb">
              Thong tin san pham Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4">
              Ở trên mình sử dụng class <code>col-sm-12 col-md-6</code>  nghĩa là khi màn hình điện thoại và nhỏ hơn thì nó sẽ hiển thị độ rộng 12 cột và đối với màn hình
              máy tính bảng và lớn hơn thì độ rộng cộ sẽ là 6. Và chúng ta sử dụng class <code>img-fluid</code> để tự động điều chỉnh hình ảnh theo kích thước của trang. Để bạn có thể tải về và xem lại đoạn code ở phần này
              thì mình có để đường dẫn để tải về ở bên dưới:
            </p>
            <p>
              <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1586107887/Project%20Bootstrap/D%E1%BB%B1__%C3%81n_Bootstrap_t3jggc.rar" download="">Đường dẫn tải File Source Code Dự Án Bootstrap 4 Phần 3</a></p>
              <p>

            
            
            
            
            
            
            
            
            
            
            
            
            
            
           


































































             












            

            
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình mong bài viết sẽ giúp bạn thực hành về một số component trong Bootstrap 4 và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>