<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i>Bootstrap 4 Phần 14</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay mình sẽ giới thiệu về các tiện ích trong Bootstrap 4. Nào hãy cũng mình tìm hiểu nhé!</i>
            </p>
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>
          
            <div class="bg-primary p-2 rounded text-white">
              <h3> Flex Bootstrap 4:</h3>
            </div>
            <p class="mt-4">
              Theo mình tìm hiểu thì  điểm khác biệt lớn nhất giữa Bootstrap 3 và Bootstrap 4 đó là việc Bootstrap 4 sử dụng flexbox thay cho thuộc tính float để xử lý bố cục cho trang web (layout).
              Nó giúp chúng ta dễ dàng và linh hoạt trong việc thiết kế cấu trúc bố cục responsive mà không cần phải sử dụng thuộc tính position hay là float. Nếu bạn muốn tìm hiểu về thuộc tính flex
              thì có thể tham khảo ở đây nha: <a href="https://www.w3schools.com/css/css3_flexbox.asp" alt="Flexbox" target="_blank">Tìm hiểu FlexBox</a>. Bây giờ ta sẽ đi vào tìm hiểu cách tạo một 
              flexbox container và chuyển các thành phần con trong nó thành flex items. Để nắm rõ hơn bạn xem ví dụ dưới đây nhé:
            </p>
            <h4 class="text-primary">
            Flex Bootstrap4:
            </h4>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="WNvBqKo" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="flex-box Bootstrap">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/WNvBqKo">
              flex-box Bootstrap</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Để tạo một inline flexbox container thì ta sẽ sử dụng class <code>d-inline-flex</code>. Để nắm rõ hơn bạn xem ví dụ dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="ExjzBGe" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title=" d-inline-flex">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/ExjzBGe">
               d-inline-flex</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
           <p class="mt-4">
             Bây giờ chúng ta sẽ hiển thị các flex item theo hướng ngang bằng class <code>flex-row</code>. Và nếu bạn muốn các flex item canh phải thì có thể sử dụng class <code>flex-row-reverse</code>.
             Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
           </p>
           <h4 class="text-primary">
            Flex Row Và Flex Row Reverse:
            </h4>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="abOrgeP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Flex Row Và Flex Row Reverse">
              <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/abOrgeP">
              Flex Row Và Flex Row Reverse</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="mt-4">
              Tiếp theo chúng ta sẽ hiển thị các flex item theo hướng dọc bằng cách sử dụng class <code>flex-column</code>. Và nếu bạn muốn đảo ngược hướng của các flex item thì có thể sử dụng class <code>flex-column-reverse</code>.
              Để nắm rõ hơn hãy cùng mình đi vào ví dụ dưới đây nhé:
            </p>
            <h4 class="text-primary">
              Flex Column Và Flex Column Reverse:
              </h4>
              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="bGdyXNq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title=" Flex Column Và Flex Column Reverse">
                <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/bGdyXNq">
                 Flex Column Và Flex Column Reverse</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <p class="mt-4">
                Để thay đổi vị trí của các flex item trong flexbox container thì chúng ta sẽ sử dụng class <code>justify-content-(vị trí)</code> với vị trí  là <code>start(mặc định),
                  end, center, between và around</code>. Để hiểu hơn về class này bạn xem ví dụ sau đây nhé:
              </p>
              <h4 class="text-primary">
                Justify Content trong Flexbox:
                </h4>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="PoqvMNb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Vị trí flex item trong flexbox">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/PoqvMNb">
                  Vị trí flex item trong flexbox</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
              <p class="mt-4">
                Tiếp theo mình sẽ thiết lập độ rộng bằng nhau cho các flex item trong flexbox container bằng class <code>flex-fill</code>. Để hiểu rõ hơn bạn xem ví dụ dưới đây nhé:

              </p>
                <h4 class="text-primary">
               Class Flex Fill:
                </h4>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="PoqrYoQ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Use flex-fill Bootstrap 4">
                  <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/PoqrYoQ">
                  Use flex-fill Bootstrap 4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <p class="mt-4">
                  Thông thường thì mỗi flex item chỉ cần độ dài vừa đủ để hiển thị nội dung nên thường sẽ dư ra một khoảng trống không sử dụng đến. Do đó Bootstrap cung cấp cho chúng ta một class
                  <code>flex-grow-1</code> dùng để thiết lập độ rộng của một flex item sẽ bằng độ rộng của nó cộng với độ rộng dư ra trong flexbox container. Để hiểu rõ hơn bạn xem ví dụ sau đây nhé:
                </p>
                <h4 class="text-primary">
                  Class Flex Grow 1:
                   </h4>
                   <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="MWwMgKN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Class Flex Grow 1">
                    <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/MWwMgKN">
                    Class Flex Grow 1</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <p class="mt-4">
                    Tiếp theo chúng ta sẽ đi vào sử dụng thuộc tính auto margin cho flex item với class <code>mr-auto</code> sẽ đẩy các flex item còn lại sang bên phải và <code>ml-auto</code>
                    sẽ đẩy các item phía trước sang bên trái. Để hiểu rõ hơn bạn xem ví dụ dưới đây nhé:
                  </p>
                  <h4 class="text-primary">
                    Class mr-auto và ml-auto:
                     </h4>
                     <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="xxGoKWq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Class mr-auto và ml-auto">
                      <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/xxGoKWq">
                      Class mr-auto và ml-auto</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                      on <a href="https://codepen.io">CodePen</a>.</span>
                    </p>
                    <p class="mt-4">
                      Bây giờ mình sẽ đi vào căn chỉnh vị trí theo chiều dọc cho các flex item bằng cách sử dụng class <code>.align-items-(vị trí)</code> với vị trí là <code>start, end, center, 
                        baseline và stretch(mặc định)</code>. Để hiểu rõ hơn bạn xem ví dụ dưới đây nhé: 
                    </p>
                    <h4 class="text-primary">
                      Vị trí flex item theo chiều dọc:
                    </h4>
                    <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="eYNwOPz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="vị trí flex-item theo chiều doc">
                      <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/eYNwOPz">
                      vị trí flex-item theo chiều doc</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                      on <a href="https://codepen.io">CodePen</a>.</span>
                    </p>
                    <div class="bg-primary p-2 rounded text-white mt-4">
                      <h3> Shadow Bootstrap 4:</h3>
                    </div>
                    <p class="mt-4">
                      Tiếp theo mình sẽ đi vào cách tạo shadow giúp cho các thẻ div chứa nội dung trông đẹp mắt hơn. Để hiểu rõ hơn bạn xem đoạn code sau đây nhé:
                    </p>
                    <h4 class="text-primary">
                      Class shadow:
                       </h4>
                       <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="haycuoilennao19" data-slug-hash="xxGoxxP" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Shadow Bootstrap4">
                        <span>See the Pen <a href="https://codepen.io/haycuoilennao19/pen/xxGoxxP">
                        Shadow Bootstrap4</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
                     




           
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
           


































































             












            

            
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình mong bài viết sẽ giúp các bạn nắm được thêm các class trong Bootstrap 4 và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>