<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Pricing Table Đẹp Cho Trang Web (Phần 2)</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Ngày hôm nay chúng ta cùng nhau đi vào tìm hiểu những thiết kế pricing table  đẹp cho trang web bằng HTML, CSS và Javascript
                nhé!
              </i>
            </p>
            <p>
              Nếu bạn muốn xem lại phần 1 thì có thể truy cập <a href="https://www.niemvuilaptrinh.com/article/Pricing-Snippet-trong-Bootstrap-4" title="pricing table phần 1">ở đây nhé!</a>
            </p>
            


















            <p class="mt-4">Trước khi đi vào ví dụ thì mình có một số chú ý sau là để xem rõ kết quả hơn bạn chuyển sang
              chế độ screen <b>0.5x, 0.25x</b> hay nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b>
              trong Codepen mới xem được nhé. Nếu file là SCSS thì bạn có thể chuyển sang CSS ở đây nhé : <a
                href="https://jsonformatter.org/scss-to-css" rel="external nofollow noopener noreferrer"
                target="_blank">SCSS to CSS</a>. Nếu file là Pug thì bạn có thể chuyển sang HTML ở đây nhé : <a
                href="https://pughtml.com/" rel="external nofollow noopener noreferrer" target="_blank">Pug to HTML</a>.
              Nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp vào
              chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.</p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 1
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="shaneheyns" data-slug-hash="OPWGry" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Flip Pricing Table">
              <span>See the Pen <a href="https://codepen.io/shaneheyns/pen/OPWGry">
              Responsive Flip Pricing Table</a> by Shane Heyns (<a href="https://codepen.io/shaneheyns">@shaneheyns</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/shaneheyns/pen/OPWGry" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

           
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 2
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="mtorosian" data-slug-hash="KwyrZa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table">
              <span>See the Pen <a href="https://codepen.io/mtorosian/pen/KwyrZa">
              Pricing Table</a> by Mike Torosian (<a href="https://codepen.io/mtorosian">@mtorosian</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/mtorosian/pen/KwyrZa" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 3
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="catcode" data-slug-hash="AdoGL" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Price">
              <span>See the Pen <a href="https://codepen.io/catcode/pen/AdoGL">
              Price</a> by catcod (<a href="https://codepen.io/catcode">@catcode</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/catcode/pen/AdoGL" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 4
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="ig_design" data-slug-hash="VwedgWj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing - pure css - #16">
              <span>See the Pen <a href="https://codepen.io/ig_design/pen/VwedgWj">
              Pricing - pure css - #16</a> by Ivan Grozdic (<a href="https://codepen.io/ig_design">@ig_design</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/ig_design/pen/VwedgWj" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 5
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Creaticode" data-slug-hash="pHEyJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table | Tabla de Precios">
              <span>See the Pen <a href="https://codepen.io/Creaticode/pen/pHEyJ">
              Pricing Table | Tabla de Precios</a> by Agustin Ortiz (<a href="https://codepen.io/Creaticode">@Creaticode</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/Creaticode/pen/pHEyJ" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 6
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="VoloshchenkoAl" data-slug-hash="NABNoN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Adaptive Pricing Table">
              <span>See the Pen <a href="https://codepen.io/VoloshchenkoAl/pen/NABNoN">
              Adaptive Pricing Table</a> by Alex (<a href="https://codepen.io/VoloshchenkoAl">@VoloshchenkoAl</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/VoloshchenkoAl/pen/NABNoN" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 7
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="DigimadMedia" data-slug-hash="qZdMzd" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="RESPONSIVE PRICING TABLE DESIGN ">
              <span>See the Pen <a href="https://codepen.io/DigimadMedia/pen/qZdMzd">
              RESPONSIVE PRICING TABLE DESIGN </a> by Digimad Media (<a href="https://codepen.io/DigimadMedia">@DigimadMedia</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/DigimadMedia/pen/qZdMzd" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 8
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="uiswarup" data-slug-hash="xxZrLGp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table Design">
              <span>See the Pen <a href="https://codepen.io/uiswarup/pen/xxZrLGp">
              Pricing Table Design</a> by Swarup Kumar Kuila (<a href="https://codepen.io/uiswarup">@uiswarup</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/uiswarup/pen/xxZrLGp" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 9
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="kresogalic" data-slug-hash="dGzvRV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Material pricing tables">
              <span>See the Pen <a href="https://codepen.io/kresogalic/pen/dGzvRV">
              Material pricing tables</a> by Kreso Galic (<a href="https://codepen.io/kresogalic">@kresogalic</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/kresogalic/pen/dGzvRV" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 10
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="eggnator" data-slug-hash="GYeWzN" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table">
              <span>See the Pen <a href="https://codepen.io/eggnator/pen/GYeWzN">
              Pricing Table</a> by Paulo Ribeiro (<a href="https://codepen.io/eggnator">@eggnator</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/eggnator/pen/GYeWzN" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 11
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="hmache" data-slug-hash="vGRBEr" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Tables">
              <span>See the Pen <a href="https://codepen.io/hmache/pen/vGRBEr">
              Pricing Tables</a> by hmache (<a href="https://codepen.io/hmache">@hmache</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/hmache/pen/vGRBEr" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 12
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="JoanezAndrades" data-slug-hash="GqZVdj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table">
              <span>See the Pen <a href="https://codepen.io/JoanezAndrades/pen/GqZVdj">
              Pricing Table</a> by Joanez Andrades (<a href="https://codepen.io/JoanezAndrades">@JoanezAndrades</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/JoanezAndrades/pen/GqZVdj" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 13
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="FlorinPop17" data-slug-hash="RwwKXpB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Design - #036 of #100Days100Projects">
              <span>See the Pen <a href="https://codepen.io/FlorinPop17/pen/RwwKXpB">
              Pricing Design - #036 of #100Days100Projects</a> by Florin Pop (<a href="https://codepen.io/FlorinPop17">@FlorinPop17</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/FlorinPop17/pen/RwwKXpB" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 14
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="littlesnippets" data-slug-hash="BjNPoJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1265 - Pricing table">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/BjNPoJ">
              #1265 - Pricing table</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/BjNPoJ" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 15
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Madalena-Design" data-slug-hash="KKdmyGb" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Holiday Feature Folding Cards [Pure CSS]">
              <span>See the Pen <a href="https://codepen.io/Madalena-Design/pen/KKdmyGb">
              Holiday Feature Folding Cards [Pure CSS]</a> by Madalena Aza (<a href="https://codepen.io/Madalena-Design">@Madalena-Design</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
      
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/Madalena-Design/pen/KKdmyGb" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 16
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="bigglesrocks" data-slug-hash="EKBxQb" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Clip Mask Pricing Table">
              <span>See the Pen <a href="https://codepen.io/bigglesrocks/pen/EKBxQb">
              Clip Mask Pricing Table</a> by Jessica Biggs (<a href="https://codepen.io/bigglesrocks">@bigglesrocks</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/bigglesrocks/pen/EKBxQb" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 17
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="SoufianeAbid" data-slug-hash="zqoLab" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive pricing table CSS3">
              <span>See the Pen <a href="https://codepen.io/SoufianeAbid/pen/zqoLab">
              Responsive pricing table CSS3</a> by Soufiane Abid (<a href="https://codepen.io/SoufianeAbid">@SoufianeAbid</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/SoufianeAbid/pen/zqoLab" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 18
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="blackellis" data-slug-hash="QWjmEbz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing table with toggle button">
              <span>See the Pen <a href="https://codepen.io/blackellis/pen/QWjmEbz">
              Pricing table with toggle button</a> by Alina N. (<a href="https://codepen.io/blackellis">@blackellis</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/blackellis/pen/QWjmEbz" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 19
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="dylanmcleod" data-slug-hash="KVKwRy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Tables">
              <span>See the Pen <a href="https://codepen.io/dylanmcleod/pen/KVKwRy">
              Pricing Tables</a> by Dylan Mcleod (<a href="https://codepen.io/dylanmcleod">@dylanmcleod</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/dylanmcleod/pen/KVKwRy" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 20
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="kathykato" data-slug-hash="wdjyGV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table">
              <span>See the Pen <a href="https://codepen.io/kathykato/pen/wdjyGV">
              Pricing Table</a> by Katherine Kato (<a href="https://codepen.io/kathykato">@kathykato</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/kathykato/pen/wdjyGV" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 21
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="web-dev123" data-slug-hash="ayVXbq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Service Pricing Selection">
              <span>See the Pen <a href="https://codepen.io/web-dev123/pen/ayVXbq">
              Service Pricing Selection</a> by Daniel Boothman (<a href="https://codepen.io/web-dev123">@web-dev123</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/web-dev123/pen/ayVXbq" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 22
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="littlesnippets" data-slug-hash="BjyNLZ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1255 - Dark themed pricing table">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/BjyNLZ">
              #1255 - Dark themed pricing table</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/BjyNLZ" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 23
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="j-w-v" data-slug-hash="DIcJx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Tables">
              <span>See the Pen <a href="https://codepen.io/j-w-v/pen/DIcJx">
              Pricing Tables</a> by Joseph Victory (<a href="https://codepen.io/j-w-v">@j-w-v</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/j-w-v/pen/DIcJx" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 24
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="ericthayer" data-slug-hash="jbvyLM" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Tables">
              <span>See the Pen <a href="https://codepen.io/ericthayer/pen/jbvyLM">
              Pricing Tables</a> by Eric Thayer (<a href="https://codepen.io/ericthayer">@ericthayer</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/ericthayer/pen/jbvyLM" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 25
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="scottnix" data-slug-hash="ysEID" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Pricing Table">
              <span>See the Pen <a href="https://codepen.io/scottnix/pen/ysEID">
              Responsive Pricing Table</a> by Scott Nix (<a href="https://codepen.io/scottnix">@scottnix</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/scottnix/pen/ysEID" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 26
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="bowie" data-slug-hash="jhLfD" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Simple Pricing Table">
              <span>See the Pen <a href="https://codepen.io/bowie/pen/jhLfD">
              Simple Pricing Table</a> by John Bowie (<a href="https://codepen.io/bowie">@bowie</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/bowie/pen/jhLfD" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 27
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="chouaibblgn45" data-slug-hash="aNEPEp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="pricing table ">
              <span>See the Pen <a href="https://codepen.io/chouaibblgn45/pen/aNEPEp">
              pricing table </a> by Chouaib Belagoun (<a href="https://codepen.io/chouaibblgn45">@chouaibblgn45</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/chouaibblgn45/pen/aNEPEp" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 28
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="berdejitendra" data-slug-hash="Ijkmh" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Simple Flat Pricing Detail">
              <span>See the Pen <a href="https://codepen.io/berdejitendra/pen/Ijkmh">
              Simple Flat Pricing Detail</a> by Jitendra (<a href="https://codepen.io/berdejitendra">@berdejitendra</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/berdejitendra/pen/Ijkmh" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 29
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="Marcus-C" data-slug-hash="xbaMGr" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Pricing Table">
              <span>See the Pen <a href="https://codepen.io/Marcus-C/pen/xbaMGr">
              Pricing Table</a> by Marcus Calkins (<a href="https://codepen.io/Marcus-C">@Marcus-C</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/Marcus-C/pen/xbaMGr" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Ví Dụ 30
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="result" data-user="littlesnippets" data-slug-hash="NrdYBE" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="#1517 - Pricing Table">
              <span>See the Pen <a href="https://codepen.io/littlesnippets/pen/NrdYBE">
              #1517 - Pricing Table</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
    
            <button type="button " class="btn btn-outline-dark btn-md mt-4"> <a
                href="https://codepen.io/littlesnippets/pen/NrdYBE" target="_blank" rel="noopener noreferrer"> Nguồn </a>
            </button>






            

            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>



            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những pricing table
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>