<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">


      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i>
                      Ngày hôm nay chúng ta sẽ cùng nhau đi vào tìm hiểu những thói quen tốt  giúp bạn có thể nâng cao kỹ năng viết mã 
                      cũng như đạt được những mục tiêu mình mong muốn trong sự nghiệp lập trình  của mình nhé!
                    </i></b>
                </p>
                <hr>
              </div>
            </div>
          </div>
         
          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Không Nên Học Tất Cả Mọi Thứ
          </h2>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Learn to Code HTML & CSS</h3>
          </div>


          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603939807/sach_khoa_hoc_lap_trinh_mien_phi/Learn_to_Code_HTML_CSS_uvogzh.png"
            alt="Learn to Code HTML & CSS">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://learn.shayhowe.com/html-css/"
              title="Learn to Code HTML & CSS" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> HTML5 Notes for Professionals book</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603939967/sach_khoa_hoc_lap_trinh_mien_phi/HTML5_Notes_for_Professionals_book_suw4ts.png"
            alt="HTML5 Notes for Professionals book">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://goalkicker.com/HTML5Book/"
              title="HTML5 Notes for Professionals book" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Htmldog</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603940154/sach_khoa_hoc_lap_trinh_mien_phi/Htmldog_gxmxa5.png"
            alt="Htmldog">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.htmldog.com/" title="Htmldog"
              target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">CSS Animation</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603940486/sach_khoa_hoc_lap_trinh_mien_phi/CSS_Animation_ofxj0s.png"
            alt="CSS Animation">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://cssanimation.rocks/"
              title="CSS Animation" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Web Visual Effects with CSS3</h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603940714/sach_khoa_hoc_lap_trinh_mien_phi/Web_Visual_Effects_with_CSS3_qrkd11.png"
            alt="Web Visual Effects with CSS3">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://leanpub.com/web-visual-effects-with-css3/read" title="Web Visual Effects with CSS3"
              target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              The Magic Of CSS
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603940827/sach_khoa_hoc_lap_trinh_mien_phi/The_Magic_Of_CSS_edfaue.png"
            alt=" The Magic Of CSS">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://adamschwartz.co/magic-of-css/chapters/1-the-box/" title=" The Magic Of CSS"
              target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              HTML & CSS Is Hard
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603942316/sach_khoa_hoc_lap_trinh_mien_phi/HTML_CSS_Is_Hard_odigp0.png"
            alt="HTML & CSS Is Hard">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.internetingishard.com/html-and-css/" title="HTML & CSS Is Hard"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              DIVE INTO HTML5
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603942551/sach_khoa_hoc_lap_trinh_mien_phi/DIVE_INTO_HTML5_v9khky.png"
            alt="DIVE INTO HTML5">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="http://diveintohtml5.info/index.html"
              title="DIVE INTO HTML5" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Dash
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603942782/sach_khoa_hoc_lap_trinh_mien_phi/Dash_wytutg.png"
            alt="Dash ">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://dash.generalassemb.ly/"
              title="Dash" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              MaintainableCSS
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603943123/sach_khoa_hoc_lap_trinh_mien_phi/MaintainableCSS_jyuqzr.png"
            alt="MaintainableCSS ">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://maintainablecss.com/"
              title="MaintainableCSS" target="_blank">Nguồn</a>
          </p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              MarkSheet
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603943200/sach_khoa_hoc_lap_trinh_mien_phi/MarkSheet_qr1w7j.png"
            alt="MarkSheet ">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://marksheet.io/" title="MarkSheet"
              target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Enduring CSS
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603943330/sach_khoa_hoc_lap_trinh_mien_phi/Enduring_CSS_sndner.png"
            alt="Enduring CSS ">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://ecss.benfrain.com/"
              title="Enduring CSS" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              HTML Canvas Deep Dive
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603943494/sach_khoa_hoc_lap_trinh_mien_phi/HTML_Canvas_Deep_Dive_knkrwc.png"
            alt="HTML Canvas Deep Dive ">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://joshondesign.com/p/books/canvasdeepdive/toc.html" title="HTML Canvas Deep Dive"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Code Guide
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603943838/sach_khoa_hoc_lap_trinh_mien_phi/Code_Guide_wnz8je.png"
            alt="Code Guide">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://codeguide.co/#html-doctype"
              title="Code Guide" target="_blank">Nguồn</a></p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              A Guide to HTML5 and CSS3
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603943969/sach_khoa_hoc_lap_trinh_mien_phi/Free_eBook_A_Guide_to_HTML5_and_CSS3_nqo8ew.png"
            alt="A Guide to HTML5 and CSS3">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://html5hive.org/free-ebook-a-guide-to-html5-and-css3/" title="A Guide to HTML5 and CSS3"
              target="_blank">Nguồn</a></p>




          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">
              Understanding Flexbox
            </h3>
          </div>

          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603945159/sach_khoa_hoc_lap_trinh_mien_phi/Understanding_Flexbox_ramuxe.png"
            alt="Understanding Flexbox">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://ohansemmanuel.github.io/uf_download.html" title="Understanding Flexbox"
              target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Các Ebook Miễn Phí Javascript
          </h2>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Eloquent JavaScript
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603945444/sach_khoa_hoc_lap_trinh_mien_phi/Eloquent_JavaScript_qeybab.png"
            alt="Eloquent JavaScript">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://eloquentjavascript.net/"
              title="Eloquent JavaScript" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> JavaScript (ES2015+) Enlightenment
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603945781/sach_khoa_hoc_lap_trinh_mien_phi/JavaScript_ES2015_Enlightenment_nnkynk.png"
            alt="JavaScript (ES2015+) Enlightenment">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://frontendmasters.com/books/javascript-enlightenment/"
              title="JavaScript (ES2015+) Enlightenment" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> JavaScript® Notes for Professionals book
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603945888/sach_khoa_hoc_lap_trinh_mien_phi/JavaScript_Notes_for_Professionals_book_fleug3.png"
            alt="JavaScript® Notes for Professionals book">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://goalkicker.com/JavaScriptBook/"
              title="JavaScript® Notes for Professionals book" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> JavaScript Garden
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603946122/sach_khoa_hoc_lap_trinh_mien_phi/JavaScript_Garden_quiizg.png"
            alt="JavaScript Garden">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://bonsaiden.github.io/JavaScript-Garden/" title="JavaScript Garden" target="_blank">Nguồn</a>
          </p>



          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> JavaScript Info
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603946205/sach_khoa_hoc_lap_trinh_mien_phi/JavaScript_Info_b8aoru.png"
            alt=" JavaScript Info">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://javascript.info/"
              title=" JavaScript Info" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> The Odin Project
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603946661/sach_khoa_hoc_lap_trinh_mien_phi/The_Odin_Project_cxurf7.png"
            alt="The Odin Project">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.theodinproject.com/courses/javascript" title="The Odin Project"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> JS Books
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603949429/sach_khoa_hoc_lap_trinh_mien_phi/JS_Books_rwr6e5.png"
            alt="JS Books">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://jsbooks.revolunet.com/"
              title="JS Books" target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Robust Client-Side JavaScript
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603949528/sach_khoa_hoc_lap_trinh_mien_phi/Robust_Client-Side_JavaScript_frqa0s.png"
            alt="Robust Client-Side JavaScript">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://molily.de/robust-javascript/"
              title="Robust Client-Side JavaScript" target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Front-End Web Apps with Plain JavaScript
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603949680/sach_khoa_hoc_lap_trinh_mien_phi/Front-End_Web_Apps_with_Plain_JavaScript_y82frk.png"
            alt="Front-End Web Apps with Plain JavaScript">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://web-engineering.info/JsFrontendApp-Book" title="Front-End Web Apps with Plain JavaScript"
              target="_blank">Nguồn</a></p>


          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Human JavaScript
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603949959/sach_khoa_hoc_lap_trinh_mien_phi/Human_JavaScript_ggejin.png"
            alt="Human JavaScript">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="http://read.humanjavascript.com/ch02-the-big-decision.html" title="Human JavaScript"
              target="_blank">Nguồn</a></p>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Learn JS
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603950381/sach_khoa_hoc_lap_trinh_mien_phi/Learn_JS_jfn4ia.png"
            alt="Learn JS">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article" href="https://www.learn-js.org/"
              title="Learn JS" target="_blank">Nguồn</a></p>

          <h2 class="bg-primary mb-4 mt-4 text-white rounded p-2 shadow title-article-size">
            Các Khóa Học HTML, CSS, Javascript Miễn Phí
          </h2>

          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size">Foundations of Front-End Web Development
            </h3>
          </div>
          <img class="img-thumbnail img-fluid shadow p-2 lazyload"
            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603951332/sach_khoa_hoc_lap_trinh_mien_phi/Foundations_of_Front-End_Web_Development_qwuyxq.png"
            alt="Foundations of Front-End Web Development">
          <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
              href="https://www.udemy.com/course/foundations-of-front-end-development/"
              target="_blank" title="Foundations of Front-End Web Development">Nguồn</a></p>

              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">Web Development By Doing: HTML / CSS From Scratch
                </h3>
              </div>
              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603951472/sach_khoa_hoc_lap_trinh_mien_phi/Web_Development_By_Doing_HTML_CSS_From_Scratch_ulrmeg.png"
                alt="Web Development By Doing: HTML / CSS From Scratch">
              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                  href="https://www.udemy.com/course/web-development-learn-by-doing-html5-css3-from-scratch-introductory/"
                  target="_blank"  title="Web Development By Doing: HTML / CSS From Scratch">Nguồn</a></p>

                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                    <h3 class="text-primary ml-4 title-article-size">Master the Basics of HTML5 & CSS3: Beginner Web Development
                    </h3>
                  </div>
                  <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603951822/sach_khoa_hoc_lap_trinh_mien_phi/Master_the_Basics_of_HTML5_CSS3_Beginner_Web_Development_ndlpf8.png"
                    alt="Master the Basics of HTML5 & CSS3: Beginner Web Development">
                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                      href="https://www.udemy.com/course/master-the-basics-of-html5-css3-beginner-web-development/"
                      target="_blank"  title="Master the Basics of HTML5 & CSS3: Beginner Web Development">Nguồn</a></p>


                      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                        <h3 class="text-primary ml-4 title-article-size">Learn HTML5 and CSS3 From Scratch 
                        </h3>
                      </div>
                      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603951968/sach_khoa_hoc_lap_trinh_mien_phi/Learn_HTML5_and_CSS3_From_Scratch_mujw6w.png"
                        alt="Learn HTML5 and CSS3 From Scratch ">
                      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                          href="https://www.youtube.com/watch?v=mU6anWqZJcc&ab_channel=freeCodeCamp.org"
                          target="_blank"  title="Learn HTML5 and CSS3 From Scratch ">Nguồn</a></p>
    


                   

                              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                                <h3 class="text-primary ml-4 title-article-size">Learn JavaScript (Code Cademy)
                                </h3>
                              </div>
                              <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603953161/sach_khoa_hoc_lap_trinh_mien_phi/Learn_JavaScript_Code_Cademy_hz9wst.png"
                                alt="Learn JavaScript (Code Cademy)">
                              <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                                  href="https://www.codecademy.com/learn/introduction-to-javascript"
                                  target="_blank" title="Learn JavaScript (Code Cademy)">Nguồn</a></p>


                                  <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                                    <h3 class="text-primary ml-4 title-article-size">Computer programming (Khan Academy)
                                    </h3>
                                  </div>
                                  <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                                    data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603953260/sach_khoa_hoc_lap_trinh_mien_phi/Computer_programming_Khan_Academy_fwqket.png"
                                    alt="Computer programming (Khan Academy)">
                                  <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                                      href="https://www.khanacademy.org/computing/computer-programming"
                                      target="_blank"  title="Computer programming (Khan Academy)">Nguồn</a></p>



                                      <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                                        <h3 class="text-primary ml-4 title-article-size">Javascript Essentials
                                        </h3>
                                      </div>
                                      <img class="img-thumbnail img-fluid shadow p-2 lazyload"
                                        data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1603953365/sach_khoa_hoc_lap_trinh_mien_phi/Javascript_Essentials_irfjyy.png"
                                        alt="Javascript Essentials">
                                      <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                                          href="https://www.udemy.com/course/javascript-essentials/"
                                          target="_blank"  title="Javascript Essentials">Nguồn</a></p>

                                        <p>
                                          <mark>
                                            Nếu bạn muốn tìm hiểu thêm những kênh Youtube miễn phí dành cho lập trình web thì có thể xem ở đường dẫn bên dưới nhé:<br/>
                                          </mark>
                                          <a href="https://www.niemvuilaptrinh.com/article/24-Kenh-Youtube-Ban-Nen-Theo-Doi-Neu-La-Mot-Lap-Trinh-Vien2020" title="24 Kênh Youtube Bạn Nên Theo Dõi Nếu Là Một Lập Trình Viên(2020)">24 Kênh Youtube Bạn Nên Theo Dõi Nếu Là Một Lập Trình Viên(2020)</a>
                                        </p>

                                        <p>
                                          <mark>
                                            Nếu bạn muốn tìm hiểu thêm những trang web  nâng cao kỹ năng lập trình web thì có thể xem ở đường dẫn bên dưới nhé:<br/>
                                          </mark>
                                          <a href="https://www.niemvuilaptrinh.com/article/Nhung-Trang-Web-Giup-Ban-Tang-Kha-Nang-Code-2020" title="Những Trang Web Giúp Bạn Tăng Khả Năng Code 2020">Những Trang Web Giúp Bạn Tăng Khả Năng Code 2020</a>
                                        </p>

                                        <p>
                                          <mark>
                                            Nếu bạn muốn tìm hiểu thêm những trang web  blog hay và miễn phí lập trình web thì có thể xem ở đường dẫn bên dưới nhé:<br/>
                                          </mark>
                                          <a href="https://www.niemvuilaptrinh.com/article/nhung-trang-blog-danh-cho-lap-trinh-vien-front-end-2020" title="Những Trang Blog Dành Cho Lập Trình Viên Front-End (2020)">Những Trang Blog Dành Cho Lập Trình Viên Front-End (2020)</a>
                                        </p>







          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng
              kết: </b></h4>
          <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những nơi học lập trình HTML, CSS, Javascript
            hữu ích
            dành cho việc phát triển, thiết kế web và nếu có thắc mắc gì cứ gửi email
            mình sẽ
            phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có
            thể viết nhiều bài hay hơn nữa
            nhé. Chúc bạn có một ngày vui vẻ!</p>
      </div>
      </article>
    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>