<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube" aria-hidden="true"></i>Modal
            Snippet trong Bootstrap</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Hôm nay chúng ta sẽ đi tìm hiểu cách thiết kế component modal bằng cách kết hợp HTML, CSS, Javascript
                và Bootstrap nhé.</i>
            </p>
            <!--<div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Framework Bootstrap 4</h4></div>-->

            <p class="mt-4">
              Modal cơ bản là một hộp thoại hay cửa sổ bật lên được dùng để cung cấp thông tin quan trọng hay nhắc nhở
              người dùng thực hiện các hoạt động cần thiết trước khi tiếp tục. Ví dụ bạn tạo nút thanh toán sản phẩm để
              người dùng mua hàng thì thay vì phải chuyển sang trang khác để nhập thông tin thanh toán của người dùng
              thì ở ngay trang mua hàng chúng ta sẽ sử dụng modal để chứa Form thanh toán để người dùng nhập vào.
              Bạn có thể tìm hiểu thêm ở đây nhé: <a href="https://www.niemvuilaptrinh.com/article/Bootstrap-4-Phan-12"
                target="_blank" title="Hướng Dẫn Modal">Modal</a>.
              Việc chúng ta sử dụng component này giúp hạn chế việc tải trang gây khó chịu cho người dùng và tiết kiếm
              không gian cho trang web của bạn.

            </p>




            <p>Để hiểu rõ hơn bạn xem ví dụ về footer trong trang web dưới đây nhé:</p>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587219453/Modal%20snippet/V%C3%AD-d%E1%BB%A5-v%E1%BB%81-modal-html-css-bootstrap_dvhzka.png"
              alt="Ví dụ về modal trong trang web">

            <p class="mt-4">
              Sau đây mình sẽ liệt kê danh sách các thành phần hay được tích hợp vào modal ở trong trang web hiện nay
              nhé:
            </p>
            <ul>
              <li>
                Hình ảnh, Video: Nó cho phép sử dụng hình ảnh, video thu nhỏ thay vì toàn phần giúp chúng ta tiết kiệm
                không gian trang, bố cục có tổ chức hơn và giảm thời gian
                tải trang web của bạn.
              </li>
              <li>
                Form: Nó giúp người dùng xử lý nhập thông tin ngay trên trang mà không cần phải điều hướng gây ra sự khó
                chịu cho người dùng. Các form hay được sử dụng là
                contact form, đăng nhập, đăng ký, thanh toán...
              </li>
              <li>
                Thông báo, chú ý (alert): Dùng để thông báo về một hành động quan trọng cần sự lựa chọn các phương thức
                xử lý của người dùng. Ví dụ chúng ta có một danh sách sản phẩm trong database
                và người dùng muốn xóa đi một sản phẩm nào đó thì bạn nên hiển thị modal để chắc chắn người dùng đã chọn
                đúng sản phẩm và có thể đồng ý xóa hoặc hủy.
              </li>
              <li>
                Tip: Cung cấp các mẹo hay thông tin thêm để sử dụng các chức năng trong trang web được tốt nhất có thể.
              </li>
            </ul>
            <p class="mt-4">

              Bây giờ mình sẽ giới thiệu tiếp một số Modal được thiết kế sẵn bằng HTML, CSS, Bootstrap
              và
              Javascript giúp bạn có thể đa dạng lựa chọn phù hợp với bố cục cũng như thiết kế của trang web.
            </p>

            <!--New-->
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">Pure Css Popup:</h4>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587221908/Modal%20snippet/Modal-snippet-html-css-phan-1_ri01vd.png"
              alt="Modal xây dựng bằng HTML, CSS  Phần 1">
            <p class="mt-4">
              Modal này được xây dựng thiết kế đơn giản với hai phần riêng biệt là hình ảnh và nội dung. Bạn có thể thay
              đổi nội dung tùy vào mục đích sử dụng của mình.
              Và do được xây dựng bằng HTML, CSS nên chúng ta có thể áp dụng nó cho nhiều loại trang web khác nhau.
              Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="erdemuslu" data-slug-hash="JpPLZJ"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Pure Css Popup">
              <span>See the Pen <a href="https://codepen.io/erdemuslu/pen/JpPLZJ">
                  Pure Css Popup</a> by Erdem Uslu (<a href="https://codepen.io/erdemuslu">@erdemuslu</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/erdemuslu/pen/JpPLZJ" target="_blank">Pure Css
                Popup</a>.
            </p>


            <!--New-->
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">No JS Modal Popup Window:</h4>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587222486/Modal%20snippet/Modal-snippet-html-css-phan-2_e4xpuh.png"
              alt="Modal xây dựng bằng HTML, CSS  Phần 2">
            <p class="mt-4">
              Modal này giúp chúng ta làm nổi bật nội dung của mình. Với việc mở rộng toàn màn hình và thiết lập nền màu đen cho modal 
              giúp người dùng chỉ tập trung vào nội dung chính mà chúng ta muốn truyền đạt. Hiệu ứng chuyển động mượt mà khi nhấn vào button để hiện modal cũng là một điểm cộng
              cho component này.
              Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="davidicus" data-slug-hash="ZYjoVO" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="No JS modal popup window">
              <span>See the Pen <a href="https://codepen.io/davidicus/pen/ZYjoVO">
              No JS modal popup window</a> by David Conner (<a href="https://codepen.io/davidicus">@davidicus</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
          
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/davidicus/pen/ZYjoVO" target="_blank">No JS Modal Popup Window</a>.
            </p>

            
            <!--New-->
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size">Popup / Overlay:</h4>
            </div>
            <img class="img-thumbnail shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587223504/Modal%20snippet/Modal-snippet-html-css-js-phan-3_pbrhny.png"
              alt="Modal xây dựng bằng HTML, CSS, JS  Phần 3">
            <p class="mt-4">
             Sau đây là ví dụ về việc kết hợp hình ảnh với Modal. Khi người người nhấn vào hình thì modal sẽ mở rộng toàn bộ trang và chỉ chứa hình được chọn ở vị trí chính giữa giúp thu hút 
             sự tập trung của người dùng hơn. Ngoài ra thành phần modal còn có tiêu đề và nội dung hình ảnh giúp cung cấp thêm thông tin cho người sử dụng.
              Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
            </p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="supah" data-slug-hash="ZWGJeR" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="DailyUI #016 - Popup / Overlay">
              <span>See the Pen <a href="https://codepen.io/supah/pen/ZWGJeR">
              DailyUI #016 - Popup / Overlay</a> by Fabio Ottaviani (<a href="https://codepen.io/supah">@supah</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

          
            <p class="mt-4">
              Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
              nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
              Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
              Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
              vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
              Còn đây là nguồn mình sao chép: <a href="https://codepen.io/supah/pen/ZWGJeR" target="_blank">Popup / Overlay</a>.
            </p>


                 <!--New-->
                 <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                  <h4 class="text-primary ml-4 title-article-size">Responsive Login/Signup Modal Window:</h4>
                </div>
                <img class="img-thumbnail shadow p-2 lazyload"
                  data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587224026/Modal%20snippet/Modal-snippet-html-css-js-phan-4_ya5cdm.png"
                  alt="Modal xây dựng bằng HTML, CSS, JS  Phần 4">
                <p class="mt-4">
                 Modal này sẽ hiển thị form  đăng nhập, đăng ký bằng cách nhấn vào nút tương ứng trên trang. Nó giúp người dùng không cần phải chuyển sang trang khác để thực hiện hành động và 
                trong component modal có thể chuyển đổi qua lại giữa đăng nhập, đăng ký.
                  Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                </p>
                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="codyhouse" data-slug-hash="pIrbg" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Login/Signup Modal Window">
                  <span>See the Pen <a href="https://codepen.io/codyhouse/pen/pIrbg">
                  Responsive Login/Signup Modal Window</a> by CodyHouse (<a href="https://codepen.io/codyhouse">@codyhouse</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
    
              
                <p class="mt-4">
                  Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                  nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                  Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                    href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                  Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                  vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                  Còn đây là nguồn mình sao chép: <a href="https://codepen.io/codyhouse/pen/pIrbg" target="_blank">Responsive Login/Signup Modal Window</a>.
                </p>

                     <!--New-->
                     <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                      <h4 class="text-primary ml-4 title-article-size">YouTube Video Modal:</h4>
                    </div>
                    <img class="img-thumbnail shadow p-2 lazyload"
                      data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587225302/Modal%20snippet/Modal-snippet-html-css-js-phan-5_slp9tk.png"
                      alt="Modal xây dựng bằng HTML, CSS, JS  Phần 5">
                    <p class="mt-4">
                     Đây là ví dụ giúp chúng ta kết hợp modal với video. Nó sử dụng hình ảnh chứa liên kết để  đại diện cho video và khi người dùng nhấn vào thì  sẽ gọi ra modal chứa video với màn hình 
                     xung quanh bị làm mờ giúp  thu hút chú ý và tập trung của người dùng vào modal hơn.
                     
                      Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                    </p>
                    <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="mattamyot" data-slug-hash="dMGwyK" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="YouTube Video Modal">
                      <span>See the Pen <a href="https://codepen.io/mattamyot/pen/dMGwyK">
                      YouTube Video Modal</a> by Matt Amyot (<a href="https://codepen.io/mattamyot">@mattamyot</a>)
                      on <a href="https://codepen.io">CodePen</a>.</span>
                    </p>
                
        
                  
                    <p class="mt-4">
                      Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                      nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                      Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                      vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                      Còn đây là nguồn mình sao chép: <a href="https://codepen.io/mattamyot/pen/dMGwyK" target="_blank">YouTube Video Modal</a>.
                    </p>

                         <!--New-->
                         <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                          <h4 class="text-primary ml-4 title-article-size">Bootstrap Modal Animation Effects:</h4>
                        </div>
                        <img class="img-thumbnail shadow p-2 lazyload"
                          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587226167/Modal%20snippet/Modal-snippet-html-css-js-phan-6_q4kgfc.png"
                          alt="Modal xây dựng bằng HTML, CSS, JS  Phần 6">
                        <p class="mt-4">
                          Ngoài cách sử dụng các thành phần trong modal thì dưới đây mình sẽ giới thiệu thêm các hiệu ứng chuyển động giúp bạn có lựa chọn đa dạng và phong phú hơn. Ngoài ra cũng tăng 
                          cảm giác trải nghiệm khi người dùng sử dụng trang web của chúng ta.
                         
                          Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                        </p>
                        <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="wisnust10" data-slug-hash="qZaPBY" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="30+ Bootstrap Modal Animation Effects">
                          <span>See the Pen <a href="https://codepen.io/wisnust10/pen/qZaPBY">
                          30+ Bootstrap Modal Animation Effects</a> by Wisnu ST (<a href="https://codepen.io/wisnust10">@wisnust10</a>)
                          on <a href="https://codepen.io">CodePen</a>.</span>
                        </p>

                    
            
                      
                        <p class="mt-4">
                          Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                          nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                          Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                          vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                          Còn đây là nguồn mình sao chép: <a href="https://codepen.io/wisnust10/pen/qZaPBY" target="_blank">Bootstrap Modal Animation Effects</a>.
                        </p>


                        <!--New-->
                        <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                          <h4 class="text-primary ml-4 title-article-size">Responsive Flexbox Based Modal:</h4>
                        </div>
                        <img class="img-thumbnail shadow p-2 lazyload"
                          data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587228118/Modal%20snippet/Modal-snippet-html-css-js-phan-7_b9wk9o.png"
                          alt="Modal xây dựng bằng HTML, CSS, JS  Phần 7">
                        <p class="mt-4">
                          Đây là tập hợp các modal được thiết kế sẵn và được xây dựng bằng HTML, CSS và Javascript nên bạn có thể tự do lựa chọn và áp dụng vào trong web của mình.
                          
                          Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                        </p>
                        <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="bchalker" data-slug-hash="pyvBmq" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Simple, flexible, and responsive flexbox-based modal">
                          <span>See the Pen <a href="https://codepen.io/bchalker/pen/pyvBmq">
                          Simple, flexible, and responsive flexbox-based modal</a> by Bryan Chalker (<a href="https://codepen.io/bchalker">@bchalker</a>)
                          on <a href="https://codepen.io">CodePen</a>.</span>
                        </p>
           
                    
            
                      
                        <p class="mt-4">
                          Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                          nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                          Do đây sử dụng <b>SCSS</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                          href="https://jsonformatter.org/scss-to-css" target="_blank">SCSS to CSS</a>.
                          Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                          vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                          Còn đây là nguồn mình sao chép: <a href="https://codepen.io/bchalker/pen/pyvBmq" target="_blank">Responsive Flexbox Based Modal</a>.
                        </p>

                          <!--New-->
                          <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                            <h4 class="text-primary ml-4 title-article-size">Modal Velocity.js Animation:</h4>
                          </div>
                          <img class="img-thumbnail shadow p-2 lazyload"
                            data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587229563/Modal%20snippet/Modal-snippet-html-css-js-phan-8_yf8cxt.png"
                            alt="Modal xây dựng bằng HTML, CSS, JS  Phần 8">
                          <p class="mt-4">
                            Đây là tập hợp các modal được thiết kế sẵn và được xây dựng bằng HTML, CSS, Javascript và plugin Velocity.js (bạn có thể tìm hiểu ở đây nhé: <a href="http://velocityjs.org/" target="_blank">Velocity.js</a>). Ngoài việc tạo hiệu 
                            ứng chuyển động nó còn giúp chúng ta hiển thị vị trí của các tooltip (cung cấp thêm thông tin cho người dùng về nhiệm vụ, chức năng của nút) cho các button.
                            
                            Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                          </p>
                          <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="macsupport" data-slug-hash="OPwvwx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Bootstrap Modal and popover with Velocity.js animation">
                            <span>See the Pen <a href="https://codepen.io/macsupport/pen/OPwvwx">
                            Bootstrap Modal and popover with Velocity.js animation</a> by Mike Sozanski (<a href="https://codepen.io/macsupport">@macsupport</a>)
                            on <a href="https://codepen.io">CodePen</a>.</span>
                    
                      
              
                        
                          <p class="mt-4">
                            Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                            nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                            Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                            vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                            Còn đây là nguồn mình sao chép: <a href="https://codepen.io/macsupport/pen/OPwvwx" target="_blank">Modal Velocity.js Animation</a>.
                          </p>


                               <!--New-->
                               <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                                <h4 class="text-primary ml-4 title-article-size">Nifty Modal Window or Slider Effects:</h4>
                              </div>
                              <img class="img-thumbnail shadow p-2 lazyload"
                                data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587229909/Modal%20snippet/Modal-snippet-html-css-js-phan-9_gytdoj.png"
                                alt="Modal xây dựng bằng HTML, CSS, JS  Phần 9">
                              <p class="mt-4">
                                Đây là tập hợp các modal được thiết kế sẵn với HTML, CSS và Javscript và đặc biệt phù hợp với ai yêu thích hiệu ứng chuyển động 3D.
                                Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                              </p>
                              <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="coldarif" data-slug-hash="bgixa" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Nifty Modal Window or Slider Effects ">
                                <span>See the Pen <a href="https://codepen.io/coldarif/pen/bgixa">
                                Nifty Modal Window or Slider Effects </a> by coldarif (<a href="https://codepen.io/coldarif">@coldarif</a>)
                                on <a href="https://codepen.io">CodePen</a>.</span>
                              </p>
                           
                        
                          
                  
                            
                              <p class="mt-4">
                                Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                                vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                                Còn đây là nguồn mình sao chép: <a href="https://codepen.io/coldarif/pen/bgixa" target="_blank">Nifty Modal Window or Slider Effects</a>.
                              </p>


                                <!--New-->
                                <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill">
                                  <h4 class="text-primary ml-4 title-article-size">Responsive Modal Design:</h4>
                                </div>
                                <img class="img-thumbnail shadow p-2 lazyload"
                                  data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1587230500/Modal%20snippet/Modal-snippet-html-css-js-phan-10_ys4by5.png"
                                  alt="Modal xây dựng bằng HTML, CSS, JS  Phần 10">
                                <p class="mt-4">
                                  Đây là tập hợp các modal được thiết kế theo phong cách material. Bạn có thể tìm hiểu thêm về materail ở đây nhé <a href="https://material.io/design/introduction#getting-around" target="_blank">Tìm hiểu thêm</a>.
                                  Bây giờ để hiểu rõ hơn bạn xem đoạn code và khi modal này được hiển thị trên web ở dưới đây nhé:
                                </p>
                                <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="ettrics" data-slug-hash="Jdjdzp" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Modal Design">
                                  <span>See the Pen <a href="https://codepen.io/ettrics/pen/Jdjdzp">
                                  Responsive Modal Design</a> by Ettrics (<a href="https://codepen.io/ettrics">@ettrics</a>)
                                  on <a href="https://codepen.io">CodePen</a>.</span>
                                </p>
                   
                          
                            
                    
                              
                                <p class="mt-4">
                                  Để xem rõ kết quả hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> và
                                  nếu nó không hiển thị thì bạn nhớ <b>xác minh mình là con người</b> trong Codepen mới xem được nhé.
                                  Do đây sử dụng <b>Stylus</b> nếu bạn muốn sử dụng CSS thì có thể xem tại đây nha : <a
                                  href="https://www.cssportal.com/stylus-to-css/" target="_blank">Stylus to CSS</a>.
                                  Và nếu chúng ta muốn xem các nguồn được sử dụng trong Codepen để bạn thiết lập ở dưới máy tính thì nhấp
                                  vào chữ <b>Resources</b> ở dưới cùng bên trái của Codepen để xem các đường dẫn CDN nha.
                                  Còn đây là nguồn mình sao chép: <a href="https://codepen.io/ettrics/pen/Jdjdzp" target="_blank">Responsive Modal Design</a>.
                                </p>























            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>

            <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc thiết kế giao diện component Modal
              cho
              trang web và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>