<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i>Welcome back to my blog. Today we will go into how to use Bootstrap 4 through
              example and snippet.</i></p>
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Bootstrap Examples For Website</h2>
            </div>
            <p class="mt-4"><b> Code snippet </b> in my opinion means that the code has been pre-written by someone else
              HTML, CSS, Javascript, Bootstrap help you reduce design time and coding effort.</p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Bootstrap Hover Effects Collection :</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/T%E1%BB%95ng%20H%E1%BB%A3p%20C%C3%A1c%20Hi%E1%BB%87u%20%E1%BB%A8ng%20Bootstrap%20Hover.png"
              alt="Bootstrap Hover Effects Collection">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="RwWbVoG" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Hieu ung Hover Bootstrap 4 demo 1"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/RwWbVoG"> Hieu ung Hover Bootstrap 4 demo 1</a> by
                haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/RwWbVoG" target="_blank"
                title="Bootstrap Hover Effects Collection">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Timeline Bootstrap Collection:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/T%E1%BB%95ng%20H%E1%BB%A3p%20C%C3%A1c%20Timeline%20Bootstrap.png"
              alt="Timeline Bootstrap Collection">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="VwvZbPe" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Timeline Bootstrap (source from bootsnipp)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/VwvZbPe"> Timeline Bootstrap (source from bootsnipp)</a>
                by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/VwvZbPe" target="_blank"
                title="Timeline Bootstrap Collection">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Bootstrap Icon Hover Effect:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Bootstrap%20Icon%20Hover%20Effect.png"
              alt="Bootstrap Icon Hover Effect">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="ZEbzKoZ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Animated social(source from bootsnippet)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/ZEbzKoZ"> Animated social(source from bootsnippet)</a> by
                haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/ZEbzKoZ" target="_blank"
                title="Bootstrap Icon Hover Effect">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Tổng Hợp Các Bootstrap Card:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/T%E1%BB%95ng%20H%E1%BB%A3p%20C%C3%A1c%20Bootstrap%20Card.png"
              alt="Tổng Hợp Các Bootstrap Card">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="gOaYWdX" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Card Bootstrap 4 (Source from bootsnipp)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/gOaYWdX"> Card Bootstrap 4 (Source from bootsnipp)</a> by
                haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/gOaYWdX" target="_blank"
                title="Tổng Hợp Các Bootstrap Card">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Thiết Kế Checkout Form Bootstrap</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Checkout%20Form%20Bootstrap.png"
              alt="Checkout Form Bootstrap">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="oNjvWRB" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Form Thanh Toan (Source from bbbootstrap.com)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/oNjvWRB"> Form Thanh Toan (Source from
                  bbbootstrap.com)</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/oNjvWRB" target="_blank"
                title="Checkout Form Bootstrap">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Cách Tạo Login From Bootstrap:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Login%20From%20Bootstrap.png"
              alt="Login From Bootstrap">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="bGVbWPx" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Form dang ky &amp;lt;source from bbbootstrap)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/bGVbWPx"> Form dang ky &lt;source from bbbootstrap)</a>
                by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/bGVbWPx" target="_blank"
                title="Login From Bootstrap">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">Thiết Kế Bootstrap Social Share:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Bootstrap%20Social%20Share.png"
              alt="Bootstrap Social Share">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="dyYbRPR" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Social Left Sidebar (source from bbbootstrap)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/dyYbRPR"> Social Left Sidebar (source from
                  bbbootstrap)</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/dyYbRPR" target="_blank"
                title="Bootstrap Social Share">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">Thiết Kế Bootstrap Footer:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Bootstrap%20Footer.png"
              alt="Bootstrap Footer">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="KKdPqzj" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Footer Bootstrap 4(Source from bbbootstrap)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/KKdPqzj"> Footer Bootstrap 4(Source from bbbootstrap)</a>
                by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/KKdPqzj" target="_blank" title="Bootstrap Footer">Link Project</a>
            </p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Thiết Kế Product Card Bootstrap:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Product%20Card%20Bootstrap.png"
              alt="Product Card Bootstrap">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="rNOBwme" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="|Gioi Thieu San Pham( source Bbbootstrap)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/rNOBwme"> |Gioi Thieu San Pham( source Bbbootstrap)</a>
                by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/rNOBwme" target="_blank"
                title="Product Card Bootstrap">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Thiết Kế Bootstrap Video Background Template:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Bootstrap%20Video%20Background%20Template.png"
              alt="Bootstrap Video Background Template">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result"
              data-user="haycuoilennao19" data-slug-hash="WNQeOjB" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Viedeo Background Bootstrap 4(source from bootsnipp)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/WNQeOjB"> Viedeo Background Bootstrap 4(source from
                  bootsnipp)</a> by haycuoilennao19 (<a href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>)
                on <a href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/WNQeOjB" target="_blank"
                title="Bootstrap Video Background Template">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Cách Tạo Bootstrap Progress Bar Javascript:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Bootstrap%20Progress%20Bar%20Javascript.png"
              alt="Bootstrap Progress Bar Javascript">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="wvKwepZ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Thanh Tien Trinh Bootstrap 4(source from bbbootstrap)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/wvKwepZ"> Thanh Tien Trinh Bootstrap 4(source from
                  bbbootstrap)</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/wvKwepZ" target="_blank"
                title="Bootstrap Progress Bar Javascript">Link Project</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Cách Tạo Login Bootstrap 4:</h3>
            </div> <img class="img-fluid lazyload shadow rounded"
              data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/bootstrap-example/Login%20Bootstrap%204.png"
              alt="Login Bootstrap 4">
            <p class="mt-4"> And below is the project on Codepen.</p>
            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result"
              data-user="haycuoilennao19" data-slug-hash="pojzwLJ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Dang nhap Bootstrap4(source from bbbootstrap)"> <span>See the Pen <a
                  href="https://codepen.io/haycuoilennao19/pen/pojzwLJ"> Dang nhap Bootstrap4(source from
                  bbbootstrap)</a> by haycuoilennao19 (<a
                  href="https://codepen.io/haycuoilennao19">@haycuoilennao19</a>) on <a
                  href="https://codepen.io">CodePen</a>.</span></p>
            <p class="mt-4 pt-2 pb-4"> <a class="button-blog-post-article"
                href="https://codepen.io/haycuoilennao19/pen/pojzwLJ" target="_blank"
                title="Login Bootstrap 4">Link Project</a></p>
            <p class="mt-4"> Để xem kết quả rõ hơn bạn chuyển sang chế độ screen <b>0.5x, 0.25x</b> trong Codepen nhé.
              <br /> Trên đây là một số ví dụ về Snippet Bootstrap 4, để bạn dễ tìm và tham khảo được nhiều loại Snippet
              Bootstrap 4 hơn thì có một số đường dẫn mình hay sử dụng đặt ở bên dưới nhé:</p>
            <ul>
              <li><code>Bootsnipp.com</code>: Đường dẫn tới <a href="https://bootsnipp.com/"
                  target="_blank">Bootsnipp</a></li>
              <li><code>Startbootstrap.com</code>: Đường dẫn tới <a href="https://startbootstrap.com/snippets/"
                  target="_blank">Startbootstrap</a></li>
              <li><code>Bootstrapious.com</code>: Đường dẫn tới <a href="https://bootstrapious.com/snippets"
                  target="_blank">Bootstrapious</a></li>
              <li><code>Codeply.com</code>: Đường dẫn tới <a href="https://www.codeply.com/tagged/bootstrap-4"
                  target="_blank">Codeply</a></li>
              <li><code>Bootstraptor</code>: Đường dẫn tới <a href="https://bootstraptor.com/snippets/"
                  target="_blank">Bootstraptor</a></li>
            </ul>
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
            <p>Qua đây mình mong bài viết sẽ giúp bạn rút ngắn thời gian trong việc thiết kế giao diện tronhg Bootstrap
              4 và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang
              web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
          </div>
        </article>






      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>