<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="text-content-article mt-5">
            <p><i> In today's article I will introduce you to the library to help create HTML5 Video for the website
                that programmers trust and use in 2021. </i></p>


            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">What Is HTML5 Video?</h2>
            </div>

            <p> This is a new feature introduced in the HTML5 version. It was created to make it possible for users
              <b> display videos on the web </b> easily without using a third-party plugin like Adobe
              Flash. Video HTML5 will allow users to download videos and embed them directly into the HTML page. It also
              works
              on many popular browsers today such as Google Chrome, Firefox, Opera, Safari, IE9 + ... <br /> Some
              Useful features when we use HTML5 are:<ul>
                <li> <b> Allows to add captions and subtitles for videos. </b> </li>
                <li> <b> Display videos on various device screens. </b> </li>
                <li> <b> Use Web Speech API to control HTML5 Video. </b> </li>
                <li> <b> The controls can be hidden in full screen mode. </b> </li>
                <li> <b> Easily embed video in web page through <code>&#60;video&#62;</code></b> tags </li> 
              </ul>
            </p>
            <p> However to be able to work with many older browsers or add new features for customization
              video on the web page we need to use the library to solve these problems.</p>
          
              <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
                <h2 class=" ml-4 card-title-article"> Libraries For HTML5
                  Video In Web Site</h2>
              </div>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Plyr</h3>
            </div>
            <p> <b> Plyr </b> is a compact open source library that makes it easy to access and edit videos for HTML5,
              Youtube or Vimeo and runs on most popular browsers today. You can adjust the style
              in <code> plyr.css </code> to design the video player suitable for your website such as choosing colors
              mainstream, border size, color for captions in the video, choose font ... This setting for your reference
              in the "Customizing the CSS" section. Also it has a number of other useful features as shown above
              display different device screens, set methods through the API, use keyboard shortcuts
              key to control video player, there are versions for many frameworks and other languages ​​such as
              React, Vue, Angular, WordPress, Neos ...</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593431728/thu-vien-html5-video/plyr_tldlb8.png"
              alt="Plyr">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Plyr" target="_blank"
                href="https://plyr.io/">Link Plyr</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> HLS.js</h3>
            </div>
            <p> <b> HLS.js </b> is a built-in Javascript library that supports HTTP Live Streaming.  HTTP Live Streaming is a technique for streaming media files based on HTTP and protocol
              developed by Apple. You can simply understand that it helps us split a media file into several
              smaller files and the video player in the browser sends requests to receive those small files to avoid them
               Wait for all the videos to finish downloading before the video shows up in the browser. In addition it is also based
              to the user's network bandwidth to select a reasonable video quality (such as 480, 720, 1080p). You can
              refer more here <a href = "https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target = "_blank"
                title = "HTTP Direct Stream"> HTTP Direct </a>. <br /> HLS.js works directly with tags
              <code> & # 60; video & # 62; </code> HTML without using additional media player. Also it
              There are also a number of utilities such as choosing a streaming mode, automatically recovering when a video fails, playing the video below.
              mp3 format ...</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593434811/thu-vien-html5-video/hlsjs_bnhlfg.png"
              alt="HLS.js">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="HLS.js" target="_blank"
                href="https://hls-js.netlify.app/demo/">Link HLS.js</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> VideoJS</h3>
            </div>
            <p> <b> VideoJS </b> is a video player built from the HTML5 Video platform that supports many formats
              Various formats like Youtube, Vimeo, streaming ... It was developed in mid-2010, established by hundreds
              programmers contribute to the project and currently more than 450,000 websites use this library. Some strong points
              VideoJS's is designed with a high aesthetic, there are many themes to choose from for the player
              media, which can be run on both computers as well as phones, offers more than 100 plugins to help you with the calculation
              Edit and add new features easily ...</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593435532/thu-vien-html5-video/VideoJS_deoygc.png"
              alt="VideoJS">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="VideoJS" target="_blank"
                href="https://videojs.com/">Link VideoJS</a></p>
                
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Fluid Player</h3>
            </div>
            <p> <b> Fluid Player </b> is a small HTML Video player that makes it easy to customize the player
              video for its website. It also has a number of other useful features that are multi-screen display
              Different device images, there are many options for video quality, determine the thumbnail image before
              load video, allows display of banner ads, support for Vue, React and WordPress ...</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593438036/thu-vien-html5-video/Fluid_Player_u2zdwc.png"
              alt="Fluid Player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Fluid Player" target="_blank"
                href="https://www.fluidplayer.com/">Link Fluid Player</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> MediaElementPlayer</h3>
            </div>
            <p> <b> MediaElementPlayer </b> is an open link library that helps you build your video and audio player
              quick and easy for the website. It also supports working with embedded media players for web pages
              such as Youtube, Vimeo, Twitch, DailyMotion, Facebook, and SoundCloud. Also MediaElementPlayer is also available
              provides a number of settings that help you customize the media player to suit the web, such as keypad
              Control, locate volume, format time displayed on media player ...</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593438723/thu-vien-html5-video/MediaElementPlayer_b4btyg.png"
              alt="MediaElementPlayer">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="MediaElementPlayer" target="_blank"
                href="http://www.mediaelementjs.com/">Link MediaElementPlayer</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Accessible HTML5 Video Player</h3>
            </div>
            <p> <b> Accessible HTML5 Video Player </b> is an open link library built with pure javascript,
              Compact size makes it easy to set up the video player for many different web projects. One
              the strong point of this library is support for annotations for videos, using HTML5 form controls for volume
              and progress bar (in case javascript is not enabled), support for the front-end React framework.
            </p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593439573/thu-vien-html5-video/Accessible_HTML5_Video_Player_zcpcsg.png"
              alt="Accessible HTML5 Video Player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Accessible HTML5 Video Player "
                target="_blank" href="https://github.com/paypal/accessible-html5-video-player">Link  Accessible HTML5 Video Player</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Indigo-player</h3>
            </div>
            <p> <b> Indigo-player </b> is an open link library built in Javascript that makes it easy to create web pages
              Modern and highly customizable media player. With the system is divided into small modules to help you
              you can remove functions you don't need. Also it can be played with media
              such as mp4, Dash, HLS ... and support most of the popular browsers today. It also has a tutorial section
              setup and usage details that can be easily applied to your website.</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593441742/thu-vien-html5-video/Indigo-player_ostpoq.png"
              alt="indigo-player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="indigo-player" target="_blank"
                href="https://matvp91.github.io/indigo-player/#/">Link Indigo-player</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> jPlayer</h3>
            </div>
            <p> <b> jPlayer </b> is an open and completely free link library built with Jquery to help you get the most out of it.
              can quickly build and stop a video and audio player for your website. It offers many properties
              feature makes it easy to extend and style the media player through HTML, CSS. Besides
              jPlayer can also run on many different platforms and browsers such as Chrome, Firefox,
              Internet Explorer, Safari, Opera, IE6 +, iOS, Android ...</p> <img
              class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593481068/thu-vien-html5-video/jPlayer_uyzrwg.png"
              alt="jPlayer">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="jPlayer" target="_blank"
                href="http://jplayer.org/">Link jPlayer</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Xigua Video Player(HTML5)</h3>
            </div>
            <p><b> Xigua Video Player (HTML5) </b> is a library for playing video and audio for web pages. It
              Designed into separate UIs that give you the flexibility to build your media player with ease
              easy. In addition, it also provides some other useful features such as Picture-in-Picture: help display
              video in a small window so that users can both read information and watch videos at the same time on the web page,
              Full screen mode, video capture function running quickly, reformat language for
              media player, custom design via <code> style </code> attribute ... It has a generate tool
              help you to adjust the media player intuitively by adding or removing information,
              properties and functions you want, Then the tool will automatically output the code and display the player
              the video corresponds to that information.</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593482379/thu-vien-html5-video/Xigua_Video_Player_HTML5_utz1vy.png"
              alt="Xigua Video Player(HTML5)">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Xigua Video Player(HTML5)" target="_blank"
                href="http://h5player.bytedance.com/en/">Link Xigua Video Player</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Clappr</h3>
            </div>
            <p><b> Clappr </b> is an extensive media player for the web. It is a synthesis of two different projects
              @clappr / core and @ clappr / plugins. With @clappr / core is the place to contain the basic functions such as classes, ants
              plugin architecture, event handling ... and @ clappr / plugins are the aggregation of plugins that you have integrated into the plugin.
              plays media such as 360 degree video display, Picture-in-Picture, controls ... And it displays
              on many different screens and devices as well as running on most popular browsers today. Friend
              You can refer to how to set up and use this library in the Documentation section of the demo page.
            </p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593483685/thu-vien-html5-video/Clappr_xpgohd.png"
              alt="Clappr">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Clappr" target="_blank"
                href="http://clappr.io/">Link Clappr</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size"> Shaka Player</h3>
            </div>
            <p> <b> Shaka Player </b> is an open link library built with Javascript to help you get set up
              Easy media player for web pages. One of the strengths of this library is that it can run adaptive media
              formats (such as DASH and HLS) in the browser without using additional libraries. It also supports save
              Offline storage and video playback are available through IndexedDB in the browser (however there are some options available
              Browsing is not supported). With the development from 2014 and upgraded in many stages
              With many useful features, I think this is a library you should use to create a media player for
              web site.</p> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593484820/thu-vien-html5-video/Shaka_Player_v1vy5k.png"
              alt="Shaka Player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Shaka Player" target="_blank"
                href="https://github.com/google/shaka-player">Link Shaka Player</a></p>
         
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> Video-React</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593485753/thu-vien-html5-video/Video-React_pmfusu.png"
              alt=" Video-React">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Video-React" target="_blank"
                href="https://video-react.js.org/">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> ReactPlayer</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593485995/thu-vien-html5-video/ReactPlayer_fnnhno.png"
              alt="ReactPlayer">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="ReactPlayer" target="_blank"
                href="https://github.com/CookPete/react-player">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> React Media Player</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593486339/thu-vien-html5-video/React_Media_Player_d6ihip.png"
              alt="React Media Player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="React Media Player" target="_blank"
                href="https://github.com/souporserious/react-media-player">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> react-html5video</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593486918/thu-vien-html5-video/react-html5video_shvvhk.png"
              alt="react-html5video">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="react-html5video" target="_blank"
                href="https://github.com/mderrick/react-html5video">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> React Video</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593487132/thu-vien-html5-video/React_Video_oej3a4.png"
              alt="React Video">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="React Video" target="_blank"
                href="https://github.com/pedronauck/react-video">Link</a></p>
           
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> Vue-Video-Player</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593487333/thu-vien-html5-video/Vue-Video-Player_mq8cl3.png"
              alt="Vue-Video-Player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Vue-Video-Player" target="_blank"
                href="https://github.surmon.me/vue-video-player/">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> vue-core-video-player</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593487687/thu-vien-html5-video/vue-core-video-player_eszuru.png"
              alt="vue-core-video-player">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="vue-core-video-player" target="_blank"
                href="https://core-player.github.io/vue-core-video-player/get-started.html">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> vue-video-module</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593488205/thu-vien-html5-video/vue-video-module_kfcixe.png"
              alt="vue-video-module">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="vue-video-module" target="_blank"
                href="https://github.com/iapYang/vue-video-module">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> Vue-DPlayer</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593488322/thu-vien-html5-video/Vue-DPlayer_gcaosm.png"
              alt="Vue-DPlayer">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Vue-DPlayer" target="_blank"
                href="https://github.com/MoePlayer/vue-dplayer">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> vue-youtube-ssr-app</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593488556/thu-vien-html5-video/vue-youtube-ssr-app_q1ztxo.png"
              alt="vue-youtube-ssr-app">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="vue-youtube-ssr-app" target="_blank"
                href="https://vue-youtube.herokuapp.com/">Link</a></p>
           
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> mat-video</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593489337/thu-vien-html5-video/mat-video_rsqhs2.png"
              alt="mat-video">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="mat-video" target="_blank"
                href="https://nkoehler.github.io/mat-video/">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> Videogular</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593489540/thu-vien-html5-video/Videogular_d3fvw1.png"
              alt="Videogular">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Videogular" target="_blank"
                href="https://videogular.github.io/videogular2/">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> ngx-embed-video</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593489699/thu-vien-html5-video/ngx-embed-video_vwnyql.png"
              alt="ngx-embed-video">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="ngx-embed-video" target="_blank"
                href="https://github.com/SamirHodzic/ngx-embed-video">Link</a></p>
         
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> JW Player's</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593490051/thu-vien-html5-video/JW_Player_s_f59xt6.png"
              alt="JW Player's">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="JW Player's" target="_blank"
                href="https://www.jwplayer.com/html5-video-player/">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> Flowplayer</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593490299/thu-vien-html5-video/Flowplayer_e4gayp.png"
              alt="Flowplayer">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Flowplayer" target="_blank"
                href="https://flowplayer.com/features/player">Link</a></p>
            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h4 class="text-primary ml-4 title-article-size"> Vplayed</h4>
            </div> <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1593490525/thu-vien-html5-video/Vplayed_f4wi1x.png"
              alt="Vplayed">
            <p class="mt-4 pb-4"> <a class="button-blog-post-article" title="Vplayed" target="_blank"
                href="https://www.vplayed.com/hls-html-player.php">Link</a></p>
            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Summary: </b></h4>
            <p>I hope the article will provide you more useful HTML5 Video libraries for playing
              Development, web design and if you have any questions, please email me as soon as possible. We wish you to continue
              keep supporting the website so I can write more good articles. Have a nice day!</p>
          </div>
        </article>






      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>