<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <h2 class="bg-primary mb-4 text-white rounded p-2 shadow"><i class="fa fa-cube" aria-hidden="true"></i> Tạo Thẻ Người Dùng</h2>
          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>Xin chào các bạn quay lại blog của mình. Hôm nay mình sẽ giới thiệu cách xây dựng một thẻ người dùng   giúp các bạn có thể 
              ôn lại và thực hành một số kiến thức HTML, CSS mà mình đã học. Để hiểu rõ hơn các bạn cùng mình tìm hiểu nhé!</i>
            </p>
            <div class="bg-light p-2 mt-4 mb-4 shadow rounded-pill"><h4 class="text-primary ml-4">Thẻ Người Dùng</h4></div>
           <p>Đi vào bước thứ nhất các bạn tạo một thư mục có cấu trúc file như sau nhé:</p>
           <img src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1581324865/t%E1%BA%A1o%20the%20nguoi%20dung/the_nguoi_dung_xyhgv8.svg" width="400" height="400" alt="Cấu trúc Thư Mục PagePiling">
           <p class="mt-4">
            Sau khi đã tạo xong cấu trúc thư mục thì bước tiếp theo là các bạn tải một tập tin mà mình đã chứa sẵn các file đã được nén để ở đường dẫn bên dưới giúp chúng ta có thể thực hiện thẻ người dùng mà không mất công phải xây dựng lại từ đầu.
            Ở đây các bạn có thể chọn phiên bản Font Awesome cao hơn hay những hình ảnh tùy thích miễn sao bạn cảm thấy phù hợp với mình là được.<br />
            <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1581324573/t%E1%BA%A1o%20the%20nguoi%20dung/Thi%E1%BA%BFt_k%E1%BA%BF_card_nguoi_dung_sscpzz.rar" alt="Tải File Card User CSS" target="_blank" download>Tải File The_nguoi_dung</a> 
           </p>

           <p>
            Bây giờ mình sẽ tạo cấu trúc file HTML, thêm các thẻ HTML cần thiết cho <mark>trang_chinh.html</mark> sau đó  liên kết nó với file
            <mark>style.css, Font Awesome và Google Font</mark>. Các bạn lưu ý là đường dẫn <mark>style.css</mark> lúc nào cũng nằm dưới cùng trong thẻ <code>&lt;head&gt;</code> trong một trang HTML
            bởi vì khi ta chỉnh sửa CSS thì nó sẽ không bị ảnh hưởng bởi các file CSS khác. Để nắm rõ hơn các bạn theo dõ đoạn code dưới đây nhé:
          </p>

          <pre><code class="html">&#60;!DOCTYPE&nbsp;html&#62;<br/> &#60;html&nbsp;lang="en"&#62;<br/>&#60;head&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;charset="UTF-8"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;meta&nbsp;name="viewport"&nbsp;content="width=device-width,&nbsp;initial-scale=1.0"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;title&#62;Tạo&nbsp;thẻ&nbsp;người&nbsp;dùng&nbsp;CSS&#60;/title&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"&nbsp;rel="stylesheet"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="font-awesome-4.7.0/css/font-awesome.min.css"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;link&nbsp;rel="stylesheet"&nbsp;href="style.css"&#62;<br/> &#60;/head&#62;<br/>&#60;body&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="noi_dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/body&#62;<br/>&#60;/html&#62;<br/></code></pre>
          
          <p>Bây giờ thì chúng ta cần cài đặt font cho trang HTML và thiết kế layout sơ lược cho từng thẻ <code>&lt;div class="the"&gt;</code> bằng cách hiển thị dưới dạng lưới và thiết lập một số thuộc tính cơ bản như độ rộng,
            độ cao, khoảng cách cho nó. Để hiểu rõ hơn các bạn xem đoạn code dưới đây nhé :</p>
          
          <pre><code class="css">body{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-family:&nbsp;'Open&nbsp;Sans',&nbsp;sans-serif;<br/> }<br/>.noi_dung{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;1000px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;150px&nbsp;auto&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;auto;<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:&nbsp;grid;<br/> &nbsp;&nbsp;&nbsp;&nbsp;grid-template-columns:&nbsp;1fr&nbsp;1fr&nbsp;1fr;<br/> &nbsp;&nbsp;&nbsp;&nbsp;grid-template-rows:&nbsp;440px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;grid-gap:&nbsp;40px;<br/> }<br/>.noi_dung&nbsp;.the{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;relative;<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;#000;<br/> &nbsp;&nbsp;&nbsp;&nbsp;overflow:&nbsp;hidden;<br/> &nbsp;&nbsp;&nbsp;&nbsp;border-radius:&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;.5s;<br/> }<br/></code></pre>
          <p>Ở đây mình có một vài lưu ý ở đoạn code trên và sẽ được giải thích ở bảng dưới đây:</p>
        
          <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th class="w-50">Thuộc Tính</th>
                <th class="w-50">Ý Nghĩa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>margin: 150px auto 0;</code></td>
                <td>Cái này biểu thị cho margin-top là 150px, margin-left và margin-right là tự động và margin-bottom:0px</td>
              </tr>
              <tr>
                <td><code>display: grid;</code></td>
                <td>Đây là hệ thống lưới cơ bản trong CSS bằng cách hiển thị dòng và cột.</td>
              </tr>
              <tr>
                <td><code>grid-template-columns: 1fr 1fr 1fr</code></td>
                <td>Thuộc tính này giúp xác định  số cột và và chiều rộng cột có trong hệ thống lưới. Ví dụ ở đây với <code>&lt;div class="noi_dung"&gt;</code> sẽ chia thành 3 cột.
                Để các bạn hiểu rõ hơn về đơn vị <b>fr</b> thì mình sẽ trang web tham khảo ở đây: <a href="https://techblog.vn/gioi-thieu-ve-don-vi-fr-trong-css" alt="Giởi thiệu về đơn vị fr" target="_blank">Tham Khảo</a></td>
              </tr>

              <tr>
                <td><code>grid-template-rows: 440px;</code></td>
                <td>Thuộc tính này giúp xác định  số dòng và độ cao của dòng trong hệ thống lưới. Ví dụ ở dây là dòng có chiều cao 440px.</td>
              </tr>

              <tr>
                <td><code>grid-gap: 40px;</code></td>
                <td>Thuộc tính thiết lập khoảng cách giũa dòng và cột ví dụ ở đây là  40px; </td>
              </tr>

              <tr>
                <td><code> overflow: hidden;</code></td>
                <td>Thuộc tính này sẽ ẩn những nội dung mà vượt quá chiều rộng hay chiều cao của thẻ HTML chứa nó. Ví dụ ta có hình quá lớn so với thẻ div chứa nó thì những phần bị tràn ra sẽ bị ẩn đi.</td>
              </tr>

            </tbody>
          </table>
    </div>
          <p>Bây giờ chúng ta hãy cùng nhau xem kết quả của đoạn code trên nhé:</p>
          <img class="img-thumbnail shadow p-3" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1581430356/t%E1%BA%A1o%20the%20nguoi%20dung/FireShot_Capture_083_-_T%E1%BA%A1o_th%E1%BA%BB_ng%C6%B0%E1%BB%9Di_d%C3%B9ng_CSS_-_127.0.0.1_dyezdy.png" alt="Thuộc tính display:grid demo">

          <p class="mt-4">Tiếp theo chúng ta thêm hình ảnh vào các thẻ <code>&lt;div class="noi_dung"&gt;</code> bằng đoạn code dưới đây nhé:</p>
          <p><mark>trang_chinh.html</mark></p>
          <pre><code class="html">&#60;div&nbsp;class="noi_dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh_anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_1.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh_anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_2.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh_anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_3.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/div&#62;<br/></code></pre>
          
          <img class="img-thumbnail shadow p-3" src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1581431430/t%E1%BA%A1o%20the%20nguoi%20dung/FireShot_Capture_084_-_T%E1%BA%A1o_th%E1%BA%BB_ng%C6%B0%E1%BB%9Di_d%C3%B9ng_CSS_-_127.0.0.1_hhgurc.png" alt="TThêm element cho HTML">

          <p class="mt-4">
            Như các bạn thấy thì hình ảnh nó quá lớn nên chỉ được hiển thị một phần trong thẻ <code>&lt;div class="the"&gt</code>; vì vậy chúng ta cần thiết lập thuộc tính <code>max-width và max-height</code> cho thẻ hình ảnh cũng như thiết lập
            hiệu ứng làm mờ hình khi ta hover vào hình ảnh. Để nắm rõ hơn các bạn cùng xem đoạn code sau đây nhé:
          </p>
          <pre><code class="css">img&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;max-width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;max-height:&nbsp;100%;<br/> }<br/> .noi_dung&nbsp;.the&nbsp;.hinh_anh{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;top:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;left:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:0.5s;<br/> }<br/>.noi_dung&nbsp;.the:hover&nbsp;.hinh_anh{<br/> &nbsp;&nbsp;&nbsp;&nbsp;opacity:0.5;<br/> }<br/></code></pre>


            <p>Cùng mình xem kết quả của đoạn code trên: </p>
            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Card User CSS 3" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581432061/t%E1%BA%A1o%20the%20nguoi%20dung/TothngidngCSS_lxlr0z.mp4"></iframe>
            </div>

            <p class="mt-4">
              Bây giờ mình sẽ thêm nội dung vào các thẻ <code>&lt;div class="the"&gt;</code> dùng để miêu tả vị trí công việc sở thích... và các icon liên kết mạng xã hội của người dùng. Không mất công đánh văn bản các bạn có thể vào trang
              <a href="https://www.lipsum.com/" target="_blank" alt="Lorem website">Lipsum</a> để có thể tự động tạo những đoạn văn bản. Nào chúng ta cùng xem đoạn code nhé:
            </p>

            <pre><code class="html">&#60;div&nbsp;class="noi_dung"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh_anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_1.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="doan_van"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Tên&nbsp;Người&nbsp;dùng&nbsp;&#60;br&nbsp;/&#62;&nbsp;&#60;span&#62;UX/UI&nbsp;Designer&#60;/span&#62;&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;<br/>elit.&nbsp;Aliquam&nbsp;dicta,&nbsp;similique&nbsp;alias&nbsp;tempora&nbsp;corrupti&nbsp;recusandae&nbsp;<br/>nam&nbsp;rem&nbsp;sit&nbsp;voluptas&nbsp;veritatis&nbsp;est&nbsp;itaque&nbsp;eum&nbsp;magnam&nbsp;eveniet&nbsp;<br/>officiis&nbsp;atque&nbsp;earum&nbsp;rerum&nbsp;provident.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-facebook"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-google"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-twitter"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh_anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_2.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="doan_van"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Tên&nbsp;Người&nbsp;dùng&nbsp;&#60;br&nbsp;/&#62;&nbsp;&#60;span&#62;UX/UI&nbsp;Designer&#60;/span&#62;&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;<br/>elit.&nbsp;Aliquam&nbsp;dicta,&nbsp;similique&nbsp;alias&nbsp;tempora&nbsp;corrupti&nbsp;recusandae&nbsp;<br/>nam&nbsp;rem&nbsp;sit&nbsp;voluptas&nbsp;veritatis&nbsp;est&nbsp;itaque&nbsp;eum&nbsp;magnam&nbsp;eveniet&nbsp;<br/>officiis&nbsp;atque&nbsp;earum&nbsp;rerum&nbsp;provident.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-facebook"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-google"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-twitter"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="the"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="hinh_anh"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;img&nbsp;src="hinh_3.jpg"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;div&nbsp;class="doan_van"&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;h2&#62;Tên&nbsp;Người&nbsp;dùng&nbsp;&#60;br&nbsp;/&#62;&nbsp;&#60;span&#62;UX/UI&nbsp;Designer&#60;/span&#62;&#60;/h2&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;p&#62;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;<br/>elit.&nbsp;Aliquam&nbsp;dicta,&nbsp;similique&nbsp;alias&nbsp;tempora&nbsp;corrupti&nbsp;recusandae&nbsp;<br/>nam&nbsp;rem&nbsp;sit&nbsp;voluptas&nbsp;veritatis&nbsp;est&nbsp;itaque&nbsp;eum&nbsp;magnam&nbsp;eveniet&nbsp;<br/>officiis&nbsp;atque&nbsp;earum&nbsp;rerum&nbsp;provident.<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/p&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-facebook"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-google"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;li&#62;&#60;a&nbsp;href="#"&#62;&#60;i&nbsp;class="fa&nbsp;fa-twitter"&nbsp;aria-hidden="true"&#62;&#60;/i&#62;&#60;/a&#62;&#60;/li&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/ul&#62;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &nbsp;&nbsp;&nbsp;&#60;/div&#62;<br/> &#60;/div&#62;<br/></code></pre>
            
            <p>
            Nhìn có vẻ hơi nhiều nhưng các bạn đừng lo lắng quá vì mình chỉ lập lặp <code>&lt;div class="doan_van"&gt;</code> cho từng thẻ <code>&lt;div class="the"&gt;</code>. Bây giờ chúng ta cần chỉnh một chút file
            <mark>style.css</mark> chỉnh vị trí, thiết lập độ rộng, độ cao... của thẻ <code>&lt;div class="doan_van"&gt;</code>. Để nắm rõ hơn các bạn xem đoạn code sau đây nhé: 
          </p>
          <pre><code class="css">.noi_dung&nbsp;.the&nbsp;.doan_van{<br/> &nbsp;&nbsp;&nbsp;&nbsp;position:&nbsp;absolute;<br/> &nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;45%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;bottom:&nbsp;-100%;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:24px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;box-sizing:&nbsp;border-box;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:&nbsp;0.6rem;<br/> &nbsp;&nbsp;&nbsp;&nbsp;text-align:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;transition:&nbsp;0.5s;<br/> }<br/>.noi_dung&nbsp;.the:hover&nbsp;.doan_van{<br/> &nbsp;&nbsp;&nbsp;&nbsp;bottom:&nbsp;0;<br/> }<br/></code></pre>
          
          <p>
            Một lưu ý là khi mình thiết lập cho <code>&lt;div class="doan_van"&gt;</code> với <code>bottom: -100%;</code> dùng  để ẩn nó đi và tạo hiệu ứng khi chúng ta hover <code>&lt;div class="the"&gt;</code>
            thì nội dung sẽ chạy từ dưới lên bằng cách là <code>.noi_dung .the:hover .doan_van{  bottom: 0; }</code>. Để hiểu rõ hơn hãy cùng mình xem kết quả nhé:
          </p>


            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Card USer" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581435319/t%E1%BA%A1o%20the%20nguoi%20dung/TothngidngCSS1_wuk5i0.mp4"></iframe>
            </div>

            <p class="mt-4">
              Chúng ta sẽ thiết lập  background <code>linear-gradient</code> giúp cho  thẻ <code>&lt;div class="doan_van"&gt;</code> sinh động và bắt mắt hơn và đây là trang tham khảo thêm về thuộc tính này nếu như các bạn muốn nắm 
              rõ hơn: <a href="https://www.w3schools.com/cssref/func_linear-gradient.asp" alt="linear-gradient" target="_blank">Thamk Khảo</a>. Để hiểu rõ hơn các bạn  xem đoạn code dưới đây nhé:  
            </p>

            <pre><code class="css">.noi_dung&nbsp;.the:nth-child(1)&nbsp;.doan_van{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;linear-gradient(0deg,&nbsp;#c21833,&nbsp;transparent);<br/> }<br/>.noi_dung&nbsp;.the:nth-child(2)&nbsp;.doan_van{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;linear-gradient(0deg,&nbsp;#8012a5,&nbsp;transparent);<br/> }<br/>.noi_dung&nbsp;.the:nth-child(3)&nbsp;.doan_van{<br/> &nbsp;&nbsp;&nbsp;&nbsp;background:&nbsp;linear-gradient(0deg,&nbsp;#3a414c,&nbsp;transparent);<br/> }<br/></code></pre>
           
            <p>
              Và đâ là kết quả của đoạn code tên cùng xem với mình nhé:
            </p>

            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Card USer Linear gradient" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581437397/t%E1%BA%A1o%20the%20nguoi%20dung/TothngidngCSS2_prirto.mp4"></iframe>
            </div>

            <p class="mt-4">
             Bây giờ công việc cuối cùng của chúng ta là thay đổi màu sắc, cỡ chữ cho nội dung trong thẻ <code>&lt;div class="doan_van"&gt;</code> và thiết kế lại các icon mạng xã hội một tí. Để hiểu rõ hơn các bạn xem 
             đoạn code dưới đây nhé:
           </p>

           <pre><code class="css">.noi_dung&nbsp;.the&nbsp;.doan_van&nbsp;h2{<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;0&nbsp;0&nbsp;10px;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:20px;<br/> }<br/>.noi_dung&nbsp;.the&nbsp;.doan_van&nbsp;h2&nbsp;span{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:#ccc;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:16px;<br/> }<br/>.noi_dung&nbsp;.the&nbsp;.doan_van&nbsp;p{<br/> &nbsp;&nbsp;&nbsp;&nbsp;color:#fff;<br/> &nbsp;&nbsp;&nbsp;&nbsp;font-size:10px;<br/> }<br/>.noi_dung&nbsp;.the&nbsp;.doan_van&nbsp;ul&nbsp;{<br/> &nbsp;&nbsp;&nbsp;&nbsp;display:flex;<br/> &nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;20px&nbsp;0&nbsp;0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;padding:0;<br/> &nbsp;&nbsp;&nbsp;&nbsp;align-items:&nbsp;center;<br/> &nbsp;&nbsp;&nbsp;&nbsp;justify-content:&nbsp;center;<br/> }<br/>.noi_dung&nbsp;.the&nbsp;.doan_van&nbsp;ul&nbsp;li{<br/> &nbsp;&nbsp;&nbsp;&nbsp;list-style-type:&nbsp;none;<br/> }<br/> .noi_dung&nbsp;.the&nbsp;.doan_van&nbsp;ul&nbsp;li&nbsp;a{<br/> padding:0&nbsp;10px;<br/> font-size:12px;<br/> color:#fff;<br/> transition:&nbsp;0.5s;<br/> }<br/>.noi_dung&nbsp;.the:hover{<br/> &nbsp;&nbsp;&nbsp;&nbsp;transform:&nbsp;translateY(-20px);<br/> }<br/></code></pre>
            <p>Và các bạn xem kết quả cuối cùng nhé:</p>
            <div class="embed-responsive  embed-responsive-16by9">
              <iframe class="embed-responsive-item" alt="Demo Card USer Linear gradient" src="https://res.cloudinary.com/dn4nxz7f0/video/upload/v1581437986/t%E1%BA%A1o%20the%20nguoi%20dung/T%E1%BA%A1o_th%E1%BA%BB_ng%C6%B0%E1%BB%9Di_d%C3%B9ng_CSS_3_rzpb40.mp4"></iframe>
            </div>
           
           <p class="mt-4">Mình gửi các bạn đường dẫn để tải về những file trong thư mục <b>The_nguoi_dung</b> để bạn đễ hình dung và có thể xem lại! <br>
                <i class="fa fa-download" aria-hidden="true"></i> <a href="https://res.cloudinary.com/dn4nxz7f0/raw/upload/v1581438163/t%E1%BA%A1o%20the%20nguoi%20dung/The_nguoi_dung_ujbuk0.rar" download="">Đường dẫn tải File Source Code</a></p>
              
                <p>Các bạn có thể tìm hiểu thêm thông qua đường dẫn dưới đây nhé!<br> <i class="fa fa-info" aria-hidden="true"></i> <a href="https://www.youtube.com/watch?v=JLA0bMMWlfo&t=312s" target="_blank">Đường dẫn để bạn tìm hiểu thêm</a></p>
          <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>
        <p>Qua đây mình giúp các bạn có thể làm sinh động cũng như sáng tạo hơn với trang web của mình và nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất mong bạn tiếp tục ủng hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>
         
      </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>

    <div class="card card-search">
      <div class="card-header card-header-search">
        Đăng kí Email

      </div>
      <div class="card-body card-body-search">
        <div class="text-email-subscribe">
          <p class="text-justify mt-4">Các bạn nhấp subscribe để nhận bài viết mới nhất từ mình nhé!</p>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=02f033de83f488a359d24bc9f&amp;id=85d0d8697c"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-EMAIL" class="label-email mb-2">Email:
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="Hãy nhập địa chỉ email của bạn">

              </div>
              <div id="mce-responses" class="clear">
                <div class="response text-justify" id="mce-error-response" style="display:none"></div>
                <div class="response text-justify" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_02f033de83f488a359d24bc9f_85d0d8697c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Đăng Kí Email" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>
<%- include('footer') -%>