<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1rem;
  }

  ul li {
    font-size: 1rem;
  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Cách Tạo  Video background Bằng CSS Và Javascript Cho Trang Web Năm 2020 </h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Với sự phát triển web ngày càng hiện đại thì để đáp ứng nhu cầu trải nghiệm của người dùng cũng như làm
                thương hiệu trang web của bạn nổi bật hơn
                thì hôm nay mình sẽ giới thiệu đến bạn một số ví dụ về video background được sáng tạo bởi những bạn lập
                trình viên tài năng trong năm 2020 nhé!
              </i>
            </p>
            <p>
              Trước khi đi vào bài thì mình có một số lưu ý khi bạn <b>sử dụng video background cho website</b> là:
              <ul>
                <li>Hãy cố gắng nén dung lượng video của bạn xuống mức trung bình vì sẽ giảm được thời gian load cho
                  trang web. </li>
                <li>
                  Thời gian của video cũng không nên quá dài, chỉ khoảng 30 đến 40 giây là hợp lý rồi nhé.
                </li>
                <li>
                  Bạn cũng nên quan tâm đến độ tương phản màu của nội dung với background video.
                </li>
                <li>
                  Đảm bảo background video có thể chạy trên nhiều màn hình thiết bị. Nhưng đối với những màn hình như
                  điện thoại thì mình
                  nghĩ chúng ta không nên sử dụng vì thời gian tải trang web của những thiết bị này thường lâu hơn các
                  thiết bị khác cũng như không mang lại trải nghiệm tốt cho người dùng.
                </li>
              </ul>
            </p>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Responsive HTML5 Background Video Demo
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="GusRuss89" data-slug-hash="bVwNrE" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive HTML5 Background Video Demo">
              <span>See the Pen <a href="https://codepen.io/GusRuss89/pen/bVwNrE">
                  Responsive HTML5 Background Video Demo</a> by Angus Russell (<a
                  href="https://codepen.io/GusRuss89">@GusRuss89</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/GusRuss89/pen/bVwNrE" target="_blank"
                title="Responsive HTML5 Background Video Demo">
                Nguồn
                Responsive HTML5 Background Video Demo
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Video Background Slider
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="1wdtv"
              data-slug-hash="jbjZeb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Video Background Slider">
              <span>See the Pen <a href="https://codepen.io/1wdtv/pen/jbjZeb">
                  Video Background Slider</a> by 1WD.tv - Freelance Web Designer Training (<a
                  href="https://codepen.io/1wdtv">@1wdtv</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/1wdtv/pen/jbjZeb" target="_blank" title="Video Background Slider">
                Nguồn
                Video Background Slider
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Video Landing Page
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="bradtraversy" data-slug-hash="BaoWWjb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Video Landing Page">
              <span>See the Pen <a href="https://codepen.io/bradtraversy/pen/BaoWWjb">
                  Video Landing Page</a> by Brad Traversy (<a href="https://codepen.io/bradtraversy">@bradtraversy</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/bradtraversy/pen/BaoWWjb" target="_blank" title="Video Landing Page">
                Nguồn
                Video Landing Page
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Fullscreen Video Background Demo
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="simsketch" data-slug-hash="qaeEeJ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Fullscreen Video Background Demo">
              <span>See the Pen <a href="https://codepen.io/simsketch/pen/qaeEeJ">
                  Fullscreen Video Background Demo</a> by Elon Zito (<a
                  href="https://codepen.io/simsketch">@simsketch</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/simsketch/pen/qaeEeJ" target="_blank" title="Fullscreen Video Background Demo">
                Nguồn
                Fullscreen Video Background Demo
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Video Background Transparent Navbar
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="casuru"
              data-slug-hash="RPMyyp" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Video Background Transparent Navbar">
              <span>See the Pen <a href="https://codepen.io/casuru/pen/RPMyyp">
                  Video Background Transparent Navbar</a> by Chineye Asuru (<a
                  href="https://codepen.io/casuru">@casuru</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/casuru/pen/RPMyyp" target="_blank" title="Video Background Transparent Navbar">
                Nguồn
                Video Background Transparent Navbar
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Responsive Video Knockout Text (Pure CSS)
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="GeorgePark" data-slug-hash="LBPJGV" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive Video Knockout Text (Pure CSS)">
              <span>See the Pen <a href="https://codepen.io/GeorgePark/pen/LBPJGV">
                  Responsive Video Knockout Text (Pure CSS)</a> by George W. Park (<a
                  href="https://codepen.io/GeorgePark">@GeorgePark</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/GeorgePark/pen/LBPJGV" target="_blank"
                title="Responsive Video Knockout Text (Pure CSS)">
                Nguồn
                Responsive Video Knockout Text (Pure CSS)
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Background Video
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="rcrooks1969" data-slug-hash="YxjrMr" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Background Video">
              <span>See the Pen <a href="https://codepen.io/team/rcrooks1969/pen/YxjrMr">
                  Background Video</a> by Brightcove Learning Services (<a
                  href="https://codepen.io/rcrooks1969">@rcrooks1969</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/team/rcrooks1969/pen/YxjrMr" target="_blank" title="Background Video">
                Nguồn
                Background Video
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Fullscreen HTML5 Video Background With Cover Effect
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="js,result"
              data-user="xtianmiller" data-slug-hash="ojexyo" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Fullscreen HTML5 Video Background With Cover Effect">
              <span>See the Pen <a href="https://codepen.io/xtianmiller/pen/ojexyo">
                  Fullscreen HTML5 Video Background With Cover Effect</a> by XTIAN (<a
                  href="https://codepen.io/xtianmiller">@xtianmiller</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/xtianmiller/pen/ojexyo" target="_blank"
                title="Fullscreen HTML5 Video Background With Cover Effect">
                Nguồn
                Fullscreen HTML5 Video Background With Cover Effect
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Responsive YouTube video background
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="js,result" data-user="skapalon"
              data-slug-hash="PqwMab" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Responsive YouTube video background">
              <span>See the Pen <a href="https://codepen.io/skapalon/pen/PqwMab">
                  Responsive YouTube video background</a> by SKAPALÓN (<a
                  href="https://codepen.io/skapalon">@skapalon</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/skapalon/pen/PqwMab" target="_blank"
                title="Responsive YouTube video background">
                Nguồn
                Responsive YouTube video background
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Embedded video header
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="SquishyAndroid" data-slug-hash="uyFBb" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Embedded video header">
              <span>See the Pen <a href="https://codepen.io/SquishyAndroid/pen/uyFBb">
                  Embedded video header</a> by Bradley Engelhardt (<a
                  href="https://codepen.io/SquishyAndroid">@SquishyAndroid</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/SquishyAndroid/pen/uyFBb" target="_blank" title="Embedded video header">
                Nguồn
                Embedded video header
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Video Background, Form Submission
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="dpchamps"
              data-slug-hash="ZGzEjM" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Video Background, Form Submission">
              <span>See the Pen <a href="https://codepen.io/dpchamps/pen/ZGzEjM">
                  Video Background, Form Submission</a> by DChamps (<a href="https://codepen.io/dpchamps">@dpchamps</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/dpchamps/pen/ZGzEjM" target="_blank" title="Video Background, Form Submission">
                Nguồn
                Video Background, Form Submission
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Litmus SVG/Video Background
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="cwikked"
              data-slug-hash="rVezoz" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Litmus SVG/Video Background">
              <span>See the Pen <a href="https://codepen.io/cwikked/pen/rVezoz">
                  Litmus SVG/Video Background</a> by Matt (<a href="https://codepen.io/cwikked">@cwikked</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/cwikked/pen/rVezoz" target="_blank" title="Video Background, Form Submission">
                Nguồn
                Litmus SVG/Video Background
              </a> </button>




            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Full-Screen Background Video using CSS Grid & object-fit
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="GeorgePark" data-slug-hash="zpRjRK" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Full-Screen Background Video using CSS Grid &amp;amp; object-fit">
              <span>See the Pen <a href="https://codepen.io/GeorgePark/pen/zpRjRK">
                  Full-Screen Background Video using CSS Grid &amp; object-fit</a> by George W. Park (<a
                  href="https://codepen.io/GeorgePark">@GeorgePark</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/GeorgePark/pen/zpRjRK" target="_blank"
                title=" Full-Screen Background Video using CSS Grid & object-fit">
                Nguồn
                Full-Screen Background Video using CSS Grid & object-fit
              </a> </button>



            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Materialize - Transparent Navbar
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="j_holtslander" data-slug-hash="RVXzqm" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Materialize - Transparent Navbar">
              <span>See the Pen <a href="https://codepen.io/j_holtslander/pen/RVXzqm">
                  Materialize - Transparent Navbar</a> by Jay Holtslander (<a
                  href="https://codepen.io/j_holtslander">@j_holtslander</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/j_holtslander/pen/RVXzqm" target="_blank"
                title="Materialize - Transparent Navbar">
                Nguồn
                Materialize - Transparent Navbar
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Fullscreen Video
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="theprojectsomething" data-slug-hash="NNYqrQ" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Fullscreen Video">
              <span>See the Pen <a href="https://codepen.io/theprojectsomething/pen/NNYqrQ">
                  Fullscreen Video</a> by Som (<a
                  href="https://codepen.io/theprojectsomething">@theprojectsomething</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/theprojectsomething/pen/NNYqrQ" target="_blank" title="Fullscreen Video">
                Nguồn
                Fullscreen Video
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Full Page Video: Full Then Scroll
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result"
              data-user="chriscoyier" data-slug-hash="WjOdxX" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Full Page Video: Full Then Scroll">
              <span>See the Pen <a href="https://codepen.io/chriscoyier/pen/WjOdxX">
                  Full Page Video: Full Then Scroll</a> by Chris Coyier (<a
                  href="https://codepen.io/chriscoyier">@chriscoyier</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/chriscoyier/pen/WjOdxX" target="_blank"
                title="Full Page Video: Full Then Scroll">
                Nguồn
                Full Page Video: Full Then Scroll
              </a> </button>

            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Css: Background Video
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result"
              data-user="alainrodriguezz" data-slug-hash="GqgbBE" data-preview="true"
              style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
              data-pen-title="Css: Background Video">
              <span>See the Pen <a href="https://codepen.io/alainrodriguezz/pen/GqgbBE">
                  Css: Background Video</a> by Alain Rodriguez (<a
                  href="https://codepen.io/alainrodriguezz">@alainrodriguezz</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/alainrodriguezz/pen/GqgbBE" target="_blank" title="Css: Background Video">
                Nguồn
                Css: Background Video
              </a> </button>


            <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
              <h3 class="text-primary ml-4 title-article-size">
                Responsive Background Video
              </h3>
            </div>
            <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="zitrusfrisch" data-slug-hash="vymGI" data-preview="true" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Responsive Background Video">
              <span>See the Pen <a href="https://codepen.io/zitrusfrisch/pen/vymGI">
              Responsive Background Video</a> by Daniel Riemer (<a href="https://codepen.io/zitrusfrisch">@zitrusfrisch</a>)
              on <a href="https://codepen.io">CodePen</a>.</span>
            </p>

            <button type="button " class="btn  btn-outline-dark mt-4"> <a rel="external nofollow noopener noreferrer"
                href="https://codepen.io/zitrusfrisch/pen/vymGI" target="_blank" title="Responsive Background Video">
                Nguồn
                Responsive Background Video
              </a> </button>









            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những ví dụ về video background
              hữu
              ích
              dành
              cho
              việc
              phát
              triển, thiết kế web
              và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>



  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>