<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-size: 1.15rem;
  }

  ul li {
    font-size: 1.15rem;

  }
</style>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-content-article mt-5">
                <p><b><i> Today we will take a look at what a CDN is and what CDN service providers are
                  Best for improving website performance and security! </i></b></p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
            <h2 class=" ml-4 card-title-article">What Is CDN</h2>
        </div>

          <p><b> CDN </b> (Content Delivery Network) is a global server system with the main task of hosting
            Static files like HTML, CSS, Javascript, images ... for your website. It was born in the late 1990s
            and is seen as a solution to help reduce performance bottlenecks for the Internet. Today, CDN plays
            Very fast development with many other convenient services such as video streaming, load
            balancing , streaming audio, anti-DDoS security, web application firewall ...</p>
       
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Why You Need CDN For Website</h2>
          </div>
          <p>For example, if you have a website hosted overseas, it will <b> take a long time </b> to connect  your server when  users is in your country.
            <br /> If your website uses a CDN, servers (data centers) are located around the world.
           It will <b> base on the current location of the user </b> to set up and retrieve data from the server where
           closest to the customer to send data.</p><img
            class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/vi_du_cdn.png"
            alt="Example CDN">
        
         
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">Feature of CDN</h2>
          </div>
          <ul>
            <li> <b> Increase Website Speed </b>: It will improve page load time better.
            </li>
            <li> <b> Reduce costs for bandwidth </b>: Because it caches static files of website. So you can reduce the resources used by your server
            </li>
            <li> <b> Enhances the security and safety of your website </b>: it helps you prevent your website from attacking DDOS.
              For example, when someone wants to attack your website, they have to go through many layers of secure CDN before they reach the server. </li>
            <li> <b> Handle large amounts of traffic </b>: this helps to reduce the number of processing requests to the server, avoiding the
         overload for the site. </li>
          </ul>
     
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">CDN Free
                For Library In Coding</h2>
          </div>
          <p> In this section, let's take a look at the CDNs that provide free libraries that we like
            used in programming and website development such as React, Vue, Jquery, Bootstrap ...!</p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> cdnjs</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/cdnjs.png" alt="cdnjs">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://cdnjs.com/" title="cdnjs"
              target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> BootstrapCDN</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/BootstrapCDN.png"
            alt="BootstrapCDN">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.bootstrapcdn.com/"
              title="BootstrapCDN" target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> jsDelivr</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/jsDelivr.png"
            alt="jsDelivr ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.jsdelivr.com/" title="jsDelivr "
              target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Google Hosted Libraries</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Google%20Hosted%20Libraries.png"
            alt="Google Hosted Libraries">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article"
              href="https://developers.google.com/speed/libraries/#libraries" title="Google Hosted Libraries"
              target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Microsoft Ajax Content Delivery Network</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Microsoft%20Ajax%20Content%20Delivery%20Network.png"
            alt="Microsoft Ajax Content Delivery Network">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article"
              href="https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview"
              title="Microsoft Ajax Content Delivery Network" target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Pagecdn</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Pagecdn.png"
            alt="Pagecdn">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://pagecdn.com/public-cdn"
              title="Pagecdn" target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> UNPKG (CDN Dành Cho npm)</h3>
          </div><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/UNPKG.png" alt="UNPKG">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://unpkg.com/" title="UNPKG"
              target="_blank">Link CDN</a></p>
        
            <div class="col-sm-12 bg-primary p-2 pt-3 mb-4 mt-4 shadow rounded-pill">
              <h2 class=" ml-4 card-title-article">CDN For Website</h2>
          </div>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Cloudflare</h3>
          </div>
          <p> Some of the outstanding features of <b> Cloudflare </b> are: <ul>
            <li> <b> Highly customizable </b>: It gives customers more control over how the content is
              Cached and improve the hit rate cached with URL normalization. </li>
            <li> <b> Save bandwidth usage </b>: Cloudflare network cache content. Job
              This will reduce the number of requests to the root server by providing static content from the data center
              Cloudflare. </li>
            <li> <b> Support for HTTP / 3 </b>: Support for latest web protocol. </li>
            <li> <b> Easy to reach for beginners </b>: You can easily use the service through the posts
              research on forums or get help from the service. </li>
          </ul>
          </p>
          <p> For free version, you can use <ul>
            <li> Setting Up a Global Content Delivery Network (CDN) For the Website. </li>
            <li> Anti-DDoS. </li>
          </ul> </p>
          <p>
            If you want to add many other utilities such as website speed optimization on mobile, image optimization ...
          You can subscribe to a pro package for $ 20 / month!
          </p>
          <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Cloudflare.png"
            alt="Cloudflare ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.cloudflare.com/vi-vn/cdn/"
              title="Cloudflare " target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Google Cloud CDN</h3>
          </div>
          <p><b> Google Cloud CDN </b> is a CDN network developed by Google with the main goal of helping websites improve performance, reduce processing time and bandwidth for the root server.
            When you sign up for a new account, you will be awarded $ 300
             to use up to 90 days. This will help us reduce the cost of learning
            by trying to install the website before deciding to use Google Cloud CDN for your website.</p>
          <p>Some of the features of the Google Cloud CDN are: <ul>
            <li> Your website will get a global IP making it easier to combine with other services. </li>
            <li> Supports new method reserves for Google-developed websites such as HTTP / 2, QUIC, TLS versions
              1.3 ... </li>
            <li> High level security. </li>
            <li> There are more detailed article guides on how to use the service. </li>
          </ul>
          </p>
          <p> Some limited Google Cloud modes are difficult to set up and require payment for technical support.
            . The Google Cloud CDN will charge you <b> for what you use </b>.</p><img
            class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Google%20Cloud%20CDN.png"
            alt="Google Cloud CDN ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://cloud.google.com/cdn"
              title="Google Cloud CDN " target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Amazon CloudFront</h3>
          </div>
          <p><b> Amazon CloudFront </b> is a fast content delivery network (CDN) service, which helps to distribute data, videos,
            applications and APIs to global customers securely, with low latency, high transfer rates, all
            in a developer-friendly environment.</p>
          <p> Some of the strong points of Amazon CloudFront are: <ul>
            <li> Amazon CloudFront Content Delivery Network (CDN) is massively scaled and distributed throughout
             Global. The CloudFront network has more than 220 servers located around the world. </li>
            <li> Amazon CloudFront is a highly secure CDN that provides protection at both the network and application levels. Flow
              Access and your applications benefit from various integrated protection features like AWS Shield
              Free standards. </li>
            <li> Easily integrates with other AWS products like Amazon S3, Amazon EC2 ... </li>
            <li> Supports integration with other automation tools and interfaces for DevOps and CI / CD environments
              modern tools using API or AWS. </li>
          </ul>
          </p>
          <p> With the free version you will have:<ul>
            <li> 50GB of data bandwidth. </li>
            <li> 2,000,000 HTTP or HTTPS requests </li>
            <li> Free for 12 months. </li>
            </ul>
          </p><img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Amazon%20CloudFront.png"
            alt=" Amazon CloudFront ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://aws.amazon.com/vi/cloudfront/"
              title=" Amazon CloudFront " target="_blank">Link CDN</a></p>
         
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> KeyCDN</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/KeyCDN.png" alt="KeyCDN">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.keycdn.com/?a=93947"
              title="KeyCDN" target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> StackPath CDN</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/StackPath%20CDN.png"
            alt="StackPath CDN">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.stackpath.com/products/cdn/"
              title="StackPath CDN" target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Akamai CDN</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Akamai%20CDN%20%281%29.png"
            alt="Akamai CDN">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.akamai.com/uk/en/"
              title="Akamai CDN" target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Azure CDN</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Azure%20CDN.png"
            alt="Azure CDN">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article"
              href="https://azure.microsoft.com/en-us/services/cdn/#features" title="Azure CDN"
              target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> Fastly CDN</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/Fastly%20CDN.png"
            alt="Fastly CDN ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.fastly.com/products/cdn"
              title="Fastly CDN " target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> BunnyCDN</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/BunnyCDN.png"
            alt="BunnyCDN ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://bunnycdn.com/" title="BunnyCDN "
              target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> CDN77</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/CDN77.png" alt="CDN77 ">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.cdn77.com/" title="CDN77 "
              target="_blank">Link CDN</a></p>
          <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
            <h3 class="text-primary ml-4 title-article-size"> CacheFly</h3>
          </div> <img class="img-fluid lazyload"
            data-src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/nha_cung_cap_CDN/CacheFly.png"
            alt="CacheFly">
          <p class="mt-2 pb-4"> <a class="button-blog-post-article" href="https://www.cachefly.com/" title="CacheFly"
              target="_blank">Link CDN</a></p>
          <h4 class="mt-4 pt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Summary: </b></h4>
          <p> I hope the article will provide you more useful CDN providers for the development,
            web design and if you have any questions, please email me as soon as possible. We hope you continue to support
            website so I can write more good articles. Have a nice day!</p>
      </div>
      </article>







    </div>
  </div>




  <div class="mb-5"></div>
</div>
<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="mt-5"></div>



</div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>

<%- include('footer') -%>