<%- include('header') -%>
<!--Content-->
<div class="jumbotron jumbotron-fluid image-slider">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="content-image">
        <div class="content">
          <blockquote class="blockquote">
            <h1 class="mb-2 content-header">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
            <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-text text-center mt-5 ">
</div>
<div class="container mt-5" id="content-box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

      <hr />
      <div class="card-text text-justify">
        <article>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="bg-primary mb-4 text-white rounded p-2 shadow title-article-size"><i class="fa fa-cube"
                  aria-hidden="true"></i> Những Công Cụ Chọn Màu Cho Thiết Kế Web 2020</h2>
            </div>
          </div>

          <div class="article-title">
            <div class="progress-wrapper">
              <div class="progress-label"></div><progress></progress>
            </div>
          </div>
          <div class="text-content-article mt-5">
            <p><i>
                Màu sắc là một trong những yếu tố quan trọng  trong việc thiết kế web giúp chúng ta 
                thu hút sự chú ý đối với người dùng, thể hiện một ý nghĩa nào đó, tăng tương tác cho trang web...
                Nhưng việc lựa chọn các bảng màu cho một trang web  rất khó khăn, đòi hỏi nhiều kiến thức chuyên sâu do đó các công cụ và trang web xây dựng bảng màu đã ra đời 
                để giải quyết vấn đề trên.
                Bây giờ chúng ta sẽ cùng nhau đi vào tìm hiểu các công cụ hỗ trợ việc chọn màu cho thiết kế web 
                được sử dụng phổ biến trong năm 2020 nhé.
              </i>
            </p>

            
           

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://colorhunt.co/" title="Color Hunt" target="_blank">
                    Color Hunt
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Color Hunt</b> là một bộ sưu tập bảng màu mở được xây dựng bởi Gal Shir. Nó được bắt đầu với ý tưởng chia sẻ các bảng màu giữa những đồng nghiệp 
              trong việc thiết kế  nhưng do sự hữu ích của nó nên ngày càng có nhiều người xây dựng bảng màu và chia sẻ ở trang web này.
              Trang web  không yêu cầu chúng ta  phải đăng ký tài khoản để sử dụng và  bạn chỉ việc gõ màu sắc chủ đạo trang web thì lập tức nó sẽ 
              tự động tìm các bảng màu phù hợp trang web bạn. Ngoài ra chúng ta có thể hỗ trợ cộng đồng bằng việc chia sẻ bảng màu do mình tự tạo lên trên trang web này
              (Nhưng cũng phải qua kiểm duyệt của Color Hunt đã nhé).
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591582532/cong-cu-chon-mau-cho-web/trang-web-chon-mau-color-Hunt_ksxi6m.png"
              alt="Cộng cụ chọn màu Color Hunt ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://colorhunt.co/" target="_blank" title="Color Hunt">
                Nguồn Color Hunt
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://coolors.co/" title="Coolors" target="_blank">
                    Coolors
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Coolors</b> là một trang web với số lượng bảng màu được cung cấp rất phong phú và đa dạng.
                Ngoài ra bạn cũng có thể tải chương trình từ các ứng dụng IOS hay Google Play để bắt đầu sử dụng trên điện thoại của mình.
                Theo mình thấy nó cung cấp rất nhiều chức năng  trong việc hỗ trợ  bạn có thể đưa ra  lựa chọn bảng màu phù hợp nhất cho trang web. Tuy nhiên 
                để hiểu và sử dụng thành thạo tất cả chức năng đó thì bạn nên dành ra từ  10 tới 20 phút đọc hướng dẫn đã nhé. Ngoài ra nó cũng cho phép chúng ta 
                xuất bảng màu ra nhiều định dạng khác nhau như là Code, CSS, Hình Ảnh, SVG...

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591583969/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Coolors_secn0r.png"
              alt="Cộng cụ chọn màu Coolors ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://coolors.co/" target="_blank" title="Coolors">
                Nguồn Coolors
              </a>
            </button>
           


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.colorhexa.com/" title="ColorHexa" target="_blank">
                    ColorHexa
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>ColorHexa</b> không chỉ cung cấp cho chúng ta bảng màu cụ thể mà còn hiển thị thêm các thông tin chuyên sâu 
              về màu chủ đạo của trang web. Ví dụ mình chọn màu đỏ thì nó sẽ tự động hiển thị giá trị màu đó trong RGB, Hex, HSL...
              hiển thị ví dụ đầy đủ   khi màu đó được sử dụng như là background, border, text trong trang web.
              Nếu bạn là một người yêu màu sắc hay muốn học hỏi sâu hơn về các giá trị cũng như cách sử dụng màu trong thiết kế web thì đây 
              chính là một nơi lý tưởng.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591585150/cong-cu-chon-mau-cho-web/trang-web-chon-mau-ColorHexa_wzz2ua.png"
              alt="Cộng cụ chọn màu ColorHexa ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.colorhexa.com/" target="_blank" title="Coolors">
                Nguồn ColorHexar
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://colordrop.io/" title="ColorDrop" target="_blank">
                    ColorDrop
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>ColorDrop</b> là trang web giúp bạn có thể dễ dàng tìm những bảng màu phù hợp nhất cho trang web của mình .
              Ngoài ra nó cũng có thêm một số chức năng hữu ích khác như là lấy màu sắc từ hình ảnh, chuyển đối giá trị của màu sắc ví dụ như 
              từ RGB -> HEX...
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591585768/cong-cu-chon-mau-cho-web/trang-web-chon-mau-ColorDrop_tfnevo.png"
              alt="Cộng cụ chọn màu ColorDrop ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://colordrop.io/" target="_blank" title="ColorDrop">
                Nguồn ColorDrop
              </a>
            </button>




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://color.adobe.com/create/color-wheel" title="Adobe Color" target="_blank">
                    Adobe Color 
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Adobe Color</b> là một công cụ cho phép chúng ta tạo và chỉnh sửa bảng màu một cách dễ dàng
              tuy nhiên để lưu được bảng màu của mình thì bạn cần tạo tài khoản adobe nhé. Ngoài ra nó có chức năng tự động tạo bảng 
              bảng màu hay gradient một cách chính xác nhất thông qua hình ảnh mà chúng ta đưa lên. Adobe Color cũng cho phép chúng ta 
              xuất bảng màu ra nhiều định dạng khác nhau như CSS, CML, LESS...

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591586713/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Adobe_Color_nn4vbx.png"
              alt="Cộng cụ chọn màu   Adobe Color ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://color.adobe.com/create/color-wheel" target="_blank" title="Adobe Color">
                Nguồn Adobe Color
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="http://colorsafe.co/" title="Color Safe" target="_blank">
                    Color Safe
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Color Safe</b> là trang web giúp bạn thiết kế và tạo bảng màu phù hợp  thông qua việc hiển thị 
              độ tương phản giữa màu nền và màu chữ trong trang web mà bạn đã chọn dựa trên tiêu chuẩn WCAG. Bạn 
              có thể tham khảo thêm <a href="https://webaim.org/blog/wcag-2-0-and-link-colors/" title="WCAG" target="_blank">ở đây nhé</a>.


            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591587753/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Color_Safe_auq0v1.png"
              alt="Cộng cụ chọn màu   Color Safe ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="http://colorsafe.co/" target="_blank" title="Color Safe">
                Nguồn Color Safe
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="http://www.colorfavs.com/" title="Colorfavs" target="_blank">
                    Colorfavs
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Colorfavs</b> là trang web giúp bạn tạo bảng màu một cách đa dạng như thông qua hình ảnh tải lên, trang web chúng ta muốn xuất bảng màu hay 
              tự tạo bảng màu thông qua các thuộc tính được cung cấp sẵn.

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591588260/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Colorfavs_d4knx0.png"
              alt="Cộng cụ chọn màu   Colorfavs ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="http://www.colorfavs.com/" target="_blank" title="colorfavs">
                Nguồn Colorfavs
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="http://webcolourdata.com/" title="Web Colour Data" target="_blank">
                    Web Colour Data
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Web Colour Data</b> là trang web giúp bạn có thể lấy bảng màu màu thông qua website mà mình thích
              bằng cách không thể nào đơn giản hơn là bạn chỉ cần nhập địa chỉ web của trang đó và hệ thống sẽ xử lý 
              và đưa ra bảng màu chi tiết cho bạn.

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591588872/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Web_Colour_Data_qrtvhu.png"
              alt="Cộng cụ chọn màu   Web Colour Data ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="http://webcolourdata.com/" target="_blank" title="Web Colour Data">
                Nguồn Web Colour Data
              </a>
            </button>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.colourlovers.com/" title="COLOURLovers" target="_blank">
                    COLOURLovers
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>COLOURLovers</b> là một trang web giống như mạng xã hội dùng để chia sẻ các bảng màu giữa những nhà thiết kế web với nhau. 
              Trên đây bạn có thể tìm thấy hàng ngàn bảng màu bằng màu sắc hay hình ảnh được cập nhật liên tục từ khắp các bạn trên thế giới. 
              Nó cho phép bạn để lại bình luận, thích hoặc chia sẻ những bảng màu mà bạn thấy đẹp lên các trang mạng xã hội khác như Facebook,
              Twitter... Ngoài ra COLOURLovers còn có các bài viết hướng dẫn chi tiết cách sử dụng màu sắc hay phối hợp giữa các màu trong việc thiết kế.

            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591589529/cong-cu-chon-mau-cho-web/trang-web-chon-mau-COLOURLovers_e5igw1.png"
              alt="Cộng cụ chọn màu   COLOURLovers ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.colourlovers.com/" target="_blank" title="COLOURLovers">
                Nguồn COLOURLovers
              </a>
            </button>





            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://htmlcolorcodes.com/" title="HTML Color Codes" target="_blank">
                    HTML Color Codes
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>HTML Color Codes</b> là một trang web giúp bạn tạo ra bảng màu một cách dễ dàng  và nhanh chóng. Nó có thể xuất bảng màu một cách nhanh chóng 
              dưới nhiều định dạng khác nhau như HTML, CSS, SCSS, RGB, HEX. Bạn chỉ cần sao chép và bỏ vào chương trình của mình. 
              Thật đơn giản phải không nào. Ngoài ra nó cũng cung cấp thêm tất cả các tên màu trong HTML, khóa học HTML và CSS về sử dụng màu sắc trong trang web hay 
              các bài viết về xu hướng chọn màu cho trang web hiện nay...
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591590183/cong-cu-chon-mau-cho-web/trang-web-chon-mau-HTML_Color_Codes_jxlbja.png"
              alt="Cộng cụ chọn màu   HTML Color Codes ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://htmlcolorcodes.com/" target="_blank" title="HTML Color Codes">
                Nguồn HTML Color Codes
              </a>
            </button>



            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.0to255.com/" title="0to255" target="_blank">
                    0to255
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>0to255</b> là một trang web giúp chúng ta  có thể tìm các màu sáng và màu tối một cách chi tiết thông qua màu sắc mà bạn đưa vào.
              Bạn chỉ cần nhập mã màu dưới dạng hex thì trang web sẽ xử lý và đưa ra màu thích hợp cho bạn.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591590696/cong-cu-chon-mau-cho-web/trang-web-chon-mau-0to255_ks9ejs.png"
              alt="Cộng cụ chọn màu   0to255 ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.0to255.com/" target="_blank" title="0to255">
                Nguồn 0to255
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.eggradients.com/" title="Eggradients " target="_blank">
                    Eggradients 
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Eggradients </b> là một trang web với nhiệm vụ chính là cung cấp cho chúng ta những 
              gradient được thiết sẵn bạn chỉ cần nhấn Copy CSS là có thể sử dụng ngay trong chương trình rồi.
              Ngoài ra nó cũng cung cấp thêm các tính năng khác như là sưu tầm các bộ bảng màu đẹp cho thiết kế,
              xem các màu liên quan đến màu chủ đạo... 
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591598106/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Eggradients_v9xayo.png"
              alt="Cộng cụ chọn màu   Eggradients  ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.eggradients.com/" target="_blank" title="Eggradients ">
                Nguồn Eggradients 
              </a>
            </button>

            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.materialpalette.com/" title="Eggradients " target="_blank">
                    Material Palette
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b> Material Palette </b> giúp bạn tạo bảng màu một cách đơn giản bằng cách là chúng ta chọn 2 màu sau đó trang 
              web sẽ tự động tạo một bảng màu dựa trên những màu đó. Ngoài ra để bạn dễ hình dung thì  nó còn cung cấp thêm phần hiển thị 
              thành phần trang web khi sử dụng với bảng màu đó.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591598889/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Material_Palette_xbhr29.png"
              alt="Cộng cụ chọn màu    Material Palette  ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.materialpalette.com/" target="_blank" title=" Material Palette ">
                Nguồn  Material Palette
              </a>
            </button>

    




            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://www.canva.com/colors/" title="Canva " target="_blank">
                    Canva
                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>Canva </b> là trang web cung cấp và tạo ra những bảng màu đẹp mắt. Ngoài ra nó cũng cho phép chúng ta lấy bảng màu thông qua hình ảnh,
              học về cách kết hợp  màu sắc  thông qua công cụ Color wheel hay giúp chúng ta hiểu được ý nghĩa của từng màu cụ thể
              để từ đó có thể áp dụng tốt hơn cho trang web của mình. 
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591599549/cong-cu-chon-mau-cho-web/trang-web-chon-mau-Canva_mgj1vd.png"
              alt="Cộng cụ chọn màu    Canva  ">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://www.canva.com/colors/" target="_blank" title=" Canva ">
                Nguồn  Canva
              </a>
            </button>


            <div class="row">
              <div class="col-sm-12 bg-light p-2 mb-4 mt-4 shadow rounded-pill">
                <h3 class="text-primary ml-4 title-article-size">
                  <a href="https://mycolor.space/gradient" title="ColorSpace " target="_blank">
                    ColorSpace

                  </a>
                </h3>
              </div>
            </div>
            <p>
              <b>ColorSpace </b> là một trang web khác mình muốn giới thiệu về cách tạo bảng màu cho trang web. Bạn chỉ việc chọn màu mình thích thì nó sẽ 
              đưa ra tất cả các bảng màu chi tiết dành cho trang web bạn. Mình thấy nó cũng có phần tạo Gradient đẹp mắt cho CSS thông qua việc bạn chọn hai màu 
              cho gradient và hướng của hai màu đó với nhau thì trang web sẽ tự động xuất ra thuộc tính CSS cho bạn.
            </p>


            <img class="img-thumbnail img-fluid shadow p-2 lazyload"
              data-src="https://res.cloudinary.com/dn4nxz7f0/image/upload/v1591599958/cong-cu-chon-mau-cho-web/trang-web-chon-mau-ColorSpace_zjhnec.png"
              alt="Cộng cụ chọn màu  ColorSpace">
            <button type="button " class="btn btn-dark mt-4">
              <a class="text-white" href="https://mycolor.space/gradient" target="_blank" title="ColorSpace">
                Nguồn  ColorSpace
              </a>
            </button>


















            <h4 class="mt-4"> <b><i class="fa fa-tasks" aria-hidden="true"></i> Tổng kết: </b></h4>


            <p>Qua đây mình mong bài viết sẽ cung cấp thêm cho bạn những công cụ tạo bảng màu hữu ích dành cho việc phát triển, thiết kế web
       và
              nếu có thắc mắc gì cứ gửi email mình sẽ phản hồi sớm nhất có thể. Rất
              mong bạn tiếp tục ủng
              hộ trang web để mình có thể viết nhiều bài hay hơn nữa nhé. Chúc bạn có một ngày vui vẻ!</p>

          </div>
        </article>
      </div>
    </div>




    <div class="mb-5"></div>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="mt-5"></div>
    <div class="card card-search">
      <div class="card-header card-header-category">
        Từ Khóa
      </div>
      <div class="card-body card-body-search mt-4">
        <h3 class="button-article"><a href="/article/css"><button type="button"
              class="CSS btn shadow-sm rounded btn-success m-2 pl-3 pr-3">CSS</button></a>
          <a href="/article/html"><button type="button"
              class="HTML btn shadow-sm rounded btn-success m-2 pl-3 pr-3">HTML</button></a>
          <a href="/article/nodejs">
            <button type="button" class="btn shadow-sm rounded btn-success m-2 pl-3 pr-3">NodeJS</button></a>
        </h3>
      </div>
    </div>


  </div>
</div>
</div>

<script src='/javascripts/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script>
  $(document).ready(function () {
    const win = $(window);
    const doc = $(document);
    const progressBar = $('progress');
    const progressLabel = $('.progress-label');
    const setValue = () => win.scrollTop();
    const setMax = () => doc.height() - win.height();
    const setPercent = () => Math.round(win.scrollTop() / (doc.height() - win.height()) * 100);

    progressLabel.text(setPercent() + '%');
    progressBar.attr({
      value: setValue(),
      max: setMax()
    });

    doc.on('scroll', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue()
      });
    });

    win.on('resize', () => {
      progressLabel.text(setPercent() + '%');
      progressBar.attr({
        value: setValue(),
        max: setMax()
      });
    })
  });
</script>
<script>
  var container = document.getElementById('content-box');

  $(window).on('load resize', (function () {
    windowsize = $(window).width();

    if ((windowsize <= 992) && (screen.height >= 768)) {
      container.classList.remove('container');
      container.classList.add('container-fluid')

      //navbar
      $('.nav-item').addClass('hvr-underline-from-left')
    } else {
      container.classList.add('container');
      container.classList.remove('container-fluid')

      //navbar
      $('.nav-item').removeClass('hvr-underline-from-left')
    }
  }));
</script>

<script src="/javascripts/lazysizes.min.js" async></script>
<%- include('footer') -%>