<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!--Font Logo-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 bg-white rounded">
    <a class="navbar-brand" href="#">Chia sẻ lập trình</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Trang Chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên Lạc</a>
        </li>

    </div>
  </nav>

  <!--Image Slider-->
  <div class="jumbotron jumbotron-fluid image-slider">
    <div class="content-image">
      <div class="content">
        <blockquote class="blockquote">
          <h1 class="mb-0">Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết</h1>
          <footer class="blockquote-footer text-right text-white">Albert Einstein</footer>
        </blockquote>
      </div>
    </div>
  </div>
  <!--Image-->


    <!--Content-->
    
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="card " style="width: 30rem;">
            <h5 class="card-header"> <img src="/images/library-438389_1920.jpg" class="card-img-top" alt="..."></h5>
            <h3 class="button-article"><button type="button" class="btn btn-success m-3 pl-5 pr-5">Node JS</button></h3>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
            <div class="card " style="width: 30rem;">
                <h5 class="card-header"> <img src="/images/library-438389_1920.jpg" class="card-img-top" alt="..."></h5>
                <button type="button" class="btn btn-primary">Primary</button>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
          </div>
          <div class="card " style="width: 30rem;">
              <h5 class="card-header"> <img src="/images/library-438389_1920.jpg" class="card-img-top" alt="..."></h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>      
        </div>
        <div class="card " style="width: 30rem;">
            <h5 class="card-header"> <img src="/images/library-438389_1920.jpg" class="card-img-top" alt="..."></h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>      
      </div>
      <div class="card " style="width: 30rem;">
          <h5 class="card-header"> <img src="/images/library-438389_1920.jpg" class="card-img-top" alt="..."></h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>      
    </div>
    <div class="card " style="width: 30rem;">
        <h5 class="card-header"> <img src="/images/library-438389_1920.jpg" class="card-img-top" alt="..."></h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>      
  </div>
    </div>
</div>


  <script src="/javascripts/bootstrap.min.js"></script>
  <script scr="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>