body {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  color: #2d132c;
  box-sizing: border-box;
}

.navbar-brand {
  color: #fe5f55 !important
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fe5f55;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.image-slider {
  position: relative !;
  font-family: 'Crimson Text', serif;
  padding:0 !important;
  margin:0 !important;
}
.content-image{
  height:600px !important;
  display:table;
  /* position:absolute;
  top:0;
  left:0; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/library-438389_1920.jpg");
  width: 100%;
  height: 600px;
  background-size: cover !important;
  background-position: center;
  overflow: hidden;
}

.content-image::after{
  width:100%;
  height:600px;
  background-color: #2d132c;
  z-index: 3;
}

.content{
  z-index: 2;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blockquote-footer{
  font-size: 2rem !important;
}

.card-header{
  padding: 0 !important;
}

.card{
  margin:2rem !important;
  box-sizing: border-box !important;
}

.button-article{
  margin:0 !important;
}
.card-body{
  padding-top: 0 !important;
}

.card-title{
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size:2rem;
}

.btn-reading{
  background-color: #5f6769;
  color: #fff;
}

/* Footer */
.footer{
  background-color: #1b2a49;
  padding:4rem;
  font-family: 'Merriweather', serif;
  color: #c9d1d3;
}

.icon-footer{
  width: 50px;
  height:50px;
  border: 1px solid #c9d1d3;
  font-size:1.5rem !important;
  margin-right: 2rem;
  text-align:center;
  line-height: 50px !important;
  border-radius: 50%;
}

.icon-footer:hover{
  background-color: #c9d1d3;
  color:#1b2a49;
  cursor: pointer;
}

.form-title{
  color: #1b2a49;
}