body {
  font-family: 'Roboto', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  color: #2d132c;
  box-sizing: border-box;
}

/*Navbar*/
/**************************************************************************************************************/
.navbar-brand {
  color: #fe5f55 !important
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fe5f55;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar {
  transition: all 0.1s;
  background-color: transparent !important;
}

.navbar .nav-link {
  color: #fff !important;
  font-size:1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff !important;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #E65100 !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar.active .nav-link {
  color: #fff !important;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}

/**************************************************************************************************************/
.image-slider {
  position: relative !;
  font-family: 'Crimson Text', serif;
  padding:0 !important;
  margin:0 !important;
}
.content-image{
  height:600px !important;
  display:table;
  /* position:absolute;
  top:0;
  left:0; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/library-438389_1920.jpg");
  width: 100%;
  height: 600px;
  background-size: cover !important;
  background-position: center;
  overflow: hidden;
}

.content-image::after{
  width:100%;
  height:600px;
  background-color: #2d132c;
  z-index: 3;
}

.content{
  z-index: 2;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blockquote-footer{
  font-size: 2rem !important;
}

.card-header{
  padding: 0 !important;
}

.card{
  margin:2rem !important;
  box-sizing: border-box !important;
}

.button-article{
  margin:0 !important;
}
.card-body{
  padding-top: 0 !important;
}

.card-title{
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size:2rem;
}

.btn-reading{
  background-color: #5f6769;
  color: #fff;
}

/* Footer */
.footer{
  background-color: #1b2a49;
  padding:4rem;
  font-family: 'Merriweather', serif;
  color: #c9d1d3;
}

.icon-footer{
  width: 50px;
  height:50px;
  border: 1px solid #c9d1d3;
  font-size:1.5rem !important;
  margin-right: 2rem;
  text-align:center;
  line-height: 50px !important;
  border-radius: 50%;
}

.icon-footer:hover{
  background-color: #c9d1d3;
  color:#1b2a49;
  cursor: pointer;
}

.form-title{
  color: #1b2a49;
}

.form-login{
  border: 2px solid #ccc;
}

/*Header Text*/
.header-text{
  font-family: 'Merriweather', serif;
font-weight: 700;
}

.header-content{
  font-size: 2rem;
  border-top: 2px solid #fe5f55;
  border-bottom: 2px solid #fe5f55;
  padding:0.5rem;
}

/*Article*/
.CSS{
  background-color: #0091EA !important;
  border-color: #0091EA !important;
}

.HTML{
  background-color: #E65100 !important;
  border-color: #E65100 !important;
}

/*card*/
.card{
  margin:1rem !important;
}
/*card-header-search*/
.card-header-search{
  font-size:1.5rem;
  background-color: #fff !important;
}

.form-seacrh .form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-seacrh .form-control::placeholder  {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-seacrh .form-control:focus {
  box-shadow: none;
}

.card-search{
  border: none !important;
}
.card-body-search{
  padding: 0 !important;
}


/*Category*/

.card-header-category{
  background-color: #fff !important;
  font-size: 1.5rem;
}

/*Email subscribe*/
.text-email-subscribe{
  border-left: 3.5px solid #5f6769;
  padding-left: 0.5rem;
  margin-left:0.5rem;
}