body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  color: #2d132c;
  box-sizing: border-box;
}

/*Navbar*/
/**************************************************************************************************************/


.navbar {
  transition: all 0.1s;
  background-color: transparent !important;
}


.navbar .nav-link {
  color: #fff !important;
  font-size:1rem;
  font-family: 'Open Sans', sans-serif;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff !important;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #3e64ff !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar.active .nav-link {
  color: #fff !important;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #3e64ff !important;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #fff !important;
      padding: 1rem ;
      font-size:1rem;
  }
  /* .nav-link::after{
    background: #fff !important;
  } */

  .fa-navicon{
    color:#fff;
    font-size:1.5 rem;
  }
  .fa-navicon:hover{
    cursor: pointer;
  }
}

.card-title a{
  text-decoration: none !important;
  color: #1b2a49 !important;
}
/**************************************************************************************************************/
.image-slider {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding:0 !important;
  margin:0 !important;
}
.content-header{
  font-size: 2rem !important;
}
.content-image{
  height:400px !important;
  display:table;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/library-438389_1920.jpg");
  width: 100%;
  height: 600px;
  background-size: cover !important;
  background-position: center;
  overflow: hidden;
}
.content-image::after{
  width:100%;
  height:600px;
  background-color: #2d132c;
  z-index: 3;
}
.content{
  z-index: 2;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blockquote-footer{
  font-size: 1.5rem !important;
}
.card-header{
  padding: 0 !important;
}
.card{
  margin:2rem !important;
  box-sizing: border-box !important;
}
.button-article{
  margin:0 !important;
}
.card-body{
  padding-top: 0 !important;
}
.card-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:1.8rem;
}
.btn-reading{
  background-color: #000;
  color: #fff;
}
.btn-reading:hover{
  background-color:#E65100 !important;
  color:#fff !important;
}
/* Footer */
.footer{
  background-color: #1b2a49;
  padding:4rem;
  font-family: 'Montserrat', sans-serif;
  color: #c9d1d3;
}
.icon-footer{
  width: 50px;
  height:50px;
  border: 1px solid #c9d1d3;
  font-size:1.5rem !important;
  margin-right: 2rem;
  text-align:center;
  line-height: 50px !important;
  border-radius: 50%;
}
.icon-footer:hover{
  background-color: #c9d1d3;
  color:#1b2a49;
  cursor: pointer;
}
.form-title{
  color: #1b2a49;
}
.form-login{
  border: 2px solid #ccc;
}
/*Header Text*/
.header-text{
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}
.header-content{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  border-top: 2px solid #fe5f55;
  border-bottom: 2px solid #fe5f55;
  padding:0.5rem;
}

/*Article*/
.CSS{
  background-color: #0091EA !important;
  border-color: #0091EA !important;
}
.HTML{
  background-color: #E65100 !important;
  border-color: #E65100 !important;
}


/*card*/
.card{
  margin:1rem !important;
}
/*card-header-search*/
.card-header-search{
  font-size:1.5rem;
  background-color: #fff !important;
  font-weight: 600;
}
.form-seacrh .form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-seacrh .form-control::placeholder  {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-seacrh .form-control:focus {
  box-shadow: none;
}
.card-search{
  border: none !important;
}
.card-body-search{
  padding: 0 !important;
}

/*Category*/

.card-header-category{
  background-color: #fff !important;
  font-size: 1.5rem;
  font-weight: 600;
}

/*Email subscribe*/
.text-email-subscribe{

  border-left: 3.5px solid #5f6769;
  padding-left: 0.5rem;
  margin-left:0.5rem;
}
#mc_embed_signup{
  font-family: 'Roboto', sans-serif !important; 
}
.label-email{
  font-size: 1rem !important;
}
#mc_embed_signup .mc-field-group input{
  padding: 12px 0px !important;
}
#mc_embed_signup .button{
  background-color: #5f6769 !important;
}
.mce_inline_error{
  margin-bottom: 0 !important;
  padding-bottom:0 !important;
  color:#fe5f55 !important;
}

.response{
 font-size: 1rem;
 font-weight: normal !important;
 margin: 0 !important;
 padding: 0 !important;
 margin-bottom:0.5rem !important;
}

/*About*/
.about-content{
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  padding: 2rem;
  color:#fff;
  
}
.about-content-title {
  font-family: 'Crimson Text', serif;
}
.about-content-p{
  border-left: 2px solid #fff;
  margin-left: 2rem;
  padding-left: 1rem;
}

.description::first-letter {
  float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

.send-email-header{
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114)) !important;
  width:100%;
  height:100%;
  background-size: cover;
  
}

.send-email-header-text{
  line-height: 2rem !important;
  text-align: center;
  font-size:1.2rem;
}

.send-email-content{
  padding: 3rem !important;
}

.send-email-content label{
  color: #6ba8a9;
  font-size:1rem;
} 

.input-style{
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    /* color: #000 !important; */
    font-weight: 400
}

.text-area-style{
  border-radius: 25px !important;
}

.fb-page{
  width:500 !important;
}

.icon-social{
  text-decoration: none !important;
  color: #c9d1d3 !important;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #1b2a49;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
  cursor: pointer !important;
}
.button-text:hover{
  cursor: pointer !important;
}

:root {
  --progress-bar-height: 4px;
  --progress-bar-color: gainsboro;
  --progress-bar-value-color: dodgerblue;
  --progress-bar-value: 20%;
}
article {
  position: relative;
  width: 100%;
}
.article-title {
  position: sticky;
  top: 5rem;
}

img {
  width: 100%;
}
.progress-wrapper {
  position: relative;
}
.progress-label {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  line-height: 18px;
  color:dodgerblue;
}
progress {
  appearance: none;
  position: absolute;
  width: 100%;
  height: var(--progress-bar-height);
  background-color: var(--progress-bar-color);
  border: none;
}
progress::-moz-progress-bar {
  background-color: var(--progress-bar-value-color);
}
progress::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
}
progress::-webkit-progress-value {
  background-color: var(--progress-bar-value-color);
}
progress::-ms-fill {
  background-color: var(--progress-bar-value-color);
}


/*Pagination*/
.page-link{
  padding:1rem;
  background-color: #3e64ff !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
  color:#fff !important;
}


/*Footer*/
.social-meadia-icon{
  margin:0;
  padding:0;
  display:flex;
}

.social-meadia-icon-item{
  list-style: none;
}

.social-meadia-icon-item a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}
.social-meadia-icon-item a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3) !important;
}
.social-meadia-icon-item a .fa {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}
.social-meadia-icon-item:nth-child(1) a:hover .fa {
  color: #3b5998;
}

.social-meadia-icon-item:nth-child(2) a:hover .fa {
  color: #00aced;
}

.social-meadia-icon-item:nth-child(3) a:hover .fa {
  color: #dd4b39;
}

.social-meadia-icon-item:nth-child(4) a:hover .fa {
  color: #007bb6;
}

.social-meadia-icon-item:nth-child(5) a:hover .fa {
  color: #e4405f;
}

a:hover{
  cursor: pointer !important;
}

/*mail to*/


.mailtoui-modal {
  background-color:#5edfff;
  color: #fff;
}

.mailtoui-modal-head {
  background-color: #21262C;
}

.mailtoui-modal-title {
  color: #fff;
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
  color: #fff;
}

.mailtoui-modal-body {
  background-color: #3e64ff;
}

.mailtoui-button:focus .mailtoui-button-content {
  background-color: #3e64ff;
  color: #fff;
}

.mailtoui-button-content,
.mailtoui-button-copy {
  background-color: #3e64ff;
  color: #fff;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
  background-color: #fff;
  color: #3e64ff;
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:hover,
.mailtoui-button-copy-clicked:focus {
  background-color: #1F9D55;
  color: #fff;
}

.mailtoui-email-address {
  background-color: #ffff;
  color: #21262c;
}

.content-detail-text{
  line-height: 2rem !important;
}

.circle{
  counter-reset: list-counter !important;
  list-style: none;
  float:left;
}

.fa-arrow-right{
  padding: 0.8rem !important;
}

.text-content-article{
  line-height: 1.8rem !important;
}

@media (max-width: 991.98px) {
  .progress-label{
    display: none;
  }
}

.dropdown-menu{
  padding: 0 !important;
}
.dropdown-item:hover{
  background-color: #5edfff !important;
  color:white;
}



.card-row-article{
  width:32%;
}

@media  screen and (min-width: 1200px){ 
  .card-row-article{
    width:30%;
  }
 }
@media screen and (min-width: 768px) and (max-width: 1200px) { 
  .card-row-article{
    width:45%;
    font-size: 95%;
  }
  .card-title{
    font-size: 1.6rem !important;
  }
 }

 @media screen and (max-width: 768px) {
  .card-row-article{
    width:100%;
    font-size: 90%;
  }
  .card-title{
    font-size: 1.4rem !important;
  }
  }
