body {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  color: #2d132c;
}

.navbar-brand {
  color: #fe5f55 !important
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fe5f55;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.image-bg{
  background-image: url("/images/library-438389_1920.jpg");
  width: 100%;
  height: 600px;
  background-size: cover !important;
  background-position: center;
}

.image-bg::after{
  content: "";
  position: absolute;
  width:100%;
  height:600px;
  z-index:1;
  background-color: rgba(0,0,0.5);
  opacity:0.6;
}
.navbar {
  margin-bottom: 0px !important;
}